# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

###########################################################
# MuonSegments
###########################################################

#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary  
    
  output MuonSegments	 {
    output BarrelA {
      output ConvertedMBoy {
      }
      output Moore {
      }
    }
    
    output BarrelC {
      output ConvertedMBoy {
      }
      output Moore {
      }
    }
    
    output EndCapA {
      output ConvertedMBoy {
      }
      output Moore {
      }
    }
    
    output EndCapC {
      output ConvertedMBoy {
      }
      output Moore {
      }
    }

    output Global {
      output ConvertedMBoy {
      }
      output Moore {
      }
    }
  }
  
}

#######################
# Histogram Assessments
#######################

dir Muon {
         
  dir MuonSegmentMonitoring {
    algorithm = MuonSegments_Histogram_Not_Empty

    dir BarrelA {
      dir Overview {
        dir ConvertedMBoySegments {
          output = MuonSegments/BarrelA/ConvertedMBoy

          hist MuBoy_chi2_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
          hist MuBoy_mdt_hits_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_mdt_pull_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_nsegm_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }
        dir MooreSegments {
          output = MuonSegments/BarrelA/Moore

          hist Moore_chi2_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_hits_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_pull_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_nsegm_BA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }
      }
    } ##closing BarrelA      

    dir BarrelC {
      dir Overview {
        dir ConvertedMBoySegments {
          output = MuonSegments/BarrelC/ConvertedMBoy

          hist MuBoy_chi2_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
          hist MuBoy_mdt_hits_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_mdt_pull_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_nsegm_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }

        dir MooreSegments {
          output = MuonSegments/BarrelC/Moore

          hist Moore_chi2_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  } 
          hist Moore_mdt_hits_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_pull_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_nsegm_BC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }
      }
    } ## closing BarrelC

    dir EndCapA {
      dir Overview {
	dir ConvertedMBoySegments {
          output = MuonSegments/EndCapA/ConvertedMBoy

          hist MuBoy_chi2_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_mdt_hits_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_mdt_pull_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_nsegm_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }

        dir MooreSegments {
	  output = MuonSegments/EndCapA/Moore

          hist Moore_chi2_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_hits_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_pull_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_nsegm_ECA {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }
      }
    } ##closing EndCapA

    dir EndCapC {
      dir Overview {
	dir ConvertedMBoySegments {
	  output = MuonSegments/EndCapC/ConvertedMBoy

          hist MuBoy_chi2_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_mdt_hits_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_mdt_pull_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist MuBoy_nsegm_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }

        dir MooreSegments {
	  output = MuonSegments/EndCapC/Moore

          hist Moore_chi2_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_hits_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_mdt_pull_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
	  hist Moore_nsegm_ECC {
	    algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	  }
        }
      }
    } ## closing EndCapC

    dir Global {
      dir ConvertedMBoySegments {
	output = MuonSegments/Global/ConvertedMBoy

        hist MuBoy_n_segms {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_n_total_hits {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_segm_station_eta_vs_phiInner {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_segm_station_eta_vs_phiMiddle {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_segm_station_eta_vs_phiOuter {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_mdt_hitSignedRadius {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_mdt_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_rpcPhi_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist MuBoy_tgcPhi_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
      }
      dir MooreSegments {
	output = MuonSegments/Global/Moore 

        hist Moore_n_segms {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_n_total_hits {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_segm_station_eta_vs_phiInner {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_segm_station_eta_vs_phiMiddle {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
        }
	hist Moore_segm_station_eta_vs_phiOuter {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_mdt_hitSignedRadius {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_mdt_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_rpcEta_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_rpcPhi_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_tgcEta_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
	hist Moore_tgcPhi_Res {
	  algorithm = MuonSegments_Histogram_Not_Empty&GatherData
	}
      }
    } ## closing Global
  } ## closing MuonSegmentMonitoring
	    
}

#############
# Algorithms
#############

compositeAlgorithm MuonSegments_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm MuonSegments_Histogram_Not_Empty&GatherData {
  name = MuonSegments_Histogram_Not_Empty&GatherData
}
algorithm MuonSegments_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

#############
# Thresholds
#############
