# **********************************************************************
# $Id: collisions_run.config 512777 2012-08-07 19:43:55Z vogel $
# **********************************************************************

#######################
# HLTgamma
#######################

#######################
# Output - EXPERT
#######################

output top_level {
  output HLT {
    output TRGAM {      
      output EXPERT { 
###---OfflinePhotons
	output OfflinePhoton {
	}
###---g35_loose_g25_loose	
        output g35_loose_g25_loose {
            output Rejection {
            }
            output PreRejection {
            }
            output L2Calo {            
              output Resolution {    
              }
              output EffPho {    
              }
            }
            output L1 {	    
              output Resolution {    
              }
              output EffPho {    
              }
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffPho {    
              }
            }
        }
###---End of g35_loose_g25_loose
      }
###---End of output EXPERT
    }
  }
}


##############
# Algorithms
##############



algorithm HLTgammaHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
    name = Histogram_Not_Empty&GatherData
    reference = CentrallyManagedReferences
}

algorithm HLTgammaHistogram_KolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_MaxDist	
    thresholds = th_HLTgamma_KSTest_MaxDist
    MinStat = -1
    reference = CentrallyManagedReferences
}


algorithm HLTgammaHistogram_KolmogorovTest_Prob {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_Prob
    thresholds = th_HLTgamma_KSTest_Prob
    MinStat = -1
    reference = CentrallyManagedReferences
}



###############
# Thresholds
###############

thresholds th_HLTgamma_KSTest_Prob {
  limits P {
    warning = 0.6
      error = 0.3
  }
}

thresholds th_HLTgamma_KSTest_MaxDist {
  limits MaxDist {
    warning = 0.4
      error = 0.7
  }
}


#######################
# Histogram Assessments
#######################


###-------------------
###--- EXPERT
###-------------------

dir HLT {
#algorithm = HLT_Histogram_Not_Empty&GatherData


############################
###---- EgammaSigTE 
############################
  dir EgammaSigTE {

##---OfflinePhoton
    dir OfflinePhoton {
      output = HLT/TRGAM/EXPERT/OfflinePhoton
        hist egEtaPhiMap {
          algorithm = HLTgammaHistogram_Not_Empty&GatherData
            reference = CentrallyManagedReferences
        }
      hist all_in_dir {
        algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
          reference = CentrallyManagedReferences
      }
    }
###---g35_loose_g25_loose
    dir g35_loose_g25_loose {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/Rejection
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/PreRejection
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2Calo { 	
          output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/L2Calo
            hist EtaPhiMap {
              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffPho { 	
            output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/L2Calo/EffPho
              hist all_in_dir {
                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/L2Calo/Resolution
              hist all_in_dir {
                display = LogY
                  algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
        }
        dir L1 { 	
          output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/L1      
            hist EtaPhiMap {
              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffPho { 	
            output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/L1/EffPho
              hist all_in_dir {
                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 		
            output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/L1/Resolution
              hist all_in_dir {
                display = LogY
                  algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
        }
        dir EFCalo { 	
          output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/EFCalo
            hist EtaPhiMap {
              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffPho { 	
            output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/EFCalo/EffPho
              hist all_in_dir {
                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRGAM/EXPERT/g35_loose_g25_loose/EFCalo/Resolution
              hist all_in_dir {
                display = LogY
                  algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of g35_loose_g25_loose

  }

}
#---End of HLT







