# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTgamma
#######################

#######################
# Output - EXPERT
#######################

output top_level {
  output HLT {
    output TRGAM {      
      output EXPERT {      
###---g5_NoCut_cosmic	
        output TE_g5_NoCut_cosmic {
#---PassedChain 
          output PassedChain {
            output Rejection {
            }
            output PreRejection {
            }
            output L2Calo {            
              output Resolution {    
              }
              output EffPho {    
              }
              output MatchedOffPho {    
              }  
            }
            output L1 {	    
              output Resolution {    
              }
              output EffPho {    
              }
              output MatchedOffPho {    
              }  
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffPho {    
              }
              output MatchedOffPho {    
              } 
            }
          }
#---End of PassedChain
        }
###---End of g5_NoCut_cosmic
      }
###---End of output EXPERT
    }
  }
}


##############
# Algorithms
##############

compositeAlgorithm compAlgHLTgammaHistogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
    libnames = libdqm_algorithms.so
}


algorithm HLTgammaHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
    name = compAlgHLTgammaHistogram_Not_Empty&GatherData
    reference = CentrallyManagedReferences
}

algorithm HLTgammaHistogram_KolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_MaxDist	
    thresholds = th_HLTgamma_KSTest_MaxDist
    MinStat = -1
    reference = CentrallyManagedReferences
}


algorithm HLTgammaHistogram_KolmogorovTest_Prob {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_Prob
    thresholds = th_HLTgamma_KSTest_Prob
    MinStat = -1
    reference = CentrallyManagedReferences
}



###############
# Thresholds
###############

thresholds th_HLTgamma_KSTest_Prob {
  limits P {
    warning = 0.6
      error = 0.3
  }
}

thresholds th_HLTgamma_KSTest_MaxDist {
  limits MaxDist {
    warning = 0.4
      error = 0.7
  }
}


#######################
# Histogram Assessments
#######################


###-------------------
###--- EXPERT
###-------------------

dir HLT {


############################
###---- EgammaSigTE 
############################
  dir EgammaSigTE {
###---g5_NoCut_cosmic
    dir g5_NoCut_cosmic {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/Rejection
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/PreRejection
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2Calo { 	
          output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L2Calo
            hist EtaPhiMap {
              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffPho { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L2Calo/EffPho
              hist all_in_dir {
                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir MatchedOffPho { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L2Calo/MatchedOffPho
              hist egEtaPhiMap {
                algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                  reference = CentrallyManagedReferences
              }
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
          }
          dir Resolution { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L2Calo/Resolution
              hist all_in_dir {
                display = LogY
                  algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
        }
        dir L1 { 	
          output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L1      
            hist EtaPhiMap {
              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffPho { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L1/EffPho
              hist all_in_dir {
                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir MatchedOffPho { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L1/MatchedOffPho
              hist egEtaPhiMap {
                algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                  reference = CentrallyManagedReferences
              }
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
          }
          dir Resolution { 		
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/L1/Resolution
              hist all_in_dir {
                display = LogY
                  algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
        }
        dir EFCalo { 	
          output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/EFCalo
            hist EtaPhiMap {
              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffPho { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/EFCalo/EffPho
              hist all_in_dir {
                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir MatchedOffPho { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/EFCalo/MatchedOffPho
              hist egEtaPhiMap {
                algorithm = HLTgammaHistogram_Not_Empty&GatherData 
                  reference = CentrallyManagedReferences
              }
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
          }
          dir Resolution { 	
            output = HLT/TRGAM/EXPERT/TE_g5_NoCut_cosmic/PassedChain/EFCalo/Resolution
              hist all_in_dir {
                display = LogY
                  algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of g5_NoCut_cosmic

  }

}
#---End of HLT







