# **********************************************************************
# $Id: cosmics_run.config 650012 2015-02-26 15:24:59Z avishek $
# **********************************************************************

#######################
# HLTgamma
#######################

#######################
# Output - Shifter
#######################

output top_level {
  output HLT {
    output TRGAM {
      output Shifter {
        output photon {
          output PassedTEs {
            output Rejection {
            }
            output PreRejection {
            }
            output L2Calo {
              output Resolution {
              }
              output EffPho {
              }
              output MatchedOffPho {
              }
            }
            output L1 {
              output Resolution {
              }
              output EffPho {
              }
              output MatchedOffPho {
              }
            }
            output EFCalo {
              output Resolution {
              }
              output EffPho {
              }
              output MatchedOffPho {
              }
            }
          }
        }
      }
    }
  }
}


##############
# Algorithms
##############

algorithm HLTgammaHistogram_KolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = th_HLTgamma_KSTest_MaxDist
  MinStat = -1
  reference = CentrallyManagedReferences
}

###############
# Thresholds
###############

thresholds th_HLTgamma_KSTest_MaxDist {
  limits MaxDist {
    warning = 0.4
    error = 0.7
  }
}

#######################
# Histogram Assessments
#######################


###-------------------
###--- Shifter
###-------------------

dir HLT {
  dir EgammaSigTE {
    dir photon {
      dir PassedTEs {
        dir Rejection {
          output = HLT/TRGAM/Shifter/photon/PassedTEs/Rejection
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
            reference = CentrallyManagedReferences
          }
        }
        dir PreRejection {
          output = HLT/TRGAM/Shifter/photon/PassedTEs/PreRejection
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
            reference = CentrallyManagedReferences
          }
        }
        dir L2Calo {
          output = HLT/TRGAM/Shifter/photon/PassedTEs/L2Calo
          hist EtaPhiMap {
            algorithm = HLT_Histogram_Not_Empty&GatherData
            reference = CentrallyManagedReferences
          }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
            reference = CentrallyManagedReferences
          }
          dir EffPho {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/L2Calo/EffPho
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
          dir MatchedOffPho {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/L2Calo/MatchedOffPho
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
          dir Resolution {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/L2Calo/Resolution
            hist all_in_dir {
              display = LogY
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
        }
        dir L1 {
          output = HLT/TRGAM/Shifter/photon/PassedTEs/L1
          hist EtaPhiMap {
            algorithm = HLT_Histogram_Not_Empty&GatherData
            reference = CentrallyManagedReferences
          }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
            reference = CentrallyManagedReferences
          }
          dir EffPho {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/L1/EffPho
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
          dir MatchedOffPho {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/L1/MatchedOffPho
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
          dir Resolution {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/L1/Resolution
            hist all_in_dir {
              display = LogY
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
        }
        dir EFCalo {
          output = HLT/TRGAM/Shifter/photon/PassedTEs/EFCalo
          hist EtaPhiMap {
            algorithm = HLT_Histogram_Not_Empty&GatherData
            reference = CentrallyManagedReferences
          }
          hist all_in_dir {
            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
            reference = CentrallyManagedReferences
          }
          dir EffPho {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/EFCalo/EffPho
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
          dir MatchedOffPho {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/EFCalo/MatchedOffPho
            hist all_in_dir {
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
          dir Resolution {
            output = HLT/TRGAM/Shifter/photon/PassedTEs/EFCalo/Resolution
            hist all_in_dir {
              display = LogY
              algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
            }
          }
        }
      }
      #---End of PassedTEs
    }
    #---End of photon
  }
  #---End of EgammaSigTE
}
#---End of HLT







