# **********************************************************************
# $Id: collisions_run.config 509104 2012-07-05 16:06:39Z vogel $
# **********************************************************************

###########################################################
# MuonTracks
###########################################################

#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary  
   
  output MuonTracks {
    output ConvertedMBoy {
      output NoTrigger_AllTracks {   
      }
      output NoTrigger_GoodTracks {   
      }
      output NoTrigger_Residuals {   
      }
    }
    output MuidExtrapolatedTracks {
      output NoTrigger_AllTracks {   
      }
      output NoTrigger_GoodTracks {   
      }
      output NoTrigger_Residuals {   
      }
    }
  } 
  
  output MuonDetectors {
    output MDTvsTGC {
      algorithm = TGC_WorstCaseSummary
      output TGCEA {
        algorithm = TGC_WorstCaseSummary
      }
      output TGCEC {
        algorithm = TGC_WorstCaseSummary
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir Muon {
  
  dir MuonTrackMonitoring {
    algorithm = MuonTracks_Histogram_Not_Empty

    dir NoTrigger {    

      dir MuonGenericTracksMon {        
        algorithm = MuonTracks_Histogram_Not_Empty&GatherData
	
	dir ConvertedMBoyTracks {
	  output = MuonTracks/ConvertedMBoy/NoTrigger_AllTracks
	  
	  hist muon_rec_pT {
	    display = Draw=HIST
	  } 
	  hist muon_rec_ChargeRatio_pT {
	    algorithm = MuonTracks_GatherData
	  }
	  hist muon_rec_eta_phi { 
	  }
	  hist muon_perigee_d0 {
	    algorithm = MuonTracks_d0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_perigee_z0 {
	    algorithm = MuonTracks_z0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  
	  dir MDT_Pull_Residuals {
	    output = MuonTracks/ConvertedMBoy/NoTrigger_Residuals
	    
	    hist muon_MDT_residual_sideA_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }  
	    hist muon_MDT_residual_sideC_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    } 
	    hist muon_MDT_residual_BA_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }  
	    hist muon_MDT_residual_BC_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }
	    hist muon_MDT_residual_EA_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }  
	    hist muon_MDT_residual_EC_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }
	    hist muon_RPC_eta_residual_RMS {
	    }  
	    hist muon_RPC_phi_residual_RMS {
	    }  
	    hist muon_TGC_residual_strip_RMS {
	    }  
	    hist muon_TGC_residual_wire_RMS {
	    }  
	    hist muon_CSC_eta_residual_RMS {
	    }  
	    hist muon_CSC_phi_residual_RMS {
	    } 
	      
	  }
	  
	} ## closing ConvertedMBoyTracks

	dir MuidExtrapolatedTracks {
	  output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_AllTracks
	  
	  hist muon_rec_pT {
	    display = Draw=HIST
	  } 
	  hist muon_rec_ChargeRatio_pT {
	    algorithm = MuonTracks_GatherData
	  }
	  hist muon_rec_eta_phi { 
	  }
	  hist muon_perigee_d0 {
	    algorithm = MuonTracks_d0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_perigee_z0 {
	    algorithm = MuonTracks_z0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  
	  dir MDT_Pull_Residuals {
	    output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_Residuals
	    
	    hist muon_MDT_residual_sideA_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }  
	    hist muon_MDT_residual_sideC_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    } 
	    hist muon_MDT_residual_BA_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }  
	    hist muon_MDT_residual_BC_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }
	    hist muon_MDT_residual_EA_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }  
	    hist muon_MDT_residual_EC_RMS {
	      algorithm = MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData
	    }
	    hist muon_RPC_eta_residual_RMS {
	    }  
	    hist muon_RPC_phi_residual_RMS {
	    }  
	    hist muon_TGC_residual_strip_RMS {
	    }  
	    hist muon_TGC_residual_wire_RMS {
	    }  
	    hist muon_CSC_eta_residual_RMS {
	    }  
	    hist muon_CSC_phi_residual_RMS {
	    } 
	      
	  }
	  
	} ## closing MuidExtrapolatedTracks

      } ## closing MuonGenericTracksMon

      dir MuonTrkParameters {        
        algorithm = MuonTracks_Histogram_Not_Empty&GatherData

	dir ConvertedMBoyTracks {
	  output = MuonTracks/ConvertedMBoy/NoTrigger_AllTracks

	  hist muon_trk_chi2oDoF {
	  } 
	}

	dir MuidExtrapolatedTracks {
	  output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_AllTracks

	  hist muon_trk_chi2oDoF {
	  } 
	}
      } ## closing MuonTrkParameters
     
      dir MuonMonTrkSummary {        
        algorithm = MuonTracks_Histogram_Not_Empty&GatherData

	dir ConvertedMBoyTracks {
	  output = MuonTracks/ConvertedMBoy/NoTrigger_GoodTracks
	  
	  hist muon_ntracks {
	    output = MuonTracks/ConvertedMBoy/NoTrigger_AllTracks
	    display = Draw=HIST,LogY
	  }
	  hist muon_numPhiHits_per_Trk {
	    output = MuonTracks/ConvertedMBoy/NoTrigger_AllTracks
	    algorithm = MuonTracks_PhiHits_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_numEtaHits_per_Trk {
	    output = MuonTracks/ConvertedMBoy/NoTrigger_AllTracks
	    algorithm = MuonTracks_EtaHits_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  } 
	  hist muon_ngtracks {
	    display = Draw=HIST,LogY
	  }
	  hist muon_gtrk_chi2oDoF {
	  }
	  hist muon_gtrk_eta_phi {
	  }
	  hist muon_gtrk_numEtaHits {
	    algorithm = MuonTracks_EtaHits_CheckHisto_Mean&GatherData 
	    display = Draw=HIST
	  }
	  hist muon_gtrk_numPhiHits {
	    algorithm = MuonTracks_PhiHits_CheckHisto_Mean&GatherData 
	    display = Draw=HIST
	  }
	  hist muon_gtrk_pT {
	    display = Draw=HIST
	  }
	  hist muon_gtrk_ChargeRatio_pT {
	    algorithm = MuonTracks_GatherData
	  }
	  hist muon_gtrk_d0 {
	    algorithm = MuonTracks_d0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_gtrk_z0 {
	    algorithm = MuonTracks_z0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	}
	
	dir MuidExtrapolatedTracks {
	  output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_GoodTracks
	  
	  hist muon_ntracks {
	    output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_AllTracks
	    display = Draw=HIST,LogY
	  }
	  hist muon_numPhiHits_per_Trk {
	    output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_AllTracks
	    algorithm = MuonTracks_PhiHits_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_numEtaHits_per_Trk {
	    output = MuonTracks/MuidExtrapolatedTracks/NoTrigger_AllTracks
	    algorithm = MuonTracks_EtaHits_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  } 
	  hist muon_ngtracks {
	    display = Draw=HIS,LogY
	  }
	  hist muon_gtrk_chi2oDoF {
	  }
	  hist muon_gtrk_eta_phi {
	  }
	  hist muon_gtrk_numEtaHits {
	    algorithm = MuonTracks_EtaHits_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_gtrk_numPhiHits {
	    algorithm = MuonTracks_PhiHits_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_gtrk_pT {
	    display = Draw=HIST
	  }
	  hist muon_gtrk_ChargeRatio_pT {
	    algorithm = MuonTracks_GatherData
	  }
	  hist muon_gtrk_d0 {
	    algorithm = MuonTracks_d0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	  hist muon_gtrk_z0 {
	    algorithm = MuonTracks_z0_CheckHisto_Mean&GatherData
	    display = Draw=HIST
	  }
	}
	
      } ## closing MuonTrkSummary  
    
		
      dir TGCStandAloneTrackMon {		
        dir TGCEA {
          output = MuonDetectors/MDTvsTGC/TGCEA

          hist MDT_Eta_Minus_TGC_Track_Eta_3Station_Track_A {
            algorithm = Histogram_Not_Empty
            output = MuonDetectors/MDTvsTGC/TGCEA
          }
        }

        dir TGCEC {
          output = MuonDetectors/MDTvsTGC/TGCEC

          hist MDT_Eta_Minus_TGC_Track_Eta_3Station_Track_C {
            algorithm = Histogram_Not_Empty
            output = MuonDetectors/MDTvsTGC/TGCEC
          }
        }
      }
    } ## closing NoTrigger
  } ## closing MuonTrackMonitoring

}

#############
# Algorithms
#############

compositeAlgorithm MuonTracks_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm MuonTracks_Histogram_Not_Empty&GatherData {
  name = MuonTracks_Histogram_Not_Empty&GatherData
}
algorithm MuonTracks_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}
algorithm MuonTracks_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}
compositeAlgorithm MuonTracks_CheckHisto_Mean&CheckHisto_RMS&GatherData {
  subalgs = GatherData,CheckHisto_Mean,CheckHisto_RMS
  libnames = libdqm_algorithms.so
}
algorithm MuonTracks_NumTrks_CheckHisto_Mean&CheckHisto_RMS&GatherData {
  name = MuonTracks_CheckHisto_Mean&CheckHisto_RMS&GatherData
  CheckHisto_Mean|thresholds = MuonTracks_NumTrks_Mean_Thresholds
  CheckHisto_RMS|thresholds  = MuonTracks_NumTrks_RMS_Thresholds
  #Error->Min:0.5, Max:2.0
  #Substract (Max+Min)/2
  SubtractFromXMean = 1.25
  MinStat = 1000
}
compositeAlgorithm MuonTracks_CheckHisto_Mean&GatherData {
  subalgs = GatherData,CheckHisto_Mean
  libnames = libdqm_algorithms.so
}
algorithm MuonTracks_EtaHits_CheckHisto_Mean&GatherData {
  name = MuonTracks_CheckHisto_Mean&GatherData
  CheckHisto_Mean|thresholds = MuonTracks_EtaHits_Mean_Thresholds
  #Error->Min:10, Max:26
  #Substract (Max+Min)/2
  SubtractFromXMean = 18.0
  MinStat = 1000
}
algorithm MuonTracks_PhiHits_CheckHisto_Mean&GatherData {
  name = MuonTracks_CheckHisto_Mean&GatherData
  CheckHisto_Mean|thresholds = MuonTracks_PhiHits_Mean_Thresholds
  #Error->Min:2, Max:8
  #Substract (Max+Min)/2
  SubtractFromXMean = 5.0
  MinStat = 1000
}
algorithm MuonTracks_d0_CheckHisto_Mean&GatherData {
  name = MuonTracks_CheckHisto_Mean&GatherData
  CheckHisto_Mean|thresholds = MuonTracks_d0_Mean_Thresholds
  MinStat = 1000
}
algorithm MuonTracks_z0_CheckHisto_Mean&GatherData {
  name = MuonTracks_CheckHisto_Mean&GatherData
  CheckHisto_Mean|thresholds = MuonTracks_z0_Mean_Thresholds
  MinStat = 1000
}
compositeAlgorithm MuonTracks_BinsLessThanGreaterThanEqual&GatherData {
  subalgs = GatherData,Bins_LessThanEqual_Threshold,Bins_GreaterThanEqual_Threshold,BinPrint
  libnames = libdqm_algorithms.so
}
algorithm MuonTracks_MDTres_BinsLessThanGreaterThanEqual&GatherData {
  name = MuonTracks_BinsLessThanGreaterThanEqual&GatherData
  Bins_LessThanEqual_Threshold|BinThreshold = -0.25
  Bins_LessThanEqual_Threshold|thresholds = MuonTracks_MDTres_NBins_Threshold
  Bins_GreaterThanEqual_Threshold|BinThreshold = 0.25
  Bins_GreaterThanEqual_Threshold|thresholds = MuonTracks_MDTres_NBins_Threshold
  MinStat = 1500
} 
#############
# Thresholds
#############
thresholds MuonTracks_NumTrks_Mean_Thresholds {
  #Error->Min:0.5, Max:2.0
  #Compare Abs to (Max-Min)/2
  limits AbsXMean {
  warning = 0.5
  error = 0.75
    }
}
thresholds MuonTracks_NumTrks_RMS_Thresholds {
  limits XRMS {
  warning = 2.5
  error = 5.0
    }
}
thresholds MuonTracks_EtaHits_Mean_Thresholds {
  #Error->Min:10, Max:26
  #Compare Abs to (Max-Min)/2
  limits AbsXMean {
  warning = 6.0
  error = 8.0
    }
}
thresholds MuonTracks_PhiHits_Mean_Thresholds {
  #Error->Min:2, Max:8
  #Compare Abs to (Max-Min)/2
  limits AbsXMean {
  warning = 2.5
  error = 3.0
    }
}
thresholds MuonTracks_d0_Mean_Thresholds {
  limits AbsXMean {
  warning = 5.0 #mm
  error = 10.0 #mm
    }
}
thresholds MuonTracks_z0_Mean_Thresholds {
  limits AbsXMean {
  warning = 15.0 #mm
  error = 20.0 #mm
    }
}
thresholds MuonTracks_MDTres_NBins_Threshold {
  limits NBins {
    warning = 8
    error = 16
  }
}
