
##############################################################################
#
#  JESProvider Input Settings
#    Nuisance parameter configuration for category reduction of ICHEP 2016
#    iteration of the JES.
#
#    25 NP groups
#
#    25 May 2016
#
#  D. DeMarco, K. Pachal, S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_ICHEP2016
SupportedJetDefs:                   AntiKt4EMTopo,AntiKt4LCTopo
SupportedMCTypes:                   MC15,AFII
UncertaintyRootFile:                JES_2015/ICHEP2016/JESUncertainty_AllComponents_ICHEP2016.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

# Jan 2016
Pileup.MuRef:                       13.6
Pileup.NPVRef:                      8.7

##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

JESComponent.1.Name:                EffectiveNP_Statistical1
JESComponent.1.Desc:                Effective JES Uncertainty Statistical Component 1
JESComponent.1.Type:                Effective
JESComponent.1.Param:               Pt
JESComponent.1.Hists:               EffectiveNP_Statistical1

JESComponent.2.Name:                EffectiveNP_Statistical2
JESComponent.2.Desc:                Effective JES Uncertainty Statistical Component 2
JESComponent.2.Type:                Effective
JESComponent.2.Param:               Pt
JESComponent.2.Hists:               EffectiveNP_Statistical2

JESComponent.3.Name:                EffectiveNP_Statistical3
JESComponent.3.Desc:                Effective JES Uncertainty Statistical Component 3
JESComponent.3.Type:                Effective
JESComponent.3.Param:               Pt
JESComponent.3.Hists:               EffectiveNP_Statistical3

JESComponent.4.Name:                EffectiveNP_Modelling1
JESComponent.4.Desc:                Effective JES Uncertainty Modelling Component 1
JESComponent.4.Type:                Effective
JESComponent.4.Param:               Pt
JESComponent.4.Hists:               EffectiveNP_Modelling1

JESComponent.5.Name:                EffectiveNP_Modelling2
JESComponent.5.Desc:                Effective JES Uncertainty Modelling Component 2
JESComponent.5.Type:                Effective
JESComponent.5.Param:               Pt
JESComponent.5.Hists:               EffectiveNP_Modelling2

JESComponent.6.Name:                EffectiveNP_Modelling3
JESComponent.6.Desc:                Effective JES Uncertainty Modelling Component 3
JESComponent.6.Type:                Effective
JESComponent.6.Param:               Pt
JESComponent.6.Hists:               EffectiveNP_Modelling3

JESComponent.7.Name:                EffectiveNP_Modelling4
JESComponent.7.Desc:                Effective JES Uncertainty Modelling Component 4
JESComponent.7.Type:                Effective
JESComponent.7.Param:               Pt
JESComponent.7.Hists:               EffectiveNP_Modelling4

JESComponent.8.Name:                EffectiveNP_Detector1
JESComponent.8.Desc:                Effective JES Uncertainty Detector Component 1
JESComponent.8.Type:                Effective
JESComponent.8.Param:               Pt
JESComponent.8.Hists:               EffectiveNP_Detector1

JESComponent.9.Name:                EffectiveNP_Detector2
JESComponent.9.Desc:                Effective JES Uncertainty Detector Component 2
JESComponent.9.Type:                Effective
JESComponent.9.Param:               Pt
JESComponent.9.Hists:               EffectiveNP_Detector2

JESComponent.10.Name:                EffectiveNP_Mixed1
JESComponent.10.Desc:                Effective JES Uncertainty Mixed Component 1
JESComponent.10.Type:                Effective
JESComponent.10.Param:               Pt
JESComponent.10.Hists:               EffectiveNP_Mixed1

JESComponent.11.Name:                EffectiveNP_Mixed2
JESComponent.11.Desc:                Effective JES Uncertainty Mixed Component 2
JESComponent.11.Type:                Effective
JESComponent.11.Param:               Pt
JESComponent.11.Hists:               EffectiveNP_Mixed2

JESComponent.12.Name:                EffectiveNP_Mixed3
JESComponent.12.Desc:                Effective JES Uncertainty Mixed Component 3
JESComponent.12.Type:                Effective
JESComponent.12.Param:               Pt
JESComponent.12.Hists:               EffectiveNP_Mixed3

##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration combines 2D components with standard 1D components.
# Use explicit groups

# Eta intercalibration: theory uncertainty
JESGroup.1.Name:                    EtaIntercalibration_Modelling
JESGroup.1.Desc:                    Eta intercalibration: MC generator modelling uncertainty
JESGroup.1.Type:                    Modelling
JESGroup.1.Corr:                    Correlated
JESGroup.1.Group:                   1
JESGroup.1.Reducible:               False

JESComponent.13.Name:               EtaIntercalibration_Modelling_orig
JESComponent.13.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              PtEta
JESComponent.13.Hists:              EtaIntercalibration_Modelling
JESComponent.13.Group:              1
JESComponent.13.Reducible:          False

JESComponent.14.Name:               EtaIntercalibration_Modelling_prop
JESComponent.14.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.14.Type:               Modelling
JESComponent.14.Param:              Pt
JESComponent.14.Hists:              InSituProp_EtaIntercalModelling
JESComponent.14.Group:              1
JESComponent.14.Reducible:          False

# Eta intercalibration: total statistical and method uncertainty
JESGroup.2.Name:                    EtaIntercalibration_TotalStat
JESGroup.2.Desc:                    Eta intercalibration: statistical uncertainty
JESGroup.2.Type:                    Statistical
JESGroup.2.Corr:                    Correlated
JESGroup.2.Group:                   2
JESGroup.2.Reducible:               False

JESComponent.15.Name:               EtaIntercalibration_TotalStat_orig
JESComponent.15.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.15.Type:               Statistical
JESComponent.15.Param:              PtEta
JESComponent.15.Hists:              EtaIntercalibration_TotalStat
JESComponent.15.Group:              2
JESComponent.15.Reducible:          False

JESComponent.16.Name:               EtaIntercalibration_TotalStat_prop
JESComponent.16.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.16.Type:               Statistical
JESComponent.16.Param:              Pt
JESComponent.16.Hists:              InSituProp_EtaIntercalStat
JESComponent.16.Group:              2
JESComponent.16.Reducible:          False

# Eta intercalibration non-closure uncertainty: this one was not propagated
# through mjb so it stands alone
JESComponent.17.Name:               EtaIntercalibration_NonClosure
JESComponent.17.Desc:               Eta intercalibration: non-closure uncertainty
JESComponent.17.Type:               Other
JESComponent.17.Param:              PtEta
JESComponent.17.Interp:             False
JESComponent.17.Hists:              EtaIntercalibration_NonClosure
JESComponent.17.Reducible:          False

# High pT term
JESComponent.18.Name:               SingleParticle_HighPt
JESComponent.18.Desc:               High pT term (2012 version)
JESComponent.18.Type:               Detector
JESComponent.18.Param:              Pt
JESComponent.18.Reducible:          False

# Calibration closure
JESComponent.19.Name:               RelativeNonClosure_MCTYPE
JESComponent.19.Desc:               Closure of the calibration, relative to MC12a
JESComponent.19.Type:               Other
JESComponent.19.Param:              PtEta
JESComponent.19.Reducible:          False
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initializing the provider

# Pileup needs to combine special 2D components with standard 1D components
# so it needs explicit groups.

# Mu term grouping
JESGroup.3.Name:                    Pileup_OffsetMu
JESGroup.3.Desc:                    Pileup: Offset, mu term
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Correlated
JESGroup.3.Group:                   3
JESGroup.3.Reducible:               False

# Pileup: Original mu term
JESComponent.20.Name:               Pileup_OffsetMu_orig
JESComponent.20.Desc:               Pileup: Offset, mu term, independent
JESComponent.20.Type:               Other
JESComponent.20.Param:              PtEta
JESComponent.20.Special:            True
JESComponent.20.Hists:              Pileup_OffsetMu
JESComponent.20.Group:              3
JESComponent.20.Reducible:          False

# Pileup: Propagated mu term
JESComponent.21.Name:               Pileup_OffsetMu_prop
JESComponent.21.Desc:               Pileup: Offset, mu term, propagated through mjb
JESComponent.21.Type:               Other
JESComponent.21.Param:              Pt
JESComponent.21.Hists:              InSituProp_PileupOffsetMu
JESComponent.21.Group:              3
JESComponent.21.Reducible:          False

# NPV term grouping
JESGroup.4.Name:                    Pileup_OffsetNPV
JESGroup.4.Desc:                    Pileup: Offset, NPV term
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Correlated
JESGroup.4.Group:                   4
JESGroup.4.Reducible:               False

# Pileup: Original NPV term
JESComponent.22.Name:               Pileup_OffsetNPV_orig
JESComponent.22.Desc:               Pileup: Offset, NPV term, independent
JESComponent.22.Type:               Other
JESComponent.22.Param:              PtEta
JESComponent.22.Special:            True
JESComponent.22.Hists:              Pileup_OffsetNPV
JESComponent.22.Group:              4
JESComponent.22.Reducible:          False

# Pileup: Propagated NPV term
JESComponent.23.Name:               Pileup_OffsetNPV_prop
JESComponent.23.Desc:               Pileup: Offset, NPV term, propagated through mjb
JESComponent.23.Type:               Other
JESComponent.23.Param:              Pt
JESComponent.23.Hists:              InSituProp_PileupOffsetNPV
JESComponent.23.Group:              4
JESComponent.23.Reducible:          False

# pT term grouping
JESGroup.5.Name:                    Pileup_PtTerm
JESGroup.5.Desc:                    Pileup: Offset, pT term
JESGroup.5.Type:                    Other
JESGroup.5.Corr:                    Correlated
JESGroup.5.Group:                   5
JESGroup.5.Reducible:               False

# Original pT term
JESComponent.24.Name:               Pileup_PtTerm_orig
JESComponent.24.Desc:               Pileup: Offset, pT term, independent
JESComponent.24.Type:               Other
JESComponent.24.Corr:               Correlated
JESComponent.24.Param:              PtEta
JESComponent.24.Special:            True
JESComponent.24.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV
JESComponent.24.Group:              5
JESComponent.24.Reducible:          False

# Propagated pT term
JESComponent.25.Name:               Pileup_PtTerm_prop
JESComponent.25.Desc:               Pileup: Offset, pT term, propagated through mjb
JESComponent.25.Type:               Other
JESComponent.25.Param:              Pt
JESComponent.25.Hists:              InSituProp_PileupPtTerm
JESComponent.25.Group:              5
JESComponent.25.Reducible:          False

# rho topology grouping
JESGroup.6.Name:                    Pileup_RhoTopology
JESGroup.6.Desc:                    Rho topology uncertainty (jet areas)
JESGroup.6.Type:                    Other
JESGroup.6.Corr:                    Correlated
JESGroup.6.Group:                   6
JESGroup.6.Reducible:               False

# Original JetAreas rho topology
JESComponent.26.Name:               Pileup_RhoTopology_orig
JESComponent.26.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.26.Type:               Other
JESComponent.26.Param:              PtEta
JESComponent.26.Special:            True
JESComponent.26.Hists:              Pileup_RhoTopology
JESComponent.26.Group:              6
JESComponent.26.Reducible:          False

# Propagated JetAreas rho topology
JESComponent.27.Name:               Pileup_RhoTopology_prop
JESComponent.27.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.27.Type:               Other
JESComponent.27.Param:              Pt
JESComponent.27.Hists:              InSituProp_PileupRhoTopology
JESComponent.27.Group:              6
JESComponent.27.Reducible:          False

# Flavour composition needs to combine special 2D components with standard 1D components
# so it needs explicit groups too.

# Flavour composition grouping
JESGroup.7.Name:                    Flavor_Composition
JESGroup.7.Desc:                    Flavor composition uncertainty
JESGroup.7.Type:                    Modelling
JESGroup.7.Corr:                    Correlated
JESGroup.7.Group:                   7
JESGroup.7.Reducible:               False

# Original flavour composition uncertainty
JESComponent.28.Name:               Flavor_Composition_orig
JESComponent.28.Desc:               Flavor composition uncertainty, independent
JESComponent.28.Type:               Modelling
JESComponent.28.Corr:               Correlated
JESComponent.28.Param:              PtEta
JESComponent.28.Special:            True
JESComponent.28.Hists:              flavorCompGlu,flavorCompLight
JESComponent.28.Group:              7
JESComponent.28.Reducible:          False

# Propagated flavour composition uncertainty
JESComponent.29.Name:               Flavor_Composition_prop
JESComponent.29.Desc:               Flavor composition uncertainty, propagated through mjb
JESComponent.29.Type:               Modelling
JESComponent.29.Param:              Pt
JESComponent.29.Hists:              InSituProp_FlavorComposition
JESComponent.29.Group:              7
JESComponent.29.Reducible:          False

# Flavour composition grouping
JESGroup.8.Name:                    Flavor_Response
JESGroup.8.Desc:                    Flavor response uncertainty (dominated by gluon response)
JESGroup.8.Type:                    Other
JESGroup.8.Corr:                    Correlated
JESGroup.8.Group:                   8
JESGroup.8.Reducible:               False

# Original flavour response uncertainty
JESComponent.30.Name:               Flavor_Response_orig
JESComponent.30.Desc:               Flavor response uncertainty, independent
JESComponent.30.Type:               Modelling
JESComponent.30.Param:              PtEta
JESComponent.30.Special:            True
JESComponent.30.Hists:              FlavorResponse
JESComponent.30.Group:              8
JESComponent.30.Reducible:          False

# Propagated flavour response uncertainty
JESComponent.31.Name:               Flavor_Response_prop
JESComponent.31.Desc:               Flavor response uncertainty, propagated through mjb
JESComponent.31.Type:               Modelling
JESComponent.31.Param:              Pt
JESComponent.31.Hists:              InSituProp_FlavorResponse
JESComponent.31.Group:              8
JESComponent.31.Reducible:          False

# bJES uncertainty
JESComponent.32.Name:               BJES_Response
JESComponent.32.Desc:               JES uncertainty for b jets
JESComponent.32.Type:               Modelling
JESComponent.32.Param:              PtEta
JESComponent.32.Special:            True
JESComponent.32.Hists:              bJES
JESComponent.32.Reducible:          False

# Make one more explicit group for the punchthrough
JESGroup.9.Name:                    PunchThrough_MCTYPE
JESGroup.9.Desc:                    Punch-through correction uncertainty
JESGroup.9.Type:                    Detector
JESGroup.9.Corr:                    Correlated
JESGroup.9.Group:                   9
JESGroup.9.Reducible:               False

# Original punch-through uncertainty
JESComponent.33.Name:               PunchThrough_MCTYPE_orig
JESComponent.33.Desc:               Punch-through correction uncertainty, orig
JESComponent.33.Type:               Detector
JESComponent.33.Param:              PtAbsEta
JESComponent.33.Interp:             False
JESComponent.33.Special:            True
JESComponent.33.Hists:              PunchThrough_MCTYPE
JESComponent.33.Group               9
JESComponent.33.Reducible:          False

# Propagated punch-through uncertainty
JESComponent.34.Name:               PunchThrough_MCTYPE_prop
JESComponent.34.Desc:               Punch-through correction uncertainty, prop
JESComponent.34.Type:               Detector
JESComponent.34.Param:              Pt
JESComponent.34.Hists:              InSituProp_PunchThroughMC
JESComponent.34.Group               9
JESComponent.34.Reducible:          False

##############################################################################

