#######################################
#
#  ***Note: This config	file is	for illustrative purposes only***
#  ***Correlations between parameters within each group are not preserved, so overall correlations are not preserved***
#  JESProvider Input Settings
#    Preliminary list of JES insitu nuisance parameters grouped into 4 categories
#    Grouping was determined by	the underlying source of the parameters
#    (see slide 8 of https://indico.cern.ch/getFile.py/access?contribId=0&resId=0&materialId=slides&confId=161254)
#    September 29, 2012
#
#  D. Gillberg, C. Doglioni, B. Malaescu, J. Taenzer
#
#######################################

JESUncertaintyRootFile:      JES_2011/Preliminary/JESUncertainty_2011_Preliminary.root

#######################################
# 
#   Settings for JES Components
#
#######################################

  # LAr EM scale (shared by all in-situ techniques)
JESComponent.1.Desc:	   	 Statistical uncertainties and Method
JESComponent.1.Name:       	 StatisticalAndMethod
JESComponent.1.SubComponents:    Zjet_Width InSitu_StatFROM1TO33 EtaIntercalibration_TotalStat

JESComponent.2.Desc:             ATLAS Detector Uncertainties
JESComponent.2.Name:             Detector
JESComponent.2.SubComponents:    Insitu_LArEMscale MPF_JER MPF_Purity

JESComponent.3.Desc:             Modelling
JESComponent.3.Name:             Modelling
JESComponent.3.SubComponents:    Zjet_MC Zjet_Veto Zjet_KTerm Zjet_Extrapolation MPF_OOC MPF_J2 MPF_Generator
+JESComponent.3.SubComponents:   MJB_Asym MJB_Alpha MJB_Beta EtaIntercalibration_Modelling 

JESComponent.4.Desc:             Mixed detector and modelling uncertainties
JESComponent.4.Name:             MixedDetectorAndModelling
JESComponent.4.SubComponents:    Zjet_JVF MPF_Pileup MJB_ISRFSR MJB_Threshold MJB_Fragmentation MJB_CBJR MJB_CBJJ

#
######################################

   # Pileup: Mu term
JESComponent.57.Desc:           Pileup: Offset, mu term
JESComponent.57.Name:           Pileup_OffsetMu

#   # Pileup: NPV term
JESComponent.58.Desc:           Pileup: Offset, NPV term
JESComponent.58.Name:           Pileup_OffsetNPV

  # Pileup: High pT term
JESComponent.59.Desc:           High Pt term (temporary, 2010 uncertainty)
JESComponent.59.Name:           SingleParticle_HighPt

  # Calibration closure
JESComponent.60.Desc:           Closure of the calibration, relative to MC11b
JESComponent.60.Name:           RelativeNonClosure_MCTYPE
# NOTE: MCTYPE in the name above will be replaced by the MC type used when
# initiating the provider

#
######################################