#######################################
#
#  JESProvider Input Settings
#    Preliminary, almost full list of JES insitu nuisance parameters
#    Several small eta intercalibration components still missing
#    May 14, 2012
#
#  D. Gillberg, C. Doglioni, B. Malaescu
# 
#######################################

JESUncertaintyRootFile:      JES_2011/Preliminary/JESUncertainty_11NP_AlternativeCorrelation1.root

#######################################
# 
#   Settings for JES Components
#
#######################################

  # LAr EM scale (shared by all in-situ techniques)
JESComponent.1.Desc:		Effective JES uncertainty component 1
JESComponent.1.Name:		EffectiveNP_1

JESComponent.2.Desc:		Effective JES uncertainty component 2
JESComponent.2.Name:		EffectiveNP_2

JESComponent.3.Desc:		Effective JES uncertainty component 3
JESComponent.3.Name:		EffectiveNP_3

JESComponent.4.Desc:		Effective JES uncertainty component 4
JESComponent.4.Name:		EffectiveNP_4

JESComponent.5.Desc:		Effective JES uncertainty component 5
JESComponent.5.Name:		EffectiveNP_5

JESComponent.6.Desc:		Effective JES uncertainty component 6
JESComponent.6.Name:		EffectiveNP_6restTerm

###################################

  # Eta intercalibration: stat uncertainties (bundled)
JESComponent.46.Desc:           Eta intercalibration: stat uncertainties
JESComponent.46.Name:           EtaIntercalibration_TotalStat

  # Eta intercalibration: theory uncertainty
JESComponent.47.Desc:           Eta intercalibration: MC generator modelling uncertainty
JESComponent.47.Name:           EtaIntercalibration_Modelling

   # Pileup: Mu term
JESComponent.48.Desc:           Pileup: Offset, mu term
JESComponent.48.Name:           Pileup_OffsetMu

#   # Pileup: NPV term
JESComponent.49.Desc:           Pileup: Offset, NPV term
JESComponent.49.Name:           Pileup_OffsetNPV

  # Pileup: High pT term
JESComponent.50.Desc:           High Pt term (temporary, 2010 uncertainty)
JESComponent.50.Name:           SingleParticle_HighPt

  # Calibration closure
JESComponent.51.Desc:           Closure of the calibration, relative to MC11b
JESComponent.51.Name:           RelativeNonClosure_MCTYPE
# NOTE: MCTYPE in the name above will be replaced by the MC type used when
# initiating the provider

#
######################################
