#######################################
#
#  JESProvider Input Settings
#    Preliminary, almost full list of JES insitu nuisance parameters
#    Several small eta intercalibration components still missing
#    May 14, 2012
#
#  D. Gillberg, C. Doglioni, B. Malaescu
# 
#######################################

JESUncertaintyRootFile:      JES_2011/Preliminary/May14_AllNuisanceParameters.root

#######################################
# 
#   Settings for JES Components
#
#######################################

 # Uncorrelated part of the electron energy scale 
JESComponent.1.Desc:	    uncorrelated electron energy scale
JESComponent.1.Name:        Insitu_ZjetEscaleUncorr

 # Uncorrelated part of the gamma energy scale
JESComponent.2.Desc:	    uncorrelated photon energy scale
JESComponent.2.Name:        Insitu_MPFEscaleUncorr

 # Correlated part of the LAr energy scale
JESComponent.3.Desc:	    correlated LAr energy scale
JESComponent.3.Name:        Insitu_LArEscaleCorr

  # Z+jet MC 
JESComponent.4.Desc:	    Z+jet Monte Carlo generator difference
JESComponent.4.Name:        Zjet_MC

  # Z+jet Veto 
JESComponent.5.Desc:	    Z+jet radiation suppression (second jet veto)
JESComponent.5.Name:        Zjet_Veto

  # Z+jet JVF
JESComponent.6.Desc:	    Z+jet JVF jet selection cut
JESComponent.6.Name:        Zjet_JVF

  # Z+jet k-term
JESComponent.7.Desc:	    Z+jet out-of-cone radiation 
JESComponent.7.Name:        Zjet_KTerm

  # Z+jet width
JESComponent.8.Desc:	    Z+jet Poisson Width in Fit
JESComponent.8.Name:        Zjet_Width

  # Z+jet extrapolation
JESComponent.9.Desc:        Z+jet, extrapolation
JESComponent.9.Name:        Zjet_Extrapolation

  # MPF J2
JESComponent.10.Desc:	    MPF J2 radiation suppression (second jet veto)
JESComponent.10.Name:        MPF_J2

  # MPF Generator
JESComponent.11.Desc:	    MPF Monte Carlo generator difference
JESComponent.11.Name:        MPF_Generator

  # MPF JER
JESComponent.12.Desc:	    MPF jet resolution
JESComponent.12.Name:        MPF_JER

  # MPF Photon Purity
JESComponent.13.Desc:	     MPF photon purity
JESComponent.13.Name:        MPF_Purity

  # MPF Pileup
JESComponent.14.Desc:	     MPF pile-up dependence
JESComponent.14.Name:        MPF_Pileup

  # MPF Photon OOC
JESComponent.15.Desc:	     MPF out-of-cone radiation 
JESComponent.15.Name:        MPF_OOC

  # MJB: alpha 
JESComponent.16.Desc:        MJB jet topology selection (alpha) 
JESComponent.16.Name:        MJB_Alpha

  # MJB: beta
JESComponent.17.Desc:        MJB jet topology selection (beta) 
JESComponent.17.Name:        MJB_Beta

  # MJB: CBJJ
JESComponent.18.Desc:        MJB close-by JES uncertainty for leading jet
JESComponent.18.Name:        MJB_CBJJ

  # MJB: CBJR
JESComponent.19.Desc:        MJB close-by JES uncertainty for recoil 
JESComponent.19.Name:        MJB_CBJR

  # MJB: Fragmentation
JESComponent.20.Desc:        Fragmentation uncertainty
JESComponent.20.Name:        MJB_Fragmentation

  # MJB: Threshold
JESComponent.21.Desc:        Uncertainty due to jet threshold
JESComponent.21.Name:        MJB_Threshold

  # MJB: Asymmetry
JESComponent.22.Desc:        MJB Asymmetry uncertainty 
JESComponent.22.Name:        MJB_Asym

  # MJB: ISR/FSR
JESComponent.23.Desc:        MJB ISR/FSR uncertainty 
JESComponent.23.Name:        MJB_ISRFSR

  # Statistical components 
  # 33 separate components (maybe best to identify these as well?)

  # Statistical component No.1  
JESComponent.24.Desc:           Statistical uncertainty No.1
JESComponent.24.Name:           InSitu_Stat1

  # Statistical component No.2  
JESComponent.25.Desc:           Statistical uncertainty No.2
JESComponent.25.Name:           InSitu_Stat2

  # Statistical component No.3  
JESComponent.26.Desc:           Statistical uncertainty No.3
JESComponent.26.Name:           InSitu_Stat3

  # Statistical component No.4  
JESComponent.27.Desc:           Statistical uncertainty No.4
JESComponent.27.Name:           InSitu_Stat4

  # Statistical component No.5  
JESComponent.28.Desc:           Statistical uncertainty No.5
JESComponent.28.Name:           InSitu_Stat5

  # Statistical component No.6  
JESComponent.29.Desc:           Statistical uncertainty No.6
JESComponent.29.Name:           InSitu_Stat6

  # Statistical component No.7  
JESComponent.30.Desc:           Statistical uncertainty No.7
JESComponent.30.Name:           InSitu_Stat7

  # Statistical component No.8  
JESComponent.31.Desc:           Statistical uncertainty No.8
JESComponent.31.Name:           InSitu_Stat8

  # Statistical component No.9  
JESComponent.32.Desc:           Statistical uncertainty No.9
JESComponent.32.Name:           InSitu_Stat9

  # Statistical component No.10  
JESComponent.33.Desc:           Statistical uncertainty No.10
JESComponent.33.Name:           InSitu_Stat10

  # Statistical component No.11  
JESComponent.34.Desc:           Statistical uncertainty No.11
JESComponent.34.Name:           InSitu_Stat11

  # Statistical component No.12  
JESComponent.35.Desc:           Statistical uncertainty No.12
JESComponent.35.Name:           InSitu_Stat12

  # Statistical component No.13  
JESComponent.36.Desc:           Statistical uncertainty No.13
JESComponent.36.Name:           InSitu_Stat13

  # Statistical component No.14  
JESComponent.37.Desc:           Statistical uncertainty No.14
JESComponent.37.Name:           InSitu_Stat14

  # Statistical component No.15  
JESComponent.38.Desc:           Statistical uncertainty No.15
JESComponent.38.Name:           InSitu_Stat15

  # Statistical component No.16  
JESComponent.39.Desc:           Statistical uncertainty No.16
JESComponent.39.Name:           InSitu_Stat16

  # Statistical component No.17  
JESComponent.40.Desc:           Statistical uncertainty No.17
JESComponent.40.Name:           InSitu_Stat17

  # Statistical component No.18  
JESComponent.41.Desc:           Statistical uncertainty No.18
JESComponent.41.Name:           InSitu_Stat18

  # Statistical component No.19  
JESComponent.42.Desc:           Statistical uncertainty No.19
JESComponent.42.Name:           InSitu_Stat19

  # Statistical component No.20  
JESComponent.43.Desc:           Statistical uncertainty No.20
JESComponent.43.Name:           InSitu_Stat20

  # Statistical component No.21  
JESComponent.44.Desc:           Statistical uncertainty No.21
JESComponent.44.Name:           InSitu_Stat21

  # Statistical component No.22  
JESComponent.45.Desc:           Statistical uncertainty No.22
JESComponent.45.Name:           InSitu_Stat22

  # Statistical component No.23  
JESComponent.46.Desc:           Statistical uncertainty No.23
JESComponent.46.Name:           InSitu_Stat23

  # Statistical component No.24  
JESComponent.47.Desc:           Statistical uncertainty No.24
JESComponent.47.Name:           InSitu_Stat24

  # Statistical component No.25  
JESComponent.48.Desc:           Statistical uncertainty No.25
JESComponent.48.Name:           InSitu_Stat25

  # Statistical component No.26
JESComponent.49.Desc:           Statistical uncertainty No.26
JESComponent.49.Name:           InSitu_Stat26

  # Statistical component No.27
JESComponent.50.Desc:           Statistical uncertainty No.27
JESComponent.50.Name:           InSitu_Stat27

  # Statistical component No.28
JESComponent.51.Desc:           Statistical uncertainty No.28
JESComponent.51.Name:           InSitu_Stat28

  # Statistical component No.29
JESComponent.52.Desc:           Statistical uncertainty No.29
JESComponent.52.Name:           InSitu_Stat29

  # Statistical component No.30
JESComponent.53.Desc:           Statistical uncertainty No.30
JESComponent.53.Name:           InSitu_Stat30

  # Statistical component No.31
JESComponent.54.Desc:           Statistical uncertainty No.31
JESComponent.54.Name:           InSitu_Stat31

  # Statistical component No.32
JESComponent.55.Desc:           Statistical uncertainty No.32
JESComponent.55.Name:           InSitu_Stat32

  # Statistical component No.33
JESComponent.56.Desc:           Statistical uncertainty No.33
JESComponent.56.Name:           InSitu_Stat33

###################################

  # Eta intercalibration: stat uncertainties (bundled)
JESComponent.57.Desc:           Eta intercalibration: stat uncertainties
JESComponent.57.Name:           EtaIntercalibration_TotalStat

  # Eta intercalibration: theory uncertainty
JESComponent.58.Desc:           Eta intercalibration: MC generator modelling uncertainty
JESComponent.58.Name:           EtaIntercalibration_Modelling

   # Pileup: Mu term
JESComponent.59.Desc:           Pileup: Offset, mu term
JESComponent.59.Name:           Pileup_OffsetMu

#   # Pileup: NPV term
JESComponent.60.Desc:           Pileup: Offset, NPV term
JESComponent.60.Name:           Pileup_OffsetNPV

  # Pileup: High pT term
JESComponent.61.Desc:           High Pt term (temporary, 2010 uncertainty)
JESComponent.61.Name:           SingleParticle_HighPt

  # Calibration closure
JESComponent.62.Desc:           Closure of the calibration, relative to MC11b
JESComponent.62.Name:           RelativeNonClosure_MCTYPE
# NOTE: MCTYPE in the name above will be replaced by the MC type used when
# initiating the provider

#
######################################
