#######################################
#
#  JESProvider Input Settings
#
#  D. Gillberg, C. Doglioni
# 
#######################################

MultijetJESUncertaintyRootFile:      JES_2011/Preliminary/MJESUncertainty_2011_Preliminary.root
AnalysisRootFile:                    analysisInputs/UnknownFlavourComp.root

#######################################
# 
#   Settings for MJES Components
#
#######################################

  # Flavour Composition Uncertainty
MultijetJESComponent.1.Name:         Flavor_Comp
MultijetJESComponent.1.Desc:         Flavor composition uncertainty

  # Flavour Response Uncertainty
MultijetJESComponent.2.Name:         Flavor_Response
MultijetJESComponent.2.Desc:	     Flavor response uncertainty (dominated by the gluon response)

  # Close-By Jets Uncertainty
MultijetJESComponent.3.Name:         Close_By
MultijetJESComponent.3.Desc:	     JES uncertainty due to close-by jets

  # bJES Uncertainty
MultijetJESComponent.4.Name:         BJES_Response
MultijetJESComponent.4.Desc:         JES uncertainty for b jets

###################################
