# **********************************************************************
# $Id: collisions_run.config 779380 2021-11-29 10:16:56Z bigliett $
# **********************************************************************

###########################################################
# MMG
###########################################################

#############
# Output
#############

output top_level {
  output MuonDetectors {
    output MMG {
      output Shifter {
    	output Global {
    	}
	output SideA {
        }
        output SideC {
	}
      }
    }
  }
}

#######################
# Histogram Assessments
#######################
dir Muon {

  dir MuonRawDataMonitoring {
    #reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences

    dir MM {
    	algorithm = MM_Histogram_Not_Empty 
	dir Overview {
	    hist Charge {
	    output = MuonDetectors/MMG/Shifter/Global
	    algorithm = MM_Histogram_Not_Empty
	    }
	    hist Number_of_strips_percluster {
	    output = MuonDetectors/MMG/Shifter/Global
	    algorithm = MM_Histogram_Not_Empty
	    }
	    hist Residuals {
	    output = MuonDetectors/MMG/Shifter/Global
	    algorithm = MM_Histogram_Not_Empty
	    }
	}
	dir Occupancy {
	    hist Occupancy_CSide_eta1_PCB {
	    output = MuonDetectors/MMG/Shifter/Global
            algorithm = MM_Histogram_Not_Empty
	    }	 
	    hist Occupancy_CSide_eta2_PCB {
	    output = MuonDetectors/MMG/Shifter/Global
            algorithm = MM_Histogram_Not_Empty
	    }	 
	    hist Occupancy_ASide_eta1_PCB {
	    output = MuonDetectors/MMG/Shifter/Global
            algorithm = MM_Histogram_Not_Empty
	    }	 
	    hist Occupancy_ASide_eta2_PCB {
	    output = MuonDetectors/MMG/Shifter/Global
            algorithm = MM_Histogram_Not_Empty
	    }	 
	}
	dir CSide {
	    dir PosY_vs_Posx_perLayer_ontrack {
	    	hist Posy_vs_Posx_CSide_multiplet1_gas_gap_1_ontrack {
		output = MuonDetectors/MMG/Shifter/SideC
		algorithm = MM_Histogram_Not_Empty
		}
		hist Posy_vs_Posx_CSide_multiplet1_gas_gap_2_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_CSide_multiplet1_gas_gap_3_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_CSide_multiplet1_gas_gap_4_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_CSide_multiplet2_gas_gap_1_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_CSide_multiplet2_gas_gap_2_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_CSide_multiplet2_gas_gap_3_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_CSide_multiplet2_gas_gap_4_ontrack {
                output = MuonDetectors/MMG/Shifter/SideC
                algorithm = MM_Histogram_Not_Empty
                }
	    }
	}
	dir ASide {
            dir PosY_vs_Posx_perLayer_ontrack {
                hist Posy_vs_Posx_ASide_multiplet1_gas_gap_1_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
                hist Posy_vs_Posx_ASide_multiplet1_gas_gap_2_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
                hist Posy_vs_Posx_ASide_multiplet1_gas_gap_3_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
                hist Posy_vs_Posx_ASide_multiplet1_gas_gap_4_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
                hist Posy_vs_Posx_ASide_multiplet2_gas_gap_1_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
                hist Posy_vs_Posx_ASide_multiplet2_gas_gap_2_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_ASide_multiplet2_gas_gap_3_ontrack {
                output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
		hist Posy_vs_Posx_ASide_multiplet2_gas_gap_4_ontrack {
  		output = MuonDetectors/MMG/Shifter/SideA
                algorithm = MM_Histogram_Not_Empty
                }
            }
	}
    }
  }
}

#############
# Algorithms
#############

algorithm MM_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}
