##############################################################################
#
#  JetUncertaintiesTool Input Settings for multi-object tagging
#    This is the weak correlation assumption variant
#    pT, TA-mass are, D2Beta1, and Tau32WTA are all uncorrelated
#
#    June 13, 2016
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_ICHEP2016_MT
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15c
UncertaintyRootFile:                UJ_2015/ICHEP2016/UJUncertainty_ICHEP2016.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               TA

##############################################################################
# 
#   Settings for components
#
##############################################################################

JESGroup.1.Name:                    Rtrk_Baseline_pT
JESGroup.1.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, pT scale
JESGroup.1.Group:                   1

JESGroup.2.Name:                    TAM_Baseline_mass
JESGroup.2.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, pT scale propagated to TA-mass
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Rtrk_Baseline_D2
JESGroup.3.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, D2 scale
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Rtrk_Baseline_Tau32
JESGroup.4.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, Tau32 scale
JESGroup.4.Group:                   4

JESGroup.5.Name:                    Rtrk_Modelling_pT
JESGroup.5.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, pT scale
JESGroup.5.Group:                   5

JESGroup.6.Name:                    TAM_Modelling_mass
JESGroup.6.Desc:                    TAM hadronisation, rel 20.7: modelling component, TA-mass scale
JESGroup.6.Group:                   6

JESGroup.7.Name:                    Rtrk_Modelling_D2
JESGroup.7.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, D2 scale
JESGroup.7.Group:                   7

JESGroup.8.Name:                    Rtrk_Modelling_Tau32
JESGroup.8.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, Tau32 scale
JESGroup.8.Group:                   8

JESGroup.9.Name:                    Rtrk_Tracking_pT
JESGroup.9.Desc:                    2015 Rtrk measurement, rel 20.7: tracking component, pT scale
JESGroup.9.Corr:                    Uncorrelated
JESGroup.9.Group:                   9

JESGroup.10.Name:                   TAM_Tracking_mass
JESGroup.10.Desc:                   TAM tracking terms + Rtrk-pT, rel 20.7: tracking component, TA-mass scale
JESGroup.10.Corr:                   Uncorrelated
JESGroup.10.Group:                  10

JESGroup.11.Name:                   Rtrk_Tracking_D2
JESGroup.11.Desc:                   2015 Rtrk measurement, rel 20.7: tracking component, D2 scale
JESGroup.11.Corr:                   Uncorrelated
JESGroup.11.Group:                  11

JESGroup.12.Name:                   Rtrk_Tracking_Tau32
JESGroup.12.Desc:                   2015 Rtrk measurement, rel 20.7: tracking component, Tau32 scale
JESGroup.12.Corr:                   Uncorrelated
JESGroup.12.Group:                  12

JESGroup.13.Name:                   Rtrk_TotalStat_pT
JESGroup.13.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, pT scale
JESGroup.13.Group:                  13

JESGroup.14.Name:                   TAM_TotalStat_mass
JESGroup.14.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, pT scale propagated to TA-mass
JESGroup.14.Group:                  14

JESGroup.15.Name:                   Rtrk_TotalStat_D2
JESGroup.15.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, D2 scale
JESGroup.15.Group:                  15

JESGroup.16.Name:                   Rtrk_TotalStat_Tau32
JESGroup.16.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, Tau32 scale
JESGroup.16.Group:                  16



# Components
JESComponent.1.Name:                Rtrk_Baseline_pT
JESComponent.1.Param:               PtMass
JESComponent.1.MassDef:             Calo
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Rtrk_Baseline_pT
JESComponent.2.Param:               PtMass
JESComponent.2.MassDef:             Calo
JESComponent.2.Scale:               Mass
JESComponent.2.Group:               2

JESComponent.3.Name:                Rtrk_Baseline_D2
JESComponent.3.Param:               PtMass
JESComponent.3.MassDef:             Calo
JESComponent.3.Scale:               D2Beta1
JESComponent.3.Group:               3

JESComponent.4.Name:                Rtrk_Baseline_Tau32
JESComponent.4.Param:               PtMass
JESComponent.4.MassDef:             Calo
JESComponent.4.Scale:               Tau32WTA
JESComponent.4.Group:               4



JESComponent.5.Name:                Rtrk_Modelling_pT
JESComponent.5.Param:               PtMass
JESComponent.5.MassDef:             Calo
JESComponent.5.Scale:               Pt
JESComponent.5.Group:               5

JESComponent.6.Name:                TAM_Hadronisation
JESComponent.6.Param:               PtMass
JESComponent.6.MassDef:             TA
JESComponent.6.Scale:               Mass
JESComponent.6.Group:               6

JESComponent.7.Name:                Rtrk_Modelling_D2
JESComponent.7.Param:               PtMass
JESComponent.7.MassDef:             Calo
JESComponent.7.Scale:               D2Beta1
JESComponent.7.Group:               7

JESComponent.8.Name:                Rtrk_Modelling_Tau32
JESComponent.8.Param:               PtMass
JESComponent.8.MassDef:             Calo
JESComponent.8.Scale:               Tau32WTA
JESComponent.8.Group:               8



JESComponent.9.Name:                Rtrk_Tracking1_pT
JESComponent.9.Param:               PtMass
JESComponent.9.MassDef:             Calo
JESComponent.9.Scale:               Pt
JESComponent.9.Group:               9

JESGroup.100.Name:                  TAM_Tracking1
JESGroup.100.Corr:                  Correlated
JESGroup.100.Group:                 100
JESGroup.100.SubGroup:              10

JESComponent.10.Name:               TAM_Efficiency
JESComponent.10.Param:              PtMass
JESComponent.10.MassDef:            TA
JESComponent.10.Scale:              Mass
JESComponent.10.Group:              100

JESComponent.11.Name:               Rtrk_Tracking1_pT
JESComponent.11.Param:              PtMass
JESComponent.11.MassDef:            Calo
JESComponent.11.Scale:              Mass
JESComponent.11.Group:              100

JESComponent.12.Name:               Rtrk_Tracking1_D2
JESComponent.12.Param:              PtMass
JESComponent.12.MassDef:            Calo
JESComponent.12.Scale:              D2Beta1
JESComponent.12.Group:              11

JESComponent.13.Name:               Rtrk_Tracking1_Tau32
JESComponent.13.Param:              PtMass
JESComponent.13.MassDef:            Calo
JESComponent.13.Scale:              Tau32WTA
JESComponent.13.Group:              12



JESComponent.14.Name:               Rtrk_Tracking2_pT
JESComponent.14.Param:              PtMass
JESComponent.14.MassDef:            Calo
JESComponent.14.Scale:              Pt
JESComponent.14.Group:              9

JESGroup.101.Name:                  TAM_Tracking2
JESGroup.101.Corr:                  Correlated
JESGroup.101.Group:                 101
JESGroup.101.SubGroup:              10

JESComponent.15.Name:               TAM_Fakes
JESComponent.15.Param:              PtMass
JESComponent.15.MassDef:            TA
JESComponent.15.Scale:              Mass
JESComponent.15.Group:              101

JESComponent.16.Name:               Rtrk_Tracking2_pT
JESComponent.16.Param:              PtMass
JESComponent.16.MassDef:            Calo
JESComponent.16.Scale:              Mass
JESComponent.16.Group:              101

JESComponent.17.Name:               Rtrk_Tracking2_D2
JESComponent.17.Param:              PtMass
JESComponent.17.MassDef:            Calo
JESComponent.17.Scale:              D2Beta1
JESComponent.17.Group:              11

JESComponent.18.Name:               Rtrk_Tracking2_Tau32
JESComponent.18.Param:              PtMass
JESComponent.18.MassDef:            Calo
JESComponent.18.Scale:              Tau32WTA
JESComponent.18.Group:              12



JESComponent.19.Name:               Rtrk_Tracking3_pT
JESComponent.19.Param:              PtMass
JESComponent.19.MassDef:            Calo
JESComponent.19.Scale:              Pt
JESComponent.19.Group:              9

JESComponent.20.Name:               Rtrk_Tracking3_pT
JESComponent.20.Param:              PtMass
JESComponent.20.MassDef:            Calo
JESComponent.20.Scale:              Mass
JESComponent.20.Group:              10

JESComponent.21.Name:               Rtrk_Tracking3_D2
JESComponent.21.Param:              PtMass
JESComponent.21.MassDef:            Calo
JESComponent.21.Scale:              D2Beta1
JESComponent.21.Group:              11

JESComponent.22.Name:               Rtrk_Tracking3_Tau32
JESComponent.22.Param:              PtMass
JESComponent.22.MassDef:            Calo
JESComponent.22.Scale:              Tau32WTA
JESComponent.22.Group:              12


JESComponent.23.Name:               Rtrk_TotalStat_pT
JESComponent.23.Param:              PtMass
JESComponent.23.Scale:              Pt
JESComponent.23.Group:              13

JESComponent.24.Name:               Rtrk_TotalStat_mass
JESComponent.24.Param:              PtMass
JESComponent.24.Scale:              Mass
JESComponent.24.Group:              14

JESComponent.25.Name:               Rtrk_TotalStat_D2
JESComponent.25.Param:              PtMass
JESComponent.25.Scale:              D2Beta1
JESComponent.25.Group:              15

JESComponent.26.Name:               Rtrk_TotalStat_Tau32
JESComponent.26.Param:              PtMass
JESComponent.26.Scale:              Tau32WTA
JESComponent.26.Group:              16


