##############################################################################
#
#  JetUncertaintiesTool Input Settings for multi-object tagging
#    This is the weak correlation assumption variant
#    pT, comb-mass, D2Beta1, and Tau32WTA are all uncorrelated
#
#    November 11, 2016
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_ICHEP2016_QCD
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15c
UncertaintyRootFile:                UJ_2015/ICHEP2016/UJUncertainty_ICHEP2016.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               CombQCD

CombMassWeightCaloHist:             CombWeight_CaloMass_Res_QCD
CombMassWeightTAHist:               CombWeight_TAMass_Res_QCD

##############################################################################
# 
#   Settings for components
#
##############################################################################

JESGroup.1.Name:                    Rtrk_Baseline_pT
JESGroup.1.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, pT scale
JESGroup.1.Group:                   1

JESGroup.2.Name:                    Comb_Baseline_mass
JESGroup.2.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, comb-mass scale
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Rtrk_Baseline_D2
JESGroup.3.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, D2 scale
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Rtrk_Baseline_Tau32
JESGroup.4.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, Tau32 scale
JESGroup.4.Group:                   4

JESGroup.5.Name:                    Rtrk_Modelling_pT
JESGroup.5.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, pT scale
JESGroup.5.Group:                   5

JESGroup.6.Name:                    Comb_Modelling_mass
JESGroup.6.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, comb-mass scale
JESGroup.6.Group:                   6

JESGroup.7.Name:                    Rtrk_Modelling_D2
JESGroup.7.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, D2 scale
JESGroup.7.Group:                   7

JESGroup.8.Name:                    Rtrk_Modelling_Tau32
JESGroup.8.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, Tau32 scale
JESGroup.8.Group:                   8

JESGroup.9.Name:                    Rtrk_Tracking_pT
JESGroup.9.Desc:                    2015 Rtrk measurement, rel 20.7: tracking component, pT scale
JESGroup.9.Corr:                    Uncorrelated
JESGroup.9.Group:                   9

JESGroup.10.Name:                   Comb_Tracking_mass
JESGroup.10.Desc:                   2015 Rtrk measurement, rel 20.7: tracking component, comb-mass scale
JESGroup.10.Corr:                   Uncorrelated
JESGroup.10.Group:                  10

JESGroup.11.Name:                   Rtrk_Tracking_D2
JESGroup.11.Desc:                   2015 Rtrk measurement, rel 20.7: tracking component, D2 scale
JESGroup.11.Corr:                   Uncorrelated
JESGroup.11.Group:                  11

JESGroup.12.Name:                   Rtrk_Tracking_Tau32
JESGroup.12.Desc:                   2015 Rtrk measurement, rel 20.7: tracking component, Tau32 scale
JESGroup.12.Corr:                   Uncorrelated
JESGroup.12.Group:                  12

JESGroup.13.Name:                   Rtrk_TotalStat_pT
JESGroup.13.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, pT scale
JESGroup.13.Group:                  13

JESGroup.14.Name:                   Comb_TotalStat_mass
JESGroup.14.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, mass scale
JESGroup.14.Group:                  14

JESGroup.15.Name:                   Rtrk_TotalStat_D2
JESGroup.15.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, D2 scale
JESGroup.15.Group:                  15

JESGroup.16.Name:                   Rtrk_TotalStat_Tau32
JESGroup.16.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, Tau32 scale
JESGroup.16.Group:                  16



# Components
JESComponent.1.Name:                Rtrk_Baseline_pT
JESComponent.1.Param:               PtMass
JESComponent.1.MassDef:             Calo
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Comb_Baseline
JESComponent.2.Param:               PtMass
JESComponent.2.Scale:               Mass
JESComponent.2.Special:             True
JESComponent.2.CombMassType:        Both
JESComponent.2.CaloMassTerm:        Rtrk_Baseline_mass
JESComponent.2.CaloMassDef:         Calo
JESComponent.2.TAMassTerm:          Rtrk_Baseline_pT
JESComponent.2.TAMassDef:           Calo
JESComponent.2.Group:               2

JESComponent.3.Name:                Rtrk_Baseline_D2
JESComponent.3.Param:               PtMass
JESComponent.3.MassDef:             Calo
JESComponent.3.Scale:               D2Beta1
JESComponent.3.Group:               3

JESComponent.4.Name:                Rtrk_Baseline_Tau32
JESComponent.4.Param:               PtMass
JESComponent.4.MassDef:             Calo
JESComponent.4.Scale:               Tau32WTA
JESComponent.4.Group:               4



JESComponent.5.Name:                Rtrk_Modelling_pT
JESComponent.5.Param:               PtMass
JESComponent.5.MassDef:             Calo
JESComponent.5.Scale:               Pt
JESComponent.5.Group:               5

JESComponent.6.Name:                Comb_Modelling
JESComponent.6.Param:               PtMass
JESComponent.6.Scale:               Mass
JESComponent.6.Special:             True
JESComponent.6.CombMassType:        Both
JESComponent.6.CaloMassTerm:        Rtrk_Modelling_mass
JESComponent.6.CaloMassDef:         Calo
JESComponent.6.TAMassTerm:          TAM_Hadronisation
JESComponent.6.TAMassDef:           TA
JESComponent.6.Group:               6

JESComponent.7.Name:                Rtrk_Modelling_D2
JESComponent.7.Param:               PtMass
JESComponent.7.MassDef:             Calo
JESComponent.7.Scale:               D2Beta1
JESComponent.7.Group:               7

JESComponent.8.Name:                Rtrk_Modelling_Tau32
JESComponent.8.Param:               PtMass
JESComponent.8.MassDef:             Calo
JESComponent.8.Scale:               Tau32WTA
JESComponent.8.Group:               8



JESComponent.9.Name:                Rtrk_Tracking1_pT
JESComponent.9.Param:               PtMass
JESComponent.9.MassDef:             Calo
JESComponent.9.Scale:               Pt
JESComponent.9.Group:               9

JESComponent.10.Name:               Comb_Tracking1
JESComponent.10.Param:              PtMass
JESComponent.10.Scale:              Mass
JESComponent.10.Special:            True
JESComponent.10.CombMassType:       Both
JESComponent.10.CaloMassTerm:       Rtrk_Tracking1_mass
JESComponent.10.CaloMassDef:        Calo
JESComponent.10.TAMassTerm:         TAM_Efficiency,Rtrk_Tracking1_pT
JESComponent.10.TAMassDef:          TA,Calo
JESComponent.10.Group:              10

JESComponent.11.Name:               Rtrk_Tracking1_D2
JESComponent.11.Param:              PtMass
JESComponent.11.MassDef:            Calo
JESComponent.11.Scale:              D2Beta1
JESComponent.11.Group:              11

JESComponent.12.Name:               Rtrk_Tracking1_Tau32
JESComponent.12.Param:              PtMass
JESComponent.12.MassDef:            Calo
JESComponent.12.Scale:              Tau32WTA
JESComponent.12.Group:              12



JESComponent.13.Name:               Rtrk_Tracking2_pT
JESComponent.13.Param:              PtMass
JESComponent.13.MassDef:            Calo
JESComponent.13.Scale:              Pt
JESComponent.13.Group:              9

JESComponent.14.Name:               Comb_Tracking2
JESComponent.14.Param:              PtMass
JESComponent.14.Scale:              Mass
JESComponent.14.Special:            True
JESComponent.14.CombMassType:       Both
JESComponent.14.CaloMassTerm:       Rtrk_Tracking2_mass
JESComponent.14.CaloMassDef:        Calo
JESComponent.14.TAMassTerm:         TAM_Fakes,Rtrk_Tracking2_pT
JESComponent.14.TAMassDef:          TA,Calo
JESComponent.14.Group:              10

JESComponent.15.Name:               Rtrk_Tracking2_D2
JESComponent.15.Param:              PtMass
JESComponent.15.MassDef:            Calo
JESComponent.15.Scale:              D2Beta1
JESComponent.15.Group:              11

JESComponent.16.Name:               Rtrk_Tracking2_Tau32
JESComponent.16.Param:              PtMass
JESComponent.16.MassDef:            Calo
JESComponent.16.Scale:              Tau32WTA
JESComponent.16.Group:              12



JESComponent.17.Name:               Rtrk_Tracking3_pT
JESComponent.17.Param:              PtMass
JESComponent.17.MassDef:            Calo
JESComponent.17.Scale:              Pt
JESComponent.17.Group:              9

JESComponent.18.Name:               Comb_Tracking3
JESComponent.18.Param:              PtMass
JESComponent.18.Scale:              Mass
JESComponent.18.Special:            True
JESComponent.18.CombMassType:       Both
JESComponent.18.CaloMassTerm:       Rtrk_Tracking3_mass
JESComponent.18.CaloMassDef:        Calo
JESComponent.18.TAMassTerm:         Rtrk_Tracking3_pT
JESComponent.18.TAMassDef:          Calo
JESComponent.18.Group:              10

JESComponent.19.Name:               Rtrk_Tracking3_D2
JESComponent.19.Param:              PtMass
JESComponent.19.MassDef:            Calo
JESComponent.19.Scale:              D2Beta1
JESComponent.19.Group:              11

JESComponent.20.Name:               Rtrk_Tracking3_Tau32
JESComponent.20.Param:              PtMass
JESComponent.20.MassDef:            Calo
JESComponent.20.Scale:              Tau32WTA
JESComponent.20.Group:              12


JESComponent.21.Name:               Rtrk_TotalStat_pT
JESComponent.21.Param:              PtMass
JESComponent.21.Scale:              Pt
JESComponent.21.Group:              13

JESComponent.22.Name:               Rtrk_TotalStat_mass
JESComponent.22.Param:              PtMass
JESComponent.22.Scale:              Mass
JESComponent.22.Group:              14

JESComponent.23.Name:               Rtrk_TotalStat_D2
JESComponent.23.Param:              PtMass
JESComponent.23.Scale:              D2Beta1
JESComponent.23.Group:              15

JESComponent.24.Name:               Rtrk_TotalStat_Tau32
JESComponent.24.Param:              PtMass
JESComponent.24.Scale:              Tau32WTA
JESComponent.24.Group:              16

