##############################################################################
#
#  JetUncertaintiesTool Input Settings for Top tagging
#    This is the string correlation assumption variant
#    pT, comb-mass, and Tau32WTA are correlated
#
#    November 11, 2016
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_ICHEP2016_Top
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15c
UncertaintyRootFile:                UJ_2015/ICHEP2016/UJUncertainty_ICHEP2016.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               CombQCD

CombMassWeightCaloHist:             CombWeight_CaloMass_Res_QCD
CombMassWeightTAHist:               CombWeight_TAMass_Res_QCD

##############################################################################
# 
#   Settings for components
#
##############################################################################

JESGroup.1.Name:                    Comb_Baseline_All
JESGroup.1.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, all scales
JESGroup.1.Group:                   1

JESGroup.2.Name:                    Comb_Modelling_All
JESGroup.2.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, all scales
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Comb_Tracking_All
JESGroup.3.Desc:                    2015 Rtrk measurement, rel 20.7: tracking component, all scales
JESGroup.3.Corr:                    Uncorrelated
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Comb_TotalStat_All
JESGroup.4.Desc:                    2015 Rtrk measurement, rel 20.7: statistical component, all scales
JESGroup.4.Group:                   4



# Components
JESComponent.1.Name:                Rtrk_Baseline_pT
JESComponent.1.Param:               PtMass
JESComponent.1.MassDef:             Calo
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Comb_Baseline
JESComponent.2.Param:               PtMass
JESComponent.2.Scale:               Mass
JESComponent.2.Special:             True
JESComponent.2.CombMassType:        Both
JESComponent.2.CaloMassTerm:        Rtrk_Baseline_mass
JESComponent.2.CaloMassDef:         Calo
JESComponent.2.TAMassTerm:          Rtrk_Baseline_pT
JESComponent.2.TAMassDef:           Calo
JESComponent.2.Group:               1

JESComponent.3.Name:                Rtrk_Baseline_Tau32
JESComponent.3.Param:               PtMass
JESComponent.3.MassDef:             Calo
JESComponent.3.Scale:               Tau32WTA
JESComponent.3.Group:               1



JESComponent.4.Name:                Rtrk_Modelling_pT
JESComponent.4.Param:               PtMass
JESComponent.4.MassDef:             Calo
JESComponent.4.Scale:               Pt
JESComponent.4.Group:               2

JESComponent.5.Name:                Comb_Modelling
JESComponent.5.Param:               PtMass
JESComponent.5.Scale:               Mass
JESComponent.5.Special:             True
JESComponent.5.CombMassType:        Both
JESComponent.5.CaloMassTerm:        Rtrk_Modelling_mass
JESComponent.5.CaloMassDef:         Calo
JESComponent.5.TAMassTerm:          TAM_Hadronisation
JESComponent.5.TAMassDef:           TA
JESComponent.5.Group:               2

JESComponent.6.Name:                Rtrk_Modelling_Tau32
JESComponent.6.Param:               PtMass
JESComponent.6.MassDef:             Calo
JESComponent.6.Scale:               Tau32WTA
JESComponent.6.Group:               2



JESComponent.7.Name:                Rtrk_Tracking1_pT
JESComponent.7.Param:               PtMass
JESComponent.7.MassDef:             Calo
JESComponent.7.Scale:               Pt
JESComponent.7.Group:               3

JESComponent.8.Name:                Comb_Tracking1
JESComponent.8.Param:               PtMass
JESComponent.8.Scale:               Mass
JESComponent.8.Special:             True
JESComponent.8.CombMassType:        Both
JESComponent.8.CaloMassTerm:        Rtrk_Tracking1_mass
JESComponent.8.CaloMassDef:         Calo
JESComponent.8.TAMassTerm:          TAM_Efficiency,Rtrk_Tracking1_pT
JESComponent.8.TAMassDef:           TA,Calo
JESComponent.8.Group:               3

JESComponent.9.Name:                Rtrk_Tracking1_Tau32
JESComponent.9.Param:               PtMass
JESComponent.9.MassDef:             Calo
JESComponent.9.Scale:               Tau32WTA
JESComponent.9.Group:               3



JESComponent.10.Name:               Rtrk_Tracking2_pT
JESComponent.10.Param:              PtMass
JESComponent.10.MassDef:            Calo
JESComponent.10.Scale:              Pt
JESComponent.10.Group:              3

JESComponent.11.Name:               Comb_Tracking2
JESComponent.11.Param:              PtMass
JESComponent.11.Scale:              Mass
JESComponent.11.Special:            True
JESComponent.11.CombMassType:       Both
JESComponent.11.CaloMassTerm:       Rtrk_Tracking2_mass
JESComponent.11.CaloMassDef:        Calo
JESComponent.11.TAMassTerm:         TAM_Fakes,Rtrk_Tracking2_pT
JESComponent.11.TAMassDef:          TA,Calo
JESComponent.11.Group:              3

JESComponent.12.Name:               Rtrk_Tracking2_Tau32
JESComponent.12.Param:              PtMass
JESComponent.12.MassDef:            Calo
JESComponent.12.Scale:              Tau32WTA
JESComponent.12.Group:              3



JESComponent.13.Name:               Rtrk_Tracking3_pT
JESComponent.13.Param:              PtMass
JESComponent.13.MassDef:            Calo
JESComponent.13.Scale:              Pt
JESComponent.13.Group:              3

JESComponent.14.Name:               Comb_Tracking3
JESComponent.14.Param:              PtMass
JESComponent.14.Scale:              Mass
JESComponent.14.Special:            True
JESComponent.14.CombMassType:       Both
JESComponent.14.CaloMassTerm:       Rtrk_Tracking3_mass
JESComponent.14.CaloMassDef:        Calo
JESComponent.14.TAMassTerm:         Rtrk_Tracking3_pT
JESComponent.14.TAMassDef:          Calo
JESComponent.14.Group:              3

JESComponent.15.Name:               Rtrk_Tracking3_Tau32
JESComponent.15.Param:              PtMass
JESComponent.15.MassDef:            Calo
JESComponent.15.Scale:              Tau32WTA
JESComponent.15.Group:              3


JESComponent.16.Name:               Rtrk_TotalStat_pT
JESComponent.16.Param:              PtMass
JESComponent.16.Scale:              Pt
JESComponent.16.Group:              4

JESComponent.17.Name:               Rtrk_TotalStat_mass
JESComponent.17.Param:              PtMass
JESComponent.17.Scale:              Mass
JESComponent.17.Group:              4

JESComponent.18.Name:               Rtrk_TotalStat_D2
JESComponent.18.Param:              PtMass
JESComponent.18.Scale:              D2Beta1
JESComponent.18.Group:              4

