##############################################################################
#
#  JetUncertaintiesTool Input Settings for W/Z tagging
#    This is the weak correlation assumption variant
#    pT, mass, and D2Beta1 are all uncorrelated
#
#    June 13, 2016
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_ICHEP2016_WZ
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15c
UncertaintyRootFile:                UJ_2015/ICHEP2016/UJUncertainty_ICHEP2016.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               Calo

##############################################################################
# 
#   Settings for components
#
##############################################################################

JESGroup.1.Name:                    Rtrk_Baseline_pT
JESGroup.1.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, pT scale
JESGroup.1.Group:                   1

JESGroup.2.Name:                    Rtrk_Baseline_mass
JESGroup.2.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, mass scale
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Rtrk_Baseline_D2
JESGroup.3.Desc:                    2015 Rtrk measurement, rel 20.7: baseline component, D2 scale
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Rtrk_Modelling_pT
JESGroup.4.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, pT scale
JESGroup.4.Group:                   4

JESGroup.5.Name:                    Rtrk_Modelling_mass
JESGroup.5.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, mass scale
JESGroup.5.Group:                   5

JESGroup.6.Name:                    Rtrk_Modelling_D2
JESGroup.6.Desc:                    2015 Rtrk measurement, rel 20.7: modelling component, D2 scale
JESGroup.6.Group:                   6

JESGroup.7.Name:                    Rtrk_Tracking_pT
JESGroup.7.Desc:                    2015 Rtrk measurement, rel 20.7: tracking component, pT scale
JESGroup.7.Corr:                    Uncorrelated
JESGroup.7.Group:                   7

JESGroup.8.Name:                    Rtrk_Tracking_mass
JESGroup.8.Desc:                    2015 Rtrk measurement, rel 20.7: tracking component, mass scale
JESGroup.8.Corr:                    Uncorrelated
JESGroup.8.Group:                   8

JESGroup.9.Name:                    Rtrk_Tracking_D2
JESGroup.9.Desc:                    2015 Rtrk measurement, rel 20.7: tracking component, D2 scale
JESGroup.9.Corr:                    Uncorrelated
JESGroup.9.Group:                   9

JESGroup.10.Name:                   Rtrk_TotalStat_pT
JESGroup.10.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, pT scale
JESGroup.10.Group:                  10

JESGroup.11.Name:                   Rtrk_TotalStat_mass
JESGroup.11.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, mass scale
JESGroup.11.Group:                  11

JESGroup.12.Name:                   Rtrk_TotalStat_D2
JESGroup.12.Desc:                   2015 Rtrk measurement, rel 20.7: statistical component, D2 scale
JESGroup.12.Group:                  12



# Components
JESComponent.1.Name:                Rtrk_Baseline_pT
JESComponent.1.Param:               PtMass
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Rtrk_Baseline_mass
JESComponent.2.Param:               PtMass
JESComponent.2.Scale:               Mass
JESComponent.2.Group:               2

JESComponent.3.Name:                Rtrk_Baseline_D2
JESComponent.3.Param:               PtMass
JESComponent.3.Scale:               D2Beta1
JESComponent.3.Group:               3



JESComponent.4.Name:                Rtrk_Modelling_pT
JESComponent.4.Param:               PtMass
JESComponent.4.Scale:               Pt
JESComponent.4.Group:               4

JESComponent.5.Name:                Rtrk_Modelling_mass
JESComponent.5.Param:               PtMass
JESComponent.5.Scale:               Mass
JESComponent.5.Group:               5

JESComponent.6.Name:                Rtrk_Modelling_D2
JESComponent.6.Param:               PtMass
JESComponent.6.Scale:               D2Beta1
JESComponent.6.Group:               6



JESComponent.7.Name:                Rtrk_Tracking1_pT
JESComponent.7.Param:               PtMass
JESComponent.7.Scale:               Pt
JESComponent.7.Group:               7

JESComponent.8.Name:                Rtrk_Tracking1_mass
JESComponent.8.Param:               PtMass
JESComponent.8.Scale:               Mass
JESComponent.8.Group:               8

JESComponent.9.Name:                Rtrk_Tracking1_D2
JESComponent.9.Param:               PtMass
JESComponent.9.Scale:               D2Beta1
JESComponent.9.Group:               9



JESComponent.10.Name:               Rtrk_Tracking2_pT
JESComponent.10.Param:              PtMass
JESComponent.10.Scale:              Pt
JESComponent.10.Group:              7

JESComponent.11.Name:               Rtrk_Tracking2_mass
JESComponent.11.Param:              PtMass
JESComponent.11.Scale:              Mass
JESComponent.11.Group:              8

JESComponent.12.Name:               Rtrk_Tracking2_D2
JESComponent.12.Param:              PtMass
JESComponent.12.Scale:              D2Beta1
JESComponent.12.Group:              9



JESComponent.13.Name:               Rtrk_Tracking3_pT
JESComponent.13.Param:              PtMass
JESComponent.13.Scale:              Pt
JESComponent.13.Group:              7

JESComponent.14.Name:               Rtrk_Tracking3_mass
JESComponent.14.Param:              PtMass
JESComponent.14.Scale:              Mass
JESComponent.14.Group:              8

JESComponent.15.Name:               Rtrk_Tracking3_D2
JESComponent.15.Param:              PtMass
JESComponent.15.Scale:              D2Beta1
JESComponent.15.Group:              9



JESComponent.16.Name:               Rtrk_TotalStat_pT
JESComponent.16.Param:              PtMass
JESComponent.16.Scale:              Pt
JESComponent.16.Group:              10

JESComponent.17.Name:               Rtrk_TotalStat_mass
JESComponent.17.Param:              PtMass
JESComponent.17.Scale:              Mass
JESComponent.17.Group:              11

JESComponent.18.Name:               Rtrk_TotalStat_D2
JESComponent.18.Param:              PtMass
JESComponent.18.Scale:              D2Beta1
JESComponent.18.Group:              12

