# **********************************************************************
# $Id: $
# **********************************************************************

#######################
# CSClumi
#######################

#######################
# Output
#######################

#output top_level {
#  output MuonDetectors {
#    output CSC {
#    } ## end CSC
#  } ## end MuonDetectors
#} ## end top_level

#######################
# Histogram Assessments
#######################

#dir Muon {
#  algorithm = CSCHistogram_Not_Empty&GatherData
#  dir MuonRawDataMonitoring {
#    dir CSC {
#      dir PRD {
#        dir Lumi {
#          output = MuonDetectors/CSC
#            hist h2csc_prd_lb_hitmap {
#              display = TCanvas(1050,500),LogZ
#                algorithm = CSCHistogram_Not_Empty&GatherData
#            }
############################
#        } # end Lumi
#      } # end PRD
#    } ## end CSC
#  } ## end MuonRawDataMonitoring

#} ## end Muon

##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm CSCHistogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm CSCHistogram_Not_Empty&GatherData {
  name = CSCHistogram_Not_Empty&GatherData
}
