# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLT
#######################

#######################
# Output
#######################

output top_level {

    output HLT {
       output Global {
          output AllChains {
          }
       }
    }
}

#######################
# Histogram Assessments
#######################

dir HLT {
   algorithm = HLT_Histogram_Not_Empty&GatherData

   dir ResultMon {
       output = HLT/Global
       hist all_in_dir { 
         algorithm = HLT_Histogram_Not_Empty&GatherData
         reference = CentrallyManagedReferences
       }
       dir AllChains {
 	output = HLT/Global/AllChains
         hist .* {
 	  regex = 1
         }
       }
   }
}


##############
# Algorithms
##############

compositeAlgorithm HLT_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLT_Histogram_Not_Empty&GatherData {
  name = HLT_Histogram_Not_Empty&GatherData
}

###############
# Thresholds
###############
