# **********************************************************************
# $Id: cosmics_run.config 
# **********************************************************************

#######################
# HLT
#######################

#######################
# Reference
#######################


##reference HLTglobal_Ref {
##  file = /eos/atlas/atlastier0/rucio/data15_cos/express_express/00261456/data15_cos.00261456.express_express.merge.HIST.x316_h17/data15_cos.00261456.express_express.merge.HIST.x316_h17._0001.1
##  path = run_261456
##  name = same_name
##}

#######################
# Output
#######################

output top_level {

    output HLT {
       output TRHLT {
          output HLT_AllChains {
          }
	  output HLT_Electrons {
          }
          output HLT_Gamma {
          }
          output HLT_Muons {
          }
          output HLT_MinBias {
          }
          output HLT_MissingET {
          }
          output HLT_Taus {
          }
          output HLT_Jets {
          }
       }
    }
}

#######################
# Histogram Assessments
#######################

dir HLT {
   algorithm = HLT_Histogram_Not_Empty&GatherData

   dir ResultMon { 
       output = HLT/TRHLT

       hist ConfigConsistency_HLT { 
         algorithm = HLT_Histogram_Empty
         description = All bins should be empty. If any bin is filled, inform the Trigger ONLINE Expert IMMEDIATELY.
       }

       hist HLTEvents { 
	 algorithm = HLT_Histogram_Not_Empty&GatherData
	 description = Simple count histogram, of all events which pass any HLT chain. 
       }

       hist L1Events { 
         algorithm = HLT_Histogram_Not_Empty&GatherData
	 description = L1 items and their counts
       }

       dir HLT_AllChains {
 	output = HLT/TRHLT/HLT_AllChains
	hist HLT_AllChainsPS {
          algorithm = HLT_Histogram_Not_Empty&GatherData
	}
	hist HLT_AllChainsRAW {
          algorithm = HLT_Histogram_Not_Empty&GatherData
	}
	hist HLT_AllChainsRoIs {
          algorithm = HLT_Histogram_Not_Empty&GatherData
	}
       }
       dir HLT_Electrons {
 	output = HLT/TRHLT/HLT_Electrons
	hist HLT_ElectronsPS {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
	hist HLT_ElectronsRAW {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}

	hist HLT_ElectronsRoIs {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
       }

       dir HLT_Gamma {
 	output = HLT/TRHLT/HLT_Gamma

	hist HLT_GammaPS {
	  algorithm = HLT_PassInput
	}
	hist HLT_GammaRAW {
	  algorithm = HLT_PassInput
	}
	hist HLT_GammaRoIs {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
       }

       dir HLT_Jets {
 	output = HLT/TRHLT/HLT_Jets
	hist HLT_JetsPS {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
	hist HLT_JetsRAW {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
       }

       dir HLT_MinBias {
 	output = HLT/TRHLT/HLT_MinBias
	hist HLT_MinBiasPS {
	  algorithm = HLT_PassInput
	}
	hist HLT_MinBiasRAW {
	  algorithm = HLT_PassInput
	}
       }

       dir HLT_MissingET {
 	output = HLT/TRHLT/HLT_MissingET
	hist HLT_MissingETPS {
	  algorithm = HLT_PassInput
	}
	hist HLT_MissingETRAW {
	  algorithm = HLT_PassInput
	}
	hist HLT_MissingETRoIs {
	  algorithm = HLT_PassInput
	}
       }

       dir HLT_Muons {
 	output = HLT/TRHLT/HLT_Muons

	hist HLT_MuonsPS {
	  algorithm = HLT_PassInput
	}
	hist HLT_MuonsRAW {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
	hist HLT_MuonsRoIs {
	  algorithm = HLT_Histogram_Not_Empty&GatherData
	}
       }

       dir HLT_Taus {
 	output = HLT/TRHLT/HLT_Taus
	hist HLT_TausPS {
	  algorithm = HLT_PassInput
	}
	hist HLT_TausRAW {
	  algorithm = HLT_PassInput
	}
	hist HLT_TausRoIs {
	  algorithm = HLT_PassInput
	}
       }
   }
}


##############
# Algorithms
##############

compositeAlgorithm HLT_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLT_Histogram_Not_Empty&GatherData {
  name = HLT_Histogram_Not_Empty&GatherData
}
algorithm HLT_Histogram_Not_Empty_with_Ref&GatherData {
  name = HLT_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}
algorithm HLT_PassInput {
  libname = libdqm_algorithms.so
  name = PassInput
}

algorithm HLT_Histogram_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Empty
}

###############
# Thresholds
###############
