# **********************************************************************
# $Id: heavyions_run.config 708036 2015-11-15 22:53:55Z ebergeas $
# **********************************************************************

#######################
# HLT
#######################

#######################
# Output
#######################

output top_level {

    output HLT {
       output TRHLT {
          output AllChains {
          }
          output Electrons {
          }
          output Gamma {
          }
          output Muons {
          }
##          output MissingET {
##          }
          output Jets {
          }
       }
    }
}

##############
# References
##############

reference HLT_local_reference {
  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/data15_13TeV.00267638.physics_EnhancedBias.merge.HIST.r6857_p1831.root
  path = run_267638
  name = same_name
}


#######################
# Histogram Assessments
#######################

dir HLT {
##   algorithm = HLT_Histogram_Not_Empty&GatherData
##   reference = HLT_local_reference

   dir ResultMon {
       output = HLT/TRHLT
       
       hist ConfigConsistency_HLT {
##	 regex = 1
         algorithm = HLT_Histogram_Empty
         description = All bins should be empty. If any bin is filled, inform the Trigger ONLINE Expert IMMEDIATELY. 
       }

       hist HLTResultHLT { 
##	 regex = 1
	 algorithm = HLT_Histogram_Not_Empty&GatherData
       }

       hist L1Events { 
         algorithm = HLT_Histogram_Not_Empty&GatherData
       }

		
       dir AllChains {
 	output = HLT/TRHLT/AllChains
        hist HLT.*P[ST] {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist HLT_AllChainsRAW {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist AllChainsRoIs {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
          description = Histogram should not be empty. If it is, contact the Trigger Offline Expert on-call. 
	}
       }

       dir Electrons {
 	output = HLT/TRHLT/Electrons
        hist HLT.*P[ST] {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist HLT_ElectronsRAW {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist ElectronsRoIs {
	  regex = 1
##	  algorithm = HLT_PassInput
	  algorithm = HLT_Histogram_Not_Empty&GatherData
          description = Histogram should not be empty. If it is, contact the Trigger Offline Expert and the Egamma Expert on-call. 
	}
       }

       dir Gamma {
 	output = HLT/TRHLT/Gamma
        
	hist HLT.*P[ST] {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist HLT_GammaRAW {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist GammaRoIs {
	  regex = 1
##	  algorithm = HLT_PassInput
	  algorithm = HLT_Histogram_Not_Empty&GatherData
          description = Histogram should not be empty. If it is, contact the Trigger Offline Expert and the Egamma Expert on-call. 
	}
       }

       dir Jets {
 	output = HLT/TRHLT/Jets
        hist HLT.*P[ST] {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist HLT_JetsRAW {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
       }

##       dir MissingET {
## 	output = HLT/TRHLT/MissingET
##        hist HLT.*P[ST] {
##	  regex = 1
##          algorithm = HLT_Histogram_Not_Empty&GatherData
##	}
##	hist HLT_MissingETRAW {
##	  regex = 1
##          algorithm = HLT_Histogram_Not_Empty&GatherData
##	}
####	hist MissingETRoIs {
####	  regex = 1
####	  algorithm = HLT_PassInput
####	}
##       }

       dir Muons {
 	output = HLT/TRHLT/Muons

	hist HLT.*P[ST] {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist HLT_MuonsRAW {
	  regex = 1
          algorithm = HLT_Histogram_Not_Empty&GatherData
##	  algorithm = HLT_PassInput
	}
	hist MuonsRoIs {
	  regex = 1
##	  algorithm = HLT_PassInput
	  algorithm = HLT_Histogram_Not_Empty&GatherData
          description = Histogram should not be empty. If it is, contact the Trigger Offline Expert and the Muon Expert on-call. 
	}
       }
   }
}


##############
# Algorithms
##############

compositeAlgorithm HLT_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

algorithm HLT_Histogram_Not_Empty&GatherData {
  name = HLT_Histogram_Not_Empty&GatherData
}

algorithm HLT_Histogram_Not_Empty_with_Ref&GatherData {
  name = HLT_Histogram_Not_Empty&GatherData
  #reference = HLT_local_reference
  #reference = CentrallyManagedReferences 
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}


algorithm HLT_PassInput {
  libname = libdqm_algorithms.so
  name = PassInput
}

algorithm HLT_Histogram_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Empty
}




###############
# Thresholds
###############
