# **********************************************************************
# $Id: collisions_run.config 654896 2015-03-17 21:33:35Z avishek $
# **********************************************************************

#######################
# HLTelec
#######################

#######################
# Output - Shifter
#######################

output top_level {
  output HLT {
    output TRELE {
      output Shifter {
        output check_FEX {
          output L1 {
          }
          output L2Calo {
          }
          output L2IDSi {
          }
          output EFSiCalo {
          }
          output EFSiID {
          }
        }
        ###---End of output check_FEX
      }
      ###---End of output Shifter
    }
    ###---End of output TRELE
  }
  ###---End of output HLT
}
###---End of output top_level

##############
# Algorithms
##############

algorithm HLTGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

algorithm HLTelecHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty&GatherData
  reference = CentrallyManagedReferences
}

algorithm HLTelecHistogram_KolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = th_HLTelec_KSTest_MaxDist
  MinStat = -1
  reference = CentrallyManagedReferences
}

###############
# Thresholds
###############

thresholds th_HLTelec_KSTest_MaxDist {
  limits MaxDist {
    warning = 0.1
    error = 0.4
  }
}

#######################
# Histogram Assessments
#######################

###-------------------
###--- Shifter
###-------------------

dir HLT {

  dir Egamma {
    dir single_e_no_iso {
      dir L1 {
        output = HLT/TRELE/Shifter/check_FEX/L1
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir L2Calo {
        output = HLT/TRELE/Shifter/check_FEX/L2Calo
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir L2IDSi {
        output = HLT/TRELE/Shifter/check_FEX/L2IDSi
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir EFSiCalo {
        output = HLT/TRELE/Shifter/check_FEX/EFSiCalo
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir EFSiID {
        output = HLT/TRELE/Shifter/check_FEX/EFSiID
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
    }
  }

}

