# **********************************************************************
# $Id: cosmics_run.config 650011 2015-02-26 15:24:22Z avishek $
# **********************************************************************

#######################
# HLTelec
#######################

#######################
# Output - Shifter
#######################

output top_level {
  output HLT {
    output TRELE {
      output Shifter {
        output check_FEX {
          output L1 {
          }
          output L2Calo {
          }
          output L2IDSi {
          }
          output EFSiCalo {
          }
          output EFSiID {
          }
        }
        ###---End of output check_FEX
      }
      ###---End of output Shifter
    }
    ###---End of output TRELE
  }
  ###---End of output HLT
}
###---End of output top_level

##############
# Algorithms
##############

algorithm HLTGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}


#######################
# Histogram Assessments
#######################

###-------------------
###--- Shifter
###-------------------

dir HLT {

  dir Egamma {
    dir single_e_no_iso {
      dir L1 {
        output = HLT/TRELE/Shifter/check_FEX/L1
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir L2Calo {
        output = HLT/TRELE/Shifter/check_FEX/L2Calo
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir L2IDSi {
        output = HLT/TRELE/Shifter/check_FEX/L2IDSi
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir EFSiCalo {
        output = HLT/TRELE/Shifter/check_FEX/EFSiCalo
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
      dir EFSiID {
        output = HLT/TRELE/Shifter/check_FEX/EFSiID
        hist all_in_dir {
          algorithm = HLTGatherData
          reference = CentrallyManagedReferences
        }
      }
    }
  }

}

