# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTelec
#######################

#######################
# Output - EXPERT
#######################

output top_level {
  output HLT {
    output TRELE {	
      output EXPERT {
        output check_FEX {
          output L1 {
          }
          output L2Calo {
          }
          output L2IDSi {
          }
          output EFSiCalo {
          }
          output EFSiID {
          }
        }
###---End of output check_FEX 

      }
###---End of output EXPERT
    }
###---End of output TRELE	
  }
###---End of output HLT	
}
###---End of output top_level

##############
# Algorithms
##############

compositeAlgorithm compAlgHLTelecHistogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
    libnames = libdqm_algorithms.so
} 


algorithm HLTGatherData {
  libname = libdqm_algorithms.so
    name = GatherData
    reference = CentrallyManagedReferences
}

algorithm HLTelecHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
    name = compAlgHLTelecHistogram_Not_Empty&GatherData
    reference = CentrallyManagedReferences
}

algorithm HLTelecHistogram_KolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_MaxDist	
    thresholds = th_HLTelec_KSTest_MaxDist
    MinStat = -1
    reference = CentrallyManagedReferences
}


algorithm HLTelecHistogram_KolmogorovTest_Prob {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_Prob
    thresholds = th_HLTelec_KSTest_Prob
    MinStat = -1
    reference = CentrallyManagedReferences
}


###############
# Thresholds
###############

thresholds th_HLTelec_KSTest_Prob {
  limits P {
    warning = 0.6
      error = 0.3
  }
}

thresholds th_HLTelec_KSTest_MaxDist {
  limits MaxDist {
    warning = 0.4
      error = 0.7
  }
}

#######################
# Histogram Assessments
#######################

###-------------------
###--- EXPERT
###-------------------

dir HLT {
#algorithm = HLT_Histogram_Not_Empty&GatherData

  dir EgammaMon {
    dir L1 {
      output = HLT/TRELE/EXPERT/check_FEX/L1
        hist all_in_dir {
          algorithm = HLTGatherData
            reference = CentrallyManagedReferences
        }
    }
    dir L2Calo {
      output = HLT/TRELE/EXPERT/check_FEX/L2Calo
        hist all_in_dir {
          algorithm = HLTGatherData
            reference = CentrallyManagedReferences
        }
    }
    dir L2IDSi {
      output = HLT/TRELE/EXPERT/check_FEX/L2IDSi
        hist all_in_dir {
          algorithm = HLTGatherData
            reference = CentrallyManagedReferences
        }
    }
    dir EFSiCalo {
      output = HLT/TRELE/EXPERT/check_FEX/EFSiCalo
        hist all_in_dir {
          algorithm = HLTGatherData
            reference = CentrallyManagedReferences
        }
    }
    dir EFSiID {
      output = HLT/TRELE/EXPERT/check_FEX/EFSiID
        hist all_in_dir {
          algorithm = HLTGatherData
            reference = CentrallyManagedReferences
        }
    }
  }
###--End of EgammaMon

}

