# **********************************************************************
# $Id: heavyions_run.config 516887 2012-09-09 22:34:18Z vogel $
# **********************************************************************

#######################
# HLTelec
#######################

#######################
# Output - EXPERT
#######################

output top_level {
  output HLT {
    output TRELE {	
      output EXPERT {

############################
###---- EgammaSigTE 
############################
        output OfflineElectron {
        }
###---e24vh_medium1	
        output e24vh_medium1 {
            output Rejection {
            }
            output PreRejection {
            }
            output L2ID {
              output Resolution {    
              }
              output EffEle {    
              }
            }          
            output L2Calo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output L1 {	    
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFID {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
        }
###---End of e24vh_medium1
###---2e12Tvh_loose1	
        output 2e12Tvh_loose1 {
            output Rejection {
            }
            output PreRejection {
            }
            output L2ID {
              output Resolution {    
              }
              output EffEle {    
              }
            }          
            output L2Calo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output L1 {	    
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFID {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
        }
###---End of 2e12Tvh_loose1
###---e24vh_tight1_e15_NoCut_Zee	
        output e24vh_tight1_e15_NoCut_Zee {
            output Rejection {
            }
            output PreRejection {
            }
            output L2ID {
              output Resolution {    
              }
              output EffEle {    
              }
            }          
            output L2Calo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output L1 {	    
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFID {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
        }
###---End of e24vh_tight1_e15_NoCut_Zee
###---e24vhi_medium1	
        output e24vhi_medium1 {
            output Rejection {
            }
            output PreRejection {
            }
            output L2ID {
              output Resolution {    
              }
              output EffEle {    
              }
            }          
            output L2Calo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output L1 {	    
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFID {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
        }
###---End of e24vhi_medium1

###---e24vh_medium1_L2StarB	
        output e24vh_medium1_L2StarB {
            output Rejection {
            }
            output PreRejection {
            }
            output L2ID {
              output Resolution {    
              }
              output EffEle {    
              }
            }          
            output L2Calo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output L1 {	    
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFID {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
            output EFCalo {            
              output Resolution {    
              }
              output EffEle {    
              }
            }
        }
###---End of e24vh_medium1_L2StarB


      }
###---End of output EXPERT
    }
###---End of output TRELE	
  }
###---End of output HLT	
}
###---End of output top_level

##############
# Algorithms
##############

algorithm HLTGatherData {
  libname = libdqm_algorithms.so
    name = GatherData
    reference = CentrallyManagedReferences
}

algorithm HLTelecHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
    name = Histogram_Not_Empty&GatherData
    reference = CentrallyManagedReferences
}

algorithm HLTelecHistogram_KolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_MaxDist	
    thresholds = th_HLTelec_KSTest_MaxDist
    MinStat = -1
    reference = CentrallyManagedReferences
}


algorithm HLTelecHistogram_KolmogorovTest_Prob {
  libname = libdqm_algorithms.so
    name = KolmogorovTest_Prob
    thresholds = th_HLTelec_KSTest_Prob
    MinStat = -1
    reference = CentrallyManagedReferences
}


###############
# Thresholds
###############

thresholds th_HLTelec_KSTest_Prob {
  limits P {
    warning = 0.6
      error = 0.3
  }
}

thresholds th_HLTelec_KSTest_MaxDist {
  limits MaxDist {
    warning = 0.4
      error = 0.7
  }
}

#######################
# Histogram Assessments
#######################

###-------------------
###--- EXPERT
###-------------------

dir HLT {
#algorithm = HLT_Histogram_Not_Empty&GatherData

############################
###---- EgammaSigTE 
############################
  dir EgammaSigTE {
    dir OfflineElectron {
      output = HLT/TRELE/EXPERT/OfflineElectron
        hist egEtaPhiMap {
          algorithm = HLTelecHistogram_Not_Empty&GatherData
            reference = CentrallyManagedReferences
        }
      hist trkEtaPhiMap {
        algorithm = HLTelecHistogram_Not_Empty&GatherData
          reference = CentrallyManagedReferences
      }
      hist all_in_dir {
        algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
          reference = CentrallyManagedReferences
      }
    }

###---e24vh_medium1
    dir e24vh_medium1 {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/Rejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/PreRejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2ID { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/L2ID
            hist EtaPhiAtCaloMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/L2ID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/L2ID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L2Calo { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/L2Calo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/L2Calo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/L2Calo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L1 { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/L1
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/L1/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/L1/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFID { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/EFID
            hist trkEtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/EFID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/EFID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFCalo { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1/EFCalo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/EFCalo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1/EFCalo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of e24vh_medium1

###---e24vhi_medium1
    dir e24vhi_medium1 {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/Rejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/PreRejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2ID { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/L2ID
            hist EtaPhiAtCaloMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/L2ID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/L2ID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L2Calo { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/L2Calo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/L2Calo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/L2Calo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L1 { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/L1
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/L1/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/L1/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFID { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/EFID
            hist trkEtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/EFID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/EFID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFCalo { 	
          output = HLT/TRELE/EXPERT/e24vhi_medium1/EFCalo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/EFCalo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vhi_medium1/EFCalo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of e24vhi_medium1

###---2e12Tvh_loose1
    dir 2e12Tvh_loose1 {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/Rejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/PreRejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2ID { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L2ID
            hist EtaPhiAtCaloMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L2ID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L2ID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L2Calo { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L2Calo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L2Calo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L2Calo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L1 { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L1
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L1/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/L1/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFID { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/EFID
            hist trkEtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/EFID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/EFID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFCalo { 	
          output = HLT/TRELE/EXPERT/2e12Tvh_loose1/EFCalo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/EFCalo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/2e12Tvh_loose1/EFCalo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of 2e12Tvh_loose1


###---e24vh_tight1_e15_NoCut_Zee
    dir e24vh_tight1_e15_NoCut_Zee {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/Rejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/PreRejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2ID { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L2ID
            hist EtaPhiAtCaloMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L2ID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L2ID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L2Calo { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L2Calo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L2Calo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L2Calo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L1 { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L1
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L1/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/L1/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFID { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/EFID
            hist trkEtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/EFID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/EFID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFCalo { 	
          output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/EFCalo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/EFCalo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_tight1_e15_NoCut_Zee/EFCalo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of e24vh_tight1_e15_NoCut_Zee

###---e24vh_medium1_L2StarB
    dir e24vh_medium1_L2StarB {
#---PassedChain
      dir PassedChain { 
        dir Rejection { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/Rejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir PreRejection { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/PreRejection
            hist all_in_dir {
              algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                reference = CentrallyManagedReferences
            }
        }
        dir L2ID { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L2ID
            hist EtaPhiAtCaloMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L2ID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L2ID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L2Calo { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L2Calo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L2Calo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L2Calo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
        dir L1 { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L1
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }      
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L1/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/L1/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFID { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/EFID
            hist trkEtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/EFID/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/EFID/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }     
        dir EFCalo { 	
          output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/EFCalo
            hist EtaPhiMap {
              algorithm = HLTelecHistogram_Not_Empty&GatherData
                reference = CentrallyManagedReferences
            }
          hist all_in_dir {
            algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
              reference = CentrallyManagedReferences
          }
          dir EffEle { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/EFCalo/EffEle
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
              }
          }
          dir Resolution { 	
            output = HLT/TRELE/EXPERT/e24vh_medium1_L2StarB/EFCalo/Resolution
              hist all_in_dir {
                algorithm = HLTelecHistogram_KolmogorovTest_MaxDist
                  reference = CentrallyManagedReferences
                  display = LogY	
              }
          }
        }
      }
#---End of PassedChain 
    }
###---End of e24vh_medium1_L2StarB

  }





}
###--End of HLT


###############
# Thresholds
###############
