# **********************************************************************
# $Id: collisions_run.config 
# **********************************************************************

#######################
# HLTcalo
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output Run3 {
      output TRCAL {
        #Put your Run3 output folders here
        output Shifter {
        }
        output Expert {
        }
      }
    }
    output Run2 {
      output TRCAL {
        output Shifter {
          output CaloCells {
          }
          output xAODTrigEMClusters {
          }
          output xAODCaloClusters {
          }
      	}
      	output Expert {
          output CaloCells {
          }
	  output xAODTrigEMClusters {
          }
          output xAODCaloClusters {
          }
        }
      }
    }
  }
}

##############
# Algorithms
##############
algorithm HLTCaloHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
}


#######################
# Histogram Assessments
#######################


#### Run 3

dir HLT {
    #Add histname
    #Add description, algorithm etc
    #output = HLT/Run3/TRCAL/<subfolder>
}


#### Run 2

dir HLT {

  dir HLTCaloESD {

    dir HLT_CaloCellContainer_TrigCaloCellMaker {
      ### SHIFTER
      hist HLT_LARG_num {
        algorithm = GatherData
	output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_LARG_num_map {
        algorithm = GatherData
	output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_LARG_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_LARG_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_num {
        algorithm = GatherData
	output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_num_map {
        algorithm = GatherData
	output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_LARG_delta_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_LARG_delta_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_TILE_delta_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_TILE_delta_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/CaloCells
      }
      ### EXPERT
      hist HLT_EMB__num {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_EMB__num_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      } 
      hist HLT_EMB__energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_EMB__energy_map {
        algorithm = GatherData      
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_EMEC_num {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_EMEC_num_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      } 
      hist HLT_EMEC_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_EMEC_energy_map {
        algorithm = GatherData      
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_HEC__num {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_HEC__num_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      } 
      hist HLT_HEC__energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_HEC__energy_map {
        algorithm = GatherData      
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_FCAL_num {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_FCAL_num_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      } 
      hist HLT_FCAL_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_FCAL_energy_map {
        algorithm = GatherData      
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMB__delta_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMB__delta_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMEC_delta_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMEC_delta_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_HEC__delta_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_HEC__delta_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_FCAL_delta_energy {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_FCAL_delta_energy_map {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Expert/CaloCells
      }   	
    }

    dir HLT_xAOD__TrigEMClusterContainer_TrigT2CaloEgamma {
      ### SHIFTER
      hist HLT_num {
       	algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_size {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_vs_OFF_et_vs_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_vs_OFF_resolution {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
	display = LogY
      }
      hist HLT_vs_OFF_resolution_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODTrigEMClusters
      }
      ### EXPERT
      hist OFF_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
 	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_size {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_type {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }  
      hist HLT_vs_OFF_minimum_delta_r {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
	display = LogY
      }
      hist OFF_no_HLT_matches_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_no_HLT_matches_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODTrigEMClusters
      }
    }

    dir HLT_xAOD__CaloClusterContainer_TrigCaloClusterMaker {
      ### SHIFTER
      hist HLT_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_size {
        algorithm = GatherData
        output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_type {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_vs_OFF_et_vs_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_vs_OFF_resolution {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
	display = LogY
      }
      hist HLT_vs_OFF_resolution_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Shifter/xAODCaloClusters
      }	
      ### EXPERT
      hist OFF_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
       	output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }	    
      hist OFF_size {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_type {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }
      hist HLT_vs_OFF_minimum_delta_r {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
	display = LogY
      }           
      hist OFF_no_HLT_matches_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      }         
      hist OFF_no_HLT_matches_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/Run2/TRCAL/Expert/xAODCaloClusters
      } 
    }

  }
}

