# **********************************************************************
# $Id: collisions_run.config 671092 2015-05-30 14:56:20Z wigleswt $
# **********************************************************************

#######################
# HLTcalo
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRCAL {
      output Shifter {
        output CaloCells {
        }
        output xAODTrigEMClusters {
        }
        output xAODCaloClusters {
        }
      }
      output Expert {
        output CaloCells {
        }
	output xAODTrigEMClusters {
        }
        output xAODCaloClusters {
        }
      }
    }
  }
}

##############
# Algorithms
##############
algorithm HLTCaloHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
}

dir HLT {

  dir HLTCaloESD {

    dir HLT_CaloCellContainer_TrigCaloCellMaker {
      ### SHIFTER
      hist HLT_LARG_num {
        algorithm = GatherData
	output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_LARG_num_map {
        algorithm = GatherData
	output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_LARG_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_LARG_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_num {
        algorithm = GatherData
	output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_num_map {
        algorithm = GatherData
	output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_TILE_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_LARG_delta_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_LARG_delta_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_TILE_delta_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      hist HLT_vs_OFF_TILE_delta_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/CaloCells
      }
      ### EXPERT
      hist HLT_EMB__num {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_EMB__num_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      } 
      hist HLT_EMB__energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_EMB__energy_map {
        algorithm = GatherData      
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_EMEC_num {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_EMEC_num_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      } 
      hist HLT_EMEC_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_EMEC_energy_map {
        algorithm = GatherData      
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_HEC__num {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_HEC__num_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      } 
      hist HLT_HEC__energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_HEC__energy_map {
        algorithm = GatherData      
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_FCAL_num {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_FCAL_num_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      } 
      hist HLT_FCAL_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_FCAL_energy_map {
        algorithm = GatherData      
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMB__delta_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMB__delta_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMEC_delta_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_EMEC_delta_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_HEC__delta_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_HEC__delta_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_FCAL_delta_energy {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }
      hist HLT_vs_OFF_FCAL_delta_energy_map {
        algorithm = GatherData
        output = HLT/TRCAL/Expert/CaloCells
      }   	
    }

    dir HLT_xAOD__TrigEMClusterContainer_TrigT2CaloEgamma {
      ### SHIFTER
      hist HLT_num {
       	algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_size {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_vs_OFF_et_vs_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      hist HLT_vs_OFF_resolution {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
	display = LogY
      }
      hist HLT_vs_OFF_resolution_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODTrigEMClusters
      }
      ### EXPERT
      hist OFF_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
 	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_size {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_type {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }  
      hist HLT_vs_OFF_minimum_delta_r {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODTrigEMClusters
	display = LogY
      }
      hist OFF_no_HLT_matches_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
      hist OFF_no_HLT_matches_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODTrigEMClusters
      }
    }

    dir HLT_xAOD__CaloClusterContainer_TrigCaloClusterMaker {
      ### SHIFTER
      hist HLT_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_size {
        algorithm = GatherData
        output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_type {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_vs_OFF_et_vs_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }
      hist HLT_vs_OFF_resolution {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
	display = LogY
      }
      hist HLT_vs_OFF_resolution_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Shifter/xAODCaloClusters
      }	
      ### EXPERT
      hist OFF_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_et {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_eta {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_phi {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
       	output = HLT/TRCAL/Expert/xAODCaloClusters
      }	    
      hist OFF_size {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
	output = HLT/TRCAL/Expert/xAODCaloClusters
      }
      hist OFF_type {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODCaloClusters
      }
      hist HLT_vs_OFF_minimum_delta_r {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODCaloClusters
	display = LogY
      }           
      hist OFF_no_HLT_matches_num {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODCaloClusters
      }         
      hist OFF_no_HLT_matches_num_map {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData
        output = HLT/TRCAL/Expert/xAODCaloClusters
      } 
    }

  }
}

