# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTcalo
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRCAL {
      output CaloTool {
      }
      output CaloFEBTool {
      }
      output CaloToolL2 {
      }
      output CaloCluster {
        output L2 {
        }
        output EF {
        }
      }
    }
  }
}

##############
# Algorithms
##############
algorithm HLTCaloHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = CentrallyManagedReferences
}
compositeAlgorithm RMS&Mean&GatherData {
  subalgs = GatherData,CheckHisto_RMS,CheckHisto_Mean
  libnames = libdqm_algorithms.so
}
#######################
# CaloMon 
#######################

algorithm Calo_CheckMean_CheckRMS_CaloTool {
  libname = libdqm_algorithms.so
  #name = CheckHisto_Mean&CheckHisto_RMS&GatherData
  name = RMS&Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm NBadCellsLAr {
    CheckHisto_Mean|thresholds = CaloMon_CheckMeanX_NBadCellsLar
    CheckHisto_RMS|thresholds = CaloMon_CheckRMSX_NBadCellsLar
    SubtractFromXMean = 3500
  }
  algorithm NCellsLAr {
    CheckHisto_Mean|thresholds = CaloMon_CheckMeanX_NCellsLar
    CheckHisto_RMS|thresholds = CaloMon_CheckRMSX_NCellsLar
    SubtractFromXMean = 178900
  }
  algorithm NCellsTile {
    CheckHisto_Mean|thresholds = CaloMon_CheckMeanX_NCellsTile
    CheckHisto_RMS|thresholds = CaloMon_CheckRMSX_NCellsTile
    SubtractFromXMean = 5146
  }
  algorithm conversionErrors {
    CheckHisto_Mean|thresholds = CaloMon_CheckMeanX_conversionError
    CheckHisto_RMS|thresholds = CaloMon_CheckRMSX_conversionError
    SubtractFromXMean = 0
  }
}
#######################
# CaloMonL2 
#######################
algorithm Calo_CheckMean_CheckRMS_CaloToolL2 {
  libname = libdqm_algorithms.so
  #name = CheckHisto_Mean&CheckHisto_RMS&GatherData
  name = RMS&Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm NBadCellsLAr {
    CheckHisto_Mean|thresholds = CaloMonL2_CheckMeanX_NBadCellsLar
    CheckHisto_RMS|thresholds = CaloMonL2_CheckRMSX_NBadCellsLar
    SubtractFromXMean = 0
  }
  algorithm NCellsLAr {
    CheckHisto_Mean|thresholds = CaloMonL2_CheckMeanX_NCellsLar
    CheckHisto_RMS|thresholds = CaloMonL2_CheckRMSX_NCellsLar
    SubtractFromXMean = 70
  }
  algorithm PercentDiffLAr {
    CheckHisto_Mean|thresholds = CaloMonL2_CheckMeanX_PercentDiffLAr
    CheckHisto_RMS|thresholds = CaloMonL2_CheckRMSX_PercentDiffLAr
    SubtractFromXMean = 1.5
  }
}
#######################
# CaloCluster 
#######################
algorithm Calo_CheckMean_CheckRMS_CaloCluster {
  libname = libdqm_algorithms.so
  name = RMS&Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm NOffCluster {
    CheckHisto_Mean|thresholds = CaloCluster_CheckMeanX_NOffCluster
    CheckHisto_RMS|thresholds = CaloCluster_CheckRMSX_NOffCluster
    SubtractFromXMean = 1.5
  }
}

#######################
# CaloClusterL2 
#######################
algorithm Calo_CheckMean_CheckRMS_CaloClusterL2 {
  libname = libdqm_algorithms.so
  name = RMS&Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm NOnClusterEgammaL2 {
    CheckHisto_Mean|thresholds = CaloClusterL2_CheckMeanX_NOnClusterEgammaL2
    CheckHisto_RMS|thresholds = CaloClusterL2_CheckRMSX_NOnClusterEgammaL2
    SubtractFromXMean = 1.6
  }
}
algorithm Calo_CheckMean_CaloClusterL2 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm EtFracPhiMatchedEgammaL2 {
    CheckHisto_Mean|thresholds = CaloClusterL2_CheckMeanY_EtFracPhiMatchedEgammaL2
    SubtractFromYMean = 1.0
  }
  algorithm EtFracEtaMatchedEgammaL2 {
    CheckHisto_Mean|thresholds = CaloClusterL2_CheckMeanY_EtFracEtaMatchedEgammaL2
    SubtractFromYMean = 1.0
  }
  algorithm ResoMatchedClustersEgammaL2 {
    CheckHisto_Mean|thresholds = CaloClusterL2_CheckMeanX_ResoMatchedClustersEgammaL2
    SubtractFromXMean = -0.6
  }
}

#######################
# CaloClusterEF 
#######################
algorithm Calo_CheckMean_CheckRMS_CaloClusterEF {
  libname = libdqm_algorithms.so
  name = RMS&Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm NOnClusterEgammaEF {
    CheckHisto_Mean|thresholds = CaloClusterEF_CheckMeanX_NOnClusterEgammaEF
    CheckHisto_RMS|thresholds = CaloClusterEF_CheckRMSX_NOnClusterEgammaEF
    SubtractFromXMean = 0.5
  }
  algorithm ResoMatchedClustersEgammaEF {
    CheckHisto_Mean|thresholds = CaloClusterEF_CheckMeanX_ResoMatchedClustersEgammaEF
    CheckHisto_RMS|thresholds = CaloClusterEF_CheckRMSX_ResoMatchedClustersEgammaEF
    SubtractFromXMean = 0.62
  }
}
algorithm Calo_CheckMean_CaloClusterEF {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean&GatherData
  reference = CentrallyManagedReferences
  MinStat = 1000
  algorithm EtFracPhiMatchedEgammaEF {
    CheckHisto_Mean|thresholds = CaloClusterEF_CheckMeanY_EtFracPhiMatchedEgammaEF
    SubtractFromYMean = 1.0
  }
  algorithm EtFracEtaMatchedEgammaEF {
    CheckHisto_Mean|thresholds = CaloClusterEF_CheckMeanY_EtFracEtaMatchedEgammaEF
    SubtractFromYMean = 1.0
  }
}


#######################
# Histogram Assessments
#######################
dir HLT {
  algorithm = HLTCaloHistogram_Not_Empty&GatherData

#######################
# CaloMon 
#######################

  dir CaloMon {
    output = HLT/TRCAL/CaloTool
    hist NBadCellsLAr {
      algorithm = Calo_CheckMean_CheckRMS_CaloTool/NBadCellsLAr
      display = LogY
    }
    hist NCellsLAr {
      algorithm = Calo_CheckMean_CheckRMS_CaloTool/NCellsLAr
      display = LogY
    }
    hist NCellsTile {
      algorithm = Calo_CheckMean_CheckRMS_CaloTool/NCellsTile
    }
    hist conversionErrors {
      algorithm = Calo_CheckMean_CheckRMS_CaloTool/conversionErrors
      display = LogY
    }
#CC no Alg cut histos
    hist NBadCellsTile {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData 
    }
    hist PercentDiffLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData 
      display = LogY
    }
    hist PercentDiffTile {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData 
      display = LogY
    }
    hist etaphiLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiTile {
      reference = CentrallyManagedReferences
    }
  }
#######################
# CaloMonL2 
#######################
  dir CaloMonL2 {
    output = HLT/TRCAL/CaloToolL2
    hist NBadCellsLAr {
      algorithm = Calo_CheckMean_CheckRMS_CaloToolL2/NBadCellsLAr
      display = LogY
    }
    hist NCellsLAr {
      algorithm = Calo_CheckMean_CheckRMS_CaloToolL2/NCellsLAr
      display = LogY
    }
    hist PercentDiffLAr {
      algorithm = Calo_CheckMean_CheckRMS_CaloToolL2/PercentDiffLAr
      display = LogY
    }
#CML2 Plots without Alg cuts
    hist NCellsTile {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
      display = LogY
    }
    hist NBadCellsTile {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
      display = LogY
    }
    hist PercentDiffTile {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData 
      display = LogY
      reference = CentrallyManagedReferences
    }
    hist etaphiLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiTile {
      reference = CentrallyManagedReferences
    }
  }

#######################
# CaloCluster Off 
#######################
  dir CaloClusterMon {
    hist NOffCluster {
      output = HLT/TRCAL/CaloCluster
      algorithm = Calo_CheckMean_CheckRMS_CaloCluster/NOffCluster
      weight = 0.1
    }

#######################
# CaloClusterL2 
#######################
    dir L2EM {
      output = HLT/TRCAL/CaloCluster/L2
      hist NOnClusterEgammaL2 {
        algorithm = Calo_CheckMean_CheckRMS_CaloClusterL2/NOnClusterEgammaL2
        display = LogY
      }
      hist EtFracPhiMatchedEgammaL2 {
        algorithm = Calo_CheckMean_CaloClusterL2/EtFracPhiMatchedEgammaL2
      }
      hist EtFracEtaMatchedEgammaL2 {
        algorithm = Calo_CheckMean_CaloClusterL2/EtFracEtaMatchedEgammaL2
      }
      hist ResoMatchedClustersEgammaL2 {
        algorithm = Calo_CheckMean_CaloClusterL2/ResoMatchedClustersEgammaL2
      }
#CCL2 plots that dont have proper algo cuts on
      hist EtEtMatchedEgammaL2 {
        reference = CentrallyManagedReferences
      }
      hist RetaOnOffEgammaL2 {
        reference = CentrallyManagedReferences
      }
      hist RstripOnOffEgammaL2 {
        reference = CentrallyManagedReferences
      }
      hist etaphiDifferentEgammaL2 {
        reference = CentrallyManagedReferences
      }

    }
#######################
# CaloClusterEF 
#######################
    dir SlwEF {
      output = HLT/TRCAL/CaloCluster/EF
      hist NOnClusterEgammaEF {
        algorithm = Calo_CheckMean_CheckRMS_CaloClusterEF/NOnClusterEgammaEF
        display = LogY
      }
      hist EtFracPhiMatchedEgammaEF {
        algorithm = Calo_CheckMean_CaloClusterEF/EtFracPhiMatchedEgammaEF
      }
      hist EtFracEtaMatchedEgammaEF {
        algorithm = Calo_CheckMean_CaloClusterEF/EtFracEtaMatchedEgammaEF
      }
      hist ResoMatchedClustersEgammaEF {
        algorithm = Calo_CheckMean_CheckRMS_CaloClusterEF/ResoMatchedClustersEgammaEF
      }
#CCEF plots that dont have proper algo cuts on
      hist EtEtMatchedEgammaEF {
        reference = CentrallyManagedReferences
      }
      hist RetaOnOffEgammaEF {
        weight = 0
        reference = CentrallyManagedReferences
      }
      hist RstripOnOffEgammaEF {
        weight = 0
        reference = CentrallyManagedReferences
      }
      hist etaphiDifferentEgammaEF {
        reference = CentrallyManagedReferences
      }
    }
  }
#######################
# CaloFEBTool
#######################

  dir CaloFEBMon {
    output = HLT/TRCAL/CaloFEBTool
    hist NEMBadLArFEBs {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist NHECBadLArFEBs {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist NFCALBadLArFEBs {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist NEMLArFEBs {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist NHECLArFEBs {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist NFCALLArFEBs {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }

    hist etaphiEMBCFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiEMBAFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiEMCCFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiEMCAFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiHECCFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiHECAFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiFCALCFEBLAr {
      reference = CentrallyManagedReferences
    }
    hist etaphiFCALAFEBLAr {
      reference = CentrallyManagedReferences
    }

    hist deltaEnexEMBCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyEMBCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezEMBCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneEMBCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexEMBAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyEMBAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezEMBAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneEMBAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexEMCCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyEMCCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezEMCCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneEMCCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexEMCAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyEMCAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezEMCAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneEMCAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexHECCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyHECCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezHECCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneHECCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexHECAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyHECAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezHECAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneHECAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexFCALCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyFCALCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezFCALCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneFCALCFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnexFCALAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEneyFCALAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaEnezFCALAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
    hist deltaTotEneFCALAFEBLAr {
      algorithm = HLTCaloHistogram_Not_Empty&GatherData
    }
  }
}


###############
# Thresholds
###############
#######################
# CaloMon 
#######################
thresholds CaloMon_CheckMeanX_NBadCellsLar {
  limits AbsXMean {
    warning = 2500
    error = 6500
  }
}
thresholds CaloMon_CheckRMSX_NBadCellsLar {
  limits XRMS {
    warning = 1700
    error = 2000
  }
}
thresholds CaloMon_CheckMeanX_NCellsLar {
  limits AbsXMean {
    warning = 70
    error = 71
  }
}
thresholds CaloMon_CheckRMSX_NCellsLar {
  limits XRMS {
    warning = 1
    error = 2
  }
}
thresholds CaloMon_CheckMeanX_NCellsTile {
  limits AbsXMean {
    warning = 0.5
    error = 1.1
  }
}
thresholds CaloMon_CheckRMSX_NCellsTile {
  limits XRMS {
    warning = 1
    error = 2
  }
}
thresholds CaloMon_CheckMeanX_conversionError {
  limits AbsXMean {
    warning = 0.3
    error = 0.6
  }
}
thresholds CaloMon_CheckRMSX_conversionError {
  limits XRMS {
    warning = 0.2
    error = 0.4
  }
}
#######################
# CaloMonL2 
#######################
thresholds CaloMonL2_CheckMeanX_NBadCellsLar {
  limits AbsXMean {
    warning = 4
    error = 8
  }
}
thresholds CaloMonL2_CheckRMSX_NBadCellsLar {
  limits XRMS {
    warning = 40
    error = 80
  }
}
thresholds CaloMonL2_CheckMeanX_NCellsLar {
  limits AbsXMean {
    warning = 10
    error = 30
  }
}
thresholds CaloMonL2_CheckRMSX_NCellsLar {
  limits XRMS {
    warning = 110
    error = 130
  }
}
thresholds CaloMonL2_CheckMeanX_PercentDiffLAr {
  limits AbsXMean {
    warning = 0.2
    error = 0.6
  }
}
thresholds CaloMonL2_CheckRMSX_PercentDiffLAr {
  limits XRMS {
    warning = 2
    error = 2.3
  }
}
#######################
# CaloCluster 
#######################
thresholds CaloCluster_CheckMeanX_NOffCluster {
  limits AbsXMean {
    warning = 1.0
    error = 2.5
  }
}
thresholds CaloCluster_CheckRMSX_NOffCluster {
  limits XRMS {
    warning = 2.5
    error = 4.0
  }
}
#######################
# CaloClusterL2 
#######################
thresholds CaloClusterL2_CheckMeanX_NOnClusterEgammaL2 {
  limits AbsXMean {
    warning = 0.4
    error = 1.0
  }
}
thresholds CaloClusterL2_CheckRMSX_NOnClusterEgammaL2 {
  limits XRMS {
    warning = 2.2
    error = 4.0
  }
}
thresholds CaloClusterL2_CheckMeanY_EtFracPhiMatchedEgammaL2 {
  limits AbsYMean {
    warning = 0.05
    error = 0.1
  }
}
thresholds CaloClusterL2_CheckMeanY_EtFracEtaMatchedEgammaL2 {
  limits AbsYMean {
    warning = 0.05
    error = 0.1
  }
}
thresholds CaloClusterL2_CheckMeanX_ResoMatchedClustersEgammaL2 {
  limits AbsXMean {
    warning = 0.4
    error = 1.0
  }
}


#######################
# CaloClusterEF 
#######################
thresholds CaloClusterEF_CheckMeanX_NOnClusterEgammaEF {
  limits AbsXMean {
    warning = 0.25
    error = 0.45
  }
}
thresholds CaloClusterEF_CheckRMSX_NOnClusterEgammaEF {
  limits XRMS {
    warning = 2.0
    error = 5.0
  }
}
thresholds CaloClusterEF_CheckMeanY_EtFracPhiMatchedEgammaEF {
  limits AbsYMean {
    warning = 0.02
    error = 0.04
  }
}
thresholds CaloClusterEF_CheckMeanY_EtFracEtaMatchedEgammaEF {
  limits AbsYMean {
    warning = 0.02
    error = 0.04
  }
}
thresholds CaloClusterEF_CheckMeanX_ResoMatchedClustersEgammaEF {
  limits AbsXMean {
    warning = 0.04
    error = 0.08
  }
}
thresholds CaloClusterEF_CheckRMSX_ResoMatchedClustersEgammaEF {
  limits XRMS {
    warning = 2.7
    error = 3.0
  }
}


