##############################################################################
#
#  JESProvider Input Settings
#    Preliminary set of uncertainties for high mu studies
#    Baseline: Moriond2013 uncertainties (stretched) without calibration non-closure
#    August 10, 2013
#
#  S. Schramm, C. Doglioni, D. Gillberg
# 
##############################################################################

JESUncertaintyRootFile:         JES_HighMu/JESUncertainty_HighMu.root

##############################################################################
# 
#   Settings for JES Components
#
##############################################################################


# Detector components
JESComponent.1.Desc:            Quadrature sum of detector components
JESComponent.1.Name:            CategoryTotal_Detector
JESComponent.1.Type:            Detector

# Statistical and method components
JESComponent.2.Desc:            Quadrature sum of statistical/method components
JESComponent.2.Name:            CategoryTotal_Statistical
JESComponent.2.Type:            Statistical

# Modelling components
JESComponent.3.Desc:            Quadrature sum of modelling components
JESComponent.3.Name:            CategoryTotal_Modelling
JESComponent.3.Type:            Modelling

# Mixed (detector and modelling) components
JESComponent.4.Desc:            Quadrature sum of mixed detector/modelling components
JESComponent.4.Name:            CategoryTotal_Mixed
JESComponent.4.Type:            Mixed


##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration: theory uncertainty
JESComponent.5.Desc:            Eta intercalibration: MC generator modelling uncertainty
JESComponent.5.Name:            EtaIntercalibration_Modelling
JESComponent.5.Type:            Modelling

# Eta intercalibration: total statistical and method uncertainty
JESComponent.6.Desc:            Eta intercalibration: statistical and method uncertainty
JESComponent.6.Name:            EtaIntercalibration_StatAndMethod
JESComponent.6.Type:            Statistical

# Pileup term
JESComponent.7.Desc:            Quadrature sum of pileup uncertainties for a fixed mu/NPV offset
JESComponent.7.Name:            Pileup_Total
JESComponent.7.Type:            Special

# High pT term
JESComponent.8.Desc:            High pT term (2012 version)
JESComponent.8.Name:            SingleParticle_HighPt
JESComponent.8.Type:            Special

# Placeholder set to zero, required to exist in config file for outdated reasons
JESComponent.9.Desc:            Pileup: Offset, mu term
JESComponent.9.Name:            Pileup_OffsetMu
JESComponent.9.Type:            Special

# Placeholder set to zero, required to exist in config file for outdated reasons
JESComponent.10.Desc:           Pileup: Offset, NPV term
JESComponent.10.Name:           Pileup_OffsetNPV
JESComponent.10.Type:           Special

##############################################################################
#
#   Settings for Pile-up uncertainty and JES version
#
##############################################################################

Pileup.MuRef:                   0.0
Pileup.NPVRef:                  0.0
VersionTag:                     HighMu

##############################################################################


