#######################################
#
#  JESProvider Input Settings
#   Preliminary set of uncertainties for high mu studies
#   Baseline: Moriond 2013 topology uncertainties (stretched)
#   August 10, 2013
#
#  D. Gillberg, C. Doglioni, S. Schramm
# 
#######################################

MultijetJESUncertaintyRootFile:      JES_HighMu/MJESUncertainty_HighMu.root
AnalysisRootFile:                    analysisInputs/UnknownFlavourComp_HighMu.root

#######################################
# 
#   Settings for MJES Components
#
#######################################

  # Flavour Composition Uncertainty
MultijetJESComponent.1.Name:         Flavor_Comp
MultijetJESComponent.1.Desc:         Flavor composition uncertainty

  # Flavour Response Uncertainty
MultijetJESComponent.2.Name:         Flavor_Response
MultijetJESComponent.2.Desc:	     Flavor response uncertainty (dominated by the gluon response)

  # Close-By Jets Uncertainty
MultijetJESComponent.3.Name:         Close_By_MCTYPE
MultijetJESComponent.3.Desc:	     JES uncertainty due to close-by jets

  # bJES Uncertainty
MultijetJESComponent.4.Name:         BJES_Response
MultijetJESComponent.4.Desc:         JES uncertainty for b jets

###################################
