# ****************************
metadata GitInfo {
  Hash = unknown
}
# ****************************

# **********************************************************************
# $Id$
# **********************************************************************

#######################
# References
#######################

reference CentrallyManagedReferences {
  #file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00295658.express_express.merge.HIST.f681_h112._0001.1
  file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00306147.express_express.merge.HIST.f738_h161._0001.1
  path = run_306147
  info = Run 306147, express
  name = same_name
}

reference CentrallyManagedReferences_Main {
  #file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00295658.express_express.merge.HIST.f681_h112._0001.1
  file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00306147.express_express.merge.HIST.f738_h161._0001.1
  path = run_306147
  info = Run 306147, express
  name = same_name
}

reference CentrallyManagedReferences_Trigger {
  #file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00295658.express_express.merge.HIST.f681_h112._0001.1
  file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00306147.express_express.merge.HIST.f738_h161._0001.1
  path = run_306147
  info = Run 306147, express
  name = same_name
}

reference CentrallyManagedReferences_TriggerMain {
  #file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00295658.express_express.merge.HIST.f681_h112._0001.1
  file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/data16_cos.00306147.express_express.merge.HIST.f738_h161._0001.1
  path = run_306147
  info = Run 306147, express
  name = same_name
}

####################
# Common Algorithms

####################

algorithm WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}

algorithm Histogram_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Empty
}

algorithm Histogram_Effective_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Effective_Empty
}

algorithm Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

algorithm No_UnderFlows {
  libname = libdqm_algorithms.so
  name = No_UnderFlows
}

algorithm No_OverFlows {
  libname = libdqm_algorithms.so
  name = No_OverFlows
}

algorithm All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
}

algorithm GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

compositeAlgorithm CheckRMS&Histogram_Not_Empty {
  subalgs = CheckHisto_RMS,Histogram_Not_Empty
  libname = libdqm_algorithms.so
}

compositeAlgorithm CheckMean&Histogram_Not_Empty {
  subalgs = CheckHisto_Mean,Histogram_Not_Empty
  libname = libdqm_algorithms.so
}

compositeAlgorithm BinsNotThreshold&Histogram_Not_Empty {
  subalgs = Bins_NotEqual_Threshold,Histogram_Not_Empty
  libname = libdqm_algorithms.so
}

compositeAlgorithm Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

compositeAlgorithm CheckHisto_Mean&GatherData {
  subalgs = GatherData,CheckHisto_Mean
  libnames = libdqm_algorithms.so
}

compositeAlgorithm GatherData&Chi2NDF {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Chi2Test_Chi2_per_NDF
}

#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary
}

# **********************************************************************
# Id: cosmics_minutes10.config 526869 2012-11-20 19:31:39Z auker 
# ./HLT/HLTmuon/cosmics_minutes10.config
# **********************************************************************

#######################
# HLTmuon
#######################

#############
# Output
#############

output top_level {
  output HLT {
    output TRMUO {
      algorithm = TRMUO_WorstCaseSummary  
    }
  }
}


#######################
# Histogram Assessments
#######################

dir HLT {
  dir MuonMon {
    dir Coverage {
      hist L2MuonSA_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist muComb_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        weight = 0.0
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist muIso_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        weight = 0.0
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist TileMu_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi_tilemu
        weight = 0.0
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist EFMS_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist EFSA_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist EFCB_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        weight = 0.0
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
    }
  }
}


#############
##Algorithms
#############
algorithm alg_eta_vs_phi {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  thresholds = th_eta_vs_phi
  BinThreshold = 0.02
  MinBinThreshold = 1
  MinStat = 2000
# 16*27 = 432
# no trigger for |eta|>2.45 --> 2bins
# 16*25 = 400
# 10% due to barrel holes
# 360
  TotalBins = 360
}

algorithm alg_eta_vs_phi_tilemu {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  thresholds = th_eta_vs_phi_tilemu
  BinThreshold = 0.02
  MinBinThreshold = 1
  MinStat = 2000
# 16*27 = 432
# no trigger for |eta|>1.5 --> 14bins
# 16*13 = 208
  TotalBins = 208
}

#
# summary
#
algorithm TRMUO_WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}
algorithm TRMUO_SimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

algorithm TRMUO_AlwaysGreenSummary {
  libname = libdqm_summaries.so
  name = AlwaysGreenSummary
}

algorithm TRMUO_AlwaysUndefinedSummary {
  libname = libdqm_summaries.so
  name = AlwaysUndefinedSummary
}

#############
##Thresholds
#############
thresholds th_eta_vs_phi {
  limits NBins {
# 360*0.9 = 324
    warning = 324
    error = 323
  }
}

thresholds th_eta_vs_phi_tilemu {
  limits NBins {
# 208*0.9 = 187.2
    warning = 187
    error = 186
  }
}

