# **********************************************************************
# $Id: collisions_run.config 700778 2015-10-15 14:29:03Z dyamaguc $
# **********************************************************************

############################################################
# TileCal
############################################################

#############
# Output
#############

output top_level {
  output TileCal {
    output MBTS {
      output Cell {
      }
      output Digit {
      }
      output Trigger {
      }
    }
  }  
}

#######################
# Histogram Assessments
#######################

dir Tile {
  dir MBTS {
    reference = CentrallyManagedReferences
    algorithm = MBTS_GatherData
    dir Cell {
      output = TileCal/MBTS/Cell
      hist all_in_dir {
      }
    }
    dir Digit {
      output = TileCal/MBTS/Digit
      hist all_in_dir {
      }
    }
    dir Trigger {
      output = TileCal/MBTS/Trigger
      hist all_in_dir {
      }
    }
  }
}

#############
# Algorithms
#############

algorithm MBTS_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

#############
# Thresholds
#############

