# **********************************************************************
# $Id: collisions_run.config 512213 2012-08-02 14:26:58Z vogel $
# **********************************************************************

############################################################
# TileCal
############################################################

#############
# Output
#############

output top_level {
  output TileCal {
    output MBTS {
      output Cell {
      }
      output Digit {
      }
      output Trigger {
      }
    }
  }  
}

#######################
# Histogram Assessments
#######################

dir Tile {
  dir MBTS {
	algorithm = MBTS_GatherData
	dir Cell {
	  output = TileCal/MBTS/Cell
      hist all_in_dir {
        reference = CentrallyManagedReferences
	  }
	}
    dir Digit {
      output = TileCal/MBTS/Digit
      hist all_in_dir {
        reference = CentrallyManagedReferences
      }
	}
    dir Trigger {
      output = TileCal/MBTS/Trigger
      hist all_in_dir {
        reference = CentrallyManagedReferences
      }
    }
  }
}

#############
# Algorithms
#############

algorithm MBTS_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

#############
# Thresholds
#############

