# **********************************************************************
# $Id: heavyions_minutes10.config 512770 2012-08-07 19:28:13Z vogel $
# **********************************************************************

############################################################
# TileCal
############################################################

#############
# Output
#############

#######################
# Histogram Assessments
#######################

#############
# Algorithms
#############

#############
# Thresholds
#############
