# **********************************************************************
# $Id: heavyions_run.config 786082 2016-11-23 17:25:01Z harkusha $
# **********************************************************************

############################################################
# TileCal
############################################################

#############
# Output
#############

output top_level {
  output TileCal {
    output Expert {
      output MBTS {
        output Cell {
        }
        output Digit {
        }
        output Trigger {
        }
      }
    }  
    output MBTS {
      output Cell {
      }
      output Digit {
      }
    }
  }
}


#######################
# Histogram Assessments
#######################

dir Tile {
  dir MBTS {
    reference = CentrallyManagedReferences
    algorithm = MBTS_GatherData
    dir Cell {
      output = TileCal/MBTS/Cell
      hist CoinEnergyHits {
      }
      hist Occupancy {
      }
      hist SummaryEnergy {
      }
      hist Time_A {
      }
      hist Time_C {
      }

      hist all_in_dir {
        output = TileCal/Expert/MBTS/Cell
      }
    }
    dir Digit {
      output = TileCal/MBTS/Digit
      hist ReadOutErrors {
      }

      hist all_in_dir {
        output = TileCal/Expert/MBTS/Digit
      }
    }
    dir Trigger {
      hist all_in_dir {
        output = TileCal/Expert/MBTS/Trigger
      }
    }
  }
}

#############
# Algorithms
#############

algorithm MBTS_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

#############
# Thresholds
#############

