# **********************************************************************
# $Id: collisions_minutes10.config 686471 2015-07-30 12:57:03Z ponyisi $
# **********************************************************************

############################################################
# GLOBAL
############################################################

#############
# Output
#############

output top_level {
    output Global {
    output DataFlow {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir GLOBAL {
  algorithm = GLOBAL_GatherData
  reference = CentrallyManagedReferences
  dir DQTDataFlow {
    output = Global/DataFlow
    hist m_release_stage_lowStat {
      algorithm = Global_Bins_Diff_FromAvg_Identical
    }
    hist eventflag_summary_lowStat {
    }
  }
}

#############
# Algorithms
#############

algorithm GLOBAL_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm Global_Bins_Diff_FromAvg_Identical {
	libname = libdqm_algorithms.so
	name = Bins_Diff_FromAvg
	thresholds = Global_Identical
        MinStat = 1
	NSigma = 0
	ignoreval = 0
	MaxDiffAbs = 0.5
}


thresholds Global_Identical {
  limits NBins {
    error = 1
    warning = 1
  }
}
