# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

############################################################
# GLOBAL
############################################################

#############
# Output
#############

output top_level {
    output Global {
    output Efficiency {
      output IDMuons {
      }
      output IDTile {
      }
      output TileMuons {
      }
    }
    output Synchronization {
      output BCID {
      }    
      output L1ID {
      }
    }
    output CaloCluster {
    }
    output MuonInnerDetector {
    }
    output DataFlow {
    }
    output DQShift {
    }    
  }
}

#######################
# Histogram Assessments
#######################

dir GLOBAL {
  algorithm = GLOBAL_GatherData/ref
  reference = CentrallyManagedReferences
#  dir DQTEFF {
#    dir IDMuons {
#      output = Global/Efficiency/IDMuons
#      hist all_in_dir {
#      }
#    }
#    dir IDTile {
#      output = Global/Efficiency/IDTile
#      hist all_in_dir {
#      }
#    }
#    dir TileMuons {
#      output = Global/Efficiency/TileMuons
#      hist all_in_dir {
#      }
#    }
#  }
  dir DQTCaloCluster {
    dir DQTCaloCluster {
      output = Global/CaloCluster
       hist all_in_dir {
       } 
    }       
  }
  dir DQTMuonIDTrack {
     dir Trk {
       output = Global/MuonInnerDetector
       hist all_in_dir {
       }
       hist m_trk_Phi0sGM {
       output = Global/DQShift 
       }
       hist m_trk_EtasGM {
       output = Global/DQShift 
       }       
       hist m_trk_pOverQsGM {
       output = Global/DQShift 
       }  
       hist m_trk_ChargeDiff {
       output = Global/DQShift 
       }
       hist m_trk_PtID {
       output = Global/DQShift 
       }       
       hist m_trk_PtMuon {
       output = Global/DQShift 
       }                
       hist m_trk_PtDiff {
       output = Global/DQShift 
       }                      
     }       
  }
  dir DQTSynch {
    dir BCID { 
      output = Global/Synchronization/BCID
      hist m_diff_CTP_SCT_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }         
      hist m_diff_CTP_TRT_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_CTP_LAR_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      } 
      hist m_diff_CTP_Tile_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }            
      hist m_diff_CTP_RPC_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_SCT_TRT_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }         
      hist m_diff_SCT_LAR_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_SCT_Tile_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      } 
      hist m_diff_SCT_RPC_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }            
      hist m_diff_TRT_LAR_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_TRT_Tile_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }         
      hist m_diff_TRT_RPC_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_LAR_Tile_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      } 
      hist m_diff_LAR_RPC_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }            
      hist m_diff_Tile_RPC_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_Pixel_SCT_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_Pixel_TRT_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }      
      hist m_diff_Pixel_LAR_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_Pixel_Tile_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }     
      hist m_diff_Pixel_RPC_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      }
      hist m_diff_Pixel_CTP_BCID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
      } 
      hist m_diff_CTP_SCT_BCID {
        display = LogY
        output = Global/Synchronization/BCID
      }         
      hist m_diff_CTP_TRT_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_CTP_LAR_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      } 
      hist m_diff_CTP_Tile_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }            
      hist m_diff_CTP_RPC_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_SCT_TRT_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }         
      hist m_diff_SCT_LAR_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_SCT_Tile_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      } 
      hist m_diff_SCT_RPC_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }            
      hist m_diff_TRT_LAR_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_TRT_Tile_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }         
      hist m_diff_TRT_RPC_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_LAR_Tile_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      } 
      hist m_diff_LAR_RPC_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }            
      hist m_diff_Tile_RPC_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_Pixel_SCT_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_Pixel_TRT_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }      
      hist m_diff_Pixel_LAR_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_Pixel_Tile_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }     
      hist m_diff_Pixel_RPC_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }
      hist m_diff_Pixel_CTP_BCID_Rebin {
        display = LogY
        output = Global/Synchronization/BCID
      }          
      hist all_in_dir {
      }       
      hist m_BCID {
        output = Global/DQShift 
      }                                           
    }  
    dir L1ID { 
      output = Global/Synchronization/L1ID
      hist m_diff_CTP_SCT_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_CTP_TRT_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_CTP_LAR_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_CTP_Tile_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }    
      hist m_diff_CTP_RPC_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_SCT_TRT_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_SCT_LAR_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_SCT_Tile_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }    
      hist m_diff_SCT_RPC_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_TRT_LAR_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }        
      hist m_diff_TRT_Tile_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_TRT_RPC_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }    
      hist m_diff_LAR_Tile_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_LAR_RPC_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }                
      hist m_diff_Tile_RPC_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_Pixel_SCT_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_Pixel_TRT_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_Pixel_LAR_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      } 
      hist m_diff_Pixel_Tile_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }
      hist m_diff_Pixel_RPC_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_Pixel_CTP_L1ID {
        display = LogY
        algorithm = Global_Bins_Filled_OutsideRange
        output = Global/Synchronization/L1ID
      }       
      hist m_diff_CTP_SCT_L1ID {
        display = LogY
        output = Global/Synchronization/L1ID
      }
      hist m_diff_CTP_TRT_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_CTP_LAR_L1ID_Rebin {
        display = LogY       
        output = Global/Synchronization/L1ID
      }
      hist m_diff_CTP_Tile_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }    
      hist m_diff_CTP_RPC_L1ID_Rebin {
        display = LogY       
        output = Global/Synchronization/L1ID
      }
      hist m_diff_SCT_TRT_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_SCT_LAR_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }
      hist m_diff_SCT_Tile_L1ID_Rebin {
        display = LogY       
        output = Global/Synchronization/L1ID
      }    
      hist m_diff_SCT_RPC_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }
      hist m_diff_TRT_LAR_L1ID_Rebin {
        display = LogY
        
        output = Global/Synchronization/L1ID
      }        
      hist m_diff_TRT_Tile_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }
      hist m_diff_TRT_RPC_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }    
      hist m_diff_LAR_Tile_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }
      hist m_diff_LAR_RPC_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }                
      hist m_diff_Tile_RPC_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }
      hist m_diff_Pixel_SCT_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_Pixel_TRT_L1ID_Rebin {
        display = LogY       
        output = Global/Synchronization/L1ID
      }
      hist m_diff_Pixel_LAR_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      } 
      hist m_diff_Pixel_Tile_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }
      hist m_diff_Pixel_RPC_L1ID_Rebin {
        display = LogY       
        output = Global/Synchronization/L1ID
      }  
      hist m_diff_Pixel_CTP_L1ID_Rebin {
        display = LogY        
        output = Global/Synchronization/L1ID
      }   
      hist all_in_dir {
      }       
      hist m_L1ID {
        output = Global/DQShift 
      }         
    }
    dir Bfield {
      output = Global/DQShift
      hist m_Bfield_solenoid {
        display = LogY 
        algorithm = Global_Bins_GreaterThan_Threshold
      }       
      hist m_Bfield_toroid {
        display = LogY 
	algorithm = Global_Bins_GreaterThan_Threshold
      }
    }
  }
  dir DQTDataFlow {
    output = Global/DataFlow
    hist eventflag_run.* {
      regex = 1
      algorithm = GLOBAL_GatherData
    }
    hist m_release_stage_lowStat {
      algorithm = Global_Bins_Diff_FromAvg_Identical
    }
    hist eventflag_summary_lowStat {
    }
  }
}

#############
# Algorithms
#############

algorithm GLOBAL_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  algorithm ref {
    reference = CentrallyManagedReferences
  }
}

algorithm Global_Bins_Filled_OutsideRange {
        libname = libdqm_algorithms.so
        name = BinsFilledOutRange
        thresholds = NBinsThresh  
        xmin = -0.5
        xmax =  0.5
        MinStat = 1
}

algorithm Global_Bins_GreaterThan_Threshold {
        libname = libdqm_algorithms.so
        name = Bins_GreaterThan_Threshold
	thresholds = NBinsBfield
	BinThreshold = 0	
        MinStat = 1
}

algorithm Global_Bins_Diff_FromAvg_Identical {
	libname = libdqm_algorithms.so
	name = Bins_Diff_FromAvg
	thresholds = Global_Identical
        MinStat = 1
	NSigma = 0
	ignoreval = 0
	MaxDiffAbs = 0.5
}

thresholds NBinsThresh {
  limits NBins {
    warning = 0  
    error = 1
  }
}

thresholds NBinsBfield {
  limits NBins {
    warning = 1  
    error = 1
  }
}



thresholds Global_Identical {
  limits NBins {
    error = 1
    warning = 1
  }
}
