# **********************************************************************
# $Id: cosmics_minutes10.config 526872 2012-11-20 19:39:35Z vogel $
# **********************************************************************

############################################################
# GLOBAL
############################################################

#############
# Output
#############

output top_level {
    output Global {
    output DataFlow {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir GLOBAL {
  algorithm = GLOBAL_GatherData/ref
  reference = CentrallyManagedReferences
  dir DQTDataFlow {
    output = Global/DataFlow
    hist eventflag_run.* {
      regex = 1
      algorithm = GLOBAL_GatherData
    }
    hist m_release_stage_lowStat {
      algorithm = Global_Bins_Diff_FromAvg_Identical
    }
    hist eventflag_summary_lowStat {
    }
  }
}

#############
# Algorithms
#############

algorithm GLOBAL_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  algorithm ref {
    reference = CentrallyManagedReferences
  }
}

algorithm Global_Bins_Diff_FromAvg_Identical {
	libname = libdqm_algorithms.so
	name = Bins_Diff_FromAvg
	thresholds = Global_Identical
        MinStat = 1
	NSigma = 0
	ignoreval = 0
	MaxDiffAbs = 0.5
}


thresholds Global_Identical {
  limits NBins {
    error = 1
    warning = 1
  }
}
