# **********************************************************************
# $Id: heavyions_run.config 786895 2016-11-28 13:55:42Z wengler $
# **********************************************************************

############################################################
# CTP
############################################################

#############
# Output
#############

output top_level {
  output CentralTrigger {
    output ErrorSummary {
    }
    output CTP {
    }
    output MuCTPI {
    }
    output MuCTPI-SL {
    }
    output CTP-MuCTPI {
    }
    output RoI {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir CT {
  #reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;stream=physics_HardProbes:CentrallyManagedReferences_TriggerHardProbes;stream=physics_UPC:CentrallyManagedReferences_TriggerUPC;CentrallyManagedReferences_Trigger
  algorithm = CTP_GatherData

  output = CentralTrigger/ErrorSummary
  hist errorSummary {
    display = LogY,AxisRange(1e-12,10,"Y")
    algorithm = errorSummary_Entries
  }
  hist errorPerLumiBlock {
    display = LogY,AxisRange(0.1,1e+11,"Y")
  }
  hist errorSummaryPerLumiBlock {
    display = SetPalette(1)
  }
  hist incompleteFragmentType {
  }
  dir CTP {
    output = CentralTrigger/CTP
    hist deltaBcid {
      display = LogY
    }
    hist triggerType {
    }
    hist timeSinceLBStart {
    }
    hist timeUntilLBEnd {
    }
    hist timeSinceL1A {
      display = LogY
    }
    hist turnCounterTimeError {
      display = LogY
    }
    hist pitBC {
      display = SetPalette(1)
    }
    hist pitFirstBC {
      display = SetPalette(1)
    }
    hist tav {
    }
    hist ctpStatus1 {
    }
    hist ctpStatus2 {
    }
    hist turnCounterTimeErrorVsLb {
    }
    hist l1ItemsBPSimMismatchItems {
    }
  }
  dir MUCTPI {
    output = CentralTrigger/MuCTPI
    hist nCandidates {
    }
    hist nCandidatesDataWord {
      display = LogY
    }
    hist pt {
    }
    hist nCandidatesPt {
      display = SetPalette(1)
    }
    hist nCandidatesDataWordPt {
      display = SetPalette(1)
    }
    hist nCandidatesMictpMioct {
      display = LogY
    }
    hist bcidMictpMioct {
      display = LogY
    }
    hist bcidMictpHeader {
      display = LogY
    }
    hist muctpiStatus1 {
    }
    hist muctpiStatus2 {
    }
    hist barrelRoiSectorID {
      display = SetPalette(1)
    }
    hist endcapRoiSectorID {
      display = SetPalette(1)
    }
    hist forwardRoiSectorID {
      display = SetPalette(1)
    }
    hist barrelRoiSectorIDAll {
      display = SetPalette(1)
    }
    hist endcapRoiSectorIDAll {
      display = SetPalette(1)
    }
    hist forwardRoiSectorIDAll {
      display = SetPalette(1)
    }
    hist barrelNCandSectorID {
      display = SetPalette(1)
    }
    hist endcapNCandSectorID {
      display = SetPalette(1)
    }
    hist forwardNCandSectorID {
      display = SetPalette(1)
    }
    hist barrelSectorIDOverlapBits {
      display = SetPalette(1)
    }
    hist endcapSectorIDOverlapBit {
    }
    hist barrelSectorID {
    }
    hist endcapSectorID {
    }
    hist forwardSectorID {
    }
    hist barrelSectorIDAll {
    }
    hist endcapSectorIDAll {
    }
    hist forwardSectorIDAll {
    }
    hist barrelPt {
    }
    hist endcapPt {
    }
    hist forwardPt {
    }
    hist nCandidates_secLoc {
    }
    hist muctpiNoRPCCandfound {
      output = CentralTrigger/MuCTPI-SL
      display = BOX
    }
    hist rpcNoMuCTPICandfound {
      output = CentralTrigger/MuCTPI-SL
      display = BOX
    }
    hist muctpiNoTGCecCandfound {
      output = CentralTrigger/MuCTPI-SL
      display = BOX
    }
    hist tgcecNoMuCTPICandfound {
      output = CentralTrigger/MuCTPI-SL
      display = BOX
    }
    hist muctpiNoTGCfwCandfound {
      output = CentralTrigger/MuCTPI-SL
      display = BOX
    }
    hist tgcfwNoMuCTPICandfound {
      output = CentralTrigger/MuCTPI-SL
      display = BOX
    }
  }
  dir CTPMUCTPI {
    output = CentralTrigger/CTP-MuCTPI
    hist bcidDifference {
      display = LogY
    }
    hist headerBCIDDifference {
      display = LogY
    }
    hist headerL1IdDifference {
      display = LogY
    }
  }
  dir ROI {
    output = CentralTrigger/RoI
    hist roiEtaPhi {
      display = SetPalette(1)
    }
    hist roiEta {
    }
    hist roiPhi {
    }
    hist barrelSectorIDRoi {
      display = SetPalette(1)
    }
    hist endcapSectorIDRoi {
      display = SetPalette(1)
    }
    hist forwardSectorIDRoi {
      display = SetPalette(1)
    }
    hist barrelSectorIDRoiEta {
      display = SetPalette(1)
    }
    hist endcapSectorIDRoiEta {
      display = SetPalette(1)
    }
    hist forwardSectorIDRoiEta {
      display = SetPalette(1)
    }
    hist barrelSectorIDRoiPhi {
      display = SetPalette(1)
    }
    hist endcapSectorIDRoiPhi {
      display = SetPalette(1)
    }
    hist forwardSectorIDRoiPhi {
      display = SetPalette(1)
    }
  }
}

#############
# Algorithms
#############

algorithm CTP_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  #reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;stream=physics_HardProbes:CentrallyManagedReferences_TriggerHardProbes;stream=physics_UPC:CentrallyManagedReferences_TriggerUPC;CentrallyManagedReferences_Trigger
}

algorithm errorSummary_Entries {
  libname = libdqm_algorithms.so
  name = Bins_NotEqual_Threshold
  BinThreshold = 0.
  thresholds = errorSummary_Thresholds
}

#############
# Thresholds
#############

thresholds errorSummary_Thresholds {
  limits NBins {
    warning = 0
    error = 1
  }
}


