# **********************************************************************
# $Id: collisions_minutes10.config 512385 2012-08-03 15:02:09Z vogel $
# **********************************************************************

#######################
# HLTmuon
#######################

#############
# Output
#############

output top_level {
  output HLT {
    output TRMUO {
      algorithm = TRMUO_WorstCaseSummary  
    }
  }
}


#######################
# Histogram Assessments
#######################

dir HLT {
  dir MuonMon {
    dir Coverage {
      hist L2MuonSA_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist muComb_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist muIso_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        weight = 0.0
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist TileMu_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi_tilemu
        weight = 0.0
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist EFMS_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist EFSA_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
      hist EFCB_eta_vs_phi_in_10LBs {
        output = HLT/TRMUO
        algorithm = alg_eta_vs_phi
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
      }
    }
  }
}


#############
##Algorithms
#############
algorithm alg_eta_vs_phi {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  thresholds = th_eta_vs_phi
  BinThreshold = 0.02
  MinBinThreshold = 1
  MinStat = 2000
# 16*27 = 432
# no trigger for |eta|>2.45 --> 2bins
# 16*25 = 400
# 10% due to barrel holes
# 360
  TotalBins = 360
}

algorithm alg_eta_vs_phi_tilemu {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  thresholds = th_eta_vs_phi_tilemu
  BinThreshold = 0.02
  MinBinThreshold = 1
  MinStat = 2000
# 16*27 = 432
# no trigger for |eta|>1.5 --> 14bins
# 16*13 = 208
  TotalBins = 208
}

#
# summary
#
algorithm TRMUO_WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}
algorithm TRMUO_SimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

algorithm TRMUO_AlwaysGreenSummary {
  libname = libdqm_summaries.so
  name = AlwaysGreenSummary
}

algorithm TRMUO_AlwaysUndefinedSummary {
  libname = libdqm_summaries.so
  name = AlwaysUndefinedSummary
}

#############
##Thresholds
#############
thresholds th_eta_vs_phi {
  limits NBins {
# 360*0.9 = 324
    warning = 324
    error = 323
  }
}

thresholds th_eta_vs_phi_tilemu {
  limits NBins {
# 208*0.9 = 187.2
    warning = 187
    error = 186
  }
}
