# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTmuon
#######################

#######################
# Output
#######################

output top_level {

  output HLT {

    output TRMUO {
      algorithm = TRMUO_WorstCaseSummary  
      output muFast {
        algorithm = TRMUO_WorstCaseSummary  
      }
      output muComb {
        algorithm = TRMUO_AlwaysGreenSummary  
      }
      output muIso {
        algorithm = TRMUO_AlwaysGreenSummary  
      }
      output TileMu {
        algorithm = TRMUO_AlwaysGreenSummary  
      }
      output MuonEF {
        algorithm = TRMUO_WorstCaseSummary  
      }
      output MuGirl {
        algorithm = TRMUO_AlwaysGreenSummary  
      }
      output Expert {
        algorithm = TRMUO_AlwaysGreenSummary  

        output muFast {
          algorithm = TRMUO_WorstCaseSummary  
        }
        output muComb {
          algorithm = TRMUO_WorstCaseSummary  
        }
        output muIso {
          algorithm = TRMUO_WorstCaseSummary  
        }
        output TileMu {
          algorithm = TRMUO_WorstCaseSummary  
        }
        output MuonEF {
          algorithm = TRMUO_WorstCaseSummary  
        }
        output MuGirl {
          algorithm = TRMUO_WorstCaseSummary  
        }
        output mu6_MSonly {
          algorithm = TRMUO_AlwaysGreenSummary  

          output SelectedByOtherTriggers {
            algorithm = TRMUO_SimpleSummary  
          }
        }
        output mu10_MSonly {
          algorithm = TRMUO_AlwaysGreenSummary  

          output SelectedByOtherTriggers {
            algorithm = TRMUO_SimpleSummary  
          }
        }
        output Cosmic20100324 {
          algorithm = TRMUO_AlwaysGreenSummary
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir MuonMon {
    algorithm = Muon_Bins_LessThan_Threshold&GatherData
    output = HLT/TRMUO
# muFast
    dir muFast {
      hist muFast_MDT_Mid_residual_barrel {
        output = HLT/TRMUO/muFast
        algorithm = alg_muFast_residual_barrel
        weight = 0.0
        reference = CentrallyManagedReferences
      }
      hist muFast_MDT_Mid_residual_endcap {
        output = HLT/TRMUO/muFast
        algorithm = alg_muFast_residual_endcap
        weight = 0.0
        reference = CentrallyManagedReferences
      }
      hist muFast_eta_vs_phi {
        output = HLT/TRMUO/muFast
        algorithm = alg_eta_vs_phi
        reference = CentrallyManagedReferences
      }
# muFast expert
      hist muFast_proc_flow {
        output = HLT/TRMUO/Expert/muFast
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist muFast_pT {
        output = HLT/TRMUO/Expert/muFast
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist muFast_eta {
        output = HLT/TRMUO/Expert/muFast
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist muFast_phi {
        output = HLT/TRMUO/Expert/muFast
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
    }
# muComb
    dir muComb {
      hist muComb_pt {
        output = HLT/TRMUO/muComb
        reference = CentrallyManagedReferences
      }
#     hist muComb_eta {
#       output = HLT/TRMUO/muComb
#       reference = CentrallyManagedReferences
#     }
#     hist muComb_phi {
#       output = HLT/TRMUO/muComb
#       reference = CentrallyManagedReferences
#     }
      hist muComb_dR_toMF {
        output = HLT/TRMUO/muComb
        reference = CentrallyManagedReferences
      }
      hist muComb_ptratio_toMF {
        output = HLT/TRMUO/muComb
        reference = CentrallyManagedReferences
      }
    }
# muIso
    dir muIso {
      hist muIso_eta_vs_phi {
        output = HLT/TRMUO/muIso
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist muIso_etoutec {
        output = HLT/TRMUO/muIso
	algorithm = TRMUO_GatherData
        weight = 0.0
        reference = CentrallyManagedReferences
      }
      hist muIso_etinhc {
        output = HLT/TRMUO/muIso
	algorithm = TRMUO_GatherData
        weight = 0.0
        reference = CentrallyManagedReferences
      }
# muIso Expert
      hist muIso_etinec {
        output = HLT/TRMUO/Expert/muIso
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist muIso_etouthc {
        output = HLT/TRMUO/Expert/muIso
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist muIso_ntrk {
        output = HLT/TRMUO/Expert/muIso
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
    }
# TileMu
    dir TileMu {
      hist TileMu_Ene {
        output = HLT/TRMUO/TileMu
	algorithm = TRMUO_GatherData
        weight = 0.0
        reference = CentrallyManagedReferences
      }
      hist TileMu_Eta_Phi {
        output = HLT/TRMUO/TileMu
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
# TileMu Expert
      hist TileMu_N {
        output = HLT/TRMUO/Expert/TileMu
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
    }
# MuonEF
    dir MuonEF {
      hist EFMS_eta_vs_phi {
        output = HLT/TRMUO/MuonEF
	algorithm = alg_eta_vs_phi
        reference = CentrallyManagedReferences
      }
      hist EFSA_eta_vs_phi {
        output = HLT/TRMUO/MuonEF
	algorithm = alg_eta_vs_phi
        reference = CentrallyManagedReferences
      }
      hist EFCB_eta_vs_phi {
        output = HLT/TRMUO/MuonEF
	algorithm = alg_eta_vs_phi
        reference = CentrallyManagedReferences
        weight = 0.0
      }
      hist EFMS_pt {
        output = HLT/TRMUO/MuonEF
	algorithm = TRMUO_GatherData
        weight = 0.0
        reference = CentrallyManagedReferences
      }
      hist EFSA_pt {
        output = HLT/TRMUO/MuonEF
	algorithm = TRMUO_GatherData
        weight = 0.0
        reference = CentrallyManagedReferences
      }
      hist EFCB_pt {
        output = HLT/TRMUO/MuonEF
	algorithm = TRMUO_GatherData
        weight = 0.0
        reference = CentrallyManagedReferences
      }
# MuonEF Expert
      hist EFMS_signed_pt {
        output = HLT/TRMUO/Expert/MuonEF
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist EFSA_signed_pt {
        output = HLT/TRMUO/Expert/MuonEF
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }
      hist EFCB_signed_pt {
        output = HLT/TRMUO/Expert/MuonEF
	algorithm = TRMUO_GatherData
        reference = CentrallyManagedReferences
      }

    }
# efficiency
    dir Efficiency {

# mu10_MSonly wrt upstream
      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_L1 {
        output = HLT/TRMUO/Expert/mu10_MSonly
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast_upstream
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuFast {
        output = HLT/TRMUO/Expert/mu10_MSonly
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS_upstream
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuFast {
        output = HLT/TRMUO/Expert/mu10_MSonly
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA_upstream
      }

# mu10_MSonly wrt offline (biased)
      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA {
        output = HLT/TRMUO/Expert/mu10_MSonly
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA {
        output = HLT/TRMUO/Expert/mu10_MSonly
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA {
        output = HLT/TRMUO/Expert/mu10_MSonly
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

# mu10_MSonly wrt offline selected by other triggers (unbiased)
      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_EGamma_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_EGamma_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_EGamma_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_Jet_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_Jet_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_Jet_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_MET_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_MET_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_MET_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_MinBias_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_MinBias_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_MinBias_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_Orthog_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_Orthog_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_Orthog_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

      hist mu10_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_Tau_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_muFast
      }
      hist mu10_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_Tau_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
      }
      hist mu10_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_Tau_Triggered {
        output = HLT/TRMUO/Expert/mu10_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
      }

# mu6_MSonly wrt upstream
      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_L1 {
        output = HLT/TRMUO/Expert/mu6_MSonly
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast_upstream
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuFast {
        output = HLT/TRMUO/Expert/mu6_MSonly
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS_upstream
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuFast {
        output = HLT/TRMUO/Expert/mu6_MSonly
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA_upstream
      }

# mu6_MSonly wrt offline (biased)
      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA {
        output = HLT/TRMUO/Expert/mu6_MSonly
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA {
        output = HLT/TRMUO/Expert/mu6_MSonly
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA {
        output = HLT/TRMUO/Expert/mu6_MSonly
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

# mu6_MSonly wrt offline selected by other triggers (unbiased)
      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_EGamma_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_EGamma_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_EGamma_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_Jet_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_Jet_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_Jet_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_MET_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_MET_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_MET_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_MinBias_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_MinBias_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_MinBias_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_Orthog_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_Orthog_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_Orthog_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

      hist mu6_MSonly_MuFast_Turn_On_Curve_wrt_MuidSA_Tau_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_muFast
      }
      hist mu6_MSonly_MuonEFMS_Turn_On_Curve_wrt_MuidSA_Tau_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
      }
      hist mu6_MSonly_MuonEFSA_Turn_On_Curve_wrt_MuidSA_Tau_Triggered {
        output = HLT/TRMUO/Expert/mu6_MSonly/SelectedByOtherTriggers
        algorithm = TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
      }

    }
# rate
    dir Rate {
      dir Ratio {
# mu10_MSonly
        hist L2_mu10_MSonly_Triggers_Per_Event {
          output = HLT/TRMUO/Expert/mu10_MSonly
	  algorithm = TRMUO_GatherData
	  display = TCanvas(900,490)
        }
        hist EF_mu10_MSonly_Triggers_Per_Event {
          output = HLT/TRMUO/Expert/mu10_MSonly
	  algorithm = TRMUO_GatherData
	  display = TCanvas(900,490)
        }
# mu6_MSonly
        hist L2_mu6_MSonly_Triggers_Per_Event {
          output = HLT/TRMUO/Expert/mu6_MSonly
	  algorithm = TRMUO_GatherData
	  display = TCanvas(900,490)
        }
        hist EF_mu6_MSonly_Triggers_Per_Event {
          output = HLT/TRMUO/Expert/mu6_MSonly
	  algorithm = TRMUO_GatherData
	  display = TCanvas(900,490)
        }
      }
    }
  }
}

##############
# Algorithms
##############

algorithm TRMUO_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

compositeAlgorithm Muon_Bins_LessThan_Threshold&GatherData {
  subalgs = Bins_LessThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm Muon_Bins_LessThan_Threshold&GatherData {
  name = Muon_Bins_LessThan_Threshold&GatherData
  BinThreshold = -1
  thresholds = th_Muon_Bins_LessThan_Threshold&GatherData
}

algorithm alg_muFast_residual_barrel {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  SubtractFromMean = 0.
  MinStat = 1000
#  reference = IDPerf_Jpsi_mass_Ref
  thresholds = th_muFast_residual_barrel
}

algorithm alg_muFast_residual_endcap {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  SubtractFromMean = 0.
  MinStat = 1000
#  reference = IDPerf_Jpsi_mass_Ref
  thresholds = th_muFast_residual_endcap
}

algorithm alg_eta_vs_phi {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  thresholds = th_eta_vs_phi
  BinThreshold = 0.02
  MinBinThreshold = 1
  MinStat = 20000
# 108*96 = 10368
# no trigger for |eta|>2.45 --> 10bins
# 98*96 = 9408
# 10% due to barrel holes
# 8468
  TotalBins = 8468
}

algorithm alg_muComb_ptratio {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  SubtractFromMean = 1.
  MinStat = 1000
#  reference = IDPerf_Jpsi_mass_Ref
  thresholds = th_muComb_ptratio
}

# mu10_MSonly
algorithm TRMUO_fermi_fit_mu10_MSonly_muFast_upstream {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu10_MSonly_muFast_upstream
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu10_MSonly_MuonEFMS_upstream {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu10_MSonly_MuonEFMS_upstream
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu10_MSonly_MuonEFSA_upstream {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu10_MSonly_MuonEFSA_upstream
  MinStat = 1000
  LikelihoodFit = 2.0
}

# mu10_MSonly wrt offline
algorithm TRMUO_fermi_fit_mu10_MSonly_muFast {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu10_MSonly_muFast
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu10_MSonly_MuonEFMS {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu10_MSonly_MuonEFMS
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu10_MSonly_MuonEFSA {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu10_MSonly_MuonEFSA
  MinStat = 1000
  LikelihoodFit = 2.0
}

# mu6_MSonly
algorithm TRMUO_fermi_fit_mu6_MSonly_muFast_upstream {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu6_MSonly_muFast_upstream
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu6_MSonly_MuonEFMS_upstream {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu6_MSonly_MuonEFMS_upstream
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu6_MSonly_MuonEFSA_upstream {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu6_MSonly_MuonEFSA_upstream
  MinStat = 1000
  LikelihoodFit = 2.0
}

# mu6_MSonly wrt offline
algorithm TRMUO_fermi_fit_mu6_MSonly_muFast {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu6_MSonly_muFast
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu6_MSonly_MuonEFMS {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu6_MSonly_MuonEFMS
  MinStat = 1000
  LikelihoodFit = 2.0
}

algorithm TRMUO_fermi_fit_mu6_MSonly_MuonEFSA {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = th_TRMUO_fermi_fit_mu6_MSonly_MuonEFSA
  MinStat = 1000
  LikelihoodFit = 2.0
}

#
# summary
#
algorithm TRMUO_WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}
algorithm TRMUO_SimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

algorithm TRMUO_AlwaysGreenSummary {
  libname = libdqm_summaries.so
  name = AlwaysGreenSummary
}

algorithm TRMUO_AlwaysUndefinedSummary {
  libname = libdqm_summaries.so
  name = AlwaysUndefinedSummary
}

###############
# Thresholds
###############

thresholds th_Muon_Bins_LessThan_Threshold&GatherData {
  limits NBins {
    warning = 100
    error = 1000
  }
}

thresholds th_muFast_residual_barrel {
 limits Sigma {
    warning = 3.0
    error = 5.0
  }
  limits AbsMean {
    warning = 3.0
    error = 5.0
  }
#  limits Chi2_per_NDF {
#    warning = 30.
#    error = 50.
#  }
}
thresholds th_muFast_residual_endcap {
 limits Sigma {
    warning = 3.0
    error = 5.0
  }
  limits AbsMean {
    warning = 3.0
    error = 5.0
  }
#  limits Chi2_per_NDF {
#    warning = 30.
#    error = 50.
#  }
}

thresholds th_eta_vs_phi {
  limits NBins {
# 8468*0.8 = 6774.4
    warning = 6774
    error = 6773.9
  }
}

thresholds th_muComb_ptratio {
 limits Sigma {
    warning = 0.4
    error = 0.6
  }
  limits AbsMean {
    warning = 0.4
    error = 0.6
  }
#  limits Chi2_per_NDF {
#    warning = 30.
#    error = 50.
#  }
}

# mu10_MSonly
thresholds th_TRMUO_fermi_fit_mu10_MSonly_muFast_upstream {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 8.0
    error   = 7.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_TRMUO_fermi_fit_mu10_MSonly_MuonEFMS_upstream {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 8.0
    error   = 7.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_TRMUO_fermi_fit_mu10_MSonly_MuonEFSA_upstream {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 8.0
    error   = 7.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

# mu10_MSonly wrt offline

thresholds th_TRMUO_fermi_fit_mu10_MSonly_muFast {
  limits Plateau {
    warning = 0.6
    error = 0.599
  }
  limits Threshold {
    warning = 8.0
    error   = 7.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_TRMUO_fermi_fit_mu10_MSonly_MuonEFMS {
  limits Plateau {
    warning = 0.6
    error = 0.599
  }
  limits Threshold {
    warning = 8.0
    error   = 7.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_TRMUO_fermi_fit_mu10_MSonly_MuonEFSA {
  limits Plateau {
    warning = 0.6
    error = 0.599
  }
  limits Threshold {
    warning = 8.0
    error   = 7.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}



# mu6_MSonly
thresholds th_TRMUO_fermi_fit_mu6_MSonly_muFast_upstream {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 16.0
    error   = 15.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu6_MSonly_MuonEFMS_upstream {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 16.0
    error   = 15.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu6_MSonly_MuonEFSA_upstream {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 16.0
    error   = 15.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

# mu6_MSonly wrt offline

thresholds th_TRMUO_fermi_fit_mu6_MSonly_muFast {
  limits Plateau {
    warning = 0.6
    error = 0.599
  }
  limits Threshold {
    warning = 16.0
    error   = 15.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu6_MSonly_MuonEFMS {
  limits Plateau {
    warning = 0.6
    error = 0.599
  }
  limits Threshold {
    warning = 16.0
    error   = 15.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu6_MSonly_MuonEFSA {
  limits Plateau {
    warning = 0.6
    error = 0.599
  }
  limits Threshold {
    warning = 16.0
    error   = 15.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}
