# DQMF RPCLV1, RPCRaw and MDTvsRPC
#dir Muon {
#  dir MuonRawDataMonitoring {
#    dir RPCLV1 {
#      dir SectorLogic {	
#         dir SectorLogic43 {
#	   hist all_in_dir {
#	   output    = SectorLogic43
#	   reference = BasicRef
#	   algorithm = bin
#	  }
#         }   
#      }
#    }
#  }
#}
dir Muon {
  dir MuonRawDataMonitoring {
    dir RPCLV1 {
      dir Overview {
        
	output = MuonDetectors/L1_RPC
      
        hist SLChannel_per_SectorLogic {
	  algorithm = SL_GreaterThan_Threshold
	  output    = MuonDetectors/L1_RPC/PAD-CM-ROI_vsSectorLogic

	}
	
	hist PadChannel_per_SectorLogic {
	  algorithm = PAD_GreaterThan_Threshold 
	  output    = MuonDetectors/L1_RPC/PAD-CM-ROI_vsSectorLogic
	}
	
	hist CMChannel_per_SectorLogic {
	  algorithm = CM_GreaterThan_Threshold
	  output    = MuonDetectors/L1_RPC/PAD-CM-ROI_vsSectorLogic
	}
	
	hist ROI_LowPt_distribution {
	  algorithm = ROI_LowPt_GreaterThan_Threshold
	  output    = MuonDetectors/L1_RPC/PAD-CM-ROI_vsSectorLogic
	}
	
	hist ROI_HighPt_distribution {
	  algorithm = ROI_HighPt_GreaterThan_Threshold
	  output    = MuonDetectors/L1_RPC/PAD-CM-ROI_vsSectorLogic
	}
	
	hist Trigger_Hits_LowPt_phi_Stat {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerHits
	}
	
	hist Trigger_Hits_LowPt_eta_Stat {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerHits 
	}
	
	hist Trigger_Hits_Lowpt_etaphi_Stat {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerHits 
	}
	
	hist Trigger_Hits_HighPt_phi_Stat {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerHits 
	}
	
	hist Trigger_Hits_HighPt_eta_Stat {
	  algorithm = AlgNoEmpty 
	  output    = MuonDetectors/L1_RPC/TriggerHits
	}
	
	hist Trigger_Hits_HighPt_etaphi_Stat {
	  algorithm = AlgNoEmpty 
	  output    = MuonDetectors/L1_RPC/TriggerHits
	}
	
	hist Trigger_Condition_LowPt_Phi {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerConditions 
	}
	
	hist Trigger_Condition_LowPt_Eta {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerConditions  
	}
		
	hist Trigger_Condition_HighPt_Phi {
	  algorithm = AlgNoEmpty 
	  output    = MuonDetectors/L1_RPC/TriggerConditions 
	}
		
	hist Trigger_Condition_HighPt_Eta {
	  algorithm = AlgNoEmpty
	  output    = MuonDetectors/L1_RPC/TriggerConditions  
	}
	
      }
    }




    dir RPC {
      dir Overview {
        
	output = MuonDetectors/RPC/Overview
      
#
        hist Number_of_RPC_hits_per_event {
	  algorithm = bin
	}
	hist Number_of_RPC_clusters_per_event {
	  algorithm = bin
	}
	hist Eta_ClusterSize_Distribution {	  
	  algorithm = Checkchi2
	}
	hist Phi_ClusterSize_Distribution {
	  algorithm = bin
	}
	hist Eta_Time_Distribution {
	  algorithm = bin
	}
	hist Phi_Time_Distribution {
	  algorithm = bin
	}
#	
        hist RPC_Chamber_TopTen_Stat {
	  algorithm = bin
	}        
	hist Eta_station_Distribution {
	  algorithm = bin
	}	
	
#
	hist AtlasPivot0 {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasPivot1 {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasLowPt0 {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasLowPt1 {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasHighPt0 {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasHighPt1 {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasLowPt_TriggerOut {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasHighPt_TriggerFromLowPt {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}
	hist AtlasHighPt_TriggerOut {
	  algorithm = bin
	  output = MuonDetectors/RPC/PhivsEta/Atlas
	}	
#
#        hist rpcchi2dof {
#	  algorithm = bin
#	  output = MuonDetectors/RPC/RPCstandaloneTracks
#	}
#        hist rpczxSurfaceView {
#	  algorithm = bin
#	  output = MuonDetectors/RPC/RPCstandaloneTracks
#	}

#	
      }
      
      
      dir Sectors {
	  algorithm = AlgNoEmpty      
          output = MuonDetectors/RPC/PhivsEta/Sectors 
          dir Sector5 {
              dir PhivsEta {
	       reference = BasicRef
	       hist all_in_dir {        
	       }   
	 
              }
          }
      } 
      
    }
    
    
   

    dir MDTvsRPC {
      dir Sectors {
        output    = MuonDetectors/MDTvsRPC
	algorithm = CorrelationStripvsTube      
	
	dir Sector1 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector1
         hist Sector1_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector1_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector1_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector2 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector2
         hist Sector2_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector2_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector2_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector3 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector3
         hist Sector3_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector3_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector3_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector4 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector4
         hist Sector4_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector4_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector4_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	
	dir Sector5 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector5
         hist Sector5_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector5_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector5_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector6 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector6
         hist Sector6_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector6_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector6_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector7 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector7
         hist Sector7_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector7_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector7_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector8 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector8
         hist Sector8_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector8_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector8_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
		
	dir Sector9 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector9
         hist Sector9_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector9_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector9_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector10 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector10
         hist Sector10_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector10_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector10_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector11 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector11
         hist Sector11_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector11_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector11_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector12 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector12
         hist Sector12_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector12_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector12_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
		
	dir Sector13 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector13
         hist Sector13_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector13_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector13_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector14 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector14
         hist Sector14_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector14_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector14_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector15 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector15
         hist Sector15_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector15_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector15_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}
	dir Sector16 {
#	 output    = MuonDetectors/MDTvsRPC/Sectors/Sector16
         hist Sector16_Pivot_MDTtube_vs_RPCstrip {      
	 }
         hist Sector16_LowPt_MDTtube_vs_RPCstrip {      
	 }
         hist Sector16_HighPt_MDTtube_vs_RPCstrip {      
	 }
	}	
	
      }
    }	 
    
    
    
    
  }
}


#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary
  
  output MuonDetectors {
         output L1_RPC {
                output PAD-CM-ROI_vsSectorLogic {    
                } 
                output TriggerHits {
                } 
                output TriggerConditions {
                }
         }
  
         output RPC {
	        output Overview {
                }
                output PhivsEta {
		       output Atlas {
                       }
		       output Sectors {
                       }
                }
#                output RPCstandaloneTracks {
#                }
		
         }
	 
	   
         output MDTvsRPC {
         }







   }
  
}


#############
# Algorithms
#############

algorithm AlgNoEmpty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

algorithm WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}

algorithm bin {
  libname = libdqm_algorithms.so
  name = BinContentComp
  reference = BasicRef
  NSigma = 1
  thresholds = th1
}

algorithm Chi2Prob {
  libname = libdqm_algorithms.so
  name = Chi2Test_Prob
  reference = BasicRef
  thresholds = Chi2ProbThresh
}

algorithm SL_GreaterThan_Threshold {
  libname = libDataQualityInterfacesAlgs.so
  name = CountsBinsGreaterThan
  BinStart = 1
  BinEnd   = 64
  CountsTh = 10
  thresholds = thSL      
}

algorithm PAD_GreaterThan_Threshold {
  libname = libDataQualityInterfacesAlgs.so
  name = CountsBinsGreaterThan
  BinStart = 1
  BinEnd   = 64
  CountsTh = 10
  thresholds = thPAD     
}

algorithm CM_GreaterThan_Threshold {
  libname = libDataQualityInterfacesAlgs.so
  name = CountsBinsGreaterThan
  BinStart = 1
  BinEnd   = 64
  CountsTh = 10
  thresholds = thCM    
}

algorithm ROI_LowPt_GreaterThan_Threshold {
  libname = libDataQualityInterfacesAlgs.so
  name = CountsBinsGreaterThan
  BinStart = 1
  BinEnd   = 64
  CountsTh = 10
  thresholds = thROILowPt    
}

algorithm ROI_HighPt_GreaterThan_Threshold {
  libname = libDataQualityInterfacesAlgs.so
  name = CountsBinsGreaterThan
  BinStart = 1
  BinEnd   = 64
  CountsTh = 1
  thresholds = thROIHighPt    
}

algorithm CheckMean {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = thMean   
}

algorithm Checkchi2 {
  libname = libDataQualityInterfacesAlgs.so
  reference = BasicRef
  name = AlgCheckMean
  thresholds = thchi2   
}

algorithm BinDump {
  libname = libDataQualityInterfacesAlgs.so
  name = CountsBinsGreaterThan
  BinStart = 1
  BinEnd   = 64
  Method   = 0
  CountsTh = 10
  thresholds = thNEntries   
}


algorithm CorrelationStripvsTube {
  libname = libDataQualityInterfacesAlgs.so
  name = CorrelationYX
  BinStart   = 2
  BinEnd     = 1
  thresholds = thCorrMin   
}

reference BasicRef {
  file = 29548.root
  name = same_name
  #name = Muon/MuonRawDataMonitoring/RPCLV1/Overview/SLChannel_per_SectorLogic
} 
  
thresholds thCorrMin {
  limits CorrMin {
    error = 0.5
    warning = 0.75
  }
}  
  
thresholds thNEntries {
  limits NEntries {
    error = 8
    warning = 8
  }
}  
thresholds th1 {
  limits NBins {
    warning = 2
    error = 4
  }
} 

thresholds th2 {
  limits NBins {
    warning = 4
    error = 2
  }
}

thresholds thSL {
  limits NEntries {
    warning = 8
    error = 7
  }
}

thresholds thgSL {
  limits NBins {
    error   = 2
    warning = 5
    
  }
}
thresholds thPAD {
  limits NEntries {
    warning = 47
    error = 46
  }
}

thresholds thCM {
  limits NEntries {
    warning = 309
    error = 308
  }
}


thresholds thROILowPt {
  limits NEntries {
    warning = 41
    error = 40
  }
}


thresholds thROIHighPt {
  limits NEntries {
    warning = 11
    error = 10
  }
}

thresholds thMean {
  limits XMean {
    warning = 2
    error = 3
  }
}

thresholds thchi2 {
  limits chi2 {
    warning = 2
    error = 3
  }
}

thresholds Chi2ProbThresh {
  limits P {
    warning = 0.9
    error = 0.3
  }
}

