# **********************************************************************
# $Id: collisions_run.config 658064 2015-03-31 10:44:47Z dzanzi $
# **********************************************************************

#######################
# HLTtau
#######################

#######################
# Output
#######################

output top_level {
	algorithm = WorstCaseSummary

  	output HLT {
     		output TRTAU {

			output Expert {

                                output tau0_perf_ptonly_L1TAU12 {
                                        output L1RoI {
                                        }
                                        output PreselectionTau {
                                        }
                                        output EFTau {
                                                output BDT {
                                                        output 1p_nonCorrected {
                                                        }
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                                }
                                        }
                                }

                                output tau0_perf_ptonly_L1TAU60 {
                                        output L1RoI {
                                        }
                                        output PreselectionTau {
                                        }
                                        output EFTau {
                                                output BDT {
                                                        output 1p_nonCorrected {
                                                        }
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                                }
                                        }
                                }

                                output tau25_idperf_tracktwo {
                                        output L1RoI {
                                        }
                                        output PreselectionTau {
                                        }
                                        output EFTau {
                                                output BDT {
                                                        output 1p_nonCorrected {
                                                        }
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                                }
                                        }
                                }

                                output tau25_medium1_tracktwo {
                                        output L1RoI {
                                        }
                                        output PreselectionTau {
                                        }
                                        output EFTau {
                                                output BDT {
                                                        output 1p_nonCorrected {
                                                        }
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                                }
                                        }
                                }

				output tau125_medium1_tracktwo {
					output L1RoI {
                                        }
					output PreselectionTau {
                                        }
                                        output EFTau {
						output BDT {
							output 1p_nonCorrected {
							}
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                        	}
                                        }
				}

                                output tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM {
                                        output L1RoI {
                                        }
                                        output PreselectionTau {
                                        }
                                        output EFTau {
                                                output BDT {
                                                        output 1p_nonCorrected {
                                                        }
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                                }
                                        }
                                }

                                output mu14_tau25_medium1_tracktwo {
                                        output L1RoI {
                                        }
                                        output PreselectionTau {
                                        }
                                        output EFTau {
                                                output BDT {
                                                        output 1p_nonCorrected {
                                                        }
                                                        output mp_nonCorrected {
                                                        }
                                                        output 1p_Corrected {
                                                        }
                                                        output mp_Corrected {
                                                        }
                                                }
                                        }
                                }



			}

            		output Shifter {

#                                output lowest_test {
#                                        output L1RoI {
#                                        }
#                                        output EFTau {
#                                        }
#                                        output TurnOnCurves {
#                                                output RecoEfficiencies {
#                                                }
#                                        }
#                                }

	    	       		output lowest_singletau {
		                	output L1RoI {
					}
                                	output EFTau {
                                	}
	    	       		}
                                output lowest_ditau {
                                        output L1RoI {
                                        }
                                        output EFTau {
                                        }    
                                }
                                output lowest_etau {
                                        output L1RoI {
                                        }
                                        output EFTau {
                                        }  
                                }
                                output lowest_mutau {
                                        output L1RoI {
                                        }
                                        output EFTau {
                                        }
                                }
                                output lowest_mettau {
                                        output L1RoI {
                                        }
                                        output EFTau {
                                        }
                                }	
	    		}
      		}
  	}
}


#######################
# Histogram Assessments
#######################

## input
dir HLT {
        	dir TauMon {

#testing
		#	dir tau25_perf {
		#		dir L1RoI {
                #                	output = HLT/TRTAU/Shifter/lowest_singletau/L1RoI
                #                        hist h.* {
                #                               	algorithm = Histogram_Not_Empty
		#				#reference = CentrallyManagedReferences
                #                                display = StatBox
		#				regex = 1
                #                        }
                #                }
		#	}

                        dir Expert {
				
				dir tau0_perf_ptonly_L1TAU12 {
                                        dir L1RoI {
                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/L1RoI
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
					}
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
						
						dir BDT {
                                                        dir 1p_nonCorrected {
								output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/EFTau/BDT/1p_nonCorrected
                                                		hist h.* {
                                                        		algorithm = Histogram_Not_Empty
                                                        		display = StatBox
                                                        		regex = 1
                            	                		}
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU12/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
					}
				}
                                dir tau0_perf_ptonly_L1TAU60 {
					dir L1RoI {
                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/L1RoI
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }

                                                dir BDT {
                                                        dir 1p_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/EFTau/BDT/1p_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/tau0_perf_ptonly_L1TAU60/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
                                        }
                                }
                                dir tau25_idperf_ptonly_tracktwo {
					dir L1RoI {
                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/L1RoI
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }

                                                dir BDT {
                                                        dir 1p_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/EFTau/BDT/1p_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/tau25_idperf_ptonly_tracktwo/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
                                        }
                                }
                                dir tau25_medium1_tracktwo {
					dir L1RoI {
                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/L1RoI
                                                hist h.* { 
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
						 		regex = 1
                                                }

                                                dir BDT {
                                                        dir 1p_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/EFTau/BDT/1p_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/tau25_medium1_tracktwo/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
                                        }
                                }
                                dir tau125_medium1_tracktwo {
					dir L1RoI {
                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/L1RoI
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1 
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                                regex = 1
                                                }

                                                dir BDT {
                                                        dir 1p_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/EFTau/BDT/1p_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/tau125_medium1_tracktwo/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
                                        }
                                }
                                dir tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM {
					dir L1RoI {
                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/L1RoI
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1 
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                                regex = 1
                                                }

                                                dir BDT {
                                                        dir 1p_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/EFTau/BDT/1p_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/tau35_perf_ptonly_tau25_perf_ptonly_L1TAU20IM_2TAU12IM/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
                                        }
                                }
                                dir mu14_tau25_medium1_tracktwo {
					dir L1RoI {
                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/L1RoI
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir PreselectionTau {
                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/PreselectionTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                        regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/EFTau
                                                hist h.* {
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
                                                                regex = 1
                                                }

                                                dir BDT {
                                                        dir 1p_nonCorrected {
                                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/EFTau/BDT/1p_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_nonCorrected {
                                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/EFTau/BDT/mp_nonCorrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir 1p_Corrected {
                                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/EFTau/BDT/1p_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                        dir mp_Corrected {
                                                                output = HLT/TRTAU/Expert/mu14_tau25_medium1_tracktwo/EFTau/BDT/mp_Corrected
                                                                hist h.* {
                                                                        algorithm = Histogram_Not_Empty
                                                                        display = StatBox
                                                                        regex = 1
                                                                }
                                                        }
                                                }
                                        }
                                }

			}

			dir Shifter {
## Dir lowest_singletau Begins
	    			dir lowest_singletau {
					dir L1RoI {
						output = HLT/TRTAU/Shifter/lowest_singletau/L1RoI
		    				hist h.* {
			   				#reference = CentrallyManagedReferences
			   				algorithm = Histogram_Not_Empty
			   				display = StatBox
							regex = 1
						}
					}
                                        dir EFTau {
                                                output = HLT/TRTAU/Shifter/lowest_singletau/EFTau
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
				}
## dir lowest_singletau ends

## dir lowest_ditau begins

                                dir lowest_ditau {
                                        dir L1RoI {
                                                output = HLT/TRTAU/Shifter/lowest_ditau/L1RoI
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Shifter/lowest_ditau/EFTau
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                }


## dir lowest_ditau ends

## dir lowest_etau begins

                                dir lowest_etau {
                                        dir L1RoI {
                                                output = HLT/TRTAU/Shifter/lowest_etau/L1RoI
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Shifter/lowest_etau/EFTau
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        } 
                                }

## dir lowest_etau ends

## dir lowest_mutau begins

                                dir lowest_mutau {
                                        dir L1RoI {
                                                output = HLT/TRTAU/Shifter/lowest_mutau/L1RoI
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Shifter/lowest_mutau/EFTau
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                }


## dir lowest_mutau ends

## dir lowest_mettau begins

                                dir lowest_mettau {
                                        dir L1RoI {
                                                output = HLT/TRTAU/Shifter/lowest_mettau/L1RoI
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                        dir EFTau {
                                                output = HLT/TRTAU/Shifter/lowest_mettau/EFTau
                                                hist h.* {
                                                        #reference = CentrallyManagedReferences
                                                        algorithm = Histogram_Not_Empty
                                                        display = StatBox
							regex = 1
                                                }
                                        }
                                }

## dir lowest_mettau ends

			}
                }
}

##############
# Algorithms
##############

algorithm HLT_TAU_Histogram_Not_Empty&GatherData { 
  libname = libdqm_algorithms.so
  name =  HLT_TAU_Histogram_Not_Empty&GatherData
  reference = CentrallyManagedReferences
  
} 

compositeAlgorithm HLT_TAU_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

# algorithm WorstCaseSummary {
#  libname = libdqm_summaries.so
#  name = WorstCaseSummary
#}

#algorithm Histogram_Not_Empty {
#  libname = libdqm_algorithms.so
#  name = Histogram_Not_Empty
#}

###############
# Thresholds
###############
