# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTtau
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRTAU {      
      output tauNoCut_cosmic {
        output L1RoI {
        }
        output T2CaloTau {
        }
        output T2IDTau {
        }
        output T2TauFinal {
        }
        output EFTau {
        }
        output EFVsOffline {
        }
        output EFvsL2L1 {
        }
        output OfflineEfficiency {
	  output Efficiency {
          }
        }
        output RelativeEfficiency {
          output Efficiency {
          }
        }       
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

# the tauNoCut_cosmic sections will produce warnings but override the description for
# some selected histograms

dir HLT {
  algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
  output = HLT/TRTAU  
  dir TauMon/tauNoCut_cosmic {
    dir L1RoI {
      output = HLT/TRTAU/tauNoCut_cosmic/L1RoI
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
      }
    }
    dir T2CaloTau {
      output = HLT/TRTAU/tauNoCut_cosmic/T2CaloTau
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2IDTau {
      output = HLT/TRTAU/tauNoCut_cosmic/T2IDTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2TauFinal {
      output = HLT/TRTAU/tauNoCut_cosmic/T2TauFinal
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFTau {
      output = HLT/TRTAU/tauNoCut_cosmic/EFTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFVsOffline {
      output = HLT/TRTAU/tauNoCut_cosmic/EFVsOffline
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFvsL2L1 {
      output = HLT/TRTAU/tauNoCut_cosmic/EFvsL2L1
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
#    dir OfflineEfficiency {
#      output = HLT/TRTAU/tauNoCut_cosmic/OfflineEfficiency
#      hist all_in_dir {          
#        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        reference = CentrallyManagedReferences
#        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        display = StatBox
#        
#      }
#      dir Efficiency {
#        output = HLT/TRTAU/tauNoCut_cosmic/OfflineEfficiency/Efficiency
#        hist all_in_dir {            
#          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          reference = CentrallyManagedReferences
#          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#          display = StatBox
#        
#        }
#      }
#    }
    dir RelativeEfficiency {
      output = HLT/TRTAU/tauNoCut_cosmic/RelativeEfficiency
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
      dir Efficiency {
        output = HLT/TRTAU/tauNoCut_cosmic/RelativeEfficiency/Efficiency
        hist all_in_dir {            
          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
          reference = CentrallyManagedReferences
          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
          display = StatBox
        
        }
      } 
    }        
  }

          


}
##############
# Algorithms
##############

algorithm HLT_TAU_Histogram_Not_Empty&GatherData { 
  libname = libdqm_algorithms.so
  name =  HLT_TAU_Histogram_Not_Empty&GatherData
  reference = CentrallyManagedReferences
  
} 

compositeAlgorithm HLT_TAU_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

###############
# Thresholds
###############
