# **********************************************************************
# $Id: heavyions_run.config 516887 2012-09-09 22:34:18Z vogel $
# **********************************************************************

#######################
# HLTtau
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRTAU {
      output Common {
	output L1 {
	}
	output L2 {
	}
	output EF {
	}
#	output Ratio {
#	}
      }
      output tauNoCut {
        output L1RoI {
        }
        output T2CaloTau {
        }
        output T2IDTau {
        }
        output T2TauFinal {
        }
        output EFTau {
        }
        output EFVsOffline {
        }
        output EFvsL2L1 {
        }
#        output OfflineRatio {
#	  output Ratio {
#	    output BDTMedium {
#            }
#          }
#	  output BDTMedium {
#          }
#        }
        output RelativeEfficiency {
          output Efficiency {
          }
        }       
      }
      output tauNoCut_L1TAU40 {
        output L1RoI {
        }
        output T2CaloTau {
        }
        output T2IDTau {
        }
        output T2TauFinal {
        }
        output EFTau {
        }
        output EFVsOffline {
        }
        output EFvsL2L1 {
        }
#        output OfflineRatio {
#	  output Ratio {
#	    output BDTMedium {
#            }
#          }
#	  output BDTMedium {
#          }
#        }        
        output RelativeEfficiency {
          output Efficiency {
          }
        }       
      }
      output tau20_medium1 {
        output L1RoI {
        }
        output T2CaloTau {
        }
        output T2IDTau {
        }
        output T2TauFinal {
        }
        output EFTau {
        }
        output EFVsOffline {
        }
        output EFvsL2L1 {
        }
#        output OfflineRatio {
#	  output Ratio {
#	    output BDTMedium {
#            }
#          }
#	  output BDTMedium {
#          }
#        }         
        output RelativeEfficiency {
          output Efficiency {
          }
        }       
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

# the tauNoCut sections will produce warnings but override the description for
# some selected histograms

dir HLT {
  algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
  output = HLT/TRTAU

  dir TauMon/tauNoCut/L1RoI {    
    hist hL1RoIEta@Common {
      output = HLT/TRTAU/Common/L1
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_L1RoIEta
      display = StatBox
    }
    hist hL1RoIPhi@Common {
      output = HLT/TRTAU/Common/L1
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_L1RoIPhi
      display = StatBox
    } 
    hist hL1RoITauClus@Common {
      output = HLT/TRTAU/Common/L1
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_L1RoIEt
      display = StatBox
    }
  }
  dir TauMon/tauNoCut/T2CaloTau {    
    hist hEtaVsPhi@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EtaVsPhi
      display = StatBox
    }
    hist hEtRawMedium@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EtRawMedium
      display = StatBox
    }
    hist hEMRadius3S@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEMRadius
      display = StatBox
    }
    hist hCoreFraction@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hCoreFraction
      display = StatBox
    }
  }
  dir TauMon/tauNoCut/T2IDTau { 
    hist hNCoreTracks@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_NCoreTracks
      display = StatBox
    }
    hist hNIsoTracks@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_NIsoTracks
      display = StatBox
    }
    hist hSumPtRatio@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_SumPtRatio
      display = StatBox
    } 
  }
  dir TauMon/tauNoCut/T2TauFinal {
    hist hL2TrkAvgDist@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hL2TrkAvgDist
      display = StatBox
    }
    hist hL2EtOverPtLeadTrk@Common {
      output = HLT/TRTAU/Common/L2
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hL2EtOverPtLeadTrk
      display = StatBox
    }
  }
  dir TauMon/tauNoCut/EFTau {    
    hist hEFEt@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFEt
      display = StatBox
    }    
    hist hEFnTrack@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFnTrack
      display = StatBox
    }
    hist hEFEtovPtLd@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFEtovPtLd
      display = StatBox
    }
    hist hEFTrkAvgDist@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFTrkAvgDist
      display = StatBox
    }
    hist hEFEMRadius@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFEMRadius
      display = StatBox
    }
    hist hEFHADRadius@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFHADRadius
      display = StatBox
    }
    hist hEta@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EtEta
      display = StatBox
    }
    hist hPhi@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EtPhi
      display = StatBox
    }
    hist hEFCentFrac@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFCentFrac
      display = StatBox
    }
    hist hEFnWideTrack@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFnWideTrack
      display = StatBox
    }
    hist hEFIpSigLeadTrk@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFIpSigLeadTrk
      display = StatBox
    }
    hist hEFTrFlightPathSig@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFTrFlightPathSig
      display = StatBox
    }
    hist hEFMassTrkSys@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFMassTrkSys
      display = StatBox
    }
    hist hEFDRmax@Common {
      output = HLT/TRTAU/Common/EF
      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
      reference = CentrallyManagedReferences
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#hEFDRmax
      display = StatBox
    }
  }
#  dir TauMon/tau20_medium1/OfflineRatio/Ratio {    
#    hist hEFOfflineRatioPt@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyPt
#      display = StatBox,NoNorm
#    }
#    hist hEFOfflineRatioPhi@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyPhi
#      display = StatBox,NoNorm
#    }
#    hist hEFOfflineRatioEta@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyEta
#      display = StatBox,NoNorm
#    }
#    hist hEFOfflineRatioNvtx@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyNvtx
#      display = StatBox,NoNorm
#    }
#  }
#  dir TauMon/tau20_medium1/OfflineRatio/Ratio/BDTMedium {
#    hist hEFOfflineRatioPtBDTMedium@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyPtBDTMedium
#      display = StatBox,NoNorm
#    }
#    hist hEFOfflineRatioPhiBDTMedium@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyPhiBDTMedium
#      display = StatBox,NoNorm
#    }
#    hist hEFOfflineRatioEtaBDTMedium@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyEtaBDTMedium
#      display = StatBox,NoNorm
#    }
#    hist hEFOfflineRatioNvtxBDTMedium@Common {
#      output = HLT/TRTAU/Common/Ratio
#      algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#      reference = CentrallyManagedReferences
#      description = https://twiki.cern.ch/twiki/bin/view/Atlas/TauSliceDataQualityMonitoring#h_EFOfflineEfficiencyNvtxBDTMedium
#      display = StatBox,NoNorm
#    }
#  }

  dir TauMon/tauNoCut {
    dir L1RoI {
      output = HLT/TRTAU/tauNoCut/L1RoI
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
      }
    }
    dir T2CaloTau {
      output = HLT/TRTAU/tauNoCut/T2CaloTau
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2IDTau {
      output = HLT/TRTAU/tauNoCut/T2IDTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2TauFinal {
      output = HLT/TRTAU/tauNoCut/T2TauFinal
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFTau {
      output = HLT/TRTAU/tauNoCut/EFTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFVsOffline {
      output = HLT/TRTAU/tauNoCut/EFVsOffline
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFvsL2L1 {
      output = HLT/TRTAU/tauNoCut/EFvsL2L1
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
#    dir OfflineRatio {
#      output = HLT/TRTAU/tauNoCut/OfflineRatio
#      hist all_in_dir {          
#        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        reference = CentrallyManagedReferences
#        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        display = StatBox        
#      }
#      dir BDTMedium {
#      	output = HLT/TRTAU/tauNoCut/OfflineRatio/BDTMedium
#      	hist all_in_dir {          
#        	algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        	reference = CentrallyManagedReferences
#        	description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        	display = StatBox
#        }
#      }
#      dir Ratio {
#        output = HLT/TRTAU/tauNoCut/OfflineRatio/Ratio
#        hist all_in_dir {            
#          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          reference = CentrallyManagedReferences
#          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#          display = StatBox,NoNorm
#        
#        }
#        dir BDTMedium { 
#        	output = HLT/TRTAU/tauNoCut/OfflineRatio/Ratio/BDTMedium
#        	hist all_in_dir {            
#          	  algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          	  reference = CentrallyManagedReferences
#          	  description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#          	  display = StatBox,NoNorm
#               }
#        }
#      }
#    }             
    dir RelativeEfficiency {
      output = HLT/TRTAU/tauNoCut/RelativeEfficiency
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
      dir Efficiency {
        output = HLT/TRTAU/tauNoCut/RelativeEfficiency/Efficiency
        hist all_in_dir {            
          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
          reference = CentrallyManagedReferences
          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
          display = StatBox,NoNorm
        
        }
      } 
    }        
  }

  dir TauMon/tau20_medium1 {
    dir L1RoI {
      output = HLT/TRTAU/tau20_medium1/L1RoI
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
      }
    }
    dir T2CaloTau {
      output = HLT/TRTAU/tau20_medium1/T2CaloTau
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2IDTau {
      output = HLT/TRTAU/tau20_medium1/T2IDTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2TauFinal {
      output = HLT/TRTAU/tau20_medium1/T2TauFinal
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFTau {
      output = HLT/TRTAU/tau20_medium1/EFTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFVsOffline {
      output = HLT/TRTAU/tau20_medium1/EFVsOffline
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFvsL2L1 {
      output = HLT/TRTAU/tau20_medium1/EFvsL2L1
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
#    dir OfflineRatio {
#      output = HLT/TRTAU/tau20_medium1/OfflineRatio
#      hist all_in_dir {          
#        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        reference = CentrallyManagedReferences
#        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        display = StatBox        
#      }
#      dir BDTMedium {
#      	output = HLT/TRTAU/tau20_medium1/OfflineRatio/BDTMedium
#      	hist all_in_dir {          
#        	algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        	reference = CentrallyManagedReferences
#        	description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        	display = StatBox
#        }
#      }
#      dir Ratio {
#        output = HLT/TRTAU/tau20_medium1/OfflineRatio/Ratio
#        hist all_in_dir {            
#          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          reference = CentrallyManagedReferences
#          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#          display = StatBox,NoNorm
#        
#        }
#        dir BDTMedium { 
#        	output = HLT/TRTAU/tau20_medium1/OfflineRatio/Ratio/BDTMedium
#        	hist all_in_dir {            
#          	  algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          	  reference = CentrallyManagedReferences
#          	  description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#          	  display = StatBox,NoNorm
#               }
#        }
#      }
#    }        
    dir RelativeEfficiency {
      output = HLT/TRTAU/tau20_medium1/RelativeEfficiency
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
      dir Efficiency {
        output = HLT/TRTAU/tau20_medium1/RelativeEfficiency/Efficiency
        hist all_in_dir {            
          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
          reference = CentrallyManagedReferences
          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
          display = StatBox,NoNorm
        
        }
      } 
    }        
  }
  
  dir TauMon/tauNoCut_L1TAU40 {
    dir L1RoI {
      output = HLT/TRTAU/tauNoCut_L1TAU40/L1RoI
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
      }
    }
    dir T2CaloTau {
      output = HLT/TRTAU/tauNoCut_L1TAU40/T2CaloTau
      hist all_in_dir {
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2IDTau {
      output = HLT/TRTAU/tauNoCut_L1TAU40/T2IDTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir T2TauFinal {
      output = HLT/TRTAU/tauNoCut_L1TAU40/T2TauFinal
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFTau {
      output = HLT/TRTAU/tauNoCut_L1TAU40/EFTau
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFVsOffline {
      output = HLT/TRTAU/tauNoCut_L1TAU40/EFVsOffline
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
    dir EFvsL2L1 {
      output = HLT/TRTAU/tauNoCut_L1TAU40/EFvsL2L1
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
    }
#    dir OfflineRatio {
#      output = HLT/TRTAU/tauNoCut_L1TAU40/OfflineRatio
#      hist all_in_dir {          
#        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        reference = CentrallyManagedReferences
#        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        display = StatBox        
#      }
#      dir BDTMedium {
#      	output = HLT/TRTAU/tauNoCut_L1TAU40/OfflineRatio/BDTMedium
#      	hist all_in_dir {          
#        	algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#        	reference = CentrallyManagedReferences
#        	description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        	display = StatBox
#        }
#      }
#      dir Ratio {
#        output = HLT/TRTAU/tauNoCut_L1TAU40/OfflineRatio/Ratio
#        hist all_in_dir {            
#          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          reference = CentrallyManagedReferences
#          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#          display = StatBox,NoNorm
#        
#        }
#        dir BDTMedium { 
#        	output = HLT/TRTAU/tauNoCut_L1TAU40/OfflineRatio/Ratio/BDTMedium
#       	hist all_in_dir {            
#          	  algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
#          	  reference = CentrallyManagedReferences
#          	  description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
#        	  display = StatBox,NoNorm
#               }
#        }
#      }
#    }
    dir RelativeEfficiency {
      output = HLT/TRTAU/tauNoCut_L1TAU40/RelativeEfficiency
      hist all_in_dir {          
        algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
        reference = CentrallyManagedReferences
        description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
        display = StatBox
        
      }
      dir Efficiency {
        output = HLT/TRTAU/tauNoCut_L1TAU40/RelativeEfficiency/Efficiency
        hist all_in_dir {            
          algorithm = HLT_TAU_Histogram_Not_Empty&GatherData
          reference = CentrallyManagedReferences
          description = https://twiki.cern.ch/twiki/pub/Atlas/TapmTau/Tier0_documentation.pdf
          display = StatBox,NoNorm
        
        }
      } 
    }        
  }          


}
##############
# Algorithms
##############

algorithm HLT_TAU_Histogram_Not_Empty&GatherData { 
  libname = libdqm_algorithms.so
  name =  HLT_TAU_Histogram_Not_Empty&GatherData
  reference = CentrallyManagedReferences
  
} 

compositeAlgorithm HLT_TAU_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

###############
# Thresholds
###############
