# **********************************************************************
# $Id: heavyions_run.config 708176 2015-11-16 16:48:59Z ebergeas $
# **********************************************************************

#######################
# HLTtau
#######################

#######################
# Output
#######################

## There are no tau triggers being run for HI in 2015. This file is thus emptied. 

output top_level {
  output HLT {
##    output TRTAU {
##    }
  }
}

#######################
# Histogram Assessments
#######################




##############
# Algorithms
##############

##algorithm HLT_TAU_Histogram_Not_Empty&GatherData { 
##  libname = libdqm_algorithms.so
##  name =  HLT_TAU_Histogram_Not_Empty&GatherData
##  reference = CentrallyManagedReferences
##  
##} 

##compositeAlgorithm HLT_TAU_Histogram_Not_Empty&GatherData {
##  subalgs = GatherData,Histogram_Not_Empty
##  libnames = libdqm_algorithms.so
##}

###############
# Thresholds
###############
