##################################################
##    Configuration file to compute the gluon fraction     ##
##################################################

## input file (signal sample)
INPUTFILE =./../../outputLoose.root 

## generator systematic files used in the analysis (i.e Powheg vs aMcAtNlo) 
SYSTFILE_GEN1 =./files/Loose.root
SYSTFILE_GEN2 =./files/Loose.root
## What difference have you applied for this systematic variation in your analysis?
## (1 = full difference ; 0.5 = half of the difference) 
SYSTDIFF_GEN =1

## fragmentation systematic used in the anbalysis (i.e Pythia vs Herwigpp)
SYSTFILE_FRAG1 =./../../outputLoose.root
SYSTFILE_FRAG2 =./../../outputLoose.root
SYSTDIFF_FRAG =1

## radiation systematic used in the analysis (radHi/radLow)
SYSTFILE_RAD1 =./../../outputLoose.root
SYSTFILE_RAD2 =./../../outputLoose.root
SYSTDIFF_RAD = 0.5

## Name output file
OUTPUTFILE =FlavourComposition.root

## Channels: add them separated by colon
CHANNEL =mujets_2016:mujets_2015

## if you are using loose selection add DOLOOSE to read the histograms in JetFlavorPlots_Loose sub-directory
## DOLOOSE

## To run the extended configuration add the DETAILED keyword
## DETAILED

## Compute the gluon fraction taking into account only
## light quarks or also heavy quarks ( light, lightC(default) or lightCB )
## It only runs with extended configuration
GLUON_VS_FLAVOUR =lightC

## If you want to store the histograms in ps files automatically add the keyword
DO_PS


