
##############################################################################
#
#  JetUncertaintiesTool Input Settings for large R jets mass, pT
#  and other substructure variables.
#  This is the medium correlation assumption variant.
#    
#
#    January, 2017
#
#  S. Schramm, P-A Delsart, S. Meehan
# 
##############################################################################

UncertaintyRelease:                 2016_Moriond2017
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15c
UncertaintyRootFile:                UJ_2016/Moriond2017/AntiKt10LCTopoTrimmedPtFrac5SmallR20_20170217_v3_jet1jet2withweights_PROCESSED.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               Calo

##############################################################################
# 
#   Settings for components
#
##############################################################################


#  Groups


JESGroup.1.Name:                   TAM_Baseline_Kin
JESGroup.1.Desc:                   2016 TAM measurement, rel 20.7: Baseline component, Kin scale
JESGroup.1.Group:                  1


JESGroup.2.Name:                   Rtrk_Baseline_Sub
JESGroup.2.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, Sub scale
JESGroup.2.Group:                  2


JESGroup.3.Name:                   TAM_Modelling_Kin
JESGroup.3.Desc:                   2016 TAM measurement, rel 20.7: Modelling component, Kin scale
JESGroup.3.Group:                  3


JESGroup.4.Name:                   Rtrk_Modelling_Sub
JESGroup.4.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, Sub scale
JESGroup.4.Group:                  4


JESGroup.5.Name:                   TAM_Tracking_Kin
JESGroup.5.Desc:                   2016 TAM measurement, rel 20.7: Tracking component, Kin scale
JESGroup.5.Group:                  5
JESGroup.5.Corr:                   Uncorrelated


JESGroup.6.Name:                   Rtrk_Tracking_Sub
JESGroup.6.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking component, Sub scale
JESGroup.6.Group:                  6
JESGroup.6.Corr:                   Uncorrelated


JESGroup.7.Name:                   TAM_TotalStat_Kin
JESGroup.7.Desc:                   2016 TAM measurement, rel 20.7: TotalStat component, Kin scale
JESGroup.7.Group:                  7


JESGroup.8.Name:                   Rtrk_TotalStat_Sub
JESGroup.8.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, Sub scale
JESGroup.8.Group:                  8


JESGroup.100.Name:                   TAM_Tracking1
JESGroup.100.Desc:                   2016 TAM measurement, rel 20.7: Tracking1 component
JESGroup.100.Group:                  100
JESGroup.100.SubGroup:               5
JESGroup.100.Corr:               Correlated

JESGroup.101.Name:                   TAM_Tracking2
JESGroup.101.Desc:                   2016 TAM measurement, rel 20.7: Tracking2 component
JESGroup.101.Group:                  101
JESGroup.101.SubGroup:               5
JESGroup.101.Corr:               Correlated
#  Components

JESComponent.1.Name:               Rtrk_Baseline_pT
JESComponent.1.Param:              PtMass
JESComponent.1.MassDef:            Calo
JESComponent.1.Scale:              mass
JESComponent.1.Group:              1

JESComponent.2.Name:               TAM_Hadronisation
JESComponent.2.Param:              PtMass
JESComponent.2.MassDef:            TA
JESComponent.2.Scale:              mass
JESComponent.2.Group:              3

JESComponent.3.Name:               TAM_Efficiency
JESComponent.3.Param:              PtMass
JESComponent.3.MassDef:            TA
JESComponent.3.Scale:              mass
JESComponent.3.Group:              100

JESComponent.4.Name:               Rtrk_Tracking1_pT
JESComponent.4.Param:              PtMass
JESComponent.4.MassDef:            Calo
JESComponent.4.Scale:              mass
JESComponent.4.Group:              100

JESComponent.5.Name:               TAM_Fakes
JESComponent.5.Param:              PtMass
JESComponent.5.MassDef:            TA
JESComponent.5.Scale:              mass
JESComponent.5.Group:              101

JESComponent.6.Name:               Rtrk_Tracking2_pT
JESComponent.6.Param:              PtMass
JESComponent.6.MassDef:            Calo
JESComponent.6.Scale:              mass
JESComponent.6.Group:              101

JESComponent.7.Name:               Rtrk_Tracking3_pT
JESComponent.7.Param:              PtMass
JESComponent.7.MassDef:            Calo
JESComponent.7.Scale:              mass
JESComponent.7.Group:              5

JESComponent.8.Name:               Rtrk_TotalStat_mass
JESComponent.8.Param:              PtMass
JESComponent.8.MassDef:            Calo
JESComponent.8.Scale:              mass
JESComponent.8.Group:              7

JESComponent.9.Name:               Rtrk_Baseline_pT
JESComponent.9.Param:              PtMass
JESComponent.9.MassDef:            Calo
JESComponent.9.Scale:              pT
JESComponent.9.Group:              1

JESComponent.10.Name:               Rtrk_Baseline_Split23
JESComponent.10.Param:              PtMass
JESComponent.10.MassDef:            Calo
JESComponent.10.Scale:              D23
JESComponent.10.Group:              1

JESComponent.11.Name:               Rtrk_Baseline_Split12
JESComponent.11.Param:              PtMass
JESComponent.11.MassDef:            Calo
JESComponent.11.Scale:              D12
JESComponent.11.Group:              1

JESComponent.12.Name:               Rtrk_Baseline_Qw
JESComponent.12.Param:              PtMass
JESComponent.12.MassDef:            Calo
JESComponent.12.Scale:              Qw
JESComponent.12.Group:              1

JESComponent.13.Name:               Rtrk_Baseline_D2Beta1
JESComponent.13.Param:              PtMass
JESComponent.13.MassDef:            Calo
JESComponent.13.Scale:              D2Beta1
JESComponent.13.Group:              2

JESComponent.14.Name:               Rtrk_Baseline_Tau32WTA
JESComponent.14.Param:              PtMass
JESComponent.14.MassDef:            Calo
JESComponent.14.Scale:              Tau32WTA
JESComponent.14.Group:              2

JESComponent.15.Name:               Rtrk_Baseline_Tau21WTA
JESComponent.15.Param:              PtMass
JESComponent.15.MassDef:            Calo
JESComponent.15.Scale:              Tau21WTA
JESComponent.15.Group:              2

JESComponent.16.Name:               Rtrk_Modelling_pT
JESComponent.16.Param:              PtMass
JESComponent.16.MassDef:            Calo
JESComponent.16.Scale:              pT
JESComponent.16.Group:              3

JESComponent.17.Name:               Rtrk_Modelling_Split23
JESComponent.17.Param:              PtMass
JESComponent.17.MassDef:            Calo
JESComponent.17.Scale:              D23
JESComponent.17.Group:              3

JESComponent.18.Name:               Rtrk_Modelling_Split12
JESComponent.18.Param:              PtMass
JESComponent.18.MassDef:            Calo
JESComponent.18.Scale:              D12
JESComponent.18.Group:              3

JESComponent.19.Name:               Rtrk_Modelling_Qw
JESComponent.19.Param:              PtMass
JESComponent.19.MassDef:            Calo
JESComponent.19.Scale:              Qw
JESComponent.19.Group:              3

JESComponent.20.Name:               Rtrk_Modelling_D2Beta1
JESComponent.20.Param:              PtMass
JESComponent.20.MassDef:            Calo
JESComponent.20.Scale:              D2Beta1
JESComponent.20.Group:              4

JESComponent.21.Name:               Rtrk_Modelling_Tau32WTA
JESComponent.21.Param:              PtMass
JESComponent.21.MassDef:            Calo
JESComponent.21.Scale:              Tau32WTA
JESComponent.21.Group:              4

JESComponent.22.Name:               Rtrk_Modelling_Tau21WTA
JESComponent.22.Param:              PtMass
JESComponent.22.MassDef:            Calo
JESComponent.22.Scale:              Tau21WTA
JESComponent.22.Group:              4

JESComponent.23.Name:               Rtrk_Tracking1_pT
JESComponent.23.Param:              PtMass
JESComponent.23.MassDef:            Calo
JESComponent.23.Scale:              pT
JESComponent.23.Group:              5

JESComponent.24.Name:               Rtrk_Tracking1_Split23
JESComponent.24.Param:              PtMass
JESComponent.24.MassDef:            Calo
JESComponent.24.Scale:              D23
JESComponent.24.Group:              5

JESComponent.25.Name:               Rtrk_Tracking1_Split12
JESComponent.25.Param:              PtMass
JESComponent.25.MassDef:            Calo
JESComponent.25.Scale:              D12
JESComponent.25.Group:              5

JESComponent.26.Name:               Rtrk_Tracking1_Qw
JESComponent.26.Param:              PtMass
JESComponent.26.MassDef:            Calo
JESComponent.26.Scale:              Qw
JESComponent.26.Group:              5

JESComponent.27.Name:               Rtrk_Tracking1_D2Beta1
JESComponent.27.Param:              PtMass
JESComponent.27.MassDef:            Calo
JESComponent.27.Scale:              D2Beta1
JESComponent.27.Group:              6

JESComponent.28.Name:               Rtrk_Tracking1_Tau32WTA
JESComponent.28.Param:              PtMass
JESComponent.28.MassDef:            Calo
JESComponent.28.Scale:              Tau32WTA
JESComponent.28.Group:              6

JESComponent.29.Name:               Rtrk_Tracking1_Tau21WTA
JESComponent.29.Param:              PtMass
JESComponent.29.MassDef:            Calo
JESComponent.29.Scale:              Tau21WTA
JESComponent.29.Group:              6

JESComponent.30.Name:               Rtrk_Tracking2_pT
JESComponent.30.Param:              PtMass
JESComponent.30.MassDef:            Calo
JESComponent.30.Scale:              pT
JESComponent.30.Group:              5

JESComponent.31.Name:               Rtrk_Tracking2_Split23
JESComponent.31.Param:              PtMass
JESComponent.31.MassDef:            Calo
JESComponent.31.Scale:              D23
JESComponent.31.Group:              5

JESComponent.32.Name:               Rtrk_Tracking2_Split12
JESComponent.32.Param:              PtMass
JESComponent.32.MassDef:            Calo
JESComponent.32.Scale:              D12
JESComponent.32.Group:              5

JESComponent.33.Name:               Rtrk_Tracking2_Qw
JESComponent.33.Param:              PtMass
JESComponent.33.MassDef:            Calo
JESComponent.33.Scale:              Qw
JESComponent.33.Group:              5

JESComponent.34.Name:               Rtrk_Tracking2_D2Beta1
JESComponent.34.Param:              PtMass
JESComponent.34.MassDef:            Calo
JESComponent.34.Scale:              D2Beta1
JESComponent.34.Group:              6

JESComponent.35.Name:               Rtrk_Tracking2_Tau32WTA
JESComponent.35.Param:              PtMass
JESComponent.35.MassDef:            Calo
JESComponent.35.Scale:              Tau32WTA
JESComponent.35.Group:              6

JESComponent.36.Name:               Rtrk_Tracking2_Tau21WTA
JESComponent.36.Param:              PtMass
JESComponent.36.MassDef:            Calo
JESComponent.36.Scale:              Tau21WTA
JESComponent.36.Group:              6

JESComponent.37.Name:               Rtrk_Tracking3_pT
JESComponent.37.Param:              PtMass
JESComponent.37.MassDef:            Calo
JESComponent.37.Scale:              pT
JESComponent.37.Group:              5

JESComponent.38.Name:               Rtrk_Tracking3_Split23
JESComponent.38.Param:              PtMass
JESComponent.38.MassDef:            Calo
JESComponent.38.Scale:              D23
JESComponent.38.Group:              5

JESComponent.39.Name:               Rtrk_Tracking3_Split12
JESComponent.39.Param:              PtMass
JESComponent.39.MassDef:            Calo
JESComponent.39.Scale:              D12
JESComponent.39.Group:              5

JESComponent.40.Name:               Rtrk_Tracking3_Qw
JESComponent.40.Param:              PtMass
JESComponent.40.MassDef:            Calo
JESComponent.40.Scale:              Qw
JESComponent.40.Group:              5

JESComponent.41.Name:               Rtrk_Tracking3_D2Beta1
JESComponent.41.Param:              PtMass
JESComponent.41.MassDef:            Calo
JESComponent.41.Scale:              D2Beta1
JESComponent.41.Group:              6

JESComponent.42.Name:               Rtrk_Tracking3_Tau32WTA
JESComponent.42.Param:              PtMass
JESComponent.42.MassDef:            Calo
JESComponent.42.Scale:              Tau32WTA
JESComponent.42.Group:              6

JESComponent.43.Name:               Rtrk_Tracking3_Tau21WTA
JESComponent.43.Param:              PtMass
JESComponent.43.MassDef:            Calo
JESComponent.43.Scale:              Tau21WTA
JESComponent.43.Group:              6

JESComponent.44.Name:               Rtrk_TotalStat_pT
JESComponent.44.Param:              PtMass
JESComponent.44.MassDef:            Calo
JESComponent.44.Scale:              pT
JESComponent.44.Group:              7

JESComponent.45.Name:               Rtrk_TotalStat_Split23
JESComponent.45.Param:              PtMass
JESComponent.45.MassDef:            Calo
JESComponent.45.Scale:              D23
JESComponent.45.Group:              7

JESComponent.46.Name:               Rtrk_TotalStat_Split12
JESComponent.46.Param:              PtMass
JESComponent.46.MassDef:            Calo
JESComponent.46.Scale:              D12
JESComponent.46.Group:              7

JESComponent.47.Name:               Rtrk_TotalStat_Qw
JESComponent.47.Param:              PtMass
JESComponent.47.MassDef:            Calo
JESComponent.47.Scale:              Qw
JESComponent.47.Group:              7

JESComponent.48.Name:               Rtrk_TotalStat_D2Beta1
JESComponent.48.Param:              PtMass
JESComponent.48.MassDef:            Calo
JESComponent.48.Scale:              D2Beta1
JESComponent.48.Group:              8

JESComponent.49.Name:               Rtrk_TotalStat_Tau32WTA
JESComponent.49.Param:              PtMass
JESComponent.49.MassDef:            Calo
JESComponent.49.Scale:              Tau32WTA
JESComponent.49.Group:              8

JESComponent.50.Name:               Rtrk_TotalStat_Tau21WTA
JESComponent.50.Param:              PtMass
JESComponent.50.MassDef:            Calo
JESComponent.50.Scale:              Tau21WTA
JESComponent.50.Group:              8

