
##############################################################################
#
#  JetUncertaintiesTool Input Settings for large R jets mass, pT
#  and other substructure variables.
#  This is the weak_all correlation assumption variant.
#    
#
#    January, 2017
#
#  S. Schramm, P-A Delsart, S. Meehan
# 
##############################################################################

UncertaintyRelease:                 2016_Moriond2017
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15c
UncertaintyRootFile:                UJ_2016/Moriond2017/AntiKt10LCTopoTrimmedPtFrac5SmallR20_20170217_v3_jet1jet2withweights_PROCESSED.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               Calo

##############################################################################
# 
#   Settings for components
#
##############################################################################


#  Groups


JESGroup.1.Name:                   TAM_Baseline_mass
JESGroup.1.Desc:                   2016 TAM measurement, rel 20.7: Baseline component, mass scale
JESGroup.1.Group:                  1


JESGroup.2.Name:                   TAM_Modelling_mass
JESGroup.2.Desc:                   2016 TAM measurement, rel 20.7: Modelling component, mass scale
JESGroup.2.Group:                  2


JESGroup.3.Name:                   TAM_Tracking1_mass
JESGroup.3.Desc:                   2016 TAM measurement, rel 20.7: Tracking1 component, mass scale
JESGroup.3.Group:                  3
JESGroup.3.Corr:                   Uncorrelated


JESGroup.4.Name:                   TAM_Tracking2_mass
JESGroup.4.Desc:                   2016 TAM measurement, rel 20.7: Tracking2 component, mass scale
JESGroup.4.Group:                  4
JESGroup.4.Corr:                   Uncorrelated


JESGroup.5.Name:                   TAM_Tracking3_mass
JESGroup.5.Desc:                   2016 TAM measurement, rel 20.7: Tracking3 component, mass scale
JESGroup.5.Group:                  5
JESGroup.5.Corr:                   Uncorrelated


JESGroup.6.Name:                   TAM_TotalStat_mass
JESGroup.6.Desc:                   2016 TAM measurement, rel 20.7: TotalStat component, mass scale
JESGroup.6.Group:                  6


JESGroup.7.Name:                   Rtrk_Baseline_pT
JESGroup.7.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, pT scale
JESGroup.7.Group:                  7


JESGroup.8.Name:                   Rtrk_Modelling_pT
JESGroup.8.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, pT scale
JESGroup.8.Group:                  8


JESGroup.9.Name:                   Rtrk_Tracking1_pT
JESGroup.9.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, pT scale
JESGroup.9.Group:                  9
JESGroup.9.Corr:                   Uncorrelated


JESGroup.10.Name:                   Rtrk_Tracking2_pT
JESGroup.10.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, pT scale
JESGroup.10.Group:                  10
JESGroup.10.Corr:                   Uncorrelated


JESGroup.11.Name:                   Rtrk_Tracking3_pT
JESGroup.11.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, pT scale
JESGroup.11.Group:                  11
JESGroup.11.Corr:                   Uncorrelated


JESGroup.12.Name:                   Rtrk_TotalStat_pT
JESGroup.12.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, pT scale
JESGroup.12.Group:                  12


JESGroup.13.Name:                   Rtrk_Baseline_Split23
JESGroup.13.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, Split23 scale
JESGroup.13.Group:                  13


JESGroup.14.Name:                   Rtrk_Modelling_Split23
JESGroup.14.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, Split23 scale
JESGroup.14.Group:                  14


JESGroup.15.Name:                   Rtrk_Tracking1_Split23
JESGroup.15.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, Split23 scale
JESGroup.15.Group:                  15
JESGroup.15.Corr:                   Uncorrelated


JESGroup.16.Name:                   Rtrk_Tracking2_Split23
JESGroup.16.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, Split23 scale
JESGroup.16.Group:                  16
JESGroup.16.Corr:                   Uncorrelated


JESGroup.17.Name:                   Rtrk_Tracking3_Split23
JESGroup.17.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, Split23 scale
JESGroup.17.Group:                  17
JESGroup.17.Corr:                   Uncorrelated


JESGroup.18.Name:                   Rtrk_TotalStat_Split23
JESGroup.18.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, Split23 scale
JESGroup.18.Group:                  18


JESGroup.19.Name:                   Rtrk_Baseline_Split12
JESGroup.19.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, Split12 scale
JESGroup.19.Group:                  19


JESGroup.20.Name:                   Rtrk_Modelling_Split12
JESGroup.20.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, Split12 scale
JESGroup.20.Group:                  20


JESGroup.21.Name:                   Rtrk_Tracking1_Split12
JESGroup.21.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, Split12 scale
JESGroup.21.Group:                  21
JESGroup.21.Corr:                   Uncorrelated


JESGroup.22.Name:                   Rtrk_Tracking2_Split12
JESGroup.22.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, Split12 scale
JESGroup.22.Group:                  22
JESGroup.22.Corr:                   Uncorrelated


JESGroup.23.Name:                   Rtrk_Tracking3_Split12
JESGroup.23.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, Split12 scale
JESGroup.23.Group:                  23
JESGroup.23.Corr:                   Uncorrelated


JESGroup.24.Name:                   Rtrk_TotalStat_Split12
JESGroup.24.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, Split12 scale
JESGroup.24.Group:                  24


JESGroup.25.Name:                   Rtrk_Baseline_Qw
JESGroup.25.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, Qw scale
JESGroup.25.Group:                  25


JESGroup.26.Name:                   Rtrk_Modelling_Qw
JESGroup.26.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, Qw scale
JESGroup.26.Group:                  26


JESGroup.27.Name:                   Rtrk_Tracking1_Qw
JESGroup.27.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, Qw scale
JESGroup.27.Group:                  27
JESGroup.27.Corr:                   Uncorrelated


JESGroup.28.Name:                   Rtrk_Tracking2_Qw
JESGroup.28.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, Qw scale
JESGroup.28.Group:                  28
JESGroup.28.Corr:                   Uncorrelated


JESGroup.29.Name:                   Rtrk_Tracking3_Qw
JESGroup.29.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, Qw scale
JESGroup.29.Group:                  29
JESGroup.29.Corr:                   Uncorrelated


JESGroup.30.Name:                   Rtrk_TotalStat_Qw
JESGroup.30.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, Qw scale
JESGroup.30.Group:                  30


JESGroup.31.Name:                   Rtrk_Baseline_D2Beta1
JESGroup.31.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, D2Beta1 scale
JESGroup.31.Group:                  31


JESGroup.32.Name:                   Rtrk_Modelling_D2Beta1
JESGroup.32.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, D2Beta1 scale
JESGroup.32.Group:                  32


JESGroup.33.Name:                   Rtrk_Tracking1_D2Beta1
JESGroup.33.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, D2Beta1 scale
JESGroup.33.Group:                  33
JESGroup.33.Corr:                   Uncorrelated


JESGroup.34.Name:                   Rtrk_Tracking2_D2Beta1
JESGroup.34.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, D2Beta1 scale
JESGroup.34.Group:                  34
JESGroup.34.Corr:                   Uncorrelated


JESGroup.35.Name:                   Rtrk_Tracking3_D2Beta1
JESGroup.35.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, D2Beta1 scale
JESGroup.35.Group:                  35
JESGroup.35.Corr:                   Uncorrelated


JESGroup.36.Name:                   Rtrk_TotalStat_D2Beta1
JESGroup.36.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, D2Beta1 scale
JESGroup.36.Group:                  36


JESGroup.37.Name:                   Rtrk_Baseline_Tau32WTA
JESGroup.37.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, Tau32WTA scale
JESGroup.37.Group:                  37


JESGroup.38.Name:                   Rtrk_Modelling_Tau32WTA
JESGroup.38.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, Tau32WTA scale
JESGroup.38.Group:                  38


JESGroup.39.Name:                   Rtrk_Tracking1_Tau32WTA
JESGroup.39.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, Tau32WTA scale
JESGroup.39.Group:                  39
JESGroup.39.Corr:                   Uncorrelated


JESGroup.40.Name:                   Rtrk_Tracking2_Tau32WTA
JESGroup.40.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, Tau32WTA scale
JESGroup.40.Group:                  40
JESGroup.40.Corr:                   Uncorrelated


JESGroup.41.Name:                   Rtrk_Tracking3_Tau32WTA
JESGroup.41.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, Tau32WTA scale
JESGroup.41.Group:                  41
JESGroup.41.Corr:                   Uncorrelated


JESGroup.42.Name:                   Rtrk_TotalStat_Tau32WTA
JESGroup.42.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, Tau32WTA scale
JESGroup.42.Group:                  42


JESGroup.43.Name:                   Rtrk_Baseline_Tau21WTA
JESGroup.43.Desc:                   2016 Rtrk measurement, rel 20.7: Baseline component, Tau21WTA scale
JESGroup.43.Group:                  43


JESGroup.44.Name:                   Rtrk_Modelling_Tau21WTA
JESGroup.44.Desc:                   2016 Rtrk measurement, rel 20.7: Modelling component, Tau21WTA scale
JESGroup.44.Group:                  44


JESGroup.45.Name:                   Rtrk_Tracking1_Tau21WTA
JESGroup.45.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking1 component, Tau21WTA scale
JESGroup.45.Group:                  45
JESGroup.45.Corr:                   Uncorrelated


JESGroup.46.Name:                   Rtrk_Tracking2_Tau21WTA
JESGroup.46.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking2 component, Tau21WTA scale
JESGroup.46.Group:                  46
JESGroup.46.Corr:                   Uncorrelated


JESGroup.47.Name:                   Rtrk_Tracking3_Tau21WTA
JESGroup.47.Desc:                   2016 Rtrk measurement, rel 20.7: Tracking3 component, Tau21WTA scale
JESGroup.47.Group:                  47
JESGroup.47.Corr:                   Uncorrelated


JESGroup.48.Name:                   Rtrk_TotalStat_Tau21WTA
JESGroup.48.Desc:                   2016 Rtrk measurement, rel 20.7: TotalStat component, Tau21WTA scale
JESGroup.48.Group:                  48


JESGroup.100.Name:                   TAM_Tracking1_tam
JESGroup.100.Desc:                   2016 TAM measurement, rel 20.7: Tracking1_tam component
JESGroup.100.Group:                  100
JESGroup.100.SubGroup:               5
JESGroup.100.Corr:               Correlated

JESGroup.101.Name:                   TAM_Tracking2_tam
JESGroup.101.Desc:                   2016 TAM measurement, rel 20.7: Tracking2_tam component
JESGroup.101.Group:                  101
JESGroup.101.SubGroup:               4
JESGroup.101.Corr:               Correlated
#  Components

JESComponent.1.Name:               Rtrk_Baseline_pT
JESComponent.1.Param:              PtMass
JESComponent.1.MassDef:            Calo
JESComponent.1.Scale:              mass
JESComponent.1.Group:              1

JESComponent.2.Name:               TAM_Hadronisation
JESComponent.2.Param:              PtMass
JESComponent.2.MassDef:            TA
JESComponent.2.Scale:              mass
JESComponent.2.Group:              2

JESComponent.3.Name:               TAM_Efficiency
JESComponent.3.Param:              PtMass
JESComponent.3.MassDef:            TA
JESComponent.3.Scale:              mass
JESComponent.3.Group:              100

JESComponent.4.Name:               Rtrk_Tracking1_pT
JESComponent.4.Param:              PtMass
JESComponent.4.MassDef:            Calo
JESComponent.4.Scale:              mass
JESComponent.4.Group:              100

JESComponent.5.Name:               TAM_Fakes
JESComponent.5.Param:              PtMass
JESComponent.5.MassDef:            TA
JESComponent.5.Scale:              mass
JESComponent.5.Group:              101

JESComponent.6.Name:               Rtrk_Tracking2_pT
JESComponent.6.Param:              PtMass
JESComponent.6.MassDef:            Calo
JESComponent.6.Scale:              mass
JESComponent.6.Group:              101

JESComponent.7.Name:               Rtrk_Tracking3_pT
JESComponent.7.Param:              PtMass
JESComponent.7.MassDef:            Calo
JESComponent.7.Scale:              mass
JESComponent.7.Group:              3

JESComponent.8.Name:               Rtrk_TotalStat_mass
JESComponent.8.Param:              PtMass
JESComponent.8.MassDef:            Calo
JESComponent.8.Scale:              mass
JESComponent.8.Group:              6

JESComponent.9.Name:               Rtrk_Baseline_pT
JESComponent.9.Param:              PtMass
JESComponent.9.MassDef:            Calo
JESComponent.9.Scale:              pT
JESComponent.9.Group:              7

JESComponent.10.Name:               Rtrk_Baseline_Split23
JESComponent.10.Param:              PtMass
JESComponent.10.MassDef:            Calo
JESComponent.10.Scale:              D23
JESComponent.10.Group:              13

JESComponent.11.Name:               Rtrk_Baseline_Split12
JESComponent.11.Param:              PtMass
JESComponent.11.MassDef:            Calo
JESComponent.11.Scale:              D12
JESComponent.11.Group:              19

JESComponent.12.Name:               Rtrk_Baseline_Qw
JESComponent.12.Param:              PtMass
JESComponent.12.MassDef:            Calo
JESComponent.12.Scale:              Qw
JESComponent.12.Group:              25

JESComponent.13.Name:               Rtrk_Baseline_D2Beta1
JESComponent.13.Param:              PtMass
JESComponent.13.MassDef:            Calo
JESComponent.13.Scale:              D2Beta1
JESComponent.13.Group:              31

JESComponent.14.Name:               Rtrk_Baseline_Tau32WTA
JESComponent.14.Param:              PtMass
JESComponent.14.MassDef:            Calo
JESComponent.14.Scale:              Tau32WTA
JESComponent.14.Group:              37

JESComponent.15.Name:               Rtrk_Baseline_Tau21WTA
JESComponent.15.Param:              PtMass
JESComponent.15.MassDef:            Calo
JESComponent.15.Scale:              Tau21WTA
JESComponent.15.Group:              43

JESComponent.16.Name:               Rtrk_Modelling_pT
JESComponent.16.Param:              PtMass
JESComponent.16.MassDef:            Calo
JESComponent.16.Scale:              pT
JESComponent.16.Group:              8

JESComponent.17.Name:               Rtrk_Modelling_Split23
JESComponent.17.Param:              PtMass
JESComponent.17.MassDef:            Calo
JESComponent.17.Scale:              D23
JESComponent.17.Group:              14

JESComponent.18.Name:               Rtrk_Modelling_Split12
JESComponent.18.Param:              PtMass
JESComponent.18.MassDef:            Calo
JESComponent.18.Scale:              D12
JESComponent.18.Group:              20

JESComponent.19.Name:               Rtrk_Modelling_Qw
JESComponent.19.Param:              PtMass
JESComponent.19.MassDef:            Calo
JESComponent.19.Scale:              Qw
JESComponent.19.Group:              26

JESComponent.20.Name:               Rtrk_Modelling_D2Beta1
JESComponent.20.Param:              PtMass
JESComponent.20.MassDef:            Calo
JESComponent.20.Scale:              D2Beta1
JESComponent.20.Group:              32

JESComponent.21.Name:               Rtrk_Modelling_Tau32WTA
JESComponent.21.Param:              PtMass
JESComponent.21.MassDef:            Calo
JESComponent.21.Scale:              Tau32WTA
JESComponent.21.Group:              38

JESComponent.22.Name:               Rtrk_Modelling_Tau21WTA
JESComponent.22.Param:              PtMass
JESComponent.22.MassDef:            Calo
JESComponent.22.Scale:              Tau21WTA
JESComponent.22.Group:              44

JESComponent.23.Name:               Rtrk_Tracking1_pT
JESComponent.23.Param:              PtMass
JESComponent.23.MassDef:            Calo
JESComponent.23.Scale:              pT
JESComponent.23.Group:              9

JESComponent.24.Name:               Rtrk_Tracking1_Split23
JESComponent.24.Param:              PtMass
JESComponent.24.MassDef:            Calo
JESComponent.24.Scale:              D23
JESComponent.24.Group:              15

JESComponent.25.Name:               Rtrk_Tracking1_Split12
JESComponent.25.Param:              PtMass
JESComponent.25.MassDef:            Calo
JESComponent.25.Scale:              D12
JESComponent.25.Group:              21

JESComponent.26.Name:               Rtrk_Tracking1_Qw
JESComponent.26.Param:              PtMass
JESComponent.26.MassDef:            Calo
JESComponent.26.Scale:              Qw
JESComponent.26.Group:              27

JESComponent.27.Name:               Rtrk_Tracking1_D2Beta1
JESComponent.27.Param:              PtMass
JESComponent.27.MassDef:            Calo
JESComponent.27.Scale:              D2Beta1
JESComponent.27.Group:              33

JESComponent.28.Name:               Rtrk_Tracking1_Tau32WTA
JESComponent.28.Param:              PtMass
JESComponent.28.MassDef:            Calo
JESComponent.28.Scale:              Tau32WTA
JESComponent.28.Group:              39

JESComponent.29.Name:               Rtrk_Tracking1_Tau21WTA
JESComponent.29.Param:              PtMass
JESComponent.29.MassDef:            Calo
JESComponent.29.Scale:              Tau21WTA
JESComponent.29.Group:              45

JESComponent.30.Name:               Rtrk_Tracking2_pT
JESComponent.30.Param:              PtMass
JESComponent.30.MassDef:            Calo
JESComponent.30.Scale:              pT
JESComponent.30.Group:              10

JESComponent.31.Name:               Rtrk_Tracking2_Split23
JESComponent.31.Param:              PtMass
JESComponent.31.MassDef:            Calo
JESComponent.31.Scale:              D23
JESComponent.31.Group:              16

JESComponent.32.Name:               Rtrk_Tracking2_Split12
JESComponent.32.Param:              PtMass
JESComponent.32.MassDef:            Calo
JESComponent.32.Scale:              D12
JESComponent.32.Group:              22

JESComponent.33.Name:               Rtrk_Tracking2_Qw
JESComponent.33.Param:              PtMass
JESComponent.33.MassDef:            Calo
JESComponent.33.Scale:              Qw
JESComponent.33.Group:              28

JESComponent.34.Name:               Rtrk_Tracking2_D2Beta1
JESComponent.34.Param:              PtMass
JESComponent.34.MassDef:            Calo
JESComponent.34.Scale:              D2Beta1
JESComponent.34.Group:              34

JESComponent.35.Name:               Rtrk_Tracking2_Tau32WTA
JESComponent.35.Param:              PtMass
JESComponent.35.MassDef:            Calo
JESComponent.35.Scale:              Tau32WTA
JESComponent.35.Group:              40

JESComponent.36.Name:               Rtrk_Tracking2_Tau21WTA
JESComponent.36.Param:              PtMass
JESComponent.36.MassDef:            Calo
JESComponent.36.Scale:              Tau21WTA
JESComponent.36.Group:              46

JESComponent.37.Name:               Rtrk_Tracking3_pT
JESComponent.37.Param:              PtMass
JESComponent.37.MassDef:            Calo
JESComponent.37.Scale:              pT
JESComponent.37.Group:              11

JESComponent.38.Name:               Rtrk_Tracking3_Split23
JESComponent.38.Param:              PtMass
JESComponent.38.MassDef:            Calo
JESComponent.38.Scale:              D23
JESComponent.38.Group:              17

JESComponent.39.Name:               Rtrk_Tracking3_Split12
JESComponent.39.Param:              PtMass
JESComponent.39.MassDef:            Calo
JESComponent.39.Scale:              D12
JESComponent.39.Group:              23

JESComponent.40.Name:               Rtrk_Tracking3_Qw
JESComponent.40.Param:              PtMass
JESComponent.40.MassDef:            Calo
JESComponent.40.Scale:              Qw
JESComponent.40.Group:              29

JESComponent.41.Name:               Rtrk_Tracking3_D2Beta1
JESComponent.41.Param:              PtMass
JESComponent.41.MassDef:            Calo
JESComponent.41.Scale:              D2Beta1
JESComponent.41.Group:              35

JESComponent.42.Name:               Rtrk_Tracking3_Tau32WTA
JESComponent.42.Param:              PtMass
JESComponent.42.MassDef:            Calo
JESComponent.42.Scale:              Tau32WTA
JESComponent.42.Group:              41

JESComponent.43.Name:               Rtrk_Tracking3_Tau21WTA
JESComponent.43.Param:              PtMass
JESComponent.43.MassDef:            Calo
JESComponent.43.Scale:              Tau21WTA
JESComponent.43.Group:              47

JESComponent.44.Name:               Rtrk_TotalStat_pT
JESComponent.44.Param:              PtMass
JESComponent.44.MassDef:            Calo
JESComponent.44.Scale:              pT
JESComponent.44.Group:              12

JESComponent.45.Name:               Rtrk_TotalStat_Split23
JESComponent.45.Param:              PtMass
JESComponent.45.MassDef:            Calo
JESComponent.45.Scale:              D23
JESComponent.45.Group:              18

JESComponent.46.Name:               Rtrk_TotalStat_Split12
JESComponent.46.Param:              PtMass
JESComponent.46.MassDef:            Calo
JESComponent.46.Scale:              D12
JESComponent.46.Group:              24

JESComponent.47.Name:               Rtrk_TotalStat_Qw
JESComponent.47.Param:              PtMass
JESComponent.47.MassDef:            Calo
JESComponent.47.Scale:              Qw
JESComponent.47.Group:              30

JESComponent.48.Name:               Rtrk_TotalStat_D2Beta1
JESComponent.48.Param:              PtMass
JESComponent.48.MassDef:            Calo
JESComponent.48.Scale:              D2Beta1
JESComponent.48.Group:              36

JESComponent.49.Name:               Rtrk_TotalStat_Tau32WTA
JESComponent.49.Param:              PtMass
JESComponent.49.MassDef:            Calo
JESComponent.49.Scale:              Tau32WTA
JESComponent.49.Group:              42

JESComponent.50.Name:               Rtrk_TotalStat_Tau21WTA
JESComponent.50.Param:              PtMass
JESComponent.50.MassDef:            Calo
JESComponent.50.Scale:              Tau21WTA
JESComponent.50.Group:              48

