# **********************************************************************
# $Id: cosmics_minutes10.config 526869 2012-11-20 19:31:39Z vogel $
# *********************************************************************

########################################################
#   JETS    
########################################################

#############
# Output
#############

output top_level {

   output Jets {

#    algorithm = WorstCaseSummary
    output AntiKt4TopoEMJets_pt20 {

     output Summary {
       weight = 0
     }
    }

    output AntiKt4TopoEMJets {

     output Details {
  
        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }
        output EtaPhi {
          weight = 0
        }
        output Kinematics {
          weight = 0
        }
        output Calibration {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
        output LB {
          weight = 0
        }
      }
     
     output Summary {
       weight = 0
     }
    }

    output AntiKt4TopoEMJets_EF_j30 {
       output Summary {
       weight = 0
       }
    }

    output AntiKt4TopoEMJets_EF_j30_pt20 {

      output JetB {
        output Summary {
      	}
      }
      output JetEA {
        output Summary {
      	}
      }
      output JetEC {
        output Summary {
      	}
      }

      output Summary {
        weight = 0
      }

    }

  }
 } 


    
#######################
# Histogram Assessments
#######################



dir Jets {

#  reference = JetsRef
   algorithm = JetGatherData
#  algorithm = WorstCaseSummary
#  algorithm = JetChisq
 


 dir AntiKt4TopoEMJets_pt20 {
   dir DQQual {
        #reference = CentrallyManagedReferences
    
#################SUMMARY######################

        hist NoJets@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetEtinEtaPhi@TopoPt20Summary {
  	  output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }
   }
  }



 dir AntiKt4TopoEMJets {
   dir DQQual {
        #reference = CentrallyManagedReferences
    
#################SUMMARY######################

        hist NoJets@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetEtinEtaPhi@TopoSummary {
  	  output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }

############################DETAILS################################
      #####################Jet Shapes####################
        hist Jetn90@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#    	  algorithm = JetShape_Chisq
        }

        hist JetNconstituents@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
          display = AxisRange(0.0,50.0,"X")
#    	  algorithm = JetShape_Chisq
		}

        hist ConstituentEnergy@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
    	  display = AxisRange(0.0,200,"X"),LogY
#		  algorithm = JetShape_Chisq
		}

        hist ConstituentPtContribution@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
          display = AxisRange(0.0,200.0,"X"),LogY 
#		  algorithm = JetShapePt_Chisq
		}

        hist JetNormProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#         algorithm = JetShapeProf_Chisq
		}

        hist JetNormProf2D@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
		  display = LogZ
        }

        hist JetIntgProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#		  algorithm = JetShapeProf_Chisq
		}

        hist JetIntgProf2D@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
 		  display = LogZ
        }

        hist ConstituentProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#		  algorithm = JetShapeProf_Chisq
		}

        hist ConstituentProf2D@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
		  display = LogZ
        }

        hist ConstituentIntg@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#		  algorithm = JetShapeProf_Chisq
		}

        hist ConstituentIntg2D@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
		  display = LogZ
        }

        hist FracPtVsFracConst@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#          algorithm = JetShapeProf_Chisq
		}

        hist FracPtVsFracConst2D@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
  		  display = LogZ
        }

       
        hist DeltaRmax@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
          display = AxisRange(0.0,1.0,"X"),LogY
#		  algorithm = JetShape_Chisq
		}


         hist JetWidth@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#		  algorithm = JetShape_Chisq
		  display = AxisRange(0.0,0.5,"X")
		}
      
      #####################Leading Jet####################

        hist LeadJetEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#		  algorithm = LeadJ_Chisq
		}

        hist LeadJetPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#		  algorithm = LeadJ_Chisq
		}

        hist LeadJetPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
          display = AxisRange(0.0,500.0,"X"),LogY
#		  algorithm = LeadJPt_Chisq
		}

        hist LeadJetEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
        }

        hist JetDeltaPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#          algorithm = LeadJ_Chisq
		}

        hist JetDeltaR@Topo {
         output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#		 algorithm = LeadJ_Chisq
		}
      
        hist JetDeltaEta@Topo {
         output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#		 algorithm = LeadJ_Chisq
		}

        hist JetDeltaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#		  algorithm = LeadJ_Chisq
		}

      #####################Kinematics####################
  
        hist NoJets@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  display = AxisRange(0.0,15.0,"X"),LogY
		}

        hist AveJetEvsPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq
		}

        hist AveJetEvsEta@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq/eta
		}

        hist AveJetPtvsEta@Topo {
 		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq/eta
		}

        hist AveJetPtvsPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq
		}

        hist AveJetPvsEta@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq/eta
		}  

        hist AveJetPvsPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq
		}

        hist AveJetMvsEta@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#          algorithm = JetKinAve_Chisq/eta
		}

        hist AveJetMvsPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq
		}

        hist AveJetEtvsEta@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq/eta
		}

        hist AveJetEtvsPhi@Topo {
  		  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKinAve_Chisq
		}

        hist JetEtaAsym@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
        } 
 
        hist JetMass@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = AxisRange(0.0,30.0,"X"),LogY
#		  algorithm = JetKinMPE_Chisq
		}

        hist JetEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKin_Chisq
		}

        hist JetPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#		  algorithm = JetKin_Chisq
		}


        hist JetE@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#		  algorithm = JetKin_Chisq
		}

        hist JetE@TopoZoom {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#		  algorithm = JetKin_Chisq
		}

		hist JetEt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#		  algorithm = JetKinMPE_Chisq
		}
	
        hist JetEt@TopoZoom {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#		  algorithm = JetKinMPE_Chisq
		}

        hist JetP@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#		  algorithm = JetKin_Chisq
		}

        hist JetPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#		  algorithm = JetKinMPE_Chisq
		}  

        hist JetEtaAsymNorm@TopoZOOM {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
					display = AxisRange(-0.3,0.3,"Y")
#		  		algorithm = JetKinAve_Chisq
     }

      ########## Eta-Phi #########################

        hist JetEtaPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#		  algorithm = JetEtaPhi_BinsDiff
		}

        hist AveJetEinEtaPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#		  algorithm = JetEtaPhiAve_BinsDiff
		}
        hist AveJetEtinEtaPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#		  algorithm = JetEtaPhiAve_BinsDiff
		}
        hist AveJetPtinEtaPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#		  algorithm = JetEtaPhiAve_BinsDiff
		}
        hist AveJetPinEtaPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#		  algorithm = JetEtaPhiAve_BinsDiff
		}
        hist AveJetMinEtaPhi@Topo {
		  output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#		  algorithm = JetEtaPhiAve_BinsDiff
		}


      ########## Calibration #########################

        hist Calibrations@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
		}

        hist CalibrationVsEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
#		  algorithm = Calibration_Chisq
		}
        
        hist CalibrationVsPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
#		  algorithm = Calibration_Chisq
		}

        hist CalibrationVsPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
#		  algorithm = CalibrationPt_Chisq
		} 


        hist AveJetCalEinEtaPhi@Topo { 
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
        }
     
     ########## Energy By Layers ########################

        hist EmPreFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#          algorithm = Energy_Chisq
		}
        hist HECFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = EnergyHEC_Chisq
		}
        hist EMECFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = EnergyHEC_Chisq
		}
        hist EM1Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = Energy_Chisq
		}
        hist EM2Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = Energy_Chisq
		}
        hist EM3Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = Energy_Chisq
		}
        hist Tile0Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = EnergyTile_Chisq
		}
        hist Tile1Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = EnergyTile_Chisq
		}
        hist Tile2Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = EnergyTile_Chisq
		}
        hist TileGapFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = Energy_Chisq
		}
        hist FCalFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = Energy_Chisq
        }
        hist JetEMFraction@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#		  algorithm = Energy_Chisq
		}
        hist EnergyFractions@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogZ
        }
        hist EnergyFractionsProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
#		  algorithm = JetKinAve_Chisq
        }

        hist AveJetEMFracinEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
        }

        hist AveJetHADFracinEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
        }
################### LB ##############
				hist AveJetEtvsLB@Topo {
					output = Jets/AntiKt4TopoEMJets/Details/LB
				}
				hist AveJetEvsLB@Topo {
					output = Jets/AntiKt4TopoEMJets/Details/LB
				}
				hist AveJetSumEtvsLB@Topo {
					output = Jets/AntiKt4TopoEMJets/Details/LB
				}
				hist AveNJetvsLB@Topo {
					output = Jets/AntiKt4TopoEMJets/Details/LB
				}
   }
  }


 dir AntiKt4TopoEMJets_EF_j30 {
   dir DQQual {
        #reference = CentrallyManagedReferences
    
#################SUMMARY######################

        hist NoJets@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetEtinEtaPhi@TopoTriggerSummary {
  	  output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }
   }
  }

 dir JetB {

  dir AntiKt4TopoEMJets_EF_j30_pt20 {
    dir DQQual {

        #reference = CentrallyManagedReferences
        algorithm = JetGatherData


        hist NoJets@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
	  display = AxisRange(0.0,10.0,"X"),LogY
# 	  algorithm = JetChisq
        }
  
        hist JetPt@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
          display = LogY
#	  algorithm = JetChisq
        }
  
        hist JetEtaPhi@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
#	  algorithm = JetAvgCheck/central

        } 
      
        hist JetNconstituents@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
#	  algorithm = JetChisq
        } 

        hist JetEtaAsymNorm@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
          display = AxisRange(-0.3,0.3,"Y")
#	  algorithm = JetBinContentComp
        } 


        hist AveJetEtinEtaPhi@TopoSummaryBAR {
	  output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
#	  algorithm = JetAvgCheck/central

        }


        hist FracPtVsFracConst@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
#	  algorithm = JetBinContentComp
        }

        hist JetEMFraction@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
          display = LogY
#	  algorithm = JetAvgCheck/central
        }
        hist EnergyFractionsProf@TopoSummaryBAR {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetB/Summary
          display = LogZ
#         algorithm = JetAvgCheck/central
        }



    }
    }
}
  
    
  


#############
#   JetEA   # 
#############

 dir JetA {

  dir AntiKt4TopoEMJets_EF_j30_pt20 {
    dir DQQual {

        #reference = CentrallyManagedReferences
        algorithm = JetGatherData


        hist NoJets@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
	  display = AxisRange(0.0,10.0,"X"),LogY
# 	  algorithm = JetChisq
        }
  
        hist JetPt@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
          display = LogY
#	  algorithm = JetChisq
        }
  
        hist JetEtaPhi@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
#	  algorithm = JetAvgCheck/central

        } 
      
        hist JetNconstituents@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
#	  algorithm = JetChisq
        } 

        hist AveJetEtinEtaPhi@TopoSummaryEA {
	  output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
#	  algorithm = JetAvgCheck/central

        }


        hist FracPtVsFracConst@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
#	  algorithm = JetBinContentComp
        }

        hist JetEMFraction@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
          display = LogY
#	  algorithm = JetAvgCheck/central
        }
        hist EnergyFractionsProf@TopoSummaryEA {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEA/Summary
          display = LogZ
#         algorithm = JetAvgCheck/central
        }


    }
    }
}
   
     
###########
#  JETEC  #
###########

 dir JetC {

  dir AntiKt4TopoEMJets_EF_j30_pt20 {
    dir DQQual {

        #reference = CentrallyManagedReferences
        algorithm = JetGatherData


        hist NoJets@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
	  display = AxisRange(0.0,10.0,"X"),LogY
# 	  algorithm = JetChisq
        }
  
        hist JetPt@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
          display = LogY
#	  algorithm = JetChisq
        }
  
        hist JetEtaPhi@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
#	  algorithm = JetAvgCheck/central

        } 
      
        hist JetNconstituents@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
#	  algorithm = JetChisq
        } 

        hist AveJetEtinEtaPhi@TopoSummaryEC {
	  output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
#	  algorithm = JetAvgCheck/central

        }


        hist FracPtVsFracConst@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
#	  algorithm = JetBinContentComp
        }

        hist JetEMFraction@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
          display = LogY
#	  algorithm = JetAvgCheck/central
        }
        hist EnergyFractionsProf@TopoSummaryEC {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/JetEC/Summary
          display = LogZ
#         algorithm = JetAvgCheck/central
        }



    }
    }
}



  dir AntiKt4TopoEMJets_EF_j30_pt20 {
    dir DQQual {
        #reference = CentrallyManagedReferences
###################SUMMARY#########################

        hist NoJets@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetEtinEtaPhi@TopoTriggerPt20Summary {
  	  output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }
    }
   }


  
 
}



############################################################################
# Algorithms( two different reference files are used for Topo & Tower Jets)
############################################################################

algorithm JetWorstCaseSummary {
  libname = libdqm_summaries.so
  name = JetWorstCaseSummary
}


algorithm JetBinContentComp {
  libname = libdqm_algorithms.so
  name = BinContentComp
  thresholds = JetBinContThresh
  NSigma = 3
  #reference = CentrallyManagedReferences
  PublishBins = 1
  algorithm central {
	xmin = -1.4
	xmax = 1.4
  }
  algorithm JetBinContentCompTower {
     #reference = CentrallyManagedReferences
     algorithm centralTower {
	xmin = -1.4
	xmax = 1.4
     }
  }
}


algorithm JetGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  #reference = CentrallyManagedReferences
  algorithm JetGatherDataTower {
    #reference = CentrallyManagedReferences
  }
}


algorithm JetChisq {
  libname = libdqm_algorithms.so
  name = Chi2Test_Prob
  thresholds = JetChi2Thresh
  #reference = CentrallyManagedReferences
  algorithm JetChisqTower {
     #reference = CentrallyManagedReferences
  }
}


algorithm JetKS {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = JetKSThresh
  #reference = CentrallyManagedReferences
  algorithm JetKSTower {
    #reference = CentrallyManagedReferences
  }
}


#algorithm JetAvgCheck {
#  libname = libdqm_algorithms.so
#  name = Bins_Diff_FromAvg
#  NSigma = 5
#  PublishBins = 1
#  MaxPublish = 50
#  thresholds = JetAvgCheckThresh
#  reference = CentrallyManagedReferences
#  algorithm central {
#  	xmin = -1.4
#	xmax = 1.4
#  }
# 
#  algorithm JetAvgCheckTower {
#     reference = CentrallyManagedReferences
#     algorithm centralTower {
#  	xmin = -1.4
#	xmax = 1.4
#     }
#  }
#} 
#
#
#algorithm JetAvgCheckTower {
#  libname = libdqm_algorithms.so
#  name = Bins_Diff_FromAvg
#  NSigma = 5
#  PublishBins = 1
#  MaxPublish = 50
#  thresholds = JetAvgCheckThresh
#  reference = CentrallyManagedReferences
#  algorithm centralTower {
#        xmin = -1.4
#        xmax = 1.4
#  }
#}
# 
#algorithm JetCheckMean {
#  libname = libdqm_algorithms.so
#  name = AlgCheckMean
#  thresholds = JetCheckMeanThresh
#  reference = CentrallyManagedReferences
#  
#  algorithm Loose {
#    thresholds = JetCheckMeanThresh/Loose
#  }
#  algorithm JetCheckMeanTower {
#    reference = CentrallyManagedReferences
#  
#    algorithm LooseTower {
#    thresholds = JetCheckMeanThresh/Loose
#    }
#  }
# 
#}



############################
# Thresholds
############################

thresholds JetChi2Thresh {
  limits P {
    warning = 0.05
    error = 0.01 
  }
}

thresholds JetKSThresh {
  limits P {
    warning = 1
    error = 5 
  }
}

thresholds JetBinContThresh {
  limits NBins {
    warning = 0
    error = 5
  }
}

