# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# *********************************************************************

########################################################
#   JETS    
########################################################

#############
# Output
#############

output top_level {

   output Jets {

#    algorithm = WorstCaseSummary
    output AntiKt4TopoEMJets_pt20 {

     output Summary {
       weight = 0
     }
    }

    output AntiKt4TopoEMJets {

     output UnClean {
  
        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }
        output EtaPhi {
          weight = 0
        }
        output Kinematics {
          weight = 0
        }
        output Calibration {
          weight = 0
        }
        output CleaningVariables {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
        output LB {
          weight = 0
        }
      }
     output Details {
  
        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }
        output EtaPhi {
          weight = 0
        }
        output Kinematics {
          weight = 0
        }
        output Calibration {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
        output LB {
          weight = 0
        }
      }
     
     output Summary {
       weight = 0
     }
    }

    output AntiKt4TopoEMJets_EF_j30 {
       output Summary {
       weight = 0
       }
    }

    output AntiKt4TopoEMJets_EF_j30_pt20 {

      output Summary {
        weight = 0
      }

    }

  }
 } 


    
#######################
# Histogram Assessments
#######################



dir Jets {

#  reference = CentrallyManagedReferences
   algorithm = JetGatherData
#  algorithm = WorstCaseSummary
#  algorithm = JetChisq
 


 dir AntiKt4TopoEMJets_pt20 {
        #reference = CentrallyManagedReferences
    
#################SUMMARY######################

        hist NoJets@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetPtinEtaPhi@TopoPt20Summary {
  	  output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoPt20Summary {
          output = Jets/AntiKt4TopoEMJets_pt20/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }
  }



 dir AntiKt4TopoEMJets {
        #reference = CentrallyManagedReferences
    
#################SUMMARY######################

        hist NoJets@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetPtinEtaPhi@TopoSummary {
  	  output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoSummary {
          output = Jets/AntiKt4TopoEMJets/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }

############################DETAILS################################
      #####################Jet Shapes####################
        hist Jetn90@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#        algorithm = JetShape_Chisq
        }

        hist JetVF@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#         algorithm = JetShape_Chisq
          display = LogY
        }
 
        hist JetNconstituents@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
          display = AxisRange(0.0,50.0,"X")
#        algorithm = JetShape_Chisq
    }

        hist ConstituentPtContribution@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
          display = AxisRange(0.0,200.0,"X"),LogY 
#      algorithm = JetShapePt_Chisq
    }

        hist JetNormProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#          algorithm = JetShapeProf_Chisq
    }

        hist JetIntgProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#     algorithm = JetShapeProf_Chisq
    }

        hist ConstituentProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#      algorithm = JetShapeProf_Chisq
    }

        hist ConstituentIntg@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#     algorithm = JetShapeProf_Chisq
    }

        hist FracPtVsFracConst@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#          algorithm = JetShapeProf_Chisq
    }

        hist DeltaRmax@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
          display = AxisRange(0.0,1.0,"X"),LogY
#      algorithm = JetShape_Chisq
    }


         hist JetWidth@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/JetShapes
#      algorithm = JetShape_Chisq
      display = AxisRange(0.0,0.5,"X")
    }
      
      #####################Leading Jet####################

        hist NextToLeadJetEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
        }


        hist LeadJetEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#      algorithm = LeadJ_Chisq
    }

        hist LeadJetPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#      algorithm = LeadJ_Chisq
    }

        hist LeadJetPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
          display = AxisRange(0.0,500.0,"X"),LogY
#      algorithm = LeadJPt_Chisq
    }

        hist LeadJetEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
        }

        hist JetDeltaPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#          algorithm = LeadJ_Chisq
    }

        hist JetDeltaR@Topo {
         output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#     algorithm = LeadJ_Chisq
    }
      
        hist JetDeltaEta@Topo {
         output = Jets/AntiKt4TopoEMJets/Details/LeadingJet
#     algorithm = LeadJ_Chisq
    }

      #####################Kinematics####################
  
        hist NoJets@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#     display = AxisRange(0.0,15.0,"X"),LogY
    }

        hist AveJetEvsPhi@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKinAve_Chisq
    }

        hist AveJetEvsEta@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKinAve_Chisq/eta
    }

        hist AveJetPtvsEta@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKinAve_Chisq/eta
    }

        hist AveJetPtvsPhi@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKinAve_Chisq
    }

        #hist JetEtaAsym@Topo {
        #  output = Jets/AntiKt4TopoEMJets/Details/Kinematics
        #} 
 
        hist JetMass@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = AxisRange(0.0,30.0,"X"),LogY
#      algorithm = JetKinMPE_Chisq
    }

        hist JetEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKin_Chisq
    }

        hist JetPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKin_Chisq
    }


        hist JetE@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = LogY
#      algorithm = JetKin_Chisq
    }

        hist JetE@TopoZoom {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = AxisRange(0.0,500.0,"X"),LogY
#      algorithm = JetKin_Chisq
    }

        hist JetPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = AxisRange(0.0,500.0,"X"),LogY
#      algorithm = JetKinMPE_Chisq
    }  

        hist JetHTmiss@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKin_Chisq
    }
        hist JetHTmissPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKin_Chisq
    }
        hist JetsumEt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
      display = LogY
#      algorithm = JetKin_Chisq
    }

        hist AveJetPtvsEtaCalCut@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKinAve_Chisq/eta
    }

        hist AveJetPtvsPhiCalCut@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/Kinematics
#      algorithm = JetKinAve_Chisq
    }

        hist JetAbsEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
    }

        hist JetEtaAsymNorm@TopoZOOM {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = AxisRange(-0.3,0.3,"Y")
#          algorithm = JetKinAve_Chisq
    }
        hist JetEtaAsymNorm@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Kinematics
          display = AxisRange(-1.1,1.1,"Y")
#          algorithm = JetKinAve_Chisq
    }
      ########## Eta-Phi #########################

        hist JetEtaPhi@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#      algorithm = JetEtaPhi_BinsDiff
    }

        hist AveJetEinEtaPhi@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#      algorithm = JetEtaPhiAve_BinsDiff
    }
        hist AveJetPtinEtaPhi@Topo {
      output = Jets/AntiKt4TopoEMJets/Details/EtaPhi
#      algorithm = JetEtaPhiAve_BinsDiff
    }
      ########## Calibration #########################

        hist CalibrationVsEta@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
#      algorithm = Calibration_Chisq
    }
        
        hist CalibrationVsPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
#      algorithm = Calibration_Chisq
    }

        hist CalibrationVsPt@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/Calibration
#      algorithm = CalibrationPt_Chisq
    } 


     ########## Energy By Layers ########################
        hist EmPreFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#          algorithm = Energy_Chisq
    }
        hist HECFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = EnergyHEC_Chisq
    }
        hist EMECFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = EnergyHEC_Chisq
    }
        hist EM1Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq
    }
        hist EM2Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq
    }
        hist EM3Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq
    }
        hist Tile0Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = EnergyTile_Chisq
    }
        hist Tile1Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = EnergyTile_Chisq
    }
        hist Tile2Frac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = EnergyTile_Chisq
    }
        hist TileGapFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq
    }
        hist FCalFrac@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq
        }
        hist JetEMFraction@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq
    }
        hist EnergyFractionsProf@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
#      algorithm = JetKinAve_Chisq
        }

        hist AveJetEMFracinEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
        }

        hist AveJetHADFracinEtaPhi@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/EnergyByLayers
        }
################### LB ##############
        hist AveJetPtvsLB@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveJetEvsLB@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveJetSumEtvsLB@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveNJetvsLB@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveJetPtvsNVert@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveJetEvsNVert@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveJetSumEtvsNVert@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }
        hist AveNJetvsNVert@Topo {
          output = Jets/AntiKt4TopoEMJets/Details/LB
        }

    dir UnClean {

######################################################
#               AntiKt4Topo with no cleaning         #
######################################################
############################DETAILS################################
        hist Jetn90@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#        algorithm = JetShape_Chisq/UnClean
        }

        hist JetVF@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#         algorithm = JetShape_Chisq
          display = LogY
        }
 
        hist JetNconstituents@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
          display = AxisRange(0.0,50.0,"X")
#        algorithm = JetShape_Chisq/UnClean
    }

        hist ConstituentPtContribution@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
          display = AxisRange(0.0,200.0,"X"),LogY 
#      algorithm = JetShapePt_Chisq/UnClean
    }

        hist JetNormProf@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#          algorithm = JetShapeProf_Chisq/UnClean
    }

        hist JetIntgProf@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#     algorithm = JetShapeProf_Chisq/UnClean
    }

        hist ConstituentProf@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#      algorithm = JetShapeProf_Chisq/UnClean
    }

        hist ConstituentIntg@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#     algorithm = JetShapeProf_Chisq/UnClean
    }

        hist FracPtVsFracConst@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#          algorithm = JetShapeProf_Chisq/UnClean
    }

        hist DeltaRmax@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
          display = AxisRange(0.0,1.0,"X"),LogY
#      algorithm = JetShape_Chisq/UnClean
    }


         hist JetWidth@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/JetShapes
#      algorithm = JetShape_Chisq/UnClean
      display = AxisRange(0.0,0.5,"X")
    }
      

        hist NextToLeadJetEtaPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
        }


        hist LeadJetEta@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
#      algorithm = LeadJ_Chisq/UnClean
    }

        hist LeadJetPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
#      algorithm = LeadJ_Chisq/UnClean
    }

        hist LeadJetPt@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
          display = AxisRange(0.0,500.0,"X"),LogY
#      algorithm = LeadJPt_Chisq/UnClean
    }

        hist LeadJetEtaPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
        }

        hist JetDeltaPt@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
#          algorithm = LeadJ_Chisq/UnClean
    }

        hist JetDeltaR@TopoUnClean {
         output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
#     algorithm = LeadJ_Chisq/UnClean
    }
      
        hist JetDeltaEta@TopoUnClean {
         output = Jets/AntiKt4TopoEMJets/UnClean/LeadingJet
#     algorithm = LeadJ_Chisq/UnClean
    }

      #####################CleaningVariables####################

        hist JetPtTime@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogZ
    }
        hist JetTime@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogY
    }
        hist JetQuality@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogY
    }
        hist JetQEtaPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
    }
        hist JetHECQ@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogY
    }
        hist JetNegE@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogY
    }
        hist JetCHF@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogY
    }
        hist JetHECf@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
          display = LogY
    }
        hist JetFracSamplingMax@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/CleaningVariables
    }

      #####################Kinematics####################
  
        hist NoJets@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#     display = AxisRange(0.0,15.0,"X"),LogY
    }

        hist AveJetEvsPhi@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKinAve_Chisq/UnClean
    }

        hist AveJetEvsEta@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKinAve_Chisq/UnClean/eta
    }

        hist AveJetPtvsEta@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKinAve_Chisq/UnClean/eta
    }

        hist AveJetPtvsPhi@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKinAve_Chisq/UnClean
    }

        #hist JetEtaAsym@TopoUnClean {
        #  output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
        #} 
 
        hist JetMass@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
          display = AxisRange(0.0,30.0,"X"),LogY
#      algorithm = JetKinMPE_Chisq/UnClean
    }

        hist JetEta@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKin_Chisq/UnClean
    }

        hist JetPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKin_Chisq/UnClean
    }


        hist JetE@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
          display = LogY
#      algorithm = JetKin_Chisq/UnClean
    }

        hist JetE@TopoUnCleanZoom {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
          display = AxisRange(0.0,500.0,"X"),LogY
#      algorithm = JetKin_Chisq/UnClean
    }

        hist JetPt@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
          display = AxisRange(0.0,500.0,"X"),LogY
#      algorithm = JetKinMPE_Chisq/UnClean
    }  

        hist JetHTmiss@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKin_Chisq/UnClean
    }
        hist JetHTmissPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKin_Chisq/UnClean
    }
        hist JetsumEt@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
      display = LogY
#      algorithm = JetKin_Chisq/UnClean
    }

        hist AveJetPtvsEtaCalCut@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKinAve_Chisq/UnClean/eta
    }

        hist AveJetPtvsPhiCalCut@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
#      algorithm = JetKinAve_Chisq/UnClean
    }

        hist JetAbsEta@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
    }

        hist JetEtaAsymNorm@TopoUnCleanZOOM {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
          display = AxisRange(-0.3,0.3,"Y")
#          algorithm = JetKinAve_Chisq
    }
        hist JetEtaAsymNorm@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Kinematics
          display = AxisRange(-1.1,1.1,"Y")
#          algorithm = JetKinAve_Chisq
    }
      ########## Eta-Phi #########################

        hist JetEtaPhi@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/EtaPhi
#      algorithm = JetEtaPhi_BinsDiff/UnClean
    }

        hist AveJetEinEtaPhi@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/EtaPhi
#      algorithm = JetEtaPhiAve_BinsDiff/UnClean
    }
        hist AveJetPtinEtaPhi@TopoUnClean {
      output = Jets/AntiKt4TopoEMJets/UnClean/EtaPhi
#      algorithm = JetEtaPhiAve_BinsDiff/UnClean
    }
      ########## Calibration #########################

        hist CalibrationVsEta@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Calibration
#      algorithm = Calibration_Chisq/UnClean
    }
        
        hist CalibrationVsPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Calibration
#      algorithm = Calibration_Chisq/UnClean
    }

        hist CalibrationVsPt@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/Calibration
#      algorithm = CalibrationPt_Chisq/UnClean
    } 


     ########## Energy By Layers ########################
        hist EmPreFrac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#          algorithm = Energy_Chisq/UnClean
    }
        hist HECFrac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = EnergyHEC_Chisq/UnClean
    }
        hist EMECFrac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = EnergyHEC_Chisq/UnClean
    }
        hist EM1Frac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq/UnClean
    }
        hist EM2Frac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq/UnClean
    }
        hist EM3Frac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq/UnClean
    }
        hist Tile0Frac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = EnergyTile_Chisq/UnClean
    }
        hist Tile1Frac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = EnergyTile_Chisq/UnClean
    }
        hist Tile2Frac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = EnergyTile_Chisq/UnClean
    }
        hist TileGapFrac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq/UnClean
    }
        hist FCalFrac@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq/UnClean
        }
        hist JetEMFraction@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
          display = LogY
#      algorithm = Energy_Chisq/UnClean
    }
        hist EnergyFractionsProf@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
#      algorithm = JetKinAve_Chisq/UnClean
        }

        hist AveJetEMFracinEtaPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
        }

        hist AveJetHADFracinEtaPhi@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/EnergyByLayers
        }
################### LB ##############
        hist AveJetPtvsLB@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveJetEvsLB@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveJetSumEtvsLB@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveNJetvsLB@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveJetPtvsNVert@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveJetEvsNVert@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveJetSumEtvsNVert@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
        hist AveNJetvsNVert@TopoUnClean {
          output = Jets/AntiKt4TopoEMJets/UnClean/LB
        }
     

    }
 
  }


 dir AntiKt4TopoEMJets_EF_j30 {
        #reference = CentrallyManagedReferences
    
#################SUMMARY######################

        hist NoJets@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetPtinEtaPhi@TopoTriggerSummary {
  	  output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoTriggerSummary {
          output = Jets/AntiKt4TopoEMJets_EF_j30/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }
  }

  
    
  dir AntiKt4TopoEMJets_EF_j30_pt20 {
        #reference = CentrallyManagedReferences
###################SUMMARY#########################

        hist NoJets@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = AxisRange(0.0,10.0,"X"),LogY
#         algorithm = JetChisq/JetChisqTower
        }
  
        hist JetPt@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        }
  
        hist JetEtaPhi@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        } 
      
        hist JetNconstituents@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogY
#	  algorithm = JetChisq/JetChisqTower
        } 

        hist JetEtaAsymNorm@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        } 


        hist AveJetPtinEtaPhi@TopoTriggerPt20Summary {
  	  output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower

        }

        hist FracPtVsFracConst@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
#	  algorithm = JetBinContentComp/JetBinContentCompTower
        }

      hist JetEMFraction@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogY
#  	  algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        } 

      hist EnergyFractionsProf@TopoTriggerPt20Summary {
          output = Jets/AntiKt4TopoEMJets_EF_j30_pt20/Summary
          display = LogZ
#         algorithm = JetAvgCheck/JetAvgCheckTower/centralTower
        }
   }


  
 
}



############################################################################
# Algorithms( two different reference files are used for Topo & Tower Jets)
############################################################################

algorithm JetWorstCaseSummary {
  libname = libdqm_summaries.so
  name = JetWorstCaseSummary
}


#algorithm JetBinContentComp {
#  libname = libdqm_algorithms.so
#  name = BinContentComp
#  thresholds = JetBinContThresh
#  NSigma = 3
#  reference = CentrallyManagedReferences
#  PublishBins = 1
#  algorithm central {
#	xmin = -1.4
#	xmax = 1.4
#  }
#  algorithm JetBinContentCompTower {
#     reference = CentrallyManagedReferences
#     algorithm centralTower {
#	xmin = -1.4
#	xmax = 1.4
#     }
#  }
#}


algorithm JetGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  #reference = CentrallyManagedReferences
  algorithm JetGatherDataTower {
    #reference = CentrallyManagedReferences
  }
}


algorithm JetChisq {
  libname = libdqm_algorithms.so
  name = Chi2Test_Prob
  thresholds = JetChi2Thresh
  #reference = CentrallyManagedReferences
  algorithm JetChisqTower {
     #reference = CentrallyManagedReferences
  }
}


algorithm JetKS {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = JetKSThresh
  #reference = CentrallyManagedReferences
  algorithm JetKSTower {
    #reference = CentrallyManagedReferences
  }
}


############################
# Thresholds
############################

thresholds JetChi2Thresh {
  limits P {
    warning = 0.05
    error = 0.01 
  }
}

thresholds JetKSThresh {
  limits P {
    warning = 1
    error = 5 
  }
}

thresholds JetBinContThresh {
  limits NBins {
    warning = 0
    error = 5
  }
}

