# **********************************************************************
# # $Id: heavyions_run.config 620215 2014-10-06 17:08:34Z adattagu $
# # *********************************************************************
#
# ########################################################
# #   JETS
# ########################################################
#
# #############
# Reference
# #############
reference JetTauEtmissReference {
  file = /afs/cern.ch/work/j/jfrost/public/DC14_HIST/data12_8TeV.00204158.express_express.merge.HIST.f526_m1332._0001.1
  path = run_204158
  name = same_name
}


# #############
# # Output
# #############


output top_level {

   algorithm = JetGatherData
   #algorithm = WorstCaseSummary

   output Jets {


######################################
##AntiKt4TopoEMJets
#######################################

    output AntiKt4EMTopoJets {


     output Summary {
     }

     output UnClean {

        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }
        output Kinematics {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
       output LB {
          weight = 0
       }
      }

     output Details {

        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }
        output Kinematics {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
       output LB {
          weight = 0
       }
      }

    }

    output AntiKt4LCTopoJets {


     output Summary {
     }

     output UnClean {

        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }

        output Kinematics {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
       output LB {
          weight = 0
       }
      }

     output Details {

        output JetShapes {
          weight = 0
        }
        output LeadingJet {
          weight = 0
        }
        output Kinematics {
          weight = 0
        }
        output EnergyByLayers {
          weight = 0
        }
       output LB {
          weight = 0
       }
      }

    }

   }
}
########################
## Histogram Assessments#
#########################
dir Jets {
 
  algorithm = JetGatherData

  dir AntiKt4EMTopoJets {
     reference = JetTauEtmissReference 
     #stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
     algorithm = JetGatherData

###################SUMMARY#########################

        hist pt@TopoSummary {
          reference = JetTauEtmissReference
          output = Jets/AntiKt4EMTopoJets/Summary
          display = LogY
        }

        hist AveragePtEtaPhi@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Summary

        }

        hist numconstit@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Summary
         display = AxisRange(0.0,200.0,"X"),LogY
        }

        hist EMFrac@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Summary
          display = LogY
        }

        hist numconstit@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Summary
        }

        hist HECFrac@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Summary
        }

        hist LArQuality@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Summary
        }

############################DETAILS################################
#      #####################Jet Shapes####################
        hist numconstitleadingjet@Topo {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Details/JetShapes
        }

        hist numconstitsubleadingjet@Topo {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4EMTopoJets/Details/JetShapes
        }

        hist Width@Topo {
         output = Jets/AntiKt4EMTopoJets/Details/JetShapes
        }

        hist Timing@Topo {
         output = Jets/AntiKt4EMTopoJets/Details/JetShapes
        }

        hist GhostTrackCount@Topo {
         output = Jets/AntiKt4EMTopoJets/Details/JetShapes
        }

#####################Kinematics####################
        hist ConstitScale_M@Topo {
         output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist ConstitScale_eta@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist ConstitScale_phi@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist ConstitScale_pt@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist EMScale_M@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist EMScale_eta@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist EMScale_numconstit@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }


        hist EMScale_phi@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist EMScale_pt@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist phisubleadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist ptsubleadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist etasubleadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist Msubleadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/Kinematics
        }

        hist EMB2_2@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }
        
        hist EMB3_3@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist EME2_6@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist EME3_7@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist EMFrac@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist HECFrac@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist FCAL0_21@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist FCAL1_22@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist HEC2_10@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist HEC3_11@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }
        
        hist TileBar0_12@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist TileBar1_13@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist TileExt0_18@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/EnergyByLayers
        }

        hist Mleadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/LeadingJet
        }

        hist ptleadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/LeadingJet
        }

        hist phileadingjet@Topo {
          output = Jets/AntiKt4EMTopoJets/Details/LeadingJet
        }
  

     }

     dir AntiKt4LCTopoJets {
     reference = JetTauEtmissReference
     algorithm = JetGatherData

     #####Summary
        hist pt@TopoSummary {
          reference = JetTauEtmissReference
          output = Jets/AntiKt4LCTopoJets/Summary
          display = LogY
        }

        hist AveragePtEtaPhi@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Summary

        }

        hist numconstit@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Summary
         display = AxisRange(0.0,200.0,"X"),LogY
        }

        hist numconstit@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Summary
        }

        hist HECFrac@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Summary
        }

        hist LArQuality@TopoSummary {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Summary
        }

        ##Details
        #JetShapes
         hist numconstitleadingjet@Topo {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Details/JetShapes
        }

        hist numconstitsubleadingjet@Topo {
         reference = JetTauEtmissReference
         output = Jets/AntiKt4LCTopoJets/Details/JetShapes
        }

        hist Width@Topo {
         output = Jets/AntiKt4LCTopoJets/Details/JetShapes
        }

        hist Timing@Topo {
         output = Jets/AntiKt4LCTopoJets/Details/JetShapes
        }

        hist GhostTrackCount@Topo {
         output = Jets/AntiKt4LCTopoJets/Details/JetShapes
        }

        ##Kinematics
        hist ConstitScale_M@Topo {
         output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist ConstitScale_eta@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist ConstitScale_phi@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist ConstitScale_pt@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist LCScale_M@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist phisubleadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist ptsubleadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist etasubleadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist Msubleadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/Kinematics
        }

        hist HECFrac@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist FCAL0_21@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist FCAL1_22@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist HEC2_10@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }
   
        hist HEC3_11@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist TileBar0_12@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist TileBar1_13@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist TileExt0_18@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/EnergyByLayers
        }

        hist Mleadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/LeadingJet
        }

        hist ptleadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/LeadingJet
        }

        hist phileadingjet@Topo {
          output = Jets/AntiKt4LCTopoJets/Details/LeadingJet
        }

     }

   }





   ############################################################################
   ## Algorithms
   #############################################################################

algorithm JetWorstCaseSummary {
  libname = libdqm_summaries.so
  name = JetWorstCaseSummary
}

################################
##Energy test will be used for the energy by layers plots
##Split it so that one can add different thresholds
##for the DQQual, _j40, and normal streams
#################################

compositeAlgorithm GatherData&Chi2D {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Chi2Test_2D
}

compositeAlgorithm GatherData&Chi2Scatter {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Chi2Test_Scatterplot
}

compositeAlgorithm GatherData&BinsDiffStrips {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,BinsDiffFromStripMedian
}

algorithm Energy_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = Energy_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = Energy_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = Energy_Chisq_Threshold_DQQual
 }
}

algorithm EnergyTile_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = EnergyTile_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = EnergyTile_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = EnergyTile_Chisq_Threshold_DQQual
 }
}


algorithm EnergyHEC_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = EnergyHEC_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = EnergyHEC_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = EnergyHEC_Chisq_Threshold_DQQual
 }
}


#####################################
##LeadJ test will be used for the leading jet histograms
##with the exception of leading jet Pt.
##As with the previous algorithm, there are three versions.
#####################################


algorithm LeadJ_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = LeadJ_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = LeadJ_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = LeadJ_Chisq_Threshold_DQQual
  }
}

#################################
##LeadJPt test will be used for the Leading Jet Pt histogram
##As with the previous algorithm, there are three versions.
##################################


algorithm LeadJPt_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = LeadJPt_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = LeadJPt_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = LeadJPt_Chisq_Threshold_DQQual
  }
}

#################################
##Calibration algorithms
##################################

algorithm Calibration_Chisq {
   libname = libdqm_algorithms.so
   name = GatherData&Chi2Scatter
   thresholds = Calibration_Chisq_Threshold
   #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
   reference = JetTauEtmissReference
   algorithm j40 {
   thresholds = Calibration_Chisq_Threshold_j40
   }
   algorithm DQQual {
   thresholds = Calibration_Chisq_Threshold_DQQual
   }
 }

################################
##Calibration chisq for Pt
#################################

algorithm CalibrationPt_Chisq {
   libname = libdqm_algorithms.so
   name = GatherData&Chi2Scatter
   thresholds = CalibrationPt_Chisq_Threshold
   #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
   reference = JetTauEtmissReference
   algorithm j40 {
   thresholds = CalibrationPt_Chisq_Threshold_j40
   }
   algorithm DQQual {
   thresholds = CalibrationPt_Chisq_Threshold_DQQual
   }
 }

#############################
##Jet Shapes algorithms
##############################

algorithm JetShapeProf_Chisq {
   libname = libdqm_algorithms.so
   name = GatherData&Chi2Scatter
   thresholds = JetShapeProf_Chisq_Threshold
   #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
   reference = JetTauEtmissReference
   algorithm j40 {
   thresholds = JetShapeProf_Chisq_Threshold_j40
   }
   algorithm DQQual {
   thresholds = JetShapeProf_Chisq_Threshold_DQQual
   }
 }

algorithm JetShape_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = JetShape_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = JetShape_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = JetShape_Chisq_Threshold_DQQual
  }
}

algorithm JetShapePt_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = JetShapePt_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = JetShapePt_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = JetShapePt_Chisq_Threshold_DQQual
  }

}


#########################################
##Jet Kinematics algorithms              #
##########################################


algorithm JetKin_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = JetKin_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = JetKin_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = JetKin_Chisq_Threshold_DQQual
  }
}


algorithm JetKinAve_Chisq {
   libname = libdqm_algorithms.so
   name = GatherData&Chi2Scatter
   thresholds = JetKinAve_Chisq_Threshold
   #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
   reference = JetTauEtmissReference
   algorithm eta {
   xmin = -4.2
   xmax = 4.2
   }
   algorithm j40 {
   thresholds = JetKinAve_Chisq_Threshold_j40
   }
   algorithm DQQual {
   thresholds = JetKinAve_Chisq_Threshold_DQQual
   algorithm eta {
   xmin = -4.2
   xmax = 4.2
   }
   }
 }


algorithm JetKinMPE_Chisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = JetKinMPE_Chisq_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = JetKinMPE_Chisq_Threshold_j40
  }
  algorithm DQQual {
    thresholds = JetKinMPE_Chisq_Threshold_DQQual
  }
}

############################################
##Jet Eta-Phi Algorithms
#############################################

algorithm JetEtaPhiAve_BinsDiff {
  libname = libdqm_algorithms.so
  name = GatherData&BinsDiffStrips
  PublishBins = 1
  MaxPublish = 10
  SigmaThresh = 0.
  xmin = -3.15
  xmax = 3.15
  MinStat = 15000
  TestConsistencyWithErrors = 0
  thresholds = JetEtaPhiAve_BinsDiff_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = JetEtaPhiAve_BinsDiff_Threshold_j40
  }
  algorithm DQQual {
    thresholds = JetEtaPhiAve_BinsDiff_Threshold_DQQual
  }
}

algorithm JetEtaPhi_BinsDiff {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2D
  normalize = 1
  Num_to_print = 10
  NSigma = 5.0
  MaxSigma = 8.0
  xmin = -4.2
  xmax = 4.2
  MinStat = 25000
  thresholds = JetEtaPhi_BinsDiff_Threshold
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  algorithm j40 {
    thresholds = JetEtaPhi_BinsDiff_Threshold_j40
  }
  algorithm DQQual {
    thresholds = JetEtaPhi_BinsDiff_Threshold_DQQual
  }
}


##################################################################
##Older algorithms from Reyhaneh's original File
###################################################################

algorithm JetBinContentComp {
  libname = libdqm_algorithms.so
  name = BinContentComp
  thresholds = JetBinContThresh
  NSigma = 3
  #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
  reference = JetTauEtmissReference
  PublishBins = 1
  algorithm central {
  xmin = -5.0
  xmax = 5.0
  }
  algorithm JetBinContentCompTower {
     #reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
     reference = JetTauEtmissReference
     algorithm centralTower {
  xmin = -1.4
  xmax = 1.4
     }
  }
}


algorithm JetGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = JetTauEtmissReference

#stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences

#  algorithm JetGatherDataTower {
#  #    reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
#  #  }
}


  ############################
  #       Thresholds         #
  ############################


##############################
#Energy Thresholds
###############################

thresholds Energy_Chisq_Threshold {
    limits Chi2_per_NDF {
      warning = 3.
      error = 4.
      }
}

thresholds Energy_Chisq_Threshold_j40 {
   limits Chi2_per_NDF {
     warning = 3.
     error = 4.
     }
}

thresholds Energy_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds EnergyHEC_Chisq_Threshold {
    limits Chi2_per_NDF {
      warning = 4.
      error = 6.
      }
}

thresholds EnergyHEC_Chisq_Threshold_j40 {
   limits Chi2_per_NDF {
     warning = 4.
     error = 5.
     }
}

thresholds EnergyHEC_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 4.
    error = 6.
    }
}

thresholds EnergyTile_Chisq_Threshold {
    limits Chi2_per_NDF {
      warning = 4.
      error = 7.5
      }
}

thresholds EnergyTile_Chisq_Threshold_j40 {
   limits Chi2_per_NDF {
     warning = 4.
     error = 5.
     }
}

thresholds EnergyTile_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 4.
    error = 7.5
    }
}

#####################################
##Leading Jet Thresholds
######################################

thresholds LeadJ_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds LeadJ_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds LeadJ_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}


thresholds LeadJPt_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds LeadJPt_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds LeadJPt_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

##################################################
##Calibration Thresholds
###################################################

thresholds Calibration_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds Calibration_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds Calibration_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}


thresholds CalibrationPt_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds CalibrationPt_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds CalibrationPt_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

##########################################
##Jet Shapes Thresholds
###########################################

thresholds JetShape_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetShape_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetShape_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}


thresholds JetShapeProf_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 4.
    error = 5.
    }
}

thresholds JetShapeProf_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 4.
    error = 5.
    }
}

thresholds JetShapeProf_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 4.
    error = 5.
    }
}


thresholds JetShapePt_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetShapePt_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetShapePt_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

############################################
##Kinematics Thresholds                     
#############################################

thresholds JetKin_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKin_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKin_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKinAve_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKinAve_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKinAve_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKinMPE_Chisq_Threshold {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKinMPE_Chisq_Threshold_j40 {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

thresholds JetKinMPE_Chisq_Threshold_DQQual {
  limits Chi2_per_NDF {
    warning = 3.
    error = 4.
    }
}

##################################################
##Eta-Phi Thresholds
###################################################

thresholds JetEtaPhiAve_BinsDiff_Threshold {
  limits MaxDeviation {
    warning = 3.0
    error = 6.0
  }
}

thresholds JetEtaPhiAve_BinsDiff_Threshold_j40 {
  limits MaxDeviation {
    warning = 3.0
    error = 6.0
  }
}

thresholds JetEtaPhiAve_BinsDiff_Threshold_DQQual {
  limits MaxDeviation {
    warning = 3.0
    error = 6.0
  }
}

thresholds JetEtaPhi_BinsDiff_Threshold {
  limits NBins {
    warning = 5
    error = 10
  }
}

thresholds JetEtaPhi_BinsDiff_Threshold_j40 {
  limits NBins {
    warning = 5
    error = 10
  }
}

thresholds JetEtaPhi_BinsDiff_Threshold_DQQual {
  limits NBins {
    warning = 5
    error = 10
  }
}

######################################################################################
##Some Older thresholds from Reyhaneh's original file
#######################################################################################

thresholds JetMaxDevThresh {
  limits MaxDeviation {
    warning = 5.
    error = 8.
  }
}


thresholds JetBinContThresh {
  limits NBins {
    warning = 0
    error = 5
  }
}

 

