##############################################################################
#
#  JetUncertaintiesTool Input Settings for Hbb tagging
#    November 23, 2015
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_Prerec_Hbb
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15
UncertaintyRootFile:                UJ_2015/Prerec/UJUncertainty_2015.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root
FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta

##############################################################################
# 
#   Settings for components
#
##############################################################################

# We want to vary pT, mass, and D2 coherently for each cross-calib component
# However, the Run1 Rtrk term should be split to separate components
# Results in four groups (Rtrk_pT, Rtrk_mass, Rtrk_sub, CrossCalib_*)

# We want to have only two component groups: Run1 and cross-calib

JESGroup.1.Name:                    Hbb_Run1_pT
JESGroup.1.Desc:                    Run 1 systematic uncertainties from Rtrk: pT scale
JESGroup.1.Type:                    Other
JESGroup.1.Group:                   1

JESGroup.2.Name:                    Hbb_Run1_mass
JESGroup.2.Desc:                    Run 1 systematic uncertainties from Rtrk: mass scale
JESGroup.2.Type:                    Other
JESGroup.2.Corr:                    Correlated
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Hbb_Run1_D2
JESGroup.3.Desc:                    Run 1 systematic uncertainties from Rtrk: D2 scale
JESGroup.3.Type:                    Other
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Hbb_CrossCalib
JESGroup.4.Desc:                    Run 2 cross-calibration systematic uncertainties
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Uncorrelated
JESGroup.4.Group:                   4


# Run 1 components

JESComponent.1.Name:                Hbb_Run1_pT
JESComponent.1.Param:               PtMassAbsEta
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Hbb_Run1_mass
JESComponent.2.Param:               PtMassAbsEta
JESComponent.2.Scale:               Mass
JESComponent.2.Group:               2

JESComponent.3.Name:                Hbb_Run1_D2
JESComponent.3.Param:               PtMassAbsEta
JESComponent.3.Scale:               D2Beta1
JESComponent.3.Group:               3




# 50 vs 25 ns cross-calibration components
JESComponent.4.Name:                Hbb_50vs25ns_pT
JESComponent.4.Param:               PtMassAbsEta
JESComponent.4.Scale:               Pt
JESComponent.4.Group:               4

JESComponent.5.Name:                Hbb_50vs25ns_mass
JESComponent.5.Param:               PtMassAbsEta
JESComponent.5.Scale:               Mass
JESComponent.5.Group:               4

JESComponent.6.Name:                Hbb_50vs25ns_D2
JESComponent.6.Param:               PtMassAbsEta
JESComponent.6.Scale:               D2Beta1
JESComponent.6.Group:               4


# 4 vs 5 LAr samplings cross-calibration components
JESComponent.7.Name:                Hbb_LArSampling_pT
JESComponent.7.Param:               PtMassAbsEta
JESComponent.7.Scale:               Pt
JESComponent.7.Group:               4

JESComponent.8.Name:                Hbb_LArSampling_mass
JESComponent.8.Param:               PtMassAbsEta
JESComponent.8.Scale:               Mass
JESComponent.8.Group:               4

JESComponent.9.Name:                Hbb_LArSampling_D2
JESComponent.9.Param:               PtMassAbsEta
JESComponent.9.Scale:               D2Beta1
JESComponent.9.Group:               4


# Topocluster algorithm cross-calibration components
JESComponent.10.Name:               Hbb_TopoclusterAlg_pT
JESComponent.10.Param:              PtMassAbsEta
JESComponent.10.Scale:              Pt
JESComponent.10.Group:              4

JESComponent.11.Name:               Hbb_TopoclusterAlg_mass
JESComponent.11.Param:              PtMassAbsEta
JESComponent.11.Scale:              Mass
JESComponent.11.Group:              4

JESComponent.12.Name:               Hbb_TopoclusterAlg_D2
JESComponent.12.Param:              PtMassAbsEta
JESComponent.12.Scale:              D2Beta1
JESComponent.12.Group:              4


# Noise threshold up cross-calibration components
JESComponent.13.Name:               Hbb_NoiseThrUp_pT
JESComponent.13.Param:              PtMassAbsEta
JESComponent.13.Scale:              Pt
JESComponent.13.Group:              4

JESComponent.14.Name:               Hbb_NoiseThrUp_mass
JESComponent.14.Param:              PtMassAbsEta
JESComponent.14.Scale:              Mass
JESComponent.14.Group:              4

JESComponent.15.Name:               Hbb_NoiseThrUp_D2
JESComponent.15.Param:              PtMassAbsEta
JESComponent.15.Scale:              D2Beta1
JESComponent.15.Group:              4


# Noise threshold down cross-calibration components
JESComponent.16.Name:               Hbb_NoiseThrDown_pT
JESComponent.16.Param:              PtMassAbsEta
JESComponent.16.Scale:              Pt
JESComponent.16.Group:              4

JESComponent.17.Name:               Hbb_NoiseThrDown_mass
JESComponent.17.Param:              PtMassAbsEta
JESComponent.17.Scale:              Mass
JESComponent.17.Group:              4

JESComponent.18.Name:               Hbb_NoiseThrDown_D2
JESComponent.18.Param:              PtMassAbsEta
JESComponent.18.Scale:              D2Beta1
JESComponent.18.Group:              4


# Additional material uncertainty components
JESComponent.28.Name:               Hbb_Material_pT
JESComponent.28.Param:              PtMassAbsEta
JESComponent.28.Scale:              Pt
JESComponent.28.Group:              4

JESComponent.29.Name:               Hbb_Material_mass
JESComponent.29.Param:              PtMassAbsEta
JESComponent.29.Scale:              Mass
JESComponent.29.Group:              4

JESComponent.30.Name:               Hbb_Material_D2
JESComponent.30.Param:              PtMassAbsEta
JESComponent.30.Scale:              D2Beta1
JESComponent.30.Group:              4


# Flavour/topology comparison uncertainty components
#JESComponent.34.Name:               Hbb_Flavour_pT
#JESComponent.34.Param:              PtMassAbsEta
#JESComponent.34.Scale:              Pt
#JESComponent.34.Group:              4
#
#JESComponent.35.Name:               Hbb_Flavour_mass
#JESComponent.35.Param:              PtMassAbsEta
#JESComponent.35.Scale:              Mass
#JESComponent.35.Group:              4
#
#JESComponent.36.Name:               Hbb_Flavour_D2
#JESComponent.36.Param:              PtMassAbsEta
#JESComponent.36.Scale:              D2Beta1
#JESComponent.36.Group:              4


# High-pT term for mass calibration non-closure
JESComponent.37.Name:               Hbb_HighPt_mass
JESComponent.37.Param:              PtMassAbsEta
JESComponent.37.Scale:              Mass
JESComponent.37.Group:              2


