# **********************************************************************
# $Id: jetTag_collisions_run.config,v 1.1 2008-09-03 14:00:56 mgwilson Exp $
# **********************************************************************


#######################
# References
#######################

reference JetTagShiftHists_Ref {
  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/MonitorESD_run52300_BTagging_080902.SHIFT.root
  path = run_52300
  name = same_name
}

reference JetTagOverlay_Ref {
  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/MonitorESD_run52300_BTagging_080902.root
  path = run_52300
  name = same_name
}


####################
# Common Algorithms
####################

algorithm WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}

compositeAlgorithm Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libDataQualityInterfacesAlgs.so,libdqm_algorithms.so
}


#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary
  
  output JetTagging {
  
  }
}


############################################################
# Jet Tagging
############################################################

#######################
# Histogram Assessments
#######################

dir JetTagging {
  reference = JetTagShiftHists_Ref
  algorithm = JetTag_GatherData
  output = JetTagging
  hist all_in_dir {  
  }
}

###########################
# Algorithms and Thresholds
###########################

algorithm JetTag_GatherData {
  name = Histogram_Not_Empty&GatherData
  #reference = JetTagOverlay_Ref
}

