############################################################
# AFP
# Nikola Dikic
############################################################

############################################################
 # Reference
reference AFPBinContentReference {
	 location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Other/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Other/
	 file = data18_13TeV.00337176.physics_Main.merge.HIST.f940_h308.root
	 path = run_337176
	 name = same_name
}
############################################################

############################################################
# Output
############################################################

output top_level {
	output AFP {
		output SiT {
			output pixelColRow2D {
			}
			output PixelColIDChip {
			}
			output PixelRowIDChip {
			}
			output SiTimeOverThreshold {
			}
			output Cluster {
			}
			output Track {
			}
			output clustersPerPlane {
			}
			output clustersPerStation {
			}
			output clustersPerPlaneFront {
			}
			output clustersPerPlaneEnd {
			}
			output clustersPerPlaneMiddle {
			}
		}
		output ToF {
			output HitBarvsTrain {
			}
		}
	}
}

############################################################
# Histogram Assessments
############################################################

dir AFP {
	dir SiT {
		dir pixelColRow2D {
			hist pixelColIDChip_vs_pixelRowIDChip_nearAside_P0 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearAside_P1 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearAside_P2 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearAside_P3 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearCside_P0 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearCside_P1 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearCside_P2 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_nearCside_P3 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farAside_P0 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farAside_P1 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farAside_P2 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farAside_P3 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farCside_P0 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farCside_P1 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farCside_P2 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
			hist pixelColIDChip_vs_pixelRowIDChip_farCside_P3 {
				algorithm = HNE
				output = AFP/SiT/pixelColRow2D
				display = LogZ,Draw=COLZ
			}
		}
		dir PixelColIDChip {
			hist pixelColIDChip_nearAside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearAside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearAside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearAside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farAside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farAside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farAside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farAside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearCside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearCside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearCside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_nearCside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farCside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farCside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farCside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
			hist pixelColIDChip_farCside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelColIDChip
				display = Draw=HIST
			}
		}
		dir PixelRowIDChip {
			hist pixelRowIDChip_nearAside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearAside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearAside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearAside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farAside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farAside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farAside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farAside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearCside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearCside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearCside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_nearCside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farCside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farCside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farCside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
			hist pixelRowIDChip_farCside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/PixelRowIDChip
				display = Draw=HIST
			}
		}
		dir SiTimeOverThreshold {
			hist timeOverThreshold_nearAside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearAside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearAside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearAside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farAside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farAside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farAside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farAside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearCside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearCside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearCside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_nearCside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farCside_P0 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farCside_P1 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farCside_P2 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
			hist timeOverThreshold_farCside_P3 {
				algorithm = AFPBinContentComp
				output = AFP/SiT/SiTimeOverThreshold
				display = Draw=HIST
			}
		}
		dir Cluster {
			hist clusterX_vs_clusterY_nearAside_P0 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearAside_P1 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearAside_P2 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearAside_P3 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farAside_P0 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farAside_P1 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farAside_P2 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farAside_P3 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearCside_P0 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearCside_P1 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearCside_P2 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_nearCside_P3 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farCside_P0 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farCside_P1 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farCside_P2 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
			hist clusterX_vs_clusterY_farCside_P3 {
				algorithm = HNE
				output = AFP/SiT/Cluster
				display = LogZ,Draw=COLZ
			}
		}
		dir Track {
			hist trackX_vs_trackY_nearAside {
				algorithm = HNE
				output = AFP/SiT/Track
				display = LogZ,Draw=COLZ
			}
			hist trackX_vs_trackY_nearCside {
				algorithm = HNE
				output = AFP/SiT/Track
				display = LogZ,Draw=COLZ
			}
			hist trackX_vs_trackY_farAside {
				algorithm = HNE
				output = AFP/SiT/Track
				display = LogZ,Draw=COLZ
			}
			hist trackX_vs_trackY_farCside {
				algorithm = HNE
				output = AFP/SiT/Track
				display = LogZ,Draw=COLZ
			}
		}
		dir clustersPerPlane {
			hist clustersPerPlane_vs_lb_farAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_farCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
			hist clustersPerPlane_vs_lb_nearCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlane
				display = Draw=COLZ
			}
		}
		dir clustersPerPlaneFront {
			hist clustersPerPlaneFront_vs_lb_farAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_farCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
			hist clustersPerPlaneFront_vs_lb_nearCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneFront
				display = Draw=COLZ
			}
		}
		dir clustersPerPlaneEnd {
			hist clustersPerPlaneEnd_vs_lb_farAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_farCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
			hist clustersPerPlaneEnd_vs_lb_nearCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneEnd
				display = Draw=COLZ
			}
		}
		dir clustersPerPlaneMiddle {
			hist clustersPerPlaneMiddle_vs_lb_farAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearAside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearAside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearAside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearAside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_farCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearCside_P0 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearCside_P1 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearCside_P2 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
			hist clustersPerPlaneMiddle_vs_lb_nearCside_P3 {
				algorithm = HNE
				output = AFP/SiT/clustersPerPlaneMiddle
				display = Draw=COLZ
			}
		}
		dir clustersPerStation {
			hist clustersPerStation_vs_lb_farAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStation_vs_lb_farCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStation_vs_lb_nearAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStation_vs_lb_nearCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationFront_vs_lb_farAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationFront_vs_lb_farCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationFront_vs_lb_nearAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationFront_vs_lb_nearCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationEnd_vs_lb_farAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationEnd_vs_lb_farCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationEnd_vs_lb_nearAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationEnd_vs_lb_nearCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationMiddle_vs_lb_farAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationMiddle_vs_lb_farCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationMiddle_vs_lb_nearAside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
			hist clustersPerStationMiddle_vs_lb_nearCside {
				algorithm = HNE
				output = AFP/SiT/clustersPerStation
				display = Draw=COLZ
			}
		}
		hist nSiHits_vs_lb {
			algorithm = HNE
			output = AFP/SiT
			display = Draw=HIST
		}
		hist muPerBCID_vs_lb {
			algorithm = HNE
			output = AFP/SiT
			display = Draw=HIST
		}
	}
	dir ToF {
		hist numberOfHit_S0 {
			algorithm = HNE
			output = AFP/ToF
			display = Draw=HIST
		}
		hist numberOfHit_S3 {
			algorithm = HNE
			output = AFP/ToF
			display = Draw=HIST
		}
		dir HitBarvsTrain {
			hist trainID_vs_barInTrainID_farAside {
				algorithm = HNE
				output = AFP/ToF/HitBarvsTrain
				display = Draw=COLZ
			}
			hist trainID_vs_barInTrainID_farCside {
				algorithm = HNE
				output = AFP/ToF/HitBarvsTrain
				display = Draw=COLZ
			}
		}
	}
}

############################################################
# Algorithms

algorithm HNE {
	libname = libdqm_algorithms.so
	name = Histogram_Not_Empty
}

algorithm AFPBinContentComp {
	libname = libdqm_algorithms.so
	name = BinContentComp
	thresholds = AFPTestThreshold
	NSigma = 3
	reference = AFPBinContentReference
	publish = 1
	NormRef = 1
}
############################################################


############################################################
# Thresholds
thresholds AFPTestThreshold {
	limits NBins {
		warning = 3
		error = 5
	}
}
###########################################################
