# **********************************************************************
# $Id: collisions_run.config 625770 2014-11-03 14:32:38Z lafaye $
# **********************************************************************

############################################################
# e,gamma
############################################################

####################
# Thresholds
####################
thresholds egKolmogorovThr {
    limits MaxDist {
        warning = 0.05
        error = 0.15
    }
}

thresholds egamma_BinsDiffFromStripMedian_threshold {
  limits MaxDeviation {
    warning = 25
    error = 200
  }
}

####################
# Common Algorithms
####################

algorithm egamma_BinsDiffFromStripMedian {
  libname = libdqm_algorithms.so
  SuppressFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = egamma_BinsDiffFromStripMedian_threshold
}

algorithm egKolmogorov {
    libname = libdqm_algorithms.so
        name = KolmogorovTest_MaxDist
        reference = stream=physics_Egamma:CentrallyManagedReferences_Egamma;CentrallyManagedReferences
        thresholds = egKolmogorovThr
        MinStat = 20
}

algorithm egamma_Histogram_Not_Empty {
        libname = libdqm_algorithms.so
        name = Histogram_Not_Empty
        reference = CentrallyManagedReferences
}

#############
# Output
#############

output top_level {
  output egamma {
   output photons { 
    output ID {
    }
    output Track { 
    }
    output EXPERT { 
    }
    output EXPERT_ID { 
    }
    output EXPERT_Track { 
    }
   }
   output electrons {
    output ID {
    }
    output Track {
    }
    output EXPERT {
    }
    output EXPERT_ID {
    }
    output EXPERT_Track {
    }
   }
   output forwardElectrons {
    output ID {
    }
    output EXPERT {
    }
   }
   output ZeeTagAndProbe {
    output ID {
    }
    output Track {
    }
    output EXPERT {
    }
    output EXPERT_ID { 
    }
    output EXPERT_Track { 
    }
   }
 }
}

#######################
# Histogram Assessments
#######################

dir egamma/electrons {
     algorithm = egKolmogorov
     output = egamma/electrons
      hist electronN {
       algorithm = egamma_Histogram_Not_Empty
      }
      hist electronTightN {
       algorithm = egamma_Histogram_Not_Empty
      }
      hist electronEt {
      }
      hist electronTightEt {
      }
      hist electronPhi {
      }
      hist electronTightPhi {
      }
      hist electronEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist electronTightEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist electronN_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronEt_BARREL {
      }
      hist electronEta_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronPhi_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronTightN_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronTightEt_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronTightEta_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronTightPhi_BARREL {
       output = egamma/electrons/EXPERT
      }
      hist electronN_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronEt_CRACK {
      }
      hist electronEta_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronPhi_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronTightN_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronTightEt_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronTightEta_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronTightPhi_CRACK {
       output = egamma/electrons/EXPERT
      }
      hist electronN_ENDCAP {
       output = egamma/electrons/EXPERT
      }
      hist electronEt_ENDCAP {
      }
      hist electronEta_ENDCAP {
       output = egamma/electrons/EXPERT
      }
      hist electronPhi_ENDCAP {
       output = egamma/electrons/EXPERT
      }
      hist electronTightN_ENDCAP {
       output = egamma/electrons/EXPERT
      }
      hist electronTightEt_ENDCAP {
       output = egamma/electrons/EXPERT
      }
      hist electronTightEta_ENDCAP {
       output = egamma/electrons/EXPERT
      }
      hist electronTightPhi_ENDCAP {
       output = egamma/electrons/EXPERT
      }
}

dir egamma/electrons/ID {
     algorithm = egKolmogorov
     output = egamma/electrons/ID
      hist electronEhad1_BARREL {
      }
      hist electronEoverP_BARREL {
      }
      hist electronCoreEM_BARREL {
      }
      hist electronF1_BARREL {
      }
      hist electronF2_BARREL {
      }
      hist electronF3_BARREL {
      }
      hist electronRe233e237_BARREL {
      }
      hist electronRe237e277_BARREL {
      }
      hist electronEhad1_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronEoverP_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronCoreEM_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronF1_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronF2_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronF3_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronRe233e237_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronRe237e277_CRACK {
       output = egamma/electrons/EXPERT_ID
      }
      hist electronEhad1_ENDCAP {
      }
      hist electronEoverP_ENDCAP {
      }
      hist electronCoreEM_ENDCAP {
      }
      hist electronF1_ENDCAP {
      }
      hist electronF2_ENDCAP {
      }
      hist electronF3_ENDCAP {
      }
      hist electronRe233e237_ENDCAP {
      }
      hist electronRe237e277_ENDCAP {
      }
}

dir egamma/electrons/Track {
     algorithm = egKolmogorov
     output = egamma/electrons/Track
      hist electronTightNOfBLayerHits_BARREL {
      }
      hist electronTightNOfTRTHits_BARREL {
      }
      hist electronTightNOfSiHits_BARREL {
      }
      hist electronNOfBLayerHits_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightDeltaEta1_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightDeltaPhi2_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfTRTHits_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfSiHits_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronDeltaEta1_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronDeltaPhi2_BARREL {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightNOfBLayerHits_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightNOfTRTHits_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightNOfSiHits_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightDeltaEta1_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightDeltaPhi2_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronDeltaEta1_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronDeltaPhi2_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfBLayerHits_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfTRTHits_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfSiHits_CRACK {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightNOfBLayerHits_ENDCAP {
      }
      hist electronTightNOfTRTHits_ENDCAP {
      }
      hist electronTightNOfSiHits_ENDCAP {
      }
      hist electronTightDeltaEta1_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronTightDeltaPhi2_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronDeltaEta1_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronDeltaPhi2_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfBLayerHits_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfTRTHits_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
      hist electronNOfSiHits_ENDCAP {
       output = egamma/electrons/EXPERT_Track
      }
 }

dir egamma/photons {
     algorithm = egKolmogorov
     output = egamma/photons
      hist photonN {
       algorithm = egamma_Histogram_Not_Empty
      }
      hist photonTightN {
       algorithm = egamma_Histogram_Not_Empty
      }
      hist photonEt {
      }
      hist photonTightEt {
      }
      hist photonPhi {
      }
      hist photonTightPhi {
      }
      hist photonEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist photonTightEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist photonN_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonEt_BARREL {
      }
      hist photonEta_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonPhi_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonTightN_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonTightEt_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonTightEta_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonTightPhi_BARREL {
       output = egamma/photons/EXPERT
      }
      hist photonN_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonEt_CRACK {
      }
      hist photonEta_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonPhi_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonTightN_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonTightEt_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonTightEta_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonTightPhi_CRACK {
       output = egamma/photons/EXPERT
      }
      hist photonN_ENDCAP {
       output = egamma/photons/EXPERT
      }
      hist photonEt_ENDCAP {
      }
      hist photonEta_ENDCAP {
       output = egamma/photons/EXPERT
      }
      hist photonPhi_ENDCAP {
       output = egamma/photons/EXPERT
      }
      hist photonTightN_ENDCAP {
       output = egamma/photons/EXPERT
      }
      hist photonTightEt_ENDCAP {
       output = egamma/photons/EXPERT
      }
      hist photonTightEta_ENDCAP {
       output = egamma/photons/EXPERT
      }
      hist photonTightPhi_ENDCAP {
       output = egamma/photons/EXPERT
      }
}

dir egamma/photons/ID {
     algorithm = egKolmogorov
     output = egamma/photons/ID
      hist photonEhad1_BARREL {
      }
      hist photonCoreEM_BARREL {
      }
      hist photonF1_BARREL {
      }
      hist photonF2_BARREL {
      }
      hist photonF3_BARREL {
      }
      hist photonRe233e237_BARREL {
      }
      hist photonRe237e277_BARREL {
      }
      hist photonEhad1_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonCoreEM_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonF1_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonF2_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonF3_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonRe233e237_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonRe237e277_CRACK {
       output = egamma/photons/EXPERT_ID
      }
      hist photonEhad1_ENDCAP {
      }
      hist photonCoreEM_ENDCAP {
      }
      hist photonF1_ENDCAP {
      }
      hist photonF2_ENDCAP {
      }
      hist photonF3_ENDCAP {
      }
      hist photonRe233e237_ENDCAP {
      }
      hist photonRe237e277_ENDCAP {
      }
}

dir egamma/photons/Track {
     algorithm = egKolmogorov
     output = egamma/photons/Track
      hist photonConvTrkMatch1_BARREL {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvTrkMatch2_BARREL {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvType_BARREL {
       output = egamma/photons/EXPERT_Track
      }
      hist photonNOfTRTHits_BARREL {
       output = egamma/photons/EXPERT_Track
      } 
      hist photonTightConvTrkMatch1_BARREL {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightConvTrkMatch2_BARREL {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightConvType_BARREL {
      }
      hist photonTightNOfTRTHits_BARREL {
      }
      hist photonConvTrkMatch1_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvTrkMatch2_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvType_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonNOfTRTHits_CRACK {
       output = egamma/photons/EXPERT_Track
      } 
      hist photonTightConvTrkMatch1_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightConvTrkMatch2_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightConvType_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightNOfTRTHits_CRACK {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvTrkMatch1_ENDCAP {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvTrkMatch2_ENDCAP {
       output = egamma/photons/EXPERT_Track
      }
      hist photonConvType_ENDCAP {
       output = egamma/photons/EXPERT_Track
      }
      hist photonNOfTRTHits_ENDCAP {
       output = egamma/photons/EXPERT_Track
      } 
      hist photonTightConvTrkMatch1_ENDCAP {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightConvTrkMatch2_ENDCAP {
       output = egamma/photons/EXPERT_Track
      }
      hist photonTightConvType_ENDCAP {
      }
      hist photonTightNOfTRTHits_ENDCAP {
      }
 }

dir egamma/forwardElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons
      hist forwardElectronN {
       algorithm = egamma_Histogram_Not_Empty
      }
      hist forwardElectronTightN {
       algorithm = egamma_Histogram_Not_Empty
      }
      hist forwardElectronEt {
      }
      hist forwardElectronTightEt {
      }
      hist forwardElectronPhi {
      }
      hist forwardElectronTightPhi {
      }
      hist forwardElectronEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist forwardElectronTightEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist forwardElectronN_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronEt_ENDCAP {
      }
      hist forwardElectronEta_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronPhi_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightN_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightEt_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightEta_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightPhi_ENDCAP {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronN_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronEt_FORWARD {
      }
      hist forwardElectronEta_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronPhi_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightN_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightEt_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightEta_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
      hist forwardElectronTightPhi_FORWARD {
       output = egamma/forwardElectrons/EXPERT
      }
}

dir egamma/forwardElectrons/ID {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/ID
      hist forwardElectronENG_DENS_ENDCAP {
      }
      hist forwardElectronFRAC_MAX_ENDCAP {
      }
      hist forwardElectronLONGITUDINAL_ENDCAP {
      }
      hist forwardElectron2ND_LAMBDA_ENDCAP {
      }
      hist forwardElectronLATERAL_ENDCAP {
      }
      hist forwardElectron2ND_R_ENDCAP {
      }
      hist forwardElectronCENTER_LAMBDA_ENDCAP {
      }
      hist forwardElectronENG_DENS_FORWARD {
      }
      hist forwardElectronFRAC_MAX_FORWARD {
      }
      hist forwardElectronLONGITUDINAL_FORWARD {
      }
      hist forwardElectron2ND_LAMBDA_FORWARD {
      }
      hist forwardElectronLATERAL_FORWARD {
      }
      hist forwardElectron2ND_R_FORWARD {
      }
      hist forwardElectronCENTER_LAMBDA_FORWARD {
      }
}

dir egamma/tagandprobe {
     algorithm = egKolmogorov
     output = egamma/ZeeTagAndProbe
     hist electronTagAndProbeMass_BARREL {
     }
     hist electronTagAndProbeMass_ENDCAP {
     }
     hist electronTagAndProbeIDvsEt {
     }
     hist electronTagAndProbeIDvsEta {
     }
     hist electronTagAndProbeISOvsEt {
     }
     hist electronTagAndProbeISOvsEta {
     }
     hist electronTagAndProbeMass_CRACK {
      output = egamma/ZeeTagAndProbe/EXPERT
     }
     hist electronTagAndProbeN {
      output = egamma/ZeeTagAndProbe/EXPERT
     }
     hist electronTagAndProbeEt {
      output = egamma/ZeeTagAndProbe/EXPERT
     }
     hist electronTagAndProbeEta {
      output = egamma/ZeeTagAndProbe/EXPERT
     }
     hist electronTagAndProbePhi {
      output = egamma/ZeeTagAndProbe/EXPERT
     }
     hist electronTagAndProbeEtaPhi {
      output = egamma/ZeeTagAndProbe/EXPERT
     }
}

dir egamma/tagandprobe/ID {
     algorithm = egKolmogorov
     output = egamma/ZeeTagAndProbe/ID
      hist electronTagAndProbeEhad1_BARREL {
      }
      hist electronTagAndProbeEoverP_BARREL {
      }
      hist electronTagAndProbeCoreEM_BARREL {
      }
      hist electronTagAndProbeF1_BARREL {
      }
      hist electronTagAndProbeF2_BARREL {
      }
      hist electronTagAndProbeF3_BARREL {
      }
      hist electronTagAndProbeRe233e237_BARREL {
      }
      hist electronTagAndProbeRe237e277_BARREL {
      }
      hist electronTagAndProbeEhad1_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeEoverP_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeCoreEM_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeF1_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeF2_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeF3_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeRe233e237_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeRe237e277_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_ID
      }
      hist electronTagAndProbeEhad1_ENDCAP {
      }
      hist electronTagAndProbeEoverP_ENDCAP {
      }
      hist electronTagAndProbeCoreEM_ENDCAP {
      }
      hist electronTagAndProbeF1_ENDCAP {
      }
      hist electronTagAndProbeF2_ENDCAP {
      }
      hist electronTagAndProbeF3_ENDCAP {
      }
      hist electronTagAndProbeRe233e237_ENDCAP {
      }
      hist electronTagAndProbeRe237e277_ENDCAP {
      }
}

dir egamma/tagandprobe/Track {
     algorithm = egKolmogorov
     output = egamma/ZeeTagAndProbe/Track
      hist electronTagAndProbeNOfBLayerHits_BARREL {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfTRTHits_BARREL {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfSiHits_BARREL {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeDeltaEta1_BARREL {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeDeltaPhi2_BARREL {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeDeltaEta1_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeDeltaPhi2_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfBLayerHits_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfTRTHits_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfSiHits_CRACK {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeDeltaEta1_ENDCAP {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeDeltaPhi2_ENDCAP {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfBLayerHits_ENDCAP {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfTRTHits_ENDCAP {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
      hist electronTagAndProbeNOfSiHits_ENDCAP {
       output = egamma/ZeeTagAndProbe/EXPERT_Track
      }
 }
