# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

############################################################
# e,gamma
############################################################

####################
# Thresholds
####################
thresholds egKolmogorovThr {
        limits MaxDist {
           warning = 0.7
           error = 0.9
       }
}

####################
# Common Algorithms
####################

algorithm egKolmogorov {
	        libname = libdqm_algorithms.so
	        name = KolmogorovTest_MaxDist
	        reference = CentrallyManagedReferences 
	        thresholds = egKolmogorovThr
	        MinStat = 20
}

#############
# Output
#############
output top_level {
 algorithm = WorstCaseSummary
 output egamma {
     
    output EIDB {
	output SWClusterMonitor {
	}
	output ElectronContainerMonitor {
	 output all {
	 }
	 output loose {
	 }
         output medium {
         }
	 output tight {
	 }	 	 
	}
    }


    output EIDC {
 
	output SWClusterMonitor {
        }
	output ElectronContainerMonitor {
	 output all {
	 }
	 output loose {
	 }
         output medium {
         }
	 output tight {
	 }	
	}	
    }



    output EIDE {
       
	output SWClusterMonitor {
        }
	output ElectronContainerMonitor {
	 output all {
	 }
	 output loose {
	 }
         output medium {
         }
	 output tight {
	 }	
	}	
    }


   output PHOB {
	output PhotonContainerMonitor {
	 output all {
	 }
         output loose {
         }
	 output tight {
	 }	
	}	
    }



   output PHOC {
	
	output PhotonContainerMonitor {
	 output all {
	 }
         output loose {
         }
	 output tight {
	 }	
	}
    }



   output PHOE {
	
	output PhotonContainerMonitor {
	 output all {
	 }
         output loose {
         }
	 output tight {
	 }	
	}		
    }
    
      
    output Forward {
	output ElectronContainerMonitor {
	output all {
		}	    
	output loose {
		}
	output tight {
		}
	}
    } 

    output softEIDB {
	output ElectronContainerMonitor {
        output all {
	    }
	output loose {
		}	
	output tight {
		}
	}
    }

    output softEIDC {
	output ElectronContainerMonitor {
        output all {
	    }
	output loose {
		}	
	output tight {
		}
 	}
    }

    
    output softEIDE {
	output ElectronContainerMonitor {
        output all {
	    }
	output loose {
		}	
	output tight {
		}
	}
    }

 }
}



############################################################
# egamma
############################################################

#######################
# Histogram Assessments
#######################
  dir egamma {
  reference = CentrallyManagedReferences
  algorithm = egKolmogorov 


	dir EIDB {
        output =  egamma/EIDB

        
	  dir CluMonitor {
                 output =  egamma/EIDB/SWClusterMonitor
                 hist hClusterEta {
                        }
		 hist hClusterPhi {
			}
		 hist hCluster_CheckDeposit_Eta {
			}
		 hist hCluster_CheckDeposit_Phi {
			}
		 hist hCluster_HasTrack_Eta {
			}
		 hist hCluster_HasTrack_Phi {
			}	
                }
          dir all {
                 dir Generic {	  
		 output = egamma/EIDB/ElectronContainerMonitor/all
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
                 hist hHottestCellE {
		 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }	
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir loose {
                 dir Generic {	  
		 output = egamma/EIDB/ElectronContainerMonitor/loose
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir medium {
                 dir Generic {	  
		 output = egamma/EIDB/ElectronContainerMonitor/medium
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir tight {
                 dir Generic {	  
		 output = egamma/EIDB/ElectronContainerMonitor/tight
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
 	}
	dir EIDC {
        output =  egamma/EIDC

        
	  dir CluMonitor {
                 output =  egamma/EIDC/SWClusterMonitor
                 hist hClusterEta {
                        }
                 hist hClusterPhi {
                        }
                 hist hCluster_CheckDeposit_Eta {
                        }
                 hist hCluster_CheckDeposit_Phi {
                        }
                 hist hCluster_HasTrack_Eta {
                        }
                 hist hCluster_HasTrack_Phi {
                        }
                }
          dir all {
                 dir Generic {	  
		 output = egamma/EIDC/ElectronContainerMonitor/all
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir loose {
                 dir Generic {	  
		 output = egamma/EIDC/ElectronContainerMonitor/loose
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir medium {
                 dir Generic {	  
		 output = egamma/EIDC/ElectronContainerMonitor/medium
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir tight {
                 dir Generic {	  
		 output = egamma/EIDC/ElectronContainerMonitor/tight
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
 	}
	dir EIDE {
        output =  egamma/EIDE

        
	  dir CluMonitor {
                 output =  egamma/EIDE/SWClusterMonitor
                 hist hClusterEta {
                        }
                 hist hClusterPhi {
                        }
                 hist hCluster_CheckDeposit_Eta {
                        }
                 hist hCluster_CheckDeposit_Phi {
                        }
                 hist hCluster_HasTrack_Eta {
                        }
                 hist hCluster_HasTrack_Phi {
                        }
                }
          dir all {
                 dir Generic {	  
		 output = egamma/EIDE/ElectronContainerMonitor/all
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir loose {
                 dir Generic {	  
		 output = egamma/EIDE/ElectronContainerMonitor/loose
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir medium {
                 dir Generic {	  
		 output = egamma/EIDE/ElectronContainerMonitor/medium
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir tight {
                 dir Generic {	  
		 output = egamma/EIDE/ElectronContainerMonitor/tight
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }	
                 hist hHottestCellE {
                 }
                 hist hHottestCellEta {
                 }
                 hist hHottestCellPhi {
                 }
                 hist hHottestCellLayer {
                 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfHighTRTHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
 	}





	dir PHOB {

       output = egamma/PHOB

	dir all {
                 dir Generic {	
		 output = egamma/PHOB/PhotonContainerMonitor/all
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
	dir loose {
                 dir Generic {	
		 output = egamma/PHOB/PhotonContainerMonitor/loose
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
	dir tight {
                 dir Generic {	
		 output = egamma/PHOB/PhotonContainerMonitor/tight
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
 	}
	dir PHOC {

       output =  egamma/PHOC

	dir all {
                 dir Generic {	
		 output = egamma/PHOC/PhotonContainerMonitor/all
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
	dir loose {
                 dir Generic {	
		 output = egamma/PHOC/PhotonContainerMonitor/loose
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
	dir tight {
                 dir Generic {	
		 output = egamma/PHOC/PhotonContainerMonitor/tight
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
 	}
	dir PHOE {

       output =  egamma/PHOE

	dir all {
                 dir Generic {	
		 output = egamma/PHOE/PhotonContainerMonitor/all
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
	dir loose {
                 dir Generic {	
		 output = egamma/PHOE/PhotonContainerMonitor/loose
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
	dir tight {
                 dir Generic {	
		 output = egamma/PHOE/PhotonContainerMonitor/tight
                 hist hClusterEta {
                 }
                 hist hClusterPhi {
                 }
                 hist hF1 {
                 }
                 hist hF2 {
                 }
                 hist hF3 {
                 }
                 hist hCoreEM {
                 }
                 hist hRe233e237 {
                 }
                 hist hRe237e277 {
                 }
		

                 }
		}  
 	}

	dir Forward {
	   dir all {
		dir Generic {
			output = egamma/Forward/ElectronContainerMonitor/all	
                hist hClusterEt {
	        }
                hist hClusterPhi {
                }
		hist hClusterEta {
	        }
		hist hHighEtRanges {
	        }
		hist h_center_lambda {
	        }
		hist h_energy_density {
	        }
		hist h_frac_max {
	 	}
		hist h_lateral {
	        }
		hist h_longitudinal {
	        }
		hist h_second_lambda {
	        }
		hist h_second_r {
	        } 														      
		}	   
    	   }	


	   dir loose {
		dir Generic {
			output = egamma/Forward/ElectronContainerMonitor/loose
                hist hClusterEt {
                }
                hist hClusterPhi {
                }
                hist hClusterEta {
                }
                hist hHighEtRanges {
                }
                hist h_center_lambda {
                }
                hist h_energy_density {
                }
                hist h_frac_max {
                }
                hist h_lateral {
                }
                hist h_longitudinal {
                }
                hist h_second_lambda {
                }
                hist h_second_r {
                }
		}	   
    	   }	


	   dir tight {
		dir Generic {
			output = egamma/Forward/ElectronContainerMonitor/tight
                hist hClusterEt {
                }
                hist hClusterPhi {
                }
                hist hClusterEta {
                }
                hist hHighEtRanges {
                }
                hist h_center_lambda {
                }
                hist h_energy_density {
                }
                hist h_frac_max {
                }
                hist h_lateral {
                }
                hist h_longitudinal {
                }
                hist h_second_lambda {
                }
                hist h_second_r {
                }
		}	   
    	   }	
	}



 	dir softEIDB {

          dir all {
                 dir Generic {	  
		 output = egamma/softEIDB/ElectronContainerMonitor/all
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
		 }	
		}
		
		
			
          dir loose {
                 dir Generic {	  
		 output = egamma/softEIDB/ElectronContainerMonitor/loose
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir tight {
                 dir Generic {	  
		 output = egamma/softEIDB/ElectronContainerMonitor/tight
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
		
	}


 	dir softEIDC {

          dir all {
                 dir Generic {	  
		 output = egamma/softEIDC/ElectronContainerMonitor/all
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
		
		
			
          dir loose {
                 dir Generic {	  
		 output = egamma/softEIDC/ElectronContainerMonitor/loose
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir tight {
                 dir Generic {	  
		 output = egamma/softEIDC/ElectronContainerMonitor/tight
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
		
	}
 	dir softEIDE {

          dir all {
                 dir Generic {	  
		 output = egamma/softEIDE/ElectronContainerMonitor/all
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
		
		
			
          dir loose {
                 dir Generic {	  
		 output = egamma/softEIDE/ElectronContainerMonitor/loose
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
          dir tight {
                 dir Generic {	  
		 output = egamma/softEIDE/ElectronContainerMonitor/tight
		 hist hClusterEt {
		 }	
		 hist hClusterPhi {
		 }	
		 hist hClusterEta {
		 }	
		 hist hF1 {
		 }	
		 hist hF2 {
		 }	
		 hist hF3 {
		 }	
		 hist hEhad1 {
		 }	
		 hist hRe233e237 {
		 }	
		 hist hRe237e277 {
		 }	
		 hist hEoverP {
		 }	
		 hist hDeltaEta1 {
		 }	
		 hist hDeltaPhi2 {
		 }	
		 hist hCoreEM {
		 }
		 hist hNOfBLayerHits {
 		 }
		 hist hNOfTrackSiHits {
 		 }
 		 

		 }	
		}
		
	}
  }
