# **********************************************************************
# $Id: cosmics_run.config 687745 2015-08-05 18:02:03Z laforge $
# **********************************************************************

############################################################
# e,gamma
############################################################

# #############
# Reference
# #############

reference EgammaReference {
# file = root://eosatlas.cern.ch//eos/atlas/user/l/laforge/DQEgamma/DQRefs/AOD.270953.Express.HIST.root
# file = /afs/cern.ch/work/l/laforge/public/Datasets/DQHistRefs/total-run270953.HIST.root  
# file = root://eosatlas.cern.ch//eos/atlas/user/l/laforge/DQEgamma/DQRefs/total-run270953.HIST.root
# file = /afs/cern.ch/work/l/laforge/public/Datasets/DQHistRefs/AOD.0270953._000001.HIST.root
# path = run_270953

# file = /afs/cern.ch/work/l/laforge/public/Datasets/DQHistRefs/AOD.271595.express-total.HIST.root
# path = run_271595

# file = /afs/cern.ch/work/l/laforge/public/DQegamma/MyTestArea/AOD.271595.express.merge.HIST.f611_m1463._000001.1.root
# path = run_271595

# file = root://eosatlas.cern.ch//eos/atlas/user/l/laforge/DQEgamma/DQRefs/AOD.271298.Physics_Main.merge.HIST.f611_m1463.triggerOff.1.root
# path = run_271298

 name = same_name
}

####################
# Thresholds
####################
thresholds egKolmogorovThr {
    limits MaxDist {
        warning = 0.05
        error = 0.15
    }
}

thresholds egamma_BinsDiffFromStripMedian_threshold {
  limits MaxDeviation {
    warning = 25
    error = 200
  }
}

thresholds egamma_FitZmass_Thresholds {
 limits Sigma {
  warning = 4000.0
  error = 10000.0
 }
}


####################
# Common Algorithms
####################

algorithm egamma_BinsDiffFromStripMedian {
  libname = libdqm_algorithms.so
  SuppressFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = egamma_BinsDiffFromStripMedian_threshold
}

algorithm egKolmogorov {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  reference = CentrallyManagedReferences
#  reference = EgammaReference	
#  reference = CentrallyManagedReferences_Egamma
  thresholds = egKolmogorovThr
  MinStat = 20
}

algorithm egKolmogorovProb {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  reference = CentrallyManagedReferences
#  reference = EgammaReference	
#  reference = CentrallyManagedReferences_Egamma
  thresholds = egKolmogorovThr
  MinStat = 20
}

algorithm egamma_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

algorithm egamma_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

algorithm egamma_FitZmass {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  xmin = 80000.
  xmax = 10000. 
  thresholds = egamma_FitZmass_Thresholds
}



#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary
  output egamma {
   algorithm = WorstCaseSummary
   output photons { 
    algorithm = WorstCaseSummary
    output EXPERT { 
    algorithm = WorstCaseSummary
    }
    output ID {
    algorithm = WorstCaseSummary
    }
    output LBMon {
    algorithm = WorstCaseSummary
    }
   }
   output electrons {
    algorithm = WorstCaseSummary
    output EXPERT {
    algorithm = WorstCaseSummary  
    }
    output ID {
    algorithm = WorstCaseSummary
    }
    output Track {
    algorithm = WorstCaseSummary
    }
    output LBMon {
    algorithm = WorstCaseSummary
    }
   }
   output forwardElectrons {
    algorithm = WorstCaseSummary
    output ID {
    algorithm = WorstCaseSummary
    }
    output EXPERT {
    algorithm = WorstCaseSummary
    }
   }
 }
}

#######################
# Histogram Assessments
#######################

 dir egamma/electrons {
      algorithm = egKolmogorov
      output = top_level/egamma/electrons
      display = Draw=e1, DrawRef=HIST, StatBox

      # LhMedium
      hist electronNLhMedium {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1, StatBox, LogY
      }
      hist electronEtLhMedium {
      } 
      hist electronPhiLhMedium {
      } 
      hist electronEtaLhMedium {
      } 
      hist electronEtaPhiLhMedium {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist electronPtCone20LhMedium {
      } 
      hist electronTopoEtCone40LhMedium {
      } 
      hist electronTimeLhMedium {
      } 
      hist electronNLhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      } 
      hist electronEtLhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      } 
      hist electronEtaLhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiLhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20LhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40LhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeLhMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNLhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtLhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaLhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiLhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }      
      hist electronPtCone20LhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40LhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeLhMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNLhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtLhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaLhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiLhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20LhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40LhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeLhMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }

      # CbMedium
      hist electronNCbMedium {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1, StatBox, LogY
      }
      hist electronEtCbMedium {
      }
      hist electronPhiCbMedium {
      }
      hist electronEtaCbMedium {
      }
      hist electronEtaPhiCbMedium {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist electronPtCone20CbMedium {
      }
      hist electronTopoEtCone40CbMedium {
      }
      hist electronTimeCbMedium {
      }
      hist electronNCbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtCbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaCbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiCbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20CbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40CbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeCbMedium_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNCbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtCbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaCbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiCbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }      
      hist electronPtCone20CbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40CbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeCbMedium_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNCbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtCbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaCbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiCbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20CbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40CbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeCbMedium_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }

      # LhTight
      hist electronNLhTight {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1, StatBox, LogY
      }
      hist electronEtLhTight {
      }
      hist electronPhiLhTight {
      }
      hist electronEtaLhTight {
      }
      hist electronEtaPhiLhTight {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist electronPtCone20LhTight {
      }
      hist electronTopoEtCone40LhTight {
      }
      hist electronTimeLhTight {
      }
      hist electronNLhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtLhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaLhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiLhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20LhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40LhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeLhTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNLhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1, DrawRef=HIST, StatBox, LogY
      }
      hist electronEtLhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaLhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiLhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }      
      hist electronPtCone20LhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40LhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeLhTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNLhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtLhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaLhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiLhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20LhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40LhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeLhTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }

      # CbTight
      hist electronNCbTight {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1, StatBox, LogY
      }
      hist electronEtCbTight {
      }
      hist electronPhiCbTight {
      }
      hist electronEtaCbTight {
      }
      hist electronEtaPhiCbTight {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist electronPtCone20CbTight {
      }
      hist electronTopoEtCone40CbTight {
      }
      hist electronTimeCbTight {
      }
      hist electronNCbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1,StatBox,LogY
      }
      hist electronEtCbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaCbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiCbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20CbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40CbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeCbTight_BARREL {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNCbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1,DrawRef=HIST,StatBox,LogY
      }
      hist electronEtCbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaCbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiCbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }      
      hist electronPtCone20CbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40CbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeCbTight_CRACK {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronNCbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
       display = Draw=e1,DrawRef=HIST,StatBox,LogY
      }
      hist electronEtCbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronEtaCbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPhiCbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronPtCone20CbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTopoEtCone40CbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }
      hist electronTimeCbTight_ENDCAP {
       output = top_level/egamma/electrons/EXPERT
      }

}

 dir egamma/electrons/ID {
     algorithm = egKolmogorov
     output = top_level/egamma/electrons/ID
     display = Draw=e1,StatBox

     # LhMedium
      hist electronEhad1LhMedium_BARREL {
      }
      hist electronEoverPLhMedium_BARREL {
      }
      hist electronCoreEMLhMedium_BARREL {
      }
      hist electronF1LhMedium_BARREL {
      }
      hist electronF2LhMedium_BARREL {
      }
      hist electronF3LhMedium_BARREL {
      }
      hist electronRe233e237LhMedium_BARREL {
      }
      hist electronRe237e277LhMedium_BARREL {
      }
      hist electronEhad1LhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPLhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMLhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1LhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2LhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3LhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237LhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277LhMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEhad1LhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPLhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMLhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1LhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2LhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3LhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237LhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277LhMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }

     # CbMedium
      hist electronEhad1CbMedium_BARREL {
      }
      hist electronEoverPCbMedium_BARREL {
      }
      hist electronCoreEMCbMedium_BARREL {
      }
      hist electronF1CbMedium_BARREL {
      }
      hist electronF2CbMedium_BARREL {
      }
      hist electronF3CbMedium_BARREL {
      }
      hist electronRe233e237CbMedium_BARREL {
      }
      hist electronRe237e277CbMedium_BARREL {
      }
      hist electronEhad1CbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPCbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMCbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1CbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2CbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3CbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237CbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277CbMedium_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEhad1CbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPCbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMCbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1CbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2CbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3CbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237CbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277CbMedium_ENDCAP {
       output = top_level/egamma/electrons/ID
      }

     # LhTight
      hist electronEhad1LhTight_BARREL {
      }
      hist electronEoverPLhTight_BARREL {
      }
      hist electronCoreEMLhTight_BARREL {
      }
      hist electronF1LhTight_BARREL {
      }
      hist electronF2LhTight_BARREL {
      }
      hist electronF3LhTight_BARREL {
      }
      hist electronRe233e237LhTight_BARREL {
      }
      hist electronRe237e277LhTight_BARREL {
      }
      hist electronEhad1LhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPLhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMLhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1LhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2LhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3LhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237LhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277LhTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEhad1LhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPLhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMLhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1LhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2LhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3LhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237LhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277LhTight_ENDCAP {
       output = top_level/egamma/electrons/ID
      }

     # CbTight

      hist electronEhad1CbTight_BARREL {
      }
      hist electronEoverPCbTight_BARREL {
      }
      hist electronCoreEMCbTight_BARREL {
      }
      hist electronF1CbTight_BARREL {
      }
      hist electronF2CbTight_BARREL {
      }
      hist electronF3CbTight_BARREL {
      }
      hist electronRe233e237CbTight_BARREL {
      }
      hist electronRe237e277CbTight_BARREL {
      }
      hist electronEhad1CbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEoverPCbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronCoreEMCbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF1CbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF2CbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronF3CbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe233e237CbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronRe237e277CbTight_CRACK {
       output = top_level/egamma/electrons/ID
      }
      hist electronEhad1CbTight_ENDCAP {
      }
      hist electronEoverPCbTight_ENDCAP {
      }
      hist electronCoreEMCbTight_ENDCAP {
      }
      hist electronF1CbTight_ENDCAP {
      }
      hist electronF2CbTight_ENDCAP {
      }
      hist electronF3CbTight_ENDCAP {
      }
      hist electronRe233e237CbTight_ENDCAP {
      }
      hist electronRe237e277CbTight_ENDCAP {
      }

}

 dir egamma/electrons/Track {
     algorithm = egKolmogorov
     output = top_level/egamma/electrons/Track
     display = Draw=e1,StatBox

     # LhMedium
      hist electronNOfBLayersHitsLhMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsLhMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsLhMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1LhMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2LhMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1LhMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2LhMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsLhMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsLhMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsLhMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1LhMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2LhMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsLhMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsLhMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsLhMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }

     # CbMedium
      hist electronNOfBLayersHitsCbMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsCbMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsCbMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1CbMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2CbMedium_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1CbMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2CbMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsCbMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsCbMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsCbMedium_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1CbMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2CbMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsCbMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsCbMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsCbMedium_ENDCAP {
       output = top_level/egamma/electrons/Track
      }

     # LhTight
      hist electronNOfBLayersHitsLhTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsLhTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsLhTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1LhTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2LhTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1LhTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2LhTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsLhTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsLhTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsLhTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1LhTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2LhTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsLhTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsLhTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsLhTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }

     # CbTight
      hist electronNOfBLayersHitsCbTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsCbTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsCbTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1CbTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2CbTight_BARREL {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1CbTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2CbTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsCbTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsCbTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsCbTight_CRACK {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaEta1CbTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronDeltaPhi2CbTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfBLayersHitsCbTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfTRTHitsCbTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }
      hist electronNOfSiHitsCbTight_ENDCAP {
       output = top_level/egamma/electrons/Track
      }

 }

 dir egamma/electrons/LBMon {
     algorithm = egamma_GatherData
     output = top_level/egamma/electrons/LBMon
     display = Draw=e1,StatBox
      # CbLoose
      hist LBEvoNElectronsLhMedium {
      }
      hist LBEvoNElectronsCbMedium {
      }
      hist LBEvoNElectronsLhTight {
      }
      hist LBEvoNElectronsCbTight {
      }
}




 dir egamma/photons {
     algorithm = egKolmogorov
     output = top_level/egamma/photons
     display = Draw=e1,StatBox

      # CbLoose
      hist photonNCbLoose {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbLoose {
      }
      hist photonPhiCbLoose {
      }
      hist photonEtaPhiCbLoose {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist photonPtCone20CbLoose {
      }
      hist photonTopoEtCone40CbLoose {
      }
      hist photonTimeCbLoose {
      }
      hist photonRconvCbLoose {
      }

      # CbTight
      hist photonNCbTight {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbTight {
      }
      hist photonPhiCbTight {
      }
      hist photonEtaPhiCbTight {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist photonPtCone20CbTight {
      }
      hist photonTopoEtCone40CbTight {
      }
      hist photonTimeCbTight {
      }
      hist photonRconvCbTight {
      }

}

 dir egamma/photons/Region {
      algorithm = egKolmogorov
      output = top_level/egamma/photons/EXPERT
      display = Draw=e1,StatBox

      # CbLoose
      hist photonNCbLoose_BARREL {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbLoose_BARREL {
      }
      hist photonEtaCbLoose_BARREL {
      }
      hist photonPhiCbLoose_BARREL {
      }
      hist photonPtCone20CbLoose_BARREL {
      }
      hist photonTopoEtCone40CbLoose_BARREL {
      }
      hist photonNCbLoose_CRACK {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbLoose_CRACK {
      }
      hist photonEtaCbLoose_CRACK {
      }
      hist photonPhiCbLoose_CRACK {
      }
      hist photonPtCone20CbLoose_CRACK {
      }
      hist photonTopoEtCone40CbLoose_CRACK {
      }
      hist photonNCbLoose_ENDCAP {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbLoose_ENDCAP {
      }
      hist photonEtaCbLoose_ENDCAP {
      }
      hist photonPhiCbLoose_ENDCAP {
      }
      hist photonPtCone20CbLoose_ENDCAP {
      }
      hist photonTopoEtCone40CbLoose_ENDCAP {
      }

      # CbTight
      hist photonNCbTight_BARREL {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbTight_BARREL {
      }
      hist photonEtaCbTight_BARREL {
      }
      hist photonPhiCbTight_BARREL {
      }
      hist photonPtCone20CbTight_BARREL {
      }
      hist photonTopoEtCone40CbTight_BARREL {
      }
      hist photonNCbTight_CRACK {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbTight_CRACK {
      }
      hist photonEtaCbTight_CRACK {
      }
      hist photonPhiCbTight_CRACK {
      }
      hist photonPtCone20CbTight_CRACK {
      }
      hist photonTopoEtCone40CbTight_CRACK {
      }
      hist photonNCbTight_ENDCAP {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist photonEtCbTight_ENDCAP {
      }
      hist photonEtaCbTight_ENDCAP {
      }
      hist photonPhiCbTight_ENDCAP {
      }
      hist photonPtCone20CbTight_ENDCAP {
      }
      hist photonTopoEtCone40CbTight_ENDCAP {
      }
}

 dir egamma/photons/Unconv {
     algorithm = egKolmogorov
     output = top_level/egamma/photons
     display = Draw=e1,StatBox

     #CbLoose
     hist photonNUnconvCbLoose {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }
     hist photonEtUnconvCbLoose {
     }
     hist photonEtaUnconvCbLoose {
     }
     hist photonPhiUnconvCbLoose {
     }
     hist photonEtaPhiUnconvCbLoose {
      algorithm = egamma_BinsDiffFromStripMedian
     }
     hist photonTopoEtCone40UnconvCbLoose {
     }
     hist photonPtCone20UnconvCbLoose {
     }

     #CbTight
     hist photonNUnconvCbTight {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }
     hist photonEtUnconvCbTight {
     }
     hist photonEtaUnconvCbTight {
     }
     hist photonPhiUnconvCbTight {
     }
     hist photonEtaPhiUnconvCbTight {
      algorithm = egamma_BinsDiffFromStripMedian
     }
     hist photonTopoEtCone40UnconvCbTight {
     }
     hist photonPtCone20UnconvCbTight {
     }

}


 dir egamma/photons/Conv {
     algorithm = egKolmogorov
     output = top_level/egamma/photons
     display = Draw=e1,StatBox

     #CbLoose
     hist photonNConvCbLoose {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }
     hist photonEtConvCbLoose {
     }
     hist photonEtaConvCbLoose {
     }
     hist photonPhiConvCbLoose {
     }
     hist photonEtaPhiConvCbLoose {
      algorithm = egamma_BinsDiffFromStripMedian
     }
     hist photonTopoEtCone40ConvCbLoose {
     }
     hist photonPtCone20ConvCbLoose {
     }
     #CbTight
     hist photonNConvCbTight {
     }
     hist photonEtConvCbTight {
     }
     hist photonEtaConvCbTight {
     }
     hist photonPhiConvCbTight {
     }
     hist photonEtaPhiConvCbTight {
      algorithm = egamma_BinsDiffFromStripMedian
     }
     hist photonTopoEtCone40ConvCbTight {
     }
     hist photonPtCone20ConvCbTight {
     }
}

 dir egamma/photons/ID {
     algorithm = egKolmogorov
     output = top_level/egamma/photons/ID
     display = Draw=e1,StatBox

      #CbLoose
      hist photonEhad1CbLoose_BARREL {
      }
      hist photonCoreEMCbLoose_BARREL {
      }
      hist photonF1CbLoose_BARREL {
      }
      hist photonF2CbLoose_BARREL {
      }
      hist photonF3CbLoose_BARREL {
      }
      hist photonRe233e237CbLoose_BARREL {
      }
      hist photonRe237e277CbLoose_BARREL {
      }
      hist photonEhad1CbLoose_CRACK {
      }
      hist photonCoreEMCbLoose_CRACK {
      }
      hist photonF1CbLoose_CRACK {
      }
      hist photonF2CbLoose_CRACK {
      }
      hist photonF3CbLoose_CRACK {
      }
      hist photonRe233e237CbLoose_CRACK {
      }
      hist photonRe237e277CbLoose_CRACK {
      }
      hist photonEhad1CbLoose_ENDCAP {
      }
      hist photonCoreEMCbLoose_ENDCAP {
      }
      hist photonF1CbLoose_ENDCAP {
      }
      hist photonF2CbLoose_ENDCAP {
      }
      hist photonF3CbLoose_ENDCAP {
      }
      hist photonRe233e237CbLoose_ENDCAP {
      }
      hist photonRe237e277CbLoose_ENDCAP {
      }
      #CbTight
      hist photonEhad1CbTight_BARREL {
      }
      hist photonCoreEMCbTight_BARREL {
      }
      hist photonF1CbTight_BARREL {
      }
      hist photonF2CbTight_BARREL {
      }
      hist photonF3CbTight_BARREL {
      }
      hist photonRe233e237CbTight_BARREL {
      }
      hist photonRe237e277CbTight_BARREL {
      }
      hist photonEhad1CbTight_CRACK {
      }
      hist photonCoreEMCbTight_CRACK {
      }
      hist photonF1CbTight_CRACK {
      }
      hist photonF2CbTight_CRACK {
      }
      hist photonF3CbTight_CRACK {
      }
      hist photonRe233e237CbTight_CRACK {
      }
      hist photonRe237e277CbTight_CRACK {
      }
      hist photonEhad1CbTight_ENDCAP {
      }
      hist photonCoreEMCbTight_ENDCAP {
      }
      hist photonF1CbTight_ENDCAP {
      }
      hist photonF2CbTight_ENDCAP {
      }
      hist photonF3CbTight_ENDCAP {
      }
      hist photonRe233e237CbTight_ENDCAP {
      }
      hist photonRe237e277CbTight_ENDCAP {
      }
}

 dir egamma/photons/Region {
     algorithm = egKolmogorov
     output = top_level/egamma/photons/EXPERT
     display = Draw=e1,StatBox

      # CbLoose
      hist photonConvTrkMatch1CbLoose_BARREL {
      }
      hist photonConvTrkMatch2CbLoose_BARREL {
      }
      hist photonConvTypeCbLoose_BARREL {
      }
      hist photonConvTrkMatch1CbLoose_CRACK {
      }
      hist photonConvTrkMatch2CbLoose_CRACK {
      }
      hist photonConvTypeCbLoose_CRACK {
      }
      hist photonConvTrkMatch1CbLoose_ENDCAP {
      }
      hist photonConvTrkMatch2CbLoose_ENDCAP {
      }
      hist photonConvTypeCbLoose_ENDCAP {
      }
      # CbTight
      hist photonConvTrkMatch1CbTight_BARREL {
      }
      hist photonConvTrkMatch2CbTight_BARREL {
      }
      hist photonConvTypeCbTight_BARREL {
      }
      hist photonConvTrkMatch1CbTight_CRACK {
      }
      hist photonConvTrkMatch2CbTight_CRACK {
      }
      hist photonConvTypeCbTight_CRACK {
      }
      hist photonConvTrkMatch1CbTight_ENDCAP {
      }
      hist photonConvTrkMatch2CbTight_ENDCAP {
      }
      hist photonConvTypeCbTight_ENDCAP {
      }
 }


 dir egamma/photons/LBMon {
     algorithm = egamma_GatherData
     output = top_level/egamma/photons/LBMon
     display = Draw=e1,StatBox
      # CbLoose
      hist LBEvoNPhotonsCbLoose {
      }
      hist LBEvoNPhotonsUnconvCbLoose {
      }
      hist LBEvoNPhotonsConvCbLoose {
      }
      hist LBEvoConvOverNCbLoose {
      }

      # CbTight
      hist LBEvoNPhotonsCbTight {
      }
      hist LBEvoNPhotonsUnconvCbTight {
      }
      hist LBEvoNPhotonsConvCbTight {
      }
      hist LBEvoConvOverNCbTight {
      }
}

 dir egamma/forwardElectrons {
     algorithm = egKolmogorov
     output = top_level/egamma/forwardElectrons
     display = Draw=e1,StatBox

      hist forwardElectronN {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist forwardElectronEt {
      }
      hist forwardElectronPhi {
      }
      hist forwardElectronEta {
      }
      hist forwardElectronEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist forwardElectronTopoEtCone40 {
      }
      hist forwardElectronTime {
      }

      hist forwardElectronTightN {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist forwardElectronTightEt {
      }
      hist forwardElectronTightPhi {
      }
      hist forwardElectronTightEta {
      }
      hist forwardElectronTightEtaPhi {
       algorithm = egamma_BinsDiffFromStripMedian
      }
      hist forwardElectronTightTopoEtCone40 {
      }
      hist forwardElectronTightTime {
      }

}


 dir egamma/forwardElectrons {
      algorithm = egKolmogorov
      output = top_level/egamma/forwardElectrons/EXPERT
      display = Draw=e1,StatBox

      hist forwardElectronN_ENDCAP {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist forwardElectronEt_ENDCAP {
      }
      hist forwardElectronEta_ENDCAP {
      }
      hist forwardElectronPhi_ENDCAP {
      }
      hist forwardElectronTopoEtCone40_ENDCAP {
      }
      hist forwardElectronTime_ENDCAP {
      }

      hist forwardElectronTightN_ENDCAP {
      }
      hist forwardElectronTightEt_ENDCAP {
      }
      hist forwardElectronTightEta_ENDCAP {
      }
      hist forwardElectronTightPhi_ENDCAP {
      }
      hist forwardElectronTightTopoEtCone40_ENDCAP {
      }

      hist forwardElectronN_FORWARD {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist forwardElectronEt_FORWARD {
      }
      hist forwardElectronEta_FORWARD {
      }
      hist forwardElectronPhi_FORWARD {
      }
      hist forwardElectronTopoEtCone40_FORWARD {
      }
      hist forwardElectronTime_FORWARD {
      }

      hist forwardElectronTightN_FORWARD {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist forwardElectronTightEt_FORWARD {
      }
      hist forwardElectronTightEta_FORWARD {
      }
      hist forwardElectronTightPhi_FORWARD {
      }
      hist forwardElectronTightTopoEtCone40_FORWARD {
      }
}

dir egamma/forwardElectrons/ID {
      algorithm = egKolmogorov
      output = top_level/egamma/forwardElectrons/ID
      hist forwardElectronENG_DENS_ENDCAP {
      }
      hist forwardElectronFRAC_MAX_ENDCAP {
      }
      hist forwardElectronLONGITUDINAL_ENDCAP {
      }
      hist forwardElectron2ND_LAMBDA_ENDCAP {
      }
      hist forwardElectronLATERAL_ENDCAP {
      }
      hist forwardElectron2ND_R_ENDCAP {
      }
      hist forwardElectronCENTER_LAMBDA_ENDCAP {
      }
      hist forwardElectronENG_DENS_FORWARD {
      }
      hist forwardElectronFRAC_MAX_FORWARD {
      }
      hist forwardElectronLONGITUDINAL_FORWARD {
      }
      hist forwardElectron2ND_LAMBDA_FORWARD {
      }
      hist forwardElectronLATERAL_FORWARD {
      }
      hist forwardElectron2ND_R_FORWARD {
      }
      hist forwardElectronCENTER_LAMBDA_FORWARD {
      }
}
