# **********************************************************************
# $Id: collisions_run.config 777627 2016-10-11 10:49:51Z nproklov $
# **********************************************************************

############################################################
# e,gamma
############################################################

# #############
# Reference
# #############

reference EgammaReference {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Other/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Other/
  file = data15_13TeV.00281411.express_express.merge.HIST.r7510.f810.ref.root
  path = run_281411
  name = same_name
}

####################
# Thresholds
####################
thresholds egKolmogorovThr {
    limits MaxDist {
        warning = 0.05
        error = 0.15
    }
}

thresholds egamma_BinsDiffFromStripMedian_threshold {
  limits MaxDeviation {
    warning = 25
    error = 200
  }
}

thresholds egamma_FitZmass_Thresholds {
 limits Sigma {
  warning = 4000.0
  error = 10000.0
 }
}

thresholds egamma_FitJPsimass_Thresholds {
 limits Sigma {
  warning = 4000.0
  error = 10000.0
 }
}


####################
# Common Algorithms
####################

algorithm egamma_BinsDiffFromStripMedian {
  libname = libdqm_algorithms.so
  SuppressFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = egamma_BinsDiffFromStripMedian_threshold
}

algorithm egKolmogorov {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
#  reference = EgammaReference	
#  reference = CentrallyManagedReferences_Egamma
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  thresholds = egKolmogorovThr
  MinStat = 20
}

algorithm egKolmogorovProb {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
#  reference = EgammaReference	
#  reference = CentrallyManagedReferences_Egamma
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  thresholds = egKolmogorovThr
  MinStat = 20
}

algorithm egamma_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

algorithm egamma_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
#  reference = EgammaReference	
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 20
}

algorithm 2D_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
  MinStat = 10
#  reference = EgammaReference	
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm egamma_FitZmass {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  xmin = 80000.
  xmax = 100000. 
  thresholds = egamma_FitZmass_Thresholds
}

algorithm egamma_FitJPsimass {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  xmin = 2500.
  xmax = 3500. 
  thresholds = egamma_FitJPsimass_Thresholds
}

#############
# Output
#############

output top_level {
#  algorithm = WorstCaseSummary
  output egamma {
# Photons
   output photons { 
    output CBLoose {
     output Expert { 
      output ID {
      }
      output LBMon {
      }
     }
   }
   output CBTight {
     output Expert { 
      output ID {
      }
      output LBMon {
      }
     }
    }
   }
   output photonsWithTrigger { 
    output CBLoose {
     output Expert { 
      output ID {
      }
      output LBMon {
      }
     }
    }
    output CBTight {
     output Expert { 
      output ID {
      }
      output LBMon {
      }
     }
    }
   }
  
# Electrons
   output electrons {
    output LHLoose {
     output Expert {
      output ID {
      }
      output Track {
      }
      output LBMon {
      }
     }
    }
    output LHTight {
     output Expert {
      output ID {
      }
      output Track {
      }
      output LBMon {
      }     
     }
    }
   }
   output electronsWithTrigger {
    output LHLoose {
     output Expert {
      output ID {
      }
      output Track {
      }
      output LBMon {
      }
    }
   }
   output LHTight {
    output Expert {
     output ID {
     }
     output Track {
     }
     output LBMon {
     }    
    }
   }
  }

# FwdElectrons
  output forwardElectrons {
   output LHTight {
    output Expert {
    }
   }
   output LHLoose {
    output Expert {
    }
   }
   output CBLoose {
    output Expert {
    }
   }
   output CBTight {
    output Expert {
    }
   }
  }
   
# T&P 
  output tagandprobeZ {
    output ID {
    }
    output Track {
    }
    output LBMon {
    }
   }
   output tagandprobeJPsi {
    output ID {
    }
    output Track {
    }
    output LBMon {
    }
   }
  }
}

#######################
# Histogram Assessments
#######################

##################################
# Electrons
#################################@

# LhLoose

dir egamma/LHLooseElectrons {
      output = egamma/electrons/LHLoose
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist Et { 
      }
      hist Eta { 
      }
      hist Phi { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist TopoEtCone40 { 
      }
      hist PtCone20 { 
      }
      hist Time { 
      }
}

dir egamma/LHLooseElectrons/Expert {
      output = egamma/electrons/LHLoose/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist Eta_Phi_with_Pt_gt_2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist EtainBARREL { 
      }
      hist PhiinBARREL { 
      }
      hist TimeinBARREL { 
      }
      hist EtainCRACK { 
      }
      hist PhiinCRACK { 
      }
      hist TimeinCRACK { 
      }
}

dir egamma/LHLooseElectrons/byLB {
      output = egamma/electrons/LHLoose/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist LBEvoN { 
      }
}

dir egamma/LHLooseElectrons/ID {
     algorithm = egKolmogorov
     output = egamma/electrons/LHLoose/Expert/ID
     display = Draw=e1,StatBox
     hist Ehad1inBARREL { 
     }
     hist CoreEMinBARREL { 
     }
     hist F0inBARREL { 
     }
     hist F1inBARREL { 
     }
     hist F2inBARREL { 
     }
     hist F3inBARREL { 
     }
     hist Re237e277inBARREL { 
     }
     hist Ehad1inENDCAP { 
     }
     hist EoverPinENDCAP { 
     }
     hist CoreEMinENDCAP { 
     }
     hist Re233e237inENDCAP { 
     }
     hist Re237e277inENDCAP { 
     }
     hist Ehad1inCRACK { 
     }
     hist EoverPinCRACK { 
     }
     hist CoreEMinCRACK { 
     }
     hist F0inCRACK { 
     }
     hist F1inCRACK { 
     }
     hist F2inCRACK { 
     }
     hist F3inCRACK { 
     }
     hist Re233e237inCRACK { 
     }
     hist Re237e277inCRACK { 
     }
}

dir egamma/LHLooseElectrons/Tracks {
     algorithm = egKolmogorov
     output = egamma/electrons/LHLoose/Expert/Track
     display = Draw=e1,StatBox
     hist NOfBLayerHitsinBARREL { 
     }
     hist NOfPixelHitsinBARREL { 
     }
     hist NOfSCTHitsinBARREL  { 
     }
     hist NOfTRTHitsinBARREL { 
     }
     hist NOfTRTHighThresholdHitsinBARREL { 
     }
     hist DeltaEta1inBARREL { 
     }
     hist DeltaPhi2inBARREL { 
     }
     hist Trackd0inBARREL { 
     }
     hist NOfBLayerHitsinENDCAP { 
     }
     hist NOfPixelHitsinENDCAP { 
     }
     hist NOfSCTHitsinENDCAP { 
     }
     hist NOfTRTHitsinENDCAP { 
     }
     hist NOfTRTHighThresholdHitsinENDCAP { 
     }
     hist DeltaEta1inENDCAP { 
     }
     hist DeltaPhi2inENDCAP { 
     }
     hist Trackd0inENDCAP { 
     }
     hist NOfBLayerHitsinCRACK { 
     }
     hist NOfPixelHitsinCRACK { 
     }
     hist NOfSCTHitsinCRACK { 
     }
     hist NOfTRTHitsinCRACK { 
     }
     hist NOfTRTHighThresholdHitsinCRACK { 
     }
     hist DeltaEta1inCRACK { 
     }
     hist DeltaPhi2inCRACK { 
     }
     hist Trackd0inCRACK { 
     }
}

# LhLooseWithTrigger

dir egamma/LHLooseElectronsWithTrigger {
      output = egamma/electronsWithTrigger/LHLoose
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist Et { 
      }
      hist Eta { 
      }
      hist Phi { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist TopoEtCone40 { 
      }
      hist PtCone20 { 
      }
      hist Time { 
      }
}

dir egamma/LHLooseElectronsWithTrigger/Expert {
      output = egamma/electronsWithTrigger/LHLoose/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist Eta_Phi_with_Pt_gt_2.5GeV { 
      }
      hist Eta_Phi_with_Pt_gt_20GeV { 
      }
}

dir egamma/LHLooseElectronsWithTrigger/byLB {
      output = egamma/electronsWithTrigger/LHLoose/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist LBEvoN { 
      }
}

dir egamma/LHLooseElectronsWithTrigger/ID {
     algorithm = egKolmogorov
     output = egamma/electronsWithTrigger/LHLoose/Expert/ID
     display = Draw=e1,StatBox
     hist Ehad1inBARREL { 
     }
     hist CoreEMinBARREL { 
     }
     hist F0inBARREL { 
     }
     hist F1inBARREL { 
     }
     hist F2inBARREL { 
     }
     hist F3inBARREL { 
     }
     hist Re237e277inBARREL { 
     }
     hist Ehad1inENDCAP { 
     }
     hist EoverPinENDCAP { 
     }
     hist CoreEMinENDCAP { 
     }
     hist Re233e237inENDCAP { 
     }
     hist Re237e277inENDCAP { 
     }
     hist Ehad1inCRACK { 
     }
     hist EoverPinCRACK { 
     }
     hist CoreEMinCRACK { 
     }
     hist F0inCRACK { 
     }
     hist F1inCRACK { 
     }
     hist F2inCRACK { 
     }
     hist F3inCRACK { 
     }
     hist Re233e237inCRACK { 
     }
     hist Re237e277inCRACK { 
     }
}

dir egamma/LHLooseElectronsWithTrigger/Tracks {
     algorithm = egKolmogorov
     output = egamma/electronsWithTrigger/LHLoose/Expert/Track
     display = Draw=e1,StatBox

     hist NOfBLayerHitsinBARREL { 
     }
     hist NOfPixelHitsinBARREL { 
     }
     hist NOfSCTHitsinBARREL  { 
     }
     hist NOfTRTHitsinBARREL { 
     }
     hist NOfTRTHighThresholdHitsinBARREL { 
     }
     hist DeltaEta1inBARREL { 
     }
     hist DeltaPhi2inBARREL { 
     }
     hist Trackd0inBARREL { 
     }
     hist NOfBLayerHitsinENDCAP { 
     }
     hist NOfPixelHitsinENDCAP { 
     }
     hist NOfSCTHitsinENDCAP { 
     }
     hist NOfTRTHitsinENDCAP { 
     }
     hist NOfTRTHighThresholdHitsinENDCAP { 
     }
     hist DeltaEta1inENDCAP { 
     }
     hist DeltaPhi2inENDCAP { 
     }
     hist Trackd0inENDCAP { 
     }
     hist NOfBLayerHitsinCRACK { 
     }
     hist NOfPixelHitsinCRACK { 
     }
     hist NOfSCTHitsinCRACK { 
     }
     hist NOfTRTHitsinCRACK { 
     }
     hist NOfTRTHighThresholdHitsinCRACK { 
     }
     hist DeltaEta1inCRACK { 
     }
     hist DeltaPhi2inCRACK { 
     }
     hist Trackd0inCRACK { 
     }

}

# LhTight

dir egamma/LHTightElectrons {
      output = egamma/electrons/LHTight
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist Et { 
      }
      hist Eta { 
      }
      hist Phi { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist TopoEtCone40 { 
      }
      hist PtCone20 { 
      }
      hist Time { 
      }
}

dir egamma/LHTightElectrons/Expert {
      output = egamma/electrons/LHTight/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist Eta_Phi_with_Pt_gt_2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist EtainBARREL { 
      }
      hist PhiinBARREL { 
      }
      hist TimeinBARREL { 
      }
      hist EtainCRACK { 
      }
      hist PhiinCRACK { 
      }
      hist TimeinCRACK { 
      }
}

dir egamma/LHTightElectrons/byLB {
      output = egamma/electrons/LHTight/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist LBEvON { 
      }
}

dir egamma/LHTightElectrons/ID {
     algorithm = egKolmogorov
     output = egamma/electrons/LHTight/Expert/ID
     display = Draw=e1,StatBox
     hist Ehad1inBARREL { 
     }
     hist CoreEMinBARREL { 
     }
     hist F0inBARREL { 
     }
     hist F1inBARREL { 
     }
     hist F2inBARREL { 
     }
     hist F3inBARREL { 
     }
     hist Re237e277inBARREL { 
     }
     hist Ehad1inENDCAP { 
     }
     hist EoverPinENDCAP { 
     }
     hist CoreEMinENDCAP { 
     }
     hist Re233e237inENDCAP { 
     }
     hist Re237e277inENDCAP { 
     }
     hist Ehad1inCRACK { 
     }
     hist EoverPinCRACK { 
     }
     hist CoreEMinCRACK { 
     }
     hist F0inCRACK { 
     }
     hist F1inCRACK { 
     }
     hist F2inCRACK { 
     }
     hist F3inCRACK { 
     }
     hist Re233e237inCRACK { 
     }
     hist Re237e277inCRACK { 
     }
}

dir egamma/LHTightElectrons/Tracks {
     algorithm = egKolmogorov
     output = egamma/electrons/LHTight/Expert/Track
     Display = Draw=e1,StatBox
     hist NOfBLayerHitsinBARREL { 
     }
     hist NOfPixelHitsinBARREL { 
     }
     hist NOfSCTHitsinBARREL  { 
     }
     hist NOfTRTHitsinBARREL { 
     }
     hist NOfTRTHighThresholdHitsinBARREL { 
     }
     hist DeltaEta1inBARREL { 
     }
     hist DeltaPhi2inBARREL { 
     }
     hist Trackd0inBARREL { 
     }
     hist NOfBLayerHitsinENDCAP { 
     }
     hist NOfPixelHitsinENDCAP { 
     }
     hist NOfSCTHitsinENDCAP { 
     }
     hist NOfTRTHitsinENDCAP { 
     }
     hist NOfTRTHighThresholdHitsinENDCAP { 
     }
     hist DeltaEta1inENDCAP { 
     }
     hist DeltaPhi2inENDCAP { 
     }
     hist Trackd0inENDCAP { 
     }
     hist NOfBLayerHitsinCRACK { 
     }
     hist NOfPixelHitsinCRACK { 
     }
     hist NOfSCTHitsinCRACK { 
     }
     hist NOfTRTHitsinCRACK { 
     }
     hist NOfTRTHighThresholdHitsinCRACK { 
     }
     hist DeltaEta1inCRACK { 
     }
     hist DeltaPhi2inCRACK { 
     }
     hist Trackd0inCRACK { 
     }
}

# LhTightWithTrigger

dir egamma/LHTightElectronsWithTrigger {
      output = egamma/electronsWithTrigger/LHTight
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist Et { 
      } 
      hist Eta { 
      }
      hist Phi { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist TopoEtCone40 { 
      }
      hist PtCone20 { 
      }
      hist Time { 
      }
}

dir egamma/LHTightElectronsWithTrigger/Expert {
      output = egamma/electronsWithTrigger/LHTight/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist Eta_Phi_with_Pt_gt_2.5GeV { 
      }
      hist Eta_Phi_with_Pt_gt_20GeV { 
      }
}

dir egamma/LHTightElectronsWithTrigger/byLB {
      output = egamma/electronsWithTrigger/LHTight/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox

      hist LBEvON { 
      }
}

dir egamma/LHTightElectronsWithTrigger/ID {
     algorithm = egKolmogorov
     output = egamma/electronsWithTrigger/LHTight/Expert/ID
     display = Draw=e1,StatBox
     hist Ehad1inBARREL { 
     }
     hist CoreEMinBARREL { 
     }
     hist F0inBARREL { 
     }
     hist F1inBARREL { 
     }
     hist F2inBARREL { 
     }
     hist F3inBARREL { 
     }
     hist Re237e277inBARREL { 
     }
     hist Ehad1inENDCAP { 
     }
     hist EoverPinENDCAP { 
     }
     hist CoreEMinENDCAP { 
     }
     hist Re233e237inENDCAP { 
     }
     hist Re237e277inENDCAP { 
     }
     hist Ehad1inCRACK { 
     }
     hist EoverPinCRACK { 
     }
     hist CoreEMinCRACK { 
     }
     hist F0inCRACK { 
     }
     hist F1inCRACK { 
     }
     hist F2inCRACK { 
     }
     hist F3inCRACK { 
     }
     hist Re233e237inCRACK { 
     }
     hist Re237e277inCRACK { 
     }
}

dir egamma/LHTightElectronsWithTrigger/Tracks {
     algorithm = egKolmogorov
     output = egamma/electronsWithTrigger/LHTight/Expert/Track
     display = Draw=e1,StatBox

     hist NOfBLayerHitsinBARREL { 
     }
     hist NOfPixelHitsinBARREL { 
     }
     hist NOfSCTHitsinBARREL  { 
     }
     hist NOfTRTHitsinBARREL { 
     }
     hist NOfTRTHighThresholdHitsinBARREL { 
     }
     hist DeltaEta1inBARREL { 
     }
     hist DeltaPhi2inBARREL { 
     }
     hist Trackd0inBARREL { 
     }
     hist NOfBLayerHitsinENDCAP { 
     }
     hist NOfPixelHitsinENDCAP { 
     }
     hist NOfSCTHitsinENDCAP { 
     }
     hist NOfTRTHitsinENDCAP { 
     }
     hist NOfTRTHighThresholdHitsinENDCAP { 
     }
     hist DeltaEta1inENDCAP { 
     }
     hist DeltaPhi2inENDCAP { 
     }
     hist Trackd0inENDCAP { 
     }
     hist NOfBLayerHitsinCRACK { 
     }
     hist NOfPixelHitsinCRACK { 
     }
     hist NOfSCTHitsinCRACK { 
     }
     hist NOfTRTHitsinCRACK { 
     }
     hist NOfTRTHighThresholdHitsinCRACK { 
     }
     hist DeltaEta1inCRACK { 
     }
     hist DeltaPhi2inCRACK { 
     }
     hist Trackd0inCRACK { 
     }

}


############################################## 
### photons
##############################################

# CBLoose

dir egamma/CBLoosePhotons {
      output = egamma/photons/CBLoose
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox

      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NConv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NUnconv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }

      hist Et { 
      }
      hist Phi { 
      }
      hist Eta { 
      }
      hist PtCone20 { 
      }
      hist EtCone40 { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Time { 
      }

      hist EtConv { 
      }
      hist PhiConv { 
      }
      hist EtaConv { 
      }
      hist Eta_Phi_Conv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

      hist EtUnconv { 
      }
      hist PhiUnconv { 
      }
      hist EtaUnconv { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }


}

dir egamma/CBLoosePhotons/Expert {
      output = egamma/photons/CBLoose/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox


      hist EtainBARREL { 
      }
      hist PhiinBARREL { 
      }
      hist TimeinBARREL { 
      }
      hist RConvinBARREL { 
      }
      hist ConvTypeinBARREL { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.2.5GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Eta_Phi_Conv_with_Pt_gt_2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist RConvinENDCAP { 
      }
      hist ConvTypeinENDCAP { 
      }
      hist Eta_Phi_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_distribution_of_Unconv._photons_with_Pt.gt.20GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Eta_Phi_distribution_of_Conv._photons_with_Pt.gt.20GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

      hist EtainCRACK { 
      }
      hist PhiinCRACK { 
      }
      hist TimeinCRACK { 
      }
      hist RConvinCRACK { 
      }
      hist ConvTypeinCRACK { 
      }

}

dir egamma/CBLoosePhotons/byLB {
      output = egamma/photons/CBLoose/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist    Number_of_Unconv._photons_vs_LB { 
      }
      hist    Number_of_Conv._photons_vs_LB { 
      }
      hist    LBEvoN { 
      }
      hist    Conversion_fraction_vs_LB { 
      }
}

dir egamma/CBLoosePhotons/ID {
     algorithm = egKolmogorov
     output = egamma/photons/CBLoose/Expert/ID
     display = Draw=e1,StatBox
      hist   Ehad1inBARREL { 
      }
      hist   CoreEMinBARREL { 
      }
      hist   F0inBARREL { 
      }
      hist   F1inBARREL { 
      }
      hist   F2inBARREL { 
      }
      hist   F3inBARREL { 
      }
      hist   Re233e237inBARREL { 
      }
      hist   Re237e277inBARREL { 
      }
      hist   Ehad1inENDCAP { 
      }
      hist   CoreEMinENDCAP { 
      }
      hist   F0inENDCAP { 
      }
      hist   F1inENDCAP { 
      }
      hist   F2inENDCAP { 
      }
      hist   F3inENDCAP { 
      }
      hist   Re233e237inENDCAP { 
      }
      hist   Re237e277inENDCAP { 
      }
      hist   Ehad1inCRACK { 
      }
      hist   CoreEMinCRACK { 
      }
      hist   F0inCRACK { 
      }
      hist   F1inCRACK { 
      }
      hist   F2inCRACK { 
      }
      hist   F3inCRACK { 
      }
      hist   Re233e237inCRACK { 
      }
      hist   Re237e277inCRACK { 
      }
}

# CBLooseWithTrigger

dir egamma/CBLoosePhotonsWithTrigger {
      output = egamma/photonsWithTrigger/CBLoose
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NConv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NUnconv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }

      hist Et { 
      }
      hist Phi { 
      }
      hist Eta { 
      }
      hist PtCone20 { 
      }
      hist EtCone40 { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Time { 
      }

      hist EtConv { 
      }
      hist PhiConv { 
      }
      hist EtaConv { 
      }
      hist Eta_Phi_Conv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

      hist EtUnconv { 
      }
      hist PhiUnconv { 
      }
      hist EtaUnconv { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }


}

dir egamma/CBLoosePhotonsWithTrigger/Expert {
      output = egamma/photonsWithTrigger/CBLoose/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox

      hist EtainBARREL { 
      }
      hist PhiinBARREL { 
      }
      hist TimeinBARREL { 
      }
      hist RConvinBARREL { 
      }
      hist ConvTypeinBARREL { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.2.5GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Eta_Phi_Conv_with_Pt_gt_2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist RConvinENDCAP { 
      }
      hist ConvTypeinENDCAP { 
      }
      hist Eta_Phi_with_Pt.gt.20GeV { 
      }
      hist Eta_Phi_distribution_of_Unconv._photons_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_distribution_of_Conv._photons_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainCRACK { 
      }
      hist PhiinCRACK { 
      }
      hist TimeinCRACK { 
      }
      hist RConvinCRACK { 
      }
      hist ConvTypeinCRACK { 
      }
}

dir egamma/CBLoosePhotonsWithTrigger/byLB {
      output = egamma/photonsWithTrigger/CBLoose/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist    Number_of_Unconv._photons_vs_LB { 
      }
      hist    Number_of_Conv._photons_vs_LB { 
      }
      hist    LBEvoN { 
      }
      hist    Conversion_fraction_vs_LB { 
      }
}

dir egamma/CBLoosePhotonsWithTrigger/ID {
     algorithm = egKolmogorov
     output = egamma/photonsWithTrigger/CBLoose/Expert/ID
     display = Draw=e1,StatBox
      hist   Ehad1inBARREL { 
      }
      hist   CoreEMinBARREL { 
      }
      hist   F0inBARREL { 
      }
      hist   F1inBARREL { 
      }
      hist   F2inBARREL { 
      }
      hist   F3inBARREL { 
      }
      hist   Re233e237inBARREL { 
      }
      hist   Re237e277inBARREL { 
      }
      hist   Ehad1inENDCAP { 
      }
      hist   CoreEMinENDCAP { 
      }
      hist   F0inENDCAP { 
      }
      hist   F1inENDCAP { 
      }
      hist   F2inENDCAP { 
      }
      hist   F3inENDCAP { 
      }
      hist   Re233e237inENDCAP { 
      }
      hist   Re237e277inENDCAP { 
      }
      hist   Ehad1inCRACK { 
      }
      hist   CoreEMinCRACK { 
      }
      hist   F0inCRACK { 
      }
      hist   F1inCRACK { 
      }
      hist   F2inCRACK { 
      }
      hist   F3inCRACK { 
      }
      hist   Re233e237inCRACK { 
      }
      hist   Re237e277inCRACK { 
      }
}

# CBTight

dir egamma/CBTightPhotons {
      output = egamma/photons/CBTight
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NConv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NUnconv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }

      hist Et { 
      }
      hist Phi { 
      }
      hist Eta { 
      }
      hist PtCone20 { 
      }
      hist EtCone40 { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Time { 
      }

      hist EtConv { 
      }
      hist PhiConv { 
      }
      hist EtaConv { 
      }
      hist Eta_Phi_Conv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

      hist EtUnconv { 
      }
      hist PhiUnconv { 
      }
      hist EtaUnconv { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

}

dir egamma/CBTightPhotons/Expert {
      output = egamma/photons/CBTight/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox

      hist EtainBARREL { 
      }
      hist PhiinBARREL { 
      }
      hist TimeinBARREL { 
      }
      hist RConvinBARREL { 
      }
      hist ConvTypeinBARREL { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_Conv_with_Pt_gt_2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist RConvinENDCAP { 
      }
      hist ConvTypeinENDCAP { 
      }
      hist Eta_Phi_with_Pt.gt.20GeV { 
      }
      hist Eta_Phi_distribution_of_Unconv._photons_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_distribution_of_Conv._photons_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainCRACK { 
      }
      hist PhiinCRACK { 
      }
      hist TimeinCRACK { 
      }
      hist RConvinCRACK { 
      }
      hist ConvTypeinCRACK { 
      }
}

dir egamma/CBTightPhotons/byLB {
      output = egamma/photons/CBTight/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox

      hist    Number_of_Unconv._photons_vs_LB { 
      }
      hist    Number_of_Conv._photons_vs_LB { 
      }
      hist    LBEvoN { 
      }
      hist    Conversion_fraction_vs_LB { 
      }

}

dir egamma/CBTightPhotons/ID {
     algorithm = egKolmogorov
     output = egamma/photons/CBTight/Expert/ID
     display = Draw=e1,StatBox
      hist   Ehad1inBARREL { 
      }
      hist   CoreEMinBARREL { 
      }
      hist   F0inBARREL { 
      }
      hist   F1inBARREL { 
      }
      hist   F2inBARREL { 
      }
      hist   F3inBARREL { 
      }
      hist   Re233e237inBARREL { 
      }
      hist   Re237e277inBARREL { 
      }
      hist   Ehad1inENDCAP { 
      }
      hist   CoreEMinENDCAP { 
      }
      hist   F0inENDCAP { 
      }
      hist   F1inENDCAP { 
      }
      hist   F2inENDCAP { 
      }
      hist   F3inENDCAP { 
      }
      hist   Re233e237inENDCAP { 
      }
      hist   Re237e277inENDCAP { 
      }
      hist   Ehad1inCRACK { 
      }
      hist   CoreEMinCRACK { 
      }
      hist   F0inCRACK { 
      }
      hist   F1inCRACK { 
      }
      hist   F2inCRACK { 
      }
      hist   F3inCRACK { 
      }
      hist   Re233e237inCRACK { 
      }
      hist   Re237e277inCRACK { 
      }
}

# CBTightWithTrigger

dir egamma/CBTightPhotonsWithTrigger {
      output = egamma/photonsWithTrigger/CBTight
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NConv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }
      hist NUnconv {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
      }

      hist Et { 
      }
      hist Phi { 
      }
      hist Eta { 
      }
      hist PtCone20 { 
      }
      hist EtCone40 { 
      }
      hist Eta_Phi_distribution_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Time { 
      }

      hist EtConv { 
      }
      hist PhiConv { 
      }
      hist EtaConv { 
      }
      hist Eta_Phi_Conv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

      hist EtUnconv { 
      }
      hist PhiUnconv { 
      }
      hist EtaUnconv { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.4GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }

}

dir egamma/CBTightPhotonsWithTrigger/Expert {
      output = egamma/photonsWithTrigger/CBTight/Expert
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox

      hist EtainBARREL { 
      }
      hist PhiinBARREL { 
      }
      hist TimeinBARREL { 
      }
      hist RConvinBARREL { 
      }
      hist ConvTypeinBARREL { 
      }
      hist Eta_Phi_Unconv_with_Pt.gt.2.5GeV {
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900) 
      }
      hist Eta_Phi_Conv_with_Pt_gt_2.5GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist RConvinENDCAP { 
      }
      hist ConvTypeinENDCAP { 
      }
      hist Eta_Phi_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_distribution_of_Unconv._photons_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }
      hist Eta_Phi_distribution_of_Conv._photons_with_Pt.gt.20GeV { 
       algorithm = 2D_Histogram_Not_Empty
       display = Ref2DSignif, TCanvas(490,900)
      }

      hist EtainCRACK { 
      }
      hist PhiinCRACK { 
      }
      hist TimeinCRACK { 
      }
      hist RConvinCRACK { 
      }
      hist ConvTypeinCRACK { 
      }
}

dir egamma/CBTightPhotonsWithTrigger/byLB {
      output = egamma/photonsWithTrigger/CBTight/Expert/LBMon
      algorithm = egKolmogorov
      display = Draw=e1, DrawRef=HIST, StatBox
      hist    Number_of_Unconv._photons_vs_LB { 
      }
      hist    Number_of_Conv._photons_vs_LB { 
      }
      hist    LBEvoN { 
      }
      hist    Conversion_fraction_vs_LB { 
      }

}

dir egamma/CBTightPhotonsWithTrigger/ID {
     algorithm = egKolmogorov
     output = egamma/photonsWithTrigger/CBTight/Expert/ID
     display = Draw=e1,StatBox

      hist   Ehad1inBARREL { 
      }
      hist   CoreEMinBARREL { 
      }
      hist   F0inBARREL { 
      }
      hist   F1inBARREL { 
      }
      hist   F2inBARREL { 
      }
      hist   F3inBARREL { 
      }
      hist   Re233e237inBARREL { 
      }
      hist   Re237e277inBARREL { 
      }
      hist   Ehad1inENDCAP { 
      }
      hist   CoreEMinENDCAP { 
      }
      hist   F0inENDCAP { 
      }
      hist   F1inENDCAP { 
      }
      hist   F2inENDCAP { 
      }
      hist   F3inENDCAP { 
      }
      hist   Re233e237inENDCAP { 
      }
      hist   Re237e277inENDCAP { 
      }
      hist   Ehad1inCRACK { 
      }
      hist   CoreEMinCRACK { 
      }
      hist   F0inCRACK { 
      }
      hist   F1inCRACK { 
      }
      hist   F2inCRACK { 
      }
      hist   F3inCRACK { 
      }
      hist   Re233e237inCRACK { 
      }
      hist   Re237e277inCRACK { 
      }
}


########################################
### forwardElectrons
########################################

# CB Loose Forward Electrons

dir egamma/CBLooseFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/CBLoose
     display = Draw=e1,StatBox
     hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }

     hist Et { 
     }
     hist Phi { 
     }
     hist Eta { 
     }
     hist Time { 
     }
     hist Eta_Phi_distributionf_Pt_gt_10GeV { 
       algorithm = egamma_BinsDiffFromStripMedian
     }
}

dir egamma/CBLooseFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/CBLoose
     display = Draw=e1,StatBox
     hist EnergyDensity { 
     }
     hist FracMax { 
     }
     hist Lateral { 
     }
     hist Longitudinal { 
     }
     hist SecondLambda { 
     }
     hist SecondR { 
     }
     hist CenterLambda { 
     }
}


dir egamma/CBLooseFwdElectrons/Expert {
      algorithm = egKolmogorov
      output = egamma/forwardElectrons/CBLoose/Expert
      display = Draw=e1,StatBox

      hist NinENDCAP { 
       display = Draw=e1,StatBox,LogY
      }
      hist NinFORWARD { 
       display = Draw=e1,StatBox,LogY
      }
      hist Eta_Phi_distribution_Pt_gt_2.5GeV { 
      }
      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist EtainFORWARD { 
      }
      hist PhiinFORWARD { 
      }
      hist TimeinFORWARD { 
      }
}

# CBTight Forward Electrons

dir egamma/CBTightFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/CBTight
     display = Draw=e1,StatBox
     hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }
     hist Et { 
     }
     hist Phi { 
     }
     hist Eta { 
     }
     hist Time { 
     }
     hist Eta_Phi_distributionf_Pt_gt_10GeV { 
       algorithm = egamma_BinsDiffFromStripMedian
     }
}

dir egamma/CBTightFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/CBTight
     display = Draw=e1,StatBox
     hist EnergyDensity { 
     }
     hist FracMax { 
     }
     hist Lateral { 
     }
     hist Longitudinal { 
     }
     hist SecondLambda { 
     }
     hist SecondR { 
     }
     hist CenterLambda { 
     }
}

dir egamma/CBTightFwdElectrons/Expert {
      algorithm = egKolmogorov
      output = egamma/forwardElectrons/CBTight/Expert
      display = Draw=e1,StatBox
      hist NinENDCAP { 
       display = Draw=e1,StatBox,LogY
      }
      hist NinFORWARD { 
       display = Draw=e1,StatBox,LogY
      }
      hist Eta_Phi_distribution_Pt_gt_2.5GeV { 
      }
      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist EtainFORWARD { 
      }
      hist PhiinFORWARD { 
      }
      hist TimeinFORWARD { 
      }
}

# LH Loose Forward Electrons

dir egamma/LHLooseFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/LHLoose
     display = Draw=e1,StatBox
     hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }
     hist Et { 
     }
     hist Phi { 
     }
     hist Eta { 
     }
     hist Time { 
     }
     hist Eta_Phi_distributionf_Pt_gt_10GeV { 
       algorithm = egamma_BinsDiffFromStripMedian
     }
}

dir egamma/LHLooseFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/LHLoose 
     display = Draw=e1,StatBox
     hist EnergyDensity { 
     }
     hist FracMax { 
     }
     hist Lateral { 
     }
     hist Longitudinal { 
     }
     hist SecondLambda { 
     }
     hist SecondR { 
     }
     hist CenterLambda { 
     }
}


dir egamma/LHLooseFwdElectrons/Expert {
      algorithm = egKolmogorov
      output = egamma/forwardElectrons/LHLoose/Expert
      display = Draw=e1,StatBox

      hist NinENDCAP { 
       display = Draw=e1,StatBox,LogY
      }
      hist NinFORWARD { 
       display = Draw=e1,StatBox,LogY
      }
      hist Eta_Phi_distribution_Pt_gt_2.5GeV { 
      }
      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist EtainFORWARD { 
      }
      hist PhiinFORWARD { 
      }
      hist TimeinFORWARD { 
      }
}

# LHTight Forward Electrons

dir egamma/LHTightFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/LHTight
     display = Draw=e1,StatBox
     hist N {
       algorithm = egamma_Histogram_Not_Empty
       display = Draw=e1,StatBox,LogY
     }
     hist Et { 
     }
     hist Phi { 
     }
     hist Eta { 
     }
     hist Time { 
     }
     hist Eta_Phi_distributionf_Pt_gt_10GeV { 
       algorithm = egamma_BinsDiffFromStripMedian
     }
}

dir egamma/LHTightFwdElectrons {
     algorithm = egKolmogorov
     output = egamma/forwardElectrons/LHTight
     display = Draw=e1,StatBox
     hist EnergyDensity { 
     }
     hist FracMax { 
     }
     hist Lateral { 
     }
     hist Longitudinal { 
     }
     hist SecondLambda { 
     }
     hist SecondR { 
     }
     hist CenterLambda { 
     }
}

dir egamma/LHTightFwdElectrons/Expert {
      algorithm = egKolmogorov
      output = egamma/forwardElectrons/LHTight/Expert
      display = Draw=e1,StatBox
      hist NinENDCAP { 
       display = Draw=e1,StatBox,LogY
      }
      hist NinFORWARD { 
       display = Draw=e1,StatBox,LogY
      }
      hist Eta_Phi_distribution_Pt_gt_2.5GeV { 
      }
      hist EtainENDCAP { 
      }
      hist PhiinENDCAP { 
      }
      hist TimeinENDCAP { 
      }
      hist EtainFORWARD { 
      }
      hist PhiinFORWARD { 
      }
      hist TimeinFORWARD { 
      }
}

### Tag&Probe Z

dir egamma/TnPZ/TnPCandidate {
     algorithm = egKolmogorov
     output = egamma/tagandprobeZ
     display = Draw=e1,StatBox
     hist Z_candidate_mass {
      algorithm = egamma_FitZmass 
      display = StatBox,gaus(80000.,100000.)
     }
     hist Z_candidate_mass_distribution_Lead_in_Barrel {
      algorithm = egamma_FitZmass 
      display = StatBox,gaus(80000.,100000.)
     }
     hist Number_of_Z_candidates_vs_eta_leading_e {
     }
     hist Number_of_Z_candidates_vs_phi_leading_e {
     }
     hist Z_candidate_mass_distribution_Lead_in_Crack {
      algorithm = egamma_FitZmass 
      display = StatBox,gaus(80000.,100000.)
     }
     hist Z_candidate_mass_distribution_Lead_in_EndCap {
      algorithm = egamma_FitZmass 
      display = StatBox,gaus(80000.,100000.)
     }
}

dir egamma/TnPZ/ID {
     algorithm = egKolmogorov
     output = egamma/tagandprobeZ/ID
     display = Draw=e1,StatBox

     hist Ehad1ProbeinBARREL { 
     }
     hist EoverPProbeinBARREL { 
     }
     hist CoreEMProbeinBARREL { 
     }
     hist F0ProbeinBARREL { 
     }
     hist F1ProbeinBARREL { 
     }
     hist F2ProbeinBARREL { 
     }
     hist F3ProbeinBARREL { 
     }
     hist Re233e237ProbeinBARREL { 
     }
     hist Re237e277ProbeinBARREL { 
     }
     hist Ehad1ProbeinENDCAP { 
     }
     hist EoverPProbeinENDCAP { 
     }
     hist CoreEMProbeinENDCAP { 
     }
     hist F0ProbeinENDCAP { 
     }
     hist F1ProbeinENDCAP { 
     }
     hist F2ProbeinENDCAP { 
     }
     hist F3ProbeinENDCAP { 
     }
     hist Re233e237ProbeinENDCAP { 
     }
     hist Re237e277ProbeinENDCAP { 
     }

}

dir egamma/TnPZ/Tracks { 
     algorithm = egKolmogorov
     output = egamma/tagandprobeZ/Track
     display = Draw=e1,StatBox
     hist NOfBLayerHitsProbeinBARREL { 
     }
     hist NOfPixelHitsProbeinBARREL { 
     }
     hist NOfSCTHitsProbeinBARREL { 
     }
     hist NOfTRTHitsProbeinBARREL { 
     }
     hist NOfTRTHighThresholdHitsProbeinBARREL { 
     }
     hist DeltaEta1ProbeinBARREL { 
     }
     hist DeltaPhi2ProbeinBARREL { 
     }
     hist Trackd0ProbeinBARREL { 
     }
     hist NOfBLayerHitsProbeinENDCAP { 
     }
     hist NOfPixelHitsProbeinENDCAP { 
     }
     hist NOfSCTHitsProbeinENDCAP { 
     }
     hist NOfTRTHitsProbeinENDCAP { 
     }
     hist NOfTRTHighThresholdHitsProbeinENDCAP { 
     }
     hist DeltaEta1ProbeinENDCAP { 
     }
     hist DeltaPhi2ProbeinENDCAP { 
     }
     hist Trackd0ProbeinENDCAP { 
     }

 }

dir egamma/TnPZ/Efficiencies {
     algorithm = egKolmogorov
     output = egamma/tagandprobeZ
     display = Draw=e1,StatBox

     hist TnP_ID_efficiency_vs_etprobe { 
     }
     hist TnP_ID_efficiency_vs_etaprobe { 
     }
     hist TnP_ID_efficiency_vs_phiprobe { 
     }
     hist TnP_Calo_Iso_efficiency_vs_etprobe { 
     }
     hist TnP_Calo_Iso_efficiency_vs_etaprobe { 
     }
     hist TnP_Calo_Iso_efficiency_vs_phiprobe { 
     }
     hist TnP_Calo_Iso_and_LHTight_efficiency_vs_etprobe { 
     }
     hist TnP_Calo_Iso_and_LHTight_efficiency_vs_etaprobe { 
     }
     hist TnP_Calo_Iso_and_LHTight_ID_efficiency_vs_phiprobe { 
     }
      
}

dir egamma/TnPZ/TnPCandidate {
    algorithm = egamma_GatherData
    output = egamma/tagandprobeZ/LBMon
    display = Draw=e1,StatBox

    hist Number_of_Z_candidates_vs_LB { 
    }

}

### Tag&Probe JPsi

dir egamma/TnPJPsi/TnPCandidate {
     algorithm = egKolmogorov
     output = egamma/tagandprobeJPsi
     display = Draw=e1,StatBox

     hist JPsi_candidate_mass {
      algorithm = egamma_FitJPsimass 
      display = StatBox,gaus(2500.,4000.)
     }
     hist JPsi_candidate_mass_distribution_Lead_in_Barrel {
      algorithm = egamma_FitJPsimass 
      display = StatBox,gaus(2500.,4000.)
     }
     hist Number_of_JPsi_candidates_vs_eta_leading_e {
     }
     hist Number_of_JPsi_candidates_vs_phi_leading_e {
     }
     hist JPsi_candidate_mass_distribution_Lead_in_Crack {
      algorithm = egamma_FitJPsimass 
      display = StatBox,gaus(2500.,4000.)
     }
     hist JPsi_candidate_mass_distribution_Lead_in_EndCap {
      algorithm = egamma_FitJPsimass 
      display = StatBox,gaus(2500.,4000.)
     }

}

dir egamma/TnPJPsi/ID {
     algorithm = egKolmogorov
     output = egamma/tagandprobeJPsi/ID
     display = Draw=e1,StatBox

     hist Ehad1ProbeinBARREL { 
     }
     hist EoverPProbeinBARREL { 
     }
     hist CoreEMProbeinBARREL { 
     }
     hist F0ProbeinBARREL { 
     }
     hist F1ProbeinBARREL { 
     }
     hist F2ProbeinBARREL { 
     }
     hist F3ProbeinBARREL { 
     }
     hist Re233e237ProbeinBARREL { 
     }
     hist Re237e277ProbeinBARREL { 
     }
     hist Ehad1ProbeinENDCAP { 
     }
     hist EoverPProbeinENDCAP { 
     }
     hist CoreEMProbeinENDCAP { 
     }
     hist F0ProbeinENDCAP { 
     }
     hist F1ProbeinENDCAP { 
     }
     hist F2ProbeinENDCAP { 
     }
     hist F3ProbeinENDCAP { 
     }
     hist Re233e237ProbeinENDCAP { 
     }
     hist Re237e277ProbeinENDCAP { 
     }

}

dir egamma/TnPJPsi/Tracks { 
     algorithm = egKolmogorov
     output = egamma/tagandprobeJPsi/Track
     display = Draw=e1,StatBox

     hist NOfBLayerHitsProbeinBARREL { 
     }
     hist NOfPixelHitsProbeinBARREL { 
     }
     hist NOfSCTHitsProbeinBARREL { 
     }
     hist NOfTRTHitsProbeinBARREL { 
     }
     hist NOfTRTHighThresholdHitsProbeinBARREL { 
     }
     hist DeltaEta1ProbeinBARREL { 
     }
     hist DeltaPhi2ProbeinBARREL { 
     }
     hist Trackd0ProbeinBARREL { 
     }
     hist NOfBLayerHitsProbeinENDCAP { 
     }
     hist NOfPixelHitsProbeinENDCAP { 
     }
     hist NOfSCTHitsProbeinENDCAP { 
     }
     hist NOfTRTHitsProbeinENDCAP { 
     }
     hist NOfTRTHighThresholdHitsProbeinENDCAP { 
     }
     hist DeltaEta1ProbeinENDCAP { 
     }
     hist DeltaPhi2ProbeinENDCAP { 
     }
     hist Trackd0ProbeinENDCAP { 
     }

 }

dir egamma/TnPJPsi/Efficiencies {
     algorithm = egKolmogorov
     output = egamma/tagandprobeJPsi
     display = Draw=e1,StatBox

     hist TnP_ID_efficiency_vs_etprobe { 
     }
     hist TnP_ID_efficiency_vs_etaprobe { 
     }
     hist TnP_ID_efficiency_vs_phiprobe { 
     }
     hist TnP_Calo_Iso_efficiency_vs_etprobe { 
     }
     hist TnP_Calo_Iso_efficiency_vs_etaprobe { 
     }
     hist TnP_Calo_Iso_efficiency_vs_phiprobe { 
     }
     hist TnP_Calo_Iso_and_LHTight_efficiency_vs_etprobe { 
     }
     hist TnP_Calo_Iso_and_LHTight_efficiency_vs_etaprobe { 
     }
     hist TnP_Calo_Iso_and_LHTight_ID_efficiency_vs_phiprobe { 
     } 
}

dir egamma/TnPJPsi/TnPCandidate {
    algorithm = egamma_GatherData
    output = egamma/tagandprobeJPsi/LBMon
    display = Draw=e1,StatBox

    hist Number_of_JPsi_candidates_vs_LB { 
    }

}