# **********************************************************************
# $Id: collisions_run.config 554810 2013-07-17 10:48:44Z ntsirint $
# **********************************************************************

############################################################
# MuonCombined
############################################################

#######################
# Histogram Assessments
#######################
    
dir MuonCombined {
    reference = CentrallyManagedReferences
    algorithm = MuonComb_GatherData
  dir MuCaloLR {
    hist mucbtrk_cutflow_caloTag {	
	output = MuonCombined/DQShifter/MuCaloLR
    display = AxisRange(0.5,9.5,"X")
	algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_caloTag { 
	output = MuonCombined/DQShifter/MuCaloLR
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_caloTag { 
	output = MuonCombined/DQShifter/MuCaloLR
    algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_caloTag { 
	output = MuonCombined/DQShifter/MuCaloLR
    algorithm = MuonComb_RecChargeMean
    } 
      output = MuonCombined/DQExpert/MuCaloLR
      hist mucbtrk_Rec_EtaPhi_caloTag {
	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0_caloTag {
    }
      hist mucbtrk_Rec_charge_caloTag {
    }
      hist mucbtrk_Rec_chisqDoF_caloTag {
    }
      hist mucbtrk_Rec_d0_caloTag {
    }
      hist mucbtrk_Rec_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_caloTag {
    }
      hist mucbtrk_Rec_theta0_caloTag {
    }
      hist mucbtrk_Rec_z0_caloTag {
    }
      hist mucbtrk_SummaryComb_caloTag {
    }
      hist mucbtrk_author_caloTag {
    }
      hist mucbtrk_cutflow_caloTag {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_deta_caloTag {
    }
      hist mucbtrk_dphi_caloTag {
    }
      hist mucbtrk_nSCThits_caloTag {
    }
      hist mucbtrk_nPIXELhits_caloTag {
    }
      hist mucbtrk_nTRThits_caloTag {
    }    
  }  
  dir MuCaloTag {
    hist mucbtrk_cutflow_caloTag { 
	output = MuonCombined/DQShifter/MuCaloTag
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT_caloTag { 
	output = MuonCombined/DQShifter/MuCaloTag
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_caloTag { 
	output = MuonCombined/DQShifter/MuCaloTag
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_caloTag { 
	output = MuonCombined/DQShifter/MuCaloTag
      algorithm = MuonComb_RecChargeMean
    }
      output = MuonCombined/DQExpert/MuCaloTag
      hist mucbtrk_Rec_EtaPhi_caloTag {
	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled

    }
      hist mucbtrk_Rec_Phi0_caloTag {
    }
      hist mucbtrk_Rec_charge_caloTag {
    }
      hist mucbtrk_Rec_chisqDoF_caloTag {
    }
      hist mucbtrk_Rec_d0_caloTag {
    }
      hist mucbtrk_Rec_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_caloTag {
    }
      hist mucbtrk_Rec_theta0_caloTag {
    }
      hist mucbtrk_Rec_z0_caloTag {
    }
      hist mucbtrk_SummaryComb_caloTag {
    }
      hist mucbtrk_author_caloTag {
    }
      hist mucbtrk_cutflow_caloTag {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_deta_caloTag {
    }
      hist mucbtrk_dphi_caloTag {
    }
      hist mucbtrk_nSCThits_caloTag {
    }
      hist mucbtrk_nPIXELhits_caloTag {
    }
      hist mucbtrk_nTRThits_caloTag {
    }
      hist mucbtrk_Rec_EtaPhi_caloTag {
    }
      hist mucbtrk_Rec_Phi0_caloTag {
    }
      hist mucbtrk_Rec_charge_caloTag {
    }
      hist mucbtrk_Rec_chisqDoF_caloTag {
    }
      hist mucbtrk_Rec_d0_caloTag {
    }
      hist mucbtrk_Rec_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_caloTag {
    }
      hist mucbtrk_Rec_theta0_caloTag {
    }
      hist mucbtrk_Rec_z0_caloTag {
    }
      hist mucbtrk_SummaryComb_caloTag {
    }
      hist mucbtrk_author_caloTag {
    }
      hist mucbtrk_cutflow_caloTag {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_deta_caloTag {
    }
      hist mucbtrk_dphi_caloTag {
    }
      hist mucbtrk_nSCThits_caloTag {
    }
      hist mucbtrk_nPIXELhits_caloTag {
    }
      hist mucbtrk_nTRThits_caloTag {
    }
 }    
  dir MuGirl { 
    hist mucbtrk_cutflow_msTag { 
	output = MuonCombined/DQShifter/MuGirl
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT_msTag { 
	output = MuonCombined/DQShifter/MuGirl
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_msTag { 
	output = MuonCombined/DQShifter/MuGirl
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_msTag { 
	output = MuonCombined/DQShifter/MuGirl
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_nMDThits_msTag { 
	output = MuonCombined/DQShifter/MuGirl
	algorithm = muKolmogorov
    }  
    hist mucbtrk_nTGCRPChits_msTag { 
	output = MuonCombined/DQShifter/MuGirl
	algorithm = muKolmogorov

    }
      output = MuonCombined/DQExpert/MuGirl
      hist mucbtrk_ElossCalo_msTag {
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
  	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled

    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
    }
      hist mucbtrk_nTGCRPChits_msTag {
    }
  }
  dir MuTag {
    hist mucbtrk_cutflow_msTag { 
	output = MuonCombined/DQShifter/MuTag
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT_msTag { 
	output = MuonCombined/DQShifter/MuTag
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_msTag { 
	output = MuonCombined/DQShifter/MuTag
    algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_msTag { 
	output = MuonCombined/DQShifter/MuTag
	algorithm = MuonComb_RecChargeMean
    }
	hist mucbtrk_nMDThits_msTag {
	output = MuonCombined/DQShifter/MuTag
	algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPChits_msTag {
	output = MuonCombined/DQShifter/MuTag
	algorithm = muKolmogorov
    }
      output = MuonCombined/DQExpert/MuTag
      hist mucbtrk_ElossCalo_msTag {
	  #algorithm = MuonComb_Eloss
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
  	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled

    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      
  }
  dir MuTagIMO {
	#  reference = CentrallyManagedReferences        
    hist mucbtrk_cutflow_msTag { 
	output = MuonCombined/DQShifter/MuTagIMO
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT_msTag { 
	output = MuonCombined/DQShifter/MuTagIMO
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_msTag { 
	output = MuonCombined/DQShifter/MuTagIMO
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_msTag { 
	output = MuonCombined/DQShifter/MuTagIMO
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_nMDThits_msTag { 
	output = MuonCombined/DQShifter/MuTagIMO
		algorithm = muKolmogorov
    }  
    hist mucbtrk_nTGCRPChits_msTag { 
	output = MuonCombined/DQShifter/MuTagIMO
	algorithm = muKolmogorov
    }  
      output = MuonCombined/DQExpert/MuTagIMO
      hist mucbtrk_ElossCalo_msTag {
	  #algorithm = MuonComb_Eloss
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
  	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled

    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
    }
      hist mucbtrk_nTGCRPChits_msTag {
    }
  }       
  dir MuidCB {
    hist mucbtrk_cutflow { 
	output = MuonCombined/DQShifter/MuidCB
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    }     
    hist mucbtrk_Rec_pT { 
	output = MuonCombined/DQShifter/MuidCB
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi { 
	output = MuonCombined/DQShifter/MuidCB
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge { 
	output = MuonCombined/DQShifter/MuidCB
      algorithm = MuonComb_RecChargeMean       	
    } 
    hist mucbtrk_dq { 
	output = MuonCombined/DQShifter/MuidCB
	display = AxisRange(-2.5,2.5,"X")
	algorithm = MuonComb_RecChargeMean 
    } 
    hist mucbtrk_deltaEloss { 
	output = MuonCombined/DQShifter/MuidCB
      algorithm  = MuonComb_deltaElossMeanmuidcb
    }
      output = MuonCombined/DQExpert/MuidCB
      hist mucbtrk_ElossCalo {
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi {
    }    
      hist mucbtrk_ElossCalo_eta {
    }
      hist mucbtrk_ElossMSID {
    }
      hist mucbtrk_ElossMSID_eta {
    }
      hist mucbtrk_ElossMSID_phi {
    }
      hist mucbtrk_Rec_EtaPhi {
 	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0 {
    }
      hist mucbtrk_Rec_charge {
    }
      hist mucbtrk_Rec_chisqDoF {
    }
      hist mucbtrk_Rec_d0 {
    }
      hist mucbtrk_Rec_eta {
    }
      hist mucbtrk_Rec_pT {
    }
      hist mucbtrk_Rec_pT_vrs_eta {
    }
      hist mucbtrk_Rec_pT_vrs_phi {
    }
      hist mucbtrk_Rec_theta0 {
    }
      hist mucbtrk_Rec_z0 {
    }
      hist mucbtrk_SummaryComb {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_chisq0 {
    }
      hist mucbtrk_chisq0_neg {
    }
      hist mucbtrk_chisq0_pos {
    }
      hist mucbtrk_chisq_Barrel {
    }
      hist mucbtrk_chisq_Endcap {
    }
      hist mucbtrk_cutflow {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_dd0 {
    }
      hist mucbtrk_dd0_neg {
    }
      hist mucbtrk_dd0_pos {
    }
      hist mucbtrk_deltaEloss {
    }
      hist mucbtrk_dmom0 {
    }
      hist mucbtrk_dmom_Barrel {
    }
      hist mucbtrk_dmom_Endcap {
    }
      hist mucbtrk_dpTvseta {
    }
      hist mucbtrk_dpTvspT {
    }
      hist mucbtrk_dpTvsphi {
    }
      hist mucbtrk_dq {
	  	display = AxisRange(-2.5,2.5,"X")
    }
      hist mucbtrk_dz0 {
    }
      hist mucbtrk_dz0_neg {
    }
      hist mucbtrk_dz0_pos {
    }
      hist mucbtrk_nSCThits {
    }
      hist mucbtrk_nPIXELhits {
    }
      hist mucbtrk_nTRThits {
    }
      hist mucbtrk_nMDThits {
	  output = MuonCombined/DQShifter/MuidCB
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPChits {
	  output = MuonCombined/DQShifter/MuidCB
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_pullPhi_Barrel {
    }
      hist mucbtrk_pullPhi_Endcap {
    }
      hist mucbtrk_pullR_Endcap {
    }
      hist mucbtrk_pullRphi_Barrel {
    }
      hist mucbtrk_pulld0 {
    }
      hist mucbtrk_pulld0_neg {
    }
      hist mucbtrk_pulld0_pos {
    }
      hist mucbtrk_pullphi0 {
    }
      hist mucbtrk_pullphi0_neg {
    }
      hist mucbtrk_pullphi0_pos {
    }
      hist mucbtrk_pullphi_Endcap {
    }
      hist mucbtrk_pullqp0 {
    }
      hist mucbtrk_pullqp0_neg {
    }
      hist mucbtrk_pullqp0_pos {
    }
      hist mucbtrk_pullqp_Barrel {
    }
      hist mucbtrk_pullqp_Endcap {
    }
      hist mucbtrk_pulltheta0 {
    }
      hist mucbtrk_pulltheta0_neg {
    }
      hist mucbtrk_pulltheta0_pos {
    }
      hist mucbtrk_pulltheta_Barrel {
    }
      hist mucbtrk_pulltheta_Endcap {
    }
      hist mucbtrk_pullz0 {
    }
      hist mucbtrk_pullz0_neg {
    }
      hist mucbtrk_pullz0_pos {
    }
      hist mucbtrk_pullz_Barrel {
    }
      hist mucbtrk_qopidvsms {
    }
  }
  dir MuidSA {
    hist mucbtrk_cutflow_SA { 
	output = MuonCombined/DQShifter/MuidSA
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT_SA {
	output = MuonCombined/DQShifter/MuidSA
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_SA { 
	output = MuonCombined/DQShifter/MuidSA
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_SA { 
	output = MuonCombined/DQShifter/MuidSA
      algorithm = MuonComb_RecChargeMean 
    }
      output = MuonCombined/DQExpert/MuidSA
      hist mucbtrk_ElossCalo_SA {
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_SA {
    }    
      hist mucbtrk_ElossCalo_eta_SA {
    }
      hist mucbtrk_Rec_EtaPhi_SA {
 	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled

    }
      hist mucbtrk_Rec_Phi0_SA {
    }
      hist mucbtrk_Rec_charge_SA {
    }
      hist mucbtrk_Rec_chisqDoF_SA {
    }
      hist mucbtrk_Rec_d0_SA {
    }
      hist mucbtrk_Rec_eta_SA {
    }
      hist mucbtrk_Rec_pT_SA {
    }
      hist mucbtrk_Rec_pT_vrs_eta_SA {
    }
      hist mucbtrk_Rec_pT_vrs_phi_SA {
    }
      hist mucbtrk_Rec_theta0_SA {
    }
      hist mucbtrk_Rec_z0_SA {
    }
      hist mucbtrk_SummaryComb_SA {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_cutflow_SA {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_nRPCTGChits_SA {
	  output = MuonCombined/DQShifter/MuidSA
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_nMDThits_SA {
	  output = MuonCombined/DQShifter/MuidSA
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPCPhihits_SA {
	  output = MuonCombined/DQShifter/MuidSA
	  	algorithm = muKolmogorov
    }
  }  
  dir Muonboy {
    hist mucbtrk_cutflow_SA { 
	output = MuonCombined/DQShifter/Muonboy
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT_SA { 
	output = MuonCombined/DQShifter/Muonboy
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi_SA {
	output = MuonCombined/DQShifter/Muonboy
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_SA { 
	output = MuonCombined/DQShifter/Muonboy
      algorithm = MuonComb_RecChargeMean 
    } 
      output = MuonCombined/DQExpert/Muonboy
      hist mucbtrk_ElossCalo_SA {
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_SA {
    }    
      hist mucbtrk_ElossCalo_eta_SA {
    }
      hist mucbtrk_Rec_EtaPhi_SA {
 	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0_SA {
    }
      hist mucbtrk_Rec_charge_SA {
    }
      hist mucbtrk_Rec_chisqDoF_SA {
    }
      hist mucbtrk_Rec_d0_SA {
    }
      hist mucbtrk_Rec_eta_SA {
    }
      hist mucbtrk_Rec_pT_SA {
    }
      hist mucbtrk_Rec_pT_vrs_eta_SA {
    }
      hist mucbtrk_Rec_pT_vrs_phi_SA {
    }
      hist mucbtrk_Rec_theta0_SA {
    }
      hist mucbtrk_Rec_z0_SA {
    }
      hist mucbtrk_SummaryComb_SA {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_cutflow_SA {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_nRPCTGChits_SA {
	  output = MuonCombined/DQShifter/Muonboy
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_nMDThits_SA {
	  output = MuonCombined/DQShifter/Muonboy
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPCPhihits_SA {
	  output = MuonCombined/DQShifter/Muonboy
	  	algorithm = muKolmogorov
    }
  }     
  dir Staco {
    hist mucbtrk_cutflow { 
	output = MuonCombined/DQShifter/Staco
		algorithm = MuonComb_CutFlowNotEmpty
		display = AxisRange(0.5,9.5,"X")
    } 
    hist mucbtrk_Rec_pT { 
	output = MuonCombined/DQShifter/Staco
	algorithm = muKolmogorov
    }  
    hist mucbtrk_Rec_EtaPhi { 
	output = MuonCombined/DQShifter/Staco
      algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled	
    }   
    hist mucbtrk_Rec_charge { 
	output = MuonCombined/DQShifter/Staco
      algorithm = MuonComb_RecChargeMean 
    } 
    hist mucbtrk_dq { 
	output = MuonCombined/DQShifter/Staco
		display = AxisRange(-2.5,2.5,"X")
      algorithm = MuonComb_RecChargeMean 
    } 
    hist mucbtrk_deltaEloss { 
	output = MuonCombined/DQShifter/Staco
      algorithm  = MuonComb_deltaElossMeanstaco 
    }
      output = MuonCombined/DQExpert/Staco
      hist mucbtrk_ElossCalo {
	  #algorithm = MuonComb_Eloss
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi {
    }    
      hist mucbtrk_ElossCalo_eta {
    }
      hist mucbtrk_ElossMSID {
    }
      hist mucbtrk_ElossMSID_eta {
    }
      hist mucbtrk_ElossMSID_phi {
    }
      hist mucbtrk_Rec_EtaPhi {
  	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0 {
    }
      hist mucbtrk_Rec_charge {
    }
      hist mucbtrk_Rec_chisqDoF {
    }
      hist mucbtrk_Rec_d0 {
    }
      hist mucbtrk_Rec_eta {
    }
      hist mucbtrk_Rec_pT {
    }
      hist mucbtrk_Rec_pT_vrs_eta {
    }
      hist mucbtrk_Rec_pT_vrs_phi {
    }
      hist mucbtrk_Rec_theta0 {
    }
      hist mucbtrk_Rec_z0 {
    }
      hist mucbtrk_SummaryComb {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_chisq0 {
    }
      hist mucbtrk_chisq0_neg {
    }
      hist mucbtrk_chisq0_pos {
    }
      hist mucbtrk_chisq_Barrel {
    }
      hist mucbtrk_chisq_Endcap {
    }
      hist mucbtrk_cutflow {
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_dd0 {
    }
      hist mucbtrk_dd0_neg {
    }
      hist mucbtrk_dd0_pos {
    }
      hist mucbtrk_deltaEloss {
    }
      hist mucbtrk_dmom0 {
    }
      hist mucbtrk_dmom_Barrel {
    }
      hist mucbtrk_dmom_Endcap {
    }
      hist mucbtrk_dpTvseta {
    }
      hist mucbtrk_dpTvspT {
    }
      hist mucbtrk_dpTvsphi {
    }
      hist mucbtrk_dq {
	  	display = AxisRange(-2.5,2.5,"X")
    }
      hist mucbtrk_dz0 {
    }
      hist mucbtrk_dz0_neg {
    }
      hist mucbtrk_dz0_pos {
    }
      hist mucbtrk_nSCThits {
    }
      hist mucbtrk_nPIXELhits {
    }
      hist mucbtrk_nTRThits {
    }
      hist mucbtrk_nMDThits {
	  output = MuonCombined/DQShifter/Staco
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPChits {
	  output = MuonCombined/DQShifter/Staco
	  	algorithm = muKolmogorov
    }
      hist mucbtrk_pullPhi_Barrel {
    }
      hist mucbtrk_pullPhi_Endcap {
    }
      hist mucbtrk_pullR_Endcap {
    }
      hist mucbtrk_pullRphi_Barrel {
    }
      hist mucbtrk_pulld0 {
    }
      hist mucbtrk_pulld0_neg {
    }
      hist mucbtrk_pulld0_pos {
    }
      hist mucbtrk_pullphi0 {
    }
      hist mucbtrk_pullphi0_neg {
    }
      hist mucbtrk_pullphi0_pos {
    }
      hist mucbtrk_pullphi_Endcap {
    }
      hist mucbtrk_pullqp0 {
    }
      hist mucbtrk_pullqp0_neg {
    }
      hist mucbtrk_pullqp0_pos {
    }
      hist mucbtrk_pullqp_Barrel {
    }
      hist mucbtrk_pullqp_Endcap {
    }
      hist mucbtrk_pulltheta0 {
    }
      hist mucbtrk_pulltheta0_neg {
    }
      hist mucbtrk_pulltheta0_pos {
    }
      hist mucbtrk_pulltheta_Barrel {
    }
      hist mucbtrk_pulltheta_Endcap {
    }
      hist mucbtrk_pullz0 {
    }
      hist mucbtrk_pullz0_neg {
    }
      hist mucbtrk_pullz0_pos {
    }
      hist mucbtrk_pullz_Barrel {
    }
      hist mucbtrk_qopidvsms {
    }
  }  
  dir MuonEfficiency {
    hist effi_author {
      output = MuonCombined/DQShifter/MuonEfficiency/Total
      algorithm = MuonEffi_check_tt
	  display = AxisRange(0.85,1.060,"Y")
    }
    hist effi_author_zoom {
      output = MuonCombined/DQShifter/MuonEfficiency/Total
      algorithm = MuonEffi_check_tt
    }
    hist efficiency_CaloLikelihood_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuCaloLR
	  display = AxisRange(0.85,1.060,"Y")
	  	  algorithm = MuonEffi_check
    }
    hist efficiency_CaloTag_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuCaloTag
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_MuGirl_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuGirl
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_MuTagIMO_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuTagIMO
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_MuTag_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuTag
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_MuidCB_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuidCB
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_MuidSA_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/MuidSA
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_MuonBoy_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/Muonboy
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_Staco_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/Staco
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_muonsCB_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainCB
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_muonsSA_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainSA
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_muonsMSTagged_eta {
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainMSTagged
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    hist efficiency_CaloLikelihood_pt {
      output = MuonCombined/DQShifter/MuonEfficiency/MuCaloLR
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check

    }                                                       
    hist efficiency_CaloTag_pt {                            
      output = MuonCombined/DQShifter/MuonEfficiency/MuCaloTag
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_MuGirl_pt {                             
      output = MuonCombined/DQShifter/MuonEfficiency/MuGirl
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_MuTagIMO_pt {                           
      output = MuonCombined/DQShifter/MuonEfficiency/MuTagIMO
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_MuTag_pt {                              
      output = MuonCombined/DQShifter/MuonEfficiency/MuTag
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_MuidCB_pt {                             
      output = MuonCombined/DQShifter/MuonEfficiency/MuidCB
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_MuidSA_pt {                             
      output = MuonCombined/DQShifter/MuonEfficiency/MuidSA
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_MuonBoy_pt {                            
      output = MuonCombined/DQShifter/MuonEfficiency/Muonboy
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }                                                       
    hist efficiency_Staco_pt {                              
      output = MuonCombined/DQShifter/MuonEfficiency/Staco
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
	  }
    hist efficiency_muonsCB_pt {                              
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainCB
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
	  }
    hist efficiency_muonsSA_pt {                              
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainSA
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
	  }
    hist efficiency_muonsMSTagged_pt {                              
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainMSTagged
	  display = AxisRange(0.85,1.060,"Y")
	  algorithm = MuonEffi_check
    }
    #hist effi_CaloLikelihood_pt_eta {
     # output = MuonCombined/DQShifter/MuonEfficiency/MuCaloLR
	 # algorithm = MuonComb_checkMeanEffi
    #}                                                       
    #hist effi_CaloTag_pt_eta {                            
    #  output = MuonCombined/DQShifter/MuonEfficiency/MuCaloTag
	#  algorithm = MuonComb_checkMeanEffi
    #}                                                       
    hist effi_MuGirl_pt_eta {                             
      output = MuonCombined/DQShifter/MuonEfficiency/MuGirl
	  algorithm = MuonComb_checkMeanEffi
    }                                                       
    hist effi_MuTagIMO_pt_eta {                           
      output = MuonCombined/DQShifter/MuonEfficiency/MuTagIMO
	  algorithm = MuonComb_checkMeanEffi
    }                                                       
    hist effi_MuTag_pt_eta {                              
      output = MuonCombined/DQShifter/MuonEfficiency/MuTag
	  algorithm = MuonComb_checkMeanEffi
    }                                                       
    hist effi_MuidCB_pt_eta {                             
      output = MuonCombined/DQShifter/MuonEfficiency/MuidCB
	  algorithm = MuonComb_checkMeanEffi
    }                                                       
    hist effi_MuidSA_pt_eta {                             
      output = MuonCombined/DQShifter/MuonEfficiency/MuidSA
	  algorithm = MuonComb_checkMeanEffi
    }                                                       
    hist effi_MuonBoy_pt_eta {                            
      output = MuonCombined/DQShifter/MuonEfficiency/Muonboy
	  algorithm = MuonComb_checkMeanEffi
    }                                                       
    hist effi_Staco_pt_eta {                              
      output = MuonCombined/DQShifter/MuonEfficiency/Staco
	  algorithm = MuonComb_checkMeanEffi
	  }
    hist effi_muonsCB_pt_eta {                              
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainCB
	  algorithm = MuonComb_checkMeanEffi
	  }
    hist effi_muonsSA_pt_eta {                              
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainSA
	  algorithm = MuonComb_checkMeanEffi
	  }
    hist effi_muonsMSTagged_pt_eta {                              
      output = MuonCombined/DQShifter/MuonEfficiency/ThirdChainMSTagged
	  algorithm = MuonComb_checkMeanEffi
    }
    hist EF_mu24i_tight_pt {
        output = MuonCombined/DQShifter/MuonEfficiency/Trigger
		display = AxisRange(0.85,1.060,"Y")
		algorithm = MuonEffi_check_tt_pt
    }
    hist EF_mu40_MSonly_barrel_tight_pt {
        output = MuonCombined/DQShifter/MuonEfficiency/Trigger
		display = AxisRange(0,1.060,"Y")
		algorithm = MuonEffi_check_tt_pt
    }
    hist EF_mu24i_tight_eta {
        output = MuonCombined/DQShifter/MuonEfficiency/Trigger
		display = AxisRange(0.85,1.060,"Y")
		algorithm = MuonEffi_check_tt
    }
    hist EF_mu40_MSonly_barrel_tight_eta {
        output = MuonCombined/DQShifter/MuonEfficiency/Trigger
		algorithm = MuonEffi_check_tt_etams
    }
    hist EF_mu24i_tight_phi {
        output = MuonCombined/DQShifter/MuonEfficiency/Trigger
		display = AxisRange(0,1.060,"Y")
		algorithm = MuonEffi_check_tt_phi
    }
    hist EF_mu40_MSonly_barrel_tight_phi {
        output = MuonCombined/DQShifter/MuonEfficiency/Trigger
		display = AxisRange(0,1.060,"Y")
		algorithm = MuonEffi_check_tt_phi
    }
    output = MuonCombined/DQExpert/MuonEfficiency
    hist effi_author {
    }
    hist effi_author_zoom {
    }
    hist efficiency_CaloLikelihood_eta {
    }
    hist efficiency_CaloTag_eta {
    }
    hist efficiency_MuGirl_eta {
    }
    hist efficiency_MuTagIMO_eta {
    }
    hist efficiency_MuTag_eta {
    }
    hist efficiency_MuidCB_eta {
    }
    hist efficiency_MuidSA_eta {
    }
    hist efficiency_MuonBoy_eta {
    }
    hist efficiency_Staco_eta {
    }
    hist efficiency_CaloLikelihood_pt {
    }                                                       
    hist efficiency_CaloTag_pt {                            
    }                                                       
    hist efficiency_MuGirl_pt {                             
    }    
    hist efficiency_MuGirlLowBeta_pt {                             
    }
    hist efficiency_MuGirlLowBeta_eta {                             
    }
    hist efficiency_MuTagIMO_pt {                           
    }                                                       
    hist efficiency_MuTag_pt {                              
    }                                                       
    hist efficiency_MuidCB_pt {                             
    }                                                       
    hist efficiency_MuidSA_pt {                             
    }                                                       
    hist efficiency_MuonBoy_pt {                            
    }                                                       
    hist efficiency_Staco_pt {                              
    }
    hist effi_CaloLikelihood_pt_eta {
    }                                                       
    hist effi_CaloTag_pt_eta {                            
    }                                                       
    hist effi_MuGirl_pt_eta {                             
    }
    hist effi_MuGirlLowBeta_pt_eta {                             
    }                        	
    hist effi_MuTagIMO_pt_eta {                           
    }                                                       
    hist effi_MuTag_pt_eta {                              
    }                                                       
    hist effi_MuidCB_pt_eta {                             
    }                                                       
    hist effi_MuidSA_pt_eta {                             
    }                                                       
    hist effi_MuonBoy_pt_eta {                            
    }                                                       
    hist effi_Staco_pt_eta {                              
    }
   hist effi_muonsCB_pt_eta {                              
    }
   hist effi_muonsSA_pt_eta {                              
    }
   hist effi_muonsMSTagged_pt_eta {                              
    }
    hist EF_mu24i_tight_pt {
    }
    hist EF_mu24i_tight_MG_pt {
    }
    hist EF_mu40_MSonly_barrel_tight_pt {
    }
    hist EF_mu24i_tight_eta {
    }
    hist EF_mu24i_tight_MG_eta {
    }
    hist EF_mu40_MSonly_barrel_tight_eta {
    }
    hist EF_mu24i_tight_phi {
    }
    hist EF_mu24i_tight_MG_phi {
    }
    hist EF_mu40_MSonly_barrel_tight_phi {
    }
    hist cutflow_calo {
	display = AxisRange(0.5,9.5,"X")
    }
    hist cutflow_muid {
	display = AxisRange(0.5,9.5,"X")
    }
    hist cutflow_staco {
	display = AxisRange(0.5,9.5,"X")
    }
    hist cutflow_muons {
	display = AxisRange(0.5,9.5,"X")
    }
    hist cutflow_tracks {
    }
    hist d0_muons {
    }
    hist d0_tracks {
    }
    hist delta_R {
    }
    hist delta_R_calo {
    }
    hist delta_d0 {
    }
    hist delta_p {
    }
    hist delta_p_calo {
    }
    hist probe_CaloLikelihood_pt_eta {
    }
    hist probe_CaloTag_pt_eta {
    }
    hist probe_MuGirlLowBeta_pt_eta {
    }
    hist probe_MuGirl_pt_eta {
    }
    hist probe_MuTagIMO_pt_eta {
    }
    hist probe_MuTag_pt_eta {
    }
    hist probe_MuidCB_pt_eta {
    }
    hist probe_MuidSA_pt_eta {
    }
    hist probe_MuonBoy_pt_eta {
    }
    hist probe_Staco_pt_eta {
    }
    hist probe_phi {
    }
    hist probe_sector {
    }
    hist probe_track_iso {
    }
    hist ref_CaloLikelihood_pt_eta {
    }
    hist ref_CaloTag_pt_eta {
    }
    hist ref_MuGirlLowBeta_pt_eta {
    }
    hist ref_MuGirl_pt_eta {
    }
    hist ref_MuTagIMO_pt_eta {
    }
    hist ref_MuTag_pt_eta {
    }
    hist ref_MuidCB_pt_eta {
    }
    hist ref_MuidSA_pt_eta {
    }
    hist ref_MuonBoy_pt_eta {
    }
    hist ref_Staco_pt_eta {
    }
    hist ref_muonsCB_pt_eta {
    }
    hist ref_muonsSA_pt_eta {
    }
    hist ref_muonsMSTagged_pt_eta {
    }
    hist tag_calo_iso {
    }
    hist tp_cutflow_calo {
	display = AxisRange(0.5,9.5,"X")
    }
    hist tp_cutflow_muid {
	display = AxisRange(0.5,9.5,"X")
    }
    hist tp_cutflow_staco {
	display = AxisRange(0.5,9.5,"X")
    }
	hist tp_cutflow_muons {
	display = AxisRange(0.5,9.5,"X")
    }
    hist z_mass {
    }
  }
    dir Standalone {
      output = MuonCombined/DQExpert/ThirdChainSA
      hist mucbtrk_ElossCalo_SA {
	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_SA {
    }    
      hist mucbtrk_ElossCalo_eta_SA {
    }
      hist mucbtrk_Rec_EtaPhi_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
  	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0_SA {
    }
      hist mucbtrk_Rec_charge_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
	  algorithm = MuonComb_RecChargeMean
    }
      hist mucbtrk_Rec_chisqDoF_SA {
    }
      hist mucbtrk_Rec_d0_SA {
    }
      hist mucbtrk_Rec_eta_SA {
    }
      hist mucbtrk_Rec_pT_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
	  algorithm = muKolmogorov
    }
      hist mucbtrk_Rec_pT_vrs_eta_SA {
    }
      hist mucbtrk_Rec_pT_vrs_phi_SA {
    }
      hist mucbtrk_Rec_theta0_SA {
    }
      hist mucbtrk_Rec_z0_SA {
    }
      hist mucbtrk_SummaryComb_SA {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_cutflow_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
	  display = AxisRange(0.5,9.5,"X")
	  algorithm = MuonComb_CutFlowNotEmpty
    }
      hist mucbtrk_nRPCTGChits_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
	  algorithm = muKolmogorov
    }
      hist mucbtrk_nMDThits_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
	  algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPCPhihits_SA {
	  output = MuonCombined/DQShifter/ThirdChainSA
	  algorithm = muKolmogorov
    }
 }
    dir Combined { 
      output = MuonCombined/DQExpert/ThirdChainCB
      hist mucbtrk_ElossCalo {
  	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi {
    }    
      hist mucbtrk_ElossCalo_eta {
    }
      hist mucbtrk_ElossMSID {
    }
      hist mucbtrk_ElossMSID_eta {
    }
      hist mucbtrk_ElossMSID_phi {
    }
      hist mucbtrk_Rec_EtaPhi {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0 {
    }
      hist mucbtrk_Rec_charge {
     output = MuonCombined/DQShifter/ThirdChainCB
	 algorithm = MuonComb_RecChargeMean
    }
      hist mucbtrk_Rec_chisqDoF {
    }
      hist mucbtrk_Rec_d0 {
    }
      hist mucbtrk_Rec_eta {
    }
      hist mucbtrk_Rec_pT {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  algorithm = muKolmogorov
    }
      hist mucbtrk_Rec_pT_vrs_eta {
    }
      hist mucbtrk_Rec_pT_vrs_phi {
    }
      hist mucbtrk_Rec_theta0 {
    }
      hist mucbtrk_Rec_z0 {
    }
      hist mucbtrk_SummaryComb {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_chisq0 {
    }
      hist mucbtrk_chisq0_neg {
    }
      hist mucbtrk_chisq0_pos {
    }
      hist mucbtrk_chisq_Barrel {
    }
      hist mucbtrk_chisq_Endcap {
    }
      hist mucbtrk_cutflow {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  algorithm = MuonComb_CutFlowNotEmpty
	  display = AxisRange(0.5,9.5,"X")
    }
      hist mucbtrk_dd0 {
    }
      hist mucbtrk_dd0_neg {
    }
      hist mucbtrk_dd0_pos {
    }
      hist mucbtrk_deltaEloss {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  algorithm  = MuonComb_deltaElossMeanstaco
    }
      hist mucbtrk_dmom0 {
    }
      hist mucbtrk_dmom_Barrel {
    }
      hist mucbtrk_dmom_Endcap {
    }
      hist mucbtrk_dpTvseta {
    }
      hist mucbtrk_dpTvspT {
    }
      hist mucbtrk_dpTvsphi {
    }
      hist mucbtrk_dq {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  	display = AxisRange(-2.5,2.5,"X")
		algorithm = MuonComb_RecChargeMean
    }
      hist mucbtrk_dz0 {
    }
      hist mucbtrk_dz0_neg {
    }
      hist mucbtrk_dz0_pos {
    }
      hist mucbtrk_nSCThits {
    }
      hist mucbtrk_nPIXELhits {
    }
      hist mucbtrk_nTRThits {
    }
      hist mucbtrk_nMDThits {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPChits {
	  output = MuonCombined/DQShifter/ThirdChainCB
	  algorithm = muKolmogorov
    }
      hist mucbtrk_pullPhi_Barrel {
    }
      hist mucbtrk_pullPhi_Endcap {
    }
      hist mucbtrk_pullR_Endcap {
    }
      hist mucbtrk_pullRphi_Barrel {
    }
      hist mucbtrk_pulld0 {
    }
      hist mucbtrk_pulld0_neg {
    }
      hist mucbtrk_pulld0_pos {
    }
      hist mucbtrk_pullphi0 {
    }
      hist mucbtrk_pullphi0_neg {
    }
      hist mucbtrk_pullphi0_pos {
    }
      hist mucbtrk_pullphi_Endcap {
    }
      hist mucbtrk_pullqp0 {
    }
      hist mucbtrk_pullqp0_neg {
    }
      hist mucbtrk_pullqp0_pos {
    }
      hist mucbtrk_pullqp_Barrel {
    }
      hist mucbtrk_pullqp_Endcap {
    }
      hist mucbtrk_pulltheta0 {
    }
      hist mucbtrk_pulltheta0_neg {
    }
      hist mucbtrk_pulltheta0_pos {
    }
      hist mucbtrk_pulltheta_Barrel {
    }
      hist mucbtrk_pulltheta_Endcap {
    }
      hist mucbtrk_pullz0 {
    }
      hist mucbtrk_pullz0_neg {
    }
      hist mucbtrk_pullz0_pos {
    }
      hist mucbtrk_pullz_Barrel {
    }
      hist mucbtrk_qopidvsms {
    }
  }
  dir MSTagged {   
      output = MuonCombined/DQExpert/ThirdChainMSTagged
      hist mucbtrk_ElossCalo_msTag {
  	  display = AxisRange(0,30,"X")
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
	  output = MuonCombined/DQShifter/ThirdChainMSTagged
	  algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
	  output = MuonCombined/DQShifter/ThirdChainMSTagged
	  algorithm = MuonComb_RecChargeMean
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
	  output = MuonCombined/DQShifter/ThirdChainMSTagged
	  algorithm = muKolmogorov
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
	  output = MuonCombined/DQShifter/ThirdChainMSTagged
	  display = AxisRange(0.5,9.5,"X")
	  algorithm = MuonComb_CutFlowNotEmpty
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
	  output = MuonCombined/DQShifter/ThirdChainMSTagged
	  algorithm = muKolmogorov
    }
      hist mucbtrk_nTGCRPChits_msTag {
	  output = MuonCombined/DQShifter/ThirdChainMSTagged
	  algorithm = muKolmogorov
    }
 }
}


#############
# Output
#############

output top_level {
  output MuonCombined {
    output DQShifter {
       output Muonboy {
       }    
       output Staco {
       }
       output MuTag {
       }  
       output MuidSA {
       }               
       output MuidCB {
       } 
       output MuGirl {
       }            
       output MuTagIMO {
       }          
       output MuCaloLR {
       }          
       output MuCaloTag {
       }
	   output ThirdChainCB {
       }
       output ThirdChainSA {
       }
       output ThirdChainMSTagged {
       }
       output MuonEfficiency {
           output Total {
           }
           output Muonboy {
           }    
           output Staco {
           }
           output MuTag {
           }  
           output MuidSA {
           }               
           output MuidCB {
           } 
           output MuGirl {
           }            
           output MuTagIMO {
           }          
           output MuCaloLR {
           }          
           output MuCaloTag {
           }
		   output ThirdChainCB {
           }
           output ThirdChainSA {
           }
           output ThirdChainMSTagged {
           }
           output Trigger {
           }
       }
    }  
    output DQExpert {
       output Muonboy {
       }    
       output Staco {
       }
       output MuTag {
       }  
       output MuidSA {
       }               
       output MuidCB {
       } 
       output MuGirl {
       }           
       output MuTagIMO {
       }          
       output MuCaloLR {
       }          
       output MuCaloTag {
       }
       output MuonEfficiency {
       }
       output ThirdChainSA {
       }
       output ThirdChainCB {
       }
       output ThirdChainMSTagged {
       }
    }  
  }
}


##############
# Algorithms
##############
algorithm MuonEffi_check {
  libname = libdqm_algorithms.so
  name = BinContentComp
  reference = CentrallyManagedReferences
  NSigma = 3
  #ignore0 = 1
 # Value = 1
  MinStat = 500
  IncludeRefError = 1
  thresholds = MuonEffi_check_thresholds
}

algorithm MuonEffi_check_tt {
  libname = libdqm_algorithms.so
  name = BinContentComp
  reference = CentrallyManagedReferences
  NSigma = 3
  #ignore0 = 1
  MinStat = 500
  IncludeRefError = 1
  thresholds = MuonEffi_check_thresholds
}

algorithm MuonEffi_check_tt_phi {
  libname = libdqm_algorithms.so
  name = BinContentComp
  reference = CentrallyManagedReferences
  NSigma = 3
  #ignore0 = 1
  MinStat = 500
  IncludeRefError = 1
  thresholds = MuonEffi_check_thresholds_phi
}
algorithm MuonEffi_check_tt_etams {
  libname = libdqm_algorithms.so
  name = BinContentComp
  reference = CentrallyManagedReferences
  NSigma = 3
  #ignore0 = 1
  MinStat = 500
  IncludeRefError = 1
  thresholds = MuonEffi_check_thresholds_etams
}

algorithm MuonEffi_check_tt_pt {
  libname = libdqm_algorithms.so
  name = BinContentComp
  reference = CentrallyManagedReferences
  NSigma = 3
  #ignore0 = 1
  MinStat = 500
  IncludeRefError = 1
  thresholds = MuonEffi_check_thresholds_pt
}


algorithm MuonComb_Rec_EtaPhi_All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
  MinStat = 500 
  reference = CentrallyManagedReferences 
}

compositeAlgorithm KurtosisTest_GreaterThan&SkewnessTest_LessThanAbs {
  libname = libdqm_algorithms.so
  subalgs = KurtosisTest_GreaterThan,SkewnessTest_LessThanAbs
  reference = CentrallyManagedReferences 
  MinStat = 500
} 

algorithm MuonComb_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  MinStat = 500
  reference = CentrallyManagedReferences  
}

algorithm MuonComb_CutFlowNotEmpty {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
  MinStat = 500
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_RecChargeMean {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  MinStat = 500
  thresholds = MuonComb_RecChargeMeanThresholds
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_deltaElossMeanstaco {
  libname = libdqm_algorithms.so
  name = Simple_landau_Fit
  MinStat = 500
  thresholds = MuonComb_deltaElossMeanThresholdstaco
  reference = CentrallyManagedReferences 
}
algorithm MuonComb_deltaElossMeanmuidcb {
  libname = libdqm_algorithms.so
  name = Simple_landau_Fit
  MinStat = 500
  thresholds = MuonComb_deltaElossMeanThresholdsmuidcb
  reference = CentrallyManagedReferences 
}


compositeAlgorithm CheckHisto_Mean&CheckHisto_RMS {
  libname = libdqm_algorithms.so
  subalgs = CheckHisto_Mean,CheckHisto_RMS
  MinStat = 500
} 

algorithm MuonComb_Eloss {
  name = CheckHisto_Mean&CheckHisto_RMS
  MinStat = 500
  CheckHisto_Mean|thresholds = MuonComb_ElossMean
  CheckHisto_RMS|thresholds = MuonComb_ElossRMS
  reference = CentrallyManagedReferences 
}

algorithm muKolmogorov {
    libname = libdqm_algorithms.so
        name = KolmogorovTest_MaxDist
        reference = CentrallyManagedReferences 
        thresholds = muKolmogorovThr
        MinStat = 500
}
algorithm MuonComb_checkMeanEffi {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MuonComb_checkMeanEffiThresholds
  reference = CentrallyManagedReferences 
  MinStat = 500
}

##############
# Thresholds
##############
thresholds MuonEffi_check_thresholds {
  limits NBins {
    warning = 2
    error = 5
  }
}

thresholds MuonEffi_check_thresholds_phi {
  limits NBins {
    warning = 1
    error = 3
  }
}

thresholds MuonEffi_check_thresholds_etams {
  limits NBins {
    warning = 1
    error = 2
  }
}

thresholds MuonEffi_check_thresholds_pt {
  limits NBins {
    warning = 3
    error = 5
  }
}

thresholds MuonComb_RecChargeMeanThresholds {
  limits AbsXMean {
  warning = 0.09
  error = 0.1
    }
}
thresholds MuonComb_checkMeanEffiThresholds {
  limits AbsXMean {
  error = 0.5
  warning = 0.3
  
    }
}

thresholds MuonComb_deltaElossMeanThresholdstaco {
  limits Sigma {
  warning = 0.8
  error = 2
    }
}

thresholds MuonComb_deltaElossMeanThresholdsmuidcb {
  limits Sigma {
  warning = 0.8
  error = 2
    }
}

thresholds muKolmogorovThr {
    limits MaxDist {
        warning = 0.06
        error = 0.135
    }
}
thresholds MuonComb_ElossMean {
  limits AbsXMean {
  warning = 3.5
  error = 4.5
    }
}

thresholds MuonComb_ElossRMS {
  limits XRMS {
  warning = 1.5
  error = 2.5
    }
}

