# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

############################################################
# MuonCombined
############################################################

#############
# Output
#############

output top_level {
  output MuonCombined {
    output DQShift {
       output Muonboy {
       }    
       output Staco {
       }
       output MuTag {
       }  
       output MuidSA {
       }               
       output MuidCB {
       } 
       output MuGirl {
       }            
       output MuTagIMO {
       }          
       output MuCaloLR {
       }          
       output MuCaloTag {
       }          
    }  
    output AllHists {
       output Muonboy {
       }    
       output Staco {
       }
       output MuTag {
       }  
       output MuidSA {
       }               
       output MuidCB {
       } 
       output MuGirl {
       }            
       output MuTagIMO {
       }          
       output MuCaloLR {
       }          
       output MuCaloTag {
       }  
    }  
  }
}

#######################
# Histogram Assessments
#######################

dir MuonCombined {
  algorithm = MuonComb_GatherData
  reference = CentrallyManagedReferences
  dir MuCaloLR {
    output = MuonCombined/AllHists/MuCaloLR
    hist all_in_dir {
    }
    hist mucbtrk_author_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
      algorithm = MuonComb_CutFlowNotEmpty  
    }
    hist mucbtrk_cutflow_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
      algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
    }  
    hist mucbtrk_Rec_EtaPhi_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
    }   
    hist mucbtrk_Rec_charge_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_Rec_z0_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
      algorithm = MuonComb_Rec_z0Uniform 	
    }                  
    hist mucbtrk_Rec_d0_caloTag {
      output = MuonCombined/DQShift/MuCaloLR
      algorithm = MuonComb_Rec_d0Uniform 
    }       
  }  
  dir MuCaloTag {
    output = MuonCombined/AllHists/MuCaloTag
    hist all_in_dir {
    }
    hist mucbtrk_author_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
      algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
    }  
    hist mucbtrk_Rec_EtaPhi_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
    }   
    hist mucbtrk_Rec_charge_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_Rec_z0_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
      algorithm = MuonComb_Rec_z0Uniform 	
    }                  
    hist mucbtrk_Rec_d0_caloTag {
      output = MuonCombined/DQShift/MuCaloTag
      algorithm = MuonComb_Rec_d0Uniform 
    }    
  }    
  dir MuGirl {
    output = MuonCombined/AllHists/MuGirl
    hist all_in_dir {
    }
    hist mucbtrk_author_msTag {
      output = MuonCombined/DQShift/MuGirl
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow_msTag {
      output = MuonCombined/DQShift/MuGirl
      algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_msTag {
      output = MuonCombined/DQShift/MuGirl
    }  
    hist mucbtrk_Rec_EtaPhi_msTag {
      output = MuonCombined/DQShift/MuGirl
    }   
    hist mucbtrk_Rec_charge_msTag {
      output = MuonCombined/DQShift/MuGirl
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_Rec_z0_msTag {
      output = MuonCombined/DQShift/MuGirl
      algorithm = MuonComb_Rec_z0Uniform 	
    }                  
    hist mucbtrk_Rec_d0_msTag {
      output = MuonCombined/DQShift/MuGirl     
      algorithm = MuonComb_Rec_d0Uniform 	 
    } 
    hist mucbtrk_nMDThits_msTag {
      output = MuonCombined/DQShift/MuGirl
    }  
    hist mucbtrk_nTGCRPChits_msTag {
      output = MuonCombined/DQShift/MuGirl
    }            
  }
  dir MuTag {
    output = MuonCombined/AllHists/MuTag
    hist all_in_dir {
    }
    hist mucbtrk_author_msTag {
      output = MuonCombined/DQShift/MuTag
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow_msTag {
      output = MuonCombined/DQShift/MuTag
      algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_msTag {
      output = MuonCombined/DQShift/MuTag
    }  
    hist mucbtrk_Rec_EtaPhi_msTag {
      output = MuonCombined/DQShift/MuTag
    }   
    hist mucbtrk_Rec_charge_msTag {
      output = MuonCombined/DQShift/MuTag
    }   
    hist mucbtrk_Rec_z0_msTag {
      output = MuonCombined/DQShift/MuTag
      algorithm = MuonComb_Rec_z0Uniform 	
    }                  
    hist mucbtrk_Rec_d0_msTag {
      output = MuonCombined/DQShift/MuTag
      algorithm = MuonComb_Rec_d0Uniform 
    }   
  }
  dir MuTagIMO {
    output = MuonCombined/AllHists/MuTagIMO
    hist all_in_dir {
    }
    hist mucbtrk_author_msTag {
      output = MuonCombined/DQShift/MuTagIMO
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow_msTag {
      output = MuonCombined/DQShift/MuTagIMO
      algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_msTag {
      output = MuonCombined/DQShift/MuTagIMO
    }  
    hist mucbtrk_Rec_EtaPhi_msTag {
      output = MuonCombined/DQShift/MuTagIMO
    }   
    hist mucbtrk_Rec_charge_msTag {
      output = MuonCombined/DQShift/MuTagIMO
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_Rec_z0_msTag {
      output = MuonCombined/DQShift/MuTagIMO
      algorithm = MuonComb_Rec_z0Uniform 	
    }                  
    hist mucbtrk_Rec_d0_msTag {
      output = MuonCombined/DQShift/MuTagIMO
      algorithm = MuonComb_Rec_d0Uniform
    }    
    hist mucbtrk_nMDThits_msTag {
      output = MuonCombined/DQShift/MuTagIMO
    }  
    hist mucbtrk_nTGCRPChits_msTag {
      output = MuonCombined/DQShift/MuTagIMO
    }        
  }       
  dir MuidCB {
    output = MuonCombined/AllHists/MuidCB
    hist all_in_dir {
    }    
    hist mucbtrk_author {
      output = MuonCombined/DQShift/MuidCB
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow {
      output = MuonCombined/DQShift/MuidCB
      algorithm = MuonComb_CutFlowNotEmpty
    }     
    hist mucbtrk_Rec_pT {
      output = MuonCombined/DQShift/MuidCB
    }  
    hist mucbtrk_Rec_EtaPhi {
      output = MuonCombined/DQShift/MuidCB
    }   
    hist mucbtrk_Rec_charge {
      output = MuonCombined/DQShift/MuidCB
      algorithm = MuonComb_RecChargeMean       	
    } 
    hist mucbtrk_dq {
      output = MuonCombined/DQShift/MuidCB
    } 
    hist mucbtrk_pullz0 {
      output = MuonCombined/DQShift/MuidCB
      algorithm = MuonComb_pullz0MeanRMS 
    }   
    hist mucbtrk_pulld0 {
      output = MuonCombined/DQShift/MuidCB
      algorithm = MuonComb_pulld0MeanRMS 
    }  
    hist mucbtrk_deltaEloss {
      output = MuonCombined/DQShift/MuidCB
      algorithm  = MuonComb_deltaElossMean	
    }       
  }
  dir MuidSA {
    output = MuonCombined/AllHists/MuidSA
    hist all_in_dir {
    } 
    hist mucbtrk_author_SA {
      output = MuonCombined/DQShift/MuidSA
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow_SA {
      output = MuonCombined/DQShift/MuidSA
      algorithm = MuonComb_CutFlowNotEmpty
    } 
    hist mucbtrk_Rec_pT_SA {
      output = MuonCombined/DQShift/MuidSA
    }  
    hist mucbtrk_Rec_EtaPhi_SA {
      output = MuonCombined/DQShift/MuidSA
    }   
    hist mucbtrk_Rec_charge_SA {
      output = MuonCombined/DQShift/MuidSA
      algorithm = MuonComb_RecChargeMean 
    }   
    hist mucbtrk_Rec_z0_SA {
      output = MuonCombined/DQShift/MuidSA
      algorithm = MuonComb_Rec_z0Uniform 	 
    }                  
    hist mucbtrk_Rec_d0_SA {
      output = MuonCombined/DQShift/MuidSA
      algorithm = MuonComb_Rec_d0Uniform
    }     
  }  
  dir Muonboy {
    output = MuonCombined/AllHists/Muonboy
    hist all_in_dir {
    }
    hist mucbtrk_author_SA {
      output = MuonCombined/DQShift/Muonboy
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow_SA {
      output = MuonCombined/DQShift/Muonboy
      algorithm = MuonComb_CutFlowNotEmpty 
    } 
    hist mucbtrk_Rec_pT_SA {
      output = MuonCombined/DQShift/Muonboy
    }  
    hist mucbtrk_Rec_EtaPhi_SA {
      output = MuonCombined/DQShift/Muonboy
    }   
    hist mucbtrk_Rec_charge_SA {
      output = MuonCombined/DQShift/Muonboy
      algorithm = MuonComb_RecChargeMean 
    }   
    hist mucbtrk_Rec_z0_SA {
      output = MuonCombined/DQShift/Muonboy
      algorithm = MuonComb_Rec_z0Uniform 
    }                  
    hist mucbtrk_Rec_d0_SA {
      output = MuonCombined/DQShift/Muonboy
      algorithm = MuonComb_Rec_d0Uniform 
    }               
  }     
  dir Staco {
    output = MuonCombined/AllHists/Staco
    hist all_in_dir {
    }
    hist mucbtrk_author {
      output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_CutFlowNotEmpty 
    }
    hist mucbtrk_cutflow {
      output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_CutFlowNotEmpty 
    } 
    hist mucbtrk_Rec_pT {
      output = MuonCombined/DQShift/Staco
    }  
    hist mucbtrk_Rec_EtaPhi {
      output = MuonCombined/DQShift/Staco
    }   
    hist mucbtrk_Rec_charge {
      output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_RecChargeMean 
    } 
    hist mucbtrk_dq {
      output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_dqBinsOutofRange 
    } 
    hist mucbtrk_pullz0 {
      output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_pullz0MeanRMS 
    }   
    hist mucbtrk_pulld0 {
      output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_pulld0MeanRMS 
    }  
    hist mucbtrk_deltaEloss {
      output = MuonCombined/DQShift/Staco
      algorithm  = MuonComb_deltaElossMean 
    }                        
  }  
  
}
##############
# Algorithms
##############
compositeAlgorithm KurtosisTest_LessThan&SkewnessTest_LessThanAbs {
  libname = libdqm_algorithms.so
  subalgs = KurtosisTest_LessThan,SkewnessTest_LessThanAbs
} 

algorithm MuonComb_Rec_z0Uniform {
  libname = libdqm_algorithms.so
  name = KurtosisTest_LessThan&SkewnessTest_LessThanAbs
  MinStat = 250
  xmin = -500
  xmax = 500
  KurtosisTest_LessThan|thresholds = MuonComb_Rec_z0KurtosisTest_LessThanThresholds 
  SkewnessTest_LessThanAbs|thresholds = MuonComb_Rec_z0SkewnessTest_LessThanAbsThresholds 
}
algorithm MuonComb_Rec_d0Uniform {
  libname = libdqm_algorithms.so
  name = KurtosisTest_LessThan&SkewnessTest_LessThanAbs
  MinStat = 250
  KurtosisTest_LessThan|thresholds = MuonComb_Rec_d0KurtosisTest_LessThanThresholds 
  SkewnessTest_LessThanAbs|thresholds = MuonComb_Rec_d0SkewnessTest_LessThanAbsThresholds 
}
algorithm MuonComb_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  MinStat = 250
  reference = CentrallyManagedReferences
}

algorithm MuonComb_CutFlowNotEmpty {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
  MinStat = 250
}

algorithm MuonComb_RecChargeMean {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  MinStat = 250
  thresholds = MuonComb_RecChargeMeanThresholds
}

algorithm MuonComb_deltaElossMean {
  libname = libdqm_algorithms.so
  name = Simple_landau_Fit
  MinStat = 250
  thresholds = MuonComb_deltaElossMeanThresholds
}


compositeAlgorithm CheckHisto_Mean&CheckHisto_RMS {
  libname = libdqm_algorithms.so
  subalgs = CheckHisto_Mean,CheckHisto_RMS
} 

algorithm MuonComb_pulld0MeanRMS {
  name = CheckHisto_Mean&CheckHisto_RMS
  CheckHisto_Mean|thresholds = MuonComb_pulld0MeanThresholds
  CheckHisto_RMS|thresholds = MuonComb_pulld0RMSThresholds
  MinStat = 250 
}

algorithm MuonComb_pullz0MeanRMS {
  name = CheckHisto_Mean&CheckHisto_RMS
  MinStat = 250
  CheckHisto_Mean|thresholds = MuonComb_pullz0MeanThresholds
  CheckHisto_RMS|thresholds = MuonComb_pullz0RMSThresholds
}

algorithm MuonComb_dqBinsOutofRange {
  libname = libdqm_algorithms.so
  name = BinsFilledOutRange 
  MinStat = 250
  xmin = -1
  xmax = 1
  thresholds = MuonComb_dqBinsOutofRangeThresholds
}
##############
# Thresholds
##############
thresholds MuonComb_Rec_z0KurtosisTest_LessThanThresholds {
  limits K {
  warning = -1.1
  error = -1.0
    } 
}
thresholds MuonComb_Rec_z0SkewnessTest_LessThanAbsThresholds {
  limits S {
  warning = .05
  error = .1
    } 
}
thresholds MuonComb_Rec_d0KurtosisTest_LessThanThresholds {
  limits K {
  warning = -1.1
  error = -1.0
    } 
}
thresholds MuonComb_Rec_d0SkewnessTest_LessThanAbsThresholds {
  limits S {
  warning = .05
  error = .1
    } 
}
thresholds MuonComb_RecChargeMeanThresholds {
  limits AbsXMean {
  warning = .5
  error = 10
    }
}

thresholds MuonComb_pulld0MeanThresholds {
  limits AbsXMean {
  warning = .2
  error = 10
    }
}

thresholds MuonComb_pulld0RMSThresholds {
  limits XRMS {
  warning = 1.25
  error = 10
    }
}

thresholds MuonComb_pulld0RMSMinThresholds {
  limits XRMS {
  warning = .75
  error = 0
    }
}

thresholds MuonComb_pullz0MeanThresholds {
  limits AbsXMean {
  warning = .2
  error = 10
    }
}

thresholds MuonComb_pullz0RMSThresholds {
  limits XRMS {
  warning = 1.25
  error = 10
    }
}

thresholds MuonComb_deltaElossMeanThresholds {
  limits MPV {
  warning = 1.5
  error = 100
    }
}

thresholds MuonComb_dqBinsOutofRangeThresholds {
  limits NBins {
  warning = 1
  error = 1000000
    }
}
