# **********************************************************************
# $Id: cosmics_run.config 696639 2015-09-24 15:14:58Z btong $
# **********************************************************************

############################################################
# MuonCombined
############################################################

#############
# Output
#############

output top_level {

    algorithm = WorstCaseSummary

    output MuonTracking {

        output Shifter {
            
            output Muons {
            }
            output Reco {
            }
        }
        
        output Expert {

            weight = 0
            
            output NonCBMuons {
            }
            output CBMuons {
            }
            output Segments {           
                output AllMuons {
                }
                output Container {
                }
            }
            output TracksMS {
            }
            output TracksID {
            }
            output TracksME {
            }
            output MSVertices {
            }
        }
    }
}

#######################
# Histogram Assessments
#######################


dir MuonPhysics {
    algorithm = MCP_Histogram_Not_Empty&GatherData

    dir NoTrig {

        dir Overview {

            dir CBMuons {
            
                hist NoTrig_Overview_CBMuons_nMuon_LB {
                    output = MuonTracking/Shifter/Muons
                    algorithm = Histogram_Not_Empty
                    description = Number of Muons observed in a LumiBlock
                }
                
            }

            dir NonCBMuons {
                
                hist NoTrig_Overview_NonCBMuons_nMuon_LB {
                    output = MuonTracking/Shifter/Muons
                    algorithm = Histogram_Not_Empty
                    description = Number of Muons observed in a LumiBlock
                }  
                
            }
            
            dir Container {

                hist NoTrig_Overview_Container_nSegment_LB {
                    output = MuonTracking/Shifter/Reco
                    algorithm = Histogram_Not_Empty
                    description = Number of Segments observed in a LumiBlock
                }    
                hist NoTrig_Overview_Container_nMuonTrack_LB {
                    output = MuonTracking/Shifter/Reco
                    algorithm = Histogram_Not_Empty
                    description = Number of Tracks observed in a LumiBlock
                }    
                
            }
        }

        dir Muons {

            dir CBMuons {
        
                hist NoTrig_Muons_CBMuons_pt {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, Transverse Momentum
                }
                hist NoTrig_Muons_CBMuons_pt_broad {
                    output = MuonTracking/Shifter/Muons
                    algorithm = GatherData
                    display = AxisRange(100,1000,"X")
                    description = All Muons, Transverse Momentum
                }
                hist NoTrig_Muons_CBMuons_eta_phi_broad {
                    output = MuonTracking/Shifter/Muons
                    algorithm = GatherData
                }
                hist NoTrig_Muons_CBMuons_d0 {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, D0 distribution
                }
                hist NoTrig_Muons_CBMuons_muonType {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, different type distribution
                }
                hist NoTrig_Muons_CBMuons_author {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, Algorithms to make those muons
                }
                hist NoTrig_Muons_CBMuons_eta_phi {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, Eta and Phi distributions
                }
                hist NoTrig_Muons_CBMuons_ddpt_idme {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, pt difference between ID track and extrapolated track, normalized with ID track pt
                }
                hist NoTrig_Muons_CBMuons_ddpt_cbme {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, pt difference between CB track and extrapolated track, normalized with CB track pt
                }
                hist NoTrig_Muons_CBMuons_chi2ndof {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, chi2 per total degrees of freedom
                }
                hist NoTrig_Muons_CBMuons_tndof {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = Combined muon total degree of freedom; should agree with reference
                }
                hist NoTrig_Muons_CBMuons_Medium_eff {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_10_events
                    display = AxisRange(0.5,1.0,"Z")
                    description = Combined Muons, medium muon efficiency as a function of eta and phi
                }
                #_---------------------------------------------------
                hist NoTrig_Muons_CBMuons_z0 {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Muons_CBMuons_eta_pt {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Muons_CBMuons_eta {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Muons_CBMuons_phi {
                    output = MuonTracking/Expert/CBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }

            dir NonCBMuons {
            
                hist NoTrig_Muons_NonCBMuons_pt {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, Transverse Momentum
                }
                hist NoTrig_Muons_NonCBMuons_pt_broad {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = GatherData
                    display = AxisRange(100,1000,"X")
                    description = All Muons, Transverse Momentum
                }
                hist NoTrig_Muons_NonCBMuons_eta_phi_broad {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = GatherData
                }
                hist NoTrig_Muons_NonCBMuons_d0 {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, D0 distribution
                }
                hist NoTrig_Muons_NonCBMuons_muonType {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, different type distribution
                }
                hist NoTrig_Muons_NonCBMuons_author {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, Algorithms to make those muons
                }
                hist NoTrig_Muons_NonCBMuons_eta_phi {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, Eta and Phi distributions
                }
                hist NoTrig_Muons_NonCBMuons_chi2ndof {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Muons, chi2 per total degrees of freedom
                }
                hist NoTrig_Muons_NonCBMuons_tndof {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = Non combined muon total degree of freedom; should agree with reference
                }
                hist NoTrig_Muons_NonCBMuons_Medium_eff {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_10_events
                    display = AxisRange(0.5,1.0,"Z")
                    description = Non combined Muons, medium muon efficiency as a function of eta and phi
                }
                #_---------------------------------------------------
                hist NoTrig_Muons_NonCBMuons_z0 {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Muons_NonCBMuons_eta_pt {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Muons_NonCBMuons_eta {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Muons_NonCBMuons_phi {
                    output = MuonTracking/Expert/NonCBMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }
        }

        dir TracksID {

            dir CBMuons {
            
                hist NoTrig_TracksID_CBMuons_pt {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = transverse momentum of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_pt_broad {
                    output = MuonTracking/Expert/TracksID
                    algorithm = GatherData
                    display = AxisRange(100,1000,"X")
                    description = transverse momentum of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_eta_phi_broad {
                    output = MuonTracking/Expert/TracksID
                    algorithm = GatherData

                }
                hist NoTrig_TracksID_CBMuons_eta_phi {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = eta-phi occupancy for Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_chi2ndof {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = chi square per number of degree of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_HitContent_NBlayerHits {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = B layer hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_HitContent_NPixelHits {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = Pixel hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_HitContent_NSCTHits {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = SCT hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_HitContent_NTRTHits {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = TRT hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_CBMuons_HitContent_NPixelHoles {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_TracksID_CBMuons_HitContent_NSCTHoles {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }

            dir NonCBMuons {
                
                hist NoTrig_TracksID_NonCBMuons_pt {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = transverse momentum of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_pt_broad {
                    output = MuonTracking/Expert/TracksID
                    algorithm = GatherData
                    display = AxisRange(100,1000,"X")
                    description = transverse momentum of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_eta_phi_broad {
                    output = MuonTracking/Expert/TracksID
                    algorithm = GatherData

                }
                hist NoTrig_TracksID_NonCBMuons_eta_phi {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = eta-phi occupancy for Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_chi2ndof {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = chi square per number of degree of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_HitContent_NBlayerHits {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = B layer hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_HitContent_NPixelHits {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = Pixel hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_HitContent_NSCTHits {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = SCT hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_HitContent_NTRTHits {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = TRT hits number of Inner Detector tracks associated with muons

                }
                hist NoTrig_TracksID_NonCBMuons_HitContent_NPixelHoles {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_TracksID_NonCBMuons_HitContent_NSCTHoles {
                    output = MuonTracking/Expert/TracksID
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }
        }

        dir TracksMS {

            dir Container {
            
                hist NoTrig_TracksMS_Container_z0 {
                    output = MuonTracking/Expert/TracksMS
                    display   = Draw=E1,<AxisRange(-20,20,"X")
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_TracksMS_Container_d0 {
                    output = MuonTracking/Expert/TracksMS
                    display   = Draw=E1,<AxisRange(-0.5,0.5,"X")
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }               
                hist NoTrig_TracksMS_Container_Global_residuals {
                    output = MuonTracking/Expert/TracksMS
                    display   = Draw=E1,<AxisRange(-5,5,"X")
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_TracksMS_Container_pt {
                    output = MuonTracking/Shifter/Reco
                    display   = Draw=E1,<AxisRange(0,100,"X")>
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_TracksMS_Container_pt_broad {
                    output = MuonTracking/Shifter/Reco
                    display   = Draw=E1,<AxisRange(100,1000,"X")>
                    algorithm = GatherData
                    description = for expert
                }
                hist NoTrig_TracksMS_Container_eta_phi_broad {
                    output = MuonTracking/Shifter/Reco
                    algorithm = GatherData
                    description = for expert
                }
                hist NoTrig_TracksMS_Container_eta_phi {
                    output = MuonTracking/Shifter/Reco
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_TracksMS_Container_chi2ndof {
                    output = MuonTracking/Expert/TracksMS
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }

        }

        dir TracksME {     

            dir CBMuons {
        
                hist NoTrig_TracksME_CBMuons_pt {
                        output = MuonTracking/Expert/TracksME
                        display   = Draw=E1,<AxisRange(0,100,"X")
                        algorithm = MCP_Histogram_Not_Empty&GatherData
                        description = for expert
                }
                hist NoTrig_TracksME_CBMuons_pt_broad {
                        output = MuonTracking/Expert/TracksME
                        algorithm = GatherData
                        display = AxisRange(100,1000,"X")
                        description = for expert
                }
                hist NoTrig_TracksME_CBMuons_eta_phi_broad {
                        output = MuonTracking/Expert/TracksME
                        algorithm = GatherData
                        description = for expert
                }
                hist NoTrig_TracksME_CBMuons_eta_phi {
                        output = MuonTracking/Expert/TracksME
                        algorithm = MCP_Histogram_Not_Empty&GatherData
                        description = for expert
                }
                hist NoTrig_TracksME_CBMuons_chi2ndof {
                        output = MuonTracking/Shifter/Muons
                        algorithm = MCP_Histogram_Not_Empty&GatherData
                        description = for expert
                }
                hist NoTrig_TracksME_CBMuons_tndof {
                        output = MuonTracking/Expert/TracksME
                        algorithm = MCP_Histogram_Not_Empty&GatherData
                        description = for expert
                }
                hist NoTrig_TracksME_CBMuons_z0 {
                        output = MuonTracking/Expert/TracksME
                        display   = Draw=E1,<AxisRange(-20,20,"X")
                        algorithm = MCP_Histogram_Not_Empty&GatherData
                        description = for expert
                }   
                hist NoTrig_TracksME_CBMuons_d0 {
                        output = MuonTracking/Expert/TracksME
                        display   = Draw=E1,<AxisRange(-0.5,0.5,"X")
                        algorithm = MCP_Histogram_Not_Empty&GatherData
                        description = for expert
                }               
                hist NoTrig_TracksME_CBMuons_Global_residuals {
                    output = MuonTracking/Expert/TracksME
                    display   = Draw=E1,<AxisRange(-5,5,"X")
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }

        }

        dir MSVertices {

            hist NoTrig_MSVertices_m_MSVx_nMDT {
                output = MuonTracking/Expert/MSVertices
            }
            hist NoTrig_MSVertices_m_MSVx_nRPC {
                output = MuonTracking/Expert/MSVertices
            }
            hist NoTrig_MSVertices_m_MSVx_nTGC {
                output = MuonTracking/Expert/MSVertices
            }
            hist NoTrig_MSVertices_m_MSVx_nTracklets {
                output = MuonTracking/Expert/MSVertices
            }
            hist NoTrig_MSVertices_m_VertexEtaPhi {
                output = MuonTracking/Expert/MSVertices
            }
        }

        dir Segments {

            dir Container {
        
                hist NoTrig_Segments_Container_segmentfitChi2oNdof {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments, Fit Chi2 per Degree of Freedom
                    display = AxisRange(0,12,"X")
                    }
                hist NoTrig_Segments_Container_rzpos_sectorLarge {
                    output = MuonTracking/Shifter/Reco
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments, midpoint position in large sectors
                    }
                hist NoTrig_Segments_Container_rzpos_sectorSmall {
                    output = MuonTracking/Shifter/Reco
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments, midpoint position in small sectors
                    }
                # -----------------------------------------
                hist NoTrig_Segments_Container_xypos_barrel {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_Container_xypos_endcap {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_Container_etaphidir {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments, pointing direction in eta and phi
                }
                hist NoTrig_Segments_Container_t0 {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_Container_t0err {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_Container_chamberIndex_perSector {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_Container_eff_chamberIndex_perSector {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_Container_BI_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BI_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BM_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BM_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BO_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BO_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BE_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_BE_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EI_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EI_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EM_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EM_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EO_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EO_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EE_etastation_Large {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
                hist NoTrig_Segments_Container_EE_etastation_Small {
                    output = MuonTracking/Expert/Segments/Container
                    algorithm = GatherData
                }
            }
            
            dir CBMuons {
                hist NoTrig_Segments_CBMuons_eff_chamberIndex_perSector {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    display = AxisRange(0.5,1.0,"Z")
                    description = Segment precision layer hit efficiency for each chamber
                }
                hist NoTrig_Segments_CBMuons_rzpos_sectorLarge {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, midpoint position in large sectors
                    }
                hist NoTrig_Segments_CBMuons_rzpos_sectorSmall {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, midpoint position in small sectors
                    }
                hist NoTrig_Segments_CBMuons_segmentfitChi2oNdof {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, Fit Chi2 per Degree of Freedom
                    display = AxisRange(0,12,"X")
                    }
                hist NoTrig_Segments_CBMuons_etaphidir {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, pointing direction in eta and phi
                    }
                # -----------------------------------------
                hist NoTrig_Segments_CBMuons_xypos_barrel {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_CBMuons_xypos_endcap {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_CBMuons_t0 {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_CBMuons_t0err {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_CBMuons_chamberIndex_perSector {
                    output = MuonTracking/Shifter/Muons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_CBMuons_BI_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_BI_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_BM_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_BM_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_BO_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_BO_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_BE_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EI_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EI_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EM_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EM_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EO_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EO_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EE_etastation_Large {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
                hist NoTrig_Segments_CBMuons_EE_etastation_Small {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = GatherData
                }
            }

            dir NonCBMuons {
                hist NoTrig_Segments_NonCBMuons_eff_chamberIndex_perSector {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    display = AxisRange(0.5,1.0,"Z")
                    description = Segment precision layer hit efficiency for each chamber
                }
                hist NoTrig_Segments_NonCBMuons_rzpos_sectorLarge {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, midpoint position in large sectors
                    }
                hist NoTrig_Segments_NonCBMuons_rzpos_sectorSmall {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, midpoint position in small sectors
                    }
                hist NoTrig_Segments_NonCBMuons_segmentfitChi2oNdof {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, Fit Chi2 per Degree of Freedom
                    display = AxisRange(0,12,"X")
                    }
                hist NoTrig_Segments_NonCBMuons_etaphidir {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = All Segments associated with Muons, pointing direction in eta and phi
                    }
                # -----------------------------------------
                hist NoTrig_Segments_NonCBMuons_xypos_barrel {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_NonCBMuons_xypos_endcap {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_NonCBMuons_t0 {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_NonCBMuons_t0err {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
                hist NoTrig_Segments_NonCBMuons_chamberIndex_perSector {
                    output = MuonTracking/Expert/Segments/AllMuons
                    algorithm = MCP_Histogram_Not_Empty&GatherData
                    description = for expert
                }
            }
        }

    }




}

##############
# Algorithms
##############

compositeAlgorithm MCP_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

algorithm MCP_Histogram_Not_Empty&GatherData {
  name = MCP_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_Noref {
  name = MCP_Histogram_Not_Empty&GatherData
}

algorithm MCP_Bins_LessThan_Threshold {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 1
  thresholds = MCP_LB_thresholds
  MinStat = 1
}

algorithm MCP_GausFit_Z {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  thresholds = MCP_GausFit_Z_thresholds
  SubtractFromMean = 91
  MinStat = 100
  MinSignificance = 1
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_BinsOutOfRange_Zmass {
  libname = libdqm_algorithms.so
  name = BinsOutOfRange
  RANGE_D = 90
  RANGE_U = 92
  ignoreval = 0
  thresholds = bin34_thresholds
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_BinsOutOfRange_Jpsimass {
  libname = libdqm_algorithms.so
  name = BinsOutOfRange
  RANGE_D = 2.8
  RANGE_U = 3.4
  ignoreval = 0
  thresholds = bin34_thresholds
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_BinsOutOfRange_Zsigma {
  libname = libdqm_algorithms.so
  name = BinsOutOfRange
  RANGE_D = 1
  RANGE_U = 5
  ignoreval = 0
  MinSignificance = 1
  thresholds = bin13_thresholds
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_BinsOutOfRange_Jpsisigma {
  libname = libdqm_algorithms.so
  name = BinsOutOfRange
  RANGE_D = 0.1
  RANGE_U = 1.0
  ignoreval = 0
  thresholds = bin13_thresholds
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_BinsOutofRange_EffbyChamb {
  libname = libdqm_algorithms.so
  name = BinsOutOfRange
  RANGE_D = 0.7
  RANGE_U = 1.01
  ignoreval = 0
  thresholds = bin13_thresholds
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_EffbyChamb_Comp2 {
  libname = libdqm_algorithms.so
  name = BinContentComp

  Value = 0.70
  FixedError = 0.0001
  NSigma = 1
  LessThan = 1
  PublishBins = 1
  Ignore0 = 1
  thresholds = bin11_thresholds
}


compositeAlgorithm BinsOutOfRange&BinContentComp {
  subalgs = BinsOutOfRange,BinContentComp
  libnames = libdqm_algorithms.so
}

algorithm MCP_EffbyChamb_Comp {
  name = BinsOutOfRange&BinContentComp
  BinsOutOfRange|RANGE_D = 0.9
  BinsOutOfRange|RANGE_U = 1.01
  BinsOutOfRange|ignoreval = 0
  BinsOutOfRange|thresholds = bin15_thresholds
  BinContentComp|Value = 0.70
  BinContentComp|FixedError = 0.0001
  BinContentComp|NSigma = 1
  BinContentComp|LessThan = 1
  BinContentComp|PublishBins = 1
  BinContentComp|Ignore0 = 1
  BinContentComp|thresholds = bin11_thresholds
}

algorithm MCP_GausFit_Jpsi {
  libname = libdqm_algorithms.so
  name = Simple_gaus_Fit
  thresholds = MCP_GausFit_Jpsi_thresholds
  SubtractFromMean = 3.1
  MinStat = 60
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_chi2ndof {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_chi2ndof_thresholds
  MinStat = 60
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_etaphi {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_etaphi_thresholds
  MinStat = 200
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_dpt {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_dpt_thresholds
  MinStat = 60
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_d0 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_d0_thresholds
  MinStat = 100
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_10_events {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
  MinStat = 10
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_hits_blayer {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_hits_blayer_thresholds
  MinStat = 100
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_hits_pix {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_hits_pix_thresholds
  MinStat = 100
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_hits_sct {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_hits_sct_thresholds
  MinStat = 100
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm MCP_hits_trt {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  thresholds = MCP_hits_trt_thresholds
  MinStat = 100
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}


##############
# Thresholds
##############

thresholds MCP_LB_thresholds {
  limits NBins {
    warning = 1400
    error = 1550
  }
}

thresholds MCP_chi2ndof_thresholds {
  limits AbsXMean {
    warning = 1.2
    error = 1.6
  }
}

thresholds MCP_etaphi_thresholds {
  limits AbsXMean {
    warning = 0.3
    error = 0.5
  }
}

thresholds MCP_dpt_thresholds {
  limits AbsXMean {
    warning = 0.1
    error = 0.2
  }
}

thresholds MCP_d0_thresholds {
  limits AbsXMean {
    warning = 0.1
    error = 0.3
  }
}

thresholds MCP_hits_blayer_thresholds {
  limits XMean {
    warning = 0.7
    error = 0.1
  }
}

thresholds MCP_hits_pix_thresholds {
  limits XMean {
    warning = 3.0
    error = 1.0
  }
}

thresholds MCP_hits_sct_thresholds {
  limits XMean {
    warning = 6.0
    error = 2.0
  }
}

thresholds MCP_hits_trt_thresholds {
  limits XMean {
    warning = 20.0
    error = 10.0
  }
}

thresholds bin13_thresholds {
  limits NbadBins {
    warning = 1
    error = 3
  }
}

thresholds bin15_thresholds {
  limits NbadBins {
    warning = 1
    error = 5
  }
}

thresholds bin11_thresholds {
  limits NBins {
    warning = 0.1
    error = 1.1
  }
}

thresholds bin34_thresholds {
  limits NbadBins {
    warning = 3
    error = 4
  }
}

thresholds MCP_GausFit_Z_thresholds {
  limits Mean {
    warning = 3.0
    error = 5.0
  }
}

thresholds MCP_GausFit_Jpsi_thresholds {
  limits Mean {
    warning = 0.2
    error = 0.4
  }
}

##############
# References
##############
#reference BasicRef {
#  file = /afs/cern.ch/user/b/btong/public/testdata/data.271298.Express.root
#  path = run_271298
#  name = same_name
#}

