# **********************************************************************
# $Id: heavyions_run.config 516887 2012-09-09 22:34:18Z vogel $
# **********************************************************************

############################################################
# MuonCombined
############################################################

#######################
# Histogram Assessments
#######################
    
dir MuonCombined {
  algorithm = MuonComb_GatherData
  reference = CentrallyManagedReferences
  dir MuCaloLR {
    hist mucbtrk_author_caloTag { 
	output = MuonCombined/DQShift/MuCaloLR
    }
    hist mucbtrk_cutflow_caloTag { 
	output = MuonCombined/DQShift/MuCaloLR
    } 
    hist mucbtrk_Rec_pT_caloTag { 
	output = MuonCombined/DQShift/MuCaloLR
    }  
    hist mucbtrk_Rec_EtaPhi_caloTag { 
	output = MuonCombined/DQShift/MuCaloLR
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_caloTag { 
	output = MuonCombined/DQShift/MuCaloLR
      algorithm = MuonComb_RecChargeMean
    }
      output = MuonCombined/AllHists/MuCaloLR
      hist mucbtrk_Rec_EtaPhi_caloTag {
    }
      hist mucbtrk_Rec_Phi0_caloTag {
    }
      hist mucbtrk_Rec_charge_caloTag {
    }
      hist mucbtrk_Rec_chisqDoF_caloTag {
    }
      hist mucbtrk_Rec_d0_caloTag {
    }
      hist mucbtrk_Rec_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_caloTag {
    }
      hist mucbtrk_Rec_theta0_caloTag {
    }
      hist mucbtrk_Rec_z0_caloTag {
    }
      hist mucbtrk_SummaryComb_caloTag {
    }
      hist mucbtrk_author_caloTag {
    }
      hist mucbtrk_cutflow_caloTag {
    }
      hist mucbtrk_deta_caloTag {
    }
      hist mucbtrk_dphi_caloTag {
    }
      hist mucbtrk_nSCThits_caloTag {
    }
      hist mucbtrk_nPIXELhits_caloTag {
    }
      hist mucbtrk_nTRThits_caloTag {
    }    
  }  
  dir MuCaloTag {
      
    hist mucbtrk_author_caloTag { 
	output = MuonCombined/DQShift/MuCaloTag
    }
    hist mucbtrk_cutflow_caloTag { 
	output = MuonCombined/DQShift/MuCaloTag
    } 
    hist mucbtrk_Rec_pT_caloTag { 
	output = MuonCombined/DQShift/MuCaloTag
    }  
    hist mucbtrk_Rec_EtaPhi_caloTag { 
	output = MuonCombined/DQShift/MuCaloTag
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_caloTag { 
	output = MuonCombined/DQShift/MuCaloTag
      algorithm = MuonComb_RecChargeMean
    }
      output = MuonCombined/AllHists/MuCaloTag
      hist mucbtrk_Rec_EtaPhi_caloTag {
    }
      hist mucbtrk_Rec_Phi0_caloTag {
    }
      hist mucbtrk_Rec_charge_caloTag {
    }
      hist mucbtrk_Rec_chisqDoF_caloTag {
    }
      hist mucbtrk_Rec_d0_caloTag {
    }
      hist mucbtrk_Rec_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_caloTag {
    }
      hist mucbtrk_Rec_theta0_caloTag {
    }
      hist mucbtrk_Rec_z0_caloTag {
    }
      hist mucbtrk_SummaryComb_caloTag {
    }
      hist mucbtrk_author_caloTag {
    }
      hist mucbtrk_cutflow_caloTag {
    }
      hist mucbtrk_deta_caloTag {
    }
      hist mucbtrk_dphi_caloTag {
    }
      hist mucbtrk_nSCThits_caloTag {
    }
      hist mucbtrk_nPIXELhits_caloTag {
    }
      hist mucbtrk_nTRThits_caloTag {
    }
      hist mucbtrk_Rec_EtaPhi_caloTag {
    }
      hist mucbtrk_Rec_Phi0_caloTag {
    }
      hist mucbtrk_Rec_charge_caloTag {
    }
      hist mucbtrk_Rec_chisqDoF_caloTag {
    }
      hist mucbtrk_Rec_d0_caloTag {
    }
      hist mucbtrk_Rec_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_caloTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_caloTag {
    }
      hist mucbtrk_Rec_theta0_caloTag {
    }
      hist mucbtrk_Rec_z0_caloTag {
    }
      hist mucbtrk_SummaryComb_caloTag {
    }
      hist mucbtrk_author_caloTag {
    }
      hist mucbtrk_cutflow_caloTag {
    }
      hist mucbtrk_deta_caloTag {
    }
      hist mucbtrk_dphi_caloTag {
    }
      hist mucbtrk_nSCThits_caloTag {
    }
      hist mucbtrk_nPIXELhits_caloTag {
    }
      hist mucbtrk_nTRThits_caloTag {
    }
 }    
  dir MuGirl { 
        
    hist mucbtrk_author_msTag { 
	output = MuonCombined/DQShift/MuGirl
    }
    hist mucbtrk_cutflow_msTag { 
	output = MuonCombined/DQShift/MuGirl
    } 
    hist mucbtrk_Rec_pT_msTag { 
	output = MuonCombined/DQShift/MuGirl
    }  
    hist mucbtrk_Rec_EtaPhi_msTag { 
	output = MuonCombined/DQShift/MuGirl
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_msTag { 
	output = MuonCombined/DQShift/MuGirl
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_nMDThits_msTag { 
	output = MuonCombined/DQShift/MuGirl
    }  
    hist mucbtrk_nTGCRPChits_msTag { 
	output = MuonCombined/DQShift/MuGirl
    }
      output = MuonCombined/AllHists/MuGirl
      hist mucbtrk_ElossCalo_msTag {
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
    }
      hist mucbtrk_nTGCRPChits_msTag {
    }
  }
  dir MuTag {
      
    hist mucbtrk_author_msTag { 
	output = MuonCombined/DQShift/MuTag
    }
    hist mucbtrk_cutflow_msTag { 
	output = MuonCombined/DQShift/MuTag
    } 
    hist mucbtrk_Rec_pT_msTag { 
	output = MuonCombined/DQShift/MuTag
    }  
    hist mucbtrk_Rec_EtaPhi_msTag { 
	output = MuonCombined/DQShift/MuTag
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_msTag { 
	output = MuonCombined/DQShift/MuTag
    }
      output = MuonCombined/AllHists/MuTag
      hist mucbtrk_ElossCalo_msTag {
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
    }
      hist mucbtrk_nTGCRPChits_msTag {
    }
  }
  dir MuTagIMO {
      
    hist mucbtrk_author_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
    }
    hist mucbtrk_cutflow_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
    } 
    hist mucbtrk_Rec_pT_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
    }  
    hist mucbtrk_Rec_EtaPhi_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
      algorithm = MuonComb_RecChargeMean
    }   
    hist mucbtrk_nMDThits_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
    }  
    hist mucbtrk_nTGCRPChits_msTag { 
	output = MuonCombined/DQShift/MuTagIMO
    }  
      output = MuonCombined/AllHists/MuTagIMO
      hist mucbtrk_ElossCalo_msTag {
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
    }
      hist mucbtrk_nTGCRPChits_msTag {
    }
  }       
  dir MuidCB {
      
    hist mucbtrk_author_SA { 
	output = MuonCombined/DQShift/MuidCB
    }
    hist mucbtrk_cutflow { 
	output = MuonCombined/DQShift/MuidCB
    }     
    hist mucbtrk_Rec_pT { 
	output = MuonCombined/DQShift/MuidCB
    }  
    hist mucbtrk_Rec_EtaPhi { 
	output = MuonCombined/DQShift/MuidCB
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge { 
	output = MuonCombined/DQShift/MuidCB
      algorithm = MuonComb_RecChargeMean       	
    } 
    hist mucbtrk_dq { 
	output = MuonCombined/DQShift/MuidCB
    } 
    hist mucbtrk_deltaEloss { 
	output = MuonCombined/DQShift/MuidCB
      algorithm  = MuonComb_deltaElossMean	
    }
      output = MuonCombined/AllHists/MuidCB
      hist mucbtrk_ElossCalo {
    }    
      hist mucbtrk_ElossCalo_phi {
    }    
      hist mucbtrk_ElossCalo_eta {
    }
      hist mucbtrk_ElossMSID {
    }
      hist mucbtrk_ElossMSID_eta {
    }
      hist mucbtrk_ElossMSID_phi {
    }
      hist mucbtrk_Rec_EtaPhi {
    }
      hist mucbtrk_Rec_Phi0 {
    }
      hist mucbtrk_Rec_charge {
    }
      hist mucbtrk_Rec_chisqDoF {
    }
      hist mucbtrk_Rec_d0 {
    }
      hist mucbtrk_Rec_eta {
    }
      hist mucbtrk_Rec_pT {
    }
      hist mucbtrk_Rec_pT_vrs_eta {
    }
      hist mucbtrk_Rec_pT_vrs_phi {
    }
      hist mucbtrk_Rec_theta0 {
    }
      hist mucbtrk_Rec_z0 {
    }
      hist mucbtrk_SummaryComb {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_chisq0 {
    }
      hist mucbtrk_chisq0_neg {
    }
      hist mucbtrk_chisq0_pos {
    }
      hist mucbtrk_chisq_Barrel {
    }
      hist mucbtrk_chisq_Endcap {
    }
      hist mucbtrk_cutflow {
    }
      hist mucbtrk_dd0 {
    }
      hist mucbtrk_dd0_neg {
    }
      hist mucbtrk_dd0_pos {
    }
      hist mucbtrk_deltaEloss {
    }
      hist mucbtrk_dmom0 {
    }
      hist mucbtrk_dmom_Barrel {
    }
      hist mucbtrk_dmom_Endcap {
    }
      hist mucbtrk_dpTvseta {
    }
      hist mucbtrk_dpTvspT {
    }
      hist mucbtrk_dpTvsphi {
    }
      hist mucbtrk_dq {
    }
      hist mucbtrk_dz0 {
    }
      hist mucbtrk_dz0_neg {
    }
      hist mucbtrk_dz0_pos {
    }
      hist mucbtrk_nSCThits {
    }
      hist mucbtrk_nPIXELhits {
    }
      hist mucbtrk_nTRThits {
    }
      hist mucbtrk_nMDThits {
    }
      hist mucbtrk_nTGCRPChits {
    }
      hist mucbtrk_pullPhi_Barrel {
    }
      hist mucbtrk_pullPhi_Endcap {
    }
      hist mucbtrk_pullR_Endcap {
    }
      hist mucbtrk_pullRphi_Barrel {
    }
      hist mucbtrk_pulld0 {
    }
      hist mucbtrk_pulld0_neg {
    }
      hist mucbtrk_pulld0_pos {
    }
      hist mucbtrk_pullphi0 {
    }
      hist mucbtrk_pullphi0_neg {
    }
      hist mucbtrk_pullphi0_pos {
    }
      hist mucbtrk_pullphi_Endcap {
    }
      hist mucbtrk_pullqp0 {
    }
      hist mucbtrk_pullqp0_neg {
    }
      hist mucbtrk_pullqp0_pos {
    }
      hist mucbtrk_pullqp_Barrel {
    }
      hist mucbtrk_pullqp_Endcap {
    }
      hist mucbtrk_pulltheta0 {
    }
      hist mucbtrk_pulltheta0_neg {
    }
      hist mucbtrk_pulltheta0_pos {
    }
      hist mucbtrk_pulltheta_Barrel {
    }
      hist mucbtrk_pulltheta_Endcap {
    }
      hist mucbtrk_pullz0 {
    }
      hist mucbtrk_pullz0_neg {
    }
      hist mucbtrk_pullz0_pos {
    }
      hist mucbtrk_pullz_Barrel {
    }
      hist mucbtrk_qopidvsms {
    }
  }
  dir MuidSA {
      
    hist mucbtrk_author_SA { 
	output = MuonCombined/DQShift/MuidSA
    }
    hist mucbtrk_cutflow_SA { 
	output = MuonCombined/DQShift/MuidSA
    } 
    hist mucbtrk_Rec_pT_SA {
	output = MuonCombined/DQShift/MuidSA
    }  
    hist mucbtrk_Rec_EtaPhi_SA { 
	output = MuonCombined/DQShift/MuidSA
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_SA { 
	output = MuonCombined/DQShift/MuidSA
      algorithm = MuonComb_RecChargeMean 
    }
      output = MuonCombined/AllHists/MuidSA
      hist mucbtrk_ElossCalo_SA {
    }    
      hist mucbtrk_ElossCalo_phi_SA {
    }    
      hist mucbtrk_ElossCalo_eta_SA {
    }
      hist mucbtrk_Rec_EtaPhi_SA {
    }
      hist mucbtrk_Rec_Phi0_SA {
    }
      hist mucbtrk_Rec_charge_SA {
    }
      hist mucbtrk_Rec_chisqDoF_SA {
    }
      hist mucbtrk_Rec_d0_SA {
    }
      hist mucbtrk_Rec_eta_SA {
    }
      hist mucbtrk_Rec_pT_SA {
    }
      hist mucbtrk_Rec_pT_vrs_eta_SA {
    }
      hist mucbtrk_Rec_pT_vrs_phi_SA {
    }
      hist mucbtrk_Rec_theta0_SA {
    }
      hist mucbtrk_Rec_z0_SA {
    }
      hist mucbtrk_SummaryComb_SA {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_cutflow_SA {
    }
      hist mucbtrk_nRPCTGChits_SA {
    }
      hist mucbtrk_nMDThits_SA {
    }
      hist mucbtrk_nTGCRPCPhihits_SA {
    }
  }  
  dir Muonboy {
       
    hist mucbtrk_author_SA { 
	output = MuonCombined/DQShift/Muonboy
    }
    hist mucbtrk_cutflow_SA { 
	output = MuonCombined/DQShift/Muonboy
    } 
    hist mucbtrk_Rec_pT_SA { 
	output = MuonCombined/DQShift/Muonboy
    }  
    hist mucbtrk_Rec_EtaPhi_SA {
	output = MuonCombined/DQShift/Muonboy
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled
    }   
    hist mucbtrk_Rec_charge_SA { 
	output = MuonCombined/DQShift/Muonboy
      algorithm = MuonComb_RecChargeMean 
    } 
      output = MuonCombined/AllHists/Muonboy
      hist mucbtrk_ElossCalo_SA {
    }    
      hist mucbtrk_ElossCalo_phi_SA {
    }    
      hist mucbtrk_ElossCalo_eta_SA {
    }
      hist mucbtrk_Rec_EtaPhi_SA {
    }
      hist mucbtrk_Rec_Phi0_SA {
    }
      hist mucbtrk_Rec_charge_SA {
    }
      hist mucbtrk_Rec_chisqDoF_SA {
    }
      hist mucbtrk_Rec_d0_SA {
    }
      hist mucbtrk_Rec_eta_SA {
    }
      hist mucbtrk_Rec_pT_SA {
    }
      hist mucbtrk_Rec_pT_vrs_eta_SA {
    }
      hist mucbtrk_Rec_pT_vrs_phi_SA {
    }
      hist mucbtrk_Rec_theta0_SA {
    }
      hist mucbtrk_Rec_z0_SA {
    }
      hist mucbtrk_SummaryComb_SA {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_cutflow_SA {
    }
      hist mucbtrk_nRPCTGChits_SA {
    }
      hist mucbtrk_nMDThits_SA {
    }
      hist mucbtrk_nTGCRPCPhihits_SA {
    }
  }     
  dir Staco {
      
    hist mucbtrk_author_SA {
	output = MuonCombined/DQShift/Staco
    }
    hist mucbtrk_cutflow { 
	output = MuonCombined/DQShift/Staco
    } 
    hist mucbtrk_Rec_pT { 
	output = MuonCombined/DQShift/Staco
    }  
    hist mucbtrk_Rec_EtaPhi { 
	output = MuonCombined/DQShift/Staco
      #algorithm = MuonComb_Rec_EtaPhi_All_Bins_Filled	
    }   
    hist mucbtrk_Rec_charge { 
	output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_RecChargeMean 
    } 
    hist mucbtrk_dq { 
	output = MuonCombined/DQShift/Staco
      algorithm = MuonComb_dqBinsOutofRange 
    } 
    hist mucbtrk_deltaEloss { 
	output = MuonCombined/DQShift/Staco
      algorithm  = MuonComb_deltaElossMean 
    }
      output = MuonCombined/AllHists/Staco
      hist mucbtrk_ElossCalo {
    }    
      hist mucbtrk_ElossCalo_phi {
    }    
      hist mucbtrk_ElossCalo_eta {
    }
      hist mucbtrk_ElossMSID {
    }
      hist mucbtrk_ElossMSID_eta {
    }
      hist mucbtrk_ElossMSID_phi {
    }
      hist mucbtrk_Rec_EtaPhi {
    }
      hist mucbtrk_Rec_Phi0 {
    }
      hist mucbtrk_Rec_charge {
    }
      hist mucbtrk_Rec_chisqDoF {
    }
      hist mucbtrk_Rec_d0 {
    }
      hist mucbtrk_Rec_eta {
    }
      hist mucbtrk_Rec_pT {
    }
      hist mucbtrk_Rec_pT_vrs_eta {
    }
      hist mucbtrk_Rec_pT_vrs_phi {
    }
      hist mucbtrk_Rec_theta0 {
    }
      hist mucbtrk_Rec_z0 {
    }
      hist mucbtrk_SummaryComb {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_chisq0 {
    }
      hist mucbtrk_chisq0_neg {
    }
      hist mucbtrk_chisq0_pos {
    }
      hist mucbtrk_chisq_Barrel {
    }
      hist mucbtrk_chisq_Endcap {
    }
      hist mucbtrk_cutflow {
    }
      hist mucbtrk_dd0 {
    }
      hist mucbtrk_dd0_neg {
    }
      hist mucbtrk_dd0_pos {
    }
      hist mucbtrk_deltaEloss {
    }
      hist mucbtrk_dmom0 {
    }
      hist mucbtrk_dmom_Barrel {
    }
      hist mucbtrk_dmom_Endcap {
    }
      hist mucbtrk_dpTvseta {
    }
      hist mucbtrk_dpTvspT {
    }
      hist mucbtrk_dpTvsphi {
    }
      hist mucbtrk_dq {
    }
      hist mucbtrk_dz0 {
    }
      hist mucbtrk_dz0_neg {
    }
      hist mucbtrk_dz0_pos {
    }
      hist mucbtrk_nSCThits {
    }
      hist mucbtrk_nPIXELhits {
    }
      hist mucbtrk_nTRThits {
    }
      hist mucbtrk_nMDThits {
    }
      hist mucbtrk_nTGCRPChits {
    }
      hist mucbtrk_pullPhi_Barrel {
    }
      hist mucbtrk_pullPhi_Endcap {
    }
      hist mucbtrk_pullR_Endcap {
    }
      hist mucbtrk_pullRphi_Barrel {
    }
      hist mucbtrk_pulld0 {
    }
      hist mucbtrk_pulld0_neg {
    }
      hist mucbtrk_pulld0_pos {
    }
      hist mucbtrk_pullphi0 {
    }
      hist mucbtrk_pullphi0_neg {
    }
      hist mucbtrk_pullphi0_pos {
    }
      hist mucbtrk_pullphi_Endcap {
    }
      hist mucbtrk_pullqp0 {
    }
      hist mucbtrk_pullqp0_neg {
    }
      hist mucbtrk_pullqp0_pos {
    }
      hist mucbtrk_pullqp_Barrel {
    }
      hist mucbtrk_pullqp_Endcap {
    }
      hist mucbtrk_pulltheta0 {
    }
      hist mucbtrk_pulltheta0_neg {
    }
      hist mucbtrk_pulltheta0_pos {
    }
      hist mucbtrk_pulltheta_Barrel {
    }
      hist mucbtrk_pulltheta_Endcap {
    }
      hist mucbtrk_pullz0 {
    }
      hist mucbtrk_pullz0_neg {
    }
      hist mucbtrk_pullz0_pos {
    }
      hist mucbtrk_pullz_Barrel {
    }
      hist mucbtrk_qopidvsms {
    }
  }  
  dir MuonEfficiency {

    hist effi_author {
      output = MuonCombined/DQShift/MuonEfficiency/Total
      algorithm = MuonEffi_total_bins_threshold
    }
    hist effi_author_zoom {
      output = MuonCombined/DQShift/MuonEfficiency/Total
      algorithm = MuonEffi_total_bins_threshold
    }
    hist efficiency_CaloLikelihood_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuCaloLR
    }
    hist efficiency_CaloTag_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuCaloTag
    }
    hist efficiency_MuGirl_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuGirl
    }
    hist efficiency_MuTagIMO_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuTagIMO
    }
    hist efficiency_MuTag_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuTag
    }
    hist efficiency_MuidCB_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuidCB
    }
    hist efficiency_MuidSA_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuidSA
    }
    hist efficiency_MuonBoy_eta {
      output = MuonCombined/DQShift/MuonEfficiency/Muonboy
    }
    hist efficiency_Staco_eta {
      output = MuonCombined/DQShift/MuonEfficiency/Staco
    }
    hist efficiency_CaloLikelihood_pt {
      output = MuonCombined/DQShift/MuonEfficiency/MuCaloLR
    }                                                       
    hist efficiency_CaloTag_pt {                            
      output = MuonCombined/DQShift/MuonEfficiency/MuCaloTag
    }                                                       
    hist efficiency_MuGirl_pt {                             
      output = MuonCombined/DQShift/MuonEfficiency/MuGirl
    }                                                       
    hist efficiency_MuTagIMO_pt {                           
      output = MuonCombined/DQShift/MuonEfficiency/MuTagIMO
    }                                                       
    hist efficiency_MuTag_pt {                              
      output = MuonCombined/DQShift/MuonEfficiency/MuTag
    }                                                       
    hist efficiency_MuidCB_pt {                             
      output = MuonCombined/DQShift/MuonEfficiency/MuidCB
    }                                                       
    hist efficiency_MuidSA_pt {                             
      output = MuonCombined/DQShift/MuonEfficiency/MuidSA
    }                                                       
    hist efficiency_MuonBoy_pt {                            
      output = MuonCombined/DQShift/MuonEfficiency/Muonboy
    }                                                       
    hist efficiency_Staco_pt {                              
      output = MuonCombined/DQShift/MuonEfficiency/Staco
    }
    hist effi_CaloLikelihood_pt_eta {
      output = MuonCombined/DQShift/MuonEfficiency/MuCaloLR
    }                                                       
    hist effi_CaloTag_pt_eta {                            
      output = MuonCombined/DQShift/MuonEfficiency/MuCaloTag
    }                                                       
    hist effi_MuGirl_pt_eta {                             
      output = MuonCombined/DQShift/MuonEfficiency/MuGirl
    }                                                       
    hist effi_MuTagIMO_pt_eta {                           
      output = MuonCombined/DQShift/MuonEfficiency/MuTagIMO
    }                                                       
    hist effi_MuTag_pt_eta {                              
      output = MuonCombined/DQShift/MuonEfficiency/MuTag
    }                                                       
    hist effi_MuidCB_pt_eta {                             
      output = MuonCombined/DQShift/MuonEfficiency/MuidCB
    }                                                       
    hist effi_MuidSA_pt_eta {                             
      output = MuonCombined/DQShift/MuonEfficiency/MuidSA
    }                                                       
    hist effi_MuonBoy_pt_eta {                            
      output = MuonCombined/DQShift/MuonEfficiency/Muonboy
    }                                                       
    hist effi_Staco_pt_eta {                              
      output = MuonCombined/DQShift/MuonEfficiency/Staco
    }
    hist EF_mu24i_tight_pt {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu24i_tight_MG_pt {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu40_MSonly_barrel_tight_pt {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu24i_tight_eta {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu24i_tight_MG_eta {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu40_MSonly_barrel_tight_eta {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu24i_tight_phi {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu24i_tight_MG_phi {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    hist EF_mu40_MSonly_barrel_tight_phi {
        output = MuonCombined/DQShift/MuonEfficiency/Trigger
    }
    output = MuonCombined/AllHists/MuonEfficiency
    hist effi_author {
    }
    hist effi_author_zoom {
    }
    hist efficiency_CaloLikelihood_eta {
    }
    hist efficiency_CaloTag_eta {
    }
    hist efficiency_MuGirl_eta {
    }
    hist efficiency_MuTagIMO_eta {
    }
    hist efficiency_MuTag_eta {
    }
    hist efficiency_MuidCB_eta {
    }
    hist efficiency_MuidSA_eta {
    }
    hist efficiency_MuonBoy_eta {
    }
    hist efficiency_Staco_eta {
    }
    hist efficiency_CaloLikelihood_pt {
    }                                                       
    hist efficiency_CaloTag_pt {                            
    }                                                       
    hist efficiency_MuGirl_pt {                             
    }    
    hist efficiency_MuGirlLowBeta_pt {                             
    }
    hist efficiency_MuGirlLowBeta_eta {                             
    }
    hist efficiency_MuTagIMO_pt {                           
    }                                                       
    hist efficiency_MuTag_pt {                              
    }                                                       
    hist efficiency_MuidCB_pt {                             
    }                                                       
    hist efficiency_MuidSA_pt {                             
    }                                                       
    hist efficiency_MuonBoy_pt {                            
    }                                                       
    hist efficiency_Staco_pt {                              
    }
    hist effi_CaloLikelihood_pt_eta {
    }                                                       
    hist effi_CaloTag_pt_eta {                            
    }                                                       
    hist effi_MuGirl_pt_eta {                             
    }
    hist effi_MuGirlLowBeta_pt_eta {                             
    }                        	
    hist effi_MuTagIMO_pt_eta {                           
    }                                                       
    hist effi_MuTag_pt_eta {                              
    }                                                       
    hist effi_MuidCB_pt_eta {                             
    }                                                       
    hist effi_MuidSA_pt_eta {                             
    }                                                       
    hist effi_MuonBoy_pt_eta {                            
    }                                                       
    hist effi_Staco_pt_eta {                              
    }
    hist EF_mu24i_tight_pt {
    }
    hist EF_mu24i_tight_MG_pt {
    }
    hist EF_mu40_MSonly_barrel_tight_pt {
    }
    hist EF_mu24i_tight_eta {
    }
    hist EF_mu24i_tight_MG_eta {
    }
    hist EF_mu40_MSonly_barrel_tight_eta {
    }
    hist EF_mu24i_tight_phi {
    }
    hist EF_mu24i_tight_MG_phi {
    }
    hist EF_mu40_MSonly_barrel_tight_phi {
    }
    hist cutflow_calo {
    }
    hist cutflow_muid {
    }
    hist cutflow_staco {
    }
    hist cutflow_tracks {
    }
    hist d0_muons {
    }
    hist d0_tracks {
    }
    hist delta_R {
    }
    hist delta_R_calo {
    }
    hist delta_d0 {
    }
    hist delta_p {
    }
    hist delta_p_calo {
    }
    hist probe_CaloLikelihood_pt_eta {
    }
    hist probe_CaloTag_pt_eta {
    }
    hist probe_MuGirlLowBeta_pt_eta {
    }
    hist probe_MuGirl_pt_eta {
    }
    hist probe_MuTagIMO_pt_eta {
    }
    hist probe_MuTag_pt_eta {
    }
    hist probe_MuidCB_pt_eta {
    }
    hist probe_MuidSA_pt_eta {
    }
    hist probe_MuonBoy_pt_eta {
    }
    hist probe_Staco_pt_eta {
    }
    hist probe_phi {
    }
    hist probe_sector {
    }
    hist probe_track_iso {
    }
    hist ref_CaloLikelihood_pt_eta {
    }
    hist ref_CaloTag_pt_eta {
    }
    hist ref_MuGirlLowBeta_pt_eta {
    }
    hist ref_MuGirl_pt_eta {
    }
    hist ref_MuTagIMO_pt_eta {
    }
    hist ref_MuTag_pt_eta {
    }
    hist ref_MuidCB_pt_eta {
    }
    hist ref_MuidSA_pt_eta {
    }
    hist ref_MuonBoy_pt_eta {
    }
    hist ref_Staco_pt_eta {
    }
    hist tag_calo_iso {
    }
    hist tp_cutflow_calo {
    }
    hist tp_cutflow_muid {
    }
    hist tp_cutflow_staco {
    }
    hist z_mass {
    }
  }
    dir Standalone {
      output = MuonCombined/AllHists/Standalone
      hist mucbtrk_ElossCalo_SA {
    }    
      hist mucbtrk_ElossCalo_phi_SA {
    }    
      hist mucbtrk_ElossCalo_eta_SA {
    }
      hist mucbtrk_Rec_EtaPhi_SA {
    }
      hist mucbtrk_Rec_Phi0_SA {
    }
      hist mucbtrk_Rec_charge_SA {
    }
      hist mucbtrk_Rec_chisqDoF_SA {
    }
      hist mucbtrk_Rec_d0_SA {
    }
      hist mucbtrk_Rec_eta_SA {
    }
      hist mucbtrk_Rec_pT_SA {
    }
      hist mucbtrk_Rec_pT_vrs_eta_SA {
    }
      hist mucbtrk_Rec_pT_vrs_phi_SA {
    }
      hist mucbtrk_Rec_theta0_SA {
    }
      hist mucbtrk_Rec_z0_SA {
    }
      hist mucbtrk_SummaryComb_SA {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_cutflow_SA {
    }
      hist mucbtrk_nRPCTGChits_SA {
    }
      hist mucbtrk_nMDThits_SA {
    }
      hist mucbtrk_nTGCRPCPhihits_SA {
    }
 }
    dir Combined {
      output = MuonCombined/AllHists/Combined
      hist mucbtrk_ElossCalo {
    }    
      hist mucbtrk_ElossCalo_phi {
    }    
      hist mucbtrk_ElossCalo_eta {
    }
      hist mucbtrk_ElossMSID {
    }
      hist mucbtrk_ElossMSID_eta {
    }
      hist mucbtrk_ElossMSID_phi {
    }
      hist mucbtrk_Rec_EtaPhi {
    }
      hist mucbtrk_Rec_Phi0 {
    }
      hist mucbtrk_Rec_charge {
    }
      hist mucbtrk_Rec_chisqDoF {
    }
      hist mucbtrk_Rec_d0 {
    }
      hist mucbtrk_Rec_eta {
    }
      hist mucbtrk_Rec_pT {
    }
      hist mucbtrk_Rec_pT_vrs_eta {
    }
      hist mucbtrk_Rec_pT_vrs_phi {
    }
      hist mucbtrk_Rec_theta0 {
    }
      hist mucbtrk_Rec_z0 {
    }
      hist mucbtrk_SummaryComb {
    }
      hist mucbtrk_author_SA {
    }
      hist mucbtrk_chisq0 {
    }
      hist mucbtrk_chisq0_neg {
    }
      hist mucbtrk_chisq0_pos {
    }
      hist mucbtrk_chisq_Barrel {
    }
      hist mucbtrk_chisq_Endcap {
    }
      hist mucbtrk_cutflow {
    }
      hist mucbtrk_dd0 {
    }
      hist mucbtrk_dd0_neg {
    }
      hist mucbtrk_dd0_pos {
    }
      hist mucbtrk_deltaEloss {
    }
      hist mucbtrk_dmom0 {
    }
      hist mucbtrk_dmom_Barrel {
    }
      hist mucbtrk_dmom_Endcap {
    }
      hist mucbtrk_dpTvseta {
    }
      hist mucbtrk_dpTvspT {
    }
      hist mucbtrk_dpTvsphi {
    }
      hist mucbtrk_dq {
    }
      hist mucbtrk_dz0 {
    }
      hist mucbtrk_dz0_neg {
    }
      hist mucbtrk_dz0_pos {
    }
      hist mucbtrk_nSCThits {
    }
      hist mucbtrk_nPIXELhits {
    }
      hist mucbtrk_nTRThits {
    }
      hist mucbtrk_nMDThits {
    }
      hist mucbtrk_nTGCRPChits {
    }
      hist mucbtrk_pullPhi_Barrel {
    }
      hist mucbtrk_pullPhi_Endcap {
    }
      hist mucbtrk_pullR_Endcap {
    }
      hist mucbtrk_pullRphi_Barrel {
    }
      hist mucbtrk_pulld0 {
    }
      hist mucbtrk_pulld0_neg {
    }
      hist mucbtrk_pulld0_pos {
    }
      hist mucbtrk_pullphi0 {
    }
      hist mucbtrk_pullphi0_neg {
    }
      hist mucbtrk_pullphi0_pos {
    }
      hist mucbtrk_pullphi_Endcap {
    }
      hist mucbtrk_pullqp0 {
    }
      hist mucbtrk_pullqp0_neg {
    }
      hist mucbtrk_pullqp0_pos {
    }
      hist mucbtrk_pullqp_Barrel {
    }
      hist mucbtrk_pullqp_Endcap {
    }
      hist mucbtrk_pulltheta0 {
    }
      hist mucbtrk_pulltheta0_neg {
    }
      hist mucbtrk_pulltheta0_pos {
    }
      hist mucbtrk_pulltheta_Barrel {
    }
      hist mucbtrk_pulltheta_Endcap {
    }
      hist mucbtrk_pullz0 {
    }
      hist mucbtrk_pullz0_neg {
    }
      hist mucbtrk_pullz0_pos {
    }
      hist mucbtrk_pullz_Barrel {
    }
      hist mucbtrk_qopidvsms {
    }
  }
  dir MSTagged {    
      output = MuonCombined/AllHists/MSTagged
      hist mucbtrk_ElossCalo_msTag {
    }    
      hist mucbtrk_ElossCalo_phi_msTag {
    }    
      hist mucbtrk_ElossCalo_eta_msTag {
    }  
      hist mucbtrk_NN_msTag {
    }    
      hist mucbtrk_Rec_EtaPhi_msTag {
    }
      hist mucbtrk_Rec_Phi0_msTag {
    }
      hist mucbtrk_Rec_charge_msTag {
    }
      hist mucbtrk_Rec_chisqDoF_msTag {
    }
      hist mucbtrk_Rec_d0_msTag {
    }
      hist mucbtrk_Rec_eta_msTag {
    }
      hist mucbtrk_Rec_pT_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_eta_msTag {
    }
      hist mucbtrk_Rec_pT_vrs_phi_msTag {
    }
      hist mucbtrk_Rec_theta0_msTag {
    }
      hist mucbtrk_Rec_z0_msTag {
    }
      hist mucbtrk_beta_msTag {
    }  
      hist mucbtrk_SummaryComb_msTag {
    }
      hist mucbtrk_author_msTag {
    }
      hist mucbtrk_chisq_msTag {
    }
      hist mucbtrk_cutflow_msTag {
    }
      hist mucbtrk_deta_msTag {
    }
      hist mucbtrk_dphi_msTag {
    }
      hist mucbtrk_dpt_msTag {
    }
      hist mucbtrk_nSCThits_msTag {
    }
      hist mucbtrk_nPIXELhits_msTag {
    }
      hist mucbtrk_nTRThits_msTag {
    }
      hist mucbtrk_nMDThits_msTag {
    }
      hist mucbtrk_nTGCRPChits_msTag {
    }
 }
}


#############
# Output
#############

output top_level {
  output MuonCombined {
    output DQShift {
       output Muonboy {
       }    
       output Staco {
       }
       output MuTag {
       }  
       output MuidSA {
       }               
       output MuidCB {
       } 
       output MuGirl {
       }            
       output MuTagIMO {
       }          
       output MuCaloLR {
       }          
       output MuCaloTag {
       }
       output MuonEfficiency {
           output Total {
           }
           output Muonboy {
           }    
           output Staco {
           }
           output MuTag {
           }  
           output MuidSA {
           }               
           output MuidCB {
           } 
           output MuGirl {
           }            
           output MuTagIMO {
           }          
           output MuCaloLR {
           }          
           output MuCaloTag {
           }
           output Trigger {
           }
       }
    }  
    output AllHists {
       output Muonboy {
       }    
       output Staco {
       }
       output MuTag {
       }  
       output MuidSA {
       }               
       output MuidCB {
       } 
       output MuGirl {
       }           
       output MuTagIMO {
       }          
       output MuCaloLR {
       }          
       output MuCaloTag {
       }
       output MuonEfficiency {
       }
       output Standalone {
       }
       output Combined {
       }
       output MSTagged {
       }
    }  
  }
}


##############
# Algorithms
##############
algorithm MuonEffi_total_bins_threshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanEqual_Threshold
  MinStat = 500
  BinThreshold = 0.95
  thresholds = MuonEffi_total_thresholds
  reference = CentrallyManagedReferences
}

algorithm MuonComb_Rec_EtaPhi_All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
  MinStat = 500 
  reference = CentrallyManagedReferences 
}

compositeAlgorithm KurtosisTest_GreaterThan&SkewnessTest_LessThanAbs {
  libname = libdqm_algorithms.so
  subalgs = KurtosisTest_GreaterThan,SkewnessTest_LessThanAbs
  reference = CentrallyManagedReferences 
} 

algorithm MuonComb_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  MinStat = 500
  reference = CentrallyManagedReferences  
}

algorithm MuonComb_CutFlowNotEmpty {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
  MinStat = 500
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_RecChargeMean {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  MinStat = 500
  thresholds = MuonComb_RecChargeMeanThresholds
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_deltaElossMean {
  libname = libdqm_algorithms.so
  name = Simple_landau_Fit
  MinStat = 500
  thresholds = MuonComb_deltaElossMeanThresholds
  reference = CentrallyManagedReferences 
}


compositeAlgorithm CheckHisto_Mean&CheckHisto_RMS {
  libname = libdqm_algorithms.so
  subalgs = CheckHisto_Mean,CheckHisto_RMS
} 
algorithm MuonComb_d0MeanRMS {
  name = CheckHisto_Mean&CheckHisto_RMS
  #name = CheckHisto_Mean
  CheckHisto_Mean|thresholds = MuonComb_d0MeanThresholds
  CheckHisto_RMS|thresholds = MuonComb_d0RMSThresholds
  MinStat = 500
}

algorithm MuonComb_d0MeanRMS_MB {
  name = CheckHisto_Mean&CheckHisto_RMS
  #name = CheckHisto_Mean
  CheckHisto_Mean|thresholds = MuonComb_d0Mean_MB_Thresholds
  CheckHisto_RMS|thresholds = MuonComb_d0RMS_MB_Thresholds
  MinStat = 500
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_d0MeanRMS_IMO {
  name = CheckHisto_Mean&CheckHisto_RMS
  #name = CheckHisto_Mean
  CheckHisto_Mean|thresholds = MuonComb_d0Mean_IMO_Thresholds
  CheckHisto_RMS|thresholds = MuonComb_d0RMS_IMO_Thresholds
  MinStat = 500
  reference = CentrallyManagedReferences 
}


algorithm MuonComb_pulld0MeanRMS {
  name = CheckHisto_Mean&CheckHisto_RMS
  CheckHisto_Mean|thresholds = MuonComb_pulld0MeanThresholds
  CheckHisto_RMS|thresholds = MuonComb_pulld0RMSThresholds
  MinStat = 500 
  reference = CentrallyManagedReferences 
}
algorithm MuonComb_z0MeanRMS {
  name = CheckHisto_Mean&CheckHisto_RMS
  #name = CheckHisto_Mean
  MinStat = 500
  CheckHisto_Mean|thresholds = MuonComb_z0MeanThresholds
  CheckHisto_RMS|thresholds = MuonComb_z0RMSThresholds
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_z0MeanRMS_MB {
  name = CheckHisto_Mean&CheckHisto_RMS
  #name = CheckHisto_Mean
  MinStat = 500
  CheckHisto_Mean|thresholds = MuonComb_z0Mean_MB_Thresholds
  CheckHisto_RMS|thresholds = MuonComb_z0RMS_MB_Thresholds
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_z0MeanRMS_IMO {
  name = CheckHisto_Mean&CheckHisto_RMS
  #name = CheckHisto_Mean
  MinStat = 500
  CheckHisto_Mean|thresholds = MuonComb_z0Mean_IMO_Thresholds
  CheckHisto_RMS|thresholds = MuonComb_z0RMS_IMO_Thresholds
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_pullz0MeanRMS {
  name = CheckHisto_Mean&CheckHisto_RMS
  MinStat = 500
  CheckHisto_Mean|thresholds = MuonComb_pullz0MeanThresholds
  CheckHisto_RMS|thresholds = MuonComb_pullz0RMSThresholds
  reference = CentrallyManagedReferences 
}

algorithm MuonComb_dqBinsOutofRange {
  libname = libdqm_algorithms.so
  name = BinsFilledOutRange 
  MinStat = 500
  xmin = -1
  xmax = 1
  thresholds = MuonComb_dqBinsOutofRangeThresholds
  reference = CentrallyManagedReferences 
}
##############
# Thresholds
##############
thresholds MuonEffi_total_thresholds {
  limits NBins {
    warning = 8
    error = 6
  }
}

thresholds MuonComb_Rec_z0KurtosisTest_GreaterThanThresholds {
  limits K {
  warning = -0.5
  error = -1.0
    } 
}
thresholds MuonComb_Rec_z0SkewnessTest_LessThanAbsThresholds {
  limits S {
  warning = .05
  error = .1
    } 
}
thresholds MuonComb_Rec_d0KurtosisTest_GreaterThanThresholds {
  limits K {
  warning = -0.5
  error = -1.0
    } 
}
thresholds MuonComb_Rec_d0SkewnessTest_LessThanAbsThresholds {
  limits S {
  warning = .05
  error = .1
    } 
}
thresholds MuonComb_RecChargeMeanThresholds {
  limits AbsXMean {
  warning = .5
  error = 10
    }
}

thresholds MuonComb_d0MeanThresholds {
  limits AbsXMean {
  warning = 10
  error = 100
    }
}

thresholds MuonComb_d0RMSThresholds {
  limits XRMS {
  warning = 1000 
  error = 2000
    }
}

thresholds MuonComb_d0Mean_MB_Thresholds {
  limits AbsXMean {
  warning = 10
  error = 100
    }
}

thresholds MuonComb_d0RMS_MB_Thresholds {
  limits XRMS {
  warning = 1000
  error = 2000
    }
}

thresholds MuonComb_d0Mean_IMO_Thresholds {
  limits AbsXMean {
  warning = 10
  error = 100
    }
}

thresholds MuonComb_d0RMS_IMO_Thresholds {
  limits XRMS {
  warning = 6
  error = 10
    }
}

thresholds MuonComb_pulld0MeanThresholds {
  limits AbsXMean {
  warning = 0.05
  error = 1
    }
}

thresholds MuonComb_pulld0RMSThresholds {
  limits XRMS {
  warning = 1.2
  error = 10
    }
}

thresholds MuonComb_pulld0RMSMinThresholds {
  limits XRMS {
  warning = .75
  error = 100
    }
}
thresholds MuonComb_z0MeanThresholds {
  limits AbsXMean {
  warning = 20
  error = 100
    }
}

thresholds MuonComb_z0RMSThresholds {
  limits XRMS {
  warning = 1000 
  error = 2000
    }
}

thresholds MuonComb_z0Mean_MB_Thresholds {
  limits AbsXMean {
  warning = 20 
  error = 100
    }
}

thresholds MuonComb_z0RMS_MB_Thresholds {
  limits XRMS {
  warning = 1000
  error = 2000
    }
}

thresholds MuonComb_z0Mean_IMO_Thresholds {
  limits AbsXMean {
  warning = 20
  error = 100
    }
}

thresholds MuonComb_z0RMS_IMO_Thresholds {
  limits XRMS {
  warning = 1000
  error = 2000
    }
}
thresholds MuonComb_pullz0MeanThresholds {
  limits AbsXMean {
  warning = .05
  error = 1
    }
}

thresholds MuonComb_pullz0RMSThresholds {
  limits XRMS {
  warning = 1.2
  error = 10
    }
}

thresholds MuonComb_deltaElossMeanThresholds {
  limits MPV {
  warning = 1.5
  error = 100
    }
}

thresholds MuonComb_dqBinsOutofRangeThresholds {
  limits NBins {
  warning = 1
  error = 1000000
    }
}
