# **********************************************************************
# $Id: heavyions_run.config 654004 2015-03-13 16:46:40Z gcree $
# **********************************************************************

############################################################
# MuonCombined
############################################################

#############
# Output
#############

output top_level {

  algorithm = WorstCaseSummary

  output MuonTracking {
    output Shifter {
    }  
    output Expert {
      output Summary {
      }
      output Segments {
      }
      output SpectrometerTracks {
      }    
      output MuonsCombined {
      }    
      output MuonsCalo {
      }    
      output MuonsForward {
      }    
    }  
  }
}

#######################
# Histogram Assessments
#######################

dir Muon {

  algorithm = GatherData
  reference = BasicRef

  dir MuonTrackMonitoring {
    dir NoTrigger {
      dir Overview {
#add essential plots here in Shifter directory 
        hist all_in_dir {
          output = MuonTracking/Expert/Summary
        }
      }
      dir Segments {
        dir Global {
#add essential plots here in Shifter directory 
          hist all_in_dir {
            output = MuonTracking/Expert/Segments
          }
        }
      }
      dir MSOnlyTracks {
        dir Global {
#add essential plots here in Shifter directory 
          hist all_in_dir {
            output = MuonTracking/Expert/SpectrometerTracks
          }
        }
      }
      dir Muons {
        dir Global {
#add essential plots here in Shifter directory 
          hist all_in_dir {
            output = MuonTracking/Expert/MuonsCombined
          }
        }
      }
      dir MuonsForward {
        dir Global {
#add essential plots here in Shifter directory 
          hist all_in_dir {
            output = MuonTracking/Expert/MuonsForward
          }
        }
      }
      dir MuonsCalo {
        dir Global {
#add essential plots here in Shifter directory 
          hist all_in_dir {
            output = MuonTracking/Expert/MuonsCalo
          }
        }
      }
    }
  }
}

##############
# Algorithms
##############

##############
# Thresholds
##############



##############
# References
##############
reference BasicRef {
  file = root://eosatlas//eos/atlas/user/g/gcree/SamplesForDQM/trackMon_252404_f531.root
  path = run_252404
  name = same_name
}
