##############################################################################
#
#  JESProvider Input Settings
#    Full list of nuisance parameters from the 2016 Moriond recommendations
#    iteration of the JES.
#
#    Reduced set of nuisance parameters for this iteration of the in-situ JES
#    Reduction was applied to the absolute in-situ globally, requiring 5+1NP
#    Resulting components are combined into three effective parameters
#       +1 MC nonclosure parameter (only if using AFII, zero for MC15)
#       +1 eta intercalibration nonclosure parameter (for |eta|~2.5)
#    This is combination scenario 2 of 4
#
#    Feb 16 2016
#
#  D. DeMarco, K. Pachal, S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_Moriond2016
SupportedJetDefs:                   AntiKt4EMTopo
SupportedMCTypes:                   MC15,AFII
UncertaintyRootFile:                JES_2015/Moriond2016/JESUncertainty_AllComponents_Moriond2016.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

# From Marc Geisen, Jan 2016
Pileup.MuRef:                       13.6
Pileup.NPVRef:                      8.7

##############################################################################
# 
#   Settings for JES Component Groups
#
##############################################################################

JESGroup.100.Name:                  GroupedNP_1
JESGroup.100.Desc:                  Strongly reduced JES uncertainty component 1
JESGroup.100.Type:                  Other
JESGroup.100.Corr:                  Uncorrelated
JESGroup.100.Group:                 100

JESGroup.101.Name:                  GroupedNP_2
JESGroup.101.Desc:                  Strongly reduced JES uncertainty component 2
JESGroup.101.Type:                  Other
JESGroup.101.Corr:                  Uncorrelated
JESGroup.101.Group:                 101

JESGroup.102.Name:                  GroupedNP_3
JESGroup.102.Desc:                  Strongly reduced JES uncertainty component 3
JESGroup.102.Type:                  Other
JESGroup.102.Corr:                  Uncorrelated
JESGroup.102.Group:                 102


##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

JESComponent.1.Name:                EffectiveNP_1
JESComponent.1.Desc:                Effective JES Uncertainty Component 1
JESComponent.1.Type:                Effective
JESComponent.1.Param:               Pt
JESComponent.1.Hists:               EffectiveNP_1
JESComponent.1.Group:               100

JESComponent.2.Name:                EffectiveNP_2
JESComponent.2.Desc:                Effective JES Uncertainty Component 2
JESComponent.2.Type:                Effective
JESComponent.2.Param:               Pt
JESComponent.2.Hists:               EffectiveNP_2
JESComponent.2.Group:               101

JESComponent.3.Name:                EffectiveNP_3
JESComponent.3.Desc:                Effective JES Uncertainty Component 3
JESComponent.3.Type:                Effective
JESComponent.3.Param:               Pt
JESComponent.3.Hists:               EffectiveNP_3
JESComponent.3.Group:               101

JESComponent.4.Name:                EffectiveNP_4
JESComponent.4.Desc:                Effective JES Uncertainty Component 4
JESComponent.4.Type:                Effective
JESComponent.4.Param:               Pt
JESComponent.4.Hists:               EffectiveNP_4
JESComponent.4.Group:               101

JESComponent.5.Name:                EffectiveNP_5
JESComponent.5.Desc:                Effective JES Uncertainty Component 5
JESComponent.5.Type:                Effective
JESComponent.5.Param:               Pt
JESComponent.5.Hists:               EffectiveNP_5
JESComponent.5.Group:               101

JESComponent.6.Name:                EffectiveNP_6restTerm
JESComponent.6.Desc:                Effective JES Uncertainty Component 6
JESComponent.6.Type:                Effective
JESComponent.6.Param:               Pt
JESComponent.6.Hists:               EffectiveNP_6restTerm
JESComponent.6.Group:               101

##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration combines 2D components with standard 1D components.
# Use explicit groups

# Eta intercalibration: theory uncertainty
JESGroup.1.Name:                    EtaIntercalibration_Modelling
JESGroup.1.Desc:                    Eta intercalibration: MC generator modelling uncertainty
JESGroup.1.Type:                    Modelling
JESGroup.1.Corr:                    Correlated
JESGroup.1.Group:                   1
JESGroup.1.SubGroup:                102
JESGroup.1.Reducible:               False

JESComponent.66.Name:               EtaIntercalibration_Modelling_orig
JESComponent.66.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.66.Type:               Modelling
JESComponent.66.Param:              PtEta
JESComponent.66.Hists:              EtaIntercalibration_Modelling
JESComponent.66.Split:              2
JESComponent.66.Group:              1
JESComponent.66.Reducible:          False

JESComponent.99.Name:               EtaIntercalibration_Modelling_orig
JESComponent.99.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.99.Type:               Modelling
JESComponent.99.Param:              PtEta
JESComponent.99.Hists:              EtaIntercalibration_Modelling
JESComponent.99.Split:              -2
JESComponent.99.Group:              101
JESComponent.99.Reducible:          False

JESComponent.67.Name:               EtaIntercalibration_Modelling_prop
JESComponent.67.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.67.Type:               Modelling
JESComponent.67.Param:              Pt
JESComponent.67.Hists:              InSituProp_EtaIntercalModelling
JESComponent.67.Group:              1
JESComponent.67.Reducible:          False


# Eta intercalibration: total statistical and method uncertainty
JESGroup.2.Name:                    EtaIntercalibration_TotalStat
JESGroup.2.Desc:                    Eta intercalibration: statistical uncertainty
JESGroup.2.Type:                    Statistical
JESGroup.2.Corr:                    Correlated
JESGroup.2.Group:                   2
JESGroup.2.SubGroup:                100
JESGroup.2.Reducible:               False

JESComponent.68.Name:               EtaIntercalibration_TotalStat_orig
JESComponent.68.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.68.Type:               Statistical
JESComponent.68.Param:              PtEta
JESComponent.68.Hists:              EtaIntercalibration_TotalStat
JESComponent.68.Group:              2
JESComponent.68.Reducible:          False

JESComponent.69.Name:               EtaIntercalibration_TotalStat_prop
JESComponent.69.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.69.Type:               Statistical
JESComponent.69.Param:              Pt
JESComponent.69.Hists:              InSituProp_EtaIntercalStat
JESComponent.69.Group:              2
JESComponent.69.Reducible:          False

# Eta intercalibration non-closure uncertainty: this one was not propagated
# through mjb so it stands alone
JESComponent.70.Name:               EtaIntercalibration_NonClosure
JESComponent.70.Desc:               Eta intercalibration: non-closure uncertainty
JESComponent.70.Type:               Other
JESComponent.70.Param:              PtEta
JESComponent.70.Hists:              EtaIntercalibration_NonClosure
JESComponent.70.Reducible:          False
JESComponent.70.Interp:             False
JESComponent.70.Group:              0

# High pT term
JESComponent.71.Name:               SingleParticle_HighPt
JESComponent.71.Desc:               High pT term (2012 version)
JESComponent.71.Type:               Detector
JESComponent.71.Param:              Pt
JESComponent.71.Reducible:          False
JESComponent.71.Group:              100

# Calibration closure
JESComponent.72.Name:               RelativeNonClosure_MCTYPE
JESComponent.72.Desc:               Closure of the calibration, relative to MC12a
JESComponent.72.Type:               Other
JESComponent.72.Param:              PtEta
JESComponent.72.Reducible:          False
JESComponent.72.Group:              0
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initializing the provider

# Pileup needs to combine special 2D components with standard 1D components
# so it needs explicit groups.

# Mu term grouping
JESGroup.3.Name:                    Pileup_OffsetMu
JESGroup.3.Desc:                    Pileup: Offset, mu term
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Correlated
JESGroup.3.Group:                   3
JESGroup.3.SubGroup:                101
JESGroup.3.Reducible:               False

# Pileup: Original mu term
JESComponent.73.Name:               Pileup_OffsetMu_orig
JESComponent.73.Desc:               Pileup: Offset, mu term, independent
JESComponent.73.Type:               Other
JESComponent.73.Param:              PtEta
JESComponent.73.Special:            True
JESComponent.73.Hists:              Pileup_OffsetMu
JESComponent.73.Group:              3
JESComponent.73.Reducible:          False

# Pileup: Propagated mu term
JESComponent.74.Name:               Pileup_OffsetMu_prop
JESComponent.74.Desc:               Pileup: Offset, mu term, propagated through mjb
JESComponent.74.Type:               Other
JESComponent.74.Param:              Pt
JESComponent.74.Hists:              InSituProp_PileupOffsetMu
JESComponent.74.Group:              3
JESComponent.74.Reducible:          False

# NPV term grouping
JESGroup.4.Name:                    Pileup_OffsetNPV
JESGroup.4.Desc:                    Pileup: Offset, NPV term
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Correlated
JESGroup.4.Group:                   4
JESGroup.4.SubGroup:                101
JESGroup.4.Reducible:               False

# Pileup: Original NPV term
JESComponent.75.Name:               Pileup_OffsetNPV_orig
JESComponent.75.Desc:               Pileup: Offset, NPV term, independent
JESComponent.75.Type:               Other
JESComponent.75.Param:              PtEta
JESComponent.75.Special:            True
JESComponent.75.Hists:              Pileup_OffsetNPV
JESComponent.75.Group:              4
JESComponent.75.Reducible:          False

# Pileup: Propagated NPV term
JESComponent.76.Name:               Pileup_OffsetNPV_prop
JESComponent.76.Desc:               Pileup: Offset, NPV term, propagated through mjb
JESComponent.76.Type:               Other
JESComponent.76.Param:              Pt
JESComponent.76.Hists:              InSituProp_PileupOffsetNPV
JESComponent.76.Group:              4
JESComponent.76.Reducible:          False

# pT term grouping
JESGroup.5.Name:                    Pileup_PtTerm
JESGroup.5.Desc:                    Pileup: Offset, pT term
JESGroup.5.Type:                    Other
JESGroup.5.Corr:                    Correlated
JESGroup.5.Group:                   5
JESGroup.5.SubGroup:                101
JESGroup.5.Reducible:               False

# Original pT term
JESComponent.77.Name:               Pileup_PtTerm_orig
JESComponent.77.Desc:               Pileup: Offset, pT term, independent
JESComponent.77.Type:               Other
JESComponent.77.Corr:               Correlated
JESComponent.77.Param:              PtEta
JESComponent.77.Special:            True
JESComponent.77.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV
JESComponent.77.Group:              5
JESComponent.77.Reducible:          False

# Propagated pT term
JESComponent.78.Name:               Pileup_PtTerm_prop
JESComponent.78.Desc:               Pileup: Offset, pT term, propagated through mjb
JESComponent.78.Type:               Other
JESComponent.78.Param:              Pt
JESComponent.78.Hists:              InSituProp_PileupPtTerm
JESComponent.78.Group:              5
JESComponent.78.Reducible:          False

# rho topology grouping
JESGroup.6.Name:                    Pileup_RhoTopology
JESGroup.6.Desc:                    Rho topology uncertainty (jet areas)
JESGroup.6.Type:                    Other
JESGroup.6.Corr:                    Correlated
JESGroup.6.Group:                   6
JESGroup.6.SubGroup:                101
JESGroup.6.Reducible:               False

# Original JetAreas rho topology
JESComponent.79.Name:               Pileup_RhoTopology_orig
JESComponent.79.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.79.Type:               Other
JESComponent.79.Param:              PtEta
JESComponent.79.Special:            True
JESComponent.79.Hists:              Pileup_RhoTopology
JESComponent.79.Group:              6
JESComponent.79.Reducible:          False

# Propagated JetAreas rho topology
JESComponent.80.Name:               Pileup_RhoTopology_prop
JESComponent.80.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.80.Type:               Other
JESComponent.80.Param:              Pt
JESComponent.80.Hists:              InSituProp_PileupRhoTopology
JESComponent.80.Group:              6
JESComponent.80.Reducible:          False

# Flavour composition needs to combine special 2D components with standard 1D components
# so it needs explicit groups too.

# Flavour composition grouping
JESGroup.7.Name:                    Flavor_Composition
JESGroup.7.Desc:                    Flavor composition uncertainty
JESGroup.7.Type:                    Modelling
JESGroup.7.Corr:                    Correlated
JESGroup.7.Group:                   7
JESGroup.7.SubGroup:                100
JESGroup.7.Reducible:               False

# Original flavour composition uncertainty
JESComponent.81.Name:               Flavor_Composition_orig
JESComponent.81.Desc:               Flavor composition uncertainty, independent
JESComponent.81.Type:               Modelling
JESComponent.81.Corr:               Correlated
JESComponent.81.Param:              PtEta
JESComponent.81.Special:            True
JESComponent.81.Hists:              flavorCompGlu,flavorCompLight
JESComponent.81.Group:              7
JESComponent.81.Split:              2
JESComponent.81.Reducible:          False

JESComponent.98.Name:               Flavor_Composition_orig
JESComponent.98.Desc:               Flavor composition uncertainty, independent
JESComponent.98.Type:               Modelling
JESComponent.98.Corr:               Correlated
JESComponent.98.Param:              PtEta
JESComponent.98.Special:            True
JESComponent.98.Hists:              flavorCompGlu,flavorCompLight
JESComponent.98.Group:              101
JESComponent.98.Split:              -2
JESComponent.98.Reducible:          False

# Propagated flavour composition uncertainty
JESComponent.82.Name:               Flavor_Composition_prop
JESComponent.82.Desc:               Flavor composition uncertainty, propagated through mjb
JESComponent.82.Type:               Modelling
JESComponent.82.Param:              Pt
JESComponent.82.Hists:              InSituProp_FlavorComposition
JESComponent.82.Group:              7
JESComponent.82.Reducible:          False

# Flavour composition grouping
JESGroup.8.Name:                    Flavor_Response
JESGroup.8.Desc:                    Flavor response uncertainty (dominated by gluon response)
JESGroup.8.Type:                    Other
JESGroup.8.Corr:                    Correlated
JESGroup.8.Group:                   8
JESGroup.8.SubGroup:                101
JESGroup.8.Reducible:               False

# Original flavour response uncertainty
JESComponent.83.Name:               Flavor_Response_orig
JESComponent.83.Desc:               Flavor response uncertainty, independent
JESComponent.83.Type:               Modelling
JESComponent.83.Param:              PtEta
JESComponent.83.Special:            True
JESComponent.83.Hists:              FlavorResponse
JESComponent.83.Group:              8
JESComponent.83.Split:              2
JESComponent.83.Reducible:          False

JESComponent.97.Name:               Flavor_Response_orig
JESComponent.97.Desc:               Flavor response uncertainty, independent
JESComponent.97.Type:               Modelling
JESComponent.97.Param:              PtEta
JESComponent.97.Special:            True
JESComponent.97.Hists:              FlavorResponse
JESComponent.97.Group:              100
JESComponent.97.Split:              -2
JESComponent.97.Reducible:          False

# Propagated flavour response uncertainty
JESComponent.84.Name:               Flavor_Response_prop
JESComponent.84.Desc:               Flavor response uncertainty, propagated through mjb
JESComponent.84.Type:               Modelling
JESComponent.84.Param:              Pt
JESComponent.84.Hists:              InSituProp_FlavorResponse
JESComponent.84.Group:              8
JESComponent.84.Reducible:          False

# bJES uncertainty
JESComponent.85.Name:               BJES_Response
JESComponent.85.Desc:               JES uncertainty for b jets
JESComponent.85.Type:               Modelling
JESComponent.85.Param:              PtEta
JESComponent.85.Special:            True
JESComponent.85.Hists:              bJES
JESComponent.85.Reducible:          False
JESComponent.85.Group:              101
JESComponent.85.Split:              2

JESComponent.96.Name:               BJES_Response
JESComponent.96.Desc:               JES uncertainty for b jets
JESComponent.96.Type:               Modelling
JESComponent.96.Param:              PtEta
JESComponent.96.Special:            True
JESComponent.96.Hists:              bJES
JESComponent.96.Reducible:          False
JESComponent.96.Group:              100
JESComponent.96.Split:              -2

# Make one more explicit group for the punchthrough
JESGroup.9.Name:                    PunchThrough_MCTYPE
JESGroup.9.Desc:                    Punch-through correction uncertainty
JESGroup.9.Type:                    Detector
JESGroup.9.Corr:                    Correlated
JESGroup.9.Group:                   9
JESGroup.9.SubGroup:                100
JESGroup.9.Reducible:               False

# Original punch-through uncertainty
JESComponent.86.Name:               PunchThrough_MCTYPE_orig
JESComponent.86.Desc:               Punch-through correction uncertainty, orig
JESComponent.86.Type:               Detector
JESComponent.86.Param:              PtAbsEta
JESComponent.86.Interp:             False
JESComponent.86.Special:            True
JESComponent.86.Hists:              PunchThrough_MCTYPE
JESComponent.86.Group               9
JESComponent.86.Reducible:          False

# Propagated punch-through uncertainty
JESComponent.87.Name:               PunchThrough_MCTYPE_prop
JESComponent.87.Desc:               Punch-through correction uncertainty, prop
JESComponent.87.Type:               Detector
JESComponent.87.Param:              Pt
JESComponent.87.Hists:              InSituProp_PunchThroughMC
JESComponent.87.Group               9
JESComponent.87.Reducible:          False

##############################################################################

