
##############################################################################
#
#  JESProvider Input Settings
#    Nuisance parameters required for MJB calculation
#    In-situ results included in main file were produced using this
#
#    25 ns version
#
#    Jan 23, 2016
#
#  K. Pachal
# 
##############################################################################

UncertaintyRelease:                 Moriond2016
SupportedJetDefs:                   AntiKt4EMTopo,AntiKt4LCTopo
SupportedMCTypes:                   MC15
UncertaintyRootFile:                JES_2015/Moriond2016/JESUncertainty_forMJB.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

# Under development, need to verify reference values 
Pileup.MuRef:                       20.7 
Pileup.NPVRef:                      12.5 

##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

# Z+jet: JVT term
JESComponent.1.Name:                Zjet_Jvt
JESComponent.1.Desc:                LAr JVT?
JESComponent.1.Type:                Modelling
JESComponent.1.Param:               Pt

# Z+jet: energy scale, Z->ee
JESComponent.2.Desc:                LAr energy scale - Zee component
JESComponent.2.Name:                Zjet_ElecESZee
JESComponent.2.Type:                Mixed
JESComponent.2.Param:               Pt

# Z+jet: energy smearing
JESComponent.3.Name:                Zjet_ElecEsmear
JESComponent.3.Type:                Mixed
JESComponent.3.Param:               Pt
JESComponent.3.SubComp:             Zjet_ElecEsmear

# gamma+jet: JVT term
JESComponent.100.Name:                Gjet_Jvt
JESComponent.100.Desc:                LAr JVT?
JESComponent.100.Type:                Modelling
JESComponent.100.Param:               Pt

# gamma+jet: energy scale, Z->ee
JESComponent.101.Desc:                LAr energy scale - Zee component
JESComponent.101.Name:                Gjet_GamESZee
JESComponent.101.Type:                Mixed
JESComponent.101.Param:               Pt

# gamma+jet: energy smearing
JESComponent.102.Desc:                LAr energy smearing
JESComponent.102.Name:                LAr_Esmear
JESComponent.102.Type:                Mixed
JESComponent.102.Param:               Pt
JESComponent.102.SubComp:             Gjet_GamEsmear

# Z+jet: dPhi
JESComponent.4.Name:                Zjet_dPhi
JESComponent.4.Desc:                Z+jet dPhi cut
JESComponent.4.Type:                Modelling
JESComponent.4.Param:               Pt

# Z+jet: MC
JESComponent.5.Name:                Zjet_MC
JESComponent.5.Desc:                Z+jet Monte Carlo generator difference
JESComponent.5.Type:                Modelling
JESComponent.5.Param:               Pt

# Z+jet: muon scale
JESComponent.6.Name:                Zjet_MuScale
JESComponent.6.Desc:                Z+jet muon scale
JESComponent.6.Type:                Detector
JESComponent.6.Param:               Pt

# Z+jet: muon smearing, inner detector
JESComponent.7.Name:                Zjet_MuSmearID
JESComponent.7.Desc:                Z+jet muon smearing (inner detector)
JESComponent.7.Type:                Modelling
JESComponent.7.Param:               Pt

# Z+jet: muon smearing, muon spectrometer
JESComponent.8.Name:               Zjet_MuSmearMS
JESComponent.8.Desc:               Z+jet muon smearing (muon spectrometer)
JESComponent.8.Type:               Modelling
JESComponent.8.Param:              Pt

# Z+jet: k-term
JESComponent.9.Name:               Zjet_KTerm
JESComponent.9.Desc:               Z+jet out-of-cone radiation
JESComponent.9.Type:               Modelling
JESComponent.9.Param:              Pt

# Z+jet: Veto
JESComponent.10.Name:               Zjet_Veto
JESComponent.10.Desc:               Z+jet radiation suppression (second jet veto)
JESComponent.10.Type:               Modelling
JESComponent.10.Param:              Pt

# gamma+jet: dPhi 
JESComponent.11.Name:               Gjet_dPhi
JESComponent.11.Desc:               gamma+jet dPhi
JESComponent.11.Type:               Modelling
JESComponent.11.Param:              Pt

# gamma+jet: Generator
JESComponent.12.Name:               Gjet_Generator
JESComponent.12.Desc:               gamma+jet Monte Carlo generator difference
JESComponent.12.Type:               Modelling
JESComponent.12.Param:              Pt

# gamma+jet: Out-of-cone
JESComponent.13.Name:               Gjet_OOC
JESComponent.13.Desc:               gamma+jet out-of-cone radiation
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              Pt

# gamma+jet: Purity
JESComponent.14.Name:               Gjet_Purity
JESComponent.14.Desc:               gamma+jet photon purity
JESComponent.14.Type:               Detector
JESComponent.14.Param:              Pt

# gamma+jet: Veto
JESComponent.15.Name:               Gjet_Veto
JESComponent.15.Desc:               gamma+jet radiation suppression (second jet veto)
JESComponent.15.Type:               Modelling
JESComponent.15.Param:              Pt

##############################################################################
# 
#   Statistical components, identified by source
#
##############################################################################

# Z+jet statistical component No. 1
JESComponent.16.Name:               Zjet_Stat1
JESComponent.16.Desc:               Z+jet statistical uncertainty No. 1
JESComponent.16.Type:               Statistical
JESComponent.16.Param:              Pt

# Z+jet statistical component No. 2
JESComponent.17.Name:               Zjet_Stat2
JESComponent.17.Desc:               Z+jet statistical uncertainty No. 2
JESComponent.17.Type:               Statistical
JESComponent.17.Param:              Pt

# Z+jet statistical component No. 3
JESComponent.18.Name:               Zjet_Stat3
JESComponent.18.Desc:               Z+jet statistical uncertainty No. 3
JESComponent.18.Type:               Statistical
JESComponent.18.Param:              Pt

# Z+jet statistical component No. 4
JESComponent.19.Name:               Zjet_Stat4
JESComponent.19.Desc:               Z+jet statistical uncertainty No. 4
JESComponent.19.Type:               Statistical
JESComponent.19.Param:              Pt

# Z+jet statistical component No. 5
JESComponent.20.Name:               Zjet_Stat5
JESComponent.20.Desc:               Z+jet statistical uncertainty No. 5
JESComponent.20.Type:               Statistical
JESComponent.20.Param:              Pt

# Z+jet statistical component No. 6
JESComponent.21.Name:               Zjet_Stat6
JESComponent.21.Desc:               Z+jet statistical uncertainty No. 6
JESComponent.21.Type:               Statistical
JESComponent.21.Param:              Pt

# Z+jet statistical component No. 7
JESComponent.22.Name:               Zjet_Stat7
JESComponent.22.Desc:               Z+jet statistical uncertainty No. 7
JESComponent.22.Type:               Statistical
JESComponent.22.Param:              Pt

# Z+jet statistical component No. 8
JESComponent.23.Name:               Zjet_Stat8
JESComponent.23.Desc:               Z+jet statistical uncertainty No. 8
JESComponent.23.Type:               Statistical
JESComponent.23.Param:              Pt

# Z+jet statistical component No. 9
JESComponent.24.Name:               Zjet_Stat9
JESComponent.24.Desc:               Z+jet statistical uncertainty No. 9
JESComponent.24.Type:               Statistical
JESComponent.24.Param:              Pt

# Z+jet statistical component No. 10
JESComponent.25.Name:               Zjet_Stat10
JESComponent.25.Desc:               Z+jet statistical uncertainty No. 10
JESComponent.25.Type:               Statistical
JESComponent.25.Param:              Pt

# Z+jet statistical component No. 11
JESComponent.26.Name:               Zjet_Stat11
JESComponent.26.Desc:               Z+jet statistical uncertainty No. 11
JESComponent.26.Type:               Statistical
JESComponent.26.Param:              Pt

# Z+jet statistical component No. 12
JESComponent.27.Name:               Zjet_Stat12
JESComponent.27.Desc:               Z+jet statistical uncertainty No. 12
JESComponent.27.Type:               Statistical
JESComponent.27.Param:              Pt

# Z+jet statistical component No. 13
JESComponent.28.Name:               Zjet_Stat13
JESComponent.28.Desc:               Z+jet statistical uncertainty No. 13
JESComponent.28.Type:               Statistical
JESComponent.28.Param:              Pt

# gamma+jet statistical component No. 1
JESComponent.29.Name:               Gjet_Stat1
JESComponent.29.Desc:               gamma+jet statistical uncertainty No. 1
JESComponent.29.Type:               Statistical
JESComponent.29.Param:              Pt

# gamma+jet statistical component No. 2
JESComponent.30.Name:               Gjet_Stat2
JESComponent.30.Desc:               gamma+jet statistical uncertainty No. 2
JESComponent.30.Type:               Statistical
JESComponent.30.Param:              Pt

# gamma+jet statistical component No. 3
JESComponent.31.Name:               Gjet_Stat3
JESComponent.31.Desc:               gamma+jet statistical uncertainty No. 3
JESComponent.31.Type:               Statistical
JESComponent.31.Param:              Pt

# gamma+jet statistical component No. 4
JESComponent.32.Name:               Gjet_Stat4
JESComponent.32.Desc:               gamma+jet statistical uncertainty No. 4
JESComponent.32.Type:               Statistical
JESComponent.32.Param:              Pt

# gamma+jet statistical component No. 5
JESComponent.33.Name:               Gjet_Stat5
JESComponent.33.Desc:               gamma+jet statistical uncertainty No. 5
JESComponent.33.Type:               Statistical
JESComponent.33.Param:              Pt

# gamma+jet statistical component No. 6
JESComponent.34.Name:               Gjet_Stat6
JESComponent.34.Desc:               gamma+jet statistical uncertainty No. 6
JESComponent.34.Type:               Statistical
JESComponent.34.Param:              Pt

# gamma+jet statistical component No. 7
JESComponent.35.Name:               Gjet_Stat7
JESComponent.35.Desc:               gamma+jet statistical uncertainty No. 7
JESComponent.35.Type:               Statistical
JESComponent.35.Param:              Pt

# gamma+jet statistical component No. 8
JESComponent.36.Name:               Gjet_Stat8
JESComponent.36.Desc:               gamma+jet statistical uncertainty No. 8
JESComponent.36.Type:               Statistical
JESComponent.36.Param:              Pt

# gamma+jet statistical component No. 9
JESComponent.37.Name:               Gjet_Stat9
JESComponent.37.Desc:               gamma+jet statistical uncertainty No. 9
JESComponent.37.Type:               Statistical
JESComponent.37.Param:              Pt

# gamma+jet statistical component No. 10
JESComponent.38.Name:               Gjet_Stat10
JESComponent.38.Desc:               gamma+jet statistical uncertainty No. 10
JESComponent.38.Type:               Statistical
JESComponent.38.Param:              Pt

# gamma+jet statistical component No. 11
JESComponent.39.Name:               Gjet_Stat11
JESComponent.39.Desc:               gamma+jet statistical uncertainty No. 11
JESComponent.39.Type:               Statistical
JESComponent.39.Param:              Pt

# gamma+jet statistical component No. 12
JESComponent.40.Name:               Gjet_Stat12
JESComponent.40.Desc:               gamma+jet statistical uncertainty No. 12
JESComponent.40.Type:               Statistical
JESComponent.40.Param:              Pt

# gamma+jet statistical component No. 13
JESComponent.41.Name:               Gjet_Stat13
JESComponent.41.Desc:               gamma+jet statistical uncertainty No. 13
JESComponent.41.Type:               Statistical
JESComponent.41.Param:              Pt

# gamma+jet statistical component No. 14
JESComponent.42.Name:               Gjet_Stat14
JESComponent.42.Desc:               gamma+jet statistical uncertainty No. 14
JESComponent.42.Type:               Statistical
JESComponent.42.Param:              Pt

# gamma+jet statistical component No. 15
JESComponent.43.Name:               Gjet_Stat15
JESComponent.43.Desc:               gamma+jet statistical uncertainty No. 15
JESComponent.43.Type:               Statistical
JESComponent.43.Param:              Pt

##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration: theory uncertainty
JESComponent.44.Name:               EtaIntercalibration_Modelling
JESComponent.44.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.44.Type:               Modelling
JESComponent.44.Param:              PtEta

# Eta intercalibration: total statistical and method uncertainty
JESComponent.45.Name:               EtaIntercalibration_TotalStat
JESComponent.45.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.45.Type:               Statistical
JESComponent.45.Param:              PtEta

# Pileup: Mu term
JESComponent.46.Name:               Pileup_OffsetMu
JESComponent.46.Desc:               Pileup: Offset, mu term
JESComponent.46.Type:               Other
JESComponent.46.Param:              PtEta
JESComponent.46.Special:            True

# Pileup: NPV term
JESComponent.47.Name:               Pileup_OffsetNPV
JESComponent.47.Desc:               Pileup: Offset, NPV term
JESComponent.47.Type:               Other
JESComponent.47.Param:              PtEta
JESComponent.47.Special:            True

# Pileup: pT term
JESComponent.48.Name:               Pileup_PtTerm
JESComponent.48.Desc:               Pileup: Offset, pT term
JESComponent.48.Type:               Other
JESComponent.48.Corr:               Correlated
JESComponent.48.Param:              PtEta
JESComponent.48.Special:            True
JESComponent.48.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV

# JetAreas rho topology
JESComponent.49.Name:               Pileup_RhoTopology
JESComponent.49.Desc:               Rho topology uncertainty (jet areas)
JESComponent.49.Type:               Other
JESComponent.49.Param:              PtEta
JESComponent.49.Special:            True

# Flavour composition uncertainty
JESComponent.50.Name:               Flavor_Composition
JESComponent.50.Desc:               Flavor composition uncertainty
JESComponent.50.Type:               Modelling
JESComponent.50.Corr:               Correlated
JESComponent.50.Param:              PtEta
JESComponent.50.Special:            True
JESComponent.50.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.51.Name:               Flavor_Response
JESComponent.51.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.51.Type:               Modelling
JESComponent.51.Param:              PtEta
JESComponent.51.Special:            True
JESComponent.51.Hists:              FlavorResponse

# Punch-through uncertainty
JESComponent.52.Name:               PunchThrough_MCTYPE
JESComponent.52.Desc:               Punch-through correction uncertainty
JESComponent.52.Type:               Detector
JESComponent.52.Param:              PtAbsEta
JESComponent.52.Interp:             False
JESComponent.52.Special:            True

##############################################################################

