##############################################################################

UncertaintyRelease:                 rel21_Moriond2018
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC16a
UncertaintyRootFile:                /data/data7/zp/tnobe/testBJT4/build/x86_64-slc6-gcc62-opt/share/JetUncertainties/test/rel21/Moriond2018/testSF.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               Calo

##############################################################################
# 
#   Settings for components
#
##############################################################################


#  Groups


JESGroup.1.Name:                   SF_Syst1
JESGroup.1.Desc:                   Dummy syst for tagging efficiency SF
JESGroup.1.Group:                  1


#  Components

JESComponent.1.Name:                 Syst1_single_q_SF
JESComponent.1.Param:                LogPtMass
JESComponent.1.MassDef:              Calo
JESComponent.1.Scale:                SF
JESComponent.1.Group:                1


