##############################################################################

UncertaintyRelease:                 rel21_Moriond2018
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC16a
UncertaintyRootFile:                /data/data7/zp/tnobe/testBJT4/build/x86_64-slc6-gcc62-opt/share/JetUncertainties/test/rel21/Moriond2018/TagSFUncert_JSSDNNTagger_AntiKt10LCTopoTrimmed_TopQuarkContained_80Eff.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               Calo
FileValidSFName:                    DNNTaggerTopQuarkContained80_SF

##############################################################################
# 
#   Settings for components
#
##############################################################################

#  Groups

JESGroup.1.Name:                   LARGERJET_Rtrk_Baseline_pT_TagSF
JESGroup.1.Desc:                   Syst for tagging efficiency SF from large-R jet JES
JESGroup.1.Group:                  1

JESGroup.2.Name:                   LARGERJET_Rtrk_Modelling_pT_TagSF
JESGroup.2.Desc:                   Syst for tagging efficiency SF from large-R jet JES
JESGroup.2.Group:                  2

JESGroup.3.Name:                   LARGERJET_Rtrk_Tracking_pT_TagSF
JESGroup.3.Desc:                   Syst for tagging efficiency SF from large-R jet JES
JESGroup.3.Group:                  3

JESGroup.4.Name:                   LARGERJET_Rtrk_TotalStat_pT_TagSF
JESGroup.4.Desc:                   Syst for tagging efficiency SF from large-R jet JES
JESGroup.4.Group:                  4

JESGroup.5.Name:                   Dijet_Stat_TagSF
JESGroup.5.Desc:                   Stat uncertainty of dijet events to estimate background SF
JESGroup.5.Group:                  5

JESGroup.6.Name:                   Gammajet_Stat_TagSF
JESGroup.6.Desc:                   Stat uncertainty of gamma+jet events to estimate background SF
JESGroup.6.Group:                  6

JESGroup.7.Name:                   Dijet_Modelling_TagSF
JESGroup.7.Desc:                   Modelling uncertainty of dijet events to estimate background SF
JESGroup.7.Group:                  7

JESGroup.8.Name:                   Gammajet_Modelling_TagSF
JESGroup.8.Desc:                   Modelling uncertainty of gamma+jet events to estimate background SF
JESGroup.8.Group:                  8

JESGroup.9.Name:                   ttbar_Modelling_radiation_t_qqb_TagSF
JESGroup.9.Desc:                   Modelling uncertainty of ttbar events (radiation)
JESGroup.9.Group:                  9

JESGroup.10.Name:                   ttbar_Modelling_hadronisation_t_qqb_TagSF
JESGroup.10.Desc:                   Modelling uncertainty of ttbar events (hadronisation)
JESGroup.10.Group:                  10

JESGroup.11.Name:                   ttbar_Modelling_matrixElement_t_qqb_TagSF
JESGroup.11.Desc:                   Modelling uncertainty of ttbar events (matrixElement)
JESGroup.11.Group:                  11

JESGroup.16.Name:                   ttbar_Modelling_bTagLight_0_t_qqb_SF
JESGroup.11.Desc:                   Modelling uncertainty of ttbar events (b-tag SF)
JESGroup.16.Group:                  12

JESGroup.17.Name:                   ttbar_Modelling_top_highPt
JESGroup.11.Desc:                   Modelling uncertainty of ttbar events (high-pT extrapolation based on MC differences)
JESGroup.17.Group:                  13

#  Components

JESComponent.1.Name:                  LARGERJET_Rtrk_Baseline_pT_single_q_SF
JESComponent.1.Param:                 eLOGPtMassForTagSF
JESComponent.1.MassDef:               Calo
JESComponent.1.Scale:                 TagScaleFactor
JESComponent.1.FatjetTruthLabelForSF: q
JESComponent.1.Group:                 1

JESComponent.2.Name:                  LARGERJET_Rtrk_Baseline_pT_t_qqb_SF
JESComponent.2.Param:                 eLOGPtMassForTagSF
JESComponent.2.MassDef:               Calo
JESComponent.2.Scale:                 TagScaleFactor
JESComponent.2.FatjetTruthLabelForSF: t_qqb
JESComponent.2.Group:                 1

JESComponent.3.Name:                  LARGERJET_Rtrk_Modelling_pT_single_q_SF
JESComponent.3.Param:                 eLOGPtMassForTagSF
JESComponent.3.MassDef:               Calo
JESComponent.3.Scale:                 TagScaleFactor
JESComponent.3.FatjetTruthLabelForSF: q
JESComponent.3.Group:                 2

JESComponent.4.Name:                  LARGERJET_Rtrk_Modelling_pT_t_qqb_SF
JESComponent.4.Param:                 eLOGPtMassForTagSF
JESComponent.4.MassDef:               Calo
JESComponent.4.Scale:                 TagScaleFactor
JESComponent.4.FatjetTruthLabelForSF: t_qqb
JESComponent.4.Group:                 2

JESComponent.5.Name:                  LARGERJET_Rtrk_Tracking_pT_single_q_SF
JESComponent.5.Param:                 eLOGPtMassForTagSF
JESComponent.5.MassDef:               Calo
JESComponent.5.Scale:                 TagScaleFactor
JESComponent.5.FatjetTruthLabelForSF: q
JESComponent.5.Group:                 3

JESComponent.6.Name:                  LARGERJET_Rtrk_Tracking_pT_t_qqb_SF
JESComponent.6.Param:                 eLOGPtMassForTagSF
JESComponent.6.MassDef:               Calo
JESComponent.6.Scale:                 TagScaleFactor
JESComponent.6.FatjetTruthLabelForSF: t_qqb
JESComponent.6.Group:                 3

JESComponent.7.Name:                  LARGERJET_Rtrk_TotalStat_pT_single_q_SF
JESComponent.7.Param:                 eLOGPtMassForTagSF
JESComponent.7.MassDef:               Calo
JESComponent.7.Scale:                 TagScaleFactor
JESComponent.7.FatjetTruthLabelForSF: q
JESComponent.7.Group:                 4

JESComponent.8.Name:                  LARGERJET_Rtrk_TotalStat_pT_t_qqb_SF
JESComponent.8.Param:                 eLOGPtMassForTagSF
JESComponent.8.MassDef:               Calo
JESComponent.8.Scale:                 TagScaleFactor
JESComponent.8.FatjetTruthLabelForSF: t_qqb
JESComponent.8.Group:                 4

JESComponent.9.Name:                  Dijet_Stat_single_q_SF
JESComponent.9.Param:                 eLOGPtMassForTagSF
JESComponent.9.MassDef:               Calo
JESComponent.9.Scale:                 TagScaleFactor
JESComponent.9.FatjetTruthLabelForSF: q
JESComponent.9.Group:                 5

JESComponent.10.Name:                  Gammajet_Stat_single_q_SF
JESComponent.10.Param:                 eLOGPtMassForTagSF
JESComponent.10.MassDef:               Calo
JESComponent.10.Scale:                 TagScaleFactor
JESComponent.10.FatjetTruthLabelForSF: q
JESComponent.10.Group:                 6

JESComponent.11.Name:                  Dijet_Modelling_single_q_SF
JESComponent.11.Param:                 eLOGPtMassForTagSF
JESComponent.11.MassDef:               Calo
JESComponent.11.Scale:                 TagScaleFactor
JESComponent.11.FatjetTruthLabelForSF: q
JESComponent.11.Group:                 7

JESComponent.12.Name:                  Gammajet_Modelling_single_q_SF
JESComponent.12.Param:                 eLOGPtMassForTagSF
JESComponent.12.MassDef:               Calo
JESComponent.12.Scale:                 TagScaleFactor
JESComponent.12.FatjetTruthLabelForSF: q
JESComponent.12.Group:                 8

JESComponent.13.Name:                  ttbar_Modelling_radiation_t_qqb_SF
JESComponent.13.Param:                 eLOGPtMassForTagSF
JESComponent.13.MassDef:               Calo
JESComponent.13.Scale:                 TagScaleFactor
JESComponent.13.FatjetTruthLabelForSF: t_qqb
JESComponent.13.Group:                 9

JESComponent.14.Name:                  ttbar_Modelling_hadronisation_t_qqb_SF
JESComponent.14.Param:                 eLOGPtMassForTagSF
JESComponent.14.MassDef:               Calo
JESComponent.14.Scale:                 TagScaleFactor
JESComponent.14.FatjetTruthLabelForSF: t_qqb
JESComponent.14.Group:                 10

JESComponent.15.Name:                  ttbar_Modelling_matrixElement_t_qqb_SF
JESComponent.15.Param:                 eLOGPtMassForTagSF
JESComponent.15.MassDef:               Calo
JESComponent.15.Scale:                 TagScaleFactor
JESComponent.15.FatjetTruthLabelForSF: t_qqb
JESComponent.15.Group:                 11

JESComponent.16.Name:                  ttbar_Modelling_bTagLight_0_t_qqb_SF
JESComponent.16.Param:                 eLOGPtMassForTagSF
JESComponent.16.MassDef:               Calo
JESComponent.16.Scale:                 TagScaleFactor
JESComponent.16.FatjetTruthLabelForSF: t_qqb
JESComponent.16.Group:                 12

JESComponent.17.Name:                  ttbar_Modelling_top_highPt
JESComponent.17.Param:                 eLOGPtMassForTagSF
JESComponent.17.MassDef:               Calo
JESComponent.17.Scale:                 TagScaleFactor
JESComponent.17.FatjetTruthLabelForSF: t_qqb
JESComponent.17.Group:                 13

