html,body {
border-collapse:collapse;
padding:0px;
margin:0px;
text-decoration:none;
font-family:"Arial";
font-size:15px;
height:100%;
}

/*
input[type='checkbox'] {
vertical-align:middle;
}
*/

a {
text-decoration:none;
}

td,pre {
padding:0px;
border-collapse:collapse;
}

table {
border-collapse:collapse;
text-align:center;
padding:0px;
font-size:10px;
}

input,select {
border-collapse:collapse;
text-align:center;
padding:0px;
margin:0px;
font-size:10px;
}

table.list td {
padding:1px;
border: 1px solid white;
}

table.list pre { 
padding:0px; 
border-collapse:collapse;
margin:0px;
}

table.list {
font-family:"Arial";
font-size:10px;
padding:1px;
background: #4F81BD;
}

table.report td { 
padding:5px;
border: 1px solid white;
}

table.report {
font-family:"Arial";
font-size:12px;
/*padding:10px;*/
background: #4F81BD;        
}

tr.out0 { background: #E9EDF4; font-size: 90%; }
tr.out1 { background: #D0D8E8; font-size: 90%; }

a.det0 { color: #006600; }
a.det1 { color: #FF0000; }
a.det2 { color: #0000FF; }
a.det3 { color: #FF00FF; }
a.det4 { color: #FFFF00; }
a.det5 { color: #000000; }

a.lb0 { color: #0000FF; }
a.lb1 { color: #FF0000; }
a.lb2 { color: #006600; }

.wrapper {
min-height: 100%;
height: 100%;
height: auto !important;
margin: 0px 0px -75px 5px;
}
.footer, .push {
height: 75px;
margin: auto 5px;
}

div {
margin: 0;
font-size:10px;
}
