# Copyright (C) 2002-2022 CERN for the benefit of the ATLAS collaboration
#
# Configuration file for the checkergcc plugins.
#    see https://gitlab.cern.ch/atlas/atlasexternals/tree/master/External/CheckerGccPlugins

[thread.check_paths]
Calorimeter
-Calorimeter/CaloRec
-Calorimeter/CaloCnv/CaloJiveXML
HLT
MagneticField
Tools
-Tools/LWHists
