# Copyright (C) 2002-2022 CERN for the benefit of the ATLAS collaboration
#
# Configuration file for the checkergcc plugins.
#    see https://gitlab.cern.ch/atlas/atlasexternals/tree/master/External/CheckerGccPlugins
#
# This file contains the checkergcc settings applicable to regular builds applied on top of
# the checkergcc-base.config file. 
#

[thread.check_paths]
Calorimeter
-Calorimeter/CaloRec
-Calorimeter/CaloCnv/CaloJiveXML
HighGranularityTimingDetector
InnerDetector
HLT
LumiBlock
MagneticField
Tools
-Tools/LWHists
Trigger
-Trigger/TrigAnalysis/TrigInDetAnalysisUser
-Trigger/TrigAnalysis/TrigInDetAnalysisExample
