# **********************************************************************
# $Id: collisions_minutes10.config 512385 2012-08-03 15:02:09Z vogel $
# **********************************************************************

############################################################
# Muon
############################################################

#############
# Output
#############

output top_level {
  output MuonDetectors {
    output MDT {
	output Expert {
	  output RecoMonitoring {
	  }
        }
	output MDTBA {
#	  algorithm = MDT_Summary	
        }
	output MDTBC {
#	  algorithm = MDT_Summary	
        }
	output MDTEA {
#	  algorithm = MDT_Summary	
        }
	output MDTEC {
#	  algorithm = MDT_Summary	
        }
    }
  }
}


#######################
# Histogram Assessments
#######################

dir Muon {
  dir MuonRawDataMonitoring {
    dir MDT {
      algorithm = MDT_Histogram_Not_Empty
      dir Overview_lowStat {
	dir Expert {
	  dir RecoMonitoring {
	    output = MuonDetectors/MDT/Expert/RecoMonitoring
	    hist NumberOfHitsInBarrelPerChamber_onSegm_ADCCut {
    	      description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	      algorithm = MDTBarrel_BinsGreaterThanThreshold_Null
	      display = LogZ
 	    }
 	    hist NumberOfHitsInEndCapPerChamber_onSegm_ADCCut {
    	      description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	      algorithm = MDTEndCap_BinsGreaterThanThreshold_Null
	      display = LogZ
 	    }	    
  	  }
        }
 	output = MuonDetectors/MDT	
 	hist TotalNumber_of_MDT_hits_per_event {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogY,StatBox
 	}
 	hist TotalNumber_of_MDT_hits_per_event_ADCCut {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogY,StatBox
 	}
 	hist TotalNumber_of_MDT_hits_per_event_big {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogY,StatBox
	}
 	hist TotalNumber_of_MDT_hits_per_event_big_ADCCut {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogY,StatBox
 	}
 	hist Overall_TDC_ADCCut_spectrum {
	  algorithm = MDT_AlgMDTTDCOfflineSpectrum
	  display = StatBox
 	}
 	hist Overall_ADC_spectrum {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogY,StatBox
 	}
 	hist Overall_ADC_onSegm_spectrum {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogY,StatBox
 	}
 	hist Overall_TDC_onSegm_ADCCut_spectrum {
	  algorithm = MDT_AlgMDTTDCOfflineSpectrum
	  display = StatBox
 	}
 	hist Overall_TDCADC_spectrum {
	  algorithm = MDT_Histogram_Not_Empty&GatherData
	  display = LogZ,<AxisRange(50,300,"Y")>, StatBox
 	}
 	hist NumberOfHitsInBarrelPerChamber_ADCCut {
   	  description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	  algorithm = MDTBarrel_BinsGreaterThanThreshold
  	  display = LogZ
 	}
 	hist NumberOfHitsInEndCapPerChamber_ADCCut {
   	  description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	  algorithm = MDTEndCap_BinsGreaterThanThreshold
	  display = LogZ
 	}
     }
      dir MDTBA {	
	dir Overview_lowStat {	
	  output = MuonDetectors/MDT/MDTBA	
	  hist MDTTDC_Summary_ADCCut_BA {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
	  hist MDTTDC_segm_Summary_ADCCut_BA {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
       	  hist Overall_TDCADC_spectrum_BA {
	    algorithm = MDT_Histogram_Not_Empty&GatherData
            display = LogZ,<AxisRange(50,300,"Y")>,StatBox
 	  }
	  hist NumberOfHitsInBAExtraPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAExtra_BinsGreaterThanThreshold
	    display = LogZ
          }
	  hist NumberOfHitsInBAInnerPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAIn_BinsGreaterThanThreshold
  	  display = LogZ
	  }
	  hist NumberOfHitsInBAMiddlePerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAMid_BinsGreaterThanThreshold
	  display = LogZ
	  }
	  hist NumberOfHitsInBAOuterPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAOut_BinsGreaterThanThreshold
	  display = LogZ
	  }	      
	}
      }	
      dir MDTBC {
	dir Overview_lowStat {	
	  output = MuonDetectors/MDT/MDTBC	
	  hist MDTTDC_Summary_ADCCut_BC {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
	  hist MDTTDC_segm_Summary_ADCCut_BC {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
       	  hist Overall_TDCADC_spectrum_BC {
	    algorithm = MDT_Histogram_Not_Empty&GatherData
            display = LogZ,<AxisRange(50,300,"Y")>,StatBox
 	  }
	  hist NumberOfHitsInBCExtraPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAExtra_BinsGreaterThanThreshold
	    display = LogZ
          }
	  hist NumberOfHitsInBCInnerPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAIn_BinsGreaterThanThreshold
    	    display = LogZ
	  }
	  hist NumberOfHitsInBCMiddlePerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBAMid_BinsGreaterThanThreshold
	    display = LogZ
	  }
	  hist NumberOfHitsInBCOuterPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTBCOut_BinsGreaterThanThreshold
	    display = LogZ
	  }	      
	}	
      }
      dir MDTEA {
	dir Overview_lowStat {	
	  output = MuonDetectors/MDT/MDTEA	
	  hist MDTTDC_Summary_ADCCut_EA {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
	  hist MDTTDC_segm_Summary_ADCCut_EA {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
       	  hist Overall_TDCADC_spectrum_EA {
	    algorithm = MDT_Histogram_Not_Empty&GatherData
            display = LogZ,<AxisRange(50,300,"Y")>,StatBox
 	  }
	  hist NumberOfHitsInEAExtraPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAExtra_BinsGreaterThanThreshold
	    display = LogZ
          }
	  hist NumberOfHitsInEAInnerPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAIn_BinsGreaterThanThreshold
	    display = LogZ
	  }
	  hist NumberOfHitsInEAMiddlePerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAMid_BinsGreaterThanThreshold
	    display = LogZ
	  }
	  hist NumberOfHitsInEAOuterPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAOut_BinsGreaterThanThreshold
	    display = LogZ
	  }	      
	}
      }	
      dir MDTEC {
	dir Overview_lowStat {		
	  output = MuonDetectors/MDT/MDTEC	
	  hist MDTTDC_Summary_ADCCut_EC {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
	  hist MDTTDC_segm_Summary_ADCCut_EC {
	    algorithm = MDT_AlgMDTTDCOfflineSpectrum
	    display = StatBox
	  }
       	  hist Overall_TDCADC_spectrum_EC {
	    algorithm = MDT_Histogram_Not_Empty&GatherData
            display = LogZ,<AxisRange(50,300,"Y")>,StatBox
 	  }
	  hist NumberOfHitsInECExtraPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAExtra_BinsGreaterThanThreshold
	    display = LogZ
          }
	  hist NumberOfHitsInECInnerPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAIn_BinsGreaterThanThreshold
            display = LogZ
	  }
	  hist NumberOfHitsInECMiddlePerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAMid_BinsGreaterThanThreshold
	    display = LogZ
	  }
	  hist NumberOfHitsInECOuterPerMultiLayer_ADCCut {
     	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	    algorithm = MDTEAOut_BinsGreaterThanThreshold
	    display = LogZ
	  }	      
	}
      }	
    }
  }
}


#############
##Algorithms
#############
# Note on Algs
# For Bin_LessThanNonZeroMedian
# A side are the same as C side save for BAOut vs BCOut
#############

algorithm MDT_AlgMDTTDCOfflineSpectrum { 
  libname = libdqm_algorithms.so
  name = AlgMDTTDCOfflineSpectrum
  MinStat = 100000	
  t0Warning = 400
  t0Error = 300
  tMaxWarning = 1600
  tMaxError = 1800 
}
algorithm MDTBarrel_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  BinThreshold = 0.015
  MinStat = 250000
  MinBinThreshold = 1
  TotalBins = 656		
  thresholds = MDTBarrel_thresholds
}
algorithm MDTEndCap_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 50000
  BinThreshold = 0.015
  MinBinThreshold = 1
  TotalBins = 462
  thresholds = MDTEndCap_thresholds
}
algorithm MDTBarrel_BinsGreaterThanThreshold_Null {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  BinThreshold = 0.02
  MinBinThreshold = 1
  TotalBins = 656		
  thresholds = MDTBarrel_thresholds_null
}
algorithm MDTEndCap_BinsGreaterThanThreshold_Null {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  BinThreshold = 0.02
  MinBinThreshold = 1
  TotalBins = 462
  thresholds = MDTEndCap_thresholds_null
}
algorithm MDTBAExtra_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 10000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 16
  thresholds = MDTBAExt_thresholds
}
algorithm MDTBAIn_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 50000
  BinThreshold = 0.03
  MinBinThreshold = 1
  TotalBins = 236
  thresholds = MDTBAIn_thresholds
}
algorithm MDTBAMid_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 50000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 178
  thresholds = MDTBAMid_thresholds
}
algorithm MDTBAOut_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 50000
  BinThreshold = 0.10
  MinBinThreshold = 1	
  TotalBins = 204
  thresholds = MDTBAOut_thresholds
}
algorithm MDTBCOut_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 50000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 200
  thresholds = MDTBCOut_thresholds
}
algorithm MDTEAExtra_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 5000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 10
  thresholds = MDTEAExt_thresholds
}
algorithm MDTEAIn_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 10000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 100
  thresholds = MDTEAIn_thresholds
}
algorithm MDTEAMid_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 10000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 160
  thresholds = MDTEAMid_thresholds
}
algorithm MDTEAOut_BinsGreaterThanThreshold {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThanNonZeroMedian_Threshold
  MinStat = 10000
  BinThreshold = 0.10
  MinBinThreshold = 1
  TotalBins = 192
  thresholds = MDTEAOut_thresholds
}

#############
##Thresholds
#############

thresholds MDTBarrel_thresholds {
  limits NBins {
    #total 656/986
    warning = 590.0001
    error = 590
  }
}
thresholds MDTEndCap_thresholds {
  limits NBins {
#    #total 452/768
    #total w/ 10 extra chambers 462/768
    warning = 416.0001 
    error = 416
  }
}
thresholds MDTBarrel_thresholds_null {
  limits NBins {
    #total 656/986
    warning = 0.0001
    error = 0
  }
}
thresholds MDTEndCap_thresholds_null {
  limits NBins {
#    #total 452/768
    #total w/ 10 extra chambers 462/768
    warning = 0.0001
    error = 0
  }
}
thresholds MDTBAExt_thresholds {
  limits NBins {
    #total 16/64
    warning = 12.0001
    error = 12
  }
}
thresholds MDTBAIn_thresholds {
  limits NBins {
    #total 236/256
    warning = 212.0001
    error = 212
  }
}
thresholds MDTBAMid_thresholds {
  limits NBins {
    #total 178/256
    warning = 160.0001
    error = 160
  }
}
thresholds MDTBAOut_thresholds {
  limits NBins {
    #total 204/288
    warning = 184.0001
    error = 184
  }
}
thresholds MDTBCOut_thresholds {
  limits NBins {
    #total 200/256
    warning = 180.0001
    error = 180
  }
}
thresholds MDTEAExt_thresholds {
  limits NBins {
    #total 10/256
    warning = 8.0001
    error = 8
  }
}
thresholds MDTEAIn_thresholds {
  limits NBins {
    #total 100/192
    warning = 90.0001
    error = 90
  }
}
thresholds MDTEAMid_thresholds {
  limits NBins {
    #total 160/192
    warning = 144.0001
    error = 144
  }
}
thresholds MDTEAOut_thresholds {
  limits NBins {
    #total 192/192
    warning = 173.0001
    error = 173
  }
}

algorithm MDT_Summary {
  libname = libdqm_summaries.so
  name = MDTWorstCaseSummary
}	

compositeAlgorithm MDT_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm MDT_Histogram_Not_Empty&GatherData {
  name = MDT_Histogram_Not_Empty&GatherData
#  reference = MuonOverlay_Ref
}
algorithm Muon_All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
#  reference = MuonOverlay_Ref
}
algorithm MDT_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
#  reference = MuonOverlay_Ref
}

