# **********************************************************************
# $Id: collisions_run.config 778881 2016-10-17 20:25:43Z khamano $
# **********************************************************************

#######################
# HLTmet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMET {
      output Shifter {
        output L1 {
        }
        output HLT {
          output cell {
          }
          output mht_lcw {
          }
          output mht_em {
          }
          output trkmht_FS {
          }
          output trkmht_FTK {
          }
          output tc_lcw {
          }
          output pufit {
          }
        }
      }
      output Expert {
        output L1 {
          output L1_XE55 {
          }         
          output L1_XE60 {
          }
         }
        output HLT {
          output HLT_xe100_pufit_L1XE55 {
          }
          output HLT_xe110_pufit_L1XE60 {
          }
          output HLT_xe120_mht_xe80_L1XE55 {
          }
        }
        output L1_vs_HLT {
        }
        output Offline {
        }
        output HLT_vs_Offline {
        }
        output L1_vs_Offline {
        }
        output ElMu {
        }
      }       
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTmet_Histogram_Not_Empty&GatherData
  dir METMon {
    dir Shifter {

      dir L1 {
        output = HLT/TRMET/Shifter/L1
        hist L1_MET {
	  algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert.
        }
        hist L1_MET_log {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist L1_MET_phi {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert.
        }
        hist L1_MET_phi1 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. Abnormal: Spike, shifter should contact expert.
        }
        hist L1_MET_phi1_etweight {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. Abnormal: Spike, shifter should contact expert.
        }
        hist L1_METx {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist L1_METy {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist L1_SumEt {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert.
        }
        hist L1_SumEt_log {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_L1_XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_L1_XE60 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_mu_L1_XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_mu_L1_XE60 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_mumu_L1_XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_mumu_L1_XE60 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
      } #end Shifter/L1

      dir HLT {
        output = HLT/TRMET/Shifter/HLT
        hist HLT_MET {    
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert.
        }
        hist HLT_MET_log {    
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist HLT_MEx {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist HLT_MEy {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist HLT_MET_phi {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert.
        }
        hist HLT_MET_phi_etweight {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets.
        }
        hist HLT_MET_etaphi {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets.
        }
        hist HLT_MET_etaphi_etweight {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	  description = Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets.
        }
        hist HLT_SumEt {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert.
        }
        hist HLT_SumEt_log {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist HLT_MEz {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist HLT_SumE {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert.
        }
        hist Eff_HLT_xe100_pufit_L1XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_HLT_xe110_pufit_L1XE60 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
	hist Eff_HLT_xe120_mht_xe80_L1XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
	hist Eff_el_HLT_xe100_pufit_L1XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
        hist Eff_el_HLT_xe110_pufit_L1XE60 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
	hist Eff_el_HLT_xe120_mht_xe80_L1XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
	hist Eff_mu_HLT_xe100_pufit_L1XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
        hist Eff_mu_HLT_xe110_pufit_L1XE60 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
	hist Eff_mu_HLT_xe120_mht_xe80_L1XE55 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
        hist HLT_MET_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	  description = The peak position shlud be shifted toward higher MET compared to nominal MET.
        }
        hist HLT_MET_log_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist HLT_MEx_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	  description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
        hist HLT_MEy_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
        hist HLT_MET_phi_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
        hist HLT_MET_phi_etweight_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
        hist HLT_SumEt_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
        hist HLT_SumEt_log_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist HLT_MEz_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
        hist HLT_SumE_e {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
	hist HLT_MET_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = The peak position shlud be shifted toward higher MET compared to nominal MET.
	}
	hist HLT_MET_log_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
	hist HLT_MEx_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
	}
	hist HLT_MEy_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
	}
	hist HLT_MET_phi_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
	}
        hist HLT_MET_phi_etweight_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
        }
	hist HLT_SumEt_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
	}
	hist HLT_SumEt_log_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	}
	hist HLT_MEz_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
	}
	hist HLT_SumE_mu {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = If no spikes in signal-like electron or muon, data quality shoould be good.
	}

        dir cell {
          output = HLT/TRMET/Shifter/HLT/cell

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end cell
        dir mht_lcw {
          output = HLT/TRMET/Shifter/HLT/mht_lcw

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end mht
        dir mht_em {
          output = HLT/TRMET/Shifter/HLT/mht_em

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end mht_em_em
        dir trkmht_FS {
          output = HLT/TRMET/Shifter/HLT/trkmht_FS

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end trkmht_FS
        dir trkmht_FTK {
          output = HLT/TRMET/Shifter/HLT/trkmht_FTK

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end trkmht_FTK
         dir tc_lcw {
          output = HLT/TRMET/Shifter/HLT/tc_lcw

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end tc_lcw
        dir pufit {
          output = HLT/TRMET/Shifter/HLT/pufit

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end pufit

      } ## end HLT
    } ## end Shifter

    dir Expert {
      dir L1 {
         output = HLT/TRMET/Expert/L1
      	 hist L1_METx_log {
 	 }
	 hist L1_METy_log {
	 }
         dir L1_XE55 {
           output = HLT/TRMET/Expert/L1/L1_XE55
           hist L1_MET {
           }
           hist L1_MET_log {
           }
           hist L1_METx {
           }
           hist L1_METy {
           }
           hist L1_METx_log {
           }
           hist L1_METy_log {
           }
           hist L1_MET_phi {
           }
           hist L1_MET_phi_etweight {
           }
           hist L1_SumEt {
           }
           hist L1_SumEt_log {
           }
         } ## end L1_XE55
         dir L1_XE60 {
           output = HLT/TRMET/Expert/L1/L1_XE60
           hist L1_MET {
           }
           hist L1_MET_log {
           }
           hist L1_METx {
           }
           hist L1_METy {
           }
           hist L1_METx_log {
           }
           hist L1_METy_log {
           }
           hist L1_MET_phi {
           }
           hist L1_MET_phi_etweight {
           }
           hist L1_SumEt {
           }
           hist L1_SumEt_log {
           }
         } ## end L1_XE60
     } ## end Expert/L1

      dir HLT {
      	output = HLT/TRMET/Expert/HLT
	hist HLT_MEx_log {
	}
	hist HLT_MEy_log {
	}
	hist HLT_MET_lin1 {
	}
	hist HLT_MEz_log {
	}
	hist HLT_SumE_log {
	}
        hist HLT_XS {
        }
	hist HLT_MET_status {
	}
	hist compN_compEx {
	}
	hist compN_compEy {
	}
	hist compN_compEz {
	}
	hist compN_compEt {
	}
	hist compN_compSumEt {
	}
	hist compN_compSumE {
	}
	hist compN_compEt_lin {
	}
	hist compN_compSumEt_lin {
	}
	hist compN_HLT_MET_status {
	}
	hist compN_usedChannels {
	}
	hist compEt_lin_EtaPhi_00 {
	}
	hist compEt_lin_EtaPhi_01 {
	}
	hist compEt_lin_EtaPhi_02 {
	}
	hist compEt_lin_EtaPhi_03 {
	}
	hist compEt_lin_EtaPhi_04 {
	}
	hist compEt_lin_EtaPhi_05 {
	}
	hist compEt_lin_EtaPhi_06 {
	}
	hist compEt_lin_EtaPhi_07 {
	}
	hist compEt_lin_EtaPhi_08 {
	}
	hist compEt_lin_EtaPhi_09 {
	}
	hist compEt_lin_EtaPhi_10 {
	}
	hist compEt_lin_EtaPhi_11 {
	}
	hist compEt_lin_EtaPhi_12 {
	}
	hist compEt_lin_EtaPhi_13 {
	}
	hist compEt_lin_EtaPhi_14 {
	}
	hist compEt_lin_EtaPhi_15 {
	}
	hist compEt_lin_EtaPhi_16 {
	}
	hist compEt_lin_EtaPhi_17 {
	}
	hist compEt_lin_EtaPhi_18 {
	}
	hist compEt_lin_EtaPhi_19 {
	}
	hist compEt_lin_EtaPhi_20 {
	}
	hist compEt_lin_EtaPhi_21 {
	}
	hist compEt_lin_EtaPhi_22 {
	}
	hist compEt_lin_EtaPhi_23 {
	}
	hist compEt_lin_EtaPhi_24 {
	}
        dir HLT_xe100_pufit_L1XE55 {
          output = HLT/TRMET/Expert/HLT/HLT_xe100_pufit_L1XE55

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end xe100_pufit
        dir HLT_xe110_pufit_L1XE60 {
          output = HLT/TRMET/Expert/HLT/HLT_xe110_pufit_L1XE60

          hist HLT_MEx {
          }    
          hist HLT_MEy {
          }    
          hist HLT_MET {
          }    
          hist HLT_MET_lin1 {
          }    
          hist HLT_SumEt {
          }    
          hist HLT_MET_phi {
          }    
          hist HLT_MET_phi1 {
          }    
          hist HLT_MEx_log {
          }    
          hist HLT_MEy_log {
          }    
          hist HLT_SumEt_log {
          }    
          hist HLT_MEz {
          }    
          hist HLT_SumE {
          }    
          hist HLT_MEz_log {
          }    
          hist HLT_SumE_log {
          }    
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end xe110_pufit
        dir HLT_xe120_mht_xe80_L1XE55 {
          output = HLT/TRMET/Expert/HLT/HLT_xe120_mht_xe80_L1XE55

          hist HLT_MEx {
          }    
          hist HLT_MEy {
          }    
          hist HLT_MET {
          }    
          hist HLT_MET_lin1 {
          }    
          hist HLT_SumEt {
          }    
          hist HLT_MET_phi {
          }    
          hist HLT_MET_phi1 {
          }    
          hist HLT_MEx_log {
          }    
          hist HLT_MEy_log {
          }    
          hist HLT_SumEt_log {
          }    
          hist HLT_MEz {
          }    
          hist HLT_SumE {
          }    
          hist HLT_MEz_log {
          }    
          hist HLT_SumE_log {
          }    
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end xe120_mht

      } ## end HLT

      dir L1_vs_HLT {
        output = HLT/TRMET/Expert/L1_vs_HLT
        hist L1_HLT_EtCor {
        }
        hist L1_HLT_SumEtCor {
        }
        hist L1_HLT_PhiCor {
        }
        hist L1_HLT_dEt {
        }
        hist L1_HLT_dEx {
        }
        hist L1_HLT_dEy {
        }
        hist L1_HLT_dPhi {
        }
      } ## end L1_vs_HLT

      dir Offline {
        output = HLT/TRMET/Expert/Offline
        hist Offline_MET {
        }
        hist Offline_METx {
        }
        hist Offline_METy {
        }
        hist Offline_MET_phi {
        }
        hist Offline_SumEt {
        }
      } ## end Offline

      dir HLT_vs_Offline {
        output = HLT/TRMET/Expert/HLT_vs_Offline
        hist HLT_Off_EtCor {
        }
        hist HLT_Off_SumEtCor {
        }
        hist HLT_Off_PhiCor {
        }
        hist HLT_Off_dEt {
        }
        hist HLT_Off_dEx {
        }
        hist HLT_Off_dEy {
        }
        hist HLT_Off_dPhi {
        }
      } ## end HLT_vs_Offline

      dir L1_vs_Offline {
        output = HLT/TRMET/Expert/L1_vs_Offline
        hist L1_Off_EtCor {
        }
        hist L1_Off_SumEtCor {
        }
        hist L1_Off_PhiCor {
        }
        hist L1_Off_dEt {
        }
        hist L1_Off_dEx {
        }
        hist L1_Off_dEy {
        }
        hist L1_Off_dPhi {
        }
      } ## end L1_vs_Offline

      dir ElMu {
        output = HLT/TRMET/Expert/ElMu
        hist HLT_electronpt {
        }
        hist HLT_electronmult {
        }
        hist HLT_muonpt {
        }
        hist HLT_muonmult {
        }
      } ## end ElMu

    } ## end Expert
    dir Expert {
      dir HLT {
        hist HLT_MET_status {
          display = TCanvas(1050,500),LogY
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          output = HLT/TRMET/Shifter/HLT
          description = Normal: GlobalError bin is empty (not filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2). 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set "GlobError" or Missing Components - Cross check with compN_EF_MET_status@Shifter
        }
        #hist HLT_MET_lin1 {
        #  display = <AxisRange(0,100,"X")>,Log
        #  algorithm = HLTmet_Histogram_Not_Empty&GatherData
        #  output = HLT/TRMET/Shifter/HLT
        #  description = Normal: No spikes, with a single dip structure and a falling distribution. Abnormal: Spike in EF_MET at low (< 10 GeV) MET.
        #}
        hist compN_compEt_lin {
          display = TCanvas(1050,500)
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          output = HLT/TRMET/Shifter/HLT
          description = Normal: All components (X bins) are filled. Abnormal: One or more components are empty.
        }
        hist compN_HLT_MET_status {
          display = TCanvas(1050,500),LogZ
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          output = HLT/TRMET/Shifter/HLT
          description = Normal: "Processed" Bit must always be set (and filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2); 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set "GlobError" or Missing components or Error in one or more components "CompError".
        }
      }
    }
  } ## end METMon
} ## end HLT


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
  #reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  #reference = CentrallyManagedReferences
}

## HLTmetAlgorithm 2
algorithm HLTmet_AlgErrorBits {
  libname = libdqm_algorithms.so
  name = AlgHLTMETStatus
  METYellowMin = 17
  METYellowMax = 29
  METRedMin = 32
  METRedMax = 32
  DoYellowFlag = 0
  DoRedFlag = 1
  thresholds = AlgErrorBitsThresholds
}


## HLTmetAlgorithm 3
algorithm HLTmet_AlgComponents {
  libname = libdqm_algorithms.so
  name = AlgHLTMETComponents
  METYellowMin = 1
  METYellowMax = 25
  METRedMin = 25
  METRedMax = 25
  DoYellowFlag = 1
  DoRedFlag = 0
}

## HLTmetAlgorithm 4 (not used)
compositeAlgorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_LessThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  name = HLTmet_HistogramNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = HLTmet_HistogramNotEmpty_YellowEmpty_Threshold
}

# HLTmetAlgorithm 5 (not used)
algorithm HLTmet_Bins_LessThan_Threshold {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  thresholds = HLTmet_NbinsThreshold
  BinThreshold = 0.5
  MinStat = 1
}

####################
# Summary Algorithms
####################
## HLTmetSummaryAlg 1
algorithm HLTmetSimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

## HLTmetSummaryAlg 2
algorithm HLTmetWorstCaseSummary {
    libname = libdqm_summaries.so
      name = WorstCaseSummary
}

## HLTmetSummaryAlg 3
algorithm HLTmetPercentSummary {
    libname = libdqm_summaries.so
      name = PercentSummary
}

###############
# Thresholds
###############

thresholds AlgErrorBitsThresholds {
  limits Threshold {
    warning = 0.1
    error = 0.1
  }
}

## HLTmetAlgorithm 4 thresholds: (not used)
thresholds HLTmet_HistogramNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

## HLTmetAlgorithm 5 thresholds: (not used)
thresholds HLTmet_NbinsThreshold {
  limits NBins {
    warning = 7320
    error = 7625
  }
}

