######################################################################
# file  collisions_run.config Tue Jan 23 10:58:49 2018 khamano
######################################################################

#######################
# HLTidtrk
#######################




#######################
# Output
#######################


output top_level {
	output HLT {
		output TRMET {
			output Shifter {
				output L1_roi {
				}
				output cell {
				}
				output tcpufit {
				}
			}
		}
	}
}


#######################
# Histogram Assessments
#######################

dir HLT {
	dir METMon {
		dir Shifter {
			dir L1_roi {
				hist L1_roi_Ex {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_Ex_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_Ey {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_Ey_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_Et {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_Et_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_SumEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
				hist L1_roi_SumEt_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/L1_roi
					display     	= StatBox
				}
                        }
			dir cell {
				hist cell_Ex {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_Ex_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_Ey {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_Ey_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_Et {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_Et_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_SumEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
				hist cell_SumEt_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/cell
					display     	= StatBox
				}
			}
			dir tcpufit {
				hist tcpufit_Ex {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_Ex_log {
				algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_Ey {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_Ey_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_Et {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_Et_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_SumEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
				hist tcpufit_SumEt_log {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
					output      	= HLT/TRMET/Shifter/tcpufit
					display     	= StatBox
				}
			}
		}
	}
}


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}

