######################################################################
# file  collisions_run.config Tue Jan 23 10:58:49 2018 khamano
######################################################################

#######################
# HLTidtrk
#######################




#######################
# Output
#######################


output top_level {
	output HLT {
		output TRMET {
			output Shifter {
				output L1 {
					output Primary {
					}
				}
				output HLT {
					output Primary {
					}
					output Component {
					}
					output mht_lcw {
					}
					output tc_lcw {
					}
					output cell {
					}
					output pufit {
					}
				}
			}
			output Expert {
				output Offline {
				}
				output L1_vs_HLT {
				}
				output HLT_vs_Offline {
				}
				output L1_vs_Offline {
				}
			}
		}
	}
}


#######################
# Histogram Assessments
#######################

dir HLT {
	dir METMon {
		dir Shifter {
			dir L1 {
				dir Primary {
					hist L1_METx {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_METx_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_METy {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_METy_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_MET {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_MET_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_SumEt {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_SumEt_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_MET_phi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
					hist L1_MET_phi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/L1/Primary
						display     	= StatBox
					}
				}
                        }
			dir HLT {
				dir Primary {
					hist HLT_MEx {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MEx_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MEy {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MEy_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MEz {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MEz_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_lin1 {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_SumEt {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_SumEt_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_SumE {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_SumE_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_phi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_phi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_eta {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_eta_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_eta show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_eta are from low energy hot sopts and has no real harm. When HLT_MET_eta does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_etaphi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_MET_etaphi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
					hist HLT_XS {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Currenly using old parameter."
						output      	= HLT/TRMET/Shifter/HLT/Primary
						display     	= StatBox
					}
				}
				dir Status {
					hist HLT_limiBlock {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Check if a certain lumi block has abnormaly higher entry."
						output      	= HLT/TRMET/Shifter/HLT/Component
						display     	= StatBox
					}
					hist HLT_MET_status {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: GlobalError bin is empty (not filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2). 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set GlobError or Missing Components - Cross check with compN_EF_MET_status@Shifter"
						output      	= HLT/TRMET/Shifter/HLT/Component
						display     	= StatBox
					}
					hist compN_HLT_MET_status {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: Processed Bit must always be set (and filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2). 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set GlobError or Missing components or Error in one or more components CompError."
						output      	= HLT/TRMET/Shifter/HLT/Component
						display     	= StatBox
					}
					hist compN_compEt_lin {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: All components (X bins) are filled. Abnormal: One or more components are empty."
						output      	= HLT/TRMET/Shifter/HLT/Component
						display     	= StatBox
					}
				}
				dir mht_lcw {
					hist HLT_MEx {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MEx_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MEy {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MEy_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MEz {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MEz_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_lin1 {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_SumEt {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_SumEt_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_SumE {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_SumE_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_phi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_phi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_eta {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_eta_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_eta show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_eta are from low energy hot sopts and has no real harm. When HLT_MET_eta does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_etaphi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_MET_etaphi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
					hist HLT_XS {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Currenly using old parameter."
						output      	= HLT/TRMET/Shifter/HLT/mht_lcw
						display     	= StatBox
					}
				}
				dir tc_lcw {
					hist HLT_MEx {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MEx_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MEy {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MEy_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MEz {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MEz_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_lin1 {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_SumEt {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_SumEt_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_SumE {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_SumE_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_phi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_phi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_eta {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_eta_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_eta show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_eta are from low energy hot sopts and has no real harm. When HLT_MET_eta does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_etaphi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_MET_etaphi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
					hist HLT_XS {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Currenly using old parameter."
						output      	= HLT/TRMET/Shifter/HLT/tc_lcw
						display     	= StatBox
					}
				}
				dir cell {
					hist HLT_MEx {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MEx_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MEy {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MEy_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MEz {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MEz_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_lin1 {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_SumEt {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_SumEt_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_SumE {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_SumE_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_phi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_phi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_eta {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_eta_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_eta show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_eta are from low energy hot sopts and has no real harm. When HLT_MET_eta does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_etaphi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_MET_etaphi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
					hist HLT_XS {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Currenly using old parameter."
						output      	= HLT/TRMET/Shifter/HLT/cell
						display     	= StatBox
					}
				}
				dir pufit {
					hist HLT_MEx {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MEx_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MEy {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MEy_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MEz {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MEz_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_lin1 {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_SumEt {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_SumEt_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_SumE {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes, with possibly a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_SumE_log {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Sould be able to see distribution changes clearer than corresponding linear plot."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_phi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_phi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_eta {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_eta_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_eta show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_eta are from low energy hot sopts and has no real harm. When HLT_MET_eta does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_etaphi {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_MET_etaphi_etweight {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
					hist HLT_XS {
						algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
						description 	= "Currenly using old parameter."
						output      	= HLT/TRMET/Shifter/HLT/pufit
						display     	= StatBox
					}
				}
			}
		}
		dir Expert {
			dir Offline {
				hist Offline_MET {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/Offline
					display     	= StatBox
				}
				hist Offline_METx {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/Offline
					display     	= StatBox
				}
				hist Offline_METy {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/Offline
					display     	= StatBox
				}
				hist Offline_SumEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/Offline
					display     	= StatBox
				}
				hist Offline_MET_phi {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/Offline
					display     	= StatBox
				}
			}
			dir L1_vs_HLT {
				hist L1_HLT_EtCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
				hist L1_HLT_SumEtCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
				hist L1_HLT_PhiCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
				hist L1_HLT_dEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
				hist L1_HLT_dPhi {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
				hist L1_HLT_dEx {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
				hist L1_HLT_dEy {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_HLT
					display     	= StatBox
				}
			}
			dir HLT_vs_Offline {
				hist HLT_Off_EtCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
				hist HLT_Off_SumEtCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
				hist HLT_Off_PhiCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
				hist HLT_Off_dEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
				hist HLT_Off_dPhi {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
				hist HLT_Off_dEx {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
				hist HLT_Off_dEy {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/HLT_vs_Offline
					display     	= StatBox
				}
			}
			dir L1_vs_Offline {
				hist L1_Off_EtCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
				hist L1_Off_SumEtCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
				hist L1_Off_PhiCor {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
				hist L1_Off_dEt {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
				hist L1_Off_dPhi {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
				hist L1_Off_dEx {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
				hist L1_Off_dEy {
					algorithm   	= HLTmet_Histogram_Not_Empty&GatherData
					description 	= "none"
					output      	= HLT/TRMET/Expert/L1_vs_Offline
					display     	= StatBox
				}
			}
		}
	}
}


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
}

