# **********************************************************************
# $Id: cosmics_run.config 767137 2016-08-09 21:57:15Z khamano $
# **********************************************************************

#######################
# HLTmet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMET {
      output Shifter {
        output L1 {
        }
        output HLT {
          output cell {
          }
          output mht_lcw {
          }
          output trkmht_FS {
          }
          output trkmht_FTK {
          }
          output tc_lcw {
          }
          output pufit {
          }
        }
      }
      output Expert {
        output L1 {
          output L1_XE50 {
          }         
          output L1_XE60 {
          }
        }
        output HLT {
        }
        output Offline {
        }
      }       
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTmet_Histogram_Not_Empty&GatherData
  dir METMon {
    dir Shifter {

      dir L1 {
        output = HLT/TRMET/Shifter/L1
        hist L1_MET {
	  algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert.
        }
        hist L1_MET_log {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist L1_MET_phi {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert.
        }
        hist L1_MET_phi1 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. Abnormal: Spike, shifter should contact expert.
        }
        hist L1_METx {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist L1_METy {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist L1_SumEt {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert.
        }
        hist L1_SumEt_log {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist Eff_L1_XE50 {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
      } ## end Shifter/L1

      dir HLT {
        output = HLT/TRMET/Shifter/HLT
        hist HLT_MET {    
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert.
        }
        hist HLT_MET_log {    
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist HLT_MEx {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist HLT_MEy {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist HLT_MET_phi {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert.
        }
        hist HLT_MET_phi_etweight {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes. There could be a wavy structure. Abnormal: Spike, shifter should contact expert. When HLT_MET_phi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_phi are from low energy hot sopts and has no real harm. When HLT_MET_phi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets.
        }
        hist HLT_MET_etaphi {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks. Check if the same peak can be found in Calo or Jets.
        }
        hist HLT_MET_etaphi_etweight {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
	  description = Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets.
        }
        hist HLT_SumEt {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in SumEt, shifter should contact expert.
        }
        hist HLT_SumEt_log {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
        }
        hist HLT_MEz {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single very wide peak structure at zero. Abnormal: Spike or the peak shfted from zero, shifter should contact expert.
        }
        hist HLT_SumE {
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          description = Normal: No spikes, with a single peak structure at low SumE and a falling distribution. Abnormal: Spike in SumE, shifter should contact expert.
        }
        dir cell {
          output = HLT/TRMET/Shifter/HLT/cell

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end cell
        dir mht_lcw {
          output = HLT/TRMET/Shifter/HLT/mht_lcw

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end mht
        dir trkmht_FS {
          output = HLT/TRMET/Shifter/HLT/trkmht_FS

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end trkmht_FS
        dir trkmht_FTK {
          output = HLT/TRMET/Shifter/HLT/trkmht_FTK

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end trkmht_FTK
         dir tc_lcw {
          output = HLT/TRMET/Shifter/HLT/tc_lcw

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end tc_lcw
        dir pufit {
          output = HLT/TRMET/Shifter/HLT/pufit

          hist HLT_MEx {
          }
          hist HLT_MEy {
          }
          hist HLT_MET {
          }
          hist HLT_MET_lin1 {
          }
          hist HLT_SumEt {
          }
          hist HLT_MET_phi {
          }
          hist HLT_MET_phi1 {
          }
          hist HLT_MEx_log {
          }
          hist HLT_MEy_log {
          }
          hist HLT_SumEt_log {
          }
          hist HLT_MEz {
          }
          hist HLT_SumE {
          }
          hist HLT_MEz_log {
          }
          hist HLT_SumE_log {
          }
          hist HLT_MET_etaphi {
          }
          hist HLT_MET_etaphi_etweight {
          }
        } ## end pufit
      } ## end HLT

    } ## end Shifter

    dir Expert {
      dir L1 {
         output = HLT/TRMET/Expert/L1
      	 hist L1_METx_log {
 	 }
	 hist L1_METy_log {
	 }
         dir L1_XE50 {
           output = HLT/TRMET/Expert/L1/L1_XE50
           hist L1_MET {
           }
           hist L1_MET_log {
           }
           hist L1_METx {
           }
           hist L1_METy {
           }
           hist L1_METx_log {
           }
           hist L1_METy_log {
           }
           hist L1_MET_phi {
           }
           hist L1_MET_phi_etweight {
           }
           hist L1_SumEt {
           }
           hist L1_SumEt_log {
           }
         } ## end L1_XE50
         dir L1_XE60 {
           output = HLT/TRMET/Expert/L1/L1_XE60
           hist L1_MET {
           }
           hist L1_MET_log {
           }
           hist L1_METx {
           }
           hist L1_METy {
           }
           hist L1_METx_log {
           }
           hist L1_METy_log {
           }
           hist L1_MET_phi {
           }
           hist L1_MET_phi_etweight {
           }
           hist L1_SumEt {
           }
           hist L1_SumEt_log {
           }
         } ## end L1_XE60
      } ## end Expert/L1

      dir HLT {
      	output = HLT/TRMET/Expert/HLT
	hist HLT_MEx_log {
	}
	hist HLT_MEy_log {
	}
	hist HLT_MET_lin1 {
	}
	hist HLT_MEz_log {
	}
	hist HLT_SumE_log {
	}
	hist HLT_MET_status {
	}
	hist compN_compEx {
	}
	hist compN_compEy {
	}
	hist compN_compEz {
	}
	hist compN_compEt {
	}
	hist compN_compSumEt {
	}
	hist compN_compSumE {
	}
	hist compN_HLT_MET_status {
	}

      } ## end HLT

      dir Offline {
        output = HLT/TRMET/Expert/Offline
        hist Offline_MET {
        }
        hist Offline_METx {
        }
        hist Offline_METy {
        }
        hist Offline_MET_phi {
        }
        hist Offline_SumEt {
        }
      } ## end Offline

    } ## end Expert
    dir Expert {
      dir HLT {
        #hist HLT_MET_status {
        #  display = TCanvas(1050,500),LogY
        #  algorithm = HLTmet_Histogram_Not_Empty&GatherData
        #  output = HLT/TRMET/Shifter/HLT
        #  description = Normal: GlobalError bin is empty (not filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2). 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set "GlobError" or Missing Components - Cross check with compN_EF_MET_status@Shifter
        #}
        hist compN_compEt_lin {
          display = TCanvas(1050,500)
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          output = HLT/TRMET/Shifter/HLT
          description = Normal: All components (X bins) are filled. Abnormal: One or more components are empty.
        }
        hist compN_HLT_MET_status {
          display = TCanvas(1050,500),LogZ
          algorithm = HLTmet_Histogram_Not_Empty&GatherData
          output = HLT/TRMET/Shifter/HLT
          description = Normal: "Processed" Bit must always be set (and filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2); 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set "GlobError" or Missing components or Error in one or more components "CompError".
        }
      }
    }
  } ## end METMon
} ## end HLT


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
  #reference = CentrallyManagedReferences
}

## HLTmetAlgorithm 2
algorithm HLTmet_AlgErrorBits {
  libname = libdqm_algorithms.so
  name = AlgHLTMETStatus
  METYellowMin = 17
  METYellowMax = 29
  METRedMin = 32
  METRedMax = 32
  DoYellowFlag = 0
  DoRedFlag = 1
  thresholds = AlgErrorBitsThresholds
}


## HLTmetAlgorithm 3
algorithm HLTmet_AlgComponents {
  libname = libdqm_algorithms.so
  name = AlgHLTMETComponents
  METYellowMin = 1
  METYellowMax = 25
  METRedMin = 25
  METRedMax = 25
  DoYellowFlag = 1
  DoRedFlag = 0
}

## HLTmetAlgorithm 4 (not used)
compositeAlgorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_LessThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  name = HLTmet_HistogramNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = HLTmet_HistogramNotEmpty_YellowEmpty_Threshold
}

# HLTmetAlgorithm 5 (not used)
algorithm HLTmet_Bins_LessThan_Threshold {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  thresholds = HLTmet_NbinsThreshold
  BinThreshold = 0.5
  MinStat = 1
}

####################
# Summary Algorithms
####################
## HLTmetSummaryAlg 1
algorithm HLTmetSimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

## HLTmetSummaryAlg 2
algorithm HLTmetWorstCaseSummary {
    libname = libdqm_summaries.so
      name = WorstCaseSummary
}

## HLTmetSummaryAlg 3
algorithm HLTmetPercentSummary {
    libname = libdqm_summaries.so
      name = PercentSummary
}

###############
# Thresholds
###############

thresholds AlgErrorBitsThresholds {
  limits Threshold {
    warning = 0.1
    error = 0.1
  }
}

## HLTmetAlgorithm 4 thresholds: (not used)
thresholds HLTmet_HistogramNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

## HLTmetAlgorithm 5 thresholds: (not used)
thresholds HLTmet_NbinsThreshold {
  limits NBins {
    warning = 7320
    error = 7625
  }
}

