# **********************************************************************
# $Id: heavyions_run.config 708175 2015-11-16 16:36:10Z khamano $
# **********************************************************************

#######################
# HLTmet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMET {
      output Shifter {
        output L1 {
          output Primary {
          }
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  #algorithm = HLTmet_Histogram_Not_Empty&GatherData

  ##############################
  # begin METMon
  ##############################

  dir METMon {
    algorithm = HLTmet_Histogram_Not_Empty&GatherData
    dir Shifter {
      dir L1 {
        dir Primary {
          hist L1_MET {
             output          = HLT/TRMET/Shifter/L1/Primary
          }
          hist L1_METx {
             output          = HLT/TRMET/Shifter/L1/Primary
          }
          hist L1_METy {
             output          = HLT/TRMET/Shifter/L1/Primary
          }
          hist L1_SumEt {
             output          = HLT/TRMET/Shifter/L1/Primary
          }
        }
      }
    } ## end Shifter

  } ## end METMon
} ## end HLT


##############
## Algorithms
###############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  #reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
  reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;stream=physics_HardProbes:CentrallyManagedReferences_TriggerHardProbes;stream=physics_UPC:CentrallyManagedReferences_TriggerUPC;CentrallyManagedReferences_Trigger
}

