# **********************************************************************
# $Id: heavyions_run.config 708175 2015-11-16 16:36:10Z khamano $
# **********************************************************************

#######################
# HLTmet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMET {
      output Shifter {
        output L1 {
          output Primary {
          }
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTmet_Histogram_Not_Empty&GatherData

  ##############################
  # begin METMon
  ##############################

  dir METMon {
    dir Shifter {
      dir L1 {
        dir Primary {
          hist L1_MET {
          }
          hist L1_MET_log {
          }
          hist L1_MET_phi {
          }
          hist L1_METx {
          }
          hist L1_METy {
          }
          hist L1_SumEt {
          }
          hist L1_SumEt_log {
          }
          hist L1_METx_log {
          }
          hist L1_METy_log {
          }
        }
      }
    } ## end Shifter

  } ## end METMon
} ## end HLT


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
}

## HLTmetAlgorithm 2
algorithm HLTmet_AlgErrorBits {
  libname = libdqm_algorithms.so
  name = AlgHLTMETStatus
  METYellowMin = 17
  METYellowMax = 29
  METRedMin = 32
  METRedMax = 32
  DoYellowFlag = 0
  DoRedFlag = 1
  thresholds = AlgErrorBitsThresholds
}

## HLTmetAlgorithm 3
algorithm HLTmet_AlgComponents {
  libname = libdqm_algorithms.so
  name = AlgHLTMETComponents
  METYellowMin = 1
  METYellowMax = 25
  METRedMin = 25
  METRedMax = 25
  DoYellowFlag = 1
  DoRedFlag = 0
}

## HLTmetAlgorithm 4 (not used)
compositeAlgorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_LessThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  name = HLTmet_HistogramNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = HLTmet_HistogramNotEmpty_YellowEmpty_Threshold
}

# HLTmetAlgorithm 5 (not used)
algorithm HLTmet_Bins_LessThan_Threshold {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  thresholds = HLTmet_NbinsThreshold
  BinThreshold = 0.5
  MinStat = 1
}

####################
# Summary Algorithms
####################
## HLTmetSummaryAlg 1
algorithm HLTmetSimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

## HLTmetSummaryAlg 2
algorithm HLTmetWorstCaseSummary {
    libname = libdqm_summaries.so
      name = WorstCaseSummary
}

## HLTmetSummaryAlg 3
algorithm HLTmetPercentSummary {
    libname = libdqm_summaries.so
      name = PercentSummary
}

###############
# Thresholds
###############

thresholds AlgErrorBitsThresholds {
  limits Threshold {
    warning = 0.1
    error = 0.1
  }
}

## HLTmetAlgorithm 4 thresholds: (not used)
thresholds HLTmet_HistogramNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

## HLTmetAlgorithm 5 thresholds: (not used)
thresholds HLTmet_NbinsThreshold {
  limits NBins {
    warning = 7320
    error = 7625
  }
}





