# **********************************************************************
# $Id: heavyions_minutes10.config 512770 2012-08-07 19:28:13Z vogel $
# **********************************************************************

#######################
# HLTmet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMET {
      output EFMissingET_Fex {
        output TrigEFMissingET {
        }
        #output TrigEFMissingET_allCells {
        #}
        #output TrigEFMissingET_FEB {
        #}
      } ## end FeX
    } ## end TRMET
  } ## end HLT
} ## end top_level

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTmet_AlgHLTMETStatus
  dir METMon {
    dir lbnstatus {
      output = HLT/TRMET/EFMissingET_Fex/TrigEFMissingET
      hist EF_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgHLTMETStatus
      }
      hist L2_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgHLTMETStatus
      }
      ############################
    } ## end FEX
  } ## end default
  
#  dir METMon_allCells {
#    dir lbnstatus {
#      output = HLT/TRMET/EFMissingET_Fex/TrigEFMissingET_allCells
#      hist EF_MET_status {
#        display = TCanvas(1050,500)
#        algorithm = HLTmet_AlgHLTMETStatus
#      }
#      hist L2_MET_status {
#        display = TCanvas(1050,500)
#        algorithm = HLTmet_AlgHLTMETStatus
#      }
#      ############################
#    } ## end FEX
#  } ## end _allCells
#  
#  dir METMon_FEB {
#    dir lbnstatus {
#      output = HLT/TRMET/EFMissingET_Fex/TrigEFMissingET_FEB
#      hist EF_MET_status {
#        display = TCanvas(1050,500)
#        algorithm = HLTmet_AlgHLTMETStatus
#      }
#      hist L2_MET_status {
#        display = TCanvas(1050,500)
#        algorithm = HLTmet_AlgHLTMETStatus
#      }
#      ############################
#    } ## end FeX
#  } ## end _FEB
} ## end HLT

##############
# Algorithms
##############
## HLTmetAlgorithm 2
algorithm HLTmet_AlgHLTMETStatus {
  libname = libdqm_algorithms.so
  name = AlgHLTMETStatus
  METYellowMin = 17
  METYellowMax = 29
  METRedMin = 32
  METRedMax = 32
  DoYellowFlag = 0
  DoRedFlag = 1
  thresholds = AlgErrorBitsThresholds
}

###############
# Thresholds
###############
thresholds AlgErrorBitsThresholds {
  limits Threshold {
    warning = 0.1
    error = 0.1
  }
}

