# **********************************************************************
# $Id: heavyions_run.config 512770 2012-08-07 19:28:13Z vogel $
# **********************************************************************

#######################
# HLTmet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMET {
      output METMon {
        output L2_MET {
        }
        output EF_MET {
        }
        output SHIFTER {
        }
      }
      output METMon_FEB {
        output L2_FEB {
        }
        output EF_FEB {
        }
        output SHIFTER {
        }
      }
      output METMon_topocl {
        output EF_TOPOCL {
        }
        output SHIFTER {
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTmet_Histogram_Not_Empty&GatherData

  ##############################
  # begin METMon
  ##############################

  dir METMon {

    ############################ -- begin L2MissingET_Fex
    dir L2MissingET_Fex {
      output = HLT/TRMET/METMon/L2_MET
      #hist all_in_dir {
      #  reference = HLTmetShiftHists_Ref
      #}
      hist L1_MET {
        display = <AxisRange(0,500,"X")>,LogY
      }
      hist L1_MET_phi {
        display = LogY
      }
      hist L1_SumEt {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist L2_MET_log {
        display = LogY
      }
      hist L2_MEx_log {
        display = LogY
      }
      hist L2_MEy_log {
        display = LogY
      }
      hist L2_SumEt_log {
        display = LogY
      }
      hist L2_mu_SumEt_log {
        display = LogY
      }
      hist L2_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
    } # end METMon/L2MissingET_Fex
    
    ############################ -- begin SHIFTER
    dir DQFlags {
      output = HLT/TRMET/METMon/SHIFTER
      hist L2_MEx_log {
        display = LogY
      }
      hist L2_MEy_log {
        display = LogY
      }
      hist L2_MET_log {
        display = LogY
      }
      hist L2_SumEt_log {
        display = LogY
      }
      hist L2_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist EF_MET_lin {
        display = <AxisRange(0,500,"X")>,LogY
      }
      hist EF_MEx_log {
        display = LogY
      }
      hist EF_MEy_log {
        display = LogY
      }
      #hist EF_MET_lin1 {
      #  display = <AxisRange(0,10,"X")>,LogY
      #}
      hist EF_SumEt_lin {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist EF_MET_phi {
        display = LogY
      }
      hist EF_MET_phi1 {
        display = LogY
      }
      hist EF_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist compN_EF_MET_status {
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
    } # end METMon/SHIFTER

    ############################ -- begin EFMissingET_Fex
    dir EFMissingET_Fex {
      output = HLT/TRMET/METMon/EF_MET
      #hist all_in_dir {
      #  reference = HLTmetShiftHists_Ref
      #}
      hist EF_MET_status {
        display = TCanvas(1050,500),LogY
        algorithm = HLTmet_AlgErrorBits
      }
      hist EF_MET_lin {
        display = <AxisRange(0,500,"X")>,LogY
      }
      #hist EF_MET_lin1 {
      #  display = <AxisRange(0,10,"X")>,LogY
      #}
      hist EF_MET_log {
        display = LogY
      }
      hist EF_MET_phi {
        display = LogY
      }
      hist EF_MET_phi1 {
        display = LogY
      }
      hist EF_MEx_log {
        display = LogY
      }
      hist EF_MEy_log {
        display = LogY
      }
      hist EF_MEz_log {
        display = LogY
      }
      hist EF_SumEt_lin {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist EF_SumEt_log {
        display = LogY
      }
      hist EF_SumE_log {
        display = LogY
      }
      hist compN_compEt {
        display = TCanvas(1050,500)
      }
      hist compN_compEx {
        display = TCanvas(1050,500)
      }
      hist compN_compEy {
        display = TCanvas(1050,500)
      }
      hist compN_compEz {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
      hist compN_compSumE {
        display = TCanvas(1050,500)
      }
      hist compN_EF_MET_status {
        display = TCanvas(1050,500),LogZ
      }
      hist compN_EF_usedChannels {
        display = TCanvas(1050,500),LogZ
      }
      
      ############################  MEt(eta,phi) default - begin
      hist compEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compEt_lin_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      } 
      ############################  MEt(eta,phi) default - end
      
      ############################  SumEt(eta,phi) default - begin
      hist compSumEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumEt_lin_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      ############################  SumEt(eta,phi) default - end
      
      ############################  SumE(eta,phi) default - begin
      hist compSumE_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compSumE_lin_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      ############################  SumE(eta,phi) default - end
      
      ############################  compN_EtaPhi_[01-24] default - begin
      hist compN_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      } 
      ############################  compN_EtaPhi_[01-24] default - end
    } # end METMon/EFMissingET_Fex
  } # end METMon
  
  ##############################
  # begin METMon_topocl
  ##############################

  dir METMon_topocl {
    ############################ -- begin SHIFTER
    dir DQFlags {
      output = HLT/TRMET/METMon_topocl/SHIFTER
      hist L2_MEx_log {
        display = LogY
      }
      hist L2_MEy_log {
        display = LogY
      }
      hist L2_MET_log {
        display = LogY
      }
      hist L2_SumEt_log {
        display = LogY
      }
      hist L2_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist EF_MET_lin {
        display = <AxisRange(0,500,"X")>,LogY
      }
      hist EF_MEx_log {
        display = LogY
      }
      hist EF_MEy_log {
        display = LogY
      }
      #hist EF_MET_lin1 {
      #  display = <AxisRange(0,10,"X")>,LogY
      #}
      hist EF_SumEt_lin {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist EF_MET_phi {
        display = LogY
      }
      hist EF_MET_phi1 {
        display = LogY
      }
      hist EF_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist compN_EF_MET_status {
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
    } # end METMon_topocl/SHIFTER

    ############################ -- begin EFMissingET_Fex
    dir EFMissingET_Fex {
      output = HLT/TRMET/METMon_topocl/EF_TOPOCL
      #hist all_in_dir {
      #  reference = HLTmetShiftHists_Ref
      #}
      hist EF_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist EF_MET_lin {
        display = <AxisRange(0,500,"X")>,LogY
      }
      #hist EF_MET_lin1 {
      #  display = <AxisRange(0,10,"X")>,LogY
      #}
      hist EF_MET_log {
        display = LogY
      }
      hist EF_MET_phi {
        display = LogY
      }
      hist EF_MET_phi1 {
        display = LogY
      }
      hist EF_MEx_log {
        display = LogY
      }
      hist EF_MEy_log {
        display = LogY
      }
      hist EF_MEz_log {
        display = LogY
      }
      hist EF_SumEt_lin {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist EF_SumEt_log {
        display = LogY
      }
      hist EF_SumE_log {
        display = LogY
      }
      hist compN_compEt {
        display = TCanvas(1050,500)
      }
      hist compN_compEx {
        display = TCanvas(1050,500)
      }
      hist compN_compEy {
        display = TCanvas(1050,500)
      }
      hist compN_compEz {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
      hist compN_compSumE {
        display = TCanvas(1050,500)
      }
      hist compN_EF_MET_status {
        display = TCanvas(1050,500),LogZ
      }
      hist compN_EF_usedChannels {
        display = TCanvas(1050,500),LogZ
      }
      
      ############################  MEt(eta,phi) allCells - begin
      hist compEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  MEt(eta,phi) allCells - end
      
      ############################  SumEt(eta,phi) allCells - begin
      hist compSumEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  SumEt(eta,phi) allCells - end
      
      ############################  SumE(eta,phi) allCells - begin
      hist compSumE_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  SumE(eta,phi) allCells - end
      
    } # end METMon_topocl/EFMissingET_Fex
  } # end METMon_topocl

  ##############################
  # begin METMon_FEB
  ##############################

  dir METMon_FEB {
    
    ############################ -- begin L2MissingET_FEB
    dir L2MissingET_FEB {
      output = HLT/TRMET/METMon_FEB/L2_FEB
      #hist all_in_dir {
      #  reference = HLTmetShiftHists_Ref
      #}
      hist L2FEB_MEx_log {
        display = LogY
      }
      hist L2FEB_MEy_log {
        display = LogY
      }
      hist L2FEB_MET_log {
        display = LogY
      }
      hist L2FEB_SumEt_log {
        display = LogY
      }
      hist compN_compEt {
        display = TCanvas(1050,500)
      }
      hist compN_compEx {
        display = TCanvas(1050,500)
      }
      hist compN_compEy {
        display = TCanvas(1050,500)
      }
      hist compN_compEz {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
      hist compN_compSumE {
        display = TCanvas(1050,500)
      }
      hist compN_L2FEB_MET_status {
        display = TCanvas(1050,500),LogZ
      }
      hist compN_L2FEB_usedChannels {
        display = TCanvas(1050,500),LogZ
      }
      
      ############################  MEt(eta,phi) allCells - begin
      hist compEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  MEt(eta,phi) allCells - end
      
      ############################  compN_EtaPhi_[00-14] FEB - begin
      hist compN_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      ############################  compN_EtaPhi_[00-14] FEB - end
      
      ############################  SumEt(eta,phi) allCells - begin
      hist compSumEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  SumEt(eta,phi) allCells - end
      
      ############################  SumE(eta,phi) allCells - begin
      hist compSumE_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  SumE(eta,phi) allCells - end
#      hist L1_MET {
#        display = <AxisRange(0,100,"X")>,LogY
#      }
#      hist L1_MET_phi {
#        display = LogY
#      }
#      hist L1_SumEt {
#        display = <AxisRange(0,500,"X")>,LogY
#      }
#      hist L2_MET_log {
#        display = LogY
#      }
#      hist L2_MEx_log {
#        display = LogY
#      }
#      hist L2_MEy_log {
#        display = LogY
#      }
#      hist L2_SumEt_log {
#        display = LogY
#      }
#      hist L2_mu_SumEt_log {
#        display = LogY
#      }
#      hist L2_MET_status {
#        display = TCanvas(1050,500)
#        algorithm = HLTmet_AlgErrorBits
#      }
    } # end METMon_FEB/L2MissingET_FEB
    
    ############################ -- SHIFTER begin
    dir DQFlags {
      output = HLT/TRMET/METMon_FEB/SHIFTER
      hist L2_MEx_log {
        display = LogY
      }
      hist L2_MEy_log {
        display = LogY
      }
      hist L2_MET_log {
        display = LogY
      }
      hist L2_SumEt_log {
        display = LogY
      }
      hist L2_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist EF_MET_lin {
        display = <AxisRange(0,500,"X")>,LogY
      }
      hist EF_MEx_log {
        display = LogY
      }
      hist EF_MEy_log {
        display = LogY
      }
      #hist EF_MET_lin1 {
      #  display = <AxisRange(0,10,"X")>,LogY
      #}
      hist EF_SumEt_lin {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist EF_MET_phi {
        display = LogY
      }
      hist EF_MET_phi1 {
        display = LogY
      }
      hist EF_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist compN_EF_MET_status {
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
    } # end METMon_FEB/SHIFTER
    
    ############################ -- begin EFMissingET_Fex
    dir EFMissingET_Fex {
      output = HLT/TRMET/METMon_FEB/EF_FEB
      #hist all_in_dir {
      #  reference = HLTmetShiftHists_Ref
      #}
      hist EF_MET_status {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgErrorBits
      }
      hist EF_MET_lin {
        display = <AxisRange(0,500,"X")>,LogY
      }
      #hist EF_MET_lin1 {
      #  display = <AxisRange(0,10,"X")>,LogY
      #}
      hist EF_MET_log {
        display = LogY
      }
      hist EF_MET_phi {
        display = LogY
      }
      hist EF_MET_phi1 {
        display = LogY
      }
      hist EF_MEx_log {
        display = LogY
      }
      hist EF_MEy_log {
        display = LogY
      }
      hist EF_MEz_log {
        display = LogY
      }
      hist EF_SumEt_lin {
        display = <AxisRange(0,1000,"X")>,LogY
      }
      hist EF_SumEt_log {
        display = LogY
      }
      hist EF_SumE_log {
        display = LogY
      }
      hist compN_compEt {
        display = TCanvas(1050,500)
      }
      hist compN_compEx {
        display = TCanvas(1050,500)
      }
      hist compN_compEy {
        display = TCanvas(1050,500)
      }
      hist compN_compEz {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt {
        display = TCanvas(1050,500)
      }
      hist compN_compSumEt_lin {
        display = TCanvas(1050,500)
        algorithm = HLTmet_AlgComponents
      }
      hist compN_compSumE {
        display = TCanvas(1050,500)
      }
      hist compN_EF_MET_status {
        display = TCanvas(1050,500),LogZ
      }
      hist compN_EF_usedChannels {
        display = TCanvas(1050,500),LogZ
      }
      
      ############################  compN_EtaPhi_[00-24] FEB - begin
      hist compN_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      }
      hist compN_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
        display = LogZ
      } 
      ############################  compN_EtaPhi_[00-24] FEB - end
      
      ############################  MEt(eta,phi) FEB - begin
      hist compEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compEt_lin_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      } 
      ############################  MEt(eta,phi) FEB - end
      
      ############################  SumEt(eta,phi) FEB - begin
      hist compSumEt_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumEt_lin_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  SumEt(eta,phi) FEB - end
      
      ############################  SumE(eta,phi) FEB - begin
      hist compSumE_lin_EtaPhi_00 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_01 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_02 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_03 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_04 {
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_05 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_06 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_07 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_08 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_09 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_10 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_11 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_12 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_13 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_14 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_15 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_16 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_17 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_18 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_19 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_20 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_21 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_22 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_23 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      hist compSumE_lin_EtaPhi_24 { 
        algorithm = HLTmet_Histogram_Not_Empty&GatherData
      }
      ############################  SumE(eta,phi) FEB - end
    } # end METMon_FEB/EFMissingET_Fex
  } # end METMon_FEB
} ## end HLT


##############
# Algorithms
##############

## HLTmetAlgorithm 1
compositeAlgorithm HLTmet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTmet_Histogram_Not_Empty&GatherData {
  name = HLTmet_Histogram_Not_Empty&GatherData
  #reference = CentrallyManagedReferences
  #reference = HLTmetOverlay_Ref
}

## HLTmetAlgorithm 2
algorithm HLTmet_AlgErrorBits {
  libname = libdqm_algorithms.so
  name = AlgHLTMETStatus
  METYellowMin = 17
  METYellowMax = 29
  METRedMin = 32
  METRedMax = 32
  DoYellowFlag = 0
  DoRedFlag = 1
  thresholds = AlgErrorBitsThresholds
}


## HLTmetAlgorithm 3
algorithm HLTmet_AlgComponents {
  libname = libdqm_algorithms.so
  name = AlgHLTMETComponents
  METYellowMin = 1
  METYellowMax = 25
  METRedMin = 25
  METRedMax = 25
  DoYellowFlag = 1
  DoRedFlag = 0
}

## HLTmetAlgorithm 4 (not used)
compositeAlgorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_LessThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm HLTmet_HistogramNotEmpty_YellowEmpty&GatherData {
  name = HLTmet_HistogramNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = HLTmet_HistogramNotEmpty_YellowEmpty_Threshold
}

# HLTmetAlgorithm 5 (not used)
algorithm HLTmet_Bins_LessThan_Threshold {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  thresholds = HLTmet_NbinsThreshold
  BinThreshold = 0.5
  MinStat = 1
}

####################
# Summary Algorithms
####################
## HLTmetSummaryAlg 1
algorithm HLTmetSimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

## HLTmetSummaryAlg 2
algorithm HLTmetWorstCaseSummary {
    libname = libdqm_summaries.so
      name = WorstCaseSummary
}

## HLTmetSummaryAlg 3
algorithm HLTmetPercentSummary {
    libname = libdqm_summaries.so
      name = PercentSummary
}

###############
# Thresholds
###############

thresholds AlgErrorBitsThresholds {
  limits Threshold {
    warning = 0.1
    error = 0.1
  }
}

## HLTmetAlgorithm 4 thresholds: (not used)
thresholds HLTmet_HistogramNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

## HLTmetAlgorithm 5 thresholds: (not used)
thresholds HLTmet_NbinsThreshold {
  limits NBins {
    warning = 7320
    error = 7625
  }
}

