% Definition of histograms for TrigJpsiRootAnalysis
% To disable some histogram put "%" symbol at the beginning of the line

% jpsi histogram
HIST_1D name="jpsi"    title="J/#psi ;Mass (MeV)"  nBinsX=25  minX=2000   maxX=4900  legend="Offline J/#psi" disp="p" optStat=10

% chain comparison histograms
HIST_1D name="chain_0" title=";Mass (MeV)"         nBinsX=25  minX=2000   maxX=4900
HIST_1D name="chain_1" title=";Mass (MeV)"         nBinsX=25  minX=2000   maxX=4900
HIST_1D name="chain_2" title=";Mass (MeV)"         nBinsX=25  minX=2000   maxX=4900
HIST_1D name="chain_3" title=";Mass (MeV)"         nBinsX=25  minX=2000   maxX=4900
HIST_1D name="chain_4" title=";Mass (MeV)"         nBinsX=25  minX=2000   maxX=4900
HIST_1D name="chain_5" title=";Mass (MeV)"         nBinsX=25  minX=2000   maxX=4900

