% Definition of histograms for TrigJpsiRootAnalysis
% To disable some histogram put "%" symbol at the beginning of the line

% rate as a function of no of associated hits
HIST_1D name="rate_muID"  title="No. of accepted events after muon id.;No. of associated hits;No. of events"   nBinsX=11  minX=-0.5   maxX=10.5  optStat=0

% rate as a function of vertexing chi2 cut
HIST_1D name="rate_vtx"  title="No. of accepted events after vertexing;Vertexing #chi^{2} cut;No. of events"  nBinsX=200  minX=0      maxX=100     optStat=0
% HIST_1D name="rate_vtx"  title="No. of accepted efents after vertexing;Vertexing #chi^{2} cut;No. of events"  nBinsX=2000  minX=0      maxX=1000     optStat=0
