% Definition of histograms for TrigJpsiRootAnalysis
% To disable some histogram put "%" symbol at the beginning of the line

% jpsi acceptance histograms
HIST_1D name="jpsi"           title="J/#psi ;#font[52]{M}_{#mu#mu} [GeV];Candidates / 0.05 GeV"  nBinsX=40  minX=2   maxX=4   legend="Offline J/#psi"  disp="p" optStat=0
HIST_1D name="jpsi_trk"       title="J/#psi ;#font[52]{M}_{#mu#mu} [GeV];Candidates / 0.05 GeV"  nBinsX=40  minX=2   maxX=4   legend="After Trigger Tracking"  disp="f" optStat=0
HIST_1D name="jpsi_fex"       title=";Mass (MeV)"                                                nBinsX=40  minX=2   maxX=4   legend="After FEX"       disp="f" optStat=0
HIST_1D name="jpsi_muID"      title=";Mass (MeV)"                                                nBinsX=40  minX=2   maxX=4   legend="After B-Physics Trigger"      disp="f" optStat=0
HIST_1D name="jpsi_vtx"       title=";Mass (MeV)"                                              nBinsX=40  minX=2   maxX=4   legend="After vertexing" disp="f" optStat=0

% upsilon acceptance histograms
%HIST_1D name="jpsi"           title="#Upsilon ;#font[52]{M}_{#mu#mu} [GeV];Candidates / 0.05 GeV"  nBinsX=40  minX=7   maxX=12   legend="Offline #Upsilon"  disp="p" optStat=0
%HIST_1D name="jpsi_trk"       title="#Upsilon ;#font[52]{M}_{#mu#mu} [GeV];Candidates / 0.05 GeV"  nBinsX=40  minX=7   maxX=12   legend="After Trigger Tracking"  disp="f" optStat=0
%HIST_1D name="jpsi_fex"       title=";Mass (MeV)"                                                nBinsX=40  minX=7   maxX=12   legend="After FEX"       disp="f" optStat=0
%HIST_1D name="jpsi_muID"      title=";Mass (MeV)"                                                nBinsX=40  minX=7   maxX=12   legend="After B-Physics Trigger"      disp="f" optStat=0
%HIST_1D name="jpsi_vtx"       title=";Mass (MeV)"                                              nBinsX=40  minX=7   maxX=12   legend="After vertexing" disp="f" optStat=0


HIST_1D name="jpsiPt0"      title="J/#psi;#font[52]{p}_{T}(J/#psi) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=19 legend="Offline J/#psi"           disp="p"
HIST_1D name="jpsiPt_trk0"  title="J/#psi;#font[52]{p}_{T}(J/#psi) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=19 legend="After Trigger Tracking"   disp="f" optStat=0
HIST_1D name="jpsiPt_fex0"  title="J/#psi;#font[52]{p}_{T}(J/#psi) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=19 legend="After FEX"                disp="f" optStat=0
HIST_1D name="jpsiPt_hypo0" title="J/#psi;#font[52]{p}_{T}(J/#psi) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=19 legend="After B-Physics Trigger"  disp="f" optStat=0

%HIST_1D name="jpsiPt1"      title="J/#psi;#font[52]{p}_{T}(#mu^{min}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="Offline J/#psi"           disp="p"
%HIST_1D name="jpsiPt_trk1"  title="J/#psi;#font[52]{p}_{T}(#mu^{min}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="After Trigger Tracking"   disp="f" optStat=0
%HIST_1D name="jpsiPt_fex1"  title="J/#psi;#font[52]{p}_{T}(#mu^{min}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="After FEX"                disp="f" optStat=0
%HIST_1D name="jpsiPt_hypo1" title="J/#psi;#font[52]{p}_{T}(#mu^{min}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="After B-Physics Trigger"  disp="f" optStat=0

%HIST_1D name="jpsiPt2"      title="J/#psi;#font[52]{p}_{T}(#mu^{max}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="Offline J/#psi"           disp="p"
%HIST_1D name="jpsiPt_trk2"  title="J/#psi;#font[52]{p}_{T}(#mu^{max}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="After Trigger Tracking"   disp="f" optStat=0
%HIST_1D name="jpsiPt_fex2"  title="J/#psi;#font[52]{p}_{T}(#mu^{max}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="After FEX"                disp="f" optStat=0
%HIST_1D name="jpsiPt_hypo2" title="J/#psi;#font[52]{p}_{T}(#mu^{max}) [GeV];Candidates / 0.75 GeV"  nBinsX=20  minX=0  maxX=15 legend="After B-Physics Trigger"  disp="f" optStat=0

HIST_1D name="jpsiEta0"      title="J/#psi;#font[52]{#eta}(J/#psi);Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="Offline J/#psi"           disp="p"
HIST_1D name="jpsiEta_trk0"  title="J/#psi;#font[52]{#eta}(J/#psi);Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After Trigger Tracking"   disp="f" optStat=0
HIST_1D name="jpsiEta_fex0"  title="J/#psi;#font[52]{#eta}(J/#psi);Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After FEX"                disp="f" optStat=0
HIST_1D name="jpsiEta_hypo0" title="J/#psi;#font[52]{#eta}(J/#psi);Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After B-Physics Trigger"  disp="f" optStat=0

%HIST_1D name="jpsiEta1"      title="J/#psi;#font[52]{#eta}(#mu^{min});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="Offline J/#psi"           disp="p"
%HIST_1D name="jpsiEta_trk1"  title="J/#psi;#font[52]{#eta}(#mu^{min});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After Trigger Tracking"   disp="f" optStat=0
%HIST_1D name="jpsiEta_fex1"  title="J/#psi;#font[52]{#eta}(#mu^{min});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After FEX"                disp="f" optStat=0
%HIST_1D name="jpsiEta_hypo1" title="J/#psi;#font[52]{#eta}(#mu^{min});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After B-Physics Trigger"  disp="f" optStat=0

%HIST_1D name="jpsiEta2"      title="J/#psi;#font[52]{#eta}(#mu^{max});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="Offline J/#psi"           disp="p"
%HIST_1D name="jpsiEta_trk2"  title="J/#psi;#font[52]{#eta}(#mu^{max});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After Trigger Tracking"   disp="f" optStat=0
%HIST_1D name="jpsiEta_fex2"  title="J/#psi;#font[52]{#eta}(#mu^{max});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After FEX"                disp="f" optStat=0
%HIST_1D name="jpsiEta_hypo2" title="J/#psi;#font[52]{#eta}(#mu^{max});Candidates / 0.27"  nBinsX=20  minX=-2.7  maxX=2.7 legend="After B-Physics Trigger"  disp="f" optStat=0


% single track efficiencies
% HIST_1D name="mu_eta"         title="J/#psi muons ;#eta;Tracks / 0.27"                              nBinsX=20  minX=-2.7   maxX=2.7   legend="Offline J/#psi tracks"    disp="p"
% HIST_1D name="mu_pt"          title="J/#psi muons ;#font[52]{p}_{T} [GeV];Tracks / 0.75 GeV"        nBinsX=20  minX=0      maxX=15 legend="Offline J/#psi tracks"    disp="p" cut="MuonPt"
% HIST_1D name="trigTrk_eta"    title="All Trigger Tracks ;#eta;Tracks / 0.27"                        nBinsX=20  minX=-2.7   maxX=2.7   legend="Reconstructed by Trigger"  disp="f"
% HIST_1D name="trigTrk_pt"     title="All Trigger Tracks ;#font[52]{p}_{T} [GeV];Tracks / 0.75 GeV"  nBinsX=20  minX=0      maxX=15 legend="Reconstructed by Trigger"  disp="f" cut="MuonPt"

% efficiency of muon identification as a function of no of associated hits
HIST_1D name="num_muID"       title="Muon identification;No. of associated hits;No. of candidates"  nBinsX=21  minX=-0.5   maxX=20.5  optStat=0

% efficiency of vertexing as a function of no of associated hits
HIST_1D name="num_vtx"        title="Trigger vertexing;Trigger vertexing #chi^{2} cut;No. of candidates"  nBinsX=200  minX=0 maxX=100 optStat=0
% HIST_1D name="num_vtx"        title="Trigger vertexing;Trigger vertexing #chi^{2} cut;No. of candidates"  nBinsX=2000  minX=0 maxX=1000 optStat=0


% trigger vertex chi2
% HIST_1D name="trig_chi2"      title="Di-muon FEX;#chi^{2};No. of candidates"      nBinsX=50  minX=0      maxX=30  cut="TrigChi2"
