% Definition of histograms for TrigJpsiRootAnalysis
% To disable some histogram just put "%" symbol at the beginning of the line

% jpsi histogram
HIST_1D name="jpsi"           title="J/#psi ;Mass (GeV)"                nBinsX=25  minX=2   maxX=4.9   legend="Offline J/#psi" disp="p" optStat=10

% cuts histograms
HIST_1D name="jpsi_chi2Prob"  title="J/#psi vertex;Prob(#chi^{2})"      nBinsX=20  minX=0      maxX=1       cut="JpsiChi2Prob"
HIST_1D name="jpsi_dPhi"      title="J/#psi ;Opening angle #Delta#phi"  nBinsX=20  minX=0      maxX=3.14    cut="JpsiDPhi"
HIST_1D name="jpsi_pt"        title="J/#psi ;p_{T} (GeV)"               nBinsX=20  minX=0      maxX=25
HIST_1D name="jpsi_eta"       title="J/#psi ;#eta"                      nBinsX=20  minX=-3     maxX=3

% single track histograms
HIST_1D name="trk_chi2"       title="J/#psi muon tracks; #chi^{2}/NDF"  nBinsX=30  minX=0      maxX=20      cut="TrkChi2OnNdf"
HIST_1D name="mu_eta"         title="J/#psi muons ;#eta"                nBinsX=20  minX=-2.7   maxX=2.7
HIST_1D name="mu_pt"          title="J/#psi muons ;p_{T} (MeV)"         nBinsX=30  minX=0      maxX=15000   cut="MuonPt"
HIST_1D name="muMax_pt"       title="J/#psi muons ;p_{T} (MeV)"         nBinsX=30  minX=0      maxX=15000   cut="MuonPt" disp="p" legend="Leading J/#psi muon"
HIST_1D name="muMin_pt"       title="J/#psi muons ;p_{T} (MeV)"         nBinsX=30  minX=0      maxX=15000   cut="MuonPt" disp="p" legend="Subleading J/#psi muon"
HIST_1D name="mu_e"           title="J/#psi muons ;E (MeV)"             nBinsX=30  minX=0      maxX=25000   cut="MuonE"

HIST_1D name="mu_pixHits"     title="J/#psi muons ;No. of Pixel hits" nBinsX=20  minX=0   maxX=20  cut="MuonPixHits"   disp="f"   optStat=110
HIST_1D name="mu_sctHits"     title="J/#psi muons ;No. of SCT hits"   nBinsX=20  minX=0   maxX=20  cut="MuonSctHits"   disp="f"   optStat=110
HIST_1D name="mu_mdtHits"     title="J/#psi muons ;No. of MDT hits"   nBinsX=20  minX=0   maxX=20  cut="MuonMdtHits"   disp="f"   optStat=110


