% Definition of histograms for TrigJpsiRootAnalysis
% To disable some histogram put "%" symbol at the beginning of the line

% jpsi acceptance histograms
HIST_1D name="jpsi"           title="J/#psi ;Mass (GeV);No. of candidates"  nBinsX=25  minX=2   maxX=4.9   legend="Offline J/#psi"  disp="p" optStat=0
HIST_1D name="jpsi_trk"       title=";Mass (GeV)"                           nBinsX=25  minX=2   maxX=4.9   legend="After Tracking"  disp="f" optStat=0
HIST_1D name="jpsi_fex"       title=";Mass (GeV)"                           nBinsX=25  minX=2   maxX=4.9   legend="After FEX"       disp="f" optStat=0
HIST_1D name="jpsi_muID"      title=";Mass (GeV)"                           nBinsX=25  minX=2   maxX=4.9   legend="After Hypo"      disp="f" optStat=0
HIST_1D name="jpsi_vtx"       title=";Mass (GeV)"                           nBinsX=25  minX=2   maxX=4.9   legend="After vertexing" disp="f"  optStat=0

% HIST_1D name="jpsi_pt"          title="J/#psi; sub-leading muon p_{T} (GeV);No. of candidates"   nBinsX=10  minX=2.8 maxX=10 legend="Offline J/#psi" disp="p"  optStat=0
% HIST_1D name="jpsi_pt_trk"      title="J/#psi; sub-leading muon p_{T} (GeV);No. of candidates"   nBinsX=10  minX=2.8 maxX=10 legend="After Tracking" disp="f"  optStat=0
% HIST_1D name="jpsi_pt_fex"      title="J/#psi; sub-leading muon p_{T} (GeV);No. of candidates"   nBinsX=10  minX=2.8 maxX=10 legend="After FEX"      disp="f"  optStat=0
% HIST_1D name="jpsi_pt_muID"     title="J/#psi; sub-leading muon p_{T} (GeV);No. of candidates"   nBinsX=10  minX=2.8 maxX=10 legend="After Hypo"     disp="f"  optStat=0
%
% HIST_1D name="jpsi_eta"          title="J/#psi; sub-leading muon #eta;No. of candidates"   nBinsX=10  minX=-3  maxX=3 legend="Offline J/#psi" disp="p"  optStat=0
% HIST_1D name="jpsi_eta_trk"      title="J/#psi; sub-leading muon #eta;No. of candidates"   nBinsX=10  minX=-3  maxX=3 legend="After Tracking" disp="f"  optStat=0
% HIST_1D name="jpsi_eta_fex"      title="J/#psi; sub-leading muon #eta;No. of candidates"   nBinsX=10  minX=-3  maxX=3 legend="After FEX"      disp="f"  optStat=0
% HIST_1D name="jpsi_eta_muID"     title="J/#psi; sub-leading muon #eta;No. of candidates"   nBinsX=10  minX=-3  maxX=3 legend="After Hypo"     disp="f"  optStat=0
%
% HIST_1D name="jpsi_dR"          title="J/#psi; #DeltaR;No. of candidates"   nBinsX=10  minX=0  maxX=1.5 legend="Offline J/#psi" disp="p"  optStat=0
% HIST_1D name="jpsi_dR_trk"      title="J/#psi; #DeltaR;No. of candidates"   nBinsX=10  minX=0  maxX=1.5 legend="After Tracking" disp="f"  optStat=0
% HIST_1D name="jpsi_dR_fex"      title="J/#psi; #DeltaR;No. of candidates"   nBinsX=10  minX=0  maxX=1.5 legend="After FEX"      disp="f"  optStat=0
% HIST_1D name="jpsi_dR_muID"     title="J/#psi; #DeltaR;No. of candidates"   nBinsX=10  minX=0  maxX=1.5 legend="After Hypo"     disp="f"  optStat=0

% single track efficiencies
% HIST_1D name="mu_eta"         title="J/#psi muons ;#eta;No. of candidates"                nBinsX=20  minX=-2.7   maxX=2.7   legend="Offline J/#psi tracks"    disp="p"
% HIST_1D name="mu_pt"          title="J/#psi muons ;p_{T} (GeV);No. of candidates"         nBinsX=20  minX=0      maxX=15 legend="Offline J/#psi tracks"    disp="p" cut="MuonPt"
% HIST_1D name="trigTrk_eta"    title="All Trigger Tracks ;#eta;No. of candidates"           nBinsX=20  minX=-2.7   maxX=2.7   legend="Reconstructed by IDSCAN"  disp="f"
% HIST_1D name="trigTrk_pt"     title="All Trigger Tracks ;p_{T} (GeV);No. of candidates"    nBinsX=20  minX=0      maxX=15 legend="Reconstructed by IDSCAN"  disp="f" cut="MuonPt"

% efficiency of muon identification as a function of no of associated hits
% HIST_1D name="num_muID"       title="Muon identification;No. of associated hits;No. of candidates"  nBinsX=11  minX=-0.5   maxX=10.5  optStat=0

% efficiency of vertexing as a function of no of associated hits
% HIST_1D name="num_vtx"        title="Trigger vertexing;Trigger vertexing #chi^{2} cut;No. of candidates"  nBinsX=20  minX=0 maxX=100 optStat=0
% % HIST_1D name="num_vtx"        title="Trigger vertexing;Trigger vertexing #chi^{2} cut;No. of candidates"  nBinsX=2000  minX=0 maxX=1000 optStat=0


% trigger vertex chi2
% HIST_1D name="trig_chi2"      title="Di-muon FEX;#chi^{2};No. of candidates"      nBinsX=50  minX=0      maxX=30  cut="TrigChi2"
