%% Definition of histograms for TrigJpsiRootAnalysis
%% To disable some histogram just put "%" symbol at the beginning of the line

%% MDT hits
HIST_1D name="Hit_Endcap_mdt_inner_dEta4"  title="MDT Inner Endcap; #Delta#eta"              nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"
HIST_1D name="Hit_Endcap_mdt_middle_dEta4" title="MDT Middle Endcap; #Delta#eta"             nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"
HIST_1D name="Hit_Barrel_mdt_inner_dEta4"  title="MDT Inner Barrel; #Delta#eta"              nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"
HIST_1D name="Hit_Barrel_mdt_middle_dEta4" title="MDT Middle Barrel; #Delta#eta"             nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"

%% RPC hits
HIST_1D name="Hit_rpc_middle_dEta4"        title="RPC Middle; #Delta#eta"                     nBinsX=50  minX=-0.4   maxX=0.4  legend="All"  disp="l"
HIST_1D name="Hit_rpc_middle_dPhi4"        title="RPC Middle; #Delta#phi"                     nBinsX=50  minX=-0.4   maxX=0.4  legend="All"  disp="l"

%% TGC wire hits
HIST_1D name="Hit_tgc_wire_inner_dEta4"    title="TGC Wire Inner; #Delta#eta"                 nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"
HIST_1D name="Hit_tgc_wire_middle_dEta4"   title="TGC Wire Middle; #Delta#eta"                nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"
HIST_1D name="Hit_tgc_wire_inner_dPhi4"    title="TGC Wire Inner; #Delta#phi"                 nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"
HIST_1D name="Hit_tgc_wire_middle_dPhi4"   title="TGC Wire Middle; #Delta#phi"                nBinsX=50  minX=-0.4   maxX=0.4  legend="All" disp="l"

%% TGC strip hits
HIST_1D name="Hit_tgc_strip_inner_dPhi4"   title="TGC Strip Inner; #Delta#phi"                nBinsX=50  minX=-0.4   maxX=0.4  legend="All"  disp="l"
HIST_1D name="Hit_tgc_strip_middle_dPhi4"  title="TGC Strip Middle (#eta<1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="All"  disp="l"
HIST_1D name="Hit_tgc_strip_middle2_dPhi4" title="TGC Strip Middle (#eta>1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="All"  disp="l"


%% histograms for different pT bins
%% MDT hits
HIST_1D name="Hit_Endcap_mdt_inner_dEta0"  title="MDT Inner Endcap; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"          optStat=0 disp="pl"
HIST_1D name="Hit_Endcap_mdt_inner_dEta1"  title="MDT Inner Endcap; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Endcap_mdt_inner_dEta2"  title="MDT Inner Endcap; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Endcap_mdt_inner_dEta3"  title="MDT Inner Endcap; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"          optStat=0 disp="pl"

HIST_1D name="Hit_Endcap_mdt_middle_dEta0" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"          optStat=0 disp="pl"
HIST_1D name="Hit_Endcap_mdt_middle_dEta1" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Endcap_mdt_middle_dEta2" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Endcap_mdt_middle_dEta3" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"          optStat=0 disp="pl"

HIST_1D name="Hit_Barrel_mdt_inner_dEta0"  title="MDT Inner Barrel; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"          optStat=0 disp="pl"
HIST_1D name="Hit_Barrel_mdt_inner_dEta1"  title="MDT Inner Barrel; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Barrel_mdt_inner_dEta2"  title="MDT Inner Barrel; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Barrel_mdt_inner_dEta3"  title="MDT Inner Barrel; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"          optStat=0 disp="pl"

HIST_1D name="Hit_Barrel_mdt_middle_dEta0" title="MDT Middle Barrel; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"          optStat=0 disp="pl"
HIST_1D name="Hit_Barrel_mdt_middle_dEta1" title="MDT Middle Barrel; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Barrel_mdt_middle_dEta2" title="MDT Middle Barrel; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"   optStat=0 disp="pl"
HIST_1D name="Hit_Barrel_mdt_middle_dEta3" title="MDT Middle Barrel; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"          optStat=0 disp="pl"

%% RPC hits
HIST_1D name="Hit_rpc_middle_dEta0"        title="RPC Middle; #Delta#eta"          nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_rpc_middle_dEta1"        title="RPC Middle; #Delta#eta"          nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_rpc_middle_dEta2"        title="RPC Middle; #Delta#eta"          nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_rpc_middle_dEta3"        title="RPC Middle; #Delta#eta"          nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

HIST_1D name="Hit_rpc_middle_dPhi0"        title="RPC Middle; #Delta#phi"          nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_rpc_middle_dPhi1"        title="RPC Middle; #Delta#phi"          nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_rpc_middle_dPhi2"        title="RPC Middle; #Delta#phi"          nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_rpc_middle_dPhi3"        title="RPC Middle; #Delta#phi"          nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

%% TGC wire hits
HIST_1D name="Hit_tgc_wire_inner_dEta0"    title="TGC Wire Inner; #Delta#eta"      nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_inner_dEta1"    title="TGC Wire Inner; #Delta#eta"      nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_inner_dEta2"    title="TGC Wire Inner; #Delta#eta"      nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_inner_dEta3"    title="TGC Wire Inner; #Delta#eta"      nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

HIST_1D name="Hit_tgc_wire_middle_dEta0"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_middle_dEta1"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_middle_dEta2"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_middle_dEta3"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

HIST_1D name="Hit_tgc_wire_inner_dPhi0"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_inner_dPhi1"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_inner_dPhi2"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_inner_dPhi3"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

HIST_1D name="Hit_tgc_wire_middle_dPhi0"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_middle_dPhi1"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_middle_dPhi2"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_wire_middle_dPhi3"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

%% TGC strip hits
HIST_1D name="Hit_tgc_strip_inner_dPhi0"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_inner_dPhi1"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_inner_dPhi2"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_inner_dPhi3"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

HIST_1D name="Hit_tgc_strip_middle_dPhi0"  title="TGC Strip Middle (#eta<1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_middle_dPhi1"  title="TGC Strip Middle (#eta<1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_middle_dPhi2"  title="TGC Strip Middle (#eta<1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_middle_dPhi3"  title="TGC Strip Middle (#eta<1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

HIST_1D name="Hit_tgc_strip_middle2_dPhi0"  title="TGC Strip Middle (#eta>1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="p_{T} < 4GeV"         optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_middle2_dPhi1"  title="TGC Strip Middle (#eta>1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="4GeV < p_{T} < 6GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_middle2_dPhi2"  title="TGC Strip Middle (#eta>1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="6GeV < p_{T} < 8GeV"  optStat=0 disp="pl"
HIST_1D name="Hit_tgc_strip_middle2_dPhi3"  title="TGC Strip Middle (#eta>1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="8GeV < p_{T}"         optStat=0 disp="pl"

%% hit matching in eta bins
%% TGC inner
HIST_1D name="Hit2_tgc_wire_inner_dPhi0"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="|#phi| < 1.3"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_inner_dPhi1"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="1.3 < |#phi| < 1.6"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_inner_dPhi2"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="1.6 < |#phi|      "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_inner_dPhi3"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4  legend="All"                 optStat=0 disp="l"

HIST_1D name="Hit2_tgc_strip_inner_dPhi0"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="|#eta| < 1.3"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_inner_dPhi1"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.3 < |#eta| < 1.6"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_inner_dPhi2"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.6 < |#eta|      "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_inner_dPhi3"   title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="All"                 optStat=0 disp="l"

%% MDT
HIST_1D name="Hit2_Endcap_mdt_middle_dEta0" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="|#eta| < 1.2 "   optStat=0 disp="pl"
HIST_1D name="Hit2_Endcap_mdt_middle_dEta1" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="1.2 < |#eta| < 1.35"   optStat=0 disp="pl"
HIST_1D name="Hit2_Endcap_mdt_middle_dEta2" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="1.35 < |#eta| < 1.65"   optStat=0 disp="pl"
HIST_1D name="Hit2_Endcap_mdt_middle_dEta3" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="1.65 < |#eta| < 2.0 "   optStat=0 disp="pl"
HIST_1D name="Hit2_Endcap_mdt_middle_dEta4" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="2.0  < |#eta|       "   optStat=0 disp="pl"
HIST_1D name="Hit2_Endcap_mdt_middle_dEta5" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4  legend="All"                    optStat=0 disp="l"

%% TGC
HIST_1D name="Hit2_tgc_wire_middle_dEta0"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="|#eta| < 1.2 "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dEta1"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.2 < |#eta| < 1.35"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dEta2"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.35 < |#eta| < 1.65"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dEta3"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.65 < |#eta| < 2.0 "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dEta4"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="2.0  < |#eta|       "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dEta5"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4  legend="All"                   optStat=0 disp="l"

HIST_1D name="Hit2_tgc_wire_middle_dPhi0"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="|#eta| < 1.2 "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dPhi1"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.2 < |#eta| < 1.35"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dPhi2"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.35 < |#eta| < 1.65"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dPhi3"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="1.65 < |#eta| < 2.0 "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dPhi4"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="2.0  < |#eta|       "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_wire_middle_dPhi5"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4  legend="All"                   optStat=0 disp="l"

HIST_1D name="Hit2_tgc_strip_middle2_dPhi0"  title="TGC Strip Middle; #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="|#eta| < 1.2 "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_middle2_dPhi1"  title="TGC Strip Middle; #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend=" 1.2 < |#eta| < 1.35"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_middle2_dPhi2"  title="TGC Strip Middle; #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="1.35 < |#eta| < 1.65"  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_middle2_dPhi3"  title="TGC Strip Middle; #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="1.65 < |#eta| < 2.0 "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_middle2_dPhi4"  title="TGC Strip Middle; #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="2.0  < |#eta|       "  optStat=0 disp="pl"
HIST_1D name="Hit2_tgc_strip_middle2_dPhi5"  title="TGC Strip Middle; #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4  legend="All"                   optStat=0 disp="l"

%% old propagator

%% MDT hits
% HIST_1D name="OldHit_Endcap_mdt_inner_dEta"  title="MDT Inner Endcap; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_Endcap_mdt_middle_dEta" title="MDT Middle Endcap; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_Barrel_mdt_inner_dEta"  title="MDT Inner Barrel; #Delta#eta"   nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_Barrel_mdt_middle_dEta" title="MDT Middle Barrel; #Delta#eta"  nBinsX=50  minX=-0.4   maxX=0.4
%
% %% RPC hits
% HIST_1D name="OldHit_rpc_middle_dEta"        title="RPC Middle; #Delta#eta"          nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_rpc_middle_dPhi"        title="RPC Middle; #Delta#phi"          nBinsX=50  minX=-0.4   maxX=0.4
%
% %% TGC wire hits
% HIST_1D name="OldHit_tgc_wire_inner_dEta"    title="TGC Wire Inner; #Delta#eta"      nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_tgc_wire_middle_dEta"   title="TGC Wire Middle; #Delta#eta"     nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_tgc_wire_inner_dPhi"    title="TGC Wire Inner; #Delta#phi"      nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_tgc_wire_middle_dPhi"   title="TGC Wire Middle; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4
%
% %% TGC strip hits
% HIST_1D name="OldHit_tgc_strip_inner_dPhi"    title="TGC Strip Inner; #Delta#phi"     nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_tgc_strip_middle_dPhi"   title="TGC Strip Middle (#eta<1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4
% HIST_1D name="OldHit_tgc_strip_middle2_dPhi"  title="TGC Strip Middle (#eta>1.7); #Delta#phi"    nBinsX=50  minX=-0.4   maxX=0.4
