#######################################
#
#  JetUncertaintiesTool Input Settings
#    Reduced set of nuisance parameters from Moriond 2013 iteration of the in-situ JES
#    Reduction was applied within each category
#    This is for the stronger correlations scenario
#    April 24, 2013
#
#   S. Schramm, B. Malaescu, C. Doglioni, D. Gillberg
#
#######################################

UncertaintyRelease:                 2012_Moriond2013
SupportedJetDefs:                   AntiKt4LCTopo,AntiKt4EMTopo,AntiKt6LCTopo,AntiKt6EMTopo
SupportedMCTypes:                   MC12a,AFII
UncertaintyRootFile:                JES_2012/Moriond2013/JESUncertainty_StrongerCorrelations_2012.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       16.5
Pileup.NPVRef:                      10.0

#######################################
#
#   Settings for JES Components
#
#######################################

JESComponent.1.Desc:                Effective JES Statistical and Method Component 1
JESComponent.1.Name:                EffectiveNP_Statistical1
JESComponent.1.Type:                Statistical
JESComponent.1.Param:               Pt

JESComponent.2.Desc:                Effective JES Statistical and Method Component 2
JESComponent.2.Name:                EffectiveNP_Statistical2
JESComponent.2.Type:                Statistical
JESComponent.2.Param:               Pt

JESComponent.3.Desc:                Effective JES Statistical and Method Component 3
JESComponent.3.Name:                EffectiveNP_Statistical3
JESComponent.3.Type:                Statistical
JESComponent.3.Param:               Pt

JESComponent.4.Desc:                Effective JES Modelling Component 1
JESComponent.4.Name:                EffectiveNP_Modelling1
JESComponent.4.Type:                Modelling
JESComponent.4.Param:               Pt

JESComponent.5.Desc:                Effective JES Modelling Component 2
JESComponent.5.Name:                EffectiveNP_Modelling2
JESComponent.5.Type:                Modelling
JESComponent.5.Param:               Pt

JESComponent.6.Desc:                Effective JES Modelling Component 3
JESComponent.6.Name:                EffectiveNP_Modelling3
JESComponent.6.Type:                Modelling
JESComponent.6.Param:               Pt

JESComponent.7.Desc:                Effective JES Detector Component 1
JESComponent.7.Name:                EffectiveNP_Detector1
JESComponent.7.Type:                Detector
JESComponent.7.Param:               Pt

JESComponent.8.Desc:                Effective JES Detector Component 2
JESComponent.8.Name:                EffectiveNP_Detector2
JESComponent.8.Type:                Detector
JESComponent.8.Param:               Pt

JESComponent.9.Desc:                Effective JES Detector Component 3
JESComponent.9.Name:                EffectiveNP_Detector3
JESComponent.9.Type:                Detector
JESComponent.9.Param:               Pt

JESComponent.10.Desc:               Effective JES Mixed Modelling and Detector Component 1
JESComponent.10.Name:               EffectiveNP_Mixed1
JESComponent.10.Type:               Mixed
JESComponent.10.Param:              Pt

JESComponent.11.Desc:               Effective JES Mixed Modelling and Detector Component 2
JESComponent.11.Name:               EffectiveNP_Mixed2
JESComponent.11.Type:               Mixed
JESComponent.11.Param:              Pt

# Correlated MC components (modelling and mixed)
JESComponent.12.Desc:               Correlated MC for Z/g-jet and MJB fragmentation
JESComponent.12.Name:               Correlated_MC-MJB
JESComponent.12.Type:               Other
JESComponent.12.Corr:               Correlated
JESComponent.12.Param:              Pt
JESComponent.12.SubComp:            Zjet_MC Gjet_Generator MJB_Fragmentation

##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration: theory uncertainty
JESComponent.13.Name:               EtaIntercalibration_Modelling
JESComponent.13.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              PtEta

# Eta intercalibration: total statistical and method uncertainty
JESComponent.14.Name:               EtaIntercalibration_StatAndMethod
JESComponent.14.Desc:               Eta intercalibration: statistical and method uncertainty
JESComponent.14.Type:               Statistical
JESComponent.14.Param:              PtEta

# High pT term
JESComponent.15.Name:               SingleParticle_HighPt
JESComponent.15.Desc:               High pT term (2012 version)
JESComponent.15.Type:               Detector
JESComponent.15.Param:              Pt

# Calibration closure
JESComponent.16.Name:               RelativeNonClosure_MCTYPE
JESComponent.16.Desc:               Closure of the calibration, relative to MC12a
JESComponent.16.Type:               Other
JESComponent.16.Param:              PtEta
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initiating the provider

# Pileup: Mu term
JESComponent.17.Name:               Pileup_OffsetMu
JESComponent.17.Desc:               Pileup: Offset, mu term
JESComponent.17.Type:               Other
JESComponent.17.Param:              PtEta
JESComponent.17.Special:            True

# Pileup: NPV term
JESComponent.18.Name:               Pileup_OffsetNPV
JESComponent.18.Desc:               Pileup: Offset, NPV term
JESComponent.18.Type:               Other
JESComponent.18.Param:              PtEta
JESComponent.18.Special:            True

# Pileup: pT term
JESComponent.19.Name:               Pileup_PtTerm
JESComponent.19.Desc:               Pileup: Offset, pT term
JESComponent.19.Type:               Other
JESComponent.19.Param:              PtEta
JESComponent.19.Special:            True
JESComponent.19.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV

# JetAreas rho topology
JESComponent.20.Name:               Pileup_RhoTopology
JESComponent.20.Desc:               Rho topology uncertainty (jet areas)
JESComponent.20.Type:               Other
JESComponent.20.Param:              PtEta
JESComponent.20.Special:            True

# Flavour composition uncertainty
JESComponent.21.Name:               Flavor_Composition
JESComponent.21.Desc:               Flavor composition uncertainty
JESComponent.21.Type:               Modelling
JESComponent.21.Param:              PtEta
JESComponent.21.Special:            True
JESComponent.21.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.22.Name:               Flavor_Response
JESComponent.22.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.22.Type:               Modelling
JESComponent.22.Param:              PtEta
JESComponent.22.Special:            True
JESComponent.22.Hists:              FlavorResponse

# bJES uncertainty
JESComponent.23.Name:               BJES_Response
JESComponent.23.Desc:               JES uncertainty for b jets
JESComponent.23.Type:               Modelling
JESComponent.23.Param:              PtEta
JESComponent.23.Special:            True
JESComponent.23.Hists:              bJES

##############################################################################
