#######################################
#
#  JetUncertaintiesTool Input Settings
#    A global reduction of the full Moriond 2013 iteration of the in-situ JES
#    This is for the stronger correlations scenario
#    April 24, 2013
#
#   S. Schramm, B. Malaescu, C. Doglioni, D. Gillberg
#
#######################################

UncertaintyRelease:                 2012_Moriond2013
SupportedJetDefs:                   AntiKt4LCTopo,AntiKt4EMTopo,AntiKt6LCTopo,AntiKt6EMTopo
SupportedMCTypes:                   MC12a,AFII
UncertaintyRootFile:                JES_2012/Moriond2013/JESUncertainty_StrongerCorrelations_2012.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       16.5
Pileup.NPVRef:                      10.0

#######################################
#
#   Settings for JES Components
#
#######################################

JESComponent.1.Name:                EffectiveNP_1
JESComponent.1.Desc:                Effective JES Uncertainty Component 1
JESComponent.1.Type:                Effective
JESComponent.1.Param:               Pt

JESComponent.2.Name:                EffectiveNP_2
JESComponent.2.Desc:                Effective JES Uncertainty Component 2
JESComponent.2.Type:                Effective
JESComponent.2.Param:               Pt

JESComponent.3.Name:                EffectiveNP_3
JESComponent.3.Desc:                Effective JES Uncertainty Component 3
JESComponent.3.Type:                Effective
JESComponent.3.Param:               Pt

JESComponent.4.Name:                EffectiveNP_4
JESComponent.4.Desc:                Effective JES Uncertainty Component 4
JESComponent.4.Type:                Effective
JESComponent.4.Param:               Pt

JESComponent.5.Name:                EffectiveNP_5
JESComponent.5.Desc:                Effective JES Uncertainty Component 5
JESComponent.5.Type:                Effective
JESComponent.5.Param:               Pt

JESComponent.6.Name:                EffectiveNP_6restTerm
JESComponent.6.Desc:                Effective JES Uncertainty Component 6
JESComponent.6.Type:                Effective
JESComponent.6.Param:               Pt

# Correlated MC components (modelling and mixed)
JESComponent.7.Desc:                Correlated MC for Z/g-jet and MJB fragmentation
JESComponent.7.Name:                Correlated_MC-MJB
JESComponent.7.Type:                Other
JESComponent.7.Corr:                Correlated
JESComponent.7.Param:               Pt
JESComponent.7.SubComp:             Zjet_MC Gjet_Generator MJB_Fragmentation

##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration: theory uncertainty
JESComponent.8.Name:                EtaIntercalibration_Modelling
JESComponent.8.Desc:                Eta intercalibration: MC generator modelling uncertainty
JESComponent.8.Type:                Modelling
JESComponent.8.Param:               PtEta

# Eta intercalibration: total statistical and method uncertainty
JESComponent.9.Name:                EtaIntercalibration_StatAndMethod
JESComponent.9.Desc:                Eta intercalibration: statistical and method uncertainty
JESComponent.9.Type:                Statistical
JESComponent.9.Param:               PtEta

# High pT term
JESComponent.10.Name:               SingleParticle_HighPt
JESComponent.10.Desc:               High pT term (2012 version)
JESComponent.10.Type:               Detector
JESComponent.10.Param:              Pt

# Calibration closure
JESComponent.11.Name:               RelativeNonClosure_MCTYPE
JESComponent.11.Desc:               Closure of the calibration, relative to MC12a
JESComponent.11.Type:               Other
JESComponent.11.Param:              PtEta
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initiating the provider

# Pileup: Mu term
JESComponent.12.Name:               Pileup_OffsetMu
JESComponent.12.Desc:               Pileup: Offset, mu term
JESComponent.12.Type:               Other
JESComponent.12.Param:              PtEta
JESComponent.12.Special:            True

# Pileup: NPV term
JESComponent.13.Name:               Pileup_OffsetNPV
JESComponent.13.Desc:               Pileup: Offset, NPV term
JESComponent.13.Type:               Other
JESComponent.13.Param:              PtEta
JESComponent.13.Special:            True

# Pileup: pT term
JESComponent.14.Name:               Pileup_PtTerm
JESComponent.14.Desc:               Pileup: Offset, pT term
JESComponent.14.Type:               Other
JESComponent.14.Param:              PtEta
JESComponent.14.Special:            True
JESComponent.14.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV

# JetAreas rho topology
JESComponent.15.Name:               Pileup_RhoTopology
JESComponent.15.Desc:               Rho topology uncertainty (jet areas)
JESComponent.15.Type:               Other
JESComponent.15.Param:              PtEta
JESComponent.15.Special:            True

# Flavour composition uncertainty
JESComponent.16.Name:               Flavor_Composition
JESComponent.16.Desc:               Flavor composition uncertainty
JESComponent.16.Type:               Modelling
JESComponent.16.Param:              PtEta
JESComponent.16.Special:            True
JESComponent.16.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.17.Name:               Flavor_Response
JESComponent.17.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.17.Type:               Modelling
JESComponent.17.Param:              PtEta
JESComponent.17.Special:            True
JESComponent.17.Hists:              FlavorResponse

# bJES uncertainty
JESComponent.18.Name:               BJES_Response
JESComponent.18.Desc:               JES uncertainty for b jets
JESComponent.18.Type:               Modelling
JESComponent.18.Param:              PtEta
JESComponent.18.Special:            True
JESComponent.18.Hists:              bJES

##############################################################################
