# **********************************************************************
# $Id: collisions_minutes10.config 330123 2010-11-02 15:02:57Z ponyisi $
# **********************************************************************

############################################################
# Muon
############################################################

#############
# Output
#############

output top_level {
  output MuonDetectors {
    output RPC {
      output Expert {
        output TriggerMonitoring {
        }
      }
    }
  }
}


#######################
# Histogram Assessments
#######################

dir Muon {
  dir MuonRawDataMonitoring {
    dir RPC {
      dir lumiblock {
        algorithm = RPC_AlgNoEmpty
	output = MuonDetectors/RPC/Expert/TriggerMonitoring
	hist rpcTriggerHitsPerEvents_Eta_LowPt {
    	  ## description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	   algorithm = RPC_AlgNoEmpty
 	}
	hist rpcTriggerHitsPerEvents_Phi_LowPt {
    	 ##  description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	   algorithm = RPC_AlgNoEmpty
 	}
	hist rpcTriggerHitsPerEvents_Eta_HighPt {
    	 ##  description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	   algorithm = RPC_AlgNoEmpty
 	}
	hist rpcTriggerHitsPerEvents_Phi_HighPt {
    	 ##  description = https://twiki.cern.ch/twiki/bin/view/Atlas/MDTOfflineMonitoringPlots#MDTDeadElements
	   algorithm = RPC_AlgNoEmpty
 	}
      }      	
    }
  }
}


#############
##Algorithms
#############
# Note on Algs
# For Bin_LessThanNonZeroMedian
# A side are the same as C side save for BAOut vs BCOut
#############

algorithm RPC_AlgNoEmpty {		
  libname = libdqm_algorithms.so	
  name = Histogram_Not_Empty	
}					



