# **********************************************************************
# ./Tau/collisions_minutes10.config
# **********************************************************************

#------------------------------------
# Tau
#----------------------------------------

#--------------------
# Output
#--------------------

output top_level {
  output TauLS {
    output Calo {
    }
    output Track {
    }
    output Identification {
      output BDTLoose15GeV {
      }
    }
    output SubStructure {
    }
  }
}


#--------------------
# New main folder name
#--------------------
dir TauLS {
  reference = CentrallyManagedReferences
  output = TauLS
  algorithm = tauHists_Chi2NDF_noEmpty

  hist all_in_dir {
    display = StatBox
  }

  hist LS_nHighPtTauCandidates {
    algorithm = tauHists_Chi2NDF
    display = StatBox,LogY
  }

  hist LS_tauPhi {
    algorithm = tauHists_Chi2NDF
    display = StatBox
  }

  hist LS_tauEta {
    algorithm = tauHists_Chi2NDF
     display = StatBox
  }
 
  hist LS_tauPhiVsEta {
   algorithm = tauHists_Chi2Scatter
    display = StatBox
  }

  hist LS_tauPhiVsEtaEt15 {
    algorithm = tauHists_Chi2Scatter/Loose
    display = StatBox
  }

  hist LS_tauPhiVsEtaEt15BDTLoose {
    algorithm = tauHists_Chi2Scatter/Loose
    display = StatBox
  }

  hist LS_tauCharge {
    algorithm = tauHists_Chi2NDF_noEmpty
    display = StatBox,LogY
  }

  hist LS_nTauCandidates {
    algorithm = tauHists_Chi2NDF
      display = StatBox,LogY
  }

  hist LS_tauEt {
    algorithm = tauHists_Chi2NDF
      display = StatBox,LogY
  }

  hist LS_tauEtVsPhi {
    algorithm = tauHists_Chi2Scatter
      display = StatBox
  }

  hist LS_tauEtVsEta {
    algorithm = tauHists_Chi2Scatter
    display = StatBox
  }

  hist LS_tauEta_vsLB {
    algorithm = tauHists_Chi2Scatter
    display = StatBox
  }

  hist LS_tauPhi_vsLB {
    algorithm =  tauHists_Chi2Scatter
    display = StatBox
  }

  hist LS_nTauLS_vsLB {
    algorithm = tauHists_Chi2NDF
    display = StatBox
  }

  hist LS_NumTracks {
    algorithm = tauHists_Chi2NDF
    display = StatBox
  }

  hist LS_NumCoreTrk_vsLB {
    algorithm = tauHists_Chi2Scatter
    display = StatBox
  }
  
  hist LS_nCluster {
    algorithm = tauHists_Chi2NDF/veryLoose
    display = StatBox
  }

  hist LS_PtTESMVA {
    algorithm = tauHists_Chi2NDF
    display = StatBox
  }

  hist LS_Ptcombined {
    algorithm = tauHists_Chi2NDF
    display = StatBox
  }

  hist LS_tauEtaEt15BDTLoose_vsLB {
    algorithm = tauHists_Chi2Scatter
    display = StatBox
  }

  hist LS_tauPhiEt15BDTLoose_vsLB {
    algorithm =  tauHists_Chi2Scatter
    display = StatBox
  }

    dir Calo {
      output = TauLS/Calo
      algorithm = tauHists_Chi2NDF_noEmpty
      hist all_in_dir {
        display = StatBox
      }

      hist TauLS_Calo_jetSeedPt {
        algorithm = tauHists_Chi2NDF
        display = StatBox
      }

 
      hist TauLS_Calo_jetSeedEta {
        algorithm = tauHists_Chi2NDF
        display = StatBox
      }

      hist TauLS_Calo_jetSeedPhi {
        algorithm = tauHists_Chi2NDF
        display = StatBox
      }      

      hist TauLS_Calo_etEMAtEMScale {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox,LogY
      }

      hist TauLS_Calo_etHadAtEMScale {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox,LogY
      }

      hist TauLS_Calo_EMRadius {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox,LogY
      }

      hist TauLS_Calo_hadRadius {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox,LogY
      } 

      hist TauLS_Calo_isolFrac {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox
      }  

      hist TauLS_Calo_nStrip {
        algorithm = tauHists_Chi2NDF
        display = StatBox,LogY
      }

      hist TauLS_Calo_stripWidth2 {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox,LogY
      }
 
      hist TauLS_Calo_CentFracVsLB {
        algorithm = tauHists_Chi2Scatter_noEmpty
	display = StatBox
      }

      hist TauLS_Calo_isolFracVsLB {
        algorithm = tauHists_Chi2Scatter_noEmpty
	display = StatBox
      }
    }

    dir Track {
      output = TauLS/Track
      algorithm = tauHists_Chi2NDF/noMatch
  
      hist all_in_dir {
        display = StatBox
      }

      hist TauLS_Track_pT {
        algorithm = tauHists_Chi2NDF
        display = StatBox,LogY
      }

      hist TauLS_Track_eta {
        algorithm = tauHists_Chi2NDF/Loose
        display = StatBox
      } 

      hist TauLS_Track_phi {
        algorithm = tauHists_Chi2NDF
        display = StatBox
      } 

      hist TauLS_Track_leadTrkPt {
        algorithm = tauHists_Chi2NDF
        display = StatBox,LogY
      }

      hist TauLS_Track_nHighPTtaus {
	algorithm = tauHists_Chi2NDF
	display = StatBox,LogY
      }

      hist TauLS_Track_dRJetSeedAxis {
	display = StatBox
      }

      hist TauLS_Track_d0 {
        algorithm = tauHists_Chi2NDF_noEmpty/veryLoose
        display = StatBox,<AxisRange(-5,5,"X")>,LogY
      }

      hist TauLS_Track_z0TJVA {
        display = StatBox,<AxisRange(-35,35,"X")>,LogY
      }

      hist TauLS_Track_z0PriVtx {
        display = StatBox,<AxisRange(-35,35,"X")>,LogY
      }

      hist TauLS_Track_trkWidth2 {
        algorithm = tauHists_Chi2NDF
        display = StatBox,LogY
      }
  
      hist TauLS_Track_rConv {
        display = StatBox,LogY
      }
  
      hist TauLS_Track_rConvII {
        display = StatBox,LogY
      }
  
      hist TauLS_Track_ipZ0SinThetaSigLeadTrk {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox
      }

      hist TauLS_Track_leadTrackDeltaEta {
        algorithm = tauHists_Chi2NDF
        display = StatBox,LogY
      }
  
      hist TauLS_Track_leadTrackDeltaPhi {
        algorithm = tauHists_Chi2NDF
        display = StatBox,LogY
      }
  
      hist TauLS_Track_eProbabilityHT {
        display = StatBox
      }
  
      hist TauLS_Track_numberOfPixelHits {
        display = StatBox,LogY
      }

      hist TauLS_Track_numberOfPixelSharedHits {
        display = StatBox,LogY
      }

      hist TauLS_Track_numberOfInnermostPixelLayerHits {
        display = StatBox,LogY
      }

      hist TauLS_Track_numberOfSCTHits {
        display = StatBox,LogY
      }  

      hist TauLS_Track_numberOfSCTSharedHits {
        display = StatBox,LogY
      }  

      hist TauLS_Track_numberOfTRTHits {
        display = StatBox,LogY
      }

      hist TauLS_Track_numberOfTRTHighThresholdHits {
        display = StatBox,LogY
      }   

      hist TauLS_Track_numberOfTRTHighThresholdOutliers {
        display = StatBox,LogY
      }

      hist TauLS_Track_numberOfTRTOutliers {
        display = StatBox,LogY
      }
  
      hist TauLS_Track_z0VsLB {
	display = StatBox,<AxisRange(-35,35,"Y")>
      }
 
    }

    dir Identification {
      output = TauLS/Identification
      algorthm = tauHists_Chi2NDF_noEmpty
      hist all_in_dir {
        display = StatBox
      }

      hist TauLS_Identification_tauBDTLoose {
        algorithm = tauHists_Chi2NDF/Loose 
        display = StatBox 
      }

      hist TauLS_Identification_tauBDTMedium {
        algorithm = tauHists_Chi2NDF/Loose
        display = StatBox 
      }

      hist TauLS_Identification_tauBDTTight {
        algorithm = tauHists_Chi2NDF 
        display = StatBox 
      }

      hist TauLS_Identification_BDTEleScoreSigTrans {
        algorithm = tauHists_Chi2NDF_noEmpty
        display = StatBox
       }

      hist TauLS_Identification_BDTJetScore {
	algorithm = tauHists_Chi2NDF
	display = StatBox,LogY
      }

      hist TauLS_Identification_BDTJetScoreSigTrans {
	display = StatBox,LogY
      }

      hist TauLS_Identification_muonVeto {
        display = StatBox
      }

      hist TauLS_Identification_eleBDTMedium {
        algorithm = tauHists_Chi2NDF/veryLoose
        display = StatBox
      }

      hist TauLS_Identification_eleBDTTight {
        algorithm = tauHists_Chi2NDF/Loose
        display = StatBox
      }

      dir BDTLoose15GeV {
	output = TauLS/Identification/BDTLoose15GeV
	algoithm = tauHists_Chi2NDF

	hist TauLS_Identification_BDTLoose15GeV_et {
          algorithm = tauHists_Chi2NDF 
	  display = StatBox,LogY
	}

	hist TauLS_Identification_BDTLoose15GeV_eta {
          algorithm = tauHists_Chi2NDF 
	  display = StatBox
	}

	hist TauLS_Identification_BDTLoose15GeV_phi {
          algorithm = tauHists_Chi2NDF 
	  display = StatBox
	}

	hist TauLS_Identification_BDTLoose15GeV_numTracks {
          algorithm = tauHists_Chi2NDF 
	  display = StatBox,LogY
	}

	hist TauLS_Identification_BDTLoose15GeV_nCluster {
          algorithm = tauHists_Chi2NDF/Loose 
	  display = StatBox,LogY
	}

	hist TauLS_Identification_BDTLoose15GeV_PanMode {
          algorithm = tauHists_Chi2NDF 
	  display = StatBox,LogY
	}

      }
    }

    dir SubStructure {

      output = TauLS/SubStructure
      algorithm = tauHists_Chi2NDF
      hist all_in_dir {
        display = StatBox
      }

      hist TauLS_SubStructure_nShot {
        algorithm = tauHists_Chi2NDF 
        display = StatBox,LogY
      }  
      
      hist TauLS_SubStructure_InvMassEffClusters {
        algorithm = tauHists_Chi2NDF_noEmpty 
        display = StatBox
      }

      hist TauLS_SubStructure_EfracL2EffCluster {
        algorithm = tauHists_Chi2NDF/Loose 
        display = StatBox
      }

      hist TauLS_SubStructure_EisoEffCluster {
        algorithm = tauHists_Chi2NDF_noEmpty/Loose 
        display = StatBox
      }

      hist TauLS_SubStructure_shots_pt3 {
        algorithm = tauHists_Chi2NDF_noEmpty 
        display = StatBox,LogY
      }

      hist TauLS_SubStructure_EMFracTrk {
        algorithm = tauHists_Chi2NDF_noEmpty 
        display = StatBox
      }

      hist TauLS_SubStructure_NumNeutPFO {
        algorithm = tauHists_Chi2NDF 
        display = StatBox,LogY
      }

      hist TauLS_SubStructure_BDTscoreAsP0 {
        algorithm = tauHists_Chi2NDF_noEmpty 
        display = StatBox
      }
 
      hist TauLS_SubStructure_PanMode {
        algorithm = tauHists_Chi2NDF 
        display = StatBox
      }

      hist TauLS_SubStructure_PanPt {
        algorithm = tauHists_Chi2NDF 
        display = StatBox
      }

      hist TauLS_SubStructure_PanEta {
        algorithm = tauHists_Chi2NDF 
        display = StatBox
      }

      hist TauLS_SubStructure_PanPhi {
        algorithm = tauHists_Chi2NDF 
        display = StatBox
      }
    }
}


#--------------------
# Algorithms
#--------------------

# The algorithms are simplified to Histo + statistical
# For Histo one require GatherData,Histogram_Not_Empty,No_OverFlows,No_UnderFlows
# For statistical one require Chi2perdof, screwness
# The threshold are simplified into LOOSE and Medium
# For 2D histos Chi2Test_2D will be used for statistical
#

compositeAlgorithm HistoGatherData&NotEmpty {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Histogram_Not_Empty
}

algorithm Tau_HistogramNotEmpty {
  libname = libdqm_algorithms.so
  name = HistoGatherData&HistoNotEmpty
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 1000
}

compositeAlgorithm HistoNotEmpty&NoUnderFlows {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Histogram_Not_Empty,No_UnderFlows
}

algorithm Tau_HistogramNotUnderFlow {
  libname = libdqm_algorithms.so
  name = HistoNotEmpty&NoUnderFlows
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 1000
}

compositeAlgorithm HistsNotEmpty&Chi2Test {
  libnames = libdqm_algorithms.so
   subalgs = GatherData,Histogram_Not_Empty,Chi2Test_Chi2_per_NDF
}

algorithm tauHists_Chi2NDF_noEmpty {
  name = HistsNotEmpty&Chi2Test

  thresholds = Chi2Thresh

  algorithm Loose {
    thresholds = Chi2Thresh/Loose
  }

  algorithm veryLoose {
    thresholds = Chi2Thresh/veryLoose
  }

  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 1000

}

compositeAlgorithm Hists&Chi2Test {
  libnames = libdqm_algorithms.so
   subalgs = GatherData,Histogram_Not_Empty,No_UnderFlows,Chi2Test_Chi2_per_NDF
}

algorithm tauHists_Chi2NDF {
  name = Hists&Chi2Test

  thresholds = Chi2Thresh

  algorithm Loose {
    thresholds = Chi2Thresh/Loose
  }

  algorithm veryLoose {
    thresholds = Chi2Thresh/veryLoose
  }

  algorithm noMatch {
    thresholds = Chi2Thresh/noMatch
  }

  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 1000
}

compositeAlgorithm Hists&Chi2Test&NoUnderOverFlow {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Histogram_Not_Empty,No_OverFlows,No_UnderFlows,Chi2Test_Chi2_per_NDF
}

algorithm tauHists_Chi2NDF_noFlow {
  name = Hists&Chi2Test&NoUnderOverFlow

  thresholds = Chi2Thresh

  algorithm Loose {
    thresholds = Chi2Thresh/Loose
  }

  algorithm veryLoose {
    thresholds = Chi2Thresh/veryLoose
  }

  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 1000
}

compositeAlgorithm Hists&Chi2Test_2D&NotEmpty {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Histogram_Not_Empty,Chi2Test_Scatterplot
}

algorithm tauHists_Chi2Scatter_noEmpty {

  name = Hists&Chi2Test_2D&NotEmpty

  normalize = 1

  thresholds = Chi2Thresh2D

  algorithm Loose {
    thresholds = Chi2Thresh2D/Loose
  }

  algorithm veryLoose {
    thresholds = Chi2Thresh2D/veryLoose
  }

  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 500
}

compositeAlgorithm Hists&Chi2Test_2D {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Histogram_Not_Empty,No_UnderFlows,Chi2Test_Scatterplot
}

algorithm tauHists_Chi2Scatter {

  name = Hists&Chi2Test_2D

  normalize = 1

  thresholds = Chi2Thresh2D

  algorithm Loose {
    thresholds = Chi2Thresh2D/Loose
  }

  algorithm veryLoose {
    thresholds = Chi2Thresh2D/veryLoose
  }

  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 500
}

compositeAlgorithm Hists&Chi2Test_2D&NoUnderOverFlow {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Histogram_Not_Empty,No_OverFlows,No_UnderFlows,Chi2Test_Scatterplot
}

algorithm tauHists_Chi2Scatter_noFlow {

  name = Hists&Chi2Test_2D&NoUnderOverFlow

  normalize = 1

  thresholds = Chi2Thresh2D

  algorithm Loose {
    thresholds = Chi2Thresh2D/Loose
  }

  algorithm veryLoose {
    thresholds = Chi2Thresh2D/veryLoose
  }

  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 500
}


### Thresholds
thresholds BinsDiffFromAvgThres {
  limits NBins {
    warning = 5
    error = 10.
  }
}

thresholds AbsMeanThres {
  limits AbsXMean {
    warning = 1.
    error = 2.
  }
}

thresholds RMSThres {
  limits XRMS {
    warning = 1.
    error = 2.
  }
}

thresholds SimpleGausThres {
  limits AbsMean {
    warning = 1.
    error = 2.
  }

  limits Sigma {
    warning = 1.5
    error = 2.
  }
}

thresholds SkewnessGreaterThanThres {
  limits S {
    warning = 9.
    error = 7.
	}
}

thresholds Chi2Thresh   {

  limits Chi2_per_NDF {
    warning = 3.
    error = 5.
  }

  thresholds Loose {
    limits Chi2_per_NDF {
      warning = 5. 
      error = 8.
    }
  }
  
  thresholds veryLoose {
    limits Chi2_per_NDF {
      warning = 8. 
      error = 12.
    }
  }

  thresholds noMatch {
    limits Chi2_per_NDF {
      warning = 100. 
      error = 120.
    }
  }

}

thresholds Chi2Thresh2D {

  limits Chi2_per_NDF {
    warning = 3.
    error = 5.
  } 

  thresholds Loose {
    limits NBins {
      warning = 5.
      error = 8.
    }
  }

  thresholds veryLoose {
    limits NBins {
      warning = 8.
      error = 12.
    }
  }
}

