# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

############################################################
# MET
############################################################

#############
# Output
#############

output top_level {

  output MissingEt {
    algorithm = WorstCaseSummary
    output AllTriggers {
      output Shift {
        output Summary {
        }
      }
      output Expert {
        output Calos {
        }
        output Sources {
        }
        output Jets {
        }
        output Electrons {
        }
        output Muons {
        }
      }
      output Expert_CalorimeterTerms {
        output Summary {
        }
        output Sources {
        }
      }
      output Expert_RefinedTerms {
        output Summary {
        }
        output Sources {
        }
      }
    }
    output RndmTriggers {
      output Base {
        output Summary {
        }
        output Calos {
        }
      }
      output Topo {
        output Summary {
        }
        output Calos {
        }
      }
    }
    
  }

}

#######################
# Histogram Assessments
#######################

dir MET {  
  algorithm = METGatherData
  reference = CentrallyManagedReferences
  
  dir Summary {
    output = MissingEt/AllTriggers/Shift/Summary
    hist et_MET_RefFinal {
      algorithm = METSideBand80
      display = LogY
    }
    hist ex_MET_RefFinal {
      algorithm = METSideBand80
      display = LogY
    }
    hist ey_MET_RefFinal {
      algorithm = METSideBand80
      display = LogY
    }
    hist sumet_MET_RefFinal {
      algorithm = METSideBand200
      display = LogY
    }
    hist phi_MET_RefFinal {
      algorithm = METBinsDiffFromAvg20
      display = LogY
    }
    hist all_in_dir {
    }
  }
  dir Calos {
    output = MissingEt/AllTriggers/Expert/Calos
    hist all_in_dir {
      display = LogY
    }
  }
  dir Sources {
    output = MissingEt/AllTriggers/Expert/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  dir Jets {
    output = MissingEt/AllTriggers/Expert/Jets
    hist all_in_dir {
    }
  }
  dir Electrons {
    output = MissingEt/AllTriggers/Expert/Electrons
    hist all_in_dir {
    }
  }
  dir Muons {
    output = MissingEt/AllTriggers/Expert/Muons
    hist all_in_dir {
    }
  }
  dir Summary_Calo {
    output = MissingEt/AllTriggers/Expert_CalorimeterTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Calo {
    output = MissingEt/AllTriggers/Expert_CalorimeterTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  dir Summary_Refined {
    output = MissingEt/AllTriggers/Expert_RefinedTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Refined {
    output = MissingEt/AllTriggers/Expert_RefinedTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  
  dir Summary_Base {
    output = MissingEt/RndmTriggers/Base/Summary
    hist et_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist ex_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist ey_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist sumet_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist phi_MET_Base {
      algorithm = METBinsDiffFromAvg10
      display = LogY
    }
    hist all_in_dir {
      algorithm = METGatherDataRnmd
    }
  }
  dir Calos_Base {
    output = MissingEt/RndmTriggers/Base/Calos
    hist all_in_dir {
      display = LogY
      algorithm = METGatherDataRnmd
    }
  }
  dir Summary_Topo {
    output = MissingEt/RndmTriggers/Topo/Summary
    hist et_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist ex_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist ey_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist sumet_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist phi_MET_Topo {
      algorithm = METBinsDiffFromAvg10
      display = LogY
    }
    hist all_in_dir {
      algorithm = METGatherDataRnmd
    }
  }
  dir Calos_Topo {
    output = MissingEt/RndmTriggers/Topo/Calos
    hist all_in_dir {
      algorithm = METGatherDataRnmd
      display = LogY
    }
  }

}

###########################
# Algorithms and Thresholds
###########################

algorithm METGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

algorithm METGatherDataRnmd {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

compositeAlgorithm METGatherData&SideBand {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,SideBand_Relative
}

algorithm METSideBand8 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -8000.0
  Max = +8000.0
  thresholds = METSideBandThres
}

algorithm METSideBand20 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -20000.0
  Max = +20000.0
  thresholds = METSideBandThres
}

algorithm METSideBand80 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -80000.0
  Max = +80000.0
  thresholds = METSideBandThres
}

algorithm METSideBand200 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -200000.0
  Max = +200000.0
  thresholds = METSideBandThres
}

thresholds METSideBandThres {
  limits Threshold {
    warning = 0.30
    error = 0.50
  }
}

compositeAlgorithm METGatherData&BinsDiffFromAvg {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Bins_Diff_FromAvg
}

algorithm METBinsDiffFromAvg10 {
  name = METGatherData&BinsDiffFromAvg
  reference = CentrallyManagedReferences
  NSigma = 10
  thresholds = METBinsDiffFromAvgThres
}

algorithm METBinsDiffFromAvg20 {
  name = METGatherData&BinsDiffFromAvg
  reference = CentrallyManagedReferences
  NSigma = 20
  thresholds = METBinsDiffFromAvgThres
}

thresholds METBinsDiffFromAvgThres {
  limits NBins {
    warning = 1
    error = 3
  }
}
