# **********************************************************************
# $Id: heavyions_run.config 534085 2013-01-21 16:01:29Z jfrost $
# **********************************************************************

############################################################
# MET
############################################################

#############
# Output
#############

output top_level {

  output MissingEt {
    algorithm = WorstCaseSummary
    output AllTriggers {
      output Shift {
        output Summary {
        }
      }
      output BadJets {
        output Summary {
        }
        output Jets {
        }
      }
      output Expert {
        output Calos {
        }
        output Sources {
        }
        output Jets {
        }
        output Electrons {
        }
        output Muons {
        }
      }
      output Expert_CalorimeterTerms {
        output Summary {
        }
        output Sources {
        }
      }
      output Expert_RefinedTerms {
        output Summary {
        }
        output Sources {
        }
      }
    }
    output MetTrigger_xe30_FEB_L1EM5 {
      output Shift {
        output Summary {
        }
      }
      output BadJets {
        output Summary {
        }
        output Jets {
        }
      }
      output Expert {
        output Calos {
        }
        output Sources {
        }
        output Jets {
        }
        output Electrons {
        }
        output Muons {
        }
      }
      output Expert_CalorimeterTerms {
        output Summary {
        }
        output Sources {
        }
      }
      output Expert_RefinedTerms {
        output Summary {
        }
        output Sources {
        }
      }
    }
    output MetTrigger_xe25_FEB_L1TE90 {
      output Shift {
        output Summary {
        }
      }
      output BadJets {
        output Summary {
        }
        output Jets {
        }
      }
      output Expert {
        output Calos {
        }
        output Sources {
        }
        output Jets {
        }
        output Electrons {
        }
        output Muons {
        }
      }
      output Expert_CalorimeterTerms {
        output Summary {
        }
        output Sources {
        }
      }
      output Expert_RefinedTerms {
        output Summary {
        }
        output Sources {
        }
      }
    } 
    output RndmTriggers {
      output Base {
        output Summary {
        }
        output Calos {
        }
      }
      output Topo {
        output Summary {
        }
        output Calos {
        }
      }
    }
    
  }

}

#######################
# Histogram Assessments
#######################

dir MET {  
  algorithm = METGatherData
  reference = CentrallyManagedReferences

  dir Summary {
    output = MissingEt/AllTriggers/Shift/Summary
    hist et_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist ex_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist ey_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist sumet_MET_RefFinal {
      algorithm = METSideBand200
      display = LogY
    }
    hist phi_MET_RefFinal {
      algorithm = METBinsDiffFromAvg20
      display = LogY
    }
    hist all_in_dir {
    }
  }
  dir Summary_BadJets {
    output = MissingEt/AllTriggers/BadJets/Summary
    hist all_in_dir {
      display = LogY
    }
  }
  dir Jets_BadJets {
    output = MissingEt/AllTriggers/BadJets/Jets
    hist all_in_dir {
      #display = LogY
    }
  }


  dir Calos {
    output = MissingEt/AllTriggers/Expert/Calos
    hist all_in_dir {
      display = LogY
    }
  }
  dir Sources {
    output = MissingEt/AllTriggers/Expert/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  dir Jets {
    output = MissingEt/AllTriggers/Expert/Jets
    hist all_in_dir {
    }
  }
  dir Electrons {
    output = MissingEt/AllTriggers/Expert/Electrons
    hist all_in_dir {
    }
  }
  dir Muons {
    output = MissingEt/AllTriggers/Expert/Muons
    hist all_in_dir {
    }
  }
  dir Summary_Calo {
    output = MissingEt/AllTriggers/Expert_CalorimeterTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Calo {
    output = MissingEt/AllTriggers/Expert_CalorimeterTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  dir Summary_Refined {
    output = MissingEt/AllTriggers/Expert_RefinedTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Refined {
    output = MissingEt/AllTriggers/Expert_RefinedTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  
  dir Summary_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Shift/Summary
    hist et_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist ex_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist ey_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist sumet_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist phi_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist all_in_dir {
    }
  }
  dir Summary_BadJets_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/BadJets/Summary
    hist all_in_dir {
      #display = LogY
    }
  }
  dir Jets_BadJets_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/BadJets/Jets
    hist all_in_dir {
      display = LogY
    }
  }
  dir Calos_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert/Calos
    hist all_in_dir {
      display = LogY
      algorithm = METChisq
    }
  }
  dir Sources_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert/Sources
    hist all_in_dir {
      display = LogY
      algorithm = METChisq
    }
  }
  dir Jets_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert/Jets
    hist all_in_dir {
    }
  }
  dir Electrons_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert/Electrons
    hist all_in_dir {
    }
  }
  dir Muons_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert/Muons
    hist all_in_dir {
    }
  }
  dir Summary_Calo_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert_CalorimeterTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Calo_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert_CalorimeterTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  dir Summary_Refined_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert_RefinedTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Refined_EF_xe30_FEB_L1EM5 {
    output = MissingEt/MetTrigger_xe30_FEB_L1EM5/Expert_RefinedTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }

  dir Summary_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Shift/Summary
    hist et_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist ex_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist ey_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist sumet_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist phi_MET_RefFinal {
      algorithm = METChisq
      display = LogY
    }
    hist all_in_dir {
    }
  }
  dir Summary_BadJets_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/BadJets/Summary
    hist all_in_dir {
      #display = LogY
    }
  }
  dir Jets_BadJets_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/BadJets/Jets
    hist all_in_dir {
      display = LogY
    }
  }
  dir Calos_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert/Calos
    hist all_in_dir {
      display = LogY
      algorithm = METChisq
    }
  }
  dir Sources_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert/Sources
    hist all_in_dir {
      display = LogY
      algorithm = METChisq
    }
  }
  dir Jets_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert/Jets
    hist all_in_dir {
    }
  }
  dir Electrons_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert/Electrons
    hist all_in_dir {
    }
  }
  dir Muons_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert/Muons
    hist all_in_dir {
    }
  }
  dir Summary_Calo_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert_CalorimeterTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Calo_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert_CalorimeterTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }
  dir Summary_Refined_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert_RefinedTerms/Summary
    hist all_in_dir {
    }
  }
  dir Sources_Refined_EF_xe25_FEB_L1TE90 {
    output = MissingEt/MetTrigger_xe25_FEB_L1TE90/Expert_RefinedTerms/Sources
    hist all_in_dir {
      display = LogY
    }
  }

  dir Summary_Base {
    output = MissingEt/RndmTriggers/Base/Summary
    hist et_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist ex_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist ey_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist sumet_MET_Base {
      algorithm = METSideBand20
      display = LogY
    }
    hist phi_MET_Base {
      algorithm = METBinsDiffFromAvg10
      display = LogY
    }
    hist all_in_dir {
      algorithm = METGatherDataRndm
    }
  }
  dir Calos_Base {
    output = MissingEt/RndmTriggers/Base/Calos
    hist all_in_dir {
      algorithm = METGatherDataRndm
      display = LogY
    }
  }
  dir Summary_Topo {
    output = MissingEt/RndmTriggers/Topo/Summary
    hist et_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist ex_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist ey_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist sumet_MET_Topo {
      algorithm = METSideBand8
      display = LogY
    }
    hist phi_MET_Topo {
      algorithm = METBinsDiffFromAvg10
      display = LogY
    }
    hist all_in_dir {
      algorithm = METGatherDataRndm
    }
  }
  dir Calos_Topo {
    output = MissingEt/RndmTriggers/Topo/Calos
    hist all_in_dir {
      algorithm = METGatherDataRndm
      display = LogY
    }
  }

}

###########################
# Algorithms 
###########################

algorithm METGatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

algorithm METGatherDataRndm {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

compositeAlgorithm METGatherData&SideBand {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,SideBand_Relative
}

algorithm METSideBand8 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -8000.0
  Max = +8000.0
  thresholds = METSideBandThres
}

algorithm METSideBand20 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -20000.0
  Max = +20000.0
  thresholds = METSideBandThres
}

algorithm METSideBand80 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -80000.0
  Max = +80000.0
  thresholds = METSideBandThres
}

algorithm METSideBand200 {
  name = METGatherData&SideBand
  reference = CentrallyManagedReferences
  UseUnderFlow = 1
  UseOverFlow  = 1
  Min = -200000.0
  Max = +200000.0
  thresholds = METSideBandThres
}

compositeAlgorithm METGatherData&BinsDiffFromAvg {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Bins_Diff_FromAvg
}

algorithm METBinsDiffFromAvg10 {
  name = METGatherData&BinsDiffFromAvg
  reference = CentrallyManagedReferences
  NSigma = 10
  thresholds = METBinsDiffFromAvgThres
}

algorithm METBinsDiffFromAvg20 {
  name = METGatherData&BinsDiffFromAvg
  reference = CentrallyManagedReferences
  NSigma = 20
  thresholds = METBinsDiffFromAvgThres
}

algorithm METChisq {
  libname = libdqm_algorithms.so
  name = GatherData&Chi2NDF
  thresholds = METChi2Thresh
  reference = CentrallyManagedReferences
}

############################
# Thresholds
############################

thresholds METChi2Thresh {
  limits Chi2_per_NDF {
    warning = 3.
    error = 5. 
  }
}

thresholds METBinsDiffFromAvgThres {
  limits NBins {
    warning = 1
    error = 3
  }
}

thresholds METSideBandThres {
  limits Threshold {
    warning = 0.30
    error = 0.50
  }
}
