# **********************************************************************
# **********************************************************************

#######################
# HLTjet
#######################


############################## OUTPUT #########################################################


output top_level {
  algorithm = HLTjetWorstCaseSummary
  algorithm = HLTjetSimpleSummary

  output HLT {

    ## Begin TRJET
    output TRJET {

      #algorithm = HLTjetWorstCaseSummary
      #algorithm = HLTjetSimpleSummary

      output EXPERT {
      	output HLT {
          output a10tcemsubFS {
	  }
	  output a4tcemjesFS {
	  }
	  output a4tcemjesPS {
	  }
	  output a4tcemsubFS {
	  }
	  output a4tcemsubjesFS {
	  }
  	  output a4tclcwjesFS {
	  }
	  output j25 {
	  }
	  output j60 {
	  }
	  output j200_jes_PS {
	  }
	} ## End HLT
	output L1 {
	  output L1_J15 {
 	  }  
	  output L1_RD0_FILLED {
 	  }
	} ## End L1
	output OF {
	  output AntiKt10LCTopoJets {
 	  }  
	  output AntiKt4EMTopoJets {
 	  }
	  output AntiKt4LCTopoJets {
 	  }
	} ## End OF
      } ##End EXPERT 

      output SHIFTER {
	output HLT {
	  output a4tcemsubjesFS {
	  }
	  output j25 {
	  }
	} ## End HLT
	output L1 {
	} ## End L1

      } ## End SHIFTER
    
    } ## End TRJET

  } ## End HLT

} ## End top_level


###################################################################################################


################################### INPUT HISTOS###################################################

##EXPERT FOLDER
################################### L1 ###################################
dir HLT {
  dir JetMon {
    dir L1 {
      hist L1Jet_n {
        algorithm = HLTjet_Histogram_Not_Empty
        output =  HLT/TRJET/EXPERT/L1 
      }
      hist L1Jet_Et {
        algorithm = HLTjet_Histogram_Not_Empty
        output = HLT/TRJET/EXPERT/L1
      }
      hist L1Jet_eta {
        algorithm = HLTjet_Histogram_Not_Empty
        output = HLT/TRJET/EXPERT/L1
      }
      hist L1Jet_phi {
        algorithm = HLTjet_Histogram_Not_Empty
        output = HLT/TRJET/EXPERT/L1
      }
      hist L1Jet_phi_vs_eta {
        algorithm = HLTjet_Histogram_Not_Empty
        output = HLT/TRJET/EXPERT/L1
      }
      hist L1Jet_E_vs_eta {
        algorithm = HLTjet_Histogram_Not_Empty
        output = HLT/TRJET/EXPERT/L1
      }
      hist L1Jet_E_vs_phi {
        algorithm = HLTjet_Histogram_Not_Empty
        output = HLT/TRJET/EXPERT/L1
      }
      dir L1_J15 {
        hist L1Jet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_J15
      	}
        hist L1Jet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_J15
      	}
        hist L1Jet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_J15
      	}
        hist L1Jet_roidesc_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_J15
      	}
        hist L1Jet_roidesc_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_J15
      	}
        hist L1Jet_roidesc_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_J15
      	}
      } ## End L1_J15
    } ## End L1
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir L1 {
      dir L1_RD0_FILLED {
        hist L1Jet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_RD0_FILLED
      	}
        hist L1Jet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_RD0_FILLED
      	}
        hist L1Jet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_RD0_FILLED
      	}
        hist L1Jet_roidesc_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_RD0_FILLED
      	}
        hist L1Jet_roidesc_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_RD0_FILLED
      	}
        hist L1Jet_roidesc_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/L1/L1_RD0_FILLED
      	} 	
      } ## End L1_RD0_FILLED
    } ## End L1
  } ##End JetMon
} ##End HLT


############################## HLT ###################################
dir HLT {
  dir JetMon {
    dir HLT {
      dir a10tcemsubFS {
        hist HLTJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
       	hist HLTJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
       	hist HLTJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
      	hist HLTJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}	  	
	hist HLTJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
	hist HLTJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a10tcemsubFS
      	}
      } ## End a10tcemsubFS
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir a4tcemjesFS {
        hist HLTJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
       	hist HLTJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
       	hist HLTJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
      	hist HLTJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}	  	
	hist HLTJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
	hist HLTJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesFS
      	}
      } ## End a4tcemjesFS
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir a4tcemjesPS {
        hist HLTJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
       	hist HLTJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
       	hist HLTJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
      	hist HLTJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}	  	
	hist HLTJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
	hist HLTJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemjesPS
      	}
      } ## End a4tcemjesPS
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir a4tcemsubFS {
        hist HLTJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
       	hist HLTJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
       	hist HLTJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
      	hist HLTJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}	  	
	hist HLTJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
	hist HLTJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tcemsubFS
      	}
      } ## End a4tcemsubFS
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir a4tclcwjesFS {
        hist HLTJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
       	hist HLTJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
       	hist HLTJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
      	hist HLTJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}	  	
	hist HLTJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
	hist HLTJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/a4tclcwjesFS
      	}
      } ## End a4tclcwjesFS
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir j200_jes_PS {
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j200_jes_PS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j200_jes_PS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j200_jes_PS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j200_jes_PS
      	}
      } ## End j200_jes_Ps
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir j60 {
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j60
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j60
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j60
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/HLT/j60
      	}
      } ## End j60
    } ## End HLT
  } ##End JetMon
} ##End HLT

############################### OF ################################

dir HLT {
  dir JetMon {
    dir OF {
      dir AntiKt10LCTopoJets {
      	hist OFJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
      	hist OFJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
      	hist OFJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
      	hist OFJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
      	hist OFJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
	hist OFJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
        hist OFJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
	hist OFJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
	hist OFJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
	hist OFJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt10LCTopoJets
      	}
      } ## End AntiKt10LCTopoJets
    } ## End OF
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir OF {
      dir AntiKt4EMTopoJets {
      	hist OFJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
      	hist OFJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
      	hist OFJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
      	hist OFJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
      	hist OFJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
	hist OFJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
        hist OFJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
	hist OFJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
	hist OFJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
	hist OFJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4EMTopoJets
      	}
      } ## End AntiKt4EMTopoJets
    } ## End OF
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir OF {
      dir AntiKt4LCTopoJets {
      	hist OFJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
      	hist OFJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
      	hist OFJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
      	hist OFJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
      	hist OFJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
	hist OFJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
        hist OFJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
	hist OFJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
	hist OFJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
	hist OFJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/EXPERT/OF/AntiKt4LCTopoJets
      	}
      } ## End AntiKt4LCTopoJets
    } ## End OF
  } ##End JetMon
} ##End HLT

##SHIFTER FOLDER

############################ HLT ############################################

dir HLT {
  dir JetMon {
    dir HLT {
      dir a4tcemsubjesFS {
        hist HLTJet_n {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
       	hist HLTJet_E_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
       	hist HLTJet_E_vs_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
      	hist HLTJet_phi_vs_eta_LAr {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}	  	
	hist HLTJet_emfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
	hist HLTJet_hecfrac {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/a4tcemsubjesFS
      	}
      } ## End a4tcemsubjesFS
    } ## End HLT
  } ##End JetMon
} ##End HLT

dir HLT {
  dir JetMon {
    dir HLT {
      dir j25 {
      	hist HLTJet_Et {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/j25
      	}
      	hist HLTJet_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/j25
      	}
      	hist HLTJet_phi {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/j25
      	}
      	hist HLTJet_phi_vs_eta {
          algorithm = HLTjet_Histogram_Not_Empty
          output = HLT/TRJET/SHIFTER/HLT/j25
      	}
      } ## End j25
    } ## End HLT
  } ##End JetMon
} ##End HLT


#################################################################################################



################################## ALGORITHMS ####################################################


## HLTjetAlgorithm 1
algorithm HLTjet_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

## HLTjetAlgorithm 4
algorithm HLTjetSimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

## HLTjetAlgorithm 5
algorithm HLTjetWorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}

####################################################################################################



######################################## THRESHOLDS #################################################


#####################################################################################################