# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTjet
#######################

#######################
# Output
#######################

output top_level {
  #algorithm = HLTjetWorstCaseSummary
  #algorithm = HLTjetSimpleSummary
  
  output HLT {
    
    ## Begin TRJET 
    output TRJET {
      
      #algorithm = HLTjetWorstCaseSummary
      #algorithm = HLTjetSimpleSummary
      
      ## Begin L2JET
        output L2Chains {
          output L2_fj165 {
             output L1RoI {
             }
             output L2Jets {
             }
             output Correlation {
             }
          }
          output L2_fj50 {
             output L1RoI {
             }
             output L2Jets {
             }
             output Correlation {
             }
          }
          output L2_j140 {
             output L1RoI {
             }
             output L2Jets {
             }
             output Correlation {
             }
          }
          output L2_j165 {
             output L1RoI {
             }
             output L2Jets {
             }
             output Correlation {
             }
          }
          output L2_rd0 {
             output L1RoI {
             }
             output L2Jets {
             }
             output Correlation {
             }
          }
        } ## End L2Chains

      ## Begin EFJET
        output EFChains {
          
          output EF_fj180had {
          }
          output EF_fj55had {
          }
          output EF_j180had {
          }
          output EF_j180lcw {
          }
          output EF_j220had {
          }
          output EF_j45had {
          }

        } ## End FEFChains
      ## End EFJET
      
#      ## Begin OFJET0
#      output AntiKt4TopoJets {
#        output Efficiency {
#        }
#      } ## End OFJET0
      
    } ## End TRJET
    
  } ## End HLT
  
} ## End top_level

#######################
# Histogram Assessments
#######################
dir HLT {

  algorithm = Histogram_Not_Empty

  ## Begin JetMon
  dir JetMon {

    ## Begin L2Jet
    dir L2 {

      #reference = default
      #reference = CentrallyManagedReferences
      algorithm = HLTjet_Histogram_Not_Empty&GatherData 

      ## Begin L2_fj165
      dir L2_fj165 {
        hist L1Jet_Et {
          output = HLT/TRJET/L2Chains/L2_fj165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L1Jet_eta {
          output = HLT/TRJET/L2Chains/L2_fj165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi {
          output = HLT/TRJET/L2Chains/L2_fj165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_fj165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist L2Jet_Et {
          output = HLT/TRJET/L2Chains/L2_fj165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L2Jet_eta {
          output = HLT/TRJET/L2Chains/L2_fj165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi {
          output = HLT/TRJET/L2Chains/L2_fj165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_fj165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1et_vs_l2et {
          output = HLT/TRJET/L2Chains/L2_fj165/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1eta_vs_l2eta {
          output = HLT/TRJET/L2Chains/L2_fj165/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1phi_vs_l2phi {
          output = HLT/TRJET/L2Chains/L2_fj165/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }

      } ## End L2_fj165
      
      ## Begin L2_fj50
      dir L2_fj50 {
        hist L1Jet_Et {
          output = HLT/TRJET/L2Chains/L2_fj50/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L1Jet_eta {
          output = HLT/TRJET/L2Chains/L2_fj50/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi {
          output = HLT/TRJET/L2Chains/L2_fj50/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_fj50/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist L2Jet_Et {
          output = HLT/TRJET/L2Chains/L2_fj50/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L2Jet_eta {
          output = HLT/TRJET/L2Chains/L2_fj50/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi {
          output = HLT/TRJET/L2Chains/L2_fj50/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_fj50/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1et_vs_l2et {
          output = HLT/TRJET/L2Chains/L2_fj50/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1eta_vs_l2eta {
          output = HLT/TRJET/L2Chains/L2_fj50/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1phi_vs_l2phi {
          output = HLT/TRJET/L2Chains/L2_fj50/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      
      } ## End L2_fj50

      ## Begin L2_j140
      dir L2_j140 {
        hist L1Jet_Et {
          output = HLT/TRJET/L2Chains/L2_j140/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L1Jet_eta {
          output = HLT/TRJET/L2Chains/L2_j140/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi {
          output = HLT/TRJET/L2Chains/L2_j140/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_j140/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist L2Jet_Et {
          output = HLT/TRJET/L2Chains/L2_j140/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L2Jet_eta {
          output = HLT/TRJET/L2Chains/L2_j140/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi {
          output = HLT/TRJET/L2Chains/L2_j140/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_j140/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1et_vs_l2et {
          output = HLT/TRJET/L2Chains/L2_j140/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1eta_vs_l2eta {
          output = HLT/TRJET/L2Chains/L2_j140/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1phi_vs_l2phi {
          output = HLT/TRJET/L2Chains/L2_j140/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End L2_j140

      ## Begin L2_j165
      dir L2_j165 {
        hist L1Jet_Et {
          output = HLT/TRJET/L2Chains/L2_j165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L1Jet_eta {
          output = HLT/TRJET/L2Chains/L2_j165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi {
          output = HLT/TRJET/L2Chains/L2_j165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_j165/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist L2Jet_Et {
          output = HLT/TRJET/L2Chains/L2_j165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L2Jet_eta {
          output = HLT/TRJET/L2Chains/L2_j165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi {
          output = HLT/TRJET/L2Chains/L2_j165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_j165/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1et_vs_l2et {
          output = HLT/TRJET/L2Chains/L2_j165/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1eta_vs_l2eta {
          output = HLT/TRJET/L2Chains/L2_j165/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1phi_vs_l2phi {
          output = HLT/TRJET/L2Chains/L2_j165/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End L2_j165

      ## Begin L2_rd0
      dir L2_rd0 {
        hist L1Jet_Et {
          output = HLT/TRJET/L2Chains/L2_rd0/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L1Jet_eta {
          output = HLT/TRJET/L2Chains/L2_rd0/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi {
          output = HLT/TRJET/L2Chains/L2_rd0/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L1Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_rd0/L1RoI
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist L2Jet_Et {
          output = HLT/TRJET/L2Chains/L2_rd0/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist L2Jet_eta {
          output = HLT/TRJET/L2Chains/L2_rd0/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi {
          output = HLT/TRJET/L2Chains/L2_rd0/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist L2Jet_phi_vs_eta {
          output = HLT/TRJET/L2Chains/L2_rd0/L2Jets
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1et_vs_l2et {
          output = HLT/TRJET/L2Chains/L2_rd0/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1eta_vs_l2eta {
          output = HLT/TRJET/L2Chains/L2_rd0/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
        hist Jet_l1phi_vs_l2phi {
          output = HLT/TRJET/L2Chains/L2_rd0/Correlation
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End L2_rd0

    } ## End dir L2

    dir EF {
      
      ## Begin EF_fj180had
      dir EF_fj180had {
        hist EFJet_Et {
          output = HLT/TRJET/EFChains/EF_fj180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist EFJet_eta {
          output = HLT/TRJET/EFChains/EF_fj180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi {
          output = HLT/TRJET/EFChains/EF_fj180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi_vs_eta {
          output = HLT/TRJET/EFChains/EF_fj180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End EF_fj180had
      
      ## Begin EF_fj55had
      dir EF_fj55had {
        hist EFJet_Et {
          output = HLT/TRJET/EFChains/EF_fj55had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist EFJet_eta {
          output = HLT/TRJET/EFChains/EF_fj55had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi {
          output = HLT/TRJET/EFChains/EF_fj55had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi_vs_eta {
          output = HLT/TRJET/EFChains/EF_fj55had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End EF_fj55had
      
      ## Begin EF_j180had
      dir EF_j180had {
        hist EFJet_Et {
          output = HLT/TRJET/EFChains/EF_j180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist EFJet_eta {
          output = HLT/TRJET/EFChains/EF_j180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi {
          output = HLT/TRJET/EFChains/EF_j180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi_vs_eta {
          output = HLT/TRJET/EFChains/EF_j180had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End EF_j180had

      ## Begin EF_j180lcw
      dir EF_j180lcw {
        hist EFJet_Et {
          output = HLT/TRJET/EFChains/EF_j180lcw
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist EFJet_eta {
          output = HLT/TRJET/EFChains/EF_j180lcw
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi {
          output = HLT/TRJET/EFChains/EF_j180lcw
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi_vs_eta {
          output = HLT/TRJET/EFChains/EF_j180lcw
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End EF_j180lcw

      ## Begin EF_j220had
      dir EF_j220had {
        hist EFJet_Et {
          output = HLT/TRJET/EFChains/EF_j220had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist EFJet_eta {
          output = HLT/TRJET/EFChains/EF_j220had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi {
          output = HLT/TRJET/EFChains/EF_j220had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi_vs_eta {
          output = HLT/TRJET/EFChains/EF_j220had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End EF_j220had

      ## Begin EF_j45had
      dir EF_j45had {
        hist EFJet_Et {
          output = HLT/TRJET/EFChains/EF_j45had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogY
        }
        hist EFJet_eta {
          output = HLT/TRJET/EFChains/EF_j45had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi {
          output = HLT/TRJET/EFChains/EF_j45had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy
        }
        hist EFJet_phi_vs_eta {
          output = HLT/TRJET/EFChains/EF_j45had
          algorithm = HLTjet_Histogram_Not_Empty&GatherData
          display = TCanvas(650,500),SetGridx,SetGridy,LogZ
        }
      } ## End EF_j45had

    } ## End dir EF

  } ## End JetMon

} ## End HLT

##############
# Algorithms
##############

## HLTjetAlgorithm 1
algorithm HLTjet_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

## HLTjetAlgorithm 2
compositeAlgorithm HLTjet_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm HLTjet_Histogram_Not_Empty&GatherData {
  name = HLTjet_Histogram_Not_Empty&GatherData
  #reference = CentrallyManagedReferences
  #reference = CentrallyManagedReferencess
}

## HLTjetAlgorithm 3
algorithm HLTjet_KSTest {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = th_HLTjet_KSTest
  #reference = CentrallyManagedReferencess
  #reference = CentrallyManagedReferences
}

## HLTjetAlgorithm 4
algorithm HLTjetSimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}

## HLTjetAlgorithm 5
algorithm HLTjetWorstCaseSummary {
    libname = libdqm_summaries.so
      name = WorstCaseSummary
}

## HLTjetAlgorithm 6
algorithm AlgHLTjet_L2_j30_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_L2_j30_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_L2_j45_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_L2_j45_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_L2_j70_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_L2_j70_pt
  MinPoint = 50
  ImproveFit = 1.0
}

#algorithm AlgHLTjet_L2_fj25_pt {
#  libname = libdqm_algorithms.so
#  name = Simple_fermi_Fit_Graph
#  thresholds = th_HLTjet_L2_fj25_pt
#  MinPoint = 50
#  ImproveFit = 1.0
#}

algorithm AlgHLTjet_L2_fj45_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_L2_fj45_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_L2_fj70_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_L2_fj70_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_EF_j30_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_EF_j30_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_EF_j75_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_EF_j75_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_EF_j95_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_EF_j95_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_EF_fj30_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_EF_fj30_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_EF_fj50_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_EF_fj50_pt
  MinPoint = 50
  ImproveFit = 1.0
}

algorithm AlgHLTjet_EF_fj75_pt {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_HLTjet_EF_fj75_pt
  MinPoint = 50
  ImproveFit = 1.0
}

###############
# L2 Thresholds
###############

thresholds th_HLTjet_KSTest {
  limits P {
    warning = 0.3
    error = 0.8
  }
}


thresholds th_HLTjet_L2_j30_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 30.0
    error   = 35.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_L2_j45_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 45.0
    error   = 50.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_L2_j70_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 70.0
    error   = 75.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

#thresholds th_HLTjet_L2_fj25_pt {
#  limits Plateau {
#    warning = 0.8
#    error = 0.799
#  }
#  limits Threshold {
#    warning = 25.0
#    error   = 30.0
#  }
#  limits Resolution {
#    warning = 2.0
#    error   = 3.0
#  }
#}

thresholds th_HLTjet_L2_fj45_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 45.0
    error   = 50.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_L2_fj70_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 70.0
    error   = 75.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

###############
# EF Thresholds
###############

thresholds th_HLTjet_EF_j30_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 30.0
    error   = 35.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_EF_j75_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 75.0
    error   = 80.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_EF_j95_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 95.0
    error   = 100.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_EF_fj30_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 30.0
    error   = 35.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_EF_fj50_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 50.0
    error   = 55.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

thresholds th_HLTjet_EF_fj75_pt {
  limits Plateau {
    warning = 0.8
    error = 0.799
  }
  limits Threshold {
    warning = 75.0
    error   = 80.0
  }
  limits Resolution {
    warning = 2.0
    error   = 3.0
  }
}

