# ######################################################################
# # thanks hcg
# ######################################################################

# #######################
# # HLTtrk cosmics
# #######################

# reference HLTJetRef {
#   location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
#   file = data15_13TeV.00267638.physics_EnhancedBias.merge.HIST.r6857_p1831.root
#   path = run_267638
#   name = same_name
# }

# algorithm HLTjetSimpleSummary {
#   libname = libdqm_summaries.so
#   name = SimpleSummary
# }

# compositeAlgorithm HLTjet_Histogram_Not_Empty&GatherData {
#   subalgs = GatherData,Histogram_Not_Empty
#   libnames = libdqm_algorithms.so
# }

# algorithm HLTjet_Histogram_Not_Empty_with_Ref&GatherData {
#   name = HLTjet_Histogram_Not_Empty&GatherData
#   reference = HLTJetRef
#   #reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger 
# }


# #######################
# # Output
# #######################


# output top_level {
#   algorithm = HLTjetSimpleSummary     
#   output HLT {
#     output TRJET {
#     output Expert {
#       output Online {
#         output HLT_AntiKt4EMPFlowJets_nojcalib_ftf {
#           output NoTriggerSelection {
#           }
#         }
#         output HLT_AntiKt4EMTopoJets_subjesgscIS_ftf {
#           output NoTriggerSelection {
#           }
#         }
#         output HLT_AntiKt4EMPFlowJets_subresjesgscIS_ftf {
#           output NoTriggerSelection {
#           }
#         }
#       }
#       output Offline {
#         output AntiKt4EMPFlowJets {
#           output standardHistos {
#           }
#           output LooseBadFailedJets {
#           }
#         }
#         output AntiKt4EMTopoJets {
#           output standardHistos {
#           }
#         }
#       }
#       output L1 {
#         output L1_jFexSRJetRoI {
#           output NoTriggerSelection {
#             output MatchedJets_AntiKt4EMPFlowJets {
#             }
#           }
#           output L1_jJ40 {
#           }
#         }
#         output LVL1JetRoIs {
#           output NoTriggerSelection {
#             output MatchedJets_AntiKt4EMPFlowJets {
#             }
#           }
#         }
#       }
#     }
#     }
#   }
# }


# #######################
# # Histogram Assessments
# #######################

# dir HLT {
#   dir JetMon {
#     dir Online {
#       dir HLT_AntiKt4EMPFlowJets_nojcalib_ftf {
#         dir NoTriggerSelection {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/Online/HLT_AntiKt4EMPFlowJets_nojcalib_ftf/NoTriggerSelection
#             display       = StatBox
#           }
#         }
#       }
#       dir HLT_AntiKt4EMTopoJets_subjesgscIS_ftf {
#         dir NoTriggerSelection {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/Online/HLT_AntiKt4EMTopoJets_subjesgscIS_ftf/NoTriggerSelection
#             display       = StatBox
#           }
#         }
#       }
#       dir HLT_AntiKt4EMPFlowJets_subresjesgscIS_ftf {
#         dir NoTriggerSelection {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/Online/HLT_AntiKt4EMPFlowJets_subresjesgscIS_ftf/NoTriggerSelection
#             display       = StatBox
#           }
#         }
#       }
#     }
#     dir Offline {
#       dir AntiKt4EMPFlowJets {
#         dir standardHistos {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/Offline/AntiKt4EMPFlowJets/standardHistos
#             display       = StatBox
#           }
#         }
#         dir LooseBadFailedJets {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/Offline/AntiKt4EMPFlowJets/LooseBadFailedJets
#             display       = StatBox
#           }
#         }
#       }
#       dir AntiKt4EMTopoJets {
#         dir standardHistos {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/Offline/AntiKt4EMTopoJets/standardHistos
#             display       = StatBox
#           }
#         }
#       }
#     }
#     dir L1 {
#       dir L1_jFexSRJetRoI {
#         dir NoTriggerSelection {
#           dir MatchedJets_AntiKt4EMPFlowJets {
#             hist .* {
#               regex         = 1
#               algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#               description   = No automatic checks applied.
#               output        = HLT/TRJET/Expert/L1/L1_jFexSRJetRoI/NoTriggerSelection/MatchedJets_AntiKt4EMPFlowJets
#               display       = StatBox
#             }
#           }
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/L1/L1_jFexSRJetRoI/NoTriggerSelection
#             display       = StatBox
#           }
#         }
#         dir L1_jJ40 {
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/L1/L1_jFexSRJetRoI/L1_jJ40
#             display       = StatBox
#           }
#         }
#       }
#       dir LVL1JetRoIs {
#         dir NoTriggerSelection {
#           dir MatchedJets_AntiKt4EMPFlowJets {
#             hist .* {
#               regex         = 1
#               algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#               description   = No automatic checks applied.
#               output        = HLT/TRJET/Expert/L1/LVL1JetRoIs/NoTriggerSelection/MatchedJets_AntiKt4EMPFlowJets
#               display       = StatBox
#             }
#           }
#           hist .* {
#             regex         = 1
#             algorithm     = HLTjet_Histogram_Not_Empty_with_Ref&GatherData
#             description   = No automatic checks applied.
#             output        = HLT/TRJET/Expert/L1/LVL1JetRoIs/NoTriggerSelection
#             display       = StatBox
#           }
#         }
#       }
#     }
#   }
# }