
div#title {
     font-family: Arial, Helvetica;
     font-size: 150%;
     background: #9999DD;
     padding-left: 0.5em;
     padding-top: 0.2em;
     padding-bottom: 0.2em;
     padding-right: 0.5em;
     font-weight: bold;
     font-style: italic;
     text-align: center;
}

img.s {
  width: 400px;
  height: 300px;
  text-align: center;
}

img {
  text-align: center;
}

body {
	margin: 0px;
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
}
body#MenuBody {
	background: #9999DD;
}
h1, h2, h3, h4, h5 { color: #000; }

a:link, a:visited { color: #000; text-decoration: none; }
a:hover { color: #000; text-decoration: none; }

div.content {
  padding-left: 1em;
  padding-right: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0.2em;
  text-align: left;
  vertical-align: top;
  font-size: 100%;
}

div#verticalMenu {
  color: transparent;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 70%;
}

div#verticalMenu a:link, a:visited {
  text-decoration: none;
  color: #0000FF;
  background: #CCCCCC;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	border: 0;
}

ul li {
	position: relative;
}


li ul {
	position: relative;
	left: 10%;
        width: 90%;
	border: 0;
}

li div#floatMe ul {
	position: relative;
	left: 10%;
	top: 100%;
	display: none;
	border: 0;
}

ul li {
	display: block;
	text-decoration: none;
        font-weight: bold;
	color: #666;
	padding: 5px 5px 5px 5px;
}

div#topLevel {
	background: #CCCCCC;
	border: 1px solid #0B0B28;
}
