
#######################################
#
#  JESProvider Input Settings
#  
#    May 30, 2012
#  First iteration of JESUncertaintyProvider for 2012 data
#  Contents:
#  Baseline uncertainty from 2010
#  Eta intercalibration from 2011
#  D. Gillberg, C. Doglioni
# 
#######################################

JESUncertaintyRootFile:      JES_2012/HCP2012/JESUncertainty2012_FirstData.root

#######################################
# 
#   Settings for JES Components
#
#######################################
  
# Total baseline uncertainty

JESComponent.1.Desc:		Total JES from 2010
JESComponent.1.Name:		Baseline2010


  # Forward JES (eta intercalibration uncertainty from 2011)
JESComponent.2.Desc:    Eta intercalibration
JESComponent.2.Name:    ForwardJES
JESComponent.2.SubComponents:           EtaIntercalibration_TotalStat EtaIntercalibration_Modelling

###################################

   # Pileup: Mu term
JESComponent.3.Desc:           Pileup: Offset, mu term
JESComponent.3.Name:           Pileup_OffsetMu

#   # Pileup: NPV term
JESComponent.4.Desc:           Pileup: Offset, NPV term
JESComponent.4.Name:           Pileup_OffsetNPV

  # Calibration closure
JESComponent.5.Desc:           Absolute closure of the calibration (only available for Pythia8 MC12)
JESComponent.5.Name:           AbsoluteNonClosure_MCTYPE
# NOTE: MCTYPE in the name above will be replaced by the MC type used when
# initialising the provider


#######################################
# 
#   Settings for Pile-up uncertainty
#
#######################################

Pileup.MuRef:           16.5
Pileup.NPVRef:          10.0

#
######################################
  
