#######################################
#
#  JESProvider Input Settings
#  
#    Sep 27, 2012
#
#  JES uncertainty for 2012 data/MC split into components
#  Including the "mulitjet JES components" there are 7 uncertainties
#    BaselineJES, ForwardJES, 2 x pileup, jet flavour, close-by and b-JES
#
#  Contents:
#    Baseline uncertainty from 2010
#    Eta intercalibration from 2011
#    D. Gillberg, C. Doglioni
# 
#######################################

JESUncertaintyRootFile:      JES_2012/HCP2012/JESUncertainty2012_Sept2012.root

#######################################
# 
#   Settings for JES Components
#
#######################################
  
# Total baseline uncertainty

JESComponent.1.Desc:		Total JES from 2010
JESComponent.1.Name:		BaselineJES
JESComponent.1.SubComponents:   Baseline2010 EtaIntercalibration_TotalStat 

  # Forward JES (eta intercalibration uncertainty from 2011)
  # mainly driven by large forward jet response difference between Pythia & Herwig 
JESComponent.2.Desc:            Eta intercalibration modeling uncertainty
JESComponent.2.Name:            ForwardJES
JESComponent.2.SubComponents:   EtaIntercalibration_Modelling

###################################

   # Pileup: Mu term
JESComponent.3.Desc:           Pileup: Offset, mu term
JESComponent.3.Name:           Pileup_OffsetMu

   # Pileup: NPV term
JESComponent.4.Desc:           Pileup: Offset, NPV term
JESComponent.4.Name:           Pileup_OffsetNPV


#######################################
# 
#   Settings for Pile-up uncertainty
#
#######################################

Pileup.MuRef:           16.5
Pileup.NPVRef:          10.0

#
######################################
  
