##############################################################################
#
#  JetUncertaintiesTool Input Settings
#    Sept 1, 2014
#
#  J. Caudron, S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2012_Final_LRJ
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR30
SupportedMCTypes:                   MC12a,MC12b,MC12c
UncertaintyRootFile:                UJ_2012/JMS2012_Jul242014_Combined.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       20.7
Pileup.NPVRef:                      11.8

##############################################################################
# 
#   Settings for JPTS Components
#
##############################################################################

# More information on Gamma+Jet uncertainties definition:
# https://twiki.cern.ch/twiki/bin/view/AtlasProtected/GammaLargeRJPTSUncertainties#Uncertainty_derivation

JESComponent.1.Name:                Gjet_DataMC
JESComponent.1.Desc:                Data/MC
JESComponent.1.Type:                Other
JESComponent.1.Param:               PtMassAbsEta
JESComponent.1.Scale:               Pt
JESComponent.1.Hists:               Component_dataMC_pT

JESComponent.2.Name:                Gjet_dPhi
JESComponent.2.Desc:                Gamma+jet dPhi cut
JESComponent.2.Type:                Modelling
JESComponent.2.Param:               PtMassAbsEta
JESComponent.2.Scale:               Pt
JESComponent.2.Hists:               Component_dPhiCut_pT

JESComponent.3.Name:                Gjet_Veto
JESComponent.3.Desc:                Gamma+jet radiation suppression (second jet veto)
JESComponent.3.Type:                Modelling
JESComponent.3.Param:               PtMassAbsEta
JESComponent.3.Scale:               Pt
JESComponent.3.Hists:               Component_pt2Cut_pT

JESComponent.4.Name:                Gjet_Purity
JESComponent.4.Desc:                Gamma+jet photon purity
JESComponent.4.Type:                Detector
JESComponent.4.Param:               PtMassAbsEta
JESComponent.4.Scale:               Pt
JESComponent.4.Hists:               Component_photonPurity_pT

JESComponent.5.Name:                Gjet_PhES
JESComponent.5.Desc:                Gamma+jet photon energy scale
JESComponent.5.Type:                Detector
JESComponent.5.Param:               PtMassAbsEta
JESComponent.5.Scale:               Pt
JESComponent.5.Hists:               Component_PES_pT

JESComponent.6.Name:                Gjet_Generator
JESComponent.6.Desc:                Gamma+jet Monte Carlo generator difference
JESComponent.6.Type:                Modelling
JESComponent.6.Param:               PtMassAbsEta
JESComponent.6.Scale:               Pt
JESComponent.6.Hists:               Component_generator_pT

JESComponent.7.Name:                Gjet_OOC
JESComponent.7.Desc:                Gamma+jet out-of-cone radiation
JESComponent.7.Type:                Modelling
JESComponent.7.Param:               PtMassAbsEta
JESComponent.7.Scale:               Pt
JESComponent.7.Hists:               Component_kterm_pT

JESComponent.8.Name:                Gjet_JER
JESComponent.8.Desc:                Jet energy resolution
JESComponent.8.Type:                Other
JESComponent.8.Param:               PtMassAbsEta
JESComponent.8.Scale:               Pt
JESComponent.8.Hists:               Component_JER_pT

JESComponent.9.Name:                Gjet_InsideOutside
JESComponent.9.Desc:                Gamma+jet inside/outside definition variation
JESComponent.9.Type:                Other
JESComponent.9.Param:               PtMassAbsEta
JESComponent.9.Scale:               Pt
JESComponent.9.Hists:               Component_akt4insideOutsideLargeR_pT

JESComponent.10.Name:               Gjet_radiationModeling
JESComponent.10.Desc:               Gamma+jet modeling of radiation
JESComponent.10.Type:               Other
JESComponent.10.Param:              PtMassAbsEta
JESComponent.10.Scale:              Pt
JESComponent.10.Hists:              Component_more1smallJetInsideLargeR_pT

JESComponent.11.Name:               Gjet_Statistics
JESComponent.11.Desc:               Gamma+jet statistics
JESComponent.11.Type:               Statistical
JESComponent.11.Param:              PtMassAbsEta
JESComponent.11.Scale:              Pt
JESComponent.11.Hists:              Component_stats_pT

JESComponent.12.Name:               Gjet_mOverPt
JESComponent.12.Desc:               Gamma+jet m/pT
JESComponent.12.Type:               Other
JESComponent.12.Param:              PtMassAbsEta
JESComponent.12.Scale:              Pt
JESComponent.12.Hists:              Component_MoverPt_pT

JESComponent.13.Name:               Topology
JESComponent.13.Desc:               Topology
JESComponent.13.Type:               Other
JESComponent.13.Param:              PtMassAbsEta
JESComponent.13.Scale:              Pt
JESComponent.13.Hists:              Component_topology_pT

JESComponent.14.Name:               DoubleRatioInterpolation
JESComponent.14.Desc:               Double ratio interpolation
JESComponent.14.Type:               Other
JESComponent.14.Param:              PtMassAbsEta
JESComponent.14.Scale:              Pt
JESComponent.14.Hists:              Component_DoubleRatioInterpolation_pT

JESComponent.15.Name:               Pileup_OffsetNPV
JESComponent.15.Desc:               Pileup: NPV term
JESComponent.15.Type:               Other
JESComponent.15.Param:              PtEta
JESComponent.15.Special:            True
JESComponent.15.Scale:              Pt
JESComponent.15.Hists:              Shift_Pileup_NPV

JESComponent.16.Name:               Pileup_OffsetMu
JESComponent.16.Desc:               Pileup: Mu term
JESComponent.16.Type:               Other
JESComponent.16.Param:              PtEta
JESComponent.16.Scale:              Pt
JESComponent.16.Special:            True
JESComponent.16.Hists:              Shift_Pileup_Mu

##############################################################################
# 
#   Settings for other Components
#
##############################################################################

JESComponent.17.Name:               Mass
JESComponent.17.Desc:               Mass
JESComponent.17.Type:               Other
JESComponent.17.Param:              PtMassAbsEta
JESComponent.17.Scale:              Mass
JESComponent.17.Hists:              Total_m

JESComponent.18.Name:               D12
JESComponent.18.Desc:               D12
JESComponent.18.Type:               Other
JESComponent.18.Param:              PtMassAbsEta
JESComponent.18.Scale:              D12
JESComponent.18.Hists:              Total_d12

JESComponent.19.Name:               D23
JESComponent.19.Desc:               D23
JESComponent.19.Type:               Other
JESComponent.19.Param:              PtMassAbsEta
JESComponent.19.Scale:              D23
JESComponent.19.Hists:              Total_d23

JESComponent.20.Name:               Tau21
JESComponent.20.Desc:               Tau21
JESComponent.20.Type:               Other
JESComponent.20.Param:              PtMassAbsEta
JESComponent.20.Scale:              Tau21
JESComponent.20.Hists:              Total_tau21

JESComponent.21.Name:               Tau32
JESComponent.21.Desc:               Tau32
JESComponent.21.Type:               Other
JESComponent.21.Param:              PtMassAbsEta
JESComponent.21.Scale:              Tau32
JESComponent.21.Hists:              Total_tau32

##############################################################################

