# **********************************************************************
# $Id: collisions_run.config 662824 2015-04-24 11:07:11Z jfrost $
# **********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

reference HLTminbias_Ref {
  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
  path = run_200805
  name = same_name
}

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output SHIFTER {
      }
      output EXPERT {
        output General {
        }
        output MBTS {
        }
        output HMT {
        }
        output IDMinbias {
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTminbias_GatherData
  dir MinBiasMon {
    hist TriggerEntries {
      output = HLT/TRMBI/SHIFTER
      output = HLT/TRMBI/EXPERT/General 
    }
    hist TriggerEfficiencies {
      output = HLT/TRMBI/SHIFTER
    }
    dir mb_sptrk {
      hist PixTot {
        output = HLT/TRMBI/SHIFTER
      }
      hist SctTot {
        output = HLT/TRMBI/SHIFTER 
      }
    }
    
    hist TriggerEntries {
      output = HLT/TRMBI/EXPERT/General
    }
    
    hist TriggerEfficiencies {
      output = HLT/TRMBI/EXPERT/General
    }
    hist TriggerPurities {
      output = HLT/TRMBI/EXPERT/General
    }
    
    #now for HLT/TRMBI/EXPERT/MBTS dir
    dir MBTS {
      dir mb_perf_L1MBTS_2 {
        hist Occupancy {
          output = HLT/TRMBI/EXPERT/MBTS
        }
        hist OccupancyOnline { 
          output = HLT/TRMBI/EXPERT/MBTS
        }
        hist Time {
          output = HLT/TRMBI/EXPERT/MBTS
        }
        hist TimeOnline {
          output = HLT/TRMBI/EXPERT/MBTS
        }
        hist MbtsEnergyErrors {
          output = HLT/TRMBI/EXPERT/MBTS
        }
        hist MbtsTimeErros {
          output = HLT/TRMBI/EXPERT/MBTS
        }     
        hist MbtsCorr_N_N {
          output = HLT/TRMBI/EXPERT/MBTS
        }
      }
    }
    
    # now for IDMinbias
    dir IDMinbias {
      dir mb_sptrk {
        hist PixTot {
          output = HLT/TRMBI/EXPERT/IDMinbias
        }
        hist SctTot {
          output = HLT/TRMBI/EXPERT/IDMinbias
        }
      }
    }

    # now for HMT   
    dir HMT {
      dir mb_sp1800_hmtperf_L1TE20 {
        hist NumSpacePoints {
          output = HLT/TRMBI/EXPERT/HMT
        }
        hist NumVertices {
          output = HLT/TRMBI/EXPERT/HMT
        }
        hist NumTracksAtVertex {
          output = HLT/TRMBI/EXPERT/HMT
        }
        hist NumHitsAtVertex {
          output = HLT/TRMBI/EXPERT/HMT
        }
      }
    }
  }
}

##############
# Algorithms
##############

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = HLTminbias_Ref
} 

algorithm HLTminbias_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}


###############
# Thresholds
###############
