# **********************************************************************
# $Id: collisions_run.config 514252 2012-08-18 23:16:33Z vogel $
# **********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

reference HLTminbias_Ref {
  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
  path = run_200805
  name = same_name
}

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output MBTS {
        output Expert {
	}
      }
      output BCM {
        output Expert {
	}
      }
      output IDMinbias {
        output Expert {
	}
      }
      output LUCID {
      	output Expert {
	}
      }
##      output ZDC {
##        output Expert {
##	}
##      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  dir MinBiasMon {
    dir MBTS {
      output = HLT/TRMBI/MBTS/Expert
      algorithm = HLTminbias_GatherData
      hist Occupancy@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist Occupancy_Online@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist TriggerErrors@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist TriggerRate@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist TriggerRatePS@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist m_h_time@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist m_h_time_Online@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
#      hist L2_mbRmMbts_1_NoCut_Time_hits_P@RegularDQ {
#        output = HLT/TRMBI/MBTS
#        reference = HLTminbias_Ref
#        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
#      }
#      hist L2_mbRmMbts_1_NoCut_Time_hits_F@RegularDQ {
#        output = HLT/TRMBI/MBTS
#        reference = HLTminbias_Ref
#        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
#      }
      hist MbtsEnergyErrors@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist MbtsTimeErrors@RegularDQ {
        output = HLT/TRMBI/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist all_in_dir@RegularDQ {
        reference = HLTminbias_Ref
      }
    }

    dir BCM {
      output = HLT/TRMBI/BCM/Expert
      algorithm = HLTminbias_GatherData
      hist TriggerErrors@RegularDQ {
        output = HLT/TRMBI/BCM
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist bcmChannels@RegularDQ {
        output = HLT/TRMBI/BCM
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }

    dir IDMinbias {
      output = HLT/TRMBI/IDMinbias/Expert
      algorithm = HLTminbias_GatherData
      hist TriggerErrors@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist minbiasTracks@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist pixBarr_sp@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist pixECA_sp@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist pixECC_sp@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist sctBarr_sp@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist sctECA_sp@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist sctECC_sp@RegularDQ {
        output = HLT/TRMBI/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }

    dir LUCID {
      output = HLT/TRMBI/LUCID/Expert
      algorithm = HLTminbias_GatherData
      hist TriggerErrors@RegularDQ {
        output = HLT/TRMBI/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist lucidChannels@RegularDQ {
        output = HLT/TRMBI/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist lucidChannels_nBX@RegularDQ {
        output = HLT/TRMBI/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist lucidChannels_pBX@RegularDQ {
        output = HLT/TRMBI/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist LUCID_F@RegularDQ {
        output = HLT/TRMBI/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist LUCID_P@RegularDQ {
        output = HLT/TRMBI/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
      }
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }

##########
# no ZDC 
#########
#    dir ZDC {
#      output = HLT/TRMBI/ZDC/Expert
#      algorithm = HLTminbias_GatherData
#      hist ZDC_P@RegularDQ {
#        output = HLT/TRMBI/ZDC
#        reference = HLTminbias_Ref
#        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
#      }
#      hist ZDC_F@RegularDQ {
#        output = HLT/TRMBI/ZDC
#        reference = HLTminbias_Ref
#        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
#      }
#      hist all_in_dir {
#        reference = HLTminbias_Ref
#      }
#    }
########
  }
}

##############
# Algorithms
##############

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = HLTminbias_Ref
} 

algorithm HLTminbias_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}


###############
# Thresholds
###############
