# **********************************************************************
# $Id: cosmics_run.config 662824 2015-04-24 11:07:11Z jfrost $
# **********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

reference HLTminbias_Ref {
  file = root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
  path = run_200805
  name = same_name
} 

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output Shifter {
      }
      output Expert {
        output MBTS {
        }
        output IDMinbias {
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTminbias_GatherData
  dir MinBiasMon {
    hist TriggerEntries {
      algorithm = HLTminbias_GatherData
      output = HLT/TRMBI/Shifter
    }
    
    hist TriggerPurities {
      algorithm = HLTminbias_GatherData
      output = HLT/TRMBI/Shifter
    }
  }
}

##############
# Algorithms
#############

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = HLTminbias_Ref
}
	
algorithm HLTminbias_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}


###############
# Thresholds
###############
