# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

reference HLTminbias_Ref {
  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
  path = run_200805
  name = same_name
} 

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output MBTS {
      }
      output BCM {
      }
      output IDMinbias {
      }
      output LUCID {
      }
#      output ZDC {
#      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData
  dir MinBiasMon {
    dir MBTS {
      output = HLT/TRMBI/MBTS
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }
    dir BCM {
      output = HLT/TRMBI/BCM
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }
    dir IDMinbias {
      output = HLT/TRMBI/IDMinbias
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }
    dir LUCID {
      output = HLT/TRMBI/LUCID
      hist all_in_dir {
        reference = HLTminbias_Ref
      }
    }
#    dir ZDC {
#      output = HLT/TRMBI/ZDC
#      hist all_in_dir {
#        reference = HLTminbias_Ref
#      }
#    }
  }
}

##############
# Algorithms
##############



###############
# Thresholds
###############
