# **********************************************************************
# $Id: heavyions_run.config 782060 2016-11-03 08:52:06Z kwozniak $
#***********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

#no reference file for now
#reference HLTminbias_Ref {
#  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions//
#  file = data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
#  path = run_200805
#  name = same_name
#}

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output SHIFTER {
      }
      output EXPERT {
        output General {
          output mb_sptrk {
          }
          output noalg_L1RD0_FILLED {
          }
          output noalg_mb_L1ZDC_A {
          }
          output noalg_mb_L1ZDC_C {
          }
          output noalg_mb_L1TE5 {
          }
        }
        output MBTS {
          output mb_perf_L1MBTS_2 {
          }
          output mb_mbts_L1MBTS_2 {
          }
        }
        output IDMinbias {
          output mb_sptrk {
          }
        }
        output HMT {
          output mb_sp1800_hmtperf_L1TE5 {
          }
        }
        output UPC {
          output hi_upc_FgapAC_mb_sptrk_L1MBTS_2  {
          }
          output hi_upc_FgapAC_mb_sptrk_exclusiveloose  {
          }
          output mb_sptrk_exclusiveloose_L1ZDC  {
          }
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTminbias_GatherData
  dir MinBiasMon {
    #histos for shifter dir
    hist TriggerEntries@Shifter {
      output = HLT/TRMBI/SHIFTER
    }
    hist TriggerEfficiencies@Shifter {
      output = HLT/TRMBI/SHIFTER
    }
    
    dir MBTS {
      dir mb_mbts_L1MBTS_2 {
        hist Occupancy@Shifter {
          output = HLT/TRMBI/SHIFTER
        }
        hist MbtsCorr_N_N@Shifter {
                output = HLT/TRMBI/SHIFTER
                display = LogZ
        }
              hist Time@Shifter {
          output = HLT/TRMBI/SHIFTER
        }
      }
    }

    dir IDMinbias {
      dir mb_sptrk {
        hist PixTot@Shifter {
          output = HLT/TRMBI/SHIFTER
        }
        hist SctTot@Shifter {
          output = HLT/TRMBI/SHIFTER 
        }
      }
    }

    #histos for general   
    hist TriggerPurities@General {
      output = HLT/TRMBI/EXPERT/General
    } 
    hist TriggerEntries@General {
      output = HLT/TRMBI/EXPERT/General
    }
    
    hist TriggerEfficiencies@General {
      output = HLT/TRMBI/EXPERT/General
    }

    dir Purities&Efficiencies {
      dir mb_sptrk {
	      output = HLT/TRMBI/EXPERT/General/mb_sptrk
	      hist NumGoodOfflineTracks@General {
	        display = LogY
	      }
	      hist GoodOfflineTracksPt@General {
	        display = LogY
	      }
	      hist Purity@General {
      	      }
      }

      dir noalg_L1RD0_FILLED {
        output = HLT/TRMBI/EXPERT/General/noalg_L1RD0_FILLED
        hist EfficiencyTracks@L1RD0_FILLED {
        }
        hist Purity@L1TE501 {
        }
        hist NumGoodOfflineTracks@L1RD0_FILLED {
          display = LogY
        }
        hist GoodOfflineTracksPt@L1RD0FILLED {
          display = LogY
        }
      }


      dir noalg_mb_L1ZDC_A {
        output = HLT/TRMBI/EXPERT/General/noalg_mb_L1ZDC_A
        hist EfficiencyTracks@L1ZDC_A {
        }
        hist Purity@L1ZDC_A {
        }
        hist NumGoodOfflineTracks@L1ZDC_A {
          display = LogY
        }
        hist GoodOfflineTracksPt@L1ZDC_A {
          display = LogY
        }
      }
      
      dir noalg_mb_L1ZDC_C {
        output = HLT/TRMBI/EXPERT/General/noalg_mb_L1ZDC_C
        hist EfficiencyTracks@L1ZDC_C {
        }
        hist Purity@L1ZDC_C {
        }
        hist NumGoodOfflineTracks@L1ZDC_C {
          display = LogY
        }
        hist GoodOfflineTracksPt@L1ZDC_C {
          display = LogY
        }
      }

      dir noalg_mb_L1TE5 {
        output = HLT/TRMBI/EXPERT/General/noalg_mb_L1TE5
        hist EfficiencyTracks@L1TE5 {
        }
        hist Purity@L1TE5 {
        }
        hist NumGoodOfflineTracks@L1TE5 {
          display = LogY
        }
        hist GoodOfflineTracksPt@L1TE5 {
          display = LogY
        }
      }

    } 
    
    
    #now for HLT/TRMBI/EXPERT/MBTS dir
    dir MBTS {
      dir mb_perf_L1MBTS_2 {
	      output = HLT/TRMBI/EXPERT/MBTS/mb_perf_L1MBTS_2
        hist Occupancy@MBTS {
        }
        hist OccupancyOnline@MBTS { 
        }
        hist Time@MBTS {
        }
        hist TimeOnline@MBTS {
        }
        hist MbtsEnergyErrors@MBTS {
        }
        hist MbtsTimeErrors@MBTS {
        }     
        hist MbtsCorr_N_N@MBTS {
	        display = LogZ
        }
      }
      dir mb_mbts_L1MBTS_2 {
              output = HLT/TRMBI/EXPERT/MBTS/mb_mbts_L1MBTS_2
        hist Occupancy@MBTS {
        }
        hist OccupancyOnline@MBTS {
        }
        hist Time@MBTS {
        }
        hist TimeOnline@MBTS {
        }
        hist MbtsEnergyErrors@MBTS {
        }
        hist MbtsTimeErrors@MBTS {
        }
        hist MbtsCorr_N_N@MBTS {
                display = LogZ
        }
      }
    }
    
    # now for IDMinbias
    dir IDMinbias {
      dir mb_sptrk {
	      output = HLT/TRMBI/EXPERT/IDMinbias/mb_sptrk
	      hist PixBarr_SP@IDMinbias {
      	}
	      hist PixECA_SP@IDMinbias {
	      }
	      hist PixECC_SP@IDMinbias {
	      }
	      hist SctBarr_SP@IDMinbias {
	      }
	      hist SctECA_SP@IDMinbias {
	      }
	      hist SctECC_SP@IDMinbias {
	      }
	      hist PixTot@IDMinbias {
	      }
	      hist SctTot@IDMinbias {
	      }
	      hist MinbiasTracks@IDMinbias {
	      }
      }

    }

    # for HMT
    dir Purities&Efficiencies {
      dir mb_sp1800_hmtperf_L1TE5 {
          output = HLT/TRMBI/EXPERT/HMT/mb_sp1800_hmtperf_L1TE5
          hist NumSpacePoints@HMT1 {
          }
          hist NumVertices@HMT1 {
          }
          hist NumTracksAtVertex@HMT1 {
          }
          hist NumHitsAtVertex@HMT1 {
          }
          hist EfficiencyTracks@HMT1 {
          }
          hist Purity@HMT1 {
          }
          hist NumGoodOfflineTracks@HMT1 {
            display = LogY
          }
          hist GoodOfflineTracksPt@HMT1 {
            display = LogY
          }
      }
    }
    # for UPC
    dir Purities&Efficiencies {
      dir  hi_upc_FgapAC_mb_sptrk_L1MBTS_2 {
          output = HLT/TRMBI/EXPERT/UPC/hi_upc_FgapAC_mb_sptrk_L1MBTS_2
          hist NumGoodOfflineTracks@UPC {
                display = LogY
          }
          hist GoodOfflineTracksPt@UPC {
                display = LogY
          }
          hist Purity@UPC {
          }
      }
      dir  hi_upc_FgapAC_mb_sptrk_exclusiveloose {
          output = HLT/TRMBI/EXPERT/UPC/hi_upc_FgapAC_mb_sptrk_exclusiveloose
          hist NumGoodOfflineTracks@UPC {
                display = LogY
          }
          hist GoodOfflineTracksPt@UPC {
                display = LogY
          }
          hist Purity@UPC {
          }
      }
      dir  mb_sptrk_exclusiveloose_L1ZDC {
          output = HLT/TRMBI/EXPERT/UPC/mb_sptrk_exclusiveloose_L1ZDC
          hist NumGoodOfflineTracks@UPC {
                display = LogY
          }
          hist GoodOfflineTracksPt@UPC {
                display = LogY
          }
          hist Purity@UPC {
          }
      }
    }
  }
}

##############
# Algorithms
##############

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = HLTminbias_Ref
} 

algorithm HLTminbias_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}


###############
# Thresholds
###############
