# **********************************************************************
# $Id: heavyions_run.config 708907 2015-11-19 06:57:40Z azemla $
#***********************************************************************

#######################
# HLTminbias
#######################

#######################
# References
#######################

#no reference file for now
#reference HLTminbias_Ref {
#  file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/data12_8TeV.00200805.physics_MinBias.merge.HIST.f432_m1108._0001.1_sedwardg_120409.root
#  path = run_200805
#  name = same_name
#}

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRMBI {
      output SHIFTER {
      }
      output EXPERT {
        output General {
          output mb_sp {
          }
          output noalg_mb_L1TE50 {
          }
          output mb_sptrk_ion_L1ZDC_A_C_VTE50 {
          }
        }
        output MBTS {
        }
        output IDMinbias {
          output mb_sp {
          }
          output mb_sptrk_ion_L1ZDC_A_C_VTE50 {
          }
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTminbias_GatherData
  dir MinBiasMon {
    #histos for shifter dir
    hist TriggerEntries@Shifter {
      output = HLT/TRMBI/SHIFTER
    }
    hist TriggerEfficiencies@Shifter {
      output = HLT/TRMBI/SHIFTER
    }
    
    dir MBTS {
      dir mb_perf_L1MBTS_1_1 {
        hist Occupancy@Shifter {
          output = HLT/TRMBI/SHIFTER
        }
        hist MbtsCorr_N_N@Shifter {
	        output = HLT/TRMBI/SHIFTER
	        display = LogZ
      	}
	      hist Time@Shifter {
          output = HLT/TRMBI/SHIFTER
        }
      }
    }

    dir IDMinbias {
      dir mb_sp {
        hist PixTot@Shifter {
          output = HLT/TRMBI/SHIFTER
        }
        hist SctTot@Shifter {
          output = HLT/TRMBI/SHIFTER 
        }
      }
    }

    #histos for general   
    hist TriggerPurities@General {
      output = HLT/TRMBI/EXPERT/General
    } 
    hist TriggerEntries@General {
      output = HLT/TRMBI/EXPERT/General
    }
    
    hist TriggerEfficiencies@General {
      output = HLT/TRMBI/EXPERT/General
    }

    dir Purities&Efficiencies {
      dir mb_sp {
	      output = HLT/TRMBI/EXPERT/General/mb_sp
	      hist NumGoodOfflineTracks@General {
	        display = LogY
	      }
	      hist GoodOfflineTracksPt@General {
	        display = LogY
	      }
	      hist Purity@General {
      	}
      }

      dir noalg_mb_L1TE50 {
        output = HLT/TRMBI/EXPERT/General/noalg_mb_L1TE50
        hist EfficiencyTracks@L1TE501 {
        }
        hist Purity@L1TE501 {
        }
        hist NumGoodOfflineTracks@L1TE501 {
          display = LogY
        }
        hist GoodOfflineTracksPt@L1TE501 {
          display = LogY
        }
      }
      
      dir mb_sptrk_ion_L1ZDC_A_C_VTE50 {
        output = HLT/TRMBI/EXPERT/General/mb_sptrk_ion_L1ZDC_A_C_VTE50
        hist EfficiencyTracks@L1TE502 {
        }
        hist Purity@L1TE502 {
        }
        hist NumGoodOfflineTracks@L1TE502 {
          display = LogY
        }
        hist GoodOfflineTracksPt@L1TE502 {
          display = LogY
        }
      }
    } 
    
    
    #now for HLT/TRMBI/EXPERT/MBTS dir
    dir MBTS {
      dir mb_perf_L1MBTS_1_1 {
	      output = HLT/TRMBI/EXPERT/MBTS
        hist Occupancy@MBTS {
        }
        hist OccupancyOnline@MBTS { 
        }
        hist Time@MBTS {
        }
        hist TimeOnline@MBTS {
        }
        hist MbtsEnergyErrors@MBTS {
        }
        hist MbtsTimeErrors@MBTS {
        }     
        hist MbtsCorr_N_N@MBTS {
	        display = LogZ
        }
      }
    }
    
    # now for IDMinbias
    dir IDMinbias {
      dir mb_sp {
	      output = HLT/TRMBI/EXPERT/IDMinbias/mb_sp
	      hist PixBarr_SP@IDMinbias {
      	}
	      hist PixECA_SP@IDMinbias {
	      }
	      hist PixECC_SP@IDMinbias {
	      }
	      hist SctBarr_SP@IDMinbias {
	      }
	      hist SctECA_SP@IDMinbias {
	      }
	      hist SctECC_SP@IDMinbias {
	      }
	      hist PixTot@IDMinbias {
	      }
	      hist SctTot@IDMinbias {
	      }
	      hist MinbiasTracks@IDMinbias {
	      }
      }

      dir mb_sptrk_ion_L1ZDC_A_C_VTE50 {
        output = HLT/TRMBI/EXPERT/IDMinbias/mb_sptrk_ion_L1ZDC_A_C_VTE50
        hist MinbiasTracks@L1ZDC {
        }
        hist PixTot@L1ZDC {
        }
        hist SctTot@L1ZDC {
        }
      }
    }
  }
}

##############
# Algorithms
##############

algorithm HLTminbias_Histogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = HLTminbias_Ref
} 

algorithm HLTminbias_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}


###############
# Thresholds
###############
