# **********************************************************************
# $Id: heavyions_run.config 535694 2013-01-31 19:15:55Z vogel $
# **********************************************************************

#############
# Output
#############

output top_level {
  output L1Calo {

    output PPM {
      output SpareChannels {
        output ADC {
	}
	output Errors {
	  output Detail {
	  }
	}
      }
      output Errors {
      }
      output ADC {
        output EtaPhiMaps {
	}
	output Timeslices {
	}
      }
      output LUT {
        output EtaPhiMaps {
	}
	output Distributions {
	}
      }
      output Stability {
        output FineTime {
        }
        output Pedestal {
        }
        output EtCorrelation {
        }
      }
    }
    output CPM {
      output Errors {
        output Hardware_Summary {
	}
	output Hardware_Detail {
	}
	output Transmission_Simulation {
	}
      }
      output Input {
      }
      output Output {
        output RoI {
	}
	output Thresholds {
	}
      }
    }
    output CPM_CMM {
      output Errors {
      }
      output Input {
      }
      output Output {
      }
    }
    output JEM {
      output Errors {
        output Hardware {
	}
	output Transmission_Simulation {
	}
      }
      output Input {
      }
      output Output {
        output RoI {
	}
	output Thresholds {
	}
      }
    }
    output JEM_CMM {
      output Errors {
      }
      output Output {
      }
    }
    output ROD {
    }
    output Overview {
    }
    output Reco {
      output EmEfficiencies_Et {
      }
      output EmEfficiencies_EtaVsPhi {
      }
      output JetEfficiencies_Et {
      }
      output JetEfficiencies_EtaVsPhi {
      }
    }
  }
  
  output L1Interfaces {
    output CTP {
    }
    output Calo {
      output TowerEnergy {
      }
      output TowerHits {
      }
      output Data {
      }
      output TT2CaloTT {
      }
      output HVCorrections {
      }
    }
    output L2 {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir L1Calo {
  algorithm = L1Calo_GatherData
  reference = CentrallyManagedReferences
  output = L1Calo
  dir PPM {
    dir SpareChannels {
      dir ADC {
        output = L1Calo/PPM/SpareChannels/ADC
	hist ppmspare_1d_tt_adc_TriggeredSlice {
	  display = LogY
	}
	hist ppmspare_2d_tt_adc_ProfileMap {
	  display = SetPalette(1)
	}
      }
      dir Errors {
        output = L1Calo/PPM/SpareChannels/Errors
	hist ppmspare_1d_ErrorSummary {
	  display = SetGridx,SetGridy
	}
	hist ppmspare_2d_ASICErrorEventNumbers {
	}
	hist ppmspare_2d_ErrorEventNumbers {
	}
	hist ppmspare_2d_ErrorField25 {
	  display = SetGridx,SetGridy
	}
	hist ppmspare_2d_Status25 {
	  display = SetGridx,SetGridy
	}
	dir Detail {
          output = L1Calo/PPM/SpareChannels/Errors/Detail
	  hist ppmspare_2d_Channel0DisabledChannel1DisabledCrate23 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_Channel0DisabledChannel1DisabledCrate45 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_Channel2DisabledChannel3DisabledCrate23 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_Channel2DisabledChannel3DisabledCrate45 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_EventMismatchBunchMismatchCrate23 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_EventMismatchBunchMismatchCrate45 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_FIFOCorruptPinParityCrate23 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_FIFOCorruptPinParityCrate45 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_MCMAbsentCrate23 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_MCMAbsentCrate45 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_TimeoutASICFullCrate23 {
	    display = SetGridx,SetGridy
	  }
	  hist ppmspare_2d_TimeoutASICFullCrate45 {
	    display = SetGridx,SetGridy
	  }
        }
      }
    }
    dir Errors {
      output = L1Calo/PPM/Errors
      hist ppm_1d_ErrorSummary {
        algorithm = L1Calo_IsEmpty
      }
      hist ppm_2d_ErrorField03 {
        display = SetPalette(1)
      }
      hist ppm_2d_ErrorField47 {
        display = SetPalette(1)
      }
      hist ppm_2d_Status03 {
        display = SetPalette(1)
      }
      hist ppm_2d_Status47 {
        display = SetPalette(1)
      }
    }
    dir ADC {
      dir EtaPhiMaps {
        output = L1Calo/PPM/ADC/EtaPhiMaps
	hist ppm_em_2d_etaPhi_tt_adc_HitMap {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_adc_ProfileHitMap {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_adc_HitMap {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_adc_ProfileHitMap {
	  display = SetPalette(1),LogZ
	}
      }
      dir Timeslices {
        output = L1Calo/PPM/ADC/Timeslices
	hist ppm_em_1d_tt_adc_TriggeredSlice {
	}
	hist ppm_em_1d_tt_adc_MaxTimeslice {
	}
	hist ppm_em_2d_etaPhi_tt_adc_MaxTimeslice {
	  display = SetPalette(1)
	}
	hist ppm_had_1d_tt_adc_TriggeredSlice {
	}
	hist ppm_had_1d_tt_adc_MaxTimeslice {
	}
	hist ppm_had_2d_etaPhi_tt_adc_MaxTimeslice {
	  display = SetPalette(1)
	}
	hist ppm_em_1d_tt_adc_SignalProfileLArEMBA {
	}
	hist ppm_em_1d_tt_adc_SignalProfileLArEMBC {
	}
	hist ppm_em_1d_tt_adc_SignalProfileLArEMECA {
	}
        hist ppm_em_1d_tt_adc_SignalProfileLArEMECC {
        }
        hist ppm_em_1d_tt_adc_SignalProfileLArFCAL1A {
        }
        hist ppm_em_1d_tt_adc_SignalProfileLArFCAL1C {
        }
        hist ppm_em_1d_tt_adc_SignalProfileLArOverlapA {
        }
        hist ppm_em_1d_tt_adc_SignalProfileLArOverlapC {
        }
	hist ppm_had_1d_tt_adc_SignalProfileLArFCAL23A {
	}
	hist ppm_had_1d_tt_adc_SignalProfileLArFCAL23C {
	}
	hist ppm_had_1d_tt_adc_SignalProfileLArHECA {
	}
	hist ppm_had_1d_tt_adc_SignalProfileLArHECC {
	}
	hist ppm_had_1d_tt_adc_SignalProfileTileEBA {
	}
	hist ppm_had_1d_tt_adc_SignalProfileTileEBC {
	}
	hist ppm_had_1d_tt_adc_SignalProfileTileLBA {
	}
	hist ppm_had_1d_tt_adc_SignalProfileTileLBC {
	}
      }
    }
    dir LUT {
      dir EtaPhiMaps {
        output = L1Calo/PPM/LUT/EtaPhiMaps
	hist ppm_em_2d_etaPhi_tt_lut_Threshold00 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold01 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold02 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold03 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold04 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold05 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold06 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold07 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold08 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold09 {
	  display = SetPalette(1),LogZ
	}
        hist ppm_em_2d_etaPhi_tt_lut_Threshold10 {
          display = SetPalette(1),LogZ
        }
        hist ppm_em_2d_etaPhi_tt_lut_Threshold11 {
          display = SetPalette(1),LogZ
        }
        hist ppm_em_2d_etaPhi_tt_lut_Threshold12 {
          display = SetPalette(1),LogZ
        }
        hist ppm_em_2d_etaPhi_tt_lut_Threshold13 {
          display = SetPalette(1),LogZ
        }
	hist ppm_had_2d_etaPhi_tt_lut_Threshold00 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold01 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold02 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold03 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold04 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold05 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold06 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold07 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold08 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold09 {
	  display = SetPalette(1),LogZ
	}
        hist ppm_had_2d_etaPhi_tt_lut_Threshold10 {
          display = SetPalette(1),LogZ
        }
        hist ppm_had_2d_etaPhi_tt_lut_Threshold11 {
          display = SetPalette(1),LogZ
        }
        hist ppm_had_2d_etaPhi_tt_lut_Threshold12 {
          display = SetPalette(1),LogZ
        }
        hist ppm_had_2d_etaPhi_tt_lut_Threshold13 {
          display = SetPalette(1),LogZ
        }
      }
      dir Distributions {
        output = L1Calo/PPM/LUT/Distributions
	hist ppm_em_1d_tt_lut_Et {
	  display = LogX,LogY
	}
	hist ppm_em_1d_tt_lut_Eta {
	}
	hist ppm_em_1d_tt_lut_Phi {
	}
	hist ppm_had_1d_tt_lut_Et {
	  display = LogX,LogY
	}
	hist ppm_had_1d_tt_lut_Eta {
	}
	hist ppm_had_1d_tt_lut_Phi {
	}
	hist ppm_1d_tt_lut_LutPerBCN {
	}	
      }
    }
    dir Stability {
      dir FineTime {
        output = L1Calo/PPM/Stability/FineTime
        hist ppm_em_1d_profile_adc_fineTime {
        }
        hist ppm_em_2d_profile_etaPhi_adc_fineTime {
        }
        hist ppm_had_1d_profile_adc_fineTime {
        }
        hist ppm_had_2d_profile_etaPhi_adc_fineTime {
        }
      }
      dir Pedestal {
        output = L1Calo/PPM/Stability/Pedestal
        hist ppm_em_1d_profile_adc_pedestal {
        }
        hist ppm_em_2d_profile_etaPhi_adc_pedestal {
        }
        hist ppm_had_1d_profile_adc_pedestal {
        }
        hist ppm_had_2d_profile_etaPhi_adc_pedestal {
        }
      }
      dir EtCorrelation {
        output = L1Calo/PPM/Stability/EtCorrelation
        hist ppm_em_1d_profile_adc_etCorrelation {
        }
        hist ppm_em_2d_profile_etaPhi_adc_etCorrelation {
        }
        hist ppm_had_1d_profile_adc_etCorrelation {
        }
        hist ppm_had_2d_profile_etaPhi_adc_etCorrelation {
        }
      }
    }
  }
  dir CPM {
    dir Errors {
      dir Hardware {
        output = L1Calo/CPM/Errors/Hardware_Summary
	hist cpm_1d_ErrorSummary {
	  algorithm = L1Calo_IsEmpty
	}
	dir Detail {
	  output = L1Calo/CPM/Errors/Hardware_Detail
	  hist cpm_em_2d_etaPhi_tt_LinkDown {
	    display = SetPalette(1)
	  }
	  hist cpm_had_2d_etaPhi_tt_LinkDown {
	    display = SetPalette(1)
	  }
	  hist cpm_em_2d_etaPhi_tt_Parity {
	    display = SetPalette(1)
	  }
	  hist cpm_had_2d_etaPhi_tt_Parity {
	    display = SetPalette(1)
	  }
	  hist cpm_2d_etaPhi_roi_Parity {
	    display = SetPalette(1)
	  }
	  hist cpm_2d_Status {
	    display = SetPalette(1)
	  }
        }
      }
      dir Transmission_Simulation {
	output = L1Calo/CPM/Errors/Transmission_Simulation
        hist cpm_2d_SimEqDataOverview {
	  display = SetPalette(1)
	}
	hist cpm_2d_SimNeDataOverview {
	  display = SetPalette(1)
	}
      }
    }
    dir Input {
      output = L1Calo/CPM/Input
      hist cpm_em_1d_tt_Et {
        display = LogX,LogY
      }
      hist cpm_em_1d_tt_Eta {
      }
      hist cpm_em_1d_tt_Phi {
      }
      hist cpm_em_2d_etaPhi_tt_Hitmap {
        display = SetPalette(1),LogZ
      }
      hist cpm_em_2d_etaPhi_tt_EtWeighted {
        display = SetPalette(1),LogZ
      }
      hist ppm_em_2d_etaPhi_tt_Hitmap {
        display = SetPalette(1),LogZ
      }
      hist cpm_had_1d_tt_Et {
        display = LogX,LogY
      }
      hist cpm_had_1d_tt_Eta {
      }
      hist cpm_had_1d_tt_Phi {
      }
      hist cpm_had_2d_etaPhi_tt_Hitmap {
        display = SetPalette(1),LogZ
      }
      hist cpm_had_2d_etaPhi_tt_EtWeighted {
        display = SetPalette(1),LogZ
      }
      hist ppm_had_2d_etaPhi_tt_Hitmap {
        display = SetPalette(1),LogZ
      }
    }
    dir Output {
      dir RoI {
        output = L1Calo/CPM/Output/RoI
	hist cpm_2d_etaPhi_roi_Hitmap {
	  display = SetPalette(1),LogZ
	}
	hist cpm_2d_etaPhi_roi_EmHitmap {
	  display = SetPalette(1),LogZ
	}
	hist cpm_2d_etaPhi_roi_TauHitmap {
	  display = SetPalette(1),LogZ
	}
	hist cpm_2d_roi_Thresholds {
	  display = SetPalette(1)
	}
	hist cpm_2d_etaPhi_roi_Saturation {
	  display = SetPalette(1)
	}
      }
      dir Thresholds {
        output = L1Calo/CPM/Output/Thresholds
	hist cpm_2d_thresh_Weighted {
	  display = SetPalette(1)
	}
      }
    }
  }
  dir CPM_CMM {
    dir Errors {
      dir Hardware {
	output = L1Calo/CPM_CMM/Errors
	hist cmm_2d_Status {
	  display = SetPalette(1)
	}
	hist cmm_2d_thresh_Parity {
	  display = SetPalette(1)
	}
      }
    }
    dir Input {
      output = L1Calo/CPM_CMM/Input
      hist cmm_2d_thresh_Weighted {
        display = SetPalette(1)
      }
    }
    dir Output {
      output = L1Calo/CPM_CMM/Output
      hist cmm_2d_thresh_SumsWeighted {
        display = SetPalette(1)
      }
    }
  }
  dir JEM {
    dir Errors {
      dir Hardware {
        output = L1Calo/JEM/Errors/Hardware
	hist jem_1d_ErrorSummary {
          algorithm = L1Calo_IsEmpty
	}
        hist jem_2d_Status {
          display = SetPalette(1)
        }
        hist jem_2d_etaPhi_roi_Parity {
          display = SetPalette(1)
        }
      }
      dir Transmission_Simulation {
        output = L1Calo/JEM/Errors/Transmission_Simulation
        hist jem_2d_SimEqDataOverview {
	  display = SetPalette(1)
	}
	hist jem_2d_SimNeDataOverview {
	  display = SetPalette(1)
	}
      }
    }
    dir Input {
      output = L1Calo/JEM/Input
      hist jem_em_1d_jetEl_Energy {
        display = LogX,LogY
      }
      hist jem_em_1d_jetEl_Eta {
      }
      hist jem_em_1d_jetEl_Phi {
      }
      hist jem_em_2d_etaPhi_jetEl_HitMapWeighted {
        display = SetPalette(1),LogZ
      }
      hist jem_em_2d_etaPhi_jetEl_HitMapSlice0 {
        display = SetPalette(1),LogZ
      }
      hist jem_em_2d_etaPhi_jetEl_HitMapSlice1 {
        display = SetPalette(1),LogZ
      }
      hist jem_em_2d_etaPhi_jetEl_HitMapSlice2 {
        display = SetPalette(1),LogZ
      }
      hist jem_em_2d_etaPhi_jetEl_HitMapSlice3 {
        display = SetPalette(1),LogZ
        description = Normally the L1Calo system reads only 3 timeslices for the CP and JEP systems. The monitoring allows for up to five slices but can only fill the ones it sees. Therefore normally this histogram is blank. 
      }
      hist jem_em_2d_etaPhi_jetEl_HitMapSlice4 {
        display = SetPalette(1),LogZ
        description = Normally the L1Calo system reads only 3 timeslices for the CP and JEP systems. The monitoring allows for up to five slices but can only fill the ones it sees. Therefore normally this histogram is blank.
      }
      hist jem_had_1d_jetEl_Energy {
        display = LogX,LogY
      }
      hist jem_had_1d_jetEl_Eta {
      }
      hist jem_had_1d_jetEl_Phi {
      }
      hist jem_had_2d_etaPhi_jetEl_HitMapWeighted {
        display = SetPalette(1),LogZ
      }
      hist jem_had_2d_etaPhi_jetEl_HitMapSlice0 {
        display = SetPalette(1),LogZ
      }
      hist jem_had_2d_etaPhi_jetEl_HitMapSlice1 {
        display = SetPalette(1),LogZ
      }
      hist jem_had_2d_etaPhi_jetEl_HitMapSlice2 {
        display = SetPalette(1),LogZ
      }
      hist jem_had_2d_etaPhi_jetEl_HitMapSlice3 {
        display = SetPalette(1),LogZ
        description = Normally the L1Calo system reads only 3 timeslices for the CP and JEP systems. The monitoring allows for up to five slices but can only fill the ones it sees. Therefore normally this histogram is blank.
      }
      hist jem_had_2d_etaPhi_jetEl_HitMapSlice4 {
        display = SetPalette(1),LogZ
        description = Normally the L1Calo system reads only 3 timeslices for the CP and JEP systems. The monitoring allows for up to five slices but can only fill the ones it sees. Therefore normally this histogram is blank.
      }
    }
    dir Output {
      dir RoI {
        output = L1Calo/JEM/Output/RoI
	hist jem_1d_roi_FwdHitsLeft {
	}
	hist jem_1d_roi_FwdHitsRight {
	}
	hist jem_1d_roi_MainHits {
	}
	hist jem_2d_etaPhi_roi_FwdThresh0 {
	  display = SetPalette(1)
        }
	hist jem_2d_etaPhi_roi_FwdThresh1 {
	  display = SetPalette(1)
        }
	hist jem_2d_etaPhi_roi_FwdThresh2 {
	  display = SetPalette(1)
        }
	hist jem_2d_etaPhi_roi_FwdThresh3 {
	  display = SetPalette(1)
        }
        hist jem_2d_etaPhi_roi_MainThresh0 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh1 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh2 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh3 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh4 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh5 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh6 {
          display = SetPalette(1),LogZ
        }
        hist jem_2d_etaPhi_roi_MainThresh7 {
          display = SetPalette(1),LogZ
        }
      }
      dir Thresholds {
        output = L1Calo/JEM/Output/Thresholds
        hist jem_2d_thresh_HitsPerJem {
          display = SetPalette(1)
        }
      }
    }
  }
  dir JEM_CMM {
    dir Errors {
      dir Hardware {
	output = L1Calo/JEM_CMM/Errors
	hist cmm_1d_ErrorSummary {
	  algorithm = L1Calo_IsEmpty
	}
	hist cmm_1d_TriggeredSlices {
	}
	hist cmm_1d_roi_Parity {
	}
	hist cmm_2d_energy_Status {
	  display = SetPalette(1)
	}
	hist cmm_2d_thresh_Status {
	  display = SetPalette(1)
	}
      }
    }
    dir Output {
      dir RoI {
        output = L1Calo/JEM_CMM/Output
        hist cmm_1d_roi_Et {
          display = LogX,LogY
        }
        hist cmm_1d_roi_Ex {
          display = LogX,LogY
        }
        hist cmm_1d_roi_Ey {
          display = LogX,LogY
        }
        hist cmm_1d_roi_JetEtHits {
	}
	hist cmm_1d_roi_MissingEtHits {
	}
	hist cmm_1d_roi_SumEtHits {
	}
      }
    }
  }
  dir ROD {
    output = L1Calo/ROD
    hist rod_1d_ErrorSummary {
      algorithm = L1Calo_IsEmpty
    }
    hist rod_1d_RobErrorSummary {
    }
    hist rod_1d_UnpackErrorSummary {
    }
    hist rod_1d_CpPayload {
    }
    hist rod_1d_JepPayload {
    }
    hist rod_1d_PpPayload {
    }
    hist rod_1d_CpJepRoiPayload {
    }
    hist rod_2d_CpJepStatus {
      display = SetPalette(1)
    }
    hist rod_2d_PpStatus {
      display = SetPalette(1)
    }
    hist rod_2d_CpJepRoiStatus {
      display = SetPalette(1)
    }
  }
  dir Overview {
    output = L1Calo/Overview
    hist l1calo_1d_NumberOfEvents {
    }
    dir Errors {
      output = L1Calo/Overview
      hist l1calo_2d_GlobalOverview {
        display = SetPalette(1),SetGridx,SetGridy
        algorithm = L1Calo_IsEmpty
      }
      hist l1calo_1d_ErrorsByLumiblock {
        description = This histogram is produced only when there are errors. Therefore normally the histogram is blank.
        algorithm = L1Calo_IsEmpty
      }
      hist l1calo_1d_ErrorsByTime {
        description = This histogram is produced only when there are errors. Therefore normally the histogram is blank.
        algorithm = L1Calo_IsEmpty
      }
      hist l1calo_1d_RejectedEvents {
        description = This histogram is only produced if rejection is turned on and there are some rejected events. Therefore normally the histogram is blank.
        algorithm = L1Calo_IsEmpty
      }
    }
  }
  dir Reco {
    dir EmEfficiencies {
      dir ClusterRaw_Et {    
        output = L1Calo/Reco/EmEfficiencies_Et
        hist ClusterRaw_Et_bitcheck_Eff_0 {
          algorithm = L1Calo_isEmEfficiencyHigh_0
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_1 {
          algorithm = L1Calo_isEmEfficiencyHigh_1
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_2 {
          algorithm = L1Calo_isEmEfficiencyHigh_2
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_3 {
          algorithm = L1Calo_isEmEfficiencyHigh_3
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_4 {
          algorithm = L1Calo_isEmEfficiencyHigh_4
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_5 {
          algorithm = L1Calo_isEmEfficiencyHigh_5
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_6 {
          algorithm = L1Calo_isEmEfficiencyHigh_6
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_7 {
          algorithm = L1Calo_isEmEfficiencyHigh_7
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_bitcheck_Eff_15 {
          algorithm = L1Calo_isEmEfficiencyHigh_15
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist ClusterRaw_Et_triggered_Eff {
          algorithm = L1Calo_isEmEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
      }
      dir ClusterRaw_10GeV_EtaVsPhi {
        output = L1Calo/Reco/EmEfficiencies_EtaVsPhi
        hist ClusterRaw_10GeV_Eta_vs_Phi_trig_Eff_1 {
          display = SetPalette(1)
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
      }
      dir ClusterRaw_30GeV_EtaVsPhi {
        output = L1Calo/Reco/EmEfficiencies_EtaVsPhi
        hist ClusterRaw_30GeV_Eta_vs_Phi_trig_Eff_5 {
          display = SetPalette(1)
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
      }
    }
    dir JetEfficiencies {
      dir JetEmScale_Et {    
        output = L1Calo/Reco/JetEfficiencies_Et
        hist JetEmScale_Et_J_Eff_item_0 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_1 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_2 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_3 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_4 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_5 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_6 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_J_Eff_item_7 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_FJ_J_Eff_item_0 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_FJ_J_Eff_item_1 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_FJ_J_Eff_item_2 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_FJ_J_Eff_item_3 {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_triggered_Eff {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_triggered_central_Eff {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
        hist JetEmScale_Et_triggered_forward_Eff {
          algorithm = L1Calo_isJetEfficiencyHigh
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
      }
      dir JetEmScale_50GeV_EtaVsPhi {
        output = L1Calo/Reco/JetEfficiencies_EtaVsPhi
        hist JetEmScale_50GeV_Eta_vs_Phi_J_Eff_item_2 {
          display = SetPalette(1)
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
      }
      dir JetEmScale_200GeV_EtaVsPhi {
        output = L1Calo/Reco/JetEfficiencies_EtaVsPhi
        hist JetEmScale_200GeV_Eta_vs_Phi_J_Eff_item_6 {
          display = SetPalette(1)
          description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
        }
      }
      dir JetEmScale_Et {
        dir denominator {
          output = L1Calo/Reco/JetEfficiencies_EtaVsPhi
          hist JetEmScale_Eta_vs_Phi {
            display = SetPalette(1)
            description = https://cdsweb.cern.ch/record/1444500/files/ATL-COM-DAQ-2012-030.pdf
          }
        }
      }
    } 
  }
}
  

#############
# Algorithms
#############

algorithm L1Calo_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

algorithm L1Calo_IsEmpty {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThan_Threshold
  BinThreshold = 0
  thresholds = L1Calo_EmptyHistThreshold
}

algorithm L1Calo_IsEmptyLoose {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThan_Threshold
  BinThreshold = 0
  thresholds = L1Calo_LooseEmptyHistThreshold
}

# EmEfficiencies
algorithm L1Calo_isEmEfficiencyHigh {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies
}
# tuned for individual thresholds
algorithm L1Calo_isEmEfficiencyHigh_0 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_0
}
algorithm L1Calo_isEmEfficiencyHigh_1 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_1
}
algorithm L1Calo_isEmEfficiencyHigh_2 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_2
}
algorithm L1Calo_isEmEfficiencyHigh_3 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_3
}
algorithm L1Calo_isEmEfficiencyHigh_4 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_4
}
algorithm L1Calo_isEmEfficiencyHigh_5 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_5
}
algorithm L1Calo_isEmEfficiencyHigh_6 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_6
}
algorithm L1Calo_isEmEfficiencyHigh_7 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_7
}
algorithm L1Calo_isEmEfficiencyHigh_15 {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_EmEfficiencies_15
}
# JetEfficiencies
algorithm L1Calo_isJetEfficiencyHigh {
  libname = libdqm_algorithms.so
  name = Bins_LessThan_Threshold
  BinThreshold = 90
  thresholds = L1Calo_JetEfficiencies
} 
 


#############
# Thresholds
#############

thresholds L1Calo_EmptyHistThreshold {
  limits NBins {
    warning = 0
    error = 1
  }
}

thresholds L1Calo_LooseEmptyHistThreshold {
  limits NBins {
    warning = 1
    error = 3
  }
}

#EmEfficiencies
thresholds L1Calo_EmEfficiencies {
  limits NBins {
    warning = 75
    error = 95
  }
}
# tuned for individual thresholds
thresholds L1Calo_EmEfficiencies_0 {
  limits NBins {
    warning = 65
    error = 90
  }
}
thresholds L1Calo_EmEfficiencies_1 {
  limits NBins {
    warning = 65
    error = 90
  }
}
thresholds L1Calo_EmEfficiencies_2 {
  limits NBins {
    warning = 65
    error = 90
  }
}
thresholds L1Calo_EmEfficiencies_3 {
  limits NBins {
    warning = 65
    error = 90
  }
}
thresholds L1Calo_EmEfficiencies_4 {
  limits NBins {
    warning = 65
    error = 90
  }
}
thresholds L1Calo_EmEfficiencies_5 {
  limits NBins {
    warning = 75
    error = 95
  }
}
thresholds L1Calo_EmEfficiencies_6 {
  limits NBins {
    warning = 75
    error = 95
  }
}
thresholds L1Calo_EmEfficiencies_7 {
  limits NBins {
    warning = 75
    error = 95
  }
}
thresholds L1Calo_EmEfficiencies_15 {
  limits NBins {
    warning = 75
    error = 95
  }
}
#JetEfficiencies
thresholds L1Calo_JetEfficiencies {
  limits NBins {
    warning = 1000
    error = 1500
  }
}

############################################################
# LVL1_Interfaces
############################################################

#######################
# Histogram Assessments
#######################

dir LVL1_Interfaces {
  algorithm = LVL1Iface_GatherData
  reference = CentrallyManagedReferences
  dir CTP {
    output = L1Interfaces/CTP
    hist ctp_1d_L1CaloNeCTPSummary {
    algorithm = L1Calo_IsEmpty
    }
  }
  dir Calorimeter {
    dir CaloTriggerTowerEnergyDistribution {
      output = L1Interfaces/Calo/TowerEnergy
      hist all_in_dir {
      }
    }
    dir CaloTriggerTowerHitMaps {
      output = L1Interfaces/Calo/TowerHits
      hist all_in_dir {
      display = SetPalette(1),LogZ
      }
    }
    dir CalorimeterData {
      output = L1Interfaces/Calo/Data
      hist CaloCell_lar_HitMap {
      display = SetPalette(1),LogZ
      }
      hist CaloCell_tile_HitMap {
      display = SetPalette(1),LogZ
      }
      hist all_in_dir {
      }
    }
    dir ComparisonTT2CaloTT {
      output = L1Interfaces/Calo/TT2CaloTT
      hist emDeltaEnergy_Map {
      display = SetPalette(1)
      }
      hist em_MostEnergetic_TTMap {
      display = SetPalette(1),LogZ
      }
      hist em_MostEnergetic_caloMap {
      display = SetPalette(1),LogZ
      }
      hist hadDeltaEnergy_Map {
      display = SetPalette(1)
      }
      hist had_MostEnergetic_TTMap {
      display = SetPalette(1),LogZ
      }
      hist had_MostEnergetic_caloMap {
      display = SetPalette(1),LogZ
      }
      hist all_in_dir {
      }
    }
    dir HVCorrections {
      output = L1Interfaces/Calo/HVCorrections
      hist em_HVScaleDif {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_emb1 {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_emb2 {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_emb3 {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_emec1 {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_emec2 {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_emec3 {
      display = SetPalette(1),LinZ
      }
      hist em_HVScaleDif_pre {
      display = SetPalette(1),LinZ
      }
      hist em_disabled {
      display = SetPalette(1),LinZ
      }
      hist em_missing_FEB {
      display = SetPalette(1),LinZ
      }
      hist had_HVScaleDif {
      display = SetPalette(1),LinZ
      }
      hist had_HVScaleDif_fcal23r0 {
      display = SetPalette(1),LinZ
      }
      hist had_HVScaleDif_fcal23r1 {
      display = SetPalette(1),LinZ
      }
      hist had_HVScaleDif_hec0 {
      display = SetPalette(1),LinZ
      }
      hist had_HVScaleDif_hec1 {
      display = SetPalette(1),LinZ
      }
      hist had_HVScaleDif_hec2 {
      display = SetPalette(1),LinZ
      }
      hist had_disabled {
      display = SetPalette(1),LinZ
      }
      hist had_missing_FEB {
      display = SetPalette(1),LinZ
      }
    }
  }
  dir Level2 {
    output = L1Interfaces/L2
    hist l2_1d_L1NeL2Summary {
    algorithm = L1Calo_IsEmpty
    }
    hist l2_2d_CPMRoIErrorsEM { 
    }
    hist l2_2d_CPMRoIErrorsEMTau {
    }
    hist l2_2d_JEMRoIErrors {
    }
  }
}

  

#############
# Algorithms
#############

algorithm LVL1Iface_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

