# **********************************************************************
# $Id: heavyions_minutes10.config 512770 2012-08-07 19:28:13Z vogel $
# **********************************************************************

#############
# Output
#############

output top_level {
  output L1Calo {

    output PPM {
      output LUT {
        output EtaPhiMaps {
	}
      }
    }
    output Overview {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir L1Calo {
  algorithm = L1Calo_GatherData
  reference = CentrallyManagedReferences
  output = L1Calo
  dir PPM {
    dir LUT {
      dir EtaPhiMaps {
        output = L1Calo/PPM/LUT/EtaPhiMaps
	hist ppm_em_2d_etaPhi_tt_lut_Threshold00 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold01 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold02 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold03 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold04 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold05 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold06 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold07 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold08 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_em_2d_etaPhi_tt_lut_Threshold09 {
	  display = SetPalette(1),LogZ
	}
        hist ppm_em_2d_etaPhi_tt_lut_Threshold10 {
          display = SetPalette(1),LogZ
        }
        hist ppm_em_2d_etaPhi_tt_lut_Threshold11 {
          display = SetPalette(1),LogZ
        }
        hist ppm_em_2d_etaPhi_tt_lut_Threshold12 {
          display = SetPalette(1),LogZ
        }
        hist ppm_em_2d_etaPhi_tt_lut_Threshold13 {
          display = SetPalette(1),LogZ
        }
	hist ppm_had_2d_etaPhi_tt_lut_Threshold00 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold01 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold02 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold03 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold04 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold05 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold06 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold07 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold08 {
	  display = SetPalette(1),LogZ
	}
	hist ppm_had_2d_etaPhi_tt_lut_Threshold09 {
	  display = SetPalette(1),LogZ
	}
        hist ppm_had_2d_etaPhi_tt_lut_Threshold10 {
          display = SetPalette(1),LogZ
        }
        hist ppm_had_2d_etaPhi_tt_lut_Threshold11 {
          display = SetPalette(1),LogZ
        }
        hist ppm_had_2d_etaPhi_tt_lut_Threshold12 {
          display = SetPalette(1),LogZ
        }
        hist ppm_had_2d_etaPhi_tt_lut_Threshold13 {
          display = SetPalette(1),LogZ
        }        
      }
    }
  }
  dir Overview {
    output = L1Calo/Overview
    hist l1calo_1d_NumberOfEvents {
    }
    dir Errors {
      output = L1Calo/Overview
      hist l1calo_2d_GlobalOverview {
        display = SetPalette(1),SetGridx,SetGridy
        algorithm = L1Calo_IsEmpty
      }
    }
  }
}

#############
# Algorithms
#############

algorithm L1Calo_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
  reference = CentrallyManagedReferences
}

algorithm L1Calo_IsEmpty {
  libname = libdqm_algorithms.so
  name = Bins_GreaterThan_Threshold
  BinThreshold = 0
  thresholds = L1Calo_EmptyHistThreshold
}

#############
# Thresholds
#############

thresholds L1Calo_EmptyHistThreshold {
  limits NBins {
    warning = 0
    error = 1
  }
}
