
##############################################################################
#
#  JESProvider Input Settings
#    Full list of nuisance parameters from the Run 2 prerecommendation 
#    iteration of the JES - produced from cross-calibration with final
#    2012 in-situ JES 
#
#    50 ns version 
#
#    June 1, 2015
#
#  D. DeMarco, K. Pachal, S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_Prerec
SupportedJetDefs:                   AntiKt4EMTopo
SupportedMCTypes:                   MC15,AFII
UncertaintyRootFile:                JES_2015/Prerec/JESUncertainty_2015.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

# Under development, need to verify reference values 
Pileup.MuRef:                       20.7 
Pileup.NPVRef:                      12.5 

##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

# LAr (Z/gamma+jet): energy scale, material
JESComponent.1.Name:                LAr_ESmaterial
JESComponent.1.Desc:                LAr energy scale - material component
JESComponent.1.Type:                Detector
JESComponent.1.Corr:                Correlated
JESComponent.1.Param:               Pt
JESComponent.1.SubComp:             Zjet_ElecESmaterial Gjet_GamESmaterial

# LAr (Z/gamma+jet): energy scale, presampler
JESComponent.2.Desc:                LAr energy scale - presampler component
JESComponent.2.Name:                LAr_ESpresampler
JESComponent.2.Type:                Detector
JESComponent.2.Corr:                Correlated
JESComponent.2.Param:               Pt
JESComponent.2.SubComp:             Zjet_ElecESpresampler Gjet_GamESpresampler

# LAr (Z/gamma+jet): energy scale, Z->ee
JESComponent.3.Desc:                LAr energy scale - Zee component
JESComponent.3.Name:                LAr_ESZee
JESComponent.3.Type:                Mixed
JESComponent.3.Corr:                Correlated
JESComponent.3.Param:               Pt
JESComponent.3.SubComp:             Zjet_ElecESZee Gjet_GamESZee

# LAr (Z/gamma+jet): energy smearing
JESComponent.4.Desc:                LAr energy smearing
JESComponent.4.Name:                LAr_Esmear
JESComponent.4.Type:                Mixed
JESComponent.4.Corr:                Correlated
JESComponent.4.Param:               Pt
JESComponent.4.SubComp:             Zjet_ElecEsmear Gjet_GamEsmear

# Z+jet: dPhi
JESComponent.5.Name:                Zjet_dPhi
JESComponent.5.Desc:                Z+jet dPhi cut 
JESComponent.5.Type:                Modelling
JESComponent.5.Param:               Pt

# Z+jet: MC
JESComponent.6.Name:                Zjet_MC
JESComponent.6.Desc:                Z+jet Monte Carlo generator difference
JESComponent.6.Type:                Modelling
JESComponent.6.Param:               Pt

# Z+jet: JVF
JESComponent.7.Name:                Zjet_JVF
JESComponent.7.Desc:                Z+jet JVF selection cut
JESComponent.7.Type:                Mixed
JESComponent.7.Param:               Pt

# Z+jet: muon scale
JESComponent.8.Name:                Zjet_MuScale
JESComponent.8.Desc:                Z+jet muon scale
JESComponent.8.Type:                Detector
JESComponent.8.Param:               Pt

# Z+jet: muon smearing, inner detector
JESComponent.9.Name:                Zjet_MuSmearID
JESComponent.9.Desc:                Z+jet muon smearing (inner detector)
JESComponent.9.Type:                Modelling
JESComponent.9.Param:               Pt

# Z+jet: muon smearing, muon spectrometer
JESComponent.10.Name:               Zjet_MuSmearMS
JESComponent.10.Desc:               Z+jet muon smearing (muon spectrometer)
JESComponent.10.Type:               Modelling
JESComponent.10.Param:              Pt

# Z+jet: k-term
JESComponent.11.Name:               Zjet_KTerm
JESComponent.11.Desc:               Z+jet out-of-cone radiation
JESComponent.11.Type:               Modelling
JESComponent.11.Param:              Pt

# Z+jet: Veto
JESComponent.12.Name:               Zjet_Veto
JESComponent.12.Desc:               Z+jet radiation suppression (second jet veto)
JESComponent.12.Type:               Modelling
JESComponent.12.Param:              Pt

# gamma+jet: dPhi 
JESComponent.13.Name:               Gjet_dPhi
JESComponent.13.Desc:               gamma+jet dPhi
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              Pt

# gamma+jet: Generator
JESComponent.14.Name:               Gjet_Generator
JESComponent.14.Desc:               gamma+jet Monte Carlo generator difference
JESComponent.14.Type:               Modelling
JESComponent.14.Param:              Pt

# gamma+jet: Out-of-cone
JESComponent.15.Name:               Gjet_OOC
JESComponent.15.Desc:               gamma+jet out-of-cone radiation
JESComponent.15.Type:               Modelling
JESComponent.15.Param:              Pt

# gamma+jet: Purity
JESComponent.16.Name:               Gjet_Purity
JESComponent.16.Desc:               gamma+jet photon purity
JESComponent.16.Type:               Detector
JESComponent.16.Param:              Pt

# gamma+jet: Veto
JESComponent.17.Name:               Gjet_Veto
JESComponent.17.Desc:               gamma+jet radiation suppression (second jet veto)
JESComponent.17.Type:               Modelling
JESComponent.17.Param:              Pt

# MJB: Alpha
JESComponent.18.Name:               MJB_Alpha
JESComponent.18.Desc:               MJB jet topology selection (alpha)
JESComponent.18.Type:               Modelling
JESComponent.18.Param:              Pt

# MJB: Beta
JESComponent.19.Name:               MJB_Beta
JESComponent.19.Desc:               MJB jet topology selection (beta)
JESComponent.19.Type:               Modelling
JESComponent.19.Param:              Pt

# MJB: Fragmentation
JESComponent.20.Name:               MJB_Fragmentation
JESComponent.20.Desc:               MJB Fragmentation uncertainty
JESComponent.20.Type:               Mixed
JESComponent.20.Param:              Pt

# MJB: Asymmetry selection
JESComponent.21.Name:               MJB_Asym
JESComponent.21.Desc:               MJB asymmetry uncertainty
JESComponent.21.Type:               Modelling
JESComponent.21.Param:              Pt

# MJB: Threshold
JESComponent.22.Name:               MJB_Threshold
JESComponent.22.Desc:               MJB uncertainty due to jet threshold
JESComponent.22.Type:               Mixed
JESComponent.22.Param:              Pt

##############################################################################
# 
#   Statistical components, identified by source
#
##############################################################################

# Z+jet statistical component No. 1
JESComponent.23.Name:               Zjet_Stat1
JESComponent.23.Desc:               Z+jet statistical uncertainty No. 1
JESComponent.23.Type:               Statistical
JESComponent.23.Param:              Pt

# Z+jet statistical component No. 2
JESComponent.24.Name:               Zjet_Stat2
JESComponent.24.Desc:               Z+jet statistical uncertainty No. 2
JESComponent.24.Type:               Statistical
JESComponent.24.Param:              Pt

# Z+jet statistical component No. 3
JESComponent.25.Name:               Zjet_Stat3
JESComponent.25.Desc:               Z+jet statistical uncertainty No. 3
JESComponent.25.Type:               Statistical
JESComponent.25.Param:              Pt

# Z+jet statistical component No. 4
JESComponent.26.Name:               Zjet_Stat4
JESComponent.26.Desc:               Z+jet statistical uncertainty No. 4
JESComponent.26.Type:               Statistical
JESComponent.26.Param:              Pt

# Z+jet statistical component No. 5
JESComponent.27.Name:               Zjet_Stat5
JESComponent.27.Desc:               Z+jet statistical uncertainty No. 5
JESComponent.27.Type:               Statistical
JESComponent.27.Param:              Pt

# Z+jet statistical component No. 6
JESComponent.28.Name:               Zjet_Stat6
JESComponent.28.Desc:               Z+jet statistical uncertainty No. 6
JESComponent.28.Type:               Statistical
JESComponent.28.Param:              Pt

# Z+jet statistical component No. 7
JESComponent.29.Name:               Zjet_Stat7
JESComponent.29.Desc:               Z+jet statistical uncertainty No. 7
JESComponent.29.Type:               Statistical
JESComponent.29.Param:              Pt

# Z+jet statistical component No. 8
JESComponent.30.Name:               Zjet_Stat8
JESComponent.30.Desc:               Z+jet statistical uncertainty No. 8
JESComponent.30.Type:               Statistical
JESComponent.30.Param:              Pt

# Z+jet statistical component No. 9
JESComponent.31.Name:               Zjet_Stat9
JESComponent.31.Desc:               Z+jet statistical uncertainty No. 9
JESComponent.31.Type:               Statistical
JESComponent.31.Param:              Pt

# Z+jet statistical component No. 10
JESComponent.32.Name:               Zjet_Stat10
JESComponent.32.Desc:               Z+jet statistical uncertainty No. 10
JESComponent.32.Type:               Statistical
JESComponent.32.Param:              Pt

# Z+jet statistical component No. 11
JESComponent.33.Name:               Zjet_Stat11
JESComponent.33.Desc:               Z+jet statistical uncertainty No. 11
JESComponent.33.Type:               Statistical
JESComponent.33.Param:              Pt

# gamma+jet statistical component No. 1
JESComponent.34.Name:               Gjet_Stat1
JESComponent.34.Desc:               gamma+jet statistical uncertainty No. 1
JESComponent.34.Type:               Statistical
JESComponent.34.Param:              Pt

# gamma+jet statistical component No. 2
JESComponent.35.Name:               Gjet_Stat2
JESComponent.35.Desc:               gamma+jet statistical uncertainty No. 2
JESComponent.35.Type:               Statistical
JESComponent.35.Param:              Pt

# gamma+jet statistical component No. 3
JESComponent.36.Name:               Gjet_Stat3
JESComponent.36.Desc:               gamma+jet statistical uncertainty No. 3
JESComponent.36.Type:               Statistical
JESComponent.36.Param:              Pt

# gamma+jet statistical component No. 4
JESComponent.37.Name:               Gjet_Stat4
JESComponent.37.Desc:               gamma+jet statistical uncertainty No. 4
JESComponent.37.Type:               Statistical
JESComponent.37.Param:              Pt

# gamma+jet statistical component No. 5
JESComponent.38.Name:               Gjet_Stat5
JESComponent.38.Desc:               gamma+jet statistical uncertainty No. 5
JESComponent.38.Type:               Statistical
JESComponent.38.Param:              Pt

# gamma+jet statistical component No. 6
JESComponent.39.Name:               Gjet_Stat6
JESComponent.39.Desc:               gamma+jet statistical uncertainty No. 6
JESComponent.39.Type:               Statistical
JESComponent.39.Param:              Pt

# gamma+jet statistical component No. 7
JESComponent.40.Name:               Gjet_Stat7
JESComponent.40.Desc:               gamma+jet statistical uncertainty No. 7
JESComponent.40.Type:               Statistical
JESComponent.40.Param:              Pt

# gamma+jet statistical component No. 8
JESComponent.41.Name:               Gjet_Stat8
JESComponent.41.Desc:               gamma+jet statistical uncertainty No. 8
JESComponent.41.Type:               Statistical
JESComponent.41.Param:              Pt

# gamma+jet statistical component No. 9
JESComponent.42.Name:               Gjet_Stat9
JESComponent.42.Desc:               gamma+jet statistical uncertainty No. 9
JESComponent.42.Type:               Statistical
JESComponent.42.Param:              Pt

# gamma+jet statistical component No. 10
JESComponent.43.Name:               Gjet_Stat10
JESComponent.43.Desc:               gamma+jet statistical uncertainty No. 10
JESComponent.43.Type:               Statistical
JESComponent.43.Param:              Pt

# gamma+jet statistical component No. 11
JESComponent.44.Name:               Gjet_Stat11
JESComponent.44.Desc:               gamma+jet statistical uncertainty No. 11
JESComponent.44.Type:               Statistical
JESComponent.44.Param:              Pt

# gamma+jet statistical component No. 12
JESComponent.45.Name:               Gjet_Stat12
JESComponent.45.Desc:               gamma+jet statistical uncertainty No. 12
JESComponent.45.Type:               Statistical
JESComponent.45.Param:              Pt

# gamma+jet statistical component No. 13
JESComponent.46.Name:               Gjet_Stat13
JESComponent.46.Desc:               gamma+jet statistical uncertainty No. 13
JESComponent.46.Type:               Statistical
JESComponent.46.Param:              Pt

# MJB statistical component No. 1
JESComponent.47.Name:               MJB_Stat1
JESComponent.47.Desc:               MJB statistical uncertainty No. 1
JESComponent.47.Type:               Statistical
JESComponent.47.Param:              Pt

# MJB statistical component No. 2
JESComponent.48.Name:               MJB_Stat2
JESComponent.48.Desc:               MJB statistical uncertainty No. 2
JESComponent.48.Type:               Statistical
JESComponent.48.Param:              Pt

# MJB statistical component No. 3
JESComponent.49.Name:               MJB_Stat3
JESComponent.49.Desc:               MJB statistical uncertainty No. 3
JESComponent.49.Type:               Statistical
JESComponent.49.Param:              Pt

# MJB statistical component No. 4
JESComponent.50.Name:               MJB_Stat4
JESComponent.50.Desc:               MJB statistical uncertainty No. 4
JESComponent.50.Type:               Statistical
JESComponent.50.Param:              Pt

# MJB statistical component No. 5
JESComponent.51.Name:               MJB_Stat5
JESComponent.51.Desc:               MJB statistical uncertainty No. 5
JESComponent.51.Type:               Statistical
JESComponent.51.Param:              Pt

# MJB statistical component No. 6
JESComponent.52.Name:               MJB_Stat6
JESComponent.52.Desc:               MJB statistical uncertainty No. 6
JESComponent.52.Type:               Statistical
JESComponent.52.Param:              Pt

# MJB statistical component No. 7
JESComponent.53.Name:               MJB_Stat7
JESComponent.53.Desc:               MJB statistical uncertainty No. 7
JESComponent.53.Type:               Statistical
JESComponent.53.Param:              Pt

# MJB statistical component No. 8
JESComponent.54.Name:               MJB_Stat8
JESComponent.54.Desc:               MJB statistical uncertainty No. 8
JESComponent.54.Type:               Statistical
JESComponent.54.Param:              Pt

# MJB statistical component No. 9
JESComponent.55.Name:               MJB_Stat9
JESComponent.55.Desc:               MJB statistical uncertainty No. 9
JESComponent.55.Type:               Statistical
JESComponent.55.Param:              Pt

# MJB statistical component No. 10
JESComponent.56.Name:               MJB_Stat10
JESComponent.56.Desc:               MJB statistical uncertainty No. 10
JESComponent.56.Type:               Statistical
JESComponent.56.Param:              Pt


##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration: theory uncertainty
JESComponent.57.Name:               EtaIntercalibration_Modelling
JESComponent.57.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.57.Type:               Modelling
JESComponent.57.Param:              PtEta

# Eta intercalibration: total statistical and method uncertainty
JESComponent.58.Name:               EtaIntercalibration_TotalStat
JESComponent.58.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.58.Type:               Statistical
JESComponent.58.Param:              PtEta

# High pT term
JESComponent.59.Name:               SingleParticle_HighPt
JESComponent.59.Desc:               High pT term (2012 version)
JESComponent.59.Type:               Detector
JESComponent.59.Param:              Pt

# Calibration closure
JESComponent.60.Name:               RelativeNonClosure_MCTYPE
JESComponent.60.Desc:               Closure of the calibration, relative to MC12a
JESComponent.60.Type:               Other
JESComponent.60.Param:              PtEta
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initializing the provider

# Pileup: Mu term
JESComponent.61.Name:               Pileup_OffsetMu
JESComponent.61.Desc:               Pileup: Offset, mu term
JESComponent.61.Type:               Other
JESComponent.61.Param:              PtEta
JESComponent.61.Special:            True

# Pileup: NPV term
JESComponent.62.Name:               Pileup_OffsetNPV
JESComponent.62.Desc:               Pileup: Offset, NPV term
JESComponent.62.Type:               Other
JESComponent.62.Param:              PtEta
JESComponent.62.Special:            True

# Pileup: pT term
JESComponent.63.Name:               Pileup_PtTerm
JESComponent.63.Desc:               Pileup: Offset, pT term
JESComponent.63.Type:               Other
JESComponent.63.Param:              PtEta
JESComponent.63.Special:            True
JESComponent.63.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV

# JetAreas rho topology
JESComponent.64.Name:               Pileup_RhoTopology
JESComponent.64.Desc:               Rho topology uncertainty (jet areas)
JESComponent.64.Type:               Other
JESComponent.64.Param:              PtEta
JESComponent.64.Special:            True

# Flavour composition uncertainty
JESComponent.65.Name:               Flavor_Composition
JESComponent.65.Desc:               Flavor composition uncertainty
JESComponent.65.Type:               Modelling
JESComponent.65.Param:              PtEta
JESComponent.65.Special:            True
JESComponent.65.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.66.Name:               Flavor_Response
JESComponent.66.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.66.Type:               Modelling
JESComponent.66.Param:              PtEta
JESComponent.66.Special:            True
JESComponent.66.Hists:              FlavorResponse

# bJES uncertainty
JESComponent.67.Name:               BJES_Response
JESComponent.67.Desc:               JES uncertainty for b jets
JESComponent.67.Type:               Modelling
JESComponent.67.Param:              PtEta
JESComponent.67.Special:            True
JESComponent.67.Hists:              bJES

# Punch-through uncertainty
JESComponent.68.Name:               PunchThrough_MCTYPE
JESComponent.68.Desc:               Punch-through correction uncertainty
JESComponent.68.Type:               Detector
JESComponent.68.Param:              PtAbsEta
JESComponent.68.Interp:             False
JESComponent.68.Special:            True


##############################################################################
# 
#   2015 Cross-Calibration components
#
##############################################################################

# Cross-calibration bunch spacing uncertainty
JESComponent.69.Name:               Xcalib_1
JESComponent.69.Desc:               X-calib: bunch spacing term 
JESComponent.69.Type:               Other
JESComponent.69.Param:              PtAbsEta
JESComponent.69.Hists:              Xcalib_50nsVs25ns_Central

# Cross-calibration digitization uncertainty
JESComponent.70.Name:               Xcalib_2
JESComponent.70.Desc:               X-calib: digitization term
JESComponent.70.Type:               Other
JESComponent.70.Param:              PtAbsEta
JESComponent.70.Hists:              Xcalib_5Vs4sample

# Cross-calibration topoclustering uncertainty
JESComponent.71.Name:               Xcalib_3
JESComponent.71.Desc:               X-calib: topoclustering term 
JESComponent.71.Type:               Other
JESComponent.71.Param:              PtAbsEta
JESComponent.71.Hists:              Xcalib_TopoClustering

# Cross-calibration early data uncertainty
JESComponent.72.Name:               Xcalib_4
JESComponent.72.Desc:               X-calib: early data term 
JESComponent.72.Type:               Other
JESComponent.72.Param:              PtAbsEta
JESComponent.72.Hists:              Xcalib_EarlyData

# Cross-calibration noise threshold uncertainty
JESComponent.73.Name:		    Xcalib_5
JESComponent.73.Desc:		    X-calib: noise threshold term
JESComponent.73.Type:               Other
JESComponent.73.Param:              PtAbsEta
JESComponent.73.Hists:              Xcalib_NoiseThreshold

# Cross-calibration underlying event uncertainty
JESComponent.74.Name:		    Xcalib_6
JESComponent.74.Desc:		    X-calib: underlying event term
JESComponent.74.Type:               Other
JESComponent.74.Param:              PtAbsEta
JESComponent.74.Hists:              Xcalib_UnderlyingEvent

##############################################################################

