##############################################################################
#
#  JESProvider Input Settings
#    Reduced set of nuisance parameters from final 2012 iteration of the in-situ JES
#    + 2015 cross-calibration uncertainty components (50ns version)
#    Reduction was applied globally
#    Resulting components are combined into three parameters (plus non-closure)
#    This is combination scenario 1 of 4
#    June 4, 2015
#
#  S. Schramm, D. DeMarco, K. Pachal
#
##############################################################################

UncertaintyRelease:                 2015_Prerec
SupportedJetDefs:                   AntiKt4EMTopo
SupportedMCTypes:                   MC15,AFII
UncertaintyRootFile:                JES_2015/Prerec/JESUncertainty_2015.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       20.7
Pileup.NPVRef:                      12.5

##############################################################################
# 
#   Settings for JES Component Groups
#
##############################################################################

JESGroup.1.Name:                    GroupedNP_1
JESGroup.1.Desc:                    Strongly reduced JES uncertainty component 1
JESGroup.1.Type:                    Other
JESGroup.1.Corr:                    Uncorrelated
JESGroup.1.Group:                   1

JESGroup.2.Name:                    GroupedNP_2
JESGroup.2.Desc:                    Strongly reduced JES uncertainty component 2
JESGroup.2.Type:                    Other
JESGroup.2.Corr:                    Uncorrelated
JESGroup.2.Group:                   2

JESGroup.3.Name:                    GroupedNP_3
JESGroup.3.Desc:                    Strongly reduced JES uncertainty component 3
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Uncorrelated
JESGroup.3.Group:                   3


##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

JESComponent.1.Name:                EffectiveNP_1
JESComponent.1.Desc:                Effective JES Uncertainty Component 1
JESComponent.1.Type:                Effective
JESComponent.1.Param:               Pt
JESComponent.1.Hists:               EffectiveNP_2012_1
JESComponent.1.Group:               1

JESComponent.2.Name:                EffectiveNP_2
JESComponent.2.Desc:                Effective JES Uncertainty Component 2
JESComponent.2.Type:                Effective
JESComponent.2.Param:               Pt
JESComponent.2.Hists:               EffectiveNP_2012_2
JESComponent.2.Group:               2

JESComponent.3.Name:                EffectiveNP_3
JESComponent.3.Desc:                Effective JES Uncertainty Component 3
JESComponent.3.Type:                Effective
JESComponent.3.Param:               Pt
JESComponent.3.Hists:               EffectiveNP_2012_3
JESComponent.3.Group:               2

JESComponent.4.Name:                EffectiveNP_4
JESComponent.4.Desc:                Effective JES Uncertainty Component 4
JESComponent.4.Type:                Effective
JESComponent.4.Param:               Pt
JESComponent.4.Hists:               EffectiveNP_2012_4
JESComponent.4.Group:               2

JESComponent.5.Name:                EffectiveNP_5
JESComponent.5.Desc:                Effective JES Uncertainty Component 5
JESComponent.5.Type:                Effective
JESComponent.5.Param:               Pt
JESComponent.5.Hists:               EffectiveNP_2012_5
JESComponent.5.Group:               2

JESComponent.6.Name:                EffectiveNP_6restTerm
JESComponent.6.Desc:                Effective JES Uncertainty Component 6
JESComponent.6.Type:                Effective
JESComponent.6.Param:               Pt
JESComponent.6.Hists:               EffectiveNP_2012_6restTerm
JESComponent.6.Group:               2


##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration: theory uncertainty, functional part
JESComponent.7.Name:                EtaIntercalibration_Modelling
JESComponent.7.Desc:                Eta intercalibration: MC generator modelling uncertainty
JESComponent.7.Type:                Modelling
JESComponent.7.Param:               PtEta
JESComponent.7.Split:               1
JESComponent.7.Group:               2

# Eta intercalibration: theory uncertainty, complementary part
JESComponent.8.Name:                EtaIntercalibration_Modelling
JESComponent.8.Desc:                Eta intercalibration: MC generator modelling uncertainty
JESComponent.8.Type:                Modelling
JESComponent.8.Param:               PtEta
JESComponent.8.Split:               -1
JESComponent.8.Group:               1

# Eta intercalibration: total statistical and method uncertainty
JESComponent.9.Name:                EtaIntercalibration_TotalStat
JESComponent.9.Desc:                Eta intercalibration: statistical uncertainty
JESComponent.9.Type:                Statistical
JESComponent.9.Param:               PtEta
JESComponent.9.Group:               1

# High pT term
JESComponent.10.Name:               SingleParticle_HighPt
JESComponent.10.Desc:               High pT term (2012 version)
JESComponent.10.Type:               Detector
JESComponent.10.Param:              Pt
JESComponent.10.Group:              3

# Calibration closure
JESComponent.11.Name:               RelativeNonClosure_MCTYPE
JESComponent.11.Desc:               Closure of the calibration, relative to MC12a
JESComponent.11.Type:               Other
JESComponent.11.Param:              PtEta
JESComponent.11.Group:              0
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initializing the provider

# Pileup: Mu term
JESComponent.12.Name:               Pileup_OffsetMu
JESComponent.12.Desc:               Pileup: Offset, mu term
JESComponent.12.Type:               Other
JESComponent.12.Param:              PtEta
JESComponent.12.Special:            True
JESComponent.12.Group:              1

# Pileup: NPV term
JESComponent.13.Name:               Pileup_OffsetNPV
JESComponent.13.Desc:               Pileup: Offset, NPV term
JESComponent.13.Type:               Other
JESComponent.13.Param:              PtEta
JESComponent.13.Special:            True
JESComponent.13.Group:              1

# Pileup: pT term
JESComponent.14.Name:               Pileup_PtTerm
JESComponent.14.Desc:               Pileup: Offset, pT term
JESComponent.14.Type:               Other
JESComponent.14.Param:              PtEta
JESComponent.14.Special:            True
JESComponent.14.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV
JESComponent.14.Group:              1

# JetAreas rho topology
JESComponent.15.Name:               Pileup_RhoTopology
JESComponent.15.Desc:               Rho topology uncertainty (jet areas)
JESComponent.15.Type:               Other
JESComponent.15.Param:              PtEta
JESComponent.15.Special:            True
JESComponent.15.Group:              1

# Flavour composition uncertainty, functional part
JESComponent.16.Name:               Flavor_Composition
JESComponent.16.Desc:               Flavor composition uncertainty
JESComponent.16.Type:               Modelling
JESComponent.16.Param:              PtEta
JESComponent.16.Special:            True
JESComponent.16.Hists:              flavorCompGlu,flavorCompLight
JESComponent.16.Split:              1
JESComponent.16.Group:              2

# Flavour composition uncertainty, complementary part
JESComponent.17.Name:               Flavor_Composition
JESComponent.17.Desc:               Flavor composition uncertainty
JESComponent.17.Type:               Modelling
JESComponent.17.Param:              PtEta
JESComponent.17.Special:            True
JESComponent.17.Hists:              flavorCompGlu,flavorCompLight
JESComponent.17.Split:              -1
JESComponent.17.Group:              1

# Flavour response uncertainty, functional part
JESComponent.18.Name:               Flavor_Response
JESComponent.18.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.18.Type:               Modelling
JESComponent.18.Param:              PtEta
JESComponent.18.Special:            True
JESComponent.18.Hists:              FlavorResponse
JESComponent.18.Split:              1
JESComponent.18.Group:              2

# Flavour response uncertainty, complementary part
JESComponent.19.Name:               Flavor_Response
JESComponent.19.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.19.Type:               Modelling
JESComponent.19.Param:              PtEta
JESComponent.19.Special:            True
JESComponent.19.Hists:              FlavorResponse
JESComponent.19.Split:              -1
JESComponent.19.Group:              1

# bJES uncertainty, functional part
JESComponent.20.Name:               BJES_Response
JESComponent.20.Desc:               JES uncertainty for b jets
JESComponent.20.Type:               Modelling
JESComponent.20.Param:              PtEta
JESComponent.20.Special:            True
JESComponent.20.Hists:              bJES
JESComponent.20.Split:              1
JESComponent.20.Group:              2

# bJES uncertainty, complementary part
JESComponent.21.Name:               BJES_Response
JESComponent.21.Desc:               JES uncertainty for b jets
JESComponent.21.Type:               Modelling
JESComponent.21.Param:              PtEta
JESComponent.21.Special:            True
JESComponent.21.Hists:              bJES
JESComponent.21.Split:              -1
JESComponent.21.Group:              1

# Punch-through uncertainty
JESComponent.22.Name:               PunchThrough_MCTYPE
JESComponent.22.Desc:               Punch-through correction uncertainty
JESComponent.22.Type:               Detector
JESComponent.22.Param:              PtAbsEta
JESComponent.22.Interp:             False
JESComponent.22.Special:            True
JESComponent.22.Group:              3

##############################################################################
# 
#   2015 Cross-Calibration components
#
##############################################################################

# Cross-calibration bunch spacing uncertainty
JESComponent.23.Name:               Xcalib_1
JESComponent.23.Desc:               X-calib: bunch spacing term 
JESComponent.23.Type:               Other
JESComponent.23.Param:              PtAbsEta
JESComponent.23.Hists:              Xcalib_50nsVs25ns_Central
JESComponent.23.Group:              1

# Cross-calibration digitization uncertainty
JESComponent.24.Name:               Xcalib_2
JESComponent.24.Desc:               X-calib: digitization term
JESComponent.24.Type:               Other
JESComponent.24.Param:              PtAbsEta
JESComponent.24.Hists:              Xcalib_5Vs4sample
JESComponent.24.Group:              1

# Cross-calibration topoclustering uncertainty
JESComponent.25.Name:               Xcalib_3
JESComponent.25.Desc:               X-calib: topoclustering term 
JESComponent.25.Type:               Other
JESComponent.25.Param:              PtAbsEta
JESComponent.25.Hists:              Xcalib_TopoClustering
JESComponent.25.Group:              1

# Cross-calibration early data uncertainty
JESComponent.26.Name:               Xcalib_4
JESComponent.26.Desc:               X-calib: early data term 
JESComponent.26.Type:               Other
JESComponent.26.Param:              PtAbsEta
JESComponent.26.Hists:              Xcalib_EarlyData
JESComponent.26.Group:              1

# Cross-calibration noise threshold uncertainty
JESComponent.27.Name:		    Xcalib_5
JESComponent.27.Desc:		    X-calib: noise threshold term
JESComponent.27.Type:               Other
JESComponent.27.Param:              PtAbsEta
JESComponent.27.Hists:              Xcalib_NoiseThreshold
JESComponent.27.Group:              1

# Cross-calibration underlying event uncertainty
JESComponent.28.Name:		    Xcalib_6
JESComponent.28.Desc:		    X-calib: underlying event term
JESComponent.28.Type:               Other
JESComponent.28.Param:              PtAbsEta
JESComponent.28.Hists:              Xcalib_UnderlyingEvent
JESComponent.28.Group:              1

##############################################################################

