# **********************************************************************
# $Id: collisions_minutes10.config 524535 2012-11-05 16:13:03Z kastanas $
# **********************************************************************

output top_level {
	output InnerDetector {
		output Global {
			output Hits {
			}
			output Track {
			}
		}
	}
}

dir InDetGlobal {
	dir Hits {
		hist  Trk_nPIXDeadModules_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
		hist  Trk_nSCTDeadModules_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
	        hist Trk_nPIXhits_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
		hist Trk_nSCThits_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
		hist Trk_nTRThits_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
	}
	dir Track {
		hist COMB_goodPixTrk_eta_phi {
			algorithm = IDGL_BinsDiff
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodPixTrkRatio_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodSctTrk_eta_phi {
			algorithm = IDGL_BinsDiff
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodSctTrkRatio_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodTrtTrk_eta_phi {
			algorithm = IDGL_BinsDiff
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist ID_COMB_noBLayerHit_eta_phi_lowStat {
			algorithm = GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist ID_COMB_noBLayerHitExpected_eta_phi_lowStat {
			algorithm = GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
	}

}

algorithm IDGL_BinsDiff {
	name = BinsDiffByStrips
	thresholds = IDGL_Bins_thresh
	SigmaThresh = 2
	libname = libdqm_algorithms.so
}

thresholds IDGL_Bins_thresh {
	limits MaxDeviation {
		warning = 4
		error = 5
	}
}
