# **********************************************************************
# $Id: cosmics_run.config 659104 2015-04-06 11:24:59Z kastanas $
# **********************************************************************

############################################################
# InDetGlobal
############################################################

#############
# Output
#############

output top_level {

	#algorithm = WorstCaseSummary
	
	output InnerDetector {
		output Global {
			output Hits {
			}
			output PrimaryVertex {
			}
			output Track {
			       output TrackRates {
			       }
			}
		}
	}
}

#######################
# Histogram Assessments
#######################

dir InDetGlobal {
	
	algorithm = ID_GatherData
	reference = CentrallyManagedReferences
	output = InnerDetector/Global
	  
	dir Hits {
		hist Trk_nPIXhits_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Hits
		}
		hist Trk_nSCThits_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Hits
		}
		hist Trk_nTRThits_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Hits
		}
		hist Trk_nPIXdisabled_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Hits
		}
		hist Trk_nSCTdisabled_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Hits
		}
		hist Trk_nTRTdisabled_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Hits
		}
	}

	dir PrimaryVertex {
		hist pvN {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex
		}
		hist pvNPriVtx {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex
		}
		hist pvNTracks {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex
		}
		hist pvChiSqDof {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex
		}
	}
			
	dir Track {
		hist nCOMBtrks {
			algorithm = ID_nCOMBTrk
			output = InnerDetector/Global/Track
		}

		hist COMB_eta_phi {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track
		}

		hist Trk_nLoose_LB {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track/TrackRates
		}
		hist Trk_nLoosePrimary_LB {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track/TrackRates
		}
		hist Trk_nTight_LB {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track/TrackRates
		}
		hist Trk_LoosePrimary_eta_phi_ratio {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track
		}
		hist Trk_Tight_eta_phi_ratio {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track
		}
		hist Trk_noBLhits_LB {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track/TrackRates
		}
		hist Trk_noIBLhits_LB {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track/TrackRates
		}
		hist Trk_noBLhit_eta_phi_ratio {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track
		}
		hist Trk_noIBLhit_eta_phi_ratio {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track
		}
		hist Trk_noTRText_LB {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track/TrackRates
		}
		hist Trk_noTRText_eta_phi_ratio {
			algorithm = Histogram_Not_Empty
			output = InnerDetector/Global/Track
		}
	}
}


#############
# Algorithms 
#############

algorithm ID_Synch_BCID_Hits {
	name = Bins_Diff_FromAvg
	NSigma = 3
	thresholds = ID_Synch_BCID_Hits_Thresh
	xmin = 0
	xmax = 3653
}
	

thresholds ID_Synch_BCID_Hits_Thresh {
	limits NBins {
		error = 50
		warning = 40
	}
}


algorithm ID_GatherData {
	name = GatherData
	libname = libdqm_algorithms.so
}
 
algorithm ID_TrkComparison {
	name = BinPrint
	UnMask_All = 4	
	libname = libdqm_algorithms.so
}

compositeAlgorithm HITSDIST_Comp {
	libnames = libdqm_algorithms.so
        subalgs = CheckHisto_Mean,BinPrint

}

algorithm ID_PIXhit_distr {
	name = HITSDIST_Comp
	xmin = 0
	xmax = 10
	reference = CentrallyManagedReferences
        UnMask_All = 1
	thresholds = ID_PixHits_Thresh
}



algorithm ID_Synch_diff {
	name = Bins_LessThan_Threshold
	BinThreshold = 0
	MinStat = 100
	xmin = 0
	xmax = 36
	thresholds = ID_Synch_diff_Thresh
}

#algorithm ID_UnderflowPrint {
#        name = BinPrint
#	Mask_0 = 1
#	libname = libdqm_algorithms.so
#}	


algorithm ID_nCOMBTrk {
        name = CheckHisto_Mean
        xmin = 0
        xmax = 12
        reference = CentrallyManagedReferences
	thresholds = ID_nCOMBTracks_Thresh
}

algorithm ID_nCOMBd0 {
        name = CheckHisto_Mean
        xmin = -500
        xmax = 500
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBd0_Thresh
}

algorithm ID_nCOMBz0 {
        name = CheckHisto_Mean
        xmin = -3000
        xmax = 3000
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBz0_Thresh
}

algorithm ID_nCOMBpt {
        name = CheckHisto_Mean
        xmin = 0
        xmax = 100
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBpt_Thresh
}

algorithm ID_nCOMBqoverp {
        name = CheckHisto_Mean
        xmin = -3
        xmax = 3
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBqoverp_Thresh
}

algorithm ID_nPIXhits_nSCThits_distr {
	name = HITSDIST_Comp
 	xmin = 0
        xmax = 40
	ymin = 0
	ymax = 40
        UnMask_All = 1
        reference = CentrallyManagedReferences
	thresholds = ID_nPIXhits_nSCThits_Thresh
}

algorithm ID_nSihits_nTRThits_distr {
        name = CheckHisto_Mean
        xmin = 0
        xmax = 60
        ymin = 0
        ymax = 40
        UnMask_All = 1
        reference = CentrallyManagedReferences
        thresholds = ID_nSihits_nTRThits_Thresh
}

algorithm ID_SCThit_distr {
        name = HITSDIST_Comp
	xmin = 0
	xmax = 30
        UnMask_All = 1
        reference = CentrallyManagedReferences
        thresholds = ID_SCTHits_Thresh
}

algorithm ID_TRThit_distr {
        name = HITSDIST_Comp
	xmin = 0
	xmax = 90
	Mask_-1 = 1
        reference = CentrallyManagedReferences
        thresholds = ID_TRTHits_Thresh
}

algorithm ID_TRTHLhit_distr {
        name = HITSDIST_Comp
	xmin = 0
	xmax = 50
        UnMask_All = 1
        reference = CentrallyManagedReferences
        thresholds = ID_TRTHLHits_Thresh
}

algorithm ID_NoiseSCT_PIX_Alg {
	name = CheckRMS&Histogram_Not_Empty
	thresholds = ID_NoiseSCT_PIX_Thresh
}
algorithm ID_NoiseSCT_TRT_Alg {
	name = CheckRMS&Histogram_Not_Empty
	thresholds = ID_NoiseSCT_TRT_Thresh
}
algorithm ID_NoiseTRT_PIX_Alg {
	name = CheckRMS&Histogram_Not_Empty
	thresholds = ID_NoiseTRT_PIX_Thresh
}
#algorithm ID_NoPIX_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoPIX_Thresh
#}
#algorithm ID_NoSCT_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoSCT_Thresh
#}
#algorithm ID_NoTRT_Alg {
#	name = BinsNotThreshold&Histogram_Not_Empty
#	BinThreshold = 0 
#	ymin = 0.04
#	thresholds = ID_NoTRT_Thresh
#}
#algorithm ID_HitsHL_Alg {
#	libname = libdqm_algorithms.so
#	name = BinContentComp
#	reference = CentrallyManagedReferences
#	NSigma = 10
#	thresholds = ID_HitsNbin_Thresh
#}
#algorithm ID_HitsLL_Alg {
#	name = CheckMean&Histogram_Not_Empty
#	thresholds = ID_HitsTRTMean_Thresh
#}


#############
# Thresholds
#############

thresholds  ID_NoiseSCT_TRT_Thresh {
	limits XRMS {
		warning = 0.00005
		error   = 0.0001
	}
	limits YRMS {
		warning = 0.005
		error   = 0.01
	}
}
thresholds  ID_NoiseSCT_PIX_Thresh {
	limits XRMS {
		warning = 0.00005
		error   = 0.0001
	}
	limits YRMS {
		warning = 0.000005
		error   = 0.00001
	}
}
thresholds  ID_NoiseTRT_PIX_Thresh {
	limits YRMS {
		warning = 0.005
		error   = 0.01
	}
	limits XRMS {
		warning = 0.000005
		error   = 0.00001
	}
}
#thresholds ID_NoTRT_Thresh {
#	limits NBins {
#		warning = 1
#		error   = 2
#	}
#}
#thresholds ID_NoPIX_Thresh {
#	limits YRMS {
#		warning = 1e-05
#		error   = 2e-05
#	}
#}
#thresholds ID_NoSCT_Thresh {
#	limits YRMS {
#		warning = 0.0001
#		error   = 0.0002
#	}
#}
#thresholds ID_HitsNbin_Thresh {
#	limits NBins {
#		warning = 5
#		error = 10
#	}
#}
#thresholds ID_Hits_Thresh {
#	limits MaxDist {
#		warning = 0.06
#		error   = 0.1
#	}
#}

thresholds ID_nPIXhits_nSCThits_Thresh {
        limits XMean {
                warning = 2.5
                error = 2
        }
        limits YMean {
                warning = 10
                error = 6
        }
}

thresholds ID_nSihits_nTRThits_Thresh {
        limits YMean {
                warning = 10
                error = 6
        }
        limits XMean {
                warning = 30
                error = 20
        }
}

#thresholds ID_HitsTRTMean_Thresh {
#	limits XMean {
#		warning = 15
#		error = 16
#	}
#}
      
thresholds ID_PixHits_Thresh {
	limits XMean {
		warning = 2.5
		error = 2
	}
}

thresholds ID_SCTHits_Thresh {
	limits XMean {
		warning = 12
		error = 10
	}
}

thresholds ID_TRTHits_Thresh {
	limits XMean {
		warning = 20
		error = 15
	}
}

thresholds ID_TRTHLHits_Thresh {
	limits XMean {
		warning = 8
		error = 5
	}
}

thresholds ID_nCOMBTracks_Thresh {
        limits XMean {
                warning = 1.5
                error = 2
        }
}

thresholds ID_nCOMBd0_Thresh {
        limits AbsXMean {
                warning = 100
                error = 150
        }
}

thresholds ID_nCOMBz0_Thresh {
        limits AbsXMean {
                warning = 100
                error = 150
        }
}

thresholds ID_nCOMBpt_Thresh {
        limits AbsXMean {
                warning = 15
                error = 20
        }
}

thresholds ID_nCOMBqoverp_Thresh {
        limits AbsXMean {
                warning = 0.3
                error = 0.5
        }
}

thresholds ID_Synch_diff_Thresh {
        limits NBins {
                warning = 1
                error = 2
        }
}

#thresholds ID_Trk_eta_phi_Thresh {
#        limits MaxDist {
#                warning = 0.05
#                error = 0.1
#        }
#}
