# **********************************************************************
# $Id: heavyions_run.config 516887 2012-09-09 22:34:18Z vogel $
# **********************************************************************

############################################################
# InDetGlobal
############################################################

#############
# Output
#############

output top_level {

	#algorithm = WorstCaseSummary
	
	output InnerDetector {
		output Global {
			output Synch {
				output SynchExpert {
				}
			}
			output Hits {
			}
			output PrimaryVertex {
				output PrimaryVertexExpert {
				}
				output PrimaryVertexEnhanced {
				}
			}
			output Track {
				output TrackRates {
				}
			}
			output BeamSpot {
			}
		}
	}
}

#######################
# Histogram Assessments
#######################

dir InDetGlobal {
	
	algorithm = IDGL_GatherData
	reference = CentrallyManagedReferences
	output = InnerDetector/Global

	dir Synch {
		hist m_diff_Overview_BCID {
			algorithm = Histogram_Empty
                        output = InnerDetector/Global/Synch
		}
                hist m_diff_Overview_LVL1ID {
                        algorithm = Histogram_Empty
                        output = InnerDetector/Global/Synch
		}
		hist m_diff_LVL1ID {
			algorithm = ID_Synch_diff
			output = InnerDetector/Global/Synch/SynchExpert
		}
		hist m_diff_BCID {
			algorithm = ID_Synch_diff
			output = InnerDetector/Global/Synch/SynchExpert
		}
		hist m_InDet_Hits_BCID {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Synch
		}
		hist m_Pixel_Hits_BCID {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Synch/SynchExpert
		}
		hist m_SCT_Hits_BCID {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Synch/SynchExpert
		}
		hist m_TRT_Hits_BCID {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Synch/SynchExpert
		}
		hist m_Tracks_BCID {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Synch
		}
	}

	dir Hits {
		hist Trk_nPIXhits {
			algorithm = ID_PIXhit_distr
			output = InnerDetector/Global/Hits
			display = AxisRange(1,8,"X") 
		}
		hist Trk_nSCThits {
			algorithm = ID_SCThit_distr
			output = InnerDetector/Global/Hits
			display = AxisRange(1,18,"X") 
		}
		hist  Trk_nPIXDeadModules_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
		hist  Trk_nSCTDeadModules_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Hits
		}
		hist Trk_nTRThits {
			algorithm = ID_TRThit_distr
			output = InnerDetector/Global/Hits
			display = AxisRange(1,60,"X") 
		}
	        hist Trk_nPIXhits_eta_phi {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Hits
		}
		hist Trk_nSCThits_eta_phi {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Hits
		}
		hist Trk_nTRThits_eta_phi {
			algorithm = IDGL_GatherData
			output = InnerDetector/Global/Hits
		}
	}
		
	dir PrimaryVertex {
		hist pvNPriVtx {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
		}
                hist pvX {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex
                }
                hist pvY {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex
                }
                hist pvZ {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex
                }
		hist pvNTracks {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex
		}
		hist pvN {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex
		}
                hist pvNPileupVtx {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
                }
		hist pvErrX {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
                }
                hist pvErrY {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
                }
                hist pvErrZ {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
                }
		hist pvChiSqDof {
                	algorithm = GatherData
			output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
		}
		hist pvTrackPt {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
                }
		hist pvTrackEta {
                        algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexExpert
                }
		hist resolution_X_Ntrk {
			algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexEnhanced
                }
		hist resolution_Y_Ntrk {
			algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexEnhanced
                }
		hist resolution_Z_Ntrk {
			algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexEnhanced
                }

		hist scaleFactor_X_Ntrk_Fit {
			algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexEnhanced
                }
		hist scaleFactor_Y_Ntrk_Fit {
			algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexEnhanced
                }
		hist scaleFactor_Z_Ntrk_Fit {
			algorithm = GatherData
                        output = InnerDetector/Global/PrimaryVertex/PrimaryVertexEnhanced
                }
	}
			
	dir Track {
		hist COMB_nCOMBtrks_LB {
			algorithm = GatherData
			output = InnerDetector/Global/Track
		}
		hist COMB_d0 {
 			algorithm = ID_nCOMBd0
			output = InnerDetector/Global/Track
		}
		hist COMB_z0 {
			algorithm = ID_nCOMBz0
			output = InnerDetector/Global/Track
		}
		hist COMB_eta_phi {
			algorithm = GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_qoverp {
			algorithm = ID_nCOMBqoverp
			output = InnerDetector/Global/Track
		}
		hist COMB_pt {
			algorithm = ID_nCOMBpt
			output = InnerDetector/Global/Track
		}
		hist PIX_ntrk_LB {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track/TrackRates
		}
		hist SCT_ntrk_LB {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track/TrackRates
		}
		hist TRT_ntrk_LB {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track/TrackRates
		}
                hist nCOMBtrks {
                        algorithm = ID_nCOMBTrk
                        output = InnerDetector/Global/Track
		}
		hist COMB_goodPixTrk_eta_phi {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodPixTrkRatio_eta_phi {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodSctTrk_eta_phi {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodSctTrkRatio_eta_phi {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist COMB_goodTrtTrk_eta_phi {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist ID_COMB_noBLayerHit_eta_phi_lowStat {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
		hist ID_COMB_noBLayerHitExpected_eta_phi_lowStat {
			algorithm = ID_GatherData
			output = InnerDetector/Global/Track
			display = SetGridy,SetGridx,TText(0.75,0.92,"pt>0.5MeV")NDC
		}
	}

	dir BeamSpot {
      		output = InnerDetector/Global/BeamSpot
      		hist pvX {
        		algorithm = IDG_CheckHisto_Mean&GatherData
      		}
      		hist pvY {
     		   	algorithm = IDG_CheckHisto_Mean&GatherData
      		}
		hist pvZ {
		        algorithm = ID_BS_pvLong_CheckHisto_Mean&GatherData
		}
	        hist pvX {
		        algorithm = Histogram_Not_Empty
		}
	        hist pvXZ {
   			algorithm = Histogram_Not_Empty
		}
	        hist pvYZ {
   			algorithm = Histogram_Not_Empty
		}
      		hist pvYX {
        		algorithm = Histogram_Not_Empty
      		}
      		hist pvChiSqDof {
       			algorithm = IDG_Histogram_Not_Empty&GatherData
      		}
      		hist trkDPhi {
        		algorithm = Histogram_Not_Empty
      		}
      		hist trkDPhiCorr {
        		algorithm = Histogram_Not_Empty
      		}
      		hist bsX {
        		algorithm = IDG_CheckHisto_Mean&GatherData
      		}
      		hist bsY {
        		algorithm = IDG_CheckHisto_Mean&GatherData
      		}
      		hist bsZ {
        		algorithm = ID_BS_pvLong_CheckHisto_Mean&GatherData
      		}
      		hist bsTiltX {
        		algorithm = ID_BS_xTilt_CheckHisto_Mean&GatherData
     		}
      		hist bsTiltY {
        		algorithm = ID_BS_yTilt_CheckHisto_Mean&GatherData
      		}
	}	  
}	


#############
# Algorithms 
#############

#algorithm ID_Synch_BCID_Hits {
#	name = Bins_Diff_FromAvg
#	NSigma = 3
#	thresholds = ID_Synch_BCID_Hits_Thresh
#	xmin = 0
#	xmax = 3653
#}
#
#
#thresholds ID_Synch_BCID_Hits_Thresh {
#	limits NBins {
#		error = 50
#		warning = 40
#	}
#}


algorithm ID_GatherData {
	name = GatherData
	libname = libdqm_algorithms.so
}
 
#algorithm ID_TrkComparison {
#	name = BinPrint
#	UnMask_All = 4	
#	libname = libdqm_algorithms.so
#}

compositeAlgorithm HITSDIST_Comp {
	libnames = libdqm_algorithms.so
        subalgs = KolmogorovTest_MaxDist

}

algorithm ID_PIXhit_distr {
	name = HITSDIST_Comp
	reference = CentrallyManagedReferences
	thresholds = ID_PixHits_Thresh
}



algorithm ID_Synch_diff {
	name = Bins_LessThan_Threshold
	BinThreshold = 0
	MinStat = 100
	xmin = 0
	xmax = 36
	thresholds = ID_Synch_diff_Thresh
}

#algorithm ID_UnderflowPrint {
#	name = BinPrint
#	Mask_0 = 1
#	libname = libdqm_algorithms.so
#}	


algorithm ID_nCOMBTrk {
        name = CheckHisto_Mean
        xmin = 0
        xmax = 200
        reference = CentrallyManagedReferences
	thresholds = ID_nCOMBTracks_Thresh
}

algorithm ID_nCOMBd0 {
        name = CheckHisto_Mean
        xmin = -500
        xmax = 500
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBd0_Thresh
}

algorithm ID_nCOMBz0 {
        name = CheckHisto_Mean
        xmin = -3000
        xmax = 3000
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBz0_Thresh
}

algorithm ID_nCOMBpt {
        name = CheckHisto_Mean
        xmin = 0
        xmax = 100
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBpt_Thresh
}

algorithm ID_nCOMBqoverp {
        name = CheckHisto_Mean
        xmin = -3
        xmax = 3
        reference = CentrallyManagedReferences
        thresholds = ID_nCOMBqoverp_Thresh
}

algorithm ID_SCThit_distr {
        name = HITSDIST_Comp
        reference = CentrallyManagedReferences
        thresholds = ID_SCTHits_Thresh
}

algorithm ID_TRThit_distr {
        name = HITSDIST_Comp
        reference = CentrallyManagedReferences
        thresholds = ID_TRTHits_Thresh
}

#algorithm ID_NoiseSCT_PIX_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoiseSCT_PIX_Thresh
#}
#algorithm ID_NoiseSCT_TRT_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoiseSCT_TRT_Thresh
#}
#algorithm ID_NoiseTRT_PIX_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoiseTRT_PIX_Thresh
#}
#algorithm ID_NoPIX_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoPIX_Thresh
#}
#algorithm ID_NoSCT_Alg {
#	name = CheckRMS&Histogram_Not_Empty
#	thresholds = ID_NoSCT_Thresh
#}
#algorithm ID_NoTRT_Alg {
#	name = BinsNotThreshold&Histogram_Not_Empty
#	BinThreshold = 0 
#	ymin = 0.04
#	thresholds = ID_NoTRT_Thresh
#}
#algorithm ID_HitsHL_Alg {
#	libname = libdqm_algorithms.so
#	name = BinContentComp
#	reference = CentrallyManagedReferences
#	NSigma = 10
#	thresholds = ID_HitsNbin_Thresh
#}
#algorithm ID_HitsLL_Alg {
#	name = CheckMean&Histogram_Not_Empty
#	thresholds = ID_HitsTRTMean_Thresh
#}

algorithm IDGL_GatherData {
	name = GatherData
	libname = libdqm_algorithms.so
        reference = CentrallyManagedReferences
}


algorithm IDG_Histogram_Not_Empty&GatherData {
  name = Histogram_Not_Empty&GatherData
}

#
# BeamSpot
#

algorithm IDG_CheckHisto_Mean&GatherData {
  name = CheckHisto_Mean&GatherData
  thresholds = IDG_BS_pvTrans_Thresh
  MinStat = 1000
}

algorithm ID_BS_xTilt_CheckHisto_Mean&GatherData {
  name = CheckHisto_Mean&GatherData
  thresholds = IDG_BS_xTilt_Thresh
  SubtractFromXMean = -10
  MinStat = 1000
}

algorithm ID_BS_yTilt_CheckHisto_Mean&GatherData {
  name = CheckHisto_Mean&GatherData
  thresholds = IDG_BS_yTilt_Thresh
  SubtractFromXMean = -50
  MinStat = 1000
}

#algorithm ID_BS_pvTrans_CheckHisto_Mean&GatherData {
#  name = CheckHisto_Mean&GatherData
#  thresholds = IDG_BS_pvTrans_Thresh
#  MinStat = 1000
#}

algorithm ID_BS_pvLong_CheckHisto_Mean&GatherData {
  name = CheckHisto_Mean&GatherData
  thresholds = IDG_BS_pvLong_Thresh
  MinStat = 1000
}


#############
# Thresholds
#############

#thresholds  ID_NoiseSCT_TRT_Thresh {
#	limits XRMS {
#		warning = 0.00005
#		error   = 0.0001
#	}
#	limits YRMS {
#		warning = 0.005
#		error   = 0.01
#	}
#}
#thresholds  ID_NoiseSCT_PIX_Thresh {
#	limits XRMS {
#		warning = 0.00005
#		error   = 0.0001
#	}
#	limits YRMS {
#		warning = 0.000005
#		error   = 0.00001
#	}
#}
#thresholds  ID_NoiseTRT_PIX_Thresh {
#	limits YRMS {
#		warning = 0.005
#		error   = 0.01
#	}
#	limits XRMS {
#		warning = 0.000005
#		error   = 0.00001
#	}
#}
#thresholds ID_NoTRT_Thresh {
#	limits NBins {
#		warning = 1
#		error   = 2
#	}
#}
#thresholds ID_NoPIX_Thresh {
#	limits YRMS {
#		warning = 1e-05
#		error   = 2e-05
#	}
#}
#thresholds ID_NoSCT_Thresh {
#	limits YRMS {
#		warning = 0.0001
#		error   = 0.0002
#	}
#}
#thresholds ID_HitsNbin_Thresh {
#	limits NBins {
#		warning = 5
#		error = 10
#	}
#}
#
#thresholds ID_Hits_Thresh {
#	limits MaxDist {
#		warning = 0.06
#		error   = 0.1
#	}
#}
#
#thresholds ID_nPIXhits_nSCThits_Thresh {
#        limits XMean {
#                warning = 2.5
#                error = 2
#        }
#        limits YMean {
#                warning = 6.5
#                error = 6
#        }
#}
#
#thresholds ID_nSihits_nTRThits_Thresh {
#        limits YMean {
#                warning = 10
#                error = 6
#        }
#        limits XMean {
#                warning = 6.5   # No Pixel in yet (A.K. 01/12)
#                error = 6
#        }
#}
#
#thresholds ID_HitsTRTMean_Thresh {
# 	limits XMean {
#		warning = 20
#		error = 15
#	}
#}
      
thresholds ID_PixHits_Thresh {
	limits MaxDist {
		warning = 0.04
		error = 0.08
	}
}

thresholds ID_SCTHits_Thresh {
	limits MaxDist {
		warning = 0.05
		error = 0.1
	}
}

thresholds ID_TRTHits_Thresh {
	limits MaxDist {
		warning = 0.02
		error = 0.04
	}
}

thresholds ID_nCOMBTracks_Thresh {
        limits XMean {
                warning = 6
                error = 5
        }
}

thresholds ID_nCOMBd0_Thresh {
        limits AbsXMean {
                warning = 100
                error = 150
        }
}

thresholds ID_nCOMBz0_Thresh {
        limits AbsXMean {
                warning = 100
                error = 150
        }
}

thresholds ID_nCOMBpt_Thresh {
        limits AbsXMean {
                warning = 15
                error = 20
        }
}

thresholds ID_nCOMBqoverp_Thresh {
        limits AbsXMean {
                warning = 0.3
                error = 0.5
        }
}

thresholds ID_Synch_diff_Thresh {
        limits NBins {
                warning = 1
                error = 2
        }
}

#thresholds ID_Trk_eta_phi_Thresh {
#        limits MaxDist {
#                warning = 0.05
#                error = 0.1
#        }
#}

#
# BeamSpot
#
thresholds IDG_BS_pvTrans_Thresh {
  limits AbsXMean {
    warning = 2
    error = 5
  }
}

thresholds IDG_BS_xTilt_Thresh {
  limits AbsXMean {
    warning = 30
    error = 50
  }
}

thresholds IDG_BS_yTilt_Thresh {
  limits AbsXMean {
    warning = 30
    error = 50
  }
}

thresholds IDG_BS_pvLong_Thresh {
  limits AbsXMean {
    warning = 15
    error = 20
  }
}
