# **********************************************************************
# $Id: collisions_run.config 687953 2015-08-06 15:52:44Z ebergeas $
# **********************************************************************

############################################################
# TRT
############################################################

############################################################
# Output
############################################################

output top_level {
  output InnerDetector {
    output TRT {
      output Residuals {
      }
    }
  }
}

############################################################
# Histogram Assessments
############################################################
dir TRT {
  dir Shift {
    dir Barrel {
      hist hResidual {
        algorithm = TRT_IterativeGaussianFit/Residual
        output = InnerDetector/TRT/Residuals
        display = Draw=HIST
      }
      hist hResidual_Ar {
        weight = 0
        algorithm = TRT_IterativeGaussianFit/Residual
        output = InnerDetector/TRT/Residuals
        display = Draw=HIST
      }
    }
    dir EndCap {
      hist hResidual_A {
        algorithm = TRT_IterativeGaussianFit/Residual
        output = InnerDetector/TRT/Residuals
        display = Draw=HIST
      }
      hist hResidual_Ar_A {
        weight = 0
        algorithm = TRT_IterativeGaussianFit/Residual
        output = InnerDetector/TRT/Residuals
        display = Draw=HIST
      }
      hist hResidual_C {
        algorithm = TRT_IterativeGaussianFit/Residual
        output = InnerDetector/TRT/Residuals
        display = Draw=HIST
      }
      hist hResidual_Ar_C {
        weight = 0
        algorithm = TRT_IterativeGaussianFit/Residual
        output = InnerDetector/TRT/Residuals
        display = Draw=HIST
      }
    }
  }
}

############################################################
# Algorithms
############################################################

algorithm TRT_IterativeGaussianFit {
  libname = libdqm_algorithms.so
  name = IterativeGaussianFit
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  MinStat = 0.1
  SigmaRange = 1.5

  algorithm Residual {
    thresholds = TRT_IterativeGaussianFit/Residual
    MeanNominal = 0.0
    SigmaMax = 1.0
  }
}

############################################################
# Thresholds
############################################################

thresholds TRT_IterativeGaussianFit {
  thresholds Residual {
    limits MeanDeviation {
      warning = 0.001
      error = 0.002
    }
    limits Sigma {
      warning = 0.150
      error = 0.200
    }
  }
}
