
##############################################################################
#
#  JESProvider Input Settings
#    Full list of nuisance parameters from the 2016 Moriond recommendations
#    iteration of the JES, adapted for the TLA search.
#
#    78 NP groups
#       - 74 unchanged from the original
#       - Flavour composition and response updated (no GSC for TLA)
#       - NPV offset updated (no PVs for TLA)
#       - 1 new TLA scale factor uncertainty (online to offline)
#
#    April 17 2016
#
#  C. Doglioni, F. Ruehr, S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_TLA
SupportedJetDefs:                   AntiKt4EMTopo
SupportedMCTypes:                   MC15,AFII
UncertaintyRootFile:                TLA_2015/JESUncertainty_TLA2015.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtEta

# Jan 2016
Pileup.MuRef:                       13.6
Pileup.NPVRef:                      8.7

##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

# LAr (Z/gamma+jet): energy scale, material
JESComponent.1.Name:                LAr_JVT
JESComponent.1.Desc:                LAr JVT
JESComponent.1.Type:                Modelling
JESComponent.1.Corr:                Correlated
JESComponent.1.Param:               Pt
JESComponent.1.SubComp:             Zjet_JVT Gjet_JVT

# LAr (Z/gamma+jet): energy scale, Z->ee
JESComponent.2.Desc:                LAr energy scale - Zee component
JESComponent.2.Name:                LAr_ESZee
JESComponent.2.Type:                Mixed
JESComponent.2.Corr:                Correlated
JESComponent.2.Param:               Pt
JESComponent.2.SubComp:             Zjet_ElecESZee Gjet_GamESZee

# LAr (Z/gamma+jet): energy smearing
JESComponent.3.Desc:                LAr energy smearing
JESComponent.3.Name:                LAr_Esmear
JESComponent.3.Type:                Mixed
JESComponent.3.Corr:                Correlated
JESComponent.3.Param:               Pt
JESComponent.3.SubComp:             Zjet_ElecEsmear Gjet_GamEsmear

# Z+jet: dPhi
JESComponent.4.Name:                Zjet_dPhi
JESComponent.4.Desc:                Z+jet dPhi cut
JESComponent.4.Type:                Modelling
JESComponent.4.Param:               Pt

# Z+jet: MC
JESComponent.5.Name:                Zjet_MC
JESComponent.5.Desc:                Z+jet Monte Carlo generator difference
JESComponent.5.Type:                Modelling
JESComponent.5.Param:               Pt

# Z+jet: muon scale
JESComponent.7.Name:                Zjet_MuScale
JESComponent.7.Desc:                Z+jet muon scale
JESComponent.7.Type:                Detector
JESComponent.7.Param:               Pt

# Z+jet: muon smearing, inner detector
JESComponent.8.Name:                Zjet_MuSmearID
JESComponent.8.Desc:                Z+jet muon smearing (inner detector)
JESComponent.8.Type:                Modelling
JESComponent.8.Param:               Pt

# Z+jet: muon smearing, muon spectrometer
JESComponent.9.Name:                Zjet_MuSmearMS
JESComponent.9.Desc:                Z+jet muon smearing (muon spectrometer)
JESComponent.9.Type:                Modelling
JESComponent.9.Param:               Pt

# Z+jet: k-term
JESComponent.10.Name:               Zjet_KTerm
JESComponent.10.Desc:               Z+jet out-of-cone radiation
JESComponent.10.Type:               Modelling
JESComponent.10.Param:              Pt

# Z+jet: Veto
JESComponent.11.Name:               Zjet_Veto
JESComponent.11.Desc:               Z+jet radiation suppression (second jet veto)
JESComponent.11.Type:               Modelling
JESComponent.11.Param:              Pt

# gamma+jet: dPhi 
JESComponent.12.Name:               Gjet_dPhi
JESComponent.12.Desc:               gamma+jet dPhi
JESComponent.12.Type:               Modelling
JESComponent.12.Param:              Pt

# gamma+jet: Generator
JESComponent.13.Name:               Gjet_Generator
JESComponent.13.Desc:               gamma+jet Monte Carlo generator difference
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              Pt

# gamma+jet: Out-of-cone
JESComponent.14.Name:               Gjet_OOC
JESComponent.14.Desc:               gamma+jet out-of-cone radiation
JESComponent.14.Type:               Modelling
JESComponent.14.Param:              Pt

# gamma+jet: Purity
JESComponent.15.Name:               Gjet_Purity
JESComponent.15.Desc:               gamma+jet photon purity
JESComponent.15.Type:               Detector
JESComponent.15.Param:              Pt

# gamma+jet: Veto
JESComponent.16.Name:               Gjet_Veto
JESComponent.16.Desc:               gamma+jet radiation suppression (second jet veto)
JESComponent.16.Type:               Modelling
JESComponent.16.Param:              Pt

# MJB: Alpha
JESComponent.17.Name:               MJB_Alpha
JESComponent.17.Desc:               MJB jet topology selection (alpha)
JESComponent.17.Type:               Modelling
JESComponent.17.Param:              Pt

# MJB: Beta
JESComponent.18.Name:               MJB_Beta
JESComponent.18.Desc:               MJB jet topology selection (beta)
JESComponent.18.Type:               Modelling
JESComponent.18.Param:              Pt

# MJB: Fragmentation
JESComponent.19.Name:               MJB_Fragmentation
JESComponent.19.Desc:               MJB Fragmentation uncertainty
JESComponent.19.Type:               Mixed
JESComponent.19.Param:              Pt

# MJB: Asymmetry selection
JESComponent.20.Name:               MJB_Asym
JESComponent.20.Desc:               MJB asymmetry uncertainty
JESComponent.20.Type:               Modelling
JESComponent.20.Param:              Pt

# MJB: Threshold
JESComponent.21.Name:               MJB_Threshold
JESComponent.21.Desc:               MJB uncertainty due to jet threshold
JESComponent.21.Type:               Mixed
JESComponent.21.Param:              Pt

##############################################################################
# 
#   Statistical components, identified by source
#
##############################################################################

# Z+jet statistical component No. 1
JESComponent.22.Name:               Zjet_Stat1
JESComponent.22.Desc:               Z+jet statistical uncertainty No. 1
JESComponent.22.Type:               Statistical
JESComponent.22.Param:              Pt

# Z+jet statistical component No. 2
JESComponent.23.Name:               Zjet_Stat2
JESComponent.23.Desc:               Z+jet statistical uncertainty No. 2
JESComponent.23.Type:               Statistical
JESComponent.23.Param:              Pt

# Z+jet statistical component No. 3
JESComponent.24.Name:               Zjet_Stat3
JESComponent.24.Desc:               Z+jet statistical uncertainty No. 3
JESComponent.24.Type:               Statistical
JESComponent.24.Param:              Pt

# Z+jet statistical component No. 4
JESComponent.25.Name:               Zjet_Stat4
JESComponent.25.Desc:               Z+jet statistical uncertainty No. 4
JESComponent.25.Type:               Statistical
JESComponent.25.Param:              Pt

# Z+jet statistical component No. 5
JESComponent.26.Name:               Zjet_Stat5
JESComponent.26.Desc:               Z+jet statistical uncertainty No. 5
JESComponent.26.Type:               Statistical
JESComponent.26.Param:              Pt

# Z+jet statistical component No. 6
JESComponent.27.Name:               Zjet_Stat6
JESComponent.27.Desc:               Z+jet statistical uncertainty No. 6
JESComponent.27.Type:               Statistical
JESComponent.27.Param:              Pt

# Z+jet statistical component No. 7
JESComponent.28.Name:               Zjet_Stat7
JESComponent.28.Desc:               Z+jet statistical uncertainty No. 7
JESComponent.28.Type:               Statistical
JESComponent.28.Param:              Pt

# Z+jet statistical component No. 8
JESComponent.29.Name:               Zjet_Stat8
JESComponent.29.Desc:               Z+jet statistical uncertainty No. 8
JESComponent.29.Type:               Statistical
JESComponent.29.Param:              Pt

# Z+jet statistical component No. 9
JESComponent.30.Name:               Zjet_Stat9
JESComponent.30.Desc:               Z+jet statistical uncertainty No. 9
JESComponent.30.Type:               Statistical
JESComponent.30.Param:              Pt

# Z+jet statistical component No. 10
JESComponent.31.Name:               Zjet_Stat10
JESComponent.31.Desc:               Z+jet statistical uncertainty No. 10
JESComponent.31.Type:               Statistical
JESComponent.31.Param:              Pt

# Z+jet statistical component No. 11
JESComponent.32.Name:               Zjet_Stat11
JESComponent.32.Desc:               Z+jet statistical uncertainty No. 11
JESComponent.32.Type:               Statistical
JESComponent.32.Param:              Pt

# Z+jet statistical component No. 12
JESComponent.33.Name:               Zjet_Stat12
JESComponent.33.Desc:               Z+jet statistical uncertainty No. 12
JESComponent.33.Type:               Statistical
JESComponent.33.Param:              Pt

# Z+jet statistical component No. 13
JESComponent.34.Name:               Zjet_Stat13
JESComponent.34.Desc:               Z+jet statistical uncertainty No. 13
JESComponent.34.Type:               Statistical
JESComponent.34.Param:              Pt

# gamma+jet statistical component No. 1
JESComponent.35.Name:               Gjet_Stat1
JESComponent.35.Desc:               gamma+jet statistical uncertainty No. 1
JESComponent.35.Type:               Statistical
JESComponent.35.Param:              Pt

# gamma+jet statistical component No. 2
JESComponent.36.Name:               Gjet_Stat2
JESComponent.36.Desc:               gamma+jet statistical uncertainty No. 2
JESComponent.36.Type:               Statistical
JESComponent.36.Param:              Pt

# gamma+jet statistical component No. 3
JESComponent.37.Name:               Gjet_Stat3
JESComponent.37.Desc:               gamma+jet statistical uncertainty No. 3
JESComponent.37.Type:               Statistical
JESComponent.37.Param:              Pt

# gamma+jet statistical component No. 4
JESComponent.38.Name:               Gjet_Stat4
JESComponent.38.Desc:               gamma+jet statistical uncertainty No. 4
JESComponent.38.Type:               Statistical
JESComponent.38.Param:              Pt

# gamma+jet statistical component No. 5
JESComponent.39.Name:               Gjet_Stat5
JESComponent.39.Desc:               gamma+jet statistical uncertainty No. 5
JESComponent.39.Type:               Statistical
JESComponent.39.Param:              Pt

# gamma+jet statistical component No. 6
JESComponent.40.Name:               Gjet_Stat6
JESComponent.40.Desc:               gamma+jet statistical uncertainty No. 6
JESComponent.40.Type:               Statistical
JESComponent.40.Param:              Pt

# gamma+jet statistical component No. 7
JESComponent.41.Name:               Gjet_Stat7
JESComponent.41.Desc:               gamma+jet statistical uncertainty No. 7
JESComponent.41.Type:               Statistical
JESComponent.41.Param:              Pt

# gamma+jet statistical component No. 8
JESComponent.42.Name:               Gjet_Stat8
JESComponent.42.Desc:               gamma+jet statistical uncertainty No. 8
JESComponent.42.Type:               Statistical
JESComponent.42.Param:              Pt

# gamma+jet statistical component No. 9
JESComponent.43.Name:               Gjet_Stat9
JESComponent.43.Desc:               gamma+jet statistical uncertainty No. 9
JESComponent.43.Type:               Statistical
JESComponent.43.Param:              Pt

# gamma+jet statistical component No. 10
JESComponent.44.Name:               Gjet_Stat10
JESComponent.44.Desc:               gamma+jet statistical uncertainty No. 10
JESComponent.44.Type:               Statistical
JESComponent.44.Param:              Pt

# gamma+jet statistical component No. 11
JESComponent.45.Name:               Gjet_Stat11
JESComponent.45.Desc:               gamma+jet statistical uncertainty No. 11
JESComponent.45.Type:               Statistical
JESComponent.45.Param:              Pt

# gamma+jet statistical component No. 12
JESComponent.46.Name:               Gjet_Stat12
JESComponent.46.Desc:               gamma+jet statistical uncertainty No. 12
JESComponent.46.Type:               Statistical
JESComponent.46.Param:              Pt

# gamma+jet statistical component No. 13
JESComponent.47.Name:               Gjet_Stat13
JESComponent.47.Desc:               gamma+jet statistical uncertainty No. 13
JESComponent.47.Type:               Statistical
JESComponent.47.Param:              Pt

# gamma+jet statistical component No. 14
JESComponent.48.Name:               Gjet_Stat14
JESComponent.48.Desc:               gamma+jet statistical uncertainty No. 14
JESComponent.48.Type:               Statistical
JESComponent.48.Param:              Pt

# gamma+jet statistical component No. 15
JESComponent.49.Name:               Gjet_Stat15
JESComponent.49.Desc:               gamma+jet statistical uncertainty No. 15
JESComponent.49.Type:               Statistical
JESComponent.49.Param:              Pt

# MJB statistical component No. 1
JESComponent.50.Name:               MJB_Stat1
JESComponent.50.Desc:               MJB statistical uncertainty No. 1
JESComponent.50.Type:               Statistical
JESComponent.50.Param:              Pt

# MJB statistical component No. 2
JESComponent.51.Name:               MJB_Stat2
JESComponent.51.Desc:               MJB statistical uncertainty No. 2
JESComponent.51.Type:               Statistical
JESComponent.51.Param:              Pt

# MJB statistical component No. 3
JESComponent.52.Name:               MJB_Stat3
JESComponent.52.Desc:               MJB statistical uncertainty No. 3
JESComponent.52.Type:               Statistical
JESComponent.52.Param:              Pt

# MJB statistical component No. 4
JESComponent.53.Name:               MJB_Stat4
JESComponent.53.Desc:               MJB statistical uncertainty No. 4
JESComponent.53.Type:               Statistical
JESComponent.53.Param:              Pt

# MJB statistical component No. 5
JESComponent.54.Name:               MJB_Stat5
JESComponent.54.Desc:               MJB statistical uncertainty No. 5
JESComponent.54.Type:               Statistical
JESComponent.54.Param:              Pt

# MJB statistical component No. 6
JESComponent.55.Name:               MJB_Stat6
JESComponent.55.Desc:               MJB statistical uncertainty No. 6
JESComponent.55.Type:               Statistical
JESComponent.55.Param:              Pt

# MJB statistical component No. 7
JESComponent.56.Name:               MJB_Stat7
JESComponent.56.Desc:               MJB statistical uncertainty No. 7
JESComponent.56.Type:               Statistical
JESComponent.56.Param:              Pt

# MJB statistical component No. 8
JESComponent.57.Name:               MJB_Stat8
JESComponent.57.Desc:               MJB statistical uncertainty No. 8
JESComponent.57.Type:               Statistical
JESComponent.57.Param:              Pt

# MJB statistical component No. 9
JESComponent.58.Name:               MJB_Stat9
JESComponent.58.Desc:               MJB statistical uncertainty No. 9
JESComponent.58.Type:               Statistical
JESComponent.58.Param:              Pt

# MJB statistical component No. 10
JESComponent.59.Name:               MJB_Stat10
JESComponent.59.Desc:               MJB statistical uncertainty No. 10
JESComponent.59.Type:               Statistical
JESComponent.59.Param:              Pt

# MJB statistical component No. 11
JESComponent.60.Name:               MJB_Stat11
JESComponent.60.Desc:               MJB statistical uncertainty No. 11
JESComponent.60.Type:               Statistical
JESComponent.60.Param:              Pt

# MJB statistical component No. 12
JESComponent.61.Name:               MJB_Stat12
JESComponent.61.Desc:               MJB statistical uncertainty No. 12
JESComponent.61.Type:               Statistical
JESComponent.61.Param:              Pt

# MJB statistical component No. 13
JESComponent.62.Name:               MJB_Stat13
JESComponent.62.Desc:               MJB statistical uncertainty No. 13
JESComponent.62.Type:               Statistical
JESComponent.62.Param:              Pt

# MJB statistical component No. 14
JESComponent.63.Name:               MJB_Stat14
JESComponent.63.Desc:               MJB statistical uncertainty No. 14
JESComponent.63.Type:               Statistical
JESComponent.63.Param:              Pt

# MJB statistical component No. 15
JESComponent.64.Name:               MJB_Stat15
JESComponent.64.Desc:               MJB statistical uncertainty No. 15
JESComponent.64.Type:               Statistical
JESComponent.64.Param:              Pt

# MJB statistical component No. 16
JESComponent.65.Name:               MJB_Stat16
JESComponent.65.Desc:               MJB statistical uncertainty No. 16
JESComponent.65.Type:               Statistical
JESComponent.65.Param:              Pt


##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration combines 2D components with standard 1D components.
# Use explicit groups

# Eta intercalibration: theory uncertainty
JESGroup.1.Name:                    EtaIntercalibration_Modelling
JESGroup.1.Desc:                    Eta intercalibration: MC generator modelling uncertainty
JESGroup.1.Type:                    Modelling
JESGroup.1.Corr:                    Correlated
JESGroup.1.Group:                   1
JESGroup.1.Reducible:               False

JESComponent.66.Name:               EtaIntercalibration_Modelling_orig
JESComponent.66.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.66.Type:               Modelling
JESComponent.66.Param:              PtEta
JESComponent.66.Hists:              EtaIntercalibration_Modelling
JESComponent.66.Group:              1
JESComponent.66.Reducible:          False

JESComponent.67.Name:               EtaIntercalibration_Modelling_prop
JESComponent.67.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.67.Type:               Modelling
JESComponent.67.Param:              Pt
JESComponent.67.Hists:              InSituProp_EtaIntercalModelling
JESComponent.67.Group:              1
JESComponent.67.Reducible:          False

# Eta intercalibration: total statistical and method uncertainty
JESGroup.2.Name:                    EtaIntercalibration_TotalStat
JESGroup.2.Desc:                    Eta intercalibration: statistical uncertainty
JESGroup.2.Type:                    Statistical
JESGroup.2.Corr:                    Correlated
JESGroup.2.Group:                   2
JESGroup.2.Reducible:               False

JESComponent.68.Name:               EtaIntercalibration_TotalStat_orig
JESComponent.68.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.68.Type:               Statistical
JESComponent.68.Param:              PtEta
JESComponent.68.Hists:              EtaIntercalibration_TotalStat
JESComponent.68.Group:              2
JESComponent.68.Reducible:          False

JESComponent.69.Name:               EtaIntercalibration_TotalStat_prop
JESComponent.69.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.69.Type:               Statistical
JESComponent.69.Param:              Pt
JESComponent.69.Hists:              InSituProp_EtaIntercalStat
JESComponent.69.Group:              2
JESComponent.69.Reducible:          False

# Eta intercalibration non-closure uncertainty: this one was not propagated
# through mjb so it stands alone
JESComponent.70.Name:               EtaIntercalibration_NonClosure
JESComponent.70.Desc:               Eta intercalibration: non-closure uncertainty
JESComponent.70.Type:               Other
JESComponent.70.Param:              PtEta
JESComponent.70.Interp:             False
JESComponent.70.Hists:              EtaIntercalibration_NonClosure
JESComponent.70.Reducible:          False

# High pT term
JESComponent.71.Name:               SingleParticle_HighPt
JESComponent.71.Desc:               High pT term (2012 version)
JESComponent.71.Type:               Detector
JESComponent.71.Param:              Pt
JESComponent.71.Reducible:          False

# Calibration closure
JESComponent.72.Name:               RelativeNonClosure_MCTYPE
JESComponent.72.Desc:               Closure of the calibration, relative to MC12a
JESComponent.72.Type:               Other
JESComponent.72.Param:              PtEta
JESComponent.72.Reducible:          False
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initializing the provider

# Pileup needs to combine special 2D components with standard 1D components
# so it needs explicit groups.

# Mu term grouping
JESGroup.3.Name:                    Pileup_OffsetMu
JESGroup.3.Desc:                    Pileup: Offset, mu term
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Correlated
JESGroup.3.Group:                   3
JESGroup.3.Reducible:               False

# Pileup: Original mu term
JESComponent.73.Name:               Pileup_OffsetMu_orig
JESComponent.73.Desc:               Pileup: Offset, mu term, independent
JESComponent.73.Type:               Other
JESComponent.73.Param:              PtEta
JESComponent.73.Special:            True
JESComponent.73.Hists:              Pileup_OffsetMu
JESComponent.73.Group:              3
JESComponent.73.Reducible:          False

# Pileup: Propagated mu term
JESComponent.74.Name:               Pileup_OffsetMu_prop
JESComponent.74.Desc:               Pileup: Offset, mu term, propagated through mjb
JESComponent.74.Type:               Other
JESComponent.74.Param:              Pt
JESComponent.74.Hists:              InSituProp_PileupOffsetMu
JESComponent.74.Group:              3
JESComponent.74.Reducible:          False

# NPV term grouping
JESGroup.4.Name:                    Pileup_OffsetNPV
JESGroup.4.Desc:                    Pileup: Offset, NPV term
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Correlated
JESGroup.4.Group:                   4
JESGroup.4.Reducible:               False

# Pileup: Original NPV term
JESComponent.75.Name:               Pileup_OffsetNPV_orig
JESComponent.75.Desc:               Pileup: Offset, NPV term, independent
JESComponent.75.Type:               Other
JESComponent.75.Param:              PtEta
JESComponent.75.Special:            True
JESComponent.75.Hists:              Pileup_OffsetNPV
JESComponent.75.Group:              4
JESComponent.75.Reducible:          False

# Pileup: Propagated NPV term
JESComponent.76.Name:               Pileup_OffsetNPV_prop
JESComponent.76.Desc:               Pileup: Offset, NPV term, propagated through mjb
JESComponent.76.Type:               Other
JESComponent.76.Param:              Pt
JESComponent.76.Hists:              InSituProp_PileupOffsetNPV
JESComponent.76.Group:              4
JESComponent.76.Reducible:          False

# pT term grouping
JESGroup.5.Name:                    Pileup_PtTerm
JESGroup.5.Desc:                    Pileup: Offset, pT term
JESGroup.5.Type:                    Other
JESGroup.5.Corr:                    Correlated
JESGroup.5.Group:                   5
JESGroup.5.Reducible:               False

# Original pT term
JESComponent.77.Name:               Pileup_PtTerm_orig
JESComponent.77.Desc:               Pileup: Offset, pT term, independent
JESComponent.77.Type:               Other
JESComponent.77.Corr:               Correlated
JESComponent.77.Param:              PtEta
JESComponent.77.Special:            True
JESComponent.77.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV
JESComponent.77.Group:              5
JESComponent.77.Reducible:          False

# Propagated pT term
JESComponent.78.Name:               Pileup_PtTerm_prop
JESComponent.78.Desc:               Pileup: Offset, pT term, propagated through mjb
JESComponent.78.Type:               Other
JESComponent.78.Param:              Pt
JESComponent.78.Hists:              InSituProp_PileupPtTerm
JESComponent.78.Group:              5
JESComponent.78.Reducible:          False

# rho topology grouping
JESGroup.6.Name:                    Pileup_RhoTopology
JESGroup.6.Desc:                    Rho topology uncertainty (jet areas)
JESGroup.6.Type:                    Other
JESGroup.6.Corr:                    Correlated
JESGroup.6.Group:                   6
JESGroup.6.Reducible:               False

# Original JetAreas rho topology
JESComponent.79.Name:               Pileup_RhoTopology_orig
JESComponent.79.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.79.Type:               Other
JESComponent.79.Param:              PtEta
JESComponent.79.Special:            True
JESComponent.79.Hists:              Pileup_RhoTopology
JESComponent.79.Group:              6
JESComponent.79.Reducible:          False

# Propagated JetAreas rho topology
JESComponent.80.Name:               Pileup_RhoTopology_prop
JESComponent.80.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.80.Type:               Other
JESComponent.80.Param:              Pt
JESComponent.80.Hists:              InSituProp_PileupRhoTopology
JESComponent.80.Group:              6
JESComponent.80.Reducible:          False

# Flavour composition needs to combine special 2D components with standard 1D components
# so it needs explicit groups too.

# Flavour composition grouping
JESGroup.7.Name:                    Flavor_Composition
JESGroup.7.Desc:                    Flavor composition uncertainty
JESGroup.7.Type:                    Modelling
JESGroup.7.Corr:                    Correlated
JESGroup.7.Group:                   7
JESGroup.7.Reducible:               False

# Original flavour composition uncertainty
JESComponent.81.Name:               Flavor_Composition_orig
JESComponent.81.Desc:               Flavor composition uncertainty, independent
JESComponent.81.Type:               Modelling
JESComponent.81.Corr:               Correlated
JESComponent.81.Param:              PtEta
JESComponent.81.Special:            True
JESComponent.81.Hists:              flavorCompGlu,flavorCompLight
JESComponent.81.Group:              7
JESComponent.81.Reducible:          False

# Propagated flavour composition uncertainty
JESComponent.82.Name:               Flavor_Composition_prop
JESComponent.82.Desc:               Flavor composition uncertainty, propagated through mjb
JESComponent.82.Type:               Modelling
JESComponent.82.Param:              Pt
JESComponent.82.Hists:              InSituProp_FlavorComposition
JESComponent.82.Group:              7
JESComponent.82.Reducible:          False

# Flavour composition grouping
JESGroup.8.Name:                    Flavor_Response
JESGroup.8.Desc:                    Flavor response uncertainty (dominated by gluon response)
JESGroup.8.Type:                    Other
JESGroup.8.Corr:                    Correlated
JESGroup.8.Group:                   8
JESGroup.8.Reducible:               False

# Original flavour response uncertainty
JESComponent.83.Name:               Flavor_Response_orig
JESComponent.83.Desc:               Flavor response uncertainty, independent
JESComponent.83.Type:               Modelling
JESComponent.83.Param:              PtEta
JESComponent.83.Special:            True
JESComponent.83.Hists:              FlavorResponse
JESComponent.83.Group:              8
JESComponent.83.Reducible:          False

# Propagated flavour response uncertainty
JESComponent.84.Name:               Flavor_Response_prop
JESComponent.84.Desc:               Flavor response uncertainty, propagated through mjb
JESComponent.84.Type:               Modelling
JESComponent.84.Param:              Pt
JESComponent.84.Hists:              InSituProp_FlavorResponse
JESComponent.84.Group:              8
JESComponent.84.Reducible:          False

# bJES uncertainty
JESComponent.85.Name:               BJES_Response
JESComponent.85.Desc:               JES uncertainty for b jets
JESComponent.85.Type:               Modelling
JESComponent.85.Param:              PtEta
JESComponent.85.Special:            True
JESComponent.85.Hists:              bJES
JESComponent.85.Reducible:          False

# Make one more explicit group for the punchthrough
JESGroup.9.Name:                    PunchThrough_MCTYPE
JESGroup.9.Desc:                    Punch-through correction uncertainty
JESGroup.9.Type:                    Detector
JESGroup.9.Corr:                    Correlated
JESGroup.9.Group:                   9
JESGroup.9.Reducible:               False

# Original punch-through uncertainty
JESComponent.86.Name:               PunchThrough_MCTYPE_orig
JESComponent.86.Desc:               Punch-through correction uncertainty, orig
JESComponent.86.Type:               Detector
JESComponent.86.Param:              PtAbsEta
JESComponent.86.Interp:             False
JESComponent.86.Special:            True
JESComponent.86.Hists:              PunchThrough_MCTYPE
JESComponent.86.Group               9
JESComponent.86.Reducible:          False

# Propagated punch-through uncertainty
JESComponent.87.Name:               PunchThrough_MCTYPE_prop
JESComponent.87.Desc:               Punch-through correction uncertainty, prop
JESComponent.87.Type:               Detector
JESComponent.87.Param:              Pt
JESComponent.87.Hists:              InSituProp_PunchThroughMC
JESComponent.87.Group               9
JESComponent.87.Reducible:          False



# TLA-specific component
JESComponent.88.Name:               TLA_ScaleFactor
JESComponent.88.Desc:               TLA scale factor uncertainty
JESComponent.88.Type:               Other
JESComponent.88.Param:              PtEta
JESComponent.88.Hists:              TLA_ScaleFactor
JESComponent.88.Group:              0
JESComponent.88.Reducible:          False


##############################################################################

