
##############################################################################
#
#  JESProvider Input Settings
#    Full list of nuisance parameters from the 2017 Moriond recommendations
#    iteration of the JES, plus Rtrk nuisance parameters for the JMS.
#
#    Reduced set of nuisance parameters for this iteration of the in-situ JES
#    Reduction was applied to the absolute in-situ globally, requiring 7+1NP
#    Resulting components are combined into three effective parameters
#       +1 MC nonclosure parameter (only if using AFII, zero for MC15)
#       +1 eta intercalibration nonclosure parameter (for |eta|~2.5)
#       +4 JMS uncertainties
#    This is combination scenario 4 of 4
#
#    15 February 2017
#
#  K. Pachal, S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2016_Moriond2017
SupportedJetDefs:                   AntiKt4EMTopo
SupportedMCTypes:                   MC15
UncertaintyRootFile:                JES_2016/Moriond2017/JESUncertainty_AllComponents.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta
FileValidHistMassDef:               Calo

# <Mu> obtained from ATLAS public plots
# <NPV> from Eric's pileup studies
# Note that Eric's studies find a MuRef of 22.8 instead.
Pileup.MuRef:                       24.2
Pileup.NPVRef:                      13.2

##############################################################################
# 
#   Settings for JES Component Groups
#
##############################################################################

JESGroup.100.Name:                  GroupedNP_1
JESGroup.100.Desc:                  Strongly reduced JES uncertainty component 1
JESGroup.100.Type:                  Other
JESGroup.100.Corr:                  Uncorrelated
JESGroup.100.Group:                 100

JESGroup.101.Name:                  GroupedNP_2
JESGroup.101.Desc:                  Strongly reduced JES uncertainty component 2
JESGroup.101.Type:                  Other
JESGroup.101.Corr:                  Uncorrelated
JESGroup.101.Group:                 101

JESGroup.102.Name:                  GroupedNP_3
JESGroup.102.Desc:                  Strongly reduced JES uncertainty component 3
JESGroup.102.Type:                  Other
JESGroup.102.Corr:                  Uncorrelated
JESGroup.102.Group:                 102


##############################################################################
# 
#   Settings for JES Components
#
##############################################################################

JESComponent.1.Name:                EffectiveNP_1
JESComponent.1.Desc:                Effective JES Uncertainty Component 1
JESComponent.1.Type:                Effective
JESComponent.1.Param:               Pt
JESComponent.1.Scale:               Pt
JESComponent.1.Hists:               EffectiveNP_1
JESComponent.1.Group:               100

JESComponent.2.Name:                EffectiveNP_2
JESComponent.2.Desc:                Effective JES Uncertainty Component 2
JESComponent.2.Type:                Effective
JESComponent.2.Param:               Pt
JESComponent.2.Scale:               Pt
JESComponent.2.Hists:               EffectiveNP_2
JESComponent.2.Group:               101

JESComponent.3.Name:                EffectiveNP_3
JESComponent.3.Desc:                Effective JES Uncertainty Component 3
JESComponent.3.Type:                Effective
JESComponent.3.Param:               Pt
JESComponent.3.Scale:               Pt
JESComponent.3.Hists:               EffectiveNP_3
JESComponent.3.Group:               101

JESComponent.4.Name:                EffectiveNP_4
JESComponent.4.Desc:                Effective JES Uncertainty Component 4
JESComponent.4.Type:                Effective
JESComponent.4.Param:               Pt
JESComponent.4.Scale:               Pt
JESComponent.4.Hists:               EffectiveNP_4
JESComponent.4.Group:               101

JESComponent.5.Name:                EffectiveNP_5
JESComponent.5.Desc:                Effective JES Uncertainty Component 5
JESComponent.5.Type:                Effective
JESComponent.5.Param:               Pt
JESComponent.5.Scale:               Pt
JESComponent.5.Hists:               EffectiveNP_5
JESComponent.5.Group:               101

JESComponent.6.Name:                EffectiveNP_6
JESComponent.6.Desc:                Effective JES Uncertainty Component 6
JESComponent.6.Type:                Effective
JESComponent.6.Param:               Pt
JESComponent.6.Scale:               Pt
JESComponent.6.Hists:               EffectiveNP_6
JESComponent.6.Group:               101

JESComponent.7.Name:                EffectiveNP_7
JESComponent.7.Desc:                Effective JES Uncertainty Component 7
JESComponent.7.Type:                Effective
JESComponent.7.Param:               Pt
JESComponent.7.Scale:               Pt
JESComponent.7.Hists:               EffectiveNP_7
JESComponent.7.Group:               101

JESComponent.8.Name:                EffectiveNP_8restTerm
JESComponent.8.Desc:                Effective JES Uncertainty Component 8
JESComponent.8.Type:                Effective
JESComponent.8.Param:               Pt
JESComponent.8.Scale:               Pt
JESComponent.8.Hists:               EffectiveNP_8restTerm
JESComponent.8.Group:               101

##############################################################################
# 
#   Special components
#
##############################################################################

# Eta intercalibration combines 2D components with standard 1D components.
# Use explicit groups

# Eta intercalibration: theory uncertainty
JESGroup.1.Name:                    EtaIntercalibration_Modelling
JESGroup.1.Desc:                    Eta intercalibration: MC generator modelling uncertainty
JESGroup.1.Type:                    Modelling
JESGroup.1.Corr:                    Correlated
JESGroup.1.Group:                   1
JESGroup.1.SubGroup:                101
JESGroup.1.Reducible:               False

JESComponent.76.Name:               EtaIntercalibration_Modelling_orig
JESComponent.76.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.76.Type:               Modelling
JESComponent.76.Param:              PtEta
JESComponent.76.Scale:              Pt
JESComponent.76.Hists:              EtaIntercalibration_Modelling
JESComponent.76.Split:              1
JESComponent.76.Group:              1
JESComponent.76.Reducible:          False

JESComponent.103.Name:               EtaIntercalibration_Modelling_orig
JESComponent.103.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.103.Type:               Modelling
JESComponent.103.Param:              PtEta
JESComponent.103.Scale:              Pt
JESComponent.103.Hists:              EtaIntercalibration_Modelling
JESComponent.103.Split:              -1
JESComponent.103.Group:              101
JESComponent.103.Reducible:          False

JESComponent.77.Name:               EtaIntercalibration_Modelling_prop
JESComponent.77.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.77.Type:               Modelling
JESComponent.77.Param:              Pt
JESComponent.77.Scale:              Pt
JESComponent.77.Hists:              InSituProp_EtaIntercalModelling
JESComponent.77.Group:              1
JESComponent.77.Reducible:          False

# Eta intercalibration: total statistical and method uncertainty
JESGroup.2.Name:                    EtaIntercalibration_TotalStat
JESGroup.2.Desc:                    Eta intercalibration: statistical uncertainty
JESGroup.2.Type:                    Statistical
JESGroup.2.Corr:                    Correlated
JESGroup.2.Group:                   2
JESGroup.2.SubGroup:                100
JESGroup.2.Reducible:               False

JESComponent.78.Name:               EtaIntercalibration_TotalStat_orig
JESComponent.78.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.78.Type:               Statistical
JESComponent.78.Param:              PtEta
JESComponent.78.Scale:              Pt
JESComponent.78.Hists:              EtaIntercalibration_TotalStat
JESComponent.78.Group:              2
JESComponent.78.Reducible:          False

JESComponent.79.Name:               EtaIntercalibration_TotalStat_prop
JESComponent.79.Desc:               Eta intercalibration: statistical uncertainty
JESComponent.79.Type:               Statistical
JESComponent.79.Param:              Pt
JESComponent.79.Scale:              Pt
JESComponent.79.Hists:              InSituProp_EtaIntercalStat
JESComponent.79.Group:              2
JESComponent.79.Reducible:          False

# Eta intercalibration non-closure uncertainty: not combined
JESGroup.3.Name:                    EtaIntercalibration_NonClosure
JESGroup.3.Desc:                    Eta intercalibration: non-closure uncertainty
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Correlated
JESGroup.3.Group:                   3
JESGroup.3.Reducible:               False
JESGroup.3.SubGroup:                0

JESComponent.80.Name:               EtaIntercalibration_NonClosure_orig
JESComponent.80.Desc:               Eta intercalibration: non-closure uncertainty
JESComponent.80.Type:               Other
JESComponent.80.Param:              PtEta
JESComponent.80.Scale:              Pt
JESComponent.80.Interp:             False
JESComponent.80.Hists:              EtaIntercalibration_NonClosure
JESComponent.80.Group:              3
JESComponent.80.Reducible:          False

JESComponent.81.Name:               EtaIntercalibration_NonClosure_prop
JESComponent.81.Desc:               Eta intercalibration: non-closure uncertainty
JESComponent.81.Type:               Other
JESComponent.81.Param:              Pt
JESComponent.81.Scale:              Pt
JESComponent.81.Interp:             False
JESComponent.81.Hists:              InSituProp_EtaIntercalNonClosure
JESComponent.81.Group:              3
JESComponent.81.Reducible:          False

# High pT term
JESComponent.82.Name:               SingleParticle_HighPt
JESComponent.82.Desc:               High pT term (2012 version)
JESComponent.82.Type:               Detector
JESComponent.82.Param:              Pt
JESComponent.82.Scale:              Pt
JESComponent.82.Reducible:          False
JESComponent.82.Group:              102

# Calibration closure
JESComponent.83.Name:               RelativeNonClosure_MCTYPE
JESComponent.83.Desc:               Closure of the calibration, relative to MC15c
JESComponent.83.Type:               Other
JESComponent.83.Param:              PtEta
JESComponent.83.Scale:              Pt
JESComponent.83.Reducible:          False
JESComponent.83.Group:              0

# NOTE: MCTYPE in the name above will be replaced by the MC type used when initializing the provider

# Pileup needs to combine special 2D components with standard 1D components
# so it needs explicit groups.

# Mu term grouping
JESGroup.4.Name:                    Pileup_OffsetMu
JESGroup.4.Desc:                    Pileup: Offset, mu term
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Correlated
JESGroup.4.Group:                   4
JESGroup.4.SubGroup:                100
JESGroup.4.Reducible:               False

# Pileup: Original mu term
JESComponent.84.Name:               Pileup_OffsetMu_orig
JESComponent.84.Desc:               Pileup: Offset, mu term, independent
JESComponent.84.Type:               Other
JESComponent.84.Param:              PtEta
JESComponent.84.Scale:              Pt
JESComponent.84.Special:            True
JESComponent.84.Hists:              Pileup_OffsetMu
JESComponent.84.Group:              4
JESComponent.84.Reducible:          False

# Pileup: Propagated mu term
JESComponent.85.Name:               Pileup_OffsetMu_prop
JESComponent.85.Desc:               Pileup: Offset, mu term, propagated through mjb
JESComponent.85.Type:               Other
JESComponent.85.Param:              Pt
JESComponent.85.Scale:              Pt
JESComponent.85.Hists:              InSituProp_PileupOffsetMu
JESComponent.85.Group:              4
JESComponent.85.Reducible:          False

# NPV term grouping
JESGroup.5.Name:                    Pileup_OffsetNPV
JESGroup.5.Desc:                    Pileup: Offset, NPV term
JESGroup.5.Type:                    Other
JESGroup.5.Corr:                    Correlated
JESGroup.5.Group:                   5
JESGroup.5.SubGroup:                100
JESGroup.5.Reducible:               False

# Pileup: Original NPV term
JESComponent.86.Name:               Pileup_OffsetNPV_orig
JESComponent.86.Desc:               Pileup: Offset, NPV term, independent
JESComponent.86.Type:               Other
JESComponent.86.Param:              PtEta
JESComponent.86.Scale:              Pt
JESComponent.86.Special:            True
JESComponent.86.Hists:              Pileup_OffsetNPV
JESComponent.86.Group:              5
JESComponent.86.Reducible:          False

# Pileup: Propagated NPV term
JESComponent.87.Name:               Pileup_OffsetNPV_prop
JESComponent.87.Desc:               Pileup: Offset, NPV term, propagated through mjb
JESComponent.87.Type:               Other
JESComponent.87.Param:              Pt
JESComponent.87.Scale:              Pt
JESComponent.87.Hists:              InSituProp_PileupOffsetNPV
JESComponent.87.Group:              5
JESComponent.87.Reducible:          False

# pT term grouping
JESGroup.6.Name:                    Pileup_PtTerm
JESGroup.6.Desc:                    Pileup: Offset, pT term
JESGroup.6.Type:                    Other
JESGroup.6.Corr:                    Correlated
JESGroup.6.Group:                   6
JESGroup.6.SubGroup:                100
JESGroup.6.Reducible:               False

# Original pT term
JESComponent.88.Name:               Pileup_PtTerm_orig
JESComponent.88.Desc:               Pileup: Offset, pT term, independent
JESComponent.88.Type:               Other
JESComponent.88.Corr:               Correlated
JESComponent.88.Param:              PtEta
JESComponent.88.Scale:              Pt
JESComponent.88.Special:            True
JESComponent.88.Hists:              Pileup_PtTerm_Mu,Pileup_PtTerm_NPV
JESComponent.88.Group:              6
JESComponent.88.Reducible:          False

# Propagated pT term
JESComponent.89.Name:               Pileup_PtTerm_prop
JESComponent.89.Desc:               Pileup: Offset, pT term, propagated through mjb
JESComponent.89.Type:               Other
JESComponent.89.Param:              Pt
JESComponent.89.Scale:              Pt
JESComponent.89.Hists:              InSituProp_PileupPtTerm
JESComponent.89.Group:              6
JESComponent.89.Reducible:          False

# rho topology grouping
JESGroup.7.Name:                    Pileup_RhoTopology
JESGroup.7.Desc:                    Rho topology uncertainty (jet areas)
JESGroup.7.Type:                    Other
JESGroup.7.Corr:                    Correlated
JESGroup.7.Group:                   7
JESGroup.7.SubGroup:                100
JESGroup.7.Reducible:               False

# Original JetAreas rho topology
JESComponent.90.Name:               Pileup_RhoTopology_orig
JESComponent.90.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.90.Type:               Other
JESComponent.90.Param:              PtEta
JESComponent.90.Scale:              Pt
JESComponent.90.Special:            True
JESComponent.90.Hists:              Pileup_RhoTopology
JESComponent.90.Group:              7
JESComponent.90.Reducible:          False

# Propagated JetAreas rho topology
JESComponent.91.Name:               Pileup_RhoTopology_prop
JESComponent.91.Desc:               Rho topology uncertainty (jet areas), independent
JESComponent.91.Type:               Other
JESComponent.91.Param:              Pt
JESComponent.91.Scale:              Pt
JESComponent.91.Hists:              InSituProp_PileupRhoTopology
JESComponent.91.Group:              7
JESComponent.91.Reducible:          False

# Flavour composition needs to combine special 2D components with standard 1D components
# so it needs explicit groups too.

# Flavour composition grouping
JESGroup.8.Name:                    Flavor_Composition
JESGroup.8.Desc:                    Flavor composition uncertainty
JESGroup.8.Type:                    Modelling
JESGroup.8.Corr:                    Correlated
JESGroup.8.Group:                   8
JESGroup.8.SubGroup:                101
JESGroup.8.Reducible:               False

# Original flavour composition uncertainty
JESComponent.92.Name:               Flavor_Composition_orig
JESComponent.92.Desc:               Flavor composition uncertainty, independent
JESComponent.92.Type:               Modelling
JESComponent.92.Corr:               Correlated
JESComponent.92.Param:              PtEta
JESComponent.92.Scale:              Pt
JESComponent.92.Special:            True
JESComponent.92.Hists:              flavorCompGlu,flavorCompLight
JESComponent.92.Group:              8
JESComponent.92.Split:              1
JESComponent.92.Reducible:          False

JESComponent.104.Name:               Flavor_Composition_orig
JESComponent.104.Desc:               Flavor composition uncertainty, independent
JESComponent.104.Type:               Modelling
JESComponent.104.Corr:               Correlated
JESComponent.104.Param:              PtEta
JESComponent.104.Scale:              Pt
JESComponent.104.Special:            True
JESComponent.104.Hists:              flavorCompGlu,flavorCompLight
JESComponent.104.Group:              101
JESComponent.104.Split:              -1
JESComponent.104.Reducible:          False

# Propagated flavour composition uncertainty
JESComponent.93.Name:               Flavor_Composition_prop
JESComponent.93.Desc:               Flavor composition uncertainty, propagated through mjb
JESComponent.93.Type:               Modelling
JESComponent.93.Param:              Pt
JESComponent.93.Scale:              Pt
JESComponent.93.Hists:              InSituProp_FlavorComposition
JESComponent.93.Group:              8
JESComponent.93.Reducible:          False

# Flavour composition grouping
JESGroup.9.Name:                    Flavor_Response
JESGroup.9.Desc:                    Flavor response uncertainty (dominated by gluon response)
JESGroup.9.Type:                    Other
JESGroup.9.Corr:                    Correlated
JESGroup.9.Group:                   9
JESGroup.9.SubGroup:                101
JESGroup.9.Reducible:               False

# Original flavour response uncertainty
JESComponent.94.Name:               Flavor_Response_orig
JESComponent.94.Desc:               Flavor response uncertainty, independent
JESComponent.94.Type:               Modelling
JESComponent.94.Param:              PtEta
JESComponent.94.Scale:              Pt
JESComponent.94.Special:            True
JESComponent.94.Hists:              FlavorResponse
JESComponent.94.Group:              9
JESComponent.94.Split:              1
JESComponent.94.Reducible:          False

JESComponent.105.Name:               Flavor_Response_orig
JESComponent.105.Desc:               Flavor response uncertainty, independent
JESComponent.105.Type:               Modelling
JESComponent.105.Param:              PtEta
JESComponent.105.Scale:              Pt
JESComponent.105.Special:            True
JESComponent.105.Hists:              FlavorResponse
JESComponent.105.Group:              100
JESComponent.105.Split:              -1
JESComponent.105.Reducible:          False

# Propagated flavour response uncertainty
JESComponent.95.Name:               Flavor_Response_prop
JESComponent.95.Desc:               Flavor response uncertainty, propagated through mjb
JESComponent.95.Type:               Modelling
JESComponent.95.Param:              Pt
JESComponent.95.Scale:              Pt
JESComponent.95.Hists:              InSituProp_FlavorResponse
JESComponent.95.Group:              9
JESComponent.95.Reducible:          False

# bJES uncertainty
JESComponent.96.Name:               BJES_Response
JESComponent.96.Desc:               JES uncertainty for b jets
JESComponent.96.Type:               Modelling
JESComponent.96.Param:              PtEta
JESComponent.96.Scale:              Pt
JESComponent.96.Special:            True
JESComponent.96.Hists:              bJES
JESComponent.96.Reducible:          False
JESComponent.96.Group:              101
JESComponent.96.Split:              1

JESComponent.106.Name:               BJES_Response
JESComponent.106.Desc:               JES uncertainty for b jets
JESComponent.106.Type:               Modelling
JESComponent.106.Param:              PtEta
JESComponent.106.Scale:              Pt
JESComponent.106.Special:            True
JESComponent.106.Hists:              bJES
JESComponent.106.Reducible:          False
JESComponent.106.Group:              100
JESComponent.106.Split:              -1

# Make one more explicit group for the punchthrough
JESGroup.10.Name:                    PunchThrough_MCTYPE
JESGroup.10.Desc:                    Punch-through correction uncertainty
JESGroup.10.Type:                    Detector
JESGroup.10.Corr:                    Correlated
JESGroup.10.Group:                   10
JESGroup.10.SubGroup:                101
JESGroup.10.Reducible:               False

# Original punch-through uncertainty
JESComponent.97.Name:               PunchThrough_MCTYPE_orig
JESComponent.97.Desc:               Punch-through correction uncertainty, orig
JESComponent.97.Type:               Detector
JESComponent.97.Param:              PtAbsEta
JESComponent.97.Scale:              Pt
JESComponent.97.Interp:             False
JESComponent.97.Special:            True
JESComponent.97.Hists:              PunchThrough_MCTYPE
JESComponent.97.Group               10
JESComponent.97.Reducible:          False

# Propagated punch-through uncertainty
JESComponent.98.Name:               PunchThrough_MCTYPE_prop
JESComponent.98.Desc:               Punch-through correction uncertainty, prop
JESComponent.98.Type:               Detector
JESComponent.98.Param:              Pt
JESComponent.98.Scale:              Pt
JESComponent.98.Hists:              InSituProp_PunchThroughMC
JESComponent.98.Group               10
JESComponent.98.Reducible:          False

##############################################################################
# 
#   Settings for JMS Components
#
##############################################################################

JESComponent.200.Name:              Rtrk_Baseline_mass
JESComponent.200.Desc:              2016 Rtrk measurement, rel 20.7: baseline mass component
JESComponent.200.Type:              Other
JESComponent.200.Param:             PtMass
JESComponent.200.Scale:             mass
JESComponent.200.MassDef:           Calo
JESComponent.200.Hists:             Rtrk_Baseline_mass_Extrap
JESComponent.200.Reducible:         False

JESComponent.201.Name:              Rtrk_Modelling_mass
JESComponent.201.Desc:              2016 Rtrk measurement, rel 20.7: modelling mass component
JESComponent.201.Type:              Other
JESComponent.201.Param:             PtMass
JESComponent.201.Scale:             mass
JESComponent.201.MassDef:           Calo
JESComponent.201.Hists:             Rtrk_Modelling_mass_Extrap
JESComponent.201.Reducible:         False

JESGroup.200.Name:                  Rrk_Tracking_mass
JESGroup.200.Desc:                  2016 Rtrk measurement, rel 20.7: tracking mass component
JESGroup.200.Type:                  Other
JESGroup.200.Group:                 200
JESGroup.200.Corr:                  Uncorrelated

JESComponent.202.Name:              Rtrk_Tracking1_mass
JESComponent.202.Param:             PtMass
JESComponent.202.Scale:             mass
JESComponent.202.MassDef:           Calo
JESComponent.202.Group:             200
JESComponent.202.Hists:             Rtrk_Tracking1_mass_Extrap

JESComponent.203.Name:              Rtrk_Tracking2_mass
JESComponent.203.Param:             PtMass
JESComponent.203.Scale:             mass
JESComponent.203.MassDef:           Calo
JESComponent.203.Group:             200
JESComponent.203.Hists:             Rtrk_Tracking2_mass_Extrap

JESComponent.204.Name:              Rtrk_Tracking3_mass
JESComponent.204.Param:             PtMass
JESComponent.204.Scale:             mass
JESComponent.204.MassDef:           Calo
JESComponent.204.Group:             200
JESComponent.204.Hists:             Rtrk_Tracking3_mass_Extrap

JESComponent.205.Name:              Rtrk_TotalStat_mass
JESComponent.205.Desc:              2016 Rtrk measurement, rel 20.7: total statistical uncertainty mass component
JESComponent.205.Type:              Other
JESComponent.205.Param:             PtMass
JESComponent.205.Scale:             mass
JESComponent.205.MassDef:           Calo
JESComponent.205.Hists:             Rtrk_TotalStat_mass_Extrap
JESComponent.205.Reducible:         False

##############################################################################

