##############################################################################
#
#  FFJetSmearingTool Input Settings
#   First config file for the FFJetSmearingTool
#
#   Full list of systematic variations as recommened by JetEtMiss at XX/XX/XXXX
#  
#   First config file: December 15 December
#   Final config: December 20, 2019
#   Updated (apply): August 24, 2019
#
#  A. Prades
#
##############################################################################

UncertaintyRelease:                 rel21_Summer2019LargeR
TruthJetColl:                       AntiKt10TruthTrimmedPtFrac5SmallR20Jets
EtaRange:                           2
#SupportedMCTypes:                   MC16
UncertaintyRootFile:                ../athena/Reconstruction/Jet/JetUncertainties/share/FFJetSmearingTool_2020/FFJetSmearingToolSimplifiedData.root
#UncertaintyRootFile: rel21/Summer2019/R10_AllComponents.root

#Path to the response maps for the Calo and TA mass (from Mike). You can change the topology of the map from "QCD" to "W" ot "Top"
CaloResponseMap:		    ResponseMaps/QCD_Calo_fit_Med_jms_vs_recopt_vs_tm_etadetbin1_smoothed
TAResponseMap:			    ResponseMaps/QCD_TA_fit_Med_jtrkms_vs_recopt_vs_tm_etadetbin1_smoothed


#Here we can find the weights to reconstruct the Combined mass
JetUncertainties_UncertaintyRootFile:                /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/JetUncertainties/CalibArea-08/rel21/Summer2019/R10_AllComponents.root
CombMassWeightCaloHist:             CombWeight_Res_CaloMass_QCD_AntiKt10LCTopoTrimmedPtFrac5SmallR20
CombMassWeightTAHist:               CombWeight_Res_TAMass_QCD_AntiKt10LCTopoTrimmedPtFrac5SmallR20

##############################################################################
# 
#   Settings for JMR Components
#
##############################################################################



# Calo JMR from FF

JMRComponent.1.Name:                CALO_FF_NOM_JMR
JMRComponent.1.Param:               PtMass
JMRComponent.1.Desc:                Calo JMR correction from FF
JMRComponent.1.MassDef:             Calo
JMRComponent.1.Type:                Mixed
JMRComponent.1.Hist:                FF/FFCalo/FF_Nom_JMR
JMRComponent.1.Topology:            All

JMRComponent.2.Name:                CALO_FF_STAT_JMR
JMRComponent.2.Param:               PtMass
JMRComponent.2.Desc:                Calo JMR statistical uncertainty from FF
JMRComponent.2.MassDef:             Calo
JMRComponent.2.Type:                Statistical
JMRComponent.2.Hist:                FF/FFCalo/FF_Stat_JMR
JMRComponent.2.Topology:            All

JMRComponent.3.Name:                CALO_FF_MCME_JMR
JMRComponent.3.Param:               PtMass
JMRComponent.3.Desc:                Calo JMR MonteCarloMatrixElement uncertainty from FF
JMRComponent.3.MassDef:             Calo
JMRComponent.3.Type:                Modelling
JMRComponent.3.Hist:                FF/FFCalo/FF_MCME_JMR
JMRComponent.3.Topology:            All

JMRComponent.4.Name:                CALO_FF_MCPS_JMR
JMRComponent.4.Param:               PtMass
JMRComponent.4.Desc:                Calo JMR MonteCarloPartonShower uncertainty from FF
JMRComponent.4.MassDef:             Calo
JMRComponent.4.Type:                Modelling
JMRComponent.4.Hist:                FF/FFCalo/FF_MCPS_JMR
JMRComponent.4.Topology:            All

JMRComponent.5.Name:                CALO_FF_MCRAD_JMR
JMRComponent.5.Param:               PtMass
JMRComponent.5.Desc:                Calo JMR MonteCarloRadiation uncertainty from FF
JMRComponent.5.MassDef:             Calo
JMRComponent.5.Type:                Modelling
JMRComponent.5.Hist:                FF/FFCalo/FF_MCRAD_JMR
JMRComponent.5.Topology:            All

JMRComponent.6.Name:                CALO_FF_MCSMALLJET_JMR
JMRComponent.6.Param:               PtMass
JMRComponent.6.Desc:                Calo JMR MonteCarloSmallJet uncertainty from FF
JMRComponent.6.MassDef:             Calo
JMRComponent.6.Type:                Mixed
JMRComponent.6.Hist:                FF/FFCalo/FF_MCSmallJET_JMR
JMRComponent.6.Topology:            All

JMRComponent.7.Name:                CALO_FF_MCLargeR_JMR
JMRComponent.7.Param:               PtMass
JMRComponent.7.Desc:                Calo JMR MonteCarloLargeRjet uncertainty from FF
JMRComponent.7.MassDef:             Calo
JMRComponent.7.Type:                Mixed
JMRComponent.7.Hist:                FF/FFCalo/FF_MCLargeR_JMR
JMRComponent.7.Topology:            All

JMRComponent.8.Name:                CALO_FF_SHAPE_JMR
JMRComponent.8.Param:               PtMass
JMRComponent.8.Desc:                Calo JMR shape uncertainty from FF
JMRComponent.8.MassDef:             Calo
JMRComponent.8.Type:                Mixed
JMRComponent.8.Hist:                FF/FFCalo/FF_SHAPE_JMR
JMRComponent.8.Topology:            All

# TA JMR from FF

JMRComponent.9.Name:                TA_FF_NOM_JMR
JMRComponent.9.Param:               PtMass
JMRComponent.9.Desc:                TA JMR correction from FF
JMRComponent.9.MassDef:             TA
JMRComponent.9.Type:                Mixed
JMRComponent.9.Hist:                FF/FFTA/FF_Nom_JMR
JMRComponent.9.Topology:            All

JMRComponent.10.Name:                TA_FF_STAT_JMR
JMRComponent.10.Param:               PtMass
JMRComponent.10.Desc:                TA JMR statistical uncertainty from FF
JMRComponent.10.MassDef:             TA
JMRComponent.10.Type:                Statistical
JMRComponent.10.Hist:                FF/FFTA/FF_Stat_JMR
JMRComponent.10.Topology:            All

JMRComponent.11.Name:                TA_FF_MCME_JMR
JMRComponent.11.Param:               PtMass
JMRComponent.11.Desc:                TA JMR MonteCarloMatrixElement uncertainty from FF
JMRComponent.11.MassDef:             TA
JMRComponent.11.Type:                Modelling
JMRComponent.11.Hist:                FF/FFTA/FF_MCME_JMR
JMRComponent.11.Topology:            All

JMRComponent.12.Name:                TA_FF_MCPS_JMR
JMRComponent.12.Param:               PtMass
JMRComponent.12.Desc:                TA JMR MonteCarloPartonShower uncertainty from FF
JMRComponent.12.MassDef:             TA
JMRComponent.12.Type:                Modelling
JMRComponent.12.Hist:                FF/FFTA/FF_MCPS_JMR
JMRComponent.12.Topology:            All

JMRComponent.13.Name:                TA_FF_MCRAD_JMR
JMRComponent.13.Param:               PtMass
JMRComponent.13.Desc:                TA JMR MonteCarloRadiation uncertainty from FF
JMRComponent.13.MassDef:             TA
JMRComponent.13.Type:                Modelling
JMRComponent.13.Hist:                FF/FFTA/FF_MCRAD_JMR
JMRComponent.13.Topology:            All

JMRComponent.14.Name:                TA_FF_MCSMALLJET_JMR
JMRComponent.14.Param:               PtMass
JMRComponent.14.Desc:                TA JMR MonteCarloSmallJet uncertainty from FF
JMRComponent.14.MassDef:             TA
JMRComponent.14.Type:                Mixed
JMRComponent.14.Hist:                FF/FFTA/FF_MCSmallJET_JMR
JMRComponent.14.Topology:            All

JMRComponent.15.Name:                TA_FF_MCLargeR_JMR
JMRComponent.15.Param:               PtMass
JMRComponent.15.Desc:                TA JMR MonteCarloLargeRjet uncertainty from FF
JMRComponent.15.MassDef:             TA
JMRComponent.15.Type:                Mixed
JMRComponent.15.Hist:                FF/FFTA/FF_MCLargeR_JMR
JMRComponent.15.Topology:            All

JMRComponent.16.Name:                TA_FF_SHAPE_JMR
JMRComponent.16.Param:               PtMass
JMRComponent.16.Desc:                TA JMR shape uncertainty from FF
JMRComponent.16.MassDef:             TA
JMRComponent.16.Type:                Mixed
JMRComponent.16.Hist:                FF/FFTA/FF_SHAPE_JMR
JMRComponent.16.Topology:            All


# JMR uncertainties outside the FF region

JMRComponent.17.Name:                CALO_JMRUNCERTAINTIESOUTSIDEFFREGION
JMRComponent.17.Param:               PtMass
JMRComponent.17.Desc:                Calo JMR uncertainty outside the region with FF measurements
JMRComponent.17.MassDef:             Calo
JMRComponent.17.Type:                Mixed
JMRComponent.17.Hist:                UncertaintiesOutsideCalibratedRegion/CALO_JMRUncertaintiesOutsideFFregion
JMRComponent.17.Topology:            All

JMRComponent.18.Name:                TA_JMRUNCERTAINTIESOUTSIDEFFREGION
JMRComponent.18.Param:               PtMass
JMRComponent.18.Desc:                TA JMR uncertainty outside the region with FF measurements
JMRComponent.18.MassDef:             TA
JMRComponent.18.Type:                Mixed
JMRComponent.18.Hist:                UncertaintiesOutsideCalibratedRegion/TA_JMRUncertaintiesOutsideFFregion
JMRComponent.18.Topology:            All

# JMR uncertainties outside the calibrated region

JMRComponent.19.Name:                CALO_JMRUNCERTAINTIESOUTSIDECALIBRATEDREGION
JMRComponent.19.Param:               PtMass
JMRComponent.19.Desc:                Calo JMR uncertainty outside the calibrated
JMRComponent.19.MassDef:             Calo
JMRComponent.19.Type:                Mixed
JMRComponent.19.Hist:                UncertaintiesOutsideCalibratedRegion/CALO_JMRUncertaintiesOutsideCalibratedRegion
JMRComponent.19.Topology:            All

JMRComponent.20.Name:                TA_JMRUNCERTAINTIESOUTSIDECALIBRATEDREGION
JMRComponent.20.Param:               PtMass
JMRComponent.20.Desc:                TA JMR uncertainty outside the calibrated
JMRComponent.20.MassDef:             TA
JMRComponent.20.Type:                Mixed
JMRComponent.20.Hist:                UncertaintiesOutsideCalibratedRegion/TA_JMRUncertaintiesOutsideCalibratedRegion
JMRComponent.20.Topology:            All

#Detector
#Statistical

