# **********************************************************************
# $Id:  collisions_run.config
# **********************************************************************

#######################
# HLT Offline Shifter 
#######################

# REMOVED as obsolete
# Just kept for the algorithms






##############
# Algorithms
##############

algorithm ShifterFermiFit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold
  MinStat = 300
  #LikelihoodFit = 2.0
}

algorithm ShifterFermiFitOff {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThresholdOff
  MinStat = 50
  #LikelihoodFit = 2.0
}

algorithm ShifterFermiFit100 {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold100
  MinStat = 300
  #LikelihoodFit = 2.0
}

algorithm ShifterFermiFit100_mu18_IDTrkNoCut_tight_pT_EF_eff {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold100
  MinStat = 1000
}

algorithm ShifterFermiFit100_tau125_IDTrkNoCut_pT_L2S_B_eff {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold100_tau125_IDTrkNoCut_pT_L2S_B_eff 
  MinStat = 300
}


# mu22 Shifter
algorithm TRMUO_fermi_fit_mu22_ESid_muFast_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_muFast_upstream
  MinPoint = 50
  ImproveFit = 1.0
}


algorithm TRMUO_fermi_fit_mu22_ESid_muComb_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_muComb_upstream
  MinPoint = 40
  ImproveFit = 1.0
}

algorithm TRMUO_fermi_fit_mu22_ESid_MuonEFCB_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_MuonEFCB_upstream
  MinPoint = 40
  ImproveFit = 1.0
}

algorithm TRMUO_fermi_fit_mu22_ESid_MuGirlEF_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_MuGirlEF_upstream
  MinPoint = 40
  ImproveFit = 1.0
}

##          EBK added algorithm
algorithm HLT_All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
}

###############
# Thresholds
###############

thresholds ShifterThreshold {
  limits Plateau {
    warning = 0.90
    error = 0.65
  }
}

thresholds ShifterThresholdOff {
  limits Plateau {
    warning = 0.50
    error = 0.25
  }
}

thresholds ShifterThreshold100 {
  limits Plateau {
    warning = 90.0
    error = 65.0
  }
}

thresholds ShifterThreshold100_tau125_IDTrkNoCut_pT_L2S_B_eff {
  limits Plateau {
    warning = 85.0
    error = 65.0
  }
}



#for Shift mu22
thresholds th_TRMUO_fermi_fit_mu22_ESid_muFast_upstream {
  limits Plateau {
    warning = 0.98
    error = 0.979
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu22_ESid_muComb_upstream {
  limits Plateau {
    warning = 0.96
    error = 0.94
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}


thresholds th_TRMUO_fermi_fit_mu22_ESid_MuonEFCB_upstream {
  limits Plateau {
    warning = 0.98
    error = 0.979
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu22_ESid_MuGirlEF_upstream {
  limits Plateau {
    warning = 0.95
    error = 0.939
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}


