# **********************************************************************
# $Id: $
# **********************************************************************

#######################
# HLT Offline Shifter 
#######################

#######################
# Output
#######################

output top_level {

  output HLT {
    output OfflineShifter {
      output Et-Pt-Spectra {
        output Egamma {
        }
      }
      output Eta-Phi-Maps {
        output Calo {
        }
        output Muons {
        }
        output Egamma {
        }
      }
      output Misc {
        output Muons {
        }
        output Bjets {
        }
        output Egamma {
        }
        output MinBias {
	  output MBTS {
	  }
	  output BCM {
	  }
	  output IDMinbias {
	  }
	  output LUCID {
	  }
	  output ZDC {
	  }
        }
      }
    }
  }
}


#######################
# Histogram Assessments
#######################

dir HLT {

  dir CaloMon {
    hist EnergyAccetaphiTile@ShifterOff {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData 
        output = HLT/OfflineShifter/Eta-Phi-Maps/Calo
    }
    hist EnergyAccetaphiLAr@ShifterOff {
        algorithm = HLTCaloHistogram_Not_Empty&GatherData 
        output = HLT/OfflineShifter/Eta-Phi-Maps/Calo
    }
  }

    dir MuonMon { 
#        dir etaphi2D {
#            hist mu4T_MSonly_L1TE50_MuFast_etaphi_wrt_MuidCB@OfflineShifter {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
#                algorithm = alg_eta_vs_phi
#                description = There are many intrinsic holes in the barrel region (|eta| < 1.05). For learning where the hole should be, please take a look on the reference histogram on the web (example from high-energy runs): https://twiki.cern.ch/twiki/bin/viewauth/Atlas/MuonSliceDataQualityMonitoring#Main_folder_OfflineShifter_Eta_P
#            }
#            hist mu4T_MSonly_L1TE50_MuonEFSA_etaphi_wrt_MuidCB@OfflineShifter {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
#                algorithm = alg_eta_vs_phi
#                description = There are many intrinsic holes in the barrel region (|eta| < 1.05). For learning where the hole should be, please take a look on the reference histogram on the web (example from high-energy runs): https://twiki.cern.ch/twiki/bin/viewauth/Atlas/MuonSliceDataQualityMonitoring#Main_folder_OfflineShifter_Eta_P
#            } 
#            hist mu4T_MuComb_etaphi_wrt_MuidCB@OfflineShifter {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
#                algorithm = alg_eta_vs_phi
#                description = There are many intrinsic holes in the barrel region (|eta| < 1.05). For learning where the hole should be, please take a look on the reference histogram on the web (example from high-energy runs): https://twiki.cern.ch/twiki/bin/viewauth/Atlas/MuonSliceDataQualityMonitoring#Main_folder_OfflineShifter_Eta_P
#            } 
#            hist mu4T_MuonEFCB_etaphi_wrt_MuidCB@OfflineShifter {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
#                algorithm = alg_eta_vs_phi
#                description = There are many intrinsic holes in the barrel region (|eta| < 1.05). For learning where the hole should be, please take a look on the reference histogram on the web (example from high-energy runs): https://twiki.cern.ch/twiki/bin/viewauth/Atlas/MuonSliceDataQualityMonitoring#Main_folder_OfflineShifter_Eta_P
#            } 
#            hist mu4T_MuFast_eta_wrt_MuidCB@OfflineShifter {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
#                description = This plot allows a closer inspection on the eta distribution of the eta-phi map. Please compare to the reference.
#                algorithm = TRMUO_GatherData
#            }
#            hist mu4T_MuFast_phi_wrt_MuidCB@OfflineShifter {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
#                description = This plot allows a closer inspection on the eta distribution of the eta-phi map. Please compare to the reference.
#                algorithm = TRMUO_GatherData
#            }
#        }
#        dir Efficiency {
#            hist mu4T_MSonly_L1TE50_ESHIL1_MuFast_Turn_On_Curve_wrt_L1_Fit@OfflineShifter {
#                output = HLT/OfflineShifter/Misc/Muons
#                algorithm = TRMUO_fermi_fit_mu4_MSonly_ESHIL1_muFast_upstream_Fit
#                description = This histogram is checked by HLT muon shifter: it is shown here for reference. Plateau efficiency should be > 90 % - detailed number for HI run is to be known.
#                display = TCanvas(900,490)
#            }
#            hist mu4T_MSonly_L1TE50_ESHIL1_MuonEFSA_Turn_On_Curve_wrt_MuFast_Fit@OfflineShifter {
#                output = HLT/OfflineShifter/Misc/Muons
#                algorithm = TRMUO_fermi_fit_mu4_MSonly_ESHIL1_MuonEFSA_upstream_Fit
#                description = This histogram is checked by HLT muon shifter: it is shown here for reference. Plateau efficiency should be > 90 % - detailed number for HI run is to be known.
#                display = TCanvas(900,490)
#            }
#            hist mu4T_ESHIid_MuComb_Turn_On_Curve_wrt_MuFast_Fit@OfflineShifter {
#                output = HLT/OfflineShifter/Misc/Muons
#                algorithm = TRMUO_fermi_fit_mu4_ESHIid_muComb_upstream_Fit
#                description = This histogram is checked by HLT muon shifter: it is shown here for reference. Plateau efficiency should be > 90 % - detailed number for HI run is to be known.
#                display = TCanvas(900,490)
#            }
#            hist mu4T_ESHIid_MuonEFCB_Turn_On_Curve_wrt_MuComb_Fit@OfflineShifter {
#                output = HLT/OfflineShifter/Misc/Muons
#                algorithm = TRMUO_fermi_fit_mu4_ESHIid_MuonEFCB_upstream_Fit
#                description = This histogram is checked by HLT muon shifter: it is shown here for reference. Plateau efficiency should be > 90 % - detailed number for HI run is to be known.
#                display = TCanvas(900,490)
#            }
#        }
    }


  dir BjetMon {
    dir mu-jet {
        hist MuJet_ALL@Shifter {
            algorithm = HLTbjet_Histogram_Not_Empty&GatherData
            output = HLT/OfflineShifter/Misc/Bjets
            weight = 0.0
            display = LogY
        }
    }
  }

#  dir EgammaSigTE {
#    dir g5_loose/PassedChain {
#        dir L1 {
#            hist EtaPhiMap@L1_Ph {
#              output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#              algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#              reference = CentrallyManagedReferences
#              description = Level 1 calorimeter coverage map. Should be roughly uniformly filled, especially not show any new holes. Discrepancies in the crack region (1.37 < |eta| < 1.52) or along phi=0 are acceptable, as long as they are uniform in the other co-ordinate.
#            }
#            hist Eta@L1_Ph {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#                algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#                reference = CentrallyManagedReferences
#                description = Level 1 calorimeter coverage in eta. Should be roughly uniformly filled, especially not show any new holes. Discrepancies in the crack region (1.37 < |eta| < 1.52), as long as they are uniform in phi.
#            }
#            hist Phi@L1_Ph {
#                output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#                algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#                reference = CentrallyManagedReferences
#                description = Level 1 calorimeter coverage map in phi. Should be roughly uniformly filled, especially not show any new holes. Discrepancies along phi=0 are acceptable, as long as they are uniform in eta.
#            }
#            hist EmClus@Ph {
#                output = HLT/OfflineShifter/Et-Pt-Spectra/Egamma
#                algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
#                reference = CentrallyManagedReferences
#                description = Level 1 transverse cluster energy for egamma objects satisfying g5_loose requirements. In case of significant deviations from reference, the corresponding energies at Level 2 and the Event Filter should also be checked.
#            }      
#        }
#        dir L2Calo {
#          hist EtaPhiMap@L2Calo_Ph {
#            output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#            algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#            reference = CentrallyManagedReferences
#            description = Level 2 calorimeter coverage map. Should be roughly uniformly filled, especially not show any new holes. Discrepancies in the crack region (1.37 < |eta| < 1.52) are acceptable, as long as they are uniform in phi.
#          }
#          hist Eta@L2Calo_Ph {
#            output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#            algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#            reference = CentrallyManagedReferences
#            description = Level 2 calorimeter coverage in eta. Should be roughly uniformly filled, especially not show any new holes. Discrepancies in the crack region (1.37 < |eta| < 1.52) are acceptable, as long as they are uniform in phi.
#          }
#          hist Phi@L2Calo_Ph {
#            output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#            algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#            reference = CentrallyManagedReferences
#            description = Level 2 calorimeter coverage in phi. Should be roughly uniformly filled, especially not show any new holes. 
#          }
#          hist Et@L2Calo_Ph {
#            output = HLT/OfflineShifter/Et-Pt-Spectra/Egamma
#            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
#            reference = CentrallyManagedReferences
#            description = Level 2 transverse cluster energy for egamma objects satisfying g5_loose requirements. In case of significant deviations from reference, the corresponding energies at Level 1 and the Event Filter should also be checked.
#          }
#          hist Rstrip@Ph {
#            output = HLT/OfflineShifter/Misc/Egamma
#            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
#            reference = CentrallyManagedReferences
#            description = Energy asymmetry of EM shower in first calorimeter sampling measured at Level 1 for all egamma objects satisfying g5_loose requirements.
#          }
#          hist Rcore@Ph {
#            output = HLT/OfflineShifter/Misc/Egamma
#            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
#            reference = CentrallyManagedReferences
#            description = Lateral spread of EM shower in second calorimeter sampling measured at Level 2 for all egamma objects satisfying g5_loose requirements.
#          }
#        }
#        dir EFCalo {
#          hist EtaPhiMap@EFCalo_Ph {
#            output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#            algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#            reference = CentrallyManagedReferences
#            description = Event Filter calorimeter coverage map. Should be roughly uniformly filled, especially not show any new holes. Discrepancies in the crack region (1.37 < |eta| < 1.52) are acceptable, as long as they are uniform in phi.
#          }
#          hist Eta@EFCalo_Ph {
#            output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#            algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#            reference = CentrallyManagedReferences
#            description = Event Filter calorimeter coverage in eta. Should be roughly uniformly filled, especially not show any new holes. Discrepancies in the crack region (1.37 < |eta| < 1.52) are acceptable, as long as they are uniform in phi.
#          }
#          hist Phi@EFCalo_Ph {
#            output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
#            algorithm = HLTgammaHistogram_Not_Empty&GatherData 
#            reference = CentrallyManagedReferences
#            description = Event Filter calorimeter coverage map. Should be roughly uniformly filled, especially not show any new holes.
#          }
#          hist Et@EFCalo_Ph {
#            output = HLT/OfflineShifter/Et-Pt-Spectra/Egamma
#            algorithm = HLTgammaHistogram_KolmogorovTest_MaxDist
#            reference = CentrallyManagedReferences
#            description = Event Filter transverse cluster energy for egamma objects satisfying g5_loose requirements. In case of significant deviations from reference, the corresponding energies at levels 1 and 2 should also be checked.
#          }
#        }
#      }
#  }

  dir MinBiasMon {
    dir MBTS {
      hist Occupancy@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Hit multiplicity in MBTS channels. In case of problems in the current data check TileCal/MBTS/Cell/Occupancy. See the correspondence of the Tile modules to the MBTS channels at https://twiki.cern.ch/twiki/bin/viewauth/Atlas/MinimumBiasTriggerScintillatorInfo
      }
      hist Occupancy_Online@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Hit multiplicity in MBTS channels (online). May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      } 
      hist TriggerErrors@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Trigger error bits in MBTS. May be red for low stat runs (e.h. HI runs) or no data in when no MinBias trigger running (e.g high pile-up/mu runs).
      }
      hist m_h_time@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Timing distributon of MBTS channels, to be most populated around zero MBTS time.In case of problems check TileCal/MBTS/Cell/SummaryTime.   See the correspondence of Tile modules to MBTS channels at https://twiki.cern.ch/twiki/bin/viewauth/Atlas/MinimumBiasTriggerScintillatorInfo
      }  
      hist m_h_time_Online@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Time distribution in MBTS channels. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      }
      hist MbtsEnergyErrors@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = MBTS energy bit error rates. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      }
      hist MbtsTimeErrors@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/MBTS
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = MBTS time bit errors rate. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).The reference may not match the current data, being updated accordingly while not influencing the test.
      }  
    }

    dir BCM {
      hist TriggerErrors@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/BCM
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Trigger error bits in BCM along with the requirement event to be triggered by MBTS (orthogonal triggers AND condition). May be red as not satisfying the requirement for e.g. low stat runs.
      }
      hist bcmChannels@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/BCM
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Hit multiplicity of BCM detector. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      }
    }
        
    dir IDMinbias {
      hist TriggerErrors@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Trigger error bits HLT. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
#      hist minbiasTracks@OfflineShifter {
#        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
#        reference = HLTminbias_Ref
#        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
#        description = Minbias Trig Tracks. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
#      }
      hist pixBarr_sp@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
      hist pixECA_sp@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
      hist pixECC_sp@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
      hist sctBarr_sp@OfflineShifter {   
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
      hist sctECA_sp@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
      hist sctECC_sp@OfflineShifter { 
        output = HLT/OfflineShifter/Misc/MinBias/IDMinbias
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing).
      }
    }
       
    dir LUCID {
      hist TriggerErrors@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = Trigger error bits in LUCID along with the requirement event to be triggered by MBTS (orthogonal triggers AND condition). May be red as not satisfying the requirement for e.g. low stat runs.
      }
      hist lucidChannels@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = LUCID detector channel multiplicity. May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      }
      hist LUCID_F@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = This plot shows LUCID L1 failures along with the requirement event to be triggered by MBTS (orthogonal triggers AND condition). May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      }
      hist LUCID_P@OfflineShifter {
        output = HLT/OfflineShifter/Misc/MinBias/LUCID
        reference = HLTminbias_Ref
        algorithm = HLTminbias_Histogram_Not_Empty&GatherData
        description = This plot shows LUCID L1 entries along with therequirement event to be triggered by MBTS (orthogonal triggers AND condition). May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in used for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test.
      }
    } 
     dir ZDC { 
       hist ZDC_P@OfflineShifter { 
       output = HLT/OfflineShifter/Misc/MinBias/ZDC 
       reference = HLTminbias_Ref 
       algorithm = HLTminbias_Histogram_Not_Empty&GatherData 
       description = This plot shows ZDC counts at L1 along with the requirement event to be triggered by MBTS (orthogonal triggers AND condition). May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test. 
     } 
       hist ZDC_F@OfflineShifter { 
       output = HLT/OfflineShifter/Misc/MinBias/ZDC 
       reference = HLTminbias_Ref 
       algorithm = HLTminbias_Histogram_Not_Empty&GatherData 
       description = This plot shows ZDC failures at L1 along with the requirement event to be triggered by MBTS (orthogonal triggers AND condition). May be red for low stat runs or because the requested Minbias triggers are not included in the run (e.g. these triggers are not in use for normal physics runs with high pile-up/mu in order to avoid slowing down the run processing). The reference may not match the current data, being updated accordingly while not influencing the test. 
      } 
    } ##########
  }
}

