# **********************************************************************
# $Id: $
# **********************************************************************

#######################
# HLT Offline Shifter 
#######################

#######################
# Output
#######################

output top_level {

  output HLT {
    output OfflineShifter {
      output Et-Pt-Spectra {
        output BPhys {
        }
##        output Egamma {
##        }
        output Jets {
          output a4ionemsubjesFS {
	  }
	  output j30_ion_L1TE50 {
	  }
	  output j50_ion_L1J10 {
	  }
	  output j100_ion_L1TE50 {
	  }
        }
        output Muons {
        }
      }
      output Eta-Phi-Maps {
        output BPhys {
        }
        output Jets {
          output a4ionemsubjesFS {
          }
          output j30_ion_L1TE50 {
          }
          output j50_ion_L1J10 {
          }
          output j100_ion_L1TE50 {
          }
        }
##        output MET {
##        }
        output Muons {
        }
##        output Egamma {
##        }
      }
      output InvariantMasses {
      }
##      output Misc {
##        output Bjet {
##        }
##        output InDet {
##        }
##        output Muons {
##        }
##        output MET {
##        }
##        output Egamma {
##        }
##        output MinBias {
##        }
##      }
      output Multiplicities {
##        output Bjet {
##        }
        output Jets {
        }
        output Muons {
        }
      }
    }
  }
}


#######################
# Histogram Assessments
#######################


#######################
## Eta-Phi-Maps
#######################

dir HLT {

  dir BphysMon {
    dir shifter {
      dir BMuMu {
        hist TrigBphys_BMuMu_eta@Shifter {
          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          algorithm = HLT_PassInput
          output = HLT/OfflineShifter/Eta-Phi-Maps/BPhys
          description = Pseudorapidity of J/psi, the histogram is filled from a particular HLT_2muX_bDimu chain
        }
      }
    }
  }

##  dir EgammaSigTE {
##    dir OfflineElectron {
##      hist egEtaPhiMap@ElectronShifter {
####        algorithm = HLT_PassInput
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##        output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
##        description = Histogram should not be empty. If it is, contact the egamma expert-on-call.
##      }
##    }
##    dir OfflinePhoton {
##      hist egEtaPhiMap@PhotonShifter {
####        algorithm = HLT_PassInput
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##        output = HLT/OfflineShifter/Eta-Phi-Maps/Egamma
##        description = Histogram should not be empty. If it is, contact the egamma expert-on-call.
##      }
##    }
##  }

  dir JetMon {
    dir HLT {
      dir a4ionemsubjesFS {
      	hist HLTJet_phi_vs_eta@a4ionemsubjesFSShifter {
          algorithm = HLTjet_Bins_Diff_FromAvg
          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets/a4ionemsubjesFS
          description = Eta vs Phi plot: this distribution should not show hotspots. Red means: at least one bin is at least 40 sigma above average. Check that there is sufficient statistics to claim a hotspot.
      	}
      }
      dir j30_ion_L1TE50 {
      	hist HLTJet_phi_vs_eta@j30_ion_L1TE50Shifter {
          algorithm = HLTjet_Bins_Diff_FromAvg
          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets/j30_ion_L1TE50
          description = Eta vs Phi plot: this distribution should not show hotspots. Red means: at least one bin is at least 40 sigma above average. Check that there is sufficient statistics to claim a hotspot.
      	}
      }
      dir j50_ion_L1J10 {
      	hist HLTJet_phi_vs_eta@j50_ion_L1J10Shifter {
          algorithm = HLTjet_Bins_Diff_FromAvg
          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets/j50_ion_L1J10
          description = Eta vs Phi plot: this distribution should not show hotspots. Red means: at least one bin is at least 40 sigma above average. Check that there is sufficient statistics to claim a hotspot.
      	}
      }
      dir j100_ion_L1TE50 {
      	hist HLTJet_phi_vs_eta@j100_ion_L1TE50Shifter {
          algorithm = HLTjet_Bins_Diff_FromAvg
          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets/j100_ion_L1TE50
          description = Eta vs Phi plot: this distribution should not show hotspots. Red means: at least one bin is at least 40 sigma above average. Check that there is sufficient statistics to claim a hotspot.
      	}
      }

##      dir a10tcemsubFS {
##        hist HLTJet_phi_vs_eta@a10tcemsubFSShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir a4tcemjesFS {
##        hist HLTJet_phi_vs_eta@a4tcemjesFSShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir a4tcemjesPS {
##        hist HLTJet_phi_vs_eta@a4tcemjesPSShifter {
##           algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####         algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir a4tcemsubFS {
##        hist HLTJet_phi_vs_eta@a4tcemsubFSShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
####      }
##      dir a4tcemsubjesFS {
##        hist HLTJet_phi_vs_eta@a4tcemsubjesFSShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir a4tclcwjesFS {
##        hist HLTJet_phi_vs_eta@a4tclcwjesFSShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir j25 {
##        hist HLTJet_phi_vs_eta@j25Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets/j25
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir j60 {
##        hist HLTJet_phi_vs_eta@j60Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/Jets/j60
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
    }
##    dir OF {
##      dir AntiKt10LCTopoJets {
##        hist OFJet_phi_vs_eta@AntiKt10LCTopoJetsShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##	  output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir AntiKt4EMTopoJets {
##        hist OFJet_phi_vs_eta@AntiKt4EMTopoJetsShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##	  output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##      dir AntiKt4LCTopoJets {
##        hist OFJet_phi_vs_eta@AntiKt4LCTopoJetsShifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##	  output = HLT/OfflineShifter/Eta-Phi-Maps/Jets
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##      }
##    }
  } ## end dir JetMon


##  dir METMon {
##    dir Shifter {
##      dir HLT {
##        hist HLT_MET_etaphi@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/MET
##	  description = Particular attention should be paid in checking hot regions. The distribution should not show peaks.
##        }
##        hist HLT_MET_etaphi_etweight@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Eta-Phi-Maps/MET
##	  description = Particular attention should be paid in checking hot regions. When HLT_MET_etaphi show peaks, this plot is a good check if the peaks are problematic or not. If this plot has no peak, it means the peaks in HLT_MET_etaphi are from low energy hot sopts and has no real harm. When HLT_MET_etaphi does not have peaks, it is all right even if this plot show peaks because those peaks are due to a few very high pt jets. 
##       }
##      }
##    }
##  }

  dir MuonMon {
    dir muComb {
      hist muComb_eta_vs_phi@Shifter {
	description = The L2muonCB eta-phi map. There should be no hole.
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##        algorithm = HLT_PassInput
        algorithm = alg_eta_vs_phi
        output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
      } 
    }
    dir muFast {
      hist muFast_eta_vs_phi@Shifter {
        description = The L2muonSA eta-phi map. There should not be additional hole other than those in HLT/TRMUO/Shift/Etaphi.
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##        algorithm = HLT_PassInput
        algorithm = alg_eta_vs_phi
        output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
      }
    }
    dir MuonEF {
      hist EFCB_eta_vs_phi@Shifter {
	description = The EFCB eta-phi map. There should be no hole.
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##        algorithm = HLT_PassInput
        algorithm = alg_eta_vs_phi
        output = HLT/OfflineShifter/Eta-Phi-Maps/Muons
      }
    }
  }




####################
## Et-Pt-Spectra
####################

  dir BphysMon {
    dir shifter {
      dir Containers {
        dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTsum@Shifter {
            algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##            algorithm = HLT_PassInput
            output = HLT/OfflineShifter/Et-Pt-Spectra/BPhys
            description = Sum of J/psi muons pT from the EF container. May be slightly different from reference due to different menu (the container is used for a few chains at once)
	  }
        }
##        dir HLT_xAOD__TrigBphysContainer_L2BMuMuFex {
##          hist TrigBphys_HLT_xAOD__TrigBphysContainer_L2BMuMuFex_pTsum@Shifter {
##            algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####            algorithm = HLT_PassInput
##            output = HLT/OfflineShifter/Et-Pt-Spectra/BPhys
##            description = Sum of J/psi muons pT from the L2 container. May be slightly different from reference due to different menu (the container is used for a few chains at once)
##	  }
##        }
      }
      dir BMuMu {
        hist TrigBphys_BMuMu_pTsum@Shifter {
          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          algorithm = HLT_PassInput
          output = HLT/OfflineShifter/Et-Pt-Spectra/BPhys
          description = Sum of J/psi muons pT, the histogram is filled from a particular HLT_2muX_bDimu chain
        }
##        hist TrigBphys_BMuMu_eta@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/BPhys
##          description = Pseudorapidity of J/psi, the histogram is filled from a particular HLT_2muX_bDimu chain
##        }
      }
    }
  }


##  dir EgammaSigTE {
##    dir OfflineElectron {
##      hist egEt@ShifterElectron {
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####        algorithm = HLT_PassInput
##        output = HLT/OfflineShifter/Et-Pt-Spectra/Egamma
##        description = Histogram should not be empty. If so, contact the egamma expert-on-call.
##      }
##    }
##    dir OfflinePhoton {
##      hist egEt@ShifterPhoton {
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##        output = HLT/OfflineShifter/Et-Pt-Spectra/Egamma
##        description = Histogram should not be empty. If so, contact the egamma expert-on-call.
##      }
##    }
##  }


  dir JetMon {
    dir HLT {
      dir a4ionemsubjesFS {
      	hist HLTJet_Et@a4ionemsubjesFSShifter {
          display = LogY
          algorithm = HLTjet_KolmogorovTest_MaxDist
          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets/a4ionemsubjesFS
          description = Red means: mean of the histogram different from reference. Et plot: This plot should be close to the reference. Red can be due to: [1] The histogram threshold is not the same as HLT threshold. [2] Slope of the histogram significantly different from reference. [3] Strange shape, i.e. bumps at high Et.
      	}
      }
      dir j30_ion_L1TE50 {
      	hist HLTJet_Et@j30_ion_L1TE50Shifter {
          display = LogY
          algorithm = HLTjet_KolmogorovTest_MaxDist
	  output = HLT/OfflineShifter/Et-Pt-Spectra/Jets/j30_ion_L1TE50
          description = Red means: mean of the histogram different from reference. Et plot: This plot should be close to the reference. Red can be due to: [1] The histogram threshold is not the same as HLT threshold. [2] Slope of the histogram significantly different from reference. [3] Strange shape, i.e. bumps at high Et.
      	}
      }
      dir j50_ion_L1J10 {
      	hist HLTJet_Et@j50_ion_L1J10Shifter {
          display = LogY
          algorithm = HLTjet_KolmogorovTest_MaxDist
	  output = HLT/OfflineShifter/Et-Pt-Spectra/Jets/j50_ion_L1J10
          description = Red means: mean of the histogram different from reference. Et plot: This plot should be close to the reference. Red can be due to: [1] The histogram threshold is not the same as HLT threshold. [2] Slope of the histogram significantly different from reference. [3] Strange shape, i.e. bumps at high Et.
      	}
      }
      dir j100_ion_L1TE50 {
      	hist HLTJet_Et@j100_ion_L1TE50Shifter {
          display = LogY
          algorithm = HLTjet_KolmogorovTest_MaxDist
	  output = HLT/OfflineShifter/Et-Pt-Spectra/Jets/j100_ion_L1TE50
          description = Red means: mean of the histogram different from reference. Et plot: This plot should be close to the reference. Red can be due to: [1] The histogram threshold is not the same as HLT threshold. [2] Slope of the histogram significantly different from reference. [3] Strange shape, i.e. bumps at high Et.
      	}
      }

##      dir a10tcemsubFS {
##        hist HLTJet_HighEt@a10tcemsubFSShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir a4tcemjesFS {
##        hist HLTJet_HighEt@a4tcemjesFSShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir a4tcemjesPS {
##        hist HLTJet_HighEt@a4tcemjesPSShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####         algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir a4tcemsubFS {
##        hist HLTJet_HighEt@a4tcemsubFSShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir a4tcemsubjesFS {
##        hist HLTJet_HighEt@a4tcemsubjesFSShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir a4tclcwjesFS {
##        hist HLTJet_HighEt@a4tclcwjesFSShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir j25 {
##        hist HLTJet_HighEt@j25Shifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets/j25
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir j60 {
##        hist HLTJet_HighEt@j60Shifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Et-Pt-Spectra/Jets/j60
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
    } ## end dir HLT


##    dir OF {
##      dir AntiKt10LCTopoJets {
##        hist OFJet_HighEt@AntiKt10LCTopoJetsShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##	  output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir AntiKt4EMTopoJets {
##        hist OFJet_HighEt@AntiKt4EMTopoJetsShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##	  output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##      dir AntiKt4LCTopoJets {
##        hist OFJet_HighEt@AntiKt4LCTopoJetsShifter {
##          display = LogY
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##	  output = HLT/OfflineShifter/Et-Pt-Spectra/Jets
##	  description = The distribution should not be broad. Check with reference when available.
##        }
##      }
##    }
  } ##end dir JetMon

  dir MuonMon {
    dir muComb {
      hist muComb_pt@Shifter {
	description = L2muonCB muon pt distribution. Check with reference when available.
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
##        algorithm = HLT_PassInput
        algorithm = TRMUO_GatherData
        output = HLT/OfflineShifter/Et-Pt-Spectra/Muons
      } 
    }
    dir muFast {
      hist muFast_pt@Shifter {
	description = L2muonSA muon pt distribution. Check with reference when available. There might be a spike at 100 GeV, which is the overflow and not a problem. 
##        algorithm = HLT_PassInput
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
        algorithm = TRMUO_GatherData
        output = HLT/OfflineShifter/Et-Pt-Spectra/Muons
      }
    }
    dir MuonEF {
      hist EFCB_pt@Shifter {
	description = EFCB muon pt distribution. Check with reference when available.
##        algorithm = HLT_PassInput
##        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
        algorithm = TRMUO_GatherData
        output = HLT/OfflineShifter/Et-Pt-Spectra/Muons
      }
    }
  }



#####################
## InvariantMasses
#####################

  dir BphysMon {
    dir shifter {
      dir Containers {
        dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_mass@Shifter {
            algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##            algorithm = HLT_PassInput
            output = HLT/OfflineShifter/InvariantMasses
            description = Dimuon invariant mass, the histogram is filled from the EF container which is used for a few chains at once
	  }
        }
##        dir HLT_xAOD__TrigBphysContainer_L2BMuMuFex {
##          hist TrigBphys_HLT_xAOD__TrigBphysContainer_L2BMuMuFex_mass@Shifter {
##            algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####            algorithm = HLT_PassInput
##            output = HLT/OfflineShifter/InvariantMasses
##            description = Dimuon invariant mass, the histogram is filled from the L2 container which is used for a few chains at once
##	  }
##        }
      }
      dir BMuMu {
        hist TrigBphys_BMuMu_mass@Shifter {
          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          algorithm = HLT_PassInput
          output = HLT/OfflineShifter/InvariantMasses
          description = Dimuon invariant mass, the histogram is filled from a particular HLT_2muX_bDimu chain. Normally J/psi and Upsilon mass peaks should be seen
        }
      }
    }
  }

####################
## Misc
####################


##  dir METMon {
##    dir Shifter {
##      dir HLT {
##        hist HLT_MET@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: No spikes, with a single peak structure at low MET and a falling distribution. Abnormal: Spike in MET, shifter should contact expert-on-call.
##        }
##        hist HLT_MEx@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: No spikes, with a single peak structure at 0. Abnormal: Spike other than the central peak, shifter should contact expert-on-call.
##        }
##        hist HLT_MEy@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: No spikes, with a single peak structure at 0. Abnormal: Spike other than the central peak, shifter should contact expert-on-call.
##        }
##        hist HLT_SumEt@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: No spikes, with a single peak structure at low SumEt and a falling distribution. Abnormal: Spike in MET, shifter should contact expert-on-call.
##        }
##        hist Eff_HLT_xe80@Shifter {
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
####          algorithm = HLT_PassInput
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: Near zero in lower MEt and a quick rise to 1.0 then flat at 1.0 in higher MEt. Abnormal: The rise does not reach 1.0 or go beyond 1.0, or the high MEt region is not flat, shifter should contact expert-on-call.
##        }
##      }
##    }
##    dir Expert {
##      dir HLT {
##        hist HLT_MET_status@Shifter {
##          display = TCanvas(1050,500),LogY
##          algorithm = HLTmet_AlgErrorBits
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: GlobalError bin is empty (not filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2). 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set "GlobError" or Missing Components - Cross check with compN_EF_MET_status@Shifter (in this folder). 
##        }
##        hist HLT_MET_lin1@Shifter {
##          display = <AxisRange(0,100,"X")>,LogY
####          algorithm = HLT_PassInput
##          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: No spikes, with a single dip structure and a falling distribution. Abnormal: Spike in EF_MET at low (< 10 GeV) MET shifter should contact expert-on-call.
##        }
##        hist compN_compEt_lin@Shifter {
##          display = TCanvas(1050,500)
##          algorithm = HLT_PassInput
####          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: All components (X bins) are filled. Abnormal: One or more components are empty.
##        }
##        hist compN_HLT_MET_status@Shifter {
##          display = TCanvas(1050,500),LogZ
##          algorithm = HLT_PassInput
####          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          output = HLT/OfflineShifter/Misc/MET
##          description = Normal: "Processed" Bit must always be set (and filled). Abnormal But Not Critical: 1. Bytestream conversion errors in some components (TileBar, Gap1,2,3, Ext1,2); 2. BadCellQuality in one or more components. Abnormal and Critical: Global Error bit is set "GlobError" or Missing components or Error in one or more components "CompError".
##        }
##      }
##    }
##  }

##  dir MinBiasMon {
##    dir IDMinbias {
##      dir mb_sptrk {
##        hist PixTot@OfflineShifter {
##          output = HLT/OfflineShifter/Misc/MinBias
####          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          algorithm = HLT_PassInput
##	  description = TODO
##        }
##        hist SctTot@IffkubeShifter {
##          output = HLT/OfflineShifter/Misc/MinBias
####          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##          algorithm = HLT_PassInput
##	  description = TODO
##        }
##      }
##    }
##    dir MBTS {
##      dir mb_mbts_L1MBTS_2 {
##	hist Occupancy@OfflineShifter {
##	  output = HLT/OfflineShifter/Misc/MinBias
####          algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
##	  algorithm = HLT_PassInput
##	  description = TODO
##	}
##      }
##    }
##  }


#################
## Multiplicity
#################



  dir JetMon {
    dir HLT {
      dir a4ionemsubjesFS {
        hist HLTJet_n@a4ionemsubjesFSShifter {
          display = LogY
          algorithm = HLTjet_KolmogorovTest_MaxDist
          output = HLT/OfflineShifter/Multiplicities/Jets
          description = Red means: mean of the histogram different from reference. NJet plot: this plot should be close to the reference. Red can be due to: [1] Low statistics wrt reference. [2] Current bunch spacing different from reference. [3] Strange shape. i.e. bumps at high multiplicity.
      	}
      }
    } ## end dir HLT
  } ## end dir JetMon

  dir MuonMon {
    dir Common {
      hist Offline_Number_Of_Muon {
        description = Check with the reference when available.
## 	algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData
        algorithm = HLT_Histogram_Not_Empty_with_Ref&GatherData 
        output = HLT/OfflineShifter/Multiplicities/Muons
      }
    }
  }
}



##############
# Algorithms
##############

algorithm ShifterFermiFit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold
  MinStat = 300
  #LikelihoodFit = 2.0
}

algorithm ShifterFermiFitOff {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThresholdOff
  MinStat = 50
  #LikelihoodFit = 2.0
}

algorithm ShifterFermiFit100 {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold100
  MinStat = 300
  #LikelihoodFit = 2.0
}

algorithm ShifterFermiFit100_mu18_IDTrkNoCut_tight_pT_EF_eff {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit
  thresholds = ShifterThreshold100
  MinStat = 1000
}

##algorithm ShifterFermiFit100_tau125_IDTrkNoCut_pT_L2S_B_eff {
##  libname = libdqm_algorithms.so
##  name = Simple_fermi_Fit
##  thresholds = ShifterThreshold100_tau125_IDTrkNoCut_pT_L2S_B_eff 
##  MinStat = 300
##}


# mu22 Shifter
algorithm TRMUO_fermi_fit_mu22_ESid_muFast_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_muFast_upstream
  MinPoint = 50
  ImproveFit = 1.0
}


algorithm TRMUO_fermi_fit_mu22_ESid_muComb_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_muComb_upstream
  MinPoint = 40
  ImproveFit = 1.0
}

algorithm TRMUO_fermi_fit_mu22_ESid_MuonEFCB_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_MuonEFCB_upstream
  MinPoint = 40
  ImproveFit = 1.0
}

algorithm TRMUO_fermi_fit_mu22_ESid_MuGirlEF_upstream_Fit {
  libname = libdqm_algorithms.so
  name = Simple_fermi_Fit_Graph
  thresholds = th_TRMUO_fermi_fit_mu22_ESid_MuGirlEF_upstream
  MinPoint = 40
  ImproveFit = 1.0
}

##          EBK added algorithm
algorithm HLT_All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
}

###############
# Thresholds
###############

thresholds ShifterThreshold {
  limits Plateau {
    warning = 0.90
    error = 0.65
  }
#  limits Threshold {
#  }
#  limits Resolution {
#  }
}

thresholds ShifterThresholdOff {
  limits Plateau {
    warning = 0.50
    error = 0.25
  }
}

thresholds ShifterThreshold100 {
  limits Plateau {
    warning = 90.0
    error = 65.0
  }
}

##thresholds ShifterThreshold100_tau125_IDTrkNoCut_pT_L2S_B_eff {
##  limits Plateau {
##    warning = 85.0
##    error = 65.0
##  }
##}



#for Shift mu22
thresholds th_TRMUO_fermi_fit_mu22_ESid_muFast_upstream {
  limits Plateau {
    warning = 0.98
    error = 0.979
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu22_ESid_muComb_upstream {
  limits Plateau {
#    warning = 0.98
#   warning = 0.97 # 110909
    warning = 0.96
    error = 0.94
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}


thresholds th_TRMUO_fermi_fit_mu22_ESid_MuonEFCB_upstream {
  limits Plateau {
    warning = 0.98
    error = 0.979
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}

thresholds th_TRMUO_fermi_fit_mu22_ESid_MuGirlEF_upstream {
  limits Plateau {
#   warning = 0.96 # 110909 
    warning = 0.95
    error = 0.939
  }
  limits Threshold {
    warning = 22.0
    error   = 24.0
  }
  limits Resolution {
    warning = 3.0
    error   = 4.0
  }
}


############ REMOVE before submitting!!! (Just added while HLTjet is masked #############

##algorithm HLTjet_KolmogorovTest_MaxDist {
##  libname = libdqm_algorithms.so
##  name = KolmogorovTest_MaxDist
##  thresholds = HLTjet_KolmogorovThresh
##  MinStat = 100
##  reference = CentrallyManagedReferences
##}
##
##algorithm HLTjet_Bins_Diff_FromAvg {
##  libname = libdqm_algorithms.so
##  name = Bins_Diff_FromAvg
##  thresholds = HLTjet_NBinsThresh
##  MinStat = 100
##  ignoreval = 0  
##  GreaterThan = 1
##  LessThan = 0
##  NSigma = 40
##  reference = CentrallyManagedReferences
##}
##
##thresholds HLTjet_KolmogorovThresh {
##  limits MaxDist {
##    warning = 0.05
##    error = 0.15
##  }
##}
##
##thresholds HLTjet_NBinsThresh {
##  limits NBins {
##    error = 1
##  }
##}
