##############################################################################
#
#  JetUncertaintiesTool Input Settings for Top tagging
#    This is the weak correlation assumption variant
#    This is for no mass window applied before the Tau32 selection
#
#    February 16, 2016
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_Moriond2016_Top
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15
UncertaintyRootFile:                UJ_2015/Moriond2016/UJUncertainty_2015.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root
FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta

##############################################################################
# 
#   Settings for components
#
##############################################################################

# We want to vary pT and mass independently for each component, and to keep the three components separate
# Tau32 varies separately, with two components
# Total of eight components

# Define the eight component groups

JESGroup.1.Name:                    Rtrk_Baseline_pT
JESGroup.1.Desc:                    Rtrk measurement with 2015 data: baseline component, pT scale
JESGroup.1.Type:                    Other
JESGroup.1.Corr:                    Uncorrelated
JESGroup.1.Group:                   1

JESGroup.2.Name:                    Rtrk_Baseline_mass
JESGroup.2.Desc:                    Rtrk measurement with 2015 data: baseline component, mass scale
JESGroup.2.Type:                    Other
JESGroup.2.Corr:                    Uncorrelated
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Rtrk_Modelling_pT
JESGroup.3.Desc:                    Rtrk measurement with 2015 data: modelling component, pT scale
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Uncorrelated
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Rtrk_Modelling_mass
JESGroup.4.Desc:                    Rtrk measurement with 2015 data: modelling component, mass scale
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Uncorrelated
JESGroup.4.Group:                   4

JESGroup.5.Name:                    Rtrk_Tracking_pT
JESGroup.5.Desc:                    Rtrk measurement with 2015 data: tracking components, pT scale
JESGroup.5.Type:                    Other
JESGroup.5.Corr:                    Uncorrelated
JESGroup.5.Group:                   5

JESGroup.6.Name:                    Rtrk_Tracking_mass
JESGroup.6.Desc:                    Rtrk measurement with 2015 data: tracking components, mass scale
JESGroup.6.Type:                    Other
JESGroup.6.Corr:                    Uncorrelated
JESGroup.6.Group:                   6

JESGroup.7.Name:                    Top_Run1_Tau32
JESGroup.7.Desc:                    Run 1 systematic uncertainties from Rtrk on Tau32 (no mass window)
JESGroup.7.Type:                    Other
JESGroup.7.Corr:                    Uncorrelated
JESGroup.7.Group:                   7

JESGroup.8.Name:                    Top_CrossCalib_Tau32
JESGroup.8.Desc:                    Run 2 cross-calibration systematic uncertainties on Tau32 (no mass window)
JESGroup.8.Type:                    Other
JESGroup.8.Corr:                    Uncorrelated
JESGroup.8.Group:                   8


# Rtrk baseline components (pT + mass)
JESComponent.1.Name:                Rtrk_Baseline_pT
JESComponent.1.Param:               PtMassAbsEta
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Rtrk_Baseline_mass
JESComponent.2.Param:               PtMassAbsEta
JESComponent.2.Scale:               Mass
JESComponent.2.Group:               2


# Rtrk modelling components (pT + mass)
JESComponent.4.Name:                Rtrk_Modelling_pT
JESComponent.4.Param:               PtMassAbsEta
JESComponent.4.Scale:               Pt
JESComponent.4.Group:               3

JESComponent.5.Name:                Rtrk_Modelling_mass
JESComponent.5.Param:               PtMassAbsEta
JESComponent.5.Scale:               Mass
JESComponent.5.Group:               4


# Rtrk tracking components (pT + mass)
JESComponent.7.Name:                Rtrk_Tracking1_pT
JESComponent.7.Param:               PtMassAbsEta
JESComponent.7.Scale:               Pt
JESComponent.7.Group:               5

JESComponent.8.Name:                Rtrk_Tracking1_mass
JESComponent.8.Param:               PtMassAbsEta
JESComponent.8.Scale:               Mass
JESComponent.8.Group:               6

JESComponent.9.Name:                Rtrk_Tracking2_pT
JESComponent.9.Param:               PtMassAbsEta
JESComponent.9.Scale:               Pt
JESComponent.9.Group:               5

JESComponent.10.Name:               Rtrk_Tracking2_mass
JESComponent.10.Param:              PtMassAbsEta
JESComponent.10.Scale:              Mass
JESComponent.10.Group:              6

JESComponent.11.Name:               Rtrk_Tracking3_pT
JESComponent.11.Param:              PtMassAbsEta
JESComponent.11.Scale:              Pt
JESComponent.11.Group:              5

JESComponent.12.Name:               Rtrk_Tracking3_mass
JESComponent.12.Param:              PtMassAbsEta
JESComponent.12.Scale:              Mass
JESComponent.12.Group:              6


# Run 1 components (Tau32)
JESComponent.13.Name:               Top_Run1_Tau32NMW
JESComponent.13.Param:              PtMassAbsEta
JESComponent.13.Scale:              Tau32WTA
JESComponent.13.Group:              7


# Cross-calibration components (Tau32)
JESComponent.14.Name:               Top_50vs25ns_Tau32NMW
JESComponent.14.Param:              PtMassAbsEta
JESComponent.14.Scale:              Tau32WTA
JESComponent.14.Group:              8

#JESComponent.15.Name:               Top_LArSampling_Tau32NMW
#JESComponent.15.Param:              PtMassAbsEta
#JESComponent.15.Scale:              Tau32WTA
#JESComponent.15.Group:              8

JESComponent.16.Name:               Top_TopoclusterAlg_Tau32NMW
JESComponent.16.Param:              PtMassAbsEta
JESComponent.16.Scale:              Tau32WTA
JESComponent.16.Group:              8

JESComponent.17.Name:               Top_NoiseThrUp_Tau32NMW
JESComponent.17.Param:              PtMassAbsEta
JESComponent.17.Scale:              Tau32WTA
JESComponent.17.Group:              8

JESComponent.18.Name:               Top_NoiseThrDown_Tau32NMW
JESComponent.18.Param:              PtMassAbsEta
JESComponent.18.Scale:              Tau32WTA
JESComponent.18.Group:              8

JESComponent.19.Name:               Top_Material_Tau32NMW
JESComponent.19.Param:              PtMassAbsEta
JESComponent.19.Scale:              Tau32WTA
JESComponent.19.Group:              8

