##############################################################################
#
#  JetUncertaintiesTool Input Settings for Hbb tagging
#    This is the strong correlation assumption variant
#
#    February 16, 2016
#
#  S. Schramm
# 
##############################################################################

UncertaintyRelease:                 2015_Moriond2016_Hbb
SupportedJetDefs:                   AntiKt10LCTopoTrimmedPtFrac5SmallR20
SupportedMCTypes:                   MC15
UncertaintyRootFile:                UJ_2015/Moriond2016/UJUncertainty_2015.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root
FileValidHistogram:                 ValidRange
FileValidHistParam:                 PtMassAbsEta

##############################################################################
# 
#   Settings for components
#
##############################################################################

# We want to vary pT and mass coherently for each component, and to combine modelling+tracking components
# D2 varies separately, with two components
# Total of four components

# Define the four component groups

JESGroup.1.Name:                    Rtrk_Baseline
JESGroup.1.Desc:                    Rtrk measurement with 2015 data: baseline component
JESGroup.1.Type:                    Other
JESGroup.1.Corr:                    Uncorrelated
JESGroup.1.Group:                   1

JESGroup.2.Name:                    Rtrk_ModellingAndTracking
JESGroup.2.Desc:                    Rtrk measurement with 2015 data: modelling and tracking components
JESGroup.2.Type:                    Other
JESGroup.2.Corr:                    Uncorrelated
JESGroup.2.Group:                   2

JESGroup.3.Name:                    Hbb_Run1_D2
JESGroup.3.Desc:                    Run 1 systematic uncertainties from Rtrk on D2
JESGroup.3.Type:                    Other
JESGroup.3.Corr:                    Uncorrelated
JESGroup.3.Group:                   3

JESGroup.4.Name:                    Hbb_CrossCalib_D2
JESGroup.4.Desc:                    Run 2 cross-calibration systematic uncertainties on D2
JESGroup.4.Type:                    Other
JESGroup.4.Corr:                    Uncorrelated
JESGroup.4.Group:                   4


# Rtrk baseline components (pT + mass)
JESComponent.1.Name:                Rtrk_Baseline_pT
JESComponent.1.Param:               PtMassAbsEta
JESComponent.1.Scale:               Pt
JESComponent.1.Group:               1

JESComponent.2.Name:                Rtrk_Baseline_mass
JESComponent.2.Param:               PtMassAbsEta
JESComponent.2.Scale:               Mass
JESComponent.2.Group:               1


# Rtrk modelling components (pT + mass)
JESComponent.4.Name:                Rtrk_Modelling_pT
JESComponent.4.Param:               PtMassAbsEta
JESComponent.4.Scale:               Pt
JESComponent.4.Group:               2

JESComponent.5.Name:                Rtrk_Modelling_mass
JESComponent.5.Param:               PtMassAbsEta
JESComponent.5.Scale:               Mass
JESComponent.5.Group:               2


# Rtrk tracking components (pT + mass)
JESComponent.7.Name:                Rtrk_Tracking1_pT
JESComponent.7.Param:               PtMassAbsEta
JESComponent.7.Scale:               Pt
JESComponent.7.Group:               2

JESComponent.8.Name:                Rtrk_Tracking1_mass
JESComponent.8.Param:               PtMassAbsEta
JESComponent.8.Scale:               Mass
JESComponent.8.Group:               2

JESComponent.9.Name:                Rtrk_Tracking2_pT
JESComponent.9.Param:               PtMassAbsEta
JESComponent.9.Scale:               Pt
JESComponent.9.Group:               2

JESComponent.10.Name:               Rtrk_Tracking2_mass
JESComponent.10.Param:              PtMassAbsEta
JESComponent.10.Scale:              Mass
JESComponent.10.Group:              2

JESComponent.11.Name:               Rtrk_Tracking3_pT
JESComponent.11.Param:              PtMassAbsEta
JESComponent.11.Scale:              Pt
JESComponent.11.Group:              2

JESComponent.12.Name:               Rtrk_Tracking3_mass
JESComponent.12.Param:              PtMassAbsEta
JESComponent.12.Scale:              Mass
JESComponent.12.Group:              2


# Run 1 components (D2)
JESComponent.13.Name:               Hbb_Run1_D2
JESComponent.13.Param:              PtMassAbsEta
JESComponent.13.Scale:              D2Beta1
JESComponent.13.Group:              3


# Cross-calibration components (D2)
JESComponent.14.Name:               Hbb_50vs25ns_D2
JESComponent.14.Param:              PtMassAbsEta
JESComponent.14.Scale:              D2Beta1
JESComponent.14.Group:              4

JESComponent.15.Name:               Hbb_LArSampling_D2
JESComponent.15.Param:              PtMassAbsEta
JESComponent.15.Scale:              D2Beta1
JESComponent.15.Group:              4

JESComponent.16.Name:               Hbb_TopoclusterAlg_D2
JESComponent.16.Param:              PtMassAbsEta
JESComponent.16.Scale:              D2Beta1
JESComponent.16.Group:              4

JESComponent.17.Name:               Hbb_NoiseThrUp_D2
JESComponent.17.Param:              PtMassAbsEta
JESComponent.17.Scale:              D2Beta1
JESComponent.17.Group:              4

JESComponent.18.Name:               Hbb_NoiseThrDown_D2
JESComponent.18.Param:              PtMassAbsEta
JESComponent.18.Scale:              D2Beta1
JESComponent.18.Group:              4

JESComponent.19.Name:               Hbb_Material_D2
JESComponent.19.Param:              PtMassAbsEta
JESComponent.19.Scale:              D2Beta1
JESComponent.19.Group:              4

