table.outer
{ 
  font-family: sans-serif;
  font-size: 90%;
  padding: 5px;
}

table.outer td
{ 
  text-align: left;
}

table.resulttable {
  table-layout: auto;
  font-family: sans-serif;
  margin: 0em 0em 0em 0;
  background: white;
  border-collapse: collapse;
  border: 2px white solid;
  padding: 4px;
  vertical-align: top;  
}

table.resulttable th {
  font-size: 80%;
  text-align: center;
  background: #4F81BD;
  color: white;
  padding: 4px;
  border: 2px white solid;
  vertical-align: top;
}

table.resulttable th.rowsum {
  font-size: 80%;
  text-align: center;
  background: gainsboro;
  color: black;
  padding: 4px;
  border: 2px white solid;
  vertical-align: top;
}

table.resulttable th.colsum {
  font-size: 65%;
  text-align: center;
  background: #4F81BD;
  color: white;
  padding: 4px;
  border: 2px white solid;
  vertical-align: top;
}

table.resulttable th.colsumL {
  font-size: 80%;
  text-align: center;
  background: #4F81BD;
  color: white;
  padding: 4px;
  border: 2px white solid;
  vertical-align: top;
}

table.resulttable th.emptycorner {
  font-size: 80%;
  text-align: left;
  background: #f0f0f0;
  color: #777777;
  padding: 4px;
  border: 2px white solid;
  vertical-align: top;
}

table.resulttable td {
  border: 2px white solid;
  text-align: left;
  padding: 4px;
  vertical-align: top;
}

table.resulttable td.tdna     { background: #f2f2f2; color: #bbbbcc; }
table.resulttable td.tdNA     { background: #cccccc; color: black;   }
table.resulttable td.tdU      { background: #3090C7; color: white;   }
table.resulttable td.tdR      { background: #E42217; color: #FFFFFF; }
table.resulttable td.tdY      { background: #FFF380; color: black;   }
table.resulttable td.tdG      { background: #8FFB17; color: black;   }
table.resulttable td.tdB      { background: #444444; color: #FFFFFF; }
table.resulttable td.td       { text-align: center; }
table.resulttable td.tdsmallw { min-width: 45px; text-align: left; border-width: 0px; padding: 1px; }
table.resulttable td.tdsmall  { text-align: left; border-width: 0px; padding: 1px; }
table.resulttable .tooltip  { cursor: pointer; }
table.resulttable td.stream   { cursor: pointer; text-decoration: underline; text-align: right; color: rgb(0, 0, 100); }
table.resulttable td.def      { padding: 2px; height: 100%; }

table.resulttable table.dqdefects  { width: 100%; border-left: medium solid #E42217; border-collapse: collapse; font-size: 80%; text-align:left; height: 100%; }
table.resulttable table.dqdefects td { border: 0px white solid; color: #888888; padding-right: 5px; padding-left: 3px; padding-top: 0; padding-bottom: 0; font-weight: normal; }

<!-- 
table.resulttable table.dqdefects td.intolerable { font-weight: bold; color: black;}
table.resulttable table.dqdefects td.lb { vertical-align: middle; padding: 0; border: 0px white solid; color: blue; font-size: 85%; max-width: 130px;} 
-->
 
table.resulttable td.intolerable { font-weight: bold; color: black;}
table.resulttable td.ignored { font-weight: bold; font-style: italic; color: black;}
table.resulttable td.lb { vertical-align: middle; padding: 0; border: 0px white solid; color: blue; font-size: 85%; max-width: 130px;} 


table.triggerlinktable { font-size: 85%; border-width: 0px; border-spacing: 0px; border-collapse: collapse; }
table.triggerlinktable th { padding: 0.2em; font-weight: bold; font-family: roman; border-width: 0px;}
table.triggerlinktable td { padding: 0.08em; border: 0px white solid; text-align:right; border-width: 0px; font-size: 90%; }


table.bcidtable { font-size: 85%; border-width: 0px; border-spacing: 0px; border-collapse: collapse; }
table.bcidtable th { padding: 0.2em; font-weight: bold; font-family: roman; border-width: 0px; }
table.bcidtable td { padding: 0.2em; border-top: 0px white solid; border-bottom: 1px #C0C0D0 solid; border-left: 0px white solid;  border-right: 0px white solid; text-align:right; }
table.bcidtable td.td1 { padding: 0.2em; border-top: 0px #eeeeee solid; border-bottom: 1px #C0C0D0 solid; border-left: 0px white solid;  border-right: 0px white solid; text-align:right; }
table.bcidtable td.td2 { padding: 0.2em; border-top: 0px #dddddd solid; border-bottom: 1px #C0C0D0 solid; border-left: 0px white solid;  border-right: 0px white solid; text-align:right; }
table.bcidtable tr.tr0 {  background: #555555; color: white; height: 20px }
table.bcidtable tr.tr1 {  background: #f3f3f3;  }
table.bcidtable tr.tr2 {  background: #e3e3e3;  }


table.datasettable { font-size: 85%; border-width: 0px; border-spacing: 0px; border-collapse: collapse; }
table.datasettable th { padding: 0.2em; color: #FFFFFF; font-weight: bold; font-family: roman; background-color: #98AFC7; border-width: 0px; }
table.datasettable td { padding: 0.2em; border: 0px white solid; text-align:left; border-width: 0px; }

table.ratestable { font-size: 65%; border-width: 0px; border-spacing: 0px; border-collapse: collapse; }
table.ratestable td { padding: 0.0em; border: 0px white solid; text-align:left; border-width: 0px; }


table.resulttabletext 
{ 
  font-family: sans-serif;
  table-layout: fixed;
  margin: 0em 0em 0em 0;
  background: white;
  border-collapse: collapse;
  border: 2px white solid;
  padding: 4px;
  vertical-align: top;
  text-align: left;
  font-size: 100%;
}

table.resulttabletext th 
{
  text-align: left;
  background: white;
  padding: 4px;
  vertical-align: top;
}

table.resulttabletext td 
{
  border: 2px white solid;
  text-align: left;
  padding: 4px;
  vertical-align: top;
}
