#include "GaudiKernel/DeclareFactoryEntries.h"
#include "../@algName@.h"

DECLARE_NAMESPACE_TOOL_FACTORY( @nameSpace@, @algName@ )

DECLARE_FACTORY_ENTRIES( @packageName@ )
{
	DECLARE_NAMESPACE_TOOL( @nameSpace@, @algName@ )
}

