/**
@mainpage @packageName@ Package

>> Please enter an overview of the created package here: What does it contain?

@author @authorName@ <@authorMail@>

@section @packageName@Intro Introduction

>> Please enter a brief description of the package here.

@section @packageName@Req Requirements

@include requirements

*/
