package @packageName@

author @authorName@ <@authorMail@>

public

use AtlasPolicy AtlasPolicy-* 
use AthenaBaseComps     AthenaBaseComps-*        Control

apply_pattern component_library
library @packageName@ *.cxx components/*.cxx

private
#macro cppdebugflags '$(cppdebugflags_s)'
#macro_remove componentshr_linkopts "-Wl,-s"

