# **********************************************************************
# $Id: cosmics_minutes10.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

############################################################
# SCT
############################################################

#############
# Output
#############

output top_level {
	##Un-comment for stand alone testing
	#algorithm = SCT_WorstCaseSummary
	
	output InnerDetector {
		output SCT {
			#output Tracks {
			#}
			output Hits {
				output SCTB {
				}
				output SCTEA {
				}
				output SCTEC {
				}
			}
			output SpacePoints {
				output SCTB {
				}
				output SCTEA {
				}
				output SCTEC {
				}
			}
			output Errors {
				output SCTB {
				}
				output SCTEA {
				}
				output SCTEC {
				}
			}
		}
	}
}

#######################
# Histogram Assessments
#######################

dir SCT {
	##Reference for directory structures
	reference = CentrallyManagedReferences
	
	##Default algorithm
	algorithm = SCT_BinPrint
	
	#dir GENERAL/tracks {
	#	hist tracksPerLB {
	#		output = InnerDetector/SCT/Tracks
	#	}
	#}
	
	dir SCTB/hits {
		hist numBarrelHitsPerLB {
			output = InnerDetector/SCT/Hits/SCTB
		}
		hist numBarrelSPPerLB {
			output = InnerDetector/SCT/SpacePoints/SCTB
		}		
	}
	dir SCTEA/hits {
		hist numHitsPerLBECp {
			output = InnerDetector/SCT/Hits/SCTEA
		}
		hist numSPPerLBECp {
			output = InnerDetector/SCT/SpacePoints/SCTEA
		}
	}
	dir SCTEC/hits {
		hist numHitsPerLBECm {
			output = InnerDetector/SCT/Hits/SCTEC
		}
		hist numSPPerLBECm {
			output = InnerDetector/SCT/SpacePoints/SCTEC
		}
	}
	
	dir SCTB/errors {
		output = InnerDetector/SCT/Errors/SCTB
		hist all_in_dir {
		}
	}
	dir SCTEA/errors {
		output = InnerDetector/SCT/Errors/SCTEA
		hist all_in_dir {
		}
	}
	dir SCTEC/errors {
		output = InnerDetector/SCT/Errors/SCTEC
		hist all_in_dir {
		}
	}
}

#############
# Algorithms
#############

## Generic Algorithms

#algorithm SCT_WorstCaseSummary { ##Used for stand-alone testing only
#	libname = libdqm_summaries.so
#	name = WorstCaseSummary
#}

algorithm SCT_BinPrint {
	libname = libdqm_algorithms.so
	name = BinPrint
	UnMask_All = 16 ##Maximum of bins above:
	##Barrel 4 Layers * 2 Sides = 8
	##EndCaps 8 Layers * 2 Sides = 16
	##Error Types 11
}

#algorithm SCT_Histogram_Not_Empty {
#	libname = libdqm_algorithms.so
#	name = Histogram_Not_Empty
#	reference = SCTOverlay_Ref
#}

#############
# Thresholds
#############
