
#######################################
#
#  JetUncertaintiesTool Input Settings
#    Reduced set of nuisance parameters from final 2011 iteration of the in-situ JES
#    Reduction was applied within each category
#    November 13, 2012
#
#
#######################################

UncertaintyRelease:                 2011_Final
SupportedJetDefs:                   AntiKt4LCTopo,AntiKt4EMTopo,AntiKt6LCTopo,AntiKt6EMTopo
SupportedMCTypes:                   MC11b,MC11c,FrozenShowers,AFII
UncertaintyRootFile:                JES_2011/Final/JESUncertainty_StrongerCorrelations_2011.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       8.5
Pileup.NPVRef:                      6.0

#######################################
#
#   Settings for JES Components
#
#######################################

JESComponent.1.Name:                EffectiveNP_Statistical1
JESComponent.1.Desc:                Effective JES Statistical and Method Component 1
JESComponent.1.Type:                Statistical
JESComponent.1.Param:               Pt

JESComponent.2.Name:                EffectiveNP_Statistical2
JESComponent.2.Desc:                Effective JES Statistical and Method Component 2
JESComponent.2.Type:                Statistical
JESComponent.2.Param:               Pt

JESComponent.3.Name:                EffectiveNP_Statistical3
JESComponent.3.Desc:                Effective JES Statistical and Method Component 3
JESComponent.3.Type:                Statistical
JESComponent.3.Param:               Pt

JESComponent.4.Name:                EffectiveNP_Modelling1
JESComponent.4.Desc:                Effective JES Modelling Component 1
JESComponent.4.Type:                Modelling
JESComponent.4.Param:               Pt

JESComponent.5.Name:                EffectiveNP_Modelling2
JESComponent.5.Desc:                Effective JES Modelling Component 2
JESComponent.5.Type:                Modelling
JESComponent.5.Param:               Pt

JESComponent.6.Name:                EffectiveNP_Modelling3
JESComponent.6.Desc:                Effective JES Modelling Component 3
JESComponent.6.Type:                Modelling
JESComponent.6.Param:               Pt

JESComponent.7.Name:                EffectiveNP_Detector1
JESComponent.7.Desc:                Effective JES Detector Component 1
JESComponent.7.Type:                Detector
JESComponent.7.Param:               Pt

JESComponent.8.Name:                EffectiveNP_Detector2
JESComponent.8.Desc:                Effective JES Detector Component 2
JESComponent.8.Type:                Detector
JESComponent.8.Param:               Pt

JESComponent.9.Name:                EffectiveNP_Mixed1
JESComponent.9.Desc:                Effective JES Mixed Modelling and Detector Component 1
JESComponent.9.Type:                Mixed
JESComponent.9.Param:               Pt

JESComponent.10.Name:               EffectiveNP_Mixed2
JESComponent.10.Desc:               Effective JES Mixed Modelling and Detector Component 2
JESComponent.10.Type:               Mixed
JESComponent.10.Param:              Pt

JESComponent.11.Desc:               Correlated MC for Z/g-jet and MJB ISR/FSR+Fragmentation 
JESComponent.11.Name:               Correlated_MC-MJB
JESComponent.11.Type:               Other
JESComponent.11.Corr:               Correlated
JESComponent.11.Param:              Pt
JESComponent.11.SubComp:            Zjet_MC MPF_Generator MJB_ISRFSR MJB_Fragmentation

#######################################

JESComponent.12.Name:               EtaIntercalibration_TotalStat
JESComponent.12.Desc:               Eta intercalibration: stat uncertainties
JESComponent.12.Type:               Statistical
JESComponent.12.Param:              PtEta

JESComponent.13.Name:               EtaIntercalibration_Modelling
JESComponent.13.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              PtEta

JESComponent.14.Name:               SingleParticle_HighPt
JESComponent.14.Desc:               High Pt term (temporary, 2010 uncertainty)
JESComponent.14.Type:               Detector
JESComponent.14.Param:              Pt

JESComponent.15.Name:               RelativeNonClosure_MCTYPE
JESComponent.15.Desc:               Closure of the calibration, relative to MC11b
JESComponent.15.Type:               Other
JESComponent.15.Param:              PtEta
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initiating the provider

JESComponent.16.Name:               Pileup_OffsetMu
JESComponent.16.Desc:               Pileup: Offset, mu term
JESComponent.16.Type:               Other
JESComponent.16.Param:              PtEta
JESComponent.16.Special:            True

JESComponent.17.Name:               Pileup_OffsetNPV
JESComponent.17.Desc:               Pileup: Offset, NPV term
JESComponent.17.Type:               Other
JESComponent.17.Param:              PtEta
JESComponent.17.Special:            True

# Flavour composition uncertainty
JESComponent.18.Name:               Flavor_Composition
JESComponent.18.Desc:               Flavor composition uncertainty
JESComponent.18.Type:               Modelling
JESComponent.18.Param:              PtEta
JESComponent.18.Special:            True
JESComponent.18.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.19.Name:               Flavor_Response
JESComponent.19.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.19.Type:               Modelling
JESComponent.19.Param:              PtEta
JESComponent.19.Special:            True
JESComponent.19.Hists:              FlavorResponse

# bJES uncertainty
JESComponent.20.Name:               BJES_Response
JESComponent.20.Desc:               JES uncertainty for b jets
JESComponent.20.Type:               Modelling
JESComponent.20.Param:              PtEta
JESComponent.20.Special:            True
JESComponent.20.Hists:              bJES

# Close-by jet uncertainty
JESComponent.21.Name:               CloseBy
JESComponent.21.Desc:               JES uncertainty due to close-by jets
JESComponent.21.Type:               Mixed
JESComponent.21.Param:              Pt
JESComponent.21.Special:            True

#######################################
