#######################################
#
#  JetUncertaintiesTool Input Settings
#    Full list of nuisance parameters from final 2011 iteration of 
#    the in-situ JES, configured for a stronger correlation scenario
#    Nov 4, 2012
#
#######################################

UncertaintyRelease:                 2011_Final
SupportedJetDefs:                   AntiKt4LCTopo,AntiKt4EMTopo,AntiKt6LCTopo,AntiKt6EMTopo
SupportedMCTypes:                   MC11b,MC11c,FrozenShowers,AFII
UncertaintyRootFile:                JES_2011/Final/JESUncertainty_StrongerCorrelations_2011.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       8.5
Pileup.NPVRef:                      6.0

#######################################
# 
#   Settings for JES Components
#
#######################################

# LAr EM scale (shared by all in-situ techniques)
JESComponent.1.Name:                Insitu_LArEMscale
JESComponent.1.Desc:	            electron or photon energy scale
JESComponent.1.Type:                Detector
JESComponent.1.Param:               Pt

# Correleated components for testing
JESComponent.2.Name:                Correlated_MC-MJB
JESComponent.2.Desc:                Correlated MC for Z/g-jet and MJB ISR/FSR+Fragmentation 
JESComponent.2.Type:                Other
JESComponent.2.Corr:                Correlated
JESComponent.2.Param:               Pt
JESComponent.2.SubComp:             Zjet_MC MPF_Generator MJB_ISRFSR MJB_Fragmentation

JESComponent.3.Name:                Correlated_Supression-Selection
JESComponent.3.Desc:                Correlated Radiation Suppression and Alpha/Beta Selection
JESComponent.3.Type:                Modelling
JESComponent.3.Corr:                Correlated
JESComponent.3.Param:               Pt
JESComponent.3.SubComp:             Zjet_Veto Zjet_Extrapolation MPF_J2 MJB_Alpha MJB_Beta

JESComponent.4.Name:                Correlated_Pileup
JESComponent.4.Desc:                Correlated Pileup for Z/g-jet
JESComponent.4.Type:                Mixed
JESComponent.4.Corr:                Correlated
JESComponent.4.Param:               Pt
JESComponent.4.SubComp:             Zjet_JVF MPF_Pileup

JESComponent.5.Name:                Correlated_OOC
JESComponent.5.Desc:                Correlated Out-of-cone for Z/g-jet
JESComponent.5.Type:                Modelling
JESComponent.5.Corr:                Correlated
JESComponent.5.Param:               Pt
JESComponent.5.SubComp:             Zjet_KTerm MPF_OOC

# Z+jet width
JESComponent.6.Name:                Zjet_Width
JESComponent.6.Desc:	            Z+jet Poisson Width in Fit
JESComponent.6.Type:                Statistical
JESComponent.6.Param:               Pt

# MPF JER
JESComponent.7.Name:                MPF_JER
JESComponent.7.Desc:	            MPF jet resolution
JESComponent.7.Type:                Detector
JESComponent.7.Param:               Pt

# MPF Photon Purity
JESComponent.8.Name:                MPF_Purity
JESComponent.8.Desc:	            MPF photon purity
JESComponent.8.Type:                Detector
JESComponent.8.Param:               Pt

# MJB: CBJR
JESComponent.9.Name:                MJB_CBJR
JESComponent.9.Desc:                MJB close-by JES uncertainty for recoil 
JESComponent.9.Type:                Mixed
JESComponent.9.Param:               Pt

# MJB: Threshold
JESComponent.10.Name:               MJB_Threshold
JESComponent.10.Desc:               Uncertainty due to jet threshold
JESComponent.10.Type:               Mixed
JESComponent.10.Param:              Pt

# MJB: Dijet Eta Intercalibration
JESComponent.11.Name:               MJB_Intercalibration
JESComponent.11.Desc:               MJB eta intercalibration uncertainty 
JESComponent.11.Type:               Modelling
JESComponent.11.Param:              Pt
  
# MJB: Asymmetry Selection
JESComponent.12.Name:               MJB_Asym
JESComponent.12.Desc:               MJB Asymmetry uncertainty 
JESComponent.12.Type:               Modelling
JESComponent.12.Param:              Pt

# Statistical components 
# 33 separate components (maybe best to identify these as well?)

# Statistical component No.1  
JESComponent.13.Name:               InSitu_Stat1
JESComponent.13.Desc:               Statistical uncertainty No.1
JESComponent.13.Type:               Statistical
JESComponent.13.Param:              Pt

# Statistical component No.2  
JESComponent.14.Name:               InSitu_Stat2
JESComponent.14.Desc:               Statistical uncertainty No.2
JESComponent.14.Type:               Statistical
JESComponent.14.Param:              Pt

# Statistical component No.3  
JESComponent.15.Name:               InSitu_Stat3
JESComponent.15.Desc:               Statistical uncertainty No.3
JESComponent.15.Type:               Statistical
JESComponent.15.Param:              Pt

# Statistical component No.4  
JESComponent.16.Name:               InSitu_Stat4
JESComponent.16.Desc:               Statistical uncertainty No.4
JESComponent.16.Type:               Statistical
JESComponent.16.Param:              Pt

# Statistical component No.5  
JESComponent.17.Name:               InSitu_Stat5
JESComponent.17.Desc:               Statistical uncertainty No.5
JESComponent.17.Type:               Statistical
JESComponent.17.Param:              Pt

# Statistical component No.6  
JESComponent.18.Name:               InSitu_Stat6
JESComponent.18.Desc:               Statistical uncertainty No.6
JESComponent.18.Type:               Statistical
JESComponent.18.Param:              Pt

# Statistical component No.7  
JESComponent.19.Name:               InSitu_Stat7
JESComponent.19.Desc:               Statistical uncertainty No.7
JESComponent.19.Type:               Statistical
JESComponent.19.Param:              Pt

# Statistical component No.8  
JESComponent.20.Name:               InSitu_Stat8
JESComponent.20.Desc:               Statistical uncertainty No.8
JESComponent.20.Type:               Statistical
JESComponent.20.Param:              Pt

# Statistical component No.9  
JESComponent.21.Name:               InSitu_Stat9
JESComponent.21.Desc:               Statistical uncertainty No.9
JESComponent.21.Type:               Statistical
JESComponent.21.Param:              Pt

# Statistical component No.10  
JESComponent.22.Name:               InSitu_Stat10
JESComponent.22.Desc:               Statistical uncertainty No.10
JESComponent.22.Type:               Statistical
JESComponent.22.Param:              Pt

# Statistical component No.11  
JESComponent.23.Name:               InSitu_Stat11
JESComponent.23.Desc:               Statistical uncertainty No.11
JESComponent.23.Type:               Statistical
JESComponent.23.Param:              Pt

# Statistical component No.12  
JESComponent.24.Name:               InSitu_Stat12
JESComponent.24.Desc:               Statistical uncertainty No.12
JESComponent.24.Type:               Statistical
JESComponent.24.Param:              Pt

# Statistical component No.13  
JESComponent.25.Name:               InSitu_Stat13
JESComponent.25.Desc:               Statistical uncertainty No.13
JESComponent.25.Type:               Statistical
JESComponent.25.Param:              Pt

# Statistical component No.14  
JESComponent.26.Name:               InSitu_Stat14
JESComponent.26.Desc:               Statistical uncertainty No.14
JESComponent.26.Type:               Statistical
JESComponent.26.Param:              Pt

# Statistical component No.15  
JESComponent.27.Name:               InSitu_Stat15
JESComponent.27.Desc:               Statistical uncertainty No.15
JESComponent.27.Type:               Statistical
JESComponent.27.Param:              Pt

# Statistical component No.16  
JESComponent.28.Name:               InSitu_Stat16
JESComponent.28.Desc:               Statistical uncertainty No.16
JESComponent.28.Type:               Statistical
JESComponent.28.Param:              Pt

# Statistical component No.17  
JESComponent.29.Name:               InSitu_Stat17
JESComponent.29.Desc:               Statistical uncertainty No.17
JESComponent.29.Type:               Statistical
JESComponent.29.Param:              Pt

# Statistical component No.18  
JESComponent.30.Name:               InSitu_Stat18
JESComponent.30.Desc:               Statistical uncertainty No.18
JESComponent.30.Type:               Statistical
JESComponent.30.Param:              Pt

# Statistical component No.19  
JESComponent.31.Name:               InSitu_Stat19
JESComponent.31.Desc:               Statistical uncertainty No.19
JESComponent.31.Type:               Statistical
JESComponent.31.Param:              Pt

# Statistical component No.20  
JESComponent.32.Name:               InSitu_Stat20
JESComponent.32.Desc:               Statistical uncertainty No.20
JESComponent.32.Type:               Statistical
JESComponent.32.Param:              Pt

# Statistical component No.21  
JESComponent.33.Name:               InSitu_Stat21
JESComponent.33.Desc:               Statistical uncertainty No.21
JESComponent.33.Type:               Statistical
JESComponent.33.Param:              Pt

# Statistical component No.22  
JESComponent.34.Name:               InSitu_Stat22
JESComponent.34.Desc:               Statistical uncertainty No.22
JESComponent.34.Type:               Statistical
JESComponent.34.Param:              Pt

# Statistical component No.23  
JESComponent.35.Name:               InSitu_Stat23
JESComponent.35.Desc:               Statistical uncertainty No.23
JESComponent.35.Type:               Statistical
JESComponent.35.Param:              Pt

# Statistical component No.24  
JESComponent.36.Name:               InSitu_Stat24
JESComponent.36.Desc:               Statistical uncertainty No.24
JESComponent.36.Type:               Statistical
JESComponent.36.Param:              Pt

# Statistical component No.25  
JESComponent.37.Name:               InSitu_Stat25
JESComponent.37.Desc:               Statistical uncertainty No.25
JESComponent.37.Type:               Statistical
JESComponent.37.Param:              Pt

# Statistical component No.26
JESComponent.38.Name:               InSitu_Stat26
JESComponent.38.Desc:               Statistical uncertainty No.26
JESComponent.38.Type:               Statistical
JESComponent.38.Param:              Pt

# Statistical component No.27
JESComponent.39.Name:               InSitu_Stat27
JESComponent.39.Desc:               Statistical uncertainty No.27
JESComponent.39.Type:               Statistical
JESComponent.39.Param:              Pt

# Statistical component No.28
JESComponent.40.Name:               InSitu_Stat28
JESComponent.40.Desc:               Statistical uncertainty No.28
JESComponent.40.Type:               Statistical
JESComponent.40.Param:              Pt

# Statistical component No.29
JESComponent.41.Name:               InSitu_Stat29
JESComponent.41.Desc:               Statistical uncertainty No.29
JESComponent.41.Type:               Statistical
JESComponent.41.Param:              Pt

# Statistical component No.30
JESComponent.42.Name:               InSitu_Stat30
JESComponent.42.Desc:               Statistical uncertainty No.30
JESComponent.42.Type:               Statistical
JESComponent.42.Param:              Pt

# Statistical component No.31
JESComponent.43.Name:               InSitu_Stat31
JESComponent.43.Desc:               Statistical uncertainty No.31
JESComponent.43.Type:               Statistical
JESComponent.43.Param:              Pt

# Statistical component No.32
JESComponent.44.Name:               InSitu_Stat32
JESComponent.44.Desc:               Statistical uncertainty No.32
JESComponent.44.Type:               Statistical
JESComponent.44.Param:              Pt

# Statistical component No.33
JESComponent.45.Name:               InSitu_Stat33
JESComponent.45.Desc:               Statistical uncertainty No.33
JESComponent.45.Type:               Statistical
JESComponent.45.Param:              Pt

###################################

JESComponent.46.Name:               EtaIntercalibration_TotalStat
JESComponent.46.Desc:               Eta intercalibration: stat uncertainties
JESComponent.46.Type:               Statistical
JESComponent.46.Param:              PtEta

JESComponent.47.Name:               EtaIntercalibration_Modelling
JESComponent.47.Desc:               Eta intercalibration: MC generator modelling uncertainty
JESComponent.47.Type:               Modelling
JESComponent.47.Param:              PtEta

JESComponent.48.Name:               SingleParticle_HighPt
JESComponent.48.Desc:               High Pt term (temporary, 2010 uncertainty)
JESComponent.48.Type:               Detector
JESComponent.48.Param:              Pt

JESComponent.49.Name:               RelativeNonClosure_MCTYPE
JESComponent.49.Desc:               Closure of the calibration, relative to MC11b
JESComponent.49.Type:               Other
JESComponent.49.Param:              PtEta
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initiating the provider

JESComponent.50.Name:               Pileup_OffsetMu
JESComponent.50.Desc:               Pileup: Offset, mu term
JESComponent.50.Type:               Other
JESComponent.50.Param:              PtEta
JESComponent.50.Special:            True

JESComponent.51.Name:               Pileup_OffsetNPV
JESComponent.51.Desc:               Pileup: Offset, NPV term
JESComponent.51.Type:               Other
JESComponent.51.Param:              PtEta
JESComponent.51.Special:            True

# Flavour composition uncertainty
JESComponent.52.Name:               Flavor_Composition
JESComponent.52.Desc:               Flavor composition uncertainty
JESComponent.52.Type:               Modelling
JESComponent.52.Param:              PtEta
JESComponent.52.Special:            True
JESComponent.52.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.53.Name:               Flavor_Response
JESComponent.53.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.53.Type:               Modelling
JESComponent.53.Param:              PtEta
JESComponent.53.Special:            True
JESComponent.53.Hists:              FlavorResponse

# bJES uncertainty
JESComponent.54.Name:               BJES_Response
JESComponent.54.Desc:               JES uncertainty for b jets
JESComponent.54.Type:               Modelling
JESComponent.54.Param:              PtEta
JESComponent.54.Special:            True
JESComponent.54.Hists:              bJES

# Close-by jet uncertainty
JESComponent.55.Name:               CloseBy
JESComponent.55.Desc:               JES uncertainty due to close-by jets
JESComponent.55.Type:               Mixed
JESComponent.55.Param:              Pt
JESComponent.55.Special:            True

######################################
