
#######################################
#
#  JetUncertaintiesTool Input Settings
#    Reduced list of nuisance parameters from final 2011 iteration of 
#    the in-situ JES
#    Sep 26, 2012
#
#  J. Taenzer, S. Schramm, B. Malaescu, D. Gillberg, C. Doglioni
# 
#######################################

UncertaintyRelease:                 2011_Final
SupportedJetDefs:                   AntiKt4LCTopo,AntiKt4EMTopo,AntiKt6LCTopo,AntiKt6EMTopo
SupportedMCTypes:                   MC11b,MC11c,FrozenShowers,AFII
UncertaintyRootFile:                JES_2011/Final/JESUncertainty_2011.root
AnalysisRootFile:                   analysisInputs/UnknownFlavourComp.root

Pileup.MuRef:                       8.5
Pileup.NPVRef:                      6.0

#######################################
#
#   Settings for JES Components
#
#######################################

JESComponent.1.Name:                EffectiveNP_1
JESComponent.1.Desc:                Effective JES Uncertainty Component 1
JESComponent.1.Type:                Effective
JESComponent.1.Param:               Pt

JESComponent.2.Name:                EffectiveNP_2
JESComponent.2.Desc:                Effective JES Uncertainty Component 2
JESComponent.2.Type:                Effective
JESComponent.2.Param:               Pt

JESComponent.3.Name:                EffectiveNP_3
JESComponent.3.Desc:                Effective JES Uncertainty Component 3
JESComponent.3.Type:                Effective
JESComponent.3.Param:               Pt

JESComponent.4.Name:                EffectiveNP_4
JESComponent.4.Desc:                Effective JES Uncertainty Component 4
JESComponent.4.Type:                Effective
JESComponent.4.Param:               Pt

JESComponent.5.Name:                EffectiveNP_5
JESComponent.5.Desc:                Effective JES Uncertainty Component 5
JESComponent.5.Type:                Effective
JESComponent.5.Param:               Pt

JESComponent.6.Name:                EffectiveNP_6restTerm
JESComponent.6.Desc:                Effective JES Uncertainty Component 6
JESComponent.6.Type:                Effective
JESComponent.6.Param:               Pt

#######################################

JESComponent.7.Name:                EtaIntercalibration_TotalUnc
JESComponent.7.Desc:                Eta intercalibration: combined total uncertainty
JESComponent.7.Type:                Other
JESComponent.7.Corr:                Uncorrelated
JESComponent.7.Param:               PtEta
JESComponent.7.SubComp:             EtaIntercalibration_TotalStat EtaIntercalibration_Modelling

JESComponent.8.Name:                SingleParticle_HighPt
JESComponent.8.Desc:                High Pt term (temporary, 2010 uncertainty)
JESComponent.8.Type:                Detector
JESComponent.8.Param:               Pt

JESComponent.9.Name:                RelativeNonClosure_MCTYPE
JESComponent.9.Desc:                Closure of the calibration, relative to MC11b
JESComponent.9.Type:                Other
JESComponent.9.Param:               PtEta
# NOTE: MCTYPE in the name above will be replaced by the MC type used when initiating the provider

JESComponent.10.Name:               Pileup_OffsetMu
JESComponent.10.Desc:               Pileup: Offset, mu term
JESComponent.10.Type:               Other
JESComponent.10.Param:              PtEta
JESComponent.10.Special:            True

JESComponent.11.Name:               Pileup_OffsetNPV
JESComponent.11.Desc:               Pileup: Offset, NPV term
JESComponent.11.Type:               Other
JESComponent.11.Param:              PtEta
JESComponent.11.Special:            True

# Flavour composition uncertainty
JESComponent.12.Name:               Flavor_Composition
JESComponent.12.Desc:               Flavor composition uncertainty
JESComponent.12.Type:               Modelling
JESComponent.12.Param:              PtEta
JESComponent.12.Special:            True
JESComponent.12.Hists:              flavorCompGlu,flavorCompLight

# Flavour response uncertainty
JESComponent.13.Name:               Flavor_Response
JESComponent.13.Desc:               Flavor response uncertainty (dominated by gluon response)
JESComponent.13.Type:               Modelling
JESComponent.13.Param:              PtEta
JESComponent.13.Special:            True
JESComponent.13.Hists:              FlavorResponse

# bJES uncertainty
JESComponent.14.Name:               BJES_Response
JESComponent.14.Desc:               JES uncertainty for b jets
JESComponent.14.Type:               Modelling
JESComponent.14.Param:              PtEta
JESComponent.14.Special:            True
JESComponent.14.Hists:              bJES

# Close-by jet uncertainty
JESComponent.15.Name:               CloseBy
JESComponent.15.Desc:               JES uncertainty due to close-by jets
JESComponent.15.Type:               Mixed
JESComponent.15.Param:              Pt
JESComponent.15.Special:            True

#######################################
