# **********************************************************************
# $Id: collisions_run.config 747131 2016-05-13 19:51:45Z enagy $
# **********************************************************************

#######################
# HLTbjet
#######################

#######################
# Output
#######################

output top_level {
	output HLT {
		output TRBJT {
			output Shifter {
			       output Offline {
			       }
			       output Online_SplitChains {
			       }
			       output Online_UnSplitChains {
			       }			       
			}
		}		
	}
}

########################
# References
########################

reference BjetMCRef {
         file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/BjetRef_ENAGY_07032015.root
#         file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/BjetRef_ENAGY_05162015.root
#         file = /afs/cern.ch/user/e/enagy/han_collision_MC/DataQuality/DataQualityConfigurations/config/BjetRef.root
#         file = BjetRef.root
         path = run_222525
         name = same_name
}


###########################
# Algorithms 
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
	libname = libdqm_algorithms.so
	name = HLT_Histogram_Not_Empty&GatherData
	reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# KolmogorovTest method: scale histograms first
algorithm Bjet_HistKolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = Bjet_HistKolmogorovTest_MaxDist_Threshold
  MinStat = -1
#  reference = BjetMCRef
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# KolmogorovTest method: assume both histograms are scaled
algorithm Bjet_HistKolmogorovTest_Prob {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = Bjet_HistKolmogorovTest_Prob_Threshold
  MinStat = -1
#  reference = BjetMCRef
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# Chi2Prob
algorithm Chi2Prob {
  libname = libdqm_algorithms.so
  name = Chi2Test_Prob
#  reference = BjetMCRef
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  thresholds = Chi2ProbThresh
}


########################
# Thresholds
########################


thresholds Bjet_HistKolmogorovTest_MaxDist_Threshold {
  limits MaxDist {
    warning = 0.4
    error = 0.7
  }
}

thresholds Bjet_HistKolmogorovTest_Prob_Threshold {
  limits P {
    warning = 0.6
    error = 0.3
  }
}

thresholds Chi2ProbThresh {
  limits P {
    warning = 0.9
    error = 0.3
  }
}



#######################
# Histogram Assessments
#######################

dir HLT {    						    	
    dir BjetMon {					
    	dir Shifter {		    		
	    dir Offline {
	    	hist nPV {
		     algorithm = HLTbjet_Histogram_Not_Empty&GatherData
		     output = HLT/TRBJT/Shifter/Offline
		     weight = 1.0
		     display = StatBox
		}
		hist PVx {
                     algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                     output = HLT/TRBJT/Shifter/Offline
                     weight = 1.0
                     display = StatBox
                }
		hist PVy {
                     algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                     output = HLT/TRBJT/Shifter/Offline
                     weight = 1.0
                     display = StatBox
                }
		hist PVz {
                     algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                     output = HLT/TRBJT/Shifter/Offline
                     weight = 1.0
                     display = StatBox
                }
#                   end Offline
            }
            dir Online_SplitChains {	    			
                hist nPV_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist PVx_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist PVy_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist PVz_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist diffzPV0offPVon_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist nTrack_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist d0_Split {
#	            algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist z0_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist ed0_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist ez0_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist diffz0PV0_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist sigz0PV_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist trkPt_Split {
#	            algorithm = HLTbjet_Histogram_Not_Empty&GatherData
#	            algorithm = Chi2Prob
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist trkEtaPhi_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist nJet_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist jetPt_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist jetEtaPhi_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist IP3D_pu_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist IP3D_pb_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist IP3D_pc_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist wIP3D_Rbu_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist wSV1_Rbu_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist wCOMB_Rbu_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist wMV2c00_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist wMV2c10_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist wMV2c20_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist xMVtx_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist xEVtx_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist xNVtx_tr_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist xMVtx_trv_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xEVtx_trv_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xNVtx_trv_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist nMuon_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist muonPt_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist muonEtaPhi_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist DeltaRAll_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist DeltaZAll_Split {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_SplitChains
                    weight = 1.0
                    display = StatBox
                }
#               end Online_SplitChains
            }
            dir Online_UnSplitChains {
		hist nPV_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist PVx_tr {                    
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist PVy_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist PVz_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist diffzPV0offPVon {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist nTrack {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist d0 {
#	            algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist z0 {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist ed0 {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist ez0 {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist diffz0PV0 {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist sigz0PV {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist trkPt {
#		    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
#		    algorithm = Chi2Prob
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist trkEtaPhi {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist nJet {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist jetPt {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist jetEtaPhi {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist IP3D_pu_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist IP3D_pb_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist IP3D_pc_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist wIP3D_Rbu_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist wSV1_Rbu_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist wCOMB_Rbu_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist wMV2c00_tr { 
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist wMV2c10_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist wMV2c20_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
                hist xMVtx_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xEVtx_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xNVtx_tr {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xMVtx_trv {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xEVtx_trv {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist xNVtx_trv {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist nMuon {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist muonPt {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist muonEtaPhi {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist DeltaRAll {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
		hist DeltaZAll {
                    algorithm = HLTbjet_Histogram_Not_Empty&GatherData
                    output = HLT/TRBJT/Shifter/Online_UnSplitChains
                    weight = 1.0
                    display = StatBox
                }
#		end Online_UnSplitChains				
            }
#		end Shifter
        }
    }
}



