# **********************************************************************
# $Id: collisions_run.config 512777 2012-08-07 19:43:55Z vogel $
# **********************************************************************

#######################
# HLTbjet
#######################

#######################
# Output
#######################

output top_level {
	output HLT {
		output TRBJT {
			output Shifter {
			}
			output b-jet {
			}
			output mu-jet {
			}
		}		
	}
}

###########################
# Algorithms and Thresholds
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
	libname = libdqm_algorithms.so
	name = HLT_Histogram_Not_Empty&GatherData
	reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;CentrallyManagedReferences
}

#######################
# Histogram Assessments
#######################

dir HLT {

	dir BjetMon {
	
		dir Shifter {

			hist EFBjet_XCHI2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist EFBjet_XComb {	
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist EFBjet_XIP1D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist EFBjet_XIP2D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist EFBjet_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XCHI2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_XCHI2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist L2Bjet_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist L2Bjet_XIP1D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist L2Bjet_XIP2D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist L2Bjet_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XCHI2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_CounterXComb {	
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = StatBox
			}

		}
		dir b-jet {
			hist EFBjet_XCHI2_Recomputed {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_XIP3D_Recomputed {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_XCHI2_Recomputed {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_XIP3D_Recomputed {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XIP1D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XIP2D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XSV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XMVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}	
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XNVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_XEVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XIP1D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XIP2D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XSV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XMVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XNVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_XEVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}

			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_a0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_a0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_Sa0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_z0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_z0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_z0_sel_PV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_Sz0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_trk_prob {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist EFBjet_EF_b55_NoCut_j55_a4tchad_CounterXSV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_a0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_a0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_Sa0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_z0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_z0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_z0_sel_PV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_Sz0_sel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
 			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_trk_prob {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
			hist L2Bjet_L2_b50_NoCut_j50_c4cchad_CounterXSV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/b-jet
				weight = 0.0
				display = StatBox
			}
		}
		dir mu-jet {
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_ALL {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = LogY
			}
			hist NumOffMuJet {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = LogY
			}
			
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XSV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XNVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XMVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XEVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
		        hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_XComb_pTrel2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_L2_CounterXSV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XSV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XNVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XMVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XEVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_XComb_pTrel2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_L2_CounterXSV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XSV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XNVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XMVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XEVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_XComb_pTrel2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_matched_MatchOffmu_EF_CounterXSV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XIP3D {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XSV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XNVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XMVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XEVtx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_XComb_pTrel2 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_CounterXComb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist MuJet_EF_mu4T_j55_a4tchad_L2FS_matched_MatchOffmu_EF_CounterXSV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist pTrel {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
			hist pTrel_muChains {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/mu-jet
				weight = 0.0
				display = StatBox
			}
		}
	}
}



