# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTbjet
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRBJT {
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir BjetMon {
    output = HLT/TRBJT
    hist all_in_dir {
      reference = CentrallyManagedReferences
    }
  }
}

##############
# Algorithms
##############



###############
# Thresholds
###############
