# **********************************************************************
# $Id: cosmics_run.config 651207 2015-03-03 14:58:26Z enagy $
# **********************************************************************

#######################
# HLTbjet
#######################

#######################
# Output
#######################

output top_level {
	output HLT {
		output TRBJT {
			output Shifter {
			}
		}		
	}
}

###########################
# Algorithms and Thresholds
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
	libname = libdqm_algorithms.so
	name = HLT_Histogram_Not_Empty&GatherData
	reference = stream=physics_JetTauEtmiss:CentrallyManagedReferences_JetTauEtmiss;stream=physics_JetCalibDelayed:CentrallyManagedReferences_JetCalibDelayed;CentrallyManagedReferences
}

#######################
# Histogram Assessments
#######################

dir HLT {

	dir BjetMon {
	
		dir Shifter {

			hist xAOD_XIP2D_pu {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_XIP2D_pu_tr {	
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_XIP2D_pb {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_XIP2D_pc {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_XIP2D_Rbu {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_nTrack {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_d0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_z0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_ed0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_ez0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_nPV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_PVx {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_PVy {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xAOD_pVz {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}

		}
	}
}



