# **********************************************************************
# $Id: heavyions_run.config 512777 2012-08-07 19:43:55Z vogel $
# **********************************************************************

#######################
# HLTbjet
#######################

#######################
# Output
#######################

output top_level {
	output HLT {
		output TRBJT {
			output Shifter {
			}
		}
	}
}

###########################
# Algorithms and Thresholds
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
	libname = libdqm_algorithms.so
	name = HLT_Histogram_Not_Empty&GatherData
	reference = CentrallyManagedReferences
}

#######################
# Histogram Assessments
#######################

dir HLT {

	dir BjetMon {

		dir mu-jet {

			hist MuJet_ALL {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 0.0
				display = LogY
			}
		}
	}
}
