# **********************************************************************
# $Id: heavyions_run.config 696900 2015-09-25 16:05:13Z enagy $ 
# **********************************************************************

#######################
# HLTbjet
#######################

#######################
# Output
#######################

output top_level {
	output HLT {
		output TRBJT {
			output Shifter {
			}
		}		
	}
}

########################
# References
########################

reference BjetMCRef {
         file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/BjetRef_ENAGY_07032015.root
#         file = /afs/cern.ch/user/a/atlasdqm/dqmdisk/tier0/han_references/Collisions/BjetRef_ENAGY_05162015.root
#         file = /afs/cern.ch/user/e/enagy/han_collision_MC/DataQuality/DataQualityConfigurations/config/BjetRef.root
#         file = BjetRef.root
         path = run_222525
         name = same_name
}


###########################
# Algorithms 
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
	libname = libdqm_algorithms.so
	name = HLT_Histogram_Not_Empty&GatherData
	reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# KolmogorovTest method: scale histograms first
algorithm Bjet_HistKolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = Bjet_HistKolmogorovTest_MaxDist_Threshold
  MinStat = -1
#  reference = BjetMCRef
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# KolmogorovTest method: assume both histograms are scaled
algorithm Bjet_HistKolmogorovTest_Prob {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = Bjet_HistKolmogorovTest_Prob_Threshold
  MinStat = -1
#  reference = BjetMCRef
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# Chi2Prob
algorithm Chi2Prob {
  libname = libdqm_algorithms.so
  name = Chi2Test_Prob
#  reference = BjetMCRef
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
  thresholds = Chi2ProbThresh
}


########################
# Thresholds
########################


thresholds Bjet_HistKolmogorovTest_MaxDist_Threshold {
  limits MaxDist {
    warning = 0.4
    error = 0.7
  }
}

thresholds Bjet_HistKolmogorovTest_Prob_Threshold {
  limits P {
    warning = 0.6
    error = 0.3
  }
}

thresholds Chi2ProbThresh {
  limits P {
    warning = 0.9
    error = 0.3
  }
}



#######################
# Histogram Assessments
#######################

dir HLT {

	dir BjetMon {
	
		dir Shifter {

			hist nPV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist PVx {	
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist PVy {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist PVz {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist nPV_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist PVx_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist PVy_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist PVz_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist diffzPV0offPVon {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist nTrack {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist d0 {
#				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				algorithm = Bjet_HistKolmogorovTest_MaxDist
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist z0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist ed0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist ez0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist diffz0PV0 {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist sigz0PV {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist trkPt {
#				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
#				algorithm = Chi2Prob
				algorithm = Bjet_HistKolmogorovTest_MaxDist
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist trkEtaPhi {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist nJet {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist jetPt {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist jetEtaPhi {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist IP3D_pu_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist IP3D_pb_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist IP3D_pc_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist wIP3D_Rbu_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist wSV1_Rbu_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist wCOMB_Rbu_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist wMV1_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xMVtx_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}
			hist xNVtx_tr {
				algorithm = HLTbjet_Histogram_Not_Empty&GatherData
				output = HLT/TRBJT/Shifter
				weight = 1.0
				display = StatBox
			}

		}
	}
}



