######################################################################
# $Id: heavyions_run.config 783870 2016-11-13 11:26:30Z enagy $
######################################################################

#######################
# HLTbjet
#######################




#######################
# Output
#######################


output top_level {
	output HLT {
		output TRBJT {
			output Expert {
				output HLT_j40_boffperf_split {
				}
				output HLT_mu4_j20_ion_dr05 {
				}
			}
			output Shifter {
				output HLT_j100_boffperf_split {
				}
				output HLT_j60_boffperf_split {
				}
				output HLT_mu4_j60_ion_dr05 {
				}
				output HLT_mu6_j30_ion_dr05 {
				}
				output Offline {
				}
			}
		}
	}
}

########################
# References
########################

reference BjetMCRef {
         location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/
  file = BjetRef_ENAGY_07032015.root
#         location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/
  file = BjetRef_ENAGY_05162015.root
#         file = /afs/cern.ch/user/e/enagy/han_collision_MC/DataQuality/DataQualityConfigurations/config/BjetRef.root
#         file = BjetRef.root
         path = run_222525
         name = same_name
}


###########################
# Algorithms 
###########################

algorithm HLTbjet_Histogram_Not_Empty&GatherData {
        libname = libdqm_algorithms.so
        name = HLT_Histogram_Not_Empty&GatherData
        reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}


#######################
# Histogram Assessments
#######################

dir HLT {
	dir BjetMon {
		dir Expert {
			dir HLT_j40_boffperf_split {
				hist IP3D_pb_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist IP3D_pc_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist IP3D_pu_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist PVx_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist PVx_tr_Hist_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist PVy_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist PVy_tr_Hist_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist PVz_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist PVz_tr_Hist_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist d0_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist diffz0PV0_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist diffzPV0offPVon_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist ed0_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist ez0_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist jetEtaPhi_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist jetPt_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist nJet_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist nPV_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist nPV_tr_Hist_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist nTrack_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist sigz0PV_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist trkEtaPhi_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist trkPt_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist wCOMB_Rbu_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist wIP3D_Rbu_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist wMV2c00_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist wMV2c10_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist wMV2c20_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist wSV1_Rbu_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist xEVtx_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist xEVtx_trv_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist xMVtx_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist xMVtx_trv_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist xNVtx_tr_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist xNVtx_trv_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
				hist z0_HLT_j40_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_j40_boffperf_split
					display     	= StatBox
				}
			}
			dir HLT_mu4_j20_ion_dr05 {
				hist DeltaRAll_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist DeltaZAll_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist jetEtaPhi_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist jetPt_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist muonEtaPhi_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist muonPt_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist nJet_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
				hist nMuon_HLT_mu4_j20_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Expert/HLT_mu4_j20_ion_dr05
					display     	= StatBox
				}
			}
		}
		dir Shifter {
			dir HLT_j100_boffperf_split {
				hist IP3D_pb_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist IP3D_pc_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist IP3D_pu_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist PVx_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist PVx_tr_Hist_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist PVy_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist PVy_tr_Hist_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist PVz_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist PVz_tr_Hist_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist d0_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist diffz0PV0_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist diffzPV0offPVon_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist ed0_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist ez0_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist jetEtaPhi_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist jetPt_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist nJet_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist nPV_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist nPV_tr_Hist_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist nTrack_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist sigz0PV_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist trkEtaPhi_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist trkPt_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist wCOMB_Rbu_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist wIP3D_Rbu_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist wMV2c00_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist wMV2c10_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist wMV2c20_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist wSV1_Rbu_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist xEVtx_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist xEVtx_trv_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist xMVtx_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist xMVtx_trv_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist xNVtx_tr_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist xNVtx_trv_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
				hist z0_HLT_j100_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j100_boffperf_split
					display     	= StatBox
				}
			}
			dir HLT_j60_boffperf_split {
				hist IP3D_pb_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist IP3D_pc_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist IP3D_pu_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist PVx_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist PVx_tr_Hist_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist PVy_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist PVy_tr_Hist_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist PVz_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist PVz_tr_Hist_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist d0_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist diffz0PV0_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist diffzPV0offPVon_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist ed0_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist ez0_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist jetEtaPhi_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist jetPt_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist nJet_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist nPV_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist nPV_tr_Hist_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist nTrack_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist sigz0PV_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist trkEtaPhi_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist trkPt_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist wCOMB_Rbu_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist wIP3D_Rbu_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist wMV2c00_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist wMV2c10_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist wMV2c20_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist wSV1_Rbu_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist xEVtx_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist xEVtx_trv_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist xMVtx_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist xMVtx_trv_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist xNVtx_tr_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist xNVtx_trv_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
				hist z0_HLT_j60_boffperf_split {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_j60_boffperf_split
					display     	= StatBox
				}
			}
			dir HLT_mu4_j60_ion_dr05 {
				hist DeltaRAll_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist DeltaZAll_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist jetEtaPhi_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist jetPt_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist muonEtaPhi_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist muonPt_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist nJet_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
				hist nMuon_HLT_mu4_j60_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu4_j60_ion_dr05
					display     	= StatBox
				}
			}
			dir HLT_mu6_j30_ion_dr05 {
				hist DeltaRAll_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist DeltaZAll_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist jetEtaPhi_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist jetPt_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist muonEtaPhi_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist muonPt_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist nJet_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
				hist nMuon_HLT_mu6_j30_ion_dr05 {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/HLT_mu6_j30_ion_dr05
					display     	= StatBox
				}
			}
			dir Offline {
				hist PVx {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/Offline
					display     	= StatBox
				}
				hist PVy {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/Offline
					display     	= StatBox
				}
				hist PVz {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/Offline
					display     	= StatBox
				}
				hist nPV {
					algorithm   	= HLTbjet_Histogram_Not_Empty&GatherData
					description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
					output      	= HLT/TRBJT/Shifter/Offline
					display     	= StatBox
				}
			}
		}
	}
}

