######################################################################
# $Id: $
######################################################################

#######################
# HLTegamma
#######################

# REMOVED 



#######################
# Output
#######################


#output top_level {
#	output HLT {
#		output TREG {
#			output Expert {
#				output Event {
#				}
#				output HLT_g0_perf_L1EM3_EMPTY {
#					output Efficiency {
#						output HLT {
#						}
#						output L2Calo {
#						}
#						output L2 {
#						}
#						output EFCalo {
#						}
#					}
#					output Distributions {
#						output Offline {
#						}
#						output HLT {
#						}
#						output EFCalo {
#						}
#						output L2Photon {
#						}
#						output L2Calo {
#						}
#					}
#					output Resolutions {
#						output HLT {
#						}
#						output L2Calo_vs_HLT {
#						}
#					}
#				}
#				output HLT_e0_perf_L1EM3_EMPTY {
#					output Efficiency {
#						output HLT {
#						}
#						output L2Calo {
#						}
#						output L2 {
#						}
#						output EFCalo {
#						}
#					}
#					output Distributions {
#						output Offline {
#						}
#						output HLT {
#						}
#						output EFCalo {
#						}
#						output L2Electron {
#						}
#						output L2Calo {
#						}
#					}
#					output Resolutions {
#						output HLT {
#						}
#						output L2Calo_vs_HLT {
#						}
#					}
#				}
#			}
#			output Shifter {
#				output primary_single_pho {
#				}
#				output primary_single_ele {
#				}
#			}
#		}
#	}
#}


#######################
# Histogram Assessments
#######################



