#######################
# Histogram Assessments
#######################


## define the directory structure of the input file

dir eb1 {
  dir Stats {
    dir Gaussian {
      
      ## these values are applied unless overridden
      reference = default
      output = Summary/Individual
      algorithm = CheckMean/Loose

      hist nthMean {
        ## override the output directory for summary histos
        output = Summary
      }
      
      hist nthMeanPull {
        output = Summary
      }
      
      hist meanPull {
        output = Summary
      }
      
     hist nthRMS {
        output = Summary
        ## override the algorithm for this histogram
        algorithm = CheckMean
      }

      ## now, include all the remaining histos in this directory
      hist all_in_dir {      
      }
     
    }
  }
}


#############
# Output
#############

## The 'top_level' must always be defined
output top_level {

  algorithm = SimpleSummary
    
  output Summary {
  
    output Individual {
    }
  
  }
}


#############
# References
#############

## references need not be nested; 'default' is an optional name
reference default {
  file = Reference.root
  ## the next line specifies the reference histogram to have the
  ## same name as the input histogram;  one may also
  ## provide a specific name, for example if the same reference is
  ## to be used for many input histograms
  name = same_name
  info = Example reference
}


#############
# Algorithms
#############

algorithm CheckMean {
  libname = libDataQualityInterfacesAlgs.so
  name = AlgCheckMean
  thresholds = CheckMean
  reference = default
  
  algorithm Loose {
    thresholds = CheckMean/Loose
  }
}

algorithm SimpleSummary {
  libname = libdqm_summaries.so
  name = SimpleSummary
}


#############
# Thresholds
#############

thresholds CheckMean {
  limits chi2 {
    warning = 2
    error = 3
  }
  
  thresholds Loose {
    limits chi2 {
      warning = 5
      error = 10
    }
  }
}
