######################################################################
# $Id: collisions_run.config hartj $
######################################################################

#######################
# HLTidtrk
#######################




#######################
# Output
#######################


output top_level {
	output HLT {
	   output TRIDT {
	      output ${signature} {
	         output ${level} {
  		    output ${chain} {
  		       output ${collection} {
		       }
		    }
		 }
				
	      }
	   }
	}
}


########################
# References
########################
##  file = r13759.HIST_run3.root
reference HLTidt_local_reference {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/
  file = HIST.29737390._000001.pool.root.1
  path = run_360026
  info = Run 360026
  #From ATR-25951
  name = same_name
}


###########################
# Algorithms 
###########################


compositeAlgorithm HLTidt_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

algorithm HLTidt_Histogram_Not_Empty&GatherData {
  name = HLTidt_Histogram_Not_Empty&GatherData
}

algorithm HLTidt_Histogram_Not_Empty_with_Ref&GatherData {
  name = HLTidt_Histogram_Not_Empty&GatherData
  #reference = stream=physics_Main:CentrallyManagedReferences_TriggerMain;CentrallyManagedReferences_Trigger
  reference = HLTidt_local_reference
}


#######################
# Histogram Assessments
#######################

dir HLT {
	dir TRIDT {
        algorithm   	= HLTidt_Histogram_Not_Empty_with_Ref&GatherData
        description 	= https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        display     	= StatBox
           dir (?P<signature>.*) {
           regex           = 1
		dir (?P<level>.*)  {
		   dir (?P<chain>HLT_.*) {
  		      dir (?P<collection>HLT_IDTrack.*) {
                         output = HLT/TRIDT/${signature}/${level}/${chain}/${collection}
			 hist .* {
			 }
                      }
		   }
		}

           }
	}
}

