# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTidtrk
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRIDT {
      output Common {
      }
      output IDSCAN {
      }
      output SiTrack {
      }
      output TRTSegFinder {
      }
      output EFID {
      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir IDTrkMon {
    hist FakeContribution {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/Common
    }
    hist TrigIDScan_z0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigIDScan_pt {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigIDScan_a0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigIDScan_phi0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigIDScan_eta {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigIDScan_SiHit {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigSiTrack_z0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigSiTrack_pt {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigSiTrack_a0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigSiTrack_phi0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigSiTrack_eta {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigSiTrack_SiHit {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigTRTxk_z0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist TrigTRTxk_pt {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist TrigTRTxk_a0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist TrigTRTxk_phi0 {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist TrigTRTxk_eta {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist TrigEFTrack_z0_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_pt_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_d0_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_phi_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_NPixelHits_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_NSctHits_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_NTRTHits_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFTrack_ChiNdof_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist TrigEFROI_NTracks_IOTRT_CosmicsN {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
  }
  dir IDTrkEff {
    hist TrigEffD0_IDSOff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist TrigEffD0_SiTOff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist TrigEffD0_TRTOff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist TrigEffEta_L2Off {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/Common
    }
    hist TrigEffPhi_L2Off {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/Common
    }
    hist TrigEffZ0_L2Off {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/Common
    }
    hist TrigEffD0_L2Off {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/Common
    }
    hist TrigEffD0_EFOff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
  }
  dir IDTrkDump {
    hist CosNoTDT_CosNoTDT_phi_IDS_par {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist CosNoTDT_CosNoTDT_phi_IDS_res {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist CosNoTDT_CosNoTDT_phi_SIT_par {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist CosNoTDT_CosNoTDT_phi_SIT_res {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist CosNoTDT_CosNoTDT_phi_TSF_par {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist CosNoTDT_CosNoTDT_phi_TSF_res {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist CosNoTDT_CosNoTDT_phi_EF_par {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist CosNoTDT_CosNoTDT_phi_EF_res {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
  }
  dir IDTrkDumpEff {
    hist CosNoTDT_CosNoTDT_phi_IDS_eff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist CosNoTDT_CosNoTDT_phi_IDS_fake {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/IDSCAN
    }
    hist CosNoTDT_CosNoTDT_phi_SIT_eff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist CosNoTDT_CosNoTDT_phi_SIT_fake {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/SiTrack
    }
    hist CosNoTDT_CosNoTDT_phi_TSF_eff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist CosNoTDT_CosNoTDT_phi_TSF_fake {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/TRTSegFinder
    }
    hist CosNoTDT_CosNoTDT_phi_EF_eff {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
    hist CosNoTDT_CosNoTDT_phi_EF_fake {
      algorithm = HLT_Histogram_Not_Empty&GatherData
      output = HLT/TRIDT/EFID
    }
  }
}

##############
# Algorithms
##############



###############
# Thresholds
###############
