# **********************************************************************
# $Id: heavyions_run.config 516887 2012-09-09 22:34:18Z vogel $
# **********************************************************************

#######################
# HLTidtrk
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRIDT {
      output Shifters {
        output Muons {
        }
        output Electrons {
        }
        output Taus {
        }
        output BJets {
        }
      }
      output Experts {
        output Offline {
        }
        output IDScan {
        }
        output SiTrack {
        }
        output TRTSegFinder {
        }
        output EFID {
        }
        output InDetMon {
        }
        output L2Star {
        }
	output TIDA {
	  output e24vh_medium_IDTrkNoCut {
	    output IDSCAN {
	    }
	    output SiTrack {
	    }
	    output L2S_A {
	    }
	    output L2S_B {
	    }
	    output L2S_C {
	    }
	    output EF {
	    }
            output Comb {
              output EF {
              }
              output L2S_A {
              }
            }
	  }
	  output mu18_IDTrkNoCut_tight {
	    output IDSCAN {
	    }
	    output SiTrack {
	    }
	    output L2S_A {
	    }
	    output L2S_B {
	    }
	    output L2S_C {
	    }
	    output EF {
	    }
	  }
	  output mu22_IDTrkNoCut_tight {
	    output IDSCAN {
	    }
	    output SiTrack {
	    }
	    output L2S_A {
	    }
	    output L2S_B {
	    }
	    output L2S_C {
	    }
	    output EF {
	    }
	  }
	  output tau29_IDTrkNoCut {
	    output IDSCAN {
	    }
	    output SiTrack {
	    }
	    output L2S_A {
	    }
	    output L2S_B {
	    }
	    output L2S_C {
	    }
	    output EF {
	    }
	  }
	  output tau125_IDTrkNoCut {
	    output IDSCAN {
	    }
	    output SiTrack {
	    }
	    output L2S_A {
	    }
	    output L2S_B {
	    }
	    output L2S_C {
	    }
	    output EF {
	    }
	  }
	  output b55_NoCut_j55_a4tchad {
	    output EF {
	    }
	  }
	  output b50_NoCut_j50_c4cchad {
	    output L2S_B {
	    }
	  }
	}
        output TagAndProbe {
          output Zmumu {
            output EF {
            }
            output L2 {
            }
          }
          output Jpsi {
            output EF {
            }
            output L2 {
            }
          }
          output Zee {
            output EF {
            }
            output L2 {
            }
          }
        }
      }
    }
  }
}

##############
# Algorithms
##############

algorithm HLTidtrkHistogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = CentrallyManagedReferences
}

algorithm HLTidtrkHistogram_Eff_Mean_97 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_97_94
  MinStat = 1000
}
algorithm HLTidtrkHistogram_Eff_Mean_93 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_93_90
  MinStat = 1000
}
algorithm HLTidtrkHistogram_Eff_Mean_95 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_95_90
  MinStat = 1000
}
algorithm HLTidtrkHistogram_Eff_Mean_94 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_94_90
  MinStat = 1000
}
algorithm HLTidtrkHistogram_Eff_Mean_92 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_92_89
  MinStat = 1000
}
algorithm HLTidtrkHistogram_Eff_Mean_85 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_85_80
  MinStat = 1000
}
algorithm HLTidtrkHistogram_Eff_Mean_80 {
  libname = libdqm_algorithms.so
  name = CheckHisto_Mean
  reference = CentrallyManagedReferences
  thresholds = HLTidEffThresholds_80_78
  MinStat = 1000
}

###############
# Thresholds
###############

thresholds HLTidEffThresholds_97_94 {
  limits YMean {
    warning = 97 
    error = 94
  }
}
thresholds HLTidEffThresholds_93_90 {
  limits YMean {
    warning = 93 
    error = 90
  }
}
thresholds HLTidEffThresholds_95_90 {
  limits YMean {
    warning = 85
    error = 80
  }
}
thresholds HLTidEffThresholds_94_90 {
  limits YMean {
    warning = 85
    error = 80
  }
}
thresholds HLTidEffThresholds_92_89 {
  limits YMean {
    warning = 85
    error = 80
  }
}
thresholds HLTidEffThresholds_80_78 {
  limits YMean {
    warning = 85
    error = 80
  }
}
thresholds HLTidEffThresholds_85_80 {
  limits YMean {
    warning = 85
    error = 80
  }
}


#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLTidtrkHistogram_Not_Empty&GatherData
  output = HLT/TRIDT

  dir ZeeTagProbe {
    dir Efficiency_Plots {
      hist e24vh_tight1_e15_NoCut_Zee_EF_eta_eff_deltaR {
        algorithm = HLTidtrkHistogram_Not_Empty&GatherData
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Experts/TagAndProbe/Zee/EF
        weight = 0.0
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_EF_phi_eff_deltaR {
        algorithm = HLTidtrkHistogram_Not_Empty&GatherData
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Experts/TagAndProbe/Zee/EF
        weight = 0.0
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_EF_pT_eff_deltaR {
        algorithm = HLTidtrkHistogram_Eff_Mean_93 
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Shifters/Electrons
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_EF_nvtx_eff_deltaR {
        algorithm = HLTidtrkHistogram_Eff_Mean_93 
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output =  HLT/TRIDT/Shifters/Electrons
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_IDS_eta_eff_deltaR {
        algorithm = HLTidtrkHistogram_Not_Empty&GatherData
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Experts/TagAndProbe/Zee/L2
        weight = 0.0
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_IDS_phi_eff_deltaR {
        algorithm = HLTidtrkHistogram_Not_Empty&GatherData
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Experts/TagAndProbe/Zee/L2
        weight = 0.0
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_IDS_pT_eff_deltaR {
        algorithm = HLTidtrkHistogram_Eff_Mean_93 
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Shifters/Electrons
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_IDS_nvtx_eff_deltaR {
        algorithm = HLTidtrkHistogram_Eff_Mean_93 
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Shifters/Electrons
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_L2StarA_eta_eff_deltaR {
        algorithm = HLTidtrkHistogram_Not_Empty&GatherData
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Experts/TagAndProbe/Zee/L2
        weight = 0.0
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_L2StarA_phi_eff_deltaR {
        algorithm = HLTidtrkHistogram_Not_Empty&GatherData
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Experts/TagAndProbe/Zee/L2
        weight = 0.0
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_L2StarA_pT_eff_deltaR {
        algorithm = HLTidtrkHistogram_Eff_Mean_93 
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output = HLT/TRIDT/Shifters/Electrons
        display = StatBox
      }
      hist e24vh_tight1_e15_NoCut_Zee_L2StarA_nvtx_eff_deltaR {
        algorithm = HLTidtrkHistogram_Eff_Mean_93 
        description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
        output =  HLT/TRIDT/Shifters/Electrons
        display = StatBox
      }
    }
  }
  dir IDTrkDumpEff {
    hist InDetMon_FS_InDetMon_FS_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_eta_EF_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_pT_L2S_A_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_eta_L2S_A_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_pT_L2S_B_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_eta_L2S_B_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_pT_L2S_C_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist InDetMon_FS_InDetMon_FS_eta_L2S_C_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/InDetMon
      weight = 0.0
      display = StatBox
    }
    hist tau125_IDTrkNoCut_tau125_IDTrkNoCut_phi_L2S_A_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist tau125_IDTrkNoCut_tau125_IDTrkNoCut_phi_L2S_B_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist tau125_IDTrkNoCut_tau125_IDTrkNoCut_phi_L2S_C_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist tau125_IDTrkNoCut_tau125_IDTrkNoCut_phi_EF_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist tau125_IDTrkNoCut_tau125_IDTrkNoCut_eta_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist tau125_IDTrkNoCut_tau125_IDTrkNoCut_eta_EF_fake {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_eta_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_L2S_A_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_L2S_B_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_L2S_C_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_L2S_A_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_L2S_B_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_L2S_C_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist tau29_IDTrkNoCut_tau29_IDTrkNoCut_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Taus
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_IDS_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_IDS_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_SIT_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/SiTrack
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_TSF_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/TRTSegFinder
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_IDS_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_IDS_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_95
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_SIT_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/SiTrack
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_TSF_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/TRTSegFinder
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_IDS_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_IDS_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_95
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_SIT_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/SiTrack
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_TSF_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/TRTSegFinder
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_L2S_A_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_L2S_A_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_L2S_A_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_eta_L2S_A_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_phi_L2S_A_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/L2Star
      weight = 0.0
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_L2S_A_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Electrons
      display = StatBox
    }
    hist e24vh_medium1_IDTrkNoCut_e24vh_medium1_IDTrkNoCut_pT_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_95
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Electrons
      display = StatBox
    }
    hist b55_NoCut_j55_a4tchad_b55_NoCut_j55_a4tchad_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/BJets
      display = StatBox      
    }
    hist b55_NoCut_j55_a4tchad_b55_NoCut_j55_a4tchad_pT_L2S_B_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_93
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/BJets
      display = StatBox      
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_phi_IDS_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_phi_IDS_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_phi_SIT_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_85
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/SiTrack
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_phi_TSF_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/TRTSegFinder
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_phi_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_phi_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_IDS_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_IDS_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_SIT_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_85
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/SiTrack
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_TSF_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/TRTSegFinder
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_eta_IDS_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_eta_IDS_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_92
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/IDScan
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_eta_SIT_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_85
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/SiTrack
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_eta_TSF_eff {
      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/TRTSegFinder
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_eta_EF_eff {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_eta_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Experts/EFID
      weight = 0.0
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_L2S_A_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Muons
      display = StatBox
    }
    hist mu22_IDTrkNoCut_tight_mu22_IDTrkNoCut_tight_pT_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Muons
      display = StatBox
    }
    hist mu18_IDTrkNoCut_tight_mu18_IDTrkNoCut_tight_pT_L2S_A_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Muons
      display = StatBox
    }
    hist mu18_IDTrkNoCut_tight_mu18_IDTrkNoCut_tight_pT_EF_eff_comb {
      algorithm = HLTidtrkHistogram_Eff_Mean_97
      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
      output = HLT/TRIDT/Shifters/Muons
      display = StatBox
    }
  }
  dir TIDAMon {
    dir b55_NoCut_j55_a4tchad {
      dir offline_tracks {
        dir InDetTrigParticleCreation_Bjet_EFID {
          hist Eff_pT {
	    algorithm = HLTidtrkHistogram_Not_Empty&GatherData
	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/b55_NoCut_j55_a4tchad/EF
            weight = 0.0
	    display = StatBox
	  }
        }
      }
    }
    dir b50_NoCut_j50_c4cchad {
      dir offline_tracks {
        dir TrigL2SiTrackFinder_Jet {
          hist Eff_pT {
	    algorithm = HLTidtrkHistogram_Not_Empty&GatherData
	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/b50_NoCut_j50_c4cchad/L2S_B
            weight = 0.0
	    display = StatBox
	  }
        }
      }
    }
    dir e24vh_medium1_IDTrkNoCut {
      dir mediumPP {
        dir InDetTrigParticleCreation_Electron_EFID {
	   hist Eff_pT {
	    algorithm = HLTidtrkHistogram_Not_Empty&GatherData
	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/Comb/EF
            weight = 0.0
	    display = StatBox
	  }
        }
        dir TrigL2SiTrackFinder_eGamma {
          dir 0 {
 	    hist Eff_pT {
	      algorithm = HLTidtrkHistogram_Not_Empty&GatherData
	      description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	      output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/Comb/L2S_A
              weight = 0.0
	      display = StatBox
	    }
          }
        }
      }
      dir offline_tracks {
        dir TrigIDSCAN_eGamma {
          hist Eff_pT {
	    algorithm = HLTidtrkHistogram_Not_Empty&GatherData
	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/IDSCAN
            weight = 0.0
	    display = StatBox
	  }
        }
        dir TrigSiTrack_eGamma {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
	    description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/SiTrack
            weight = 0.0
	    display = StatBox
	  }
        }
        dir InDetTrigParticleCreation_Electron_EFID {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/EF
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigL2SiTrackFinder_eGamma {
          dir 0 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	      output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/L2S_A
              weight = 0.0
              display = StatBox
            }
	  }
	  dir 1 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	      output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/L2S_B
              weight = 0.0
	      display = StatBox
	    }
	  }
	  dir 2 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	      output = HLT/TRIDT/Experts/TIDA/e24vh_medium_IDTrkNoCut/L2S_C
              weight = 0.0
              display = StatBox
            }
          }
        }
      }
    }
    dir mu18_IDTrkNoCut_tight {
      dir offline_tracks {
        dir TrigIDSCAN_Muon {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/mu18_IDTrkNoCut_tight/IDSCAN
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigSiTrack_Muon {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/mu18_IDTrkNoCut_tight/SiTrack
            weight = 0.0
            display = StatBox
          }
        }
        dir InDetTrigParticleCreation_Muon_EFID {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/mu18_IDTrkNoCut_tight/EF
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigL2SiTrackFinder_Muon {
          dir 0 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/mu18_IDTrkNoCut_tight/L2S_A
              weight = 0.0
              display = StatBox
            }
          }
          dir 1 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/mu18_IDTrkNoCut_tight/L2S_B
              weight = 0.0
              display = StatBox
            }
          }
          dir 2 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0 
              output = HLT/TRIDT/Experts/TIDA/mu18_IDTrkNoCut_tight/L2S_C
              weight = 0.0
              display = StatBox
	    }
	  }
        }
      }
    }
    dir mu22_IDTrkNoCut_tight {
      dir offline_tracks {
        dir TrigIDSCAN_Muon {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/mu22_IDTrkNoCut_tight/IDSCAN
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigSiTrack_Muon {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/mu22_IDTrkNoCut_tight/SiTrack
            weight = 0.0
            display = StatBox
          }
        }
        dir InDetTrigParticleCreation_Muon_EFID {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/mu22_IDTrkNoCut_tight/EF
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigL2SiTrackFinder_Muon {
          dir 0 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/mu22_IDTrkNoCut_tight/L2S_A
              weight = 0.0
              display = StatBox
            }
          }
          dir 1 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/mu22_IDTrkNoCut_tight/L2S_B
              weight = 0.0
              display = StatBox
            }
          }
          dir 2 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0 
              output = HLT/TRIDT/Experts/TIDA/mu22_IDTrkNoCut_tight/L2S_C
              weight = 0.0
              display = StatBox
	    }
	  }
        }
      }
    }
    dir tau29_IDTrkNoCut {
      dir offline_tracks {
        dir TrigIDSCAN_Tau {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/tau29_IDTrkNoCut/IDSCAN
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigSiTrack_Tau {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/tau29_IDTrkNoCut/SiTrack
            weight = 0.0
            display = StatBox
          }
        }
        dir InDetTrigParticleCreation_Tau_EFID {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/tau29_IDTrkNoCut/EF
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigL2SiTrackFinder_Tau {
          dir 0 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/tau29_IDTrkNoCut/L2S_A
              weight = 0.0
              display = StatBox
            }
          }
          dir 1 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/tau29_IDTrkNoCut/L2S_B
              weight = 0.0
              display = StatBox
            }
          }
          dir 2 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0 
              output = HLT/TRIDT/Experts/TIDA/tau29_IDTrkNoCut/L2S_C
              weight = 0.0
              display = StatBox
	    }
	  }
        }
      }
    }
    dir tau125_IDTrkNoCut {
      dir offline_tracks {
        dir TrigIDSCAN_Tau {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
	    output = HLT/TRIDT/Experts/TIDA/tau125_IDTrkNoCut/IDSCAN
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigSiTrack_Tau {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/tau125_IDTrkNoCut/SiTrack
            weight = 0.0
            display = StatBox
          }
        }
        dir InDetTrigParticleCreation_Tau_EFID {
          hist Eff_pT {
            algorithm = HLTidtrkHistogram_Not_Empty&GatherData
            description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
            output = HLT/TRIDT/Experts/TIDA/tau125_IDTrkNoCut/EF
            weight = 0.0
            display = StatBox
          }
        }
        dir TrigL2SiTrackFinder_Tau {
          dir 0 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/tau125_IDTrkNoCut/L2S_A
              weight = 0.0
              display = StatBox
            }
          }
          dir 1 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0
              output = HLT/TRIDT/Experts/TIDA/tau125_IDTrkNoCut/L2S_B
              weight = 0.0
              display = StatBox
            }
          }
          dir 2 {
            hist Eff_pT {
              algorithm = HLTidtrkHistogram_Not_Empty&GatherData
              description = https://twiki.cern.ch/twiki/bin/view/Atlas/HltTrackingDataQualityMonitoring#Tier0 
              output = HLT/TRIDT/Experts/TIDA/tau125_IDTrkNoCut/L2S_C
              weight = 0.0
              display = StatBox
	    }
          }
	}
      }
    }
  }
}

