# **********************************************************************
# $Id: collisions_run.config 699953 2015-10-11 22:02:34Z jfrost $
# **********************************************************************

#######################
# References
#######################

reference CentrallyManagedReferences {
  #file = root://eosatlas//eos/atlas/atlasdatadisk/rucio/data12_8TeV/04/13/data12_8TeV.00214160.express_express.merge.HIST.f486_m1252._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00271298.express_express.merge.HIST.f616_h66._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00271298.express_express.merge.HIST.f619_h67._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00276689.express_express.merge.HIST.f623_h71._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00276689.express_express.merge.HIST.f626_h75._0001.1
  file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00279813.express_express.merge.HIST.f628_h79._0001.1
  path = run_279813
  name = same_name
}

reference CentrallyManagedReferences_Main {
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00271298.physics_Main.merge.HIST.f616_h66._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00271298.physics_Main.merge.HIST.f619_h67._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00276689.physics_Main.merge.HIST.f623_h71._0001.1
  #file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00276689.physics_Main.merge.HIST.f626_h75._0001.1
  file = /afs/cern.ch/user/a/atlasdqm/maxidisk/Run2_references/data15_13TeV.00279813.physics_Main.merge.HIST.f628_h79._0001.1
  path = run_279813
  name = same_name
}


####################
# Common Algorithms
####################

algorithm WorstCaseSummary {
  libname = libdqm_summaries.so
  name = WorstCaseSummary
}

algorithm Histogram_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Empty
}

algorithm Histogram_Effective_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Effective_Empty
}

algorithm Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

algorithm No_UnderFlows {
  libname = libdqm_algorithms.so
  name = No_UnderFlows
}

algorithm No_OverFlows {
  libname = libdqm_algorithms.so
  name = No_OverFlows
}

algorithm All_Bins_Filled {
  libname = libdqm_algorithms.so
  name = All_Bins_Filled
}

algorithm GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

compositeAlgorithm CheckRMS&Histogram_Not_Empty {
  subalgs = CheckHisto_RMS,Histogram_Not_Empty
  libname = libdqm_algorithms.so
}

compositeAlgorithm CheckMean&Histogram_Not_Empty {
  subalgs = CheckHisto_Mean,Histogram_Not_Empty
  libname = libdqm_algorithms.so
}

compositeAlgorithm BinsNotThreshold&Histogram_Not_Empty {
  subalgs = Bins_NotEqual_Threshold,Histogram_Not_Empty
  libname = libdqm_algorithms.so
}

compositeAlgorithm Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}

compositeAlgorithm CheckHisto_Mean&GatherData {
  subalgs = GatherData,CheckHisto_Mean
  libnames = libdqm_algorithms.so
}

compositeAlgorithm GatherData&Chi2NDF {
  libnames = libdqm_algorithms.so
  subalgs = GatherData,Chi2Test_Chi2_per_NDF
}

#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary
}
