# **********************************************************************
# $Id: collisions_run.config 748034 2016-05-18 13:44:45Z trocme $
# **********************************************************************

############################################################
# CaloMonitoring
############################################################

#############
# Output
#############

output top_level {
 # notice NO ALGORITHM specified here
 output CaloMonitoring {
#    output CaloCellsForExpert {
#    } 
  output CaloMonExpert {
    
    output CaloCalTopoCluster { 
       output ClustersForExpert {
          weight = 0. # The result is not propagated to global flag
          output 2dOccupancy {
          }
#          output 2dAvEnergy {
#          }
          output 1dOccupancy {
          }
          output 1dAvEnergy {
          }
          output LeadCell {
          }

          output TimeEnergy {
          }
          output General {
          }
          output TileHistograms {
          }
#          output TotalEnergy {
#          }
          output TransEnergy {
          }
       }
    }
    output EMTopoCluster {
       output ClustersForExpert {
       weight = 0. # The result is not propagated to global flag
          output 2dOccupancy {
          }
#          output 2dAvEnergy {
#          }
          output 1dOccupancy {
          }
          output 1dAvEnergy {
          }
          output LeadCell {
          }

          output TimeEnergy {
          }
          output General {
          }
#          output TotalEnergy {
#          }
          output TransEnergy {
          }

       }
    }
  }
  output CaloMonShift {
       algorithm = WorstCaseYellowCaloMon
       output CaloMonBAR {
          algorithm = WorstCaseYellowCaloMon
          output CaloTopoClustersBAR {
           weight = 1.0
           algorithm = WorstCaseYellowCaloMon

          }
          output EMTopoClustersBAR {
           weight = 1.0
           algorithm = WorstCaseYellowCaloMon

          }
          
       }
       output CaloMonECA {
          algorithm = WorstCaseYellowCaloMon
          output CaloTopoClustersECA {
           weight = 1.0
           algorithm = WorstCaseYellowCaloMon

          }
          output EMTopoClustersECA {
           weight = 1.0
           algorithm = WorstCaseYellowCaloMon

          }
          
       }
       output CaloMonECC {
          algorithm = WorstCaseYellowCaloMon
          output CaloTopoClustersECC {
           weight = 1.0
           algorithm = WorstCaseYellowCaloMon

          }
          output EMTopoClustersECC {
           weight = 1.0
           algorithm = WorstCaseYellowCaloMon

          }
          
       }
    }
  }
# output your top level {
# # put your output tree here
# }
}

#######################
# Histogram Assessments
#######################

#       Undefined
# tmp change
 dir CaloMonitoring {

  dir ClusterMon {  

      dir CaloCalTopoClustersNoTrigSel {
#       output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert
#       algorithm = CaloMon_GatherData 
       dir Summary {
          hist nEvtsRejectByDifferentTool {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/General
           algorithm = CaloMon_GatherData 
          }
       }
       dir General {
          hist etaphi_ncellinclus {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/General
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_ncellinclus@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_ncellinclus@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_ncellinclus@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 0.0
          }
          
          ##########
          # start TileCal histograms 
          hist TileCalXclustersXE {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
           algorithm = CaloMon_GatherData 
           display = StatBox 
          }
          hist TileCalXclustersXEta {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
           algorithm = CaloMon_GatherData
           display = StatBox 
          }
          hist TileCalXclustersXPhi {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
           algorithm = CaloMon_GatherData
           display = StatBox 
          }
          hist TileCalXRXE {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox 
           }
          hist TileCalXRXEta {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox 
           }
          hist ClustersXRXPhi {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox 
           }
          hist TileCalXRatioXE {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox 
           }
          hist TileCalXRatioXEta {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox 
           }
          hist ClustersXRatioXPhi {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox 
           }
          hist TileCalXclustersXEtaVSPhi {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TileHistograms
            algorithm = CaloMon_GatherData
            display = StatBox
           }
          # end TileCal histograms
        } 
        
        dir 1d_Rates {
           hist m_clus_eta_Et0 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_eta_Et1 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_eta_Et2 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_eta_Et3 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et1Barrel {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et2Barrel {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et3Barrel {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et1EndcapA {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et2EndcapA {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et3EndcapA {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et1EndcapC {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et2EndcapC {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et3EndcapC {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dOccupancy 
            algorithm = CaloMon_GatherData
            display = LogY
           }
        }
        dir 2d_Rates {
          hist m_clus_etaphi_Et_thresh0 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh1 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh2 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh3 {
            output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
	  hist m_clus_etaphi_Et_thresh0@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
	   algorithm = CaloMon_GatherData  
           display = AxisRange(-1.5,1.5,"X"),LogZ
          }
          hist m_clus_etaphi_Et_thresh0@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_GatherData  
           display = AxisRange(1.5,4.9,"X"),LogZ
          }
          hist m_clus_etaphi_Et_thresh0@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_GatherData  
           display = AxisRange(-4.9,-1.5,"X"),LogZ
          }
          hist m_clus_etaphi_Et_thresh1@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh1@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh1@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh2@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh2@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh2@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }

          hist m_clus_etaphi_Et_thresh3@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh3@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh3@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh4@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh4@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh4@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }
        }
#        dir 2d_AvEnergy {
#          hist etaphi_thresh_avgenergy_0 {
#              output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_1 {
#              output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_2 {
#              output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_3 {
#              output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_0@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_0@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_0@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_2@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_2@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_2@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_4@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_4@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_4@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#        }  
        dir 1d_AvEnergy {
          hist eta_avgenergy {
              output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dAvEnergy
              algorithm = CaloMon_GatherData
              display = LogZ
          }
          hist phi_avgenergy {
              output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/1dAvEnergy
              algorithm = CaloMon_GatherData
              display = LogZ
          }
        }
        dir LeadCell {
          hist etaphi_hotrat {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/LeadCell
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist etaphi_hotrat@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_hotrat@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_hotrat@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_avgenergy_hotrat {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/LeadCell
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist ratioE_leadcell_clus {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/LeadCell
            algorithm = CaloMon_GatherData  
            display = logZ
          }
        }

        dir Time_Energy {
          hist et_clus_barrel {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist et_clus_endcap {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist et_clus_hecfcal {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist m_clus_time {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist m_clus_timevsenergy {
            output =  CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
        }
#       dir TotalEnergy {
#          hist etaphi_thresh_Totalenergy_0 {
#           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_1 {
#           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_2 {
#           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_3 {
#           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_4 {
#           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_0@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_0@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_0@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_2@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR 
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_2@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA 
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_2@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC 
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_4@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/CaloTopoClustersBAR
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_4@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/CaloTopoClustersECA
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_Totalenergy_4@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/CaloTopoClustersECC
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#       }
       dir TransEnergy {
          hist etaphi_thresh_avgEt_0 {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_thresh_avgEt_1 {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_thresh_avgEt_2 {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_thresh_avgEt_3 {
           output = CaloMonitoring/CaloMonExpert/CaloCalTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
       }
     }

      dir LArClusterEMNoTrigSel {
#       output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert
#       algorithm = CaloMon_GatherData 
       dir Summary {
          hist nEvtsRejectByDifferentTool {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/General
           algorithm = CaloMon_GatherData 
          }
       }
       dir General {
          hist etaphi_ncellinclus {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/General
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_ncellinclus@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_ncellinclus@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_ncellinclus@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 0.0
          }

        } 
        dir 1d_Rates {
           hist m_clus_eta_Et0 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_eta_Et1 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_eta_Et2 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_eta_Et3 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et1Barrel {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et1EndcapA {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et1EndcapC {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et2Barrel {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et2EndcapA {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et2EndcapC {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et3Barrel {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et3EndcapA {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
           hist m_clus_phi_Et3EndcapC {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dOccupancy
            algorithm = CaloMon_GatherData
            display = LogY
           }
        }
        dir 2d_Rates {
          hist m_clus_etaphi_Et_thresh0 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh1 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh2 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh3 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
          hist m_clus_etaphi_Et_thresh4 {
            output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dOccupancy
            algorithm = CaloMon_BinsDiffFromStripMedian
            display = LogZ
          }
	  hist m_clus_etaphi_Et_thresh0@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
	   algorithm = CaloMon_GatherData  
           display = AxisRange(-1.5,1.5,"X"),LogZ
          }
          hist m_clus_etaphi_Et_thresh0@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_GatherData  
           display = AxisRange(1.5,4.9,"X"),LogZ
          }
          hist m_clus_etaphi_Et_thresh0@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_GatherData  
           display = AxisRange(-4.9,-1.5,"X"),LogZ
          }
	  hist m_clus_etaphi_Et_thresh1@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh1@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh1@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh2@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh2@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh2@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }

          hist m_clus_etaphi_Et_thresh3@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh3@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh3@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh4@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh4@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 1.0
          }
          hist m_clus_etaphi_Et_thresh4@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 1.0
          }
	  
        }
#        dir 2d_AvEnergy {
#          hist etaphi_thresh_avgenergy_0 {
#              output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_1 {
#              output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_2 {
#              output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#          hist etaphi_thresh_avgenergy_3 {
#              output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/2dAvEnergy
#              algorithm = CaloMon_BinsDiffFromStripMedian
#              display = LogZ
#          }
#	  hist etaphi_thresh_avgenergy_0@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_0@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_0@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_2@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_2@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_2@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_4@BAR {
#           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR
#           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
#           display = AxisRange(-1.5,1.5,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_4@ECA {
#           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
#           display = AxisRange(1.5,4.9,"X"),LogZ
#           weight = 0.0
#          }
#          hist etaphi_thresh_avgenergy_4@ECC {
#           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC
#           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
#           display = AxisRange(-4.9,-1.5,"X"),LogZ
#           weight = 0.0
#          }	 
#        }  
        dir 1d_AvEnergy {
          hist eta_avgenergy {
              output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dAvEnergy
              algorithm = CaloMon_GatherData
              display = LogZ
          }
          hist phi_avgenergy {
              output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/1dAvEnergy
              algorithm = CaloMon_GatherData
              display = LogZ
          }
        }
        dir LeadCell {
          hist etaphi_hotrat {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/LeadCell
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist etaphi_hotrat@BAR {
           output = CaloMonitoring/CaloMonShift/CaloMonBAR/EMTopoClustersBAR 
           algorithm = CaloMon_BinsDiffFromStripMedian_barrel
           display = AxisRange(-1.5,1.5,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_hotrat@ECA {
           output = CaloMonitoring/CaloMonShift/CaloMonECA/EMTopoClustersECA 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapA
           display = AxisRange(1.5,4.9,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_hotrat@ECC {
           output = CaloMonitoring/CaloMonShift/CaloMonECC/EMTopoClustersECC 
           algorithm = CaloMon_BinsDiffFromStripMedian_endcapC
           display = AxisRange(-4.9,-1.5,"X"),LogZ
           weight = 0.0
          }
          hist etaphi_avgenergy_hotrat {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/LeadCell
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist ratioE_leadcell_clus {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/LeadCell
            algorithm = CaloMon_GatherData  
            display = logZ
          }
        }

        dir Time_Energy {
          hist et_clus_barrel {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist et_clus_endcap {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist et_clus_hecfcal {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist m_clus_time {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
          hist m_clus_timevsenergy {
            output =  CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TimeEnergy
            algorithm = CaloMon_GatherData  
            display = logZ
          }
        }
#       dir TotalEnergy {
#          hist etaphi_thresh_Totalenergy_0 {
#           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_1 {
#           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_2 {
#           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#          hist etaphi_thresh_Totalenergy_3 {
#           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TotalEnergy
#           algorithm = CaloMon_BinsDiffFromStripMedian
#           display = LogZ
#          }
#       }
       dir TransEnergy {
          hist etaphi_thresh_avgEt_0 {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_thresh_avgEt_1 {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_thresh_avgEt_2 {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
          hist etaphi_thresh_avgEt_3 {
           output = CaloMonitoring/CaloMonExpert/EMTopoCluster/ClustersForExpert/TransEnergy
           algorithm = CaloMon_BinsDiffFromStripMedian
           display = LogZ
          }
       }
      }

    } # end of ClusterMon

  } # end of CaloMonitoring
 # End of LAr for Calomonitoring



#dir xxx {
#...
#}

##############
# Algorithms
##############
# Your algorithms; NOT those appearing in the corresponding config/common/ file

# Summary makers

algorithm BinwiseSummaryCaloMon {
  libname = libdqm_summaries.so
  name = BinwiseSummary
}

algorithm WorstCaseYellowCaloMon {
  libname = libdqm_summaries.so
  name = WorstCaseYellow
}

algorithm CaloMon_GatherData {
  libname = libdqm_algorithms.so
  name = GatherData
}

algorithm CaloMon_BinsDiffFromStripMedian {
  libname = libdqm_algorithms.so
  SuppressFactor = 0
  SuppressRedFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = CaloMon_BinsDiffFromStripMedian_threshold
  MaxPublish = 200
}

algorithm CaloMon_BinsDiffFromStripMedian_barrel {
  libname = libdqm_algorithms.so
  xmin = -1.5
  xmax = 1.5
  SuppressFactor = 0
  SuppressRedFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = CaloMon_BinsDiffFromStripMedian_threshold 
  MaxPublish = 200
}

algorithm CaloMon_BinsDiffFromStripMedian_endcapA {
  libname = libdqm_algorithms.so
  xmin = 1.5
  xmax = 4.9
  SuppressFactor = 0
  SuppressRedFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = CaloMon_BinsDiffFromStripMedian_threshold
  MaxPublish = 200
}

algorithm CaloMon_BinsDiffFromStripMedian_endcapC {
  libname = libdqm_algorithms.so
  xmin = -4.9
  xmax = -1.5
  SuppressFactor = 0
  SuppressRedFactor = 0
  name = BinsDiffFromStripMedian
  thresholds = CaloMon_BinsDiffFromStripMedian_threshold
  MaxPublish = 200
}

##############
# Thresholds
##############

# Your thresholds

thresholds CaloMon_BinsDiffFromStripMedian_threshold {
  limits MaxDeviation {
    warning = 25 
    error = 200
  }
}

