# **********************************************************************
# $Id: collisions_run.config 662794 2015-04-24 09:48:19Z tursom $
# **********************************************************************

#######################
# HLTbphys
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRBPH {
      output Shifter {
        output MuTrack {
        }
        output BMuMu {
        }
        output MultiMu {
        }
        output BMuMuX {
        }        
        output Containers {
        }
        # end Shifter
      }
      output Expert {
        output MuTrack {
        }
        output BMuMu {
        }
        output MultiMu {
        }
        output BMuMuX {
        }        
        output Containers {
        }
        output JpsiFinder {
        }
        # end Expert
      }
    
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir BphysMon {
    reference = CentrallyManagedReferences

    #shifter dir holds general hists - note this is the root file shifter
    dir shifter {
      
      #Mu+Track triggers
      dir MuTrack {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        # for shifters
        hist TrigBphys_MuTrack_mass {
            output    = HLT/TRBPH/Shifter/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_eta {
            output    = HLT/TRBPH/Shifter/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_pTsum {
            output    = HLT/TRBPH/Shifter/MuTrack
        }
        hist TrigBphys_MuTrack_d0mu1 {
            output    = HLT/TRBPH/Shifter/MuTrack
            #display = <AxisRange(-12,12,"X")>,LogY
            display = LogY
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_d0mu2 {
            output    = HLT/TRBPH/Shifter/MuTrack
            display = LogY
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        # for experts
        hist TrigBphys_MuTrack_fitmass {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_pTmu1 {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_pTmu2 {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_dR {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_dEta {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_dPhi {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_fitchi2 {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        ## All the remaining histograms
        #hist all_in_dir {
        #  algorithm = BPhys_HistKolmogorovTest_MaxDist
        #  output = HLT/TRBPH/Expert/MuTrack
        #}

        # end of Mu+Track
      }
      
      #BMuMu for topological non-L1topo trigger
      dir BMuMu {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData

        # for shifters
        hist TrigBphys_BMuMu_mass {
          output =  HLT/TRBPH/Shifter/BMuMu
          reference = CentrallyManagedReferences
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_eta {
          output =  HLT/TRBPH/Shifter/BMuMu
          reference = CentrallyManagedReferences
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTsum {
          output =  HLT/TRBPH/Shifter/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_d0mu1 {
          output =  HLT/TRBPH/Shifter/BMuMu
          reference = CentrallyManagedReferences
          display = LogY
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_d0mu2 {
          output =  HLT/TRBPH/Shifter/BMuMu
          reference = CentrallyManagedReferences
          display = LogY
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        # for experts
        hist TrigBphys_BMuMu_fitmass {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTmu1 {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTmu2 {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_dR {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_deta {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_dphi {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_fitchi2 {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        ## All the remaining histograms
        #hist all_in_dir {
        #  algorithm = BPhys_HistKolmogorovTest_MaxDist
        #  output = HLT/TRBPH/Expert/BMuMu
        #  reference = CentrallyManagedReferences
        #}

        #end of BMuMu
      }

      #BMuMuX for topological non-L1topo trigger
      dir BMuMuX {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        # for shifters
        hist TrigBphys_BMuMuX_mass {
          output =  HLT/TRBPH/Shifter/BMuMuX
          reference = CentrallyManagedReferences
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMuX_d0mu1 {
          output =  HLT/TRBPH/Shifter/BMuMuX
          reference = CentrallyManagedReferences
          display = LogY
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMuX_d0mu2 {
          output =  HLT/TRBPH/Shifter/BMuMuX
          reference = CentrallyManagedReferences
          display = LogY
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        # for experts
        hist TrigBphys_BMuMu_eta {
          output =  HLT/TRBPH/Expert/BMuMuX
          reference = CentrallyManagedReferences
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTsum {
          output =  HLT/TRBPH/Expert/BMuMuX
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_fitmass {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTmu1 {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTmu2 {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_dR {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_deta {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_dphi {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_fitchi2 {
          output =  HLT/TRBPH/Expert/BMuMuX
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        ## for experts
        ## All the remaining histograms
        #hist all_in_dir {
        #  algorithm = BPhys_HistKolmogorovTest_MaxDist
        #  output = HLT/TRBPH/Expert/BMuMuX
        #  reference = CentrallyManagedReferences
        #}
          
        # end of BMuMuX
      }
      
      
      #JpsiFinder comparisons with offline JpsiFinder objects
      dir JpsiFinder {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        # for experts
        hist TrigBphys_Jpsi_mass_central {
            output    = HLT/TRBPH/Expert/JpsiFinder
            reference = CentrallyManagedReferences
        }
        hist TrigBphys_Jpsi_mass_forward {
            output    = HLT/TRBPH/Expert/JpsiFinder
            reference = CentrallyManagedReferences
        }

        # end of JpsiFinder
      }

      # Containers, hists related to recorded objects
      dir Containers {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        # for shifters
        hist TrigBphys_Containers_size {
            algorithm = HLT_Histogram_Not_Empty&GatherData
            output = HLT/TRBPH/Shifter/Containers
            reference = CentrallyManagedReferences
        }
        
        # for experts
        dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
          algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
          # Five histograms for the offline shifter
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTmu1 {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTmu2 {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_dphi {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_deta {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTsum {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_mass {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
        }
        
        #dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
        #  # All the remaining histograms
        #  hist all_in_dir {
        #    algorithm = HLT_Histogram_Not_Empty&GatherData
        #    output = HLT/TRBPH/EFBMuMuFex
        #    #reference = CentrallyManagedReferences
        #  }
        #}
        
        #end of Containers
      }
      #End of Shifter dir
    }
    
    #expert dir holds more specific hists - note this is the root file expert dir
    dir expert {
      
      dir BMuMu {
        algorithm = BPhys_HistKolmogorovTest_MaxDist
        output =  HLT/TRBPH/Expert/BMuMu
        
        hist TrigBphys_BMuMu_phiStar {
        }
        hist TrigBphys_BMuMu_cosThetaStar {
        }
      }
      
      dir MuTrack {
        algorithm = BPhys_HistKolmogorovTest_MaxDist
        output =  HLT/TRBPH/Expert/MuTrack
        
        hist TrigBphys_MuTrack_phiStar {
        }
        hist TrigBphys_MuTrack_cosThetaStar {
        }
      }
      
      #End of Expert dir
    }
    
    # End of BphysMon Dir
  }
  # End of HLT dir
}

##############
# Algorithms
##############

compositeAlgorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_GreaterThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  name = BPhys_HistNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = BPhys_HistNotEmpty_YellowEmpty_Threshold
}

# KolmogorovTest method: scale histograms first
algorithm BPhys_HistKolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = BPhys_HistKolmogorovTest_MaxDist_Threshold
  MinStat = -1
  reference = stream=physics_Muons:CentrallyManagedReferences_Muons;CentrallyManagedReferences 
}

# KolmogorovTest method: assume both histograms are scaled
algorithm BPhys_HistKolmogorovTest_Prob {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = BPhys_HistKolmogorovTest_Prob_Threshold
  MinStat = -1
  reference = stream=physics_Muons:CentrallyManagedReferences_Muons;CentrallyManagedReferences 
}


###############
# Thresholds
###############

thresholds BPhys_HistNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

thresholds BPhys_HistKolmogorovTest_MaxDist_Threshold {
  limits MaxDist {
    warning = 0.4
    error = 0.7
  }
}

thresholds BPhys_HistKolmogorovTest_Prob_Threshold {
  limits P {
    warning = 0.6
    error = 0.3
  }
}

