# **********************************************************************
# $Id: $
# **********************************************************************

#######################
# HLTbphys
#######################

# REMOVED 
# Just kept for the algorithms

#######################
# Output
#######################

#output top_level {
#  output HLT {
#    output TRBPH {
#      output Shifter {
#
#        # end Shifter
#      }
#      output Expert {
#        output BMuMu {
#        }
#        output BMuMuX {
#        }        
#        output Containers {
#        }
#        # end Expert
#      }
#    
#    }
#  }
#}

#######################
# Histogram Assessments
#######################



##############
# Algorithms
##############

compositeAlgorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_GreaterThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  name = BPhys_HistNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = BPhys_HistNotEmpty_YellowEmpty_Threshold
}

###############
# Thresholds
###############

thresholds BPhys_HistNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

