# **********************************************************************
# $Id: cosmics_run.config 526869 2012-11-20 19:31:39Z vogel $
# **********************************************************************

#######################
# HLTbphys
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRBPH {
#      output DsPhiPi {
#      }
#      output TopoDiMu {
#      }
#      output TopoDiMuX {
#      }
      output DiMu {
      }
#      output DiMuX {
#      }
#      output Jpsiee {
#      }
#      output MuTrack {
#      }
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir BphysMon {
    algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
    # Five histograms for the offline shifter
    dir DiMu {
      # Bphys L2DiMu pTmu1
      hist TrigBphys_L2DiMu_pTmu1 {
        output = HLT/TRBPH
        reference = CentrallyManagedReferences
      }
    }
    dir DiMu {
      # Bphys L2DiMu pTmu2
      hist TrigBphys_L2DiMu_pTmu2 {
        output = HLT/TRBPH
        reference = CentrallyManagedReferences
      }
    }
    dir DiMu {
      # Bphys L2DiMu dphi
      hist TrigBphys_L2DiMu_dphi {
        output = HLT/TRBPH
        reference = CentrallyManagedReferences
      }
    }
    dir DiMu {
      # Bphys L2DiMu deta
      hist TrigBphys_L2DiMu_deta {
        output = HLT/TRBPH
        reference = CentrallyManagedReferences
      }
    }
    dir DiMu {
      # Bphys L2DiMu pTsum
      hist TrigBphys_L2DiMu_pTsum {
        output = HLT/TRBPH
        reference = CentrallyManagedReferences
      }
    }
    # All the remaining histograms
#    dir DsPhiPi {
#      hist all_in_dir {
#        output = HLT/TRBPH/DsPhiPi
#        reference = CentrallyManagedReferences
#      }
#    }
#    dir TopoDiMu {
#      hist all_in_dir {
#        output = HLT/TRBPH/TopoDiMu
#        reference = CentrallyManagedReferences
#      }
#    }
#    dir TopoDiMuX {
#      hist all_in_dir {
#        output = HLT/TRBPH/TopoDiMuX
#        reference = CentrallyManagedReferences
#      }
#    }
    dir DiMu {
      hist all_in_dir {
        output = HLT/TRBPH/DiMu
        reference = CentrallyManagedReferences
      }
    }
#    dir DiMuX {
#      hist all_in_dir {
#        output = HLT/TRBPH/DiMuX
#        reference = CentrallyManagedReferences
#      }
#    }
#    dir Jpsiee {
#      hist all_in_dir {
#        output = HLT/TRBPH/Jpsiee
#        reference = CentrallyManagedReferences
#      }
#    }
#    dir MuTrack {
#      hist all_in_dir {
#        output = HLT/TRBPH/MuTrack
#        reference = CentrallyManagedReferences
#      }
#    }
  }
}

##############
# Algorithms
##############

compositeAlgorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_GreaterThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  name = BPhys_HistNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = BPhys_HistNotEmpty_YellowEmpty_Threshold
}

###############
# Thresholds
###############

thresholds BPhys_HistNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

