# **********************************************************************
# $Id: cosmics_run.config 648548 2015-02-20 15:40:22Z jwalder $
# **********************************************************************

#######################
# HLTbphys
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRBPH {
      output Shifter {

        # end Shifter
      }
      output Expert {
        output BMuMu {
        }
        output BMuMuX {
        }        
        output Containers {
        }
        # end Expert
      }
    
    }
  }
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir BphysMon {

    #shifter dir holds general hists - note this is the root file shifter
    dir shifter {

      #JpsiFinder comparisons with offline JpsiFinder objects
      dir JpsiFinder {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        hist TrigBphys_Jpsi_mass_central {
            output    = HLT/TRBPH/Shifter
            reference = CentrallyManagedReferences
        }
        hist TrigBphys_Jpsi_mass_forward {
            output    = HLT/TRBPH/Shifter
            reference = CentrallyManagedReferences
        }

        # end of JpsiFinder
      }

      #BMuMu for topological non-L1topo trigger
      dir BMuMu {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData

        hist TrigBphys_BMuMu_eta {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_phi {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_mass {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_dphi {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_deta {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_dR {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_pTsum {
          output =  HLT/TRBPH/Shifter
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_fitmass {
          output =  HLT/TRBPH/Shifter
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_fitchi2 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_pTmu1 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_pTmu2 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_z0mu1 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_z0mu2 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_d0mu1 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }
        hist TrigBphys_BMuMu_d0mu2 {
          output =  HLT/TRBPH/Expert/BMuMu
          reference = CentrallyManagedReferences
        }

        #end of BMuMu
      }

      #BMuMuX for topological non-L1topo trigger
      dir BMuMuX {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
          hist TrigBphys_BMuMuX_mass {
            output =  HLT/TRBPH/Shifter
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_BMuMuX_eta {
            output =  HLT/TRBPH/Shifter
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_BMuMuX_phi {
            output =  HLT/TRBPH/Expert/BMuMuX
            reference = CentrallyManagedReferences
          }

          # All the remaining histograms
          #hist all_in_dir {
          #  algorithm = HLT_Histogram_Not_Empty&GatherData
          #  output = HLT/TRBPH/Expert/BMuMuX
          #  reference = CentrallyManagedReferences
          #}
          
        # end of BMuMuX
      }

      # Containers, hists related to recorded objects
      dir Containers {

        hist TrigBphys_Containers_size {
            output = HLT/TRBPH/Shifter
            reference = CentrallyManagedReferences
        }

        dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
          algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
          # Five histograms for the offline shifter
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTmu1 {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTmu2 {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_dphi {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_deta {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTsum {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_mass {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
        }
        #dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
        #  # All the remaining histograms
        #  hist all_in_dir {
        #    algorithm = HLT_Histogram_Not_Empty&GatherData
        #    output = HLT/TRBPH/EFBMuMuFex
        #    #reference = CentrallyManagedReferences
        #  }
        #}
        #end of Containers
      }
      #End of Shifter dir
    }
    # End of BphysMon Dir
  }
  # End of HLT dir
}

##############
# Algorithms
##############

compositeAlgorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_GreaterThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  name = BPhys_HistNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = BPhys_HistNotEmpty_YellowEmpty_Threshold
}

###############
# Thresholds
###############

thresholds BPhys_HistNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

