# **********************************************************************
# $Id: heavyions_run.config 706692 2015-11-09 10:40:57Z tursom $
# **********************************************************************

#######################
# HLTbphys
#######################

#######################
# Output
#######################

output top_level {
  output HLT {
    output TRBPH {
      output Shifter {
#        output MuTrack {
#        }
        output BMuMu {
        }
        output Containers {
        }
        # end Shifter
      }
      output Expert {
        output MuTrack {
        }
        output BMuMu {
        }
        output MultiMu {
        }
        output BMuMuX {
        }        
        output Containers {
        }
        output L1Topo {
        }
        output JpsiFinder {
          output MuTrack {
          }
          output BMuMu {
          }
          output MultiMu {
          }
          output BMuMuX {
          }        
        }
        # end Expert
      }
    
    }
  }
}

#######################
# References
#######################

#reference BphysMCref {
#  file = /afs/cern.ch/user/t/tursom/testarea/tmp/my_mc_5_HIST.root
#  path = run_222525
#  name = same_name
#}

reference Bphys_EBrun_ref {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/
  file = HLTOfflineReferences_2015_run212967_reproc.root
  path = run_212967
  name = same_name
}

reference Bphys_EBrun13TeV_ref {
  location = /eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/,root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/data-dqm/references/Collisions/
  file = data15_13TeV.00267638.physics_EnhancedBias.merge.HIST.r6857_p1831.root
  path = run_267638
  name = same_name
}

#######################
# Histogram Assessments
#######################

dir HLT {
  algorithm = HLT_Histogram_Not_Empty&GatherData

  dir BphysMon {
    reference = CentrallyManagedReferences

    #shifter dir holds general hists - note this is the root file shifter
    dir shifter {
      
      #Mu+Track triggers
      dir MuTrack {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        # for shifters
#         hist TrigBphys_MuTrack_mass {
#             output    = HLT/TRBPH/Shifter/MuTrack
#             display   = <AxisRange(2000,4000,"X")>
#             reference = CentrallyManagedReferences
#             algorithm = BPhys_HistKolmogorovTest_MaxDist
#         }
#         hist TrigBphys_MuTrack_eta {
#             output    = HLT/TRBPH/Shifter/MuTrack
#             algorithm = BPhys_HistKolmogorovTest_MaxDist
#         }
#         hist TrigBphys_MuTrack_pTsum {
#             output    = HLT/TRBPH/Shifter/MuTrack
#             algorithm = HLTbphys_Histogram_Not_Empty&GatherData
#         }
#         hist TrigBphys_MuTrack_d0mu1 {
#             output    = HLT/TRBPH/Shifter/MuTrack
#             display = <AxisRange(-12,12,"X")>,LogY
#             algorithm = BPhys_HistKolmogorovTest_MaxDist
#         }
#         hist TrigBphys_MuTrack_d0mu2 {
#             output    = HLT/TRBPH/Shifter/MuTrack
#             display = <AxisRange(-12,12,"X")>,LogY
#             algorithm = BPhys_HistKolmogorovTest_MaxDist
#         }
        
        # for experts
        hist TrigBphys_MuTrack_mass@Expert {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_eta@Expert {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_pTsum@Expert {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_d0mu1@Expert {
            output    = HLT/TRBPH/Expert/MuTrack
            display = <AxisRange(-12,12,"X")>,LogY
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_d0mu2@Expert {
            output    = HLT/TRBPH/Expert/MuTrack
            display = <AxisRange(-12,12,"X")>,LogY
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_fitmass {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_pTmu1 {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_pTmu2 {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_dR {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_deta {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_dphi {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_MuTrack_fitchi2 {
            output    = HLT/TRBPH/Expert/MuTrack
            algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        ## All the remaining histograms
        #hist all_in_dir {
        #  algorithm = BPhys_HistKolmogorovTest_MaxDist
        #  output = HLT/TRBPH/Expert/MuTrack
        #}

        # end of Mu+Track
      }
      
      #BMuMu for topological non-L1topo trigger
      dir BMuMu {
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData

        # for shifters
        hist TrigBphys_BMuMu_mass {
          output =  HLT/TRBPH/Shifter/BMuMu
          reference = CentrallyManagedReferences
#           algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_eta {
          output =  HLT/TRBPH/Shifter/BMuMu
#           algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTsum {
          output =  HLT/TRBPH/Shifter/BMuMu
#           algorithm = HLTbphys_Histogram_Not_Empty&GatherData
        }
        hist TrigBphys_BMuMu_d0mu1 {
          output =  HLT/TRBPH/Shifter/BMuMu
          display = <AxisRange(-12,12,"X")>,LogY
#           algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_d0mu2 {
          output =  HLT/TRBPH/Shifter/BMuMu
          display = <AxisRange(-12,12,"X")>,LogY
#           algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        # for experts
        hist TrigBphys_BMuMu_mass@Expert {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_eta@Expert {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTsum@Expert {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_d0mu1@Expert {
          output =  HLT/TRBPH/Expert/BMuMu
          display = <AxisRange(-12,12,"X")>,LogY
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_d0mu2@Expert {
          output =  HLT/TRBPH/Expert/BMuMu
          display = <AxisRange(-12,12,"X")>,LogY
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_fitmass {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTmu1 {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_pTmu2 {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_dR {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_deta {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_dphi {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        hist TrigBphys_BMuMu_fitchi2 {
          output =  HLT/TRBPH/Expert/BMuMu
          algorithm = BPhys_HistKolmogorovTest_MaxDist
        }
        
        ## All the remaining histograms
        #hist all_in_dir@Expert {
        #  algorithm = BPhys_HistKolmogorovTest_MaxDist
        #  output = HLT/TRBPH/Expert/BMuMu
        #}

        #end of BMuMu
      }
      
      
      #JpsiFinder comparisons with offline JpsiFinder objects
      dir JpsiFinder {
#         algorithm = BPhys_HistKolmogorovTest_MaxDist
        algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        reference = CentrallyManagedReferences
        
        # for experts
        hist TrigBphys_Jpsi_mass_central {
          algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
          output    = HLT/TRBPH/Expert/JpsiFinder
        }
        hist TrigBphys_Jpsi_mass_forward {
          algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
          output    = HLT/TRBPH/Expert/JpsiFinder
        }
        
        dir BMuMu {
          output    = HLT/TRBPH/Expert/JpsiFinder/BMuMu
          hist TrigBphys_Jpsi_deta_BMuMu           {
          }
          hist TrigBphys_Jpsi_deta_central_BMuMu   {
          }
          hist TrigBphys_Jpsi_deta_forward_BMuMu   {
          }
          hist TrigBphys_Jpsi_dphi_BMuMu           {
          }
          hist TrigBphys_Jpsi_dphi_central_BMuMu   {
          }
          hist TrigBphys_Jpsi_dphi_forward_BMuMu   {
          }
          hist TrigBphys_Jpsi_lxy_bs_BMuMu         {
          }
          hist TrigBphys_Jpsi_lxy_bs_central_BMuMu {
          }
          hist TrigBphys_Jpsi_lxy_bs_forward_BMuMu {
          }
          hist TrigBphys_Jpsi_mass_BMuMu           {
          }
          hist TrigBphys_Jpsi_mass_central_BMuMu   {
          }
          hist TrigBphys_Jpsi_mass_forward_BMuMu   {
          }
          hist TrigBphys_Jpsi_pt_BMuMu             {
          }
          hist TrigBphys_Jpsi_pt_central_BMuMu     {
          }
          hist TrigBphys_Jpsi_pt_forward_BMuMu     {
          }
          hist TrigBphys_Jpsi_rap_BMuMu            {
          }
          hist TrigBphys_Jpsi_rap_central_BMuMu    {
          }
          hist TrigBphys_Jpsi_rap_forward_BMuMu    {
          }
          hist TrigBphys_Jpsi_tau_bs_BMuMu         {
          }
          hist TrigBphys_Jpsi_tau_bs_central_BMuMu {
          }
          hist TrigBphys_Jpsi_tau_bs_forward_BMuMu {
          }
        }
#         dir MuTrack {
#           output    = HLT/TRBPH/Expert/JpsiFinder/MuTrack
#           hist TrigBphys_Jpsi_deta_MuTrack           {
#           }
#           hist TrigBphys_Jpsi_deta_central_MuTrack   {
#           }
#           hist TrigBphys_Jpsi_deta_forward_MuTrack   {
#           }
#           hist TrigBphys_Jpsi_dphi_MuTrack           {
#           }
#           hist TrigBphys_Jpsi_dphi_central_MuTrack   {
#           }
#           hist TrigBphys_Jpsi_dphi_forward_MuTrack   {
#           }
#           hist TrigBphys_Jpsi_lxy_bs_MuTrack         {
#           }
#           hist TrigBphys_Jpsi_lxy_bs_central_MuTrack {
#           }
#           hist TrigBphys_Jpsi_lxy_bs_forward_MuTrack {
#           }
#           hist TrigBphys_Jpsi_mass_MuTrack           {
#           }
#           hist TrigBphys_Jpsi_mass_central_MuTrack   {
#           }
#           hist TrigBphys_Jpsi_mass_forward_MuTrack   {
#           }
#           hist TrigBphys_Jpsi_pt_MuTrack             {
#           }
#           hist TrigBphys_Jpsi_pt_central_MuTrack     {
#           }
#           hist TrigBphys_Jpsi_pt_forward_MuTrack     {
#           }
#           hist TrigBphys_Jpsi_rap_MuTrack            {
#           }
#           hist TrigBphys_Jpsi_rap_central_MuTrack    {
#           }
#           hist TrigBphys_Jpsi_rap_forward_MuTrack    {
#           }
#           hist TrigBphys_Jpsi_tau_bs_MuTrack         {
#           }
#           hist TrigBphys_Jpsi_tau_bs_central_MuTrack {
#           }
#           hist TrigBphys_Jpsi_tau_bs_forward_MuTrack {
#           }
#         }

        # end of JpsiFinder
      }

      # Containers, hists related to recorded objects
      dir Containers {
        #algorithm = BPhys_HistNotEmpty_YellowEmpty&GatherData
        
        # for shifters
        hist TrigBphys_Containers_size {
            #algorithm = HLT_Histogram_Not_Empty&GatherData
            algorithm = Bphys_YMeanNonZero&BPhys_HistNotEmpty_YellowEmpty&GatherData
            output = HLT/TRBPH/Shifter/Containers
            reference = CentrallyManagedReferences
        }
        
        # for experts
        dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
          algorithm = HLTbphys_Histogram_Not_Empty&GatherData
          # Five histograms for the offline shifter
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTmu1 {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTmu2 {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_dphi {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_deta {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_pTsum {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
          hist TrigBphys_HLT_xAOD__TrigBphysContainer_EFBMuMuFex_mass {
            output = HLT/TRBPH/Expert/Containers
            reference = CentrallyManagedReferences
          }
        }
        
        #dir HLT_xAOD__TrigBphysContainer_EFBMuMuFex {
        #  # All the remaining histograms
        #  hist all_in_dir {
        #    algorithm = HLT_Histogram_Not_Empty&GatherData
        #    output = HLT/TRBPH/EFBMuMuFex
        #  }
        #}
        
        #end of Containers
      }
      #End of Shifter dir
    }
    
    #expert dir holds more specific hists - note this is the root file expert dir
    dir expert {
      
      dir BMuMu {
        algorithm = BPhys_HistKolmogorovTest_MaxDist
        output =  HLT/TRBPH/Expert/BMuMu
        
        hist TrigBphys_BMuMu_phiStar {
        }
        hist TrigBphys_BMuMu_cosThetaStar {
        }
      }
      
      dir MuTrack {
        algorithm = BPhys_HistKolmogorovTest_MaxDist
        output =  HLT/TRBPH/Expert/MuTrack
        
        hist TrigBphys_MuTrack_phiStar {
        }
        hist TrigBphys_MuTrack_cosThetaStar {
        }
      }
      
      #End of Expert dir
    }
    
    # End of BphysMon Dir
  }
  # End of HLT dir
}

##############
# Algorithms
##############

compositeAlgorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  subalgs = Bins_GreaterThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

compositeAlgorithm Bphys_YMeanNonZero&BPhys_HistNotEmpty_YellowEmpty&GatherData {
  subalgs = CheckHisto_Mean,Bins_GreaterThan_Threshold,GatherData
  libnames = libdqm_algorithms.so
}

algorithm BPhys_HistNotEmpty_YellowEmpty&GatherData {
  name = BPhys_HistNotEmpty_YellowEmpty&GatherData
  BinThreshold = 0
  thresholds = BPhys_HistNotEmpty_YellowEmpty_Threshold
}

algorithm HLTbphys_Histogram_Not_Empty&GatherData {
  libname = libdqm_algorithms.so
  name = HLT_Histogram_Not_Empty&GatherData
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# KolmogorovTest method: scale histograms first
algorithm BPhys_HistKolmogorovTest_MaxDist {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_MaxDist
  thresholds = BPhys_HistKolmogorovTest_MaxDist_Threshold
  MinStat = -1
  #reference = stream=physics_Muons:CentrallyManagedReferences_Muons;CentrallyManagedReferences 
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# KolmogorovTest method: assume both histograms are scaled
algorithm BPhys_HistKolmogorovTest_Prob {
  libname = libdqm_algorithms.so
  name = KolmogorovTest_Prob
  thresholds = BPhys_HistKolmogorovTest_Prob_Threshold
  MinStat = -1
  #reference = stream=physics_Muons:CentrallyManagedReferences_Muons;CentrallyManagedReferences 
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

# Check containers_size histogram - should have entries with non-zero container size
algorithm Bphys_YMeanNonZero&BPhys_HistNotEmpty_YellowEmpty&GatherData {
  libname = libdqm_algorithms.so
  name = Bphys_YMeanNonZero&BPhys_HistNotEmpty_YellowEmpty&GatherData
  Bins_GreaterThan_Threshold|BinThreshold = 0
  Bins_GreaterThan_Threshold|thresholds = BPhys_HistNotEmpty_YellowEmpty_Threshold
  CheckHisto_Mean|thresholds = Bphys_YMeanNonZero_Threshold
  #MinStat = 10
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

###############
# Thresholds
###############

thresholds BPhys_HistNotEmpty_YellowEmpty_Threshold {
  limits NBins {
    error = -0.5
    warning = 0.5
  }
}

thresholds BPhys_HistKolmogorovTest_MaxDist_Threshold {
  limits MaxDist {
    warning = 0.2
    error = 0.5
  }
}

thresholds BPhys_HistKolmogorovTest_Prob_Threshold {
  limits P {
    warning = 0.6
    error = 0.3
  }
}

thresholds Bphys_YMeanNonZero_Threshold {
  limits XMean { # dummy thresholds which never give red flags
    warning = 1000 
    error = 1001
  }
  limits YMean {
    warning = 0.000001
    error = -1
  }
}
