# **********************************************************************
# $Id: heavyions_run.config 512770 2012-08-07 19:28:13Z vogel $
# **********************************************************************

###########################################################
# MuonPhysics
###########################################################
 
#############
# Output
#############

output top_level {
  algorithm = WorstCaseSummary  
    
  output MuonPhysics {
    output LowPt {
      output Efficiencies {
	output MuonReconstruction {
	  output Staco {
	  }
	  output Muid {
	  }
	}
	output Trigger {
	}
      }
      output JpsimumuMass {
	output Barrel {
	  output Staco {
	  }
	  output Muid {
	  }
	}
	output Barrel_EndcapA {
	  output Staco {
	  }
	  output Muid {
	  }
	}
	output Barrel_EndcapC {
	  output Staco {
	  }
	  output Muid {
	  }
	}
	output EndcapA {
	  output Staco {
	  }
	  output Muid {
	  }
	}
	output EndcapC {
	  output Staco {
	  }
	  output Muid {
	  }
	}
	output Global {	  
	  output Staco {
	  }
	  output Muid {
	  }
	}
      }
      output DimuonAnalysis {	
	  output Staco {
	  }
	  output Muid {
	  }
      }
    }
    output HighPt {
      output Efficiencies {
	output MuonReconstruction {
	}
	output Trigger {
	}
      }
      output ZmumuMass {
	  output Staco {
	  }
	  output Muid {
	  }
      }
      output DimuonAnalysis {
	  output Staco {
	  }
	  output Muid {
	  }
      }
    }
  }
  
}

#######################
# Histogram Assessments
#######################

dir Muon {
         
  dir MuonPhysicsMonitoring {
    algorithm = MuonPhysics_Histogram_Not_Empty
    
    dir Jpsimumu {

      dir Efficiencies {
	dir MuonReconstruction {
	  dir StacoMuonCollection {
	    output = MuonPhysics/LowPt/Efficiencies/MuonReconstruction/Staco
	    
	    hist m_TagAndProbe_Efficiency_Eta {
	    }
	    hist m_TagAndProbe_Efficiency_Phi {
	    }
	    hist m_TagAndProbe_Efficiency_Pt {
	    }
	  } ## closing StacoMuonCollection
	  dir MuidMuonCollection {
	    output = MuonPhysics/LowPt/Efficiencies/MuonReconstruction/Muid
	    
	    hist m_TagAndProbe_Efficiency_Eta {
	    }
	    hist m_TagAndProbe_Efficiency_Phi {
	    }
	    hist m_TagAndProbe_Efficiency_Pt {
	    }
	  } ## closing MuidMuonCollection
	} ## closing MuonReconstruction
      } ## closing Efficiencies
      
      dir Overview {
	dir NoTrigger {
	  dir StacoMuonCollection {
	     hist m_Jpsi_Mass_BB {	   
	       output = MuonPhysics/LowPt/JpsimumuMass/Barrel/Staco
	     }
	     hist m_Jpsi_Mass_EEA {
	       output = MuonPhysics/LowPt/JpsimumuMass/EndcapA/Staco
	     }
	     hist m_Jpsi_Mass_EEC {
	       output = MuonPhysics/LowPt/JpsimumuMass/EndcapC/Staco
	     }
	     hist m_Jpsi_Mass_BEA {
	       output = MuonPhysics/LowPt/JpsimumuMass/Barrel_EndcapA/Staco
	     }
	     hist m_Jpsi_Mass_BEC {
	       output = MuonPhysics/LowPt/JpsimumuMass/Barrel_EndcapC/Staco
	     }
	     hist m_Jpsi_Mass {
	       output = MuonPhysics/LowPt/JpsimumuMass/Global/Staco
	     }
	  
	     hist m_Dimuon_Mass {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Staco
	     }
	     hist m_Jpsi_Propertime {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Staco
	     }
 	     hist m_Cut_Flow {
 	       output = MuonPhysics/LowPt/DimuonAnalysis/Staco
 	     }
	     hist m_Dimuon_VertexChi2 {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Staco
	     }
	     hist m_Dimuon_PtMax_vs_PtMin {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Staco
	     }	     
	   } ## closing StacoMuonCollection

	   dir MuidMuonCollection {
	     hist m_Jpsi_Mass_BB {	   
	       output = MuonPhysics/LowPt/JpsimumuMass/Barrel/Muid
	     }
	     hist m_Jpsi_Mass_EEA {
	       output = MuonPhysics/LowPt/JpsimumuMass/EndcapA/Muid
	     }
	     hist m_Jpsi_Mass_EEC {
	       output = MuonPhysics/LowPt/JpsimumuMass/EndcapC/Muid
	     }
	     hist m_Jpsi_Mass_BEA {
	       output = MuonPhysics/LowPt/JpsimumuMass/Barrel_EndcapA/Muid
	     }
	     hist m_Jpsi_Mass_BEC {
	       output = MuonPhysics/LowPt/JpsimumuMass/Barrel_EndcapC/Muid
	     }
	     hist m_Jpsi_Mass {
	       output = MuonPhysics/LowPt/JpsimumuMass/Global/Muid
	     }
	  
	     hist m_Dimuon_Mass {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Muid
	     }
	     hist m_Jpsi_Propertime {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Muid
	     }
 	     hist m_Cut_Flow {
 	       output = MuonPhysics/LowPt/DimuonAnalysis/Muid
 	     }
	     hist m_Dimuon_VertexChi2 {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Muid
	     }
	     hist m_Dimuon_PtMax_vs_PtMin {
	       output = MuonPhysics/LowPt/DimuonAnalysis/Muid
	     }	     
	   } ## closing MuidMuonCollection

	} ## closing NoTrigger

      } ## closing Overview

    } ## closing Jpsimumu

    ##############################################################

    dir Zmumu {

      dir Efficiencies {
	dir MuonReconstruction {
	  dir StacoMuonCollection {
	    output = MuonPhysics/HighPt/Efficiencies/MuonReconstruction
	    
	    hist m_TagAndProbe_Efficiency_Eta {
	    }
	    hist m_TagAndProbe_Efficiency_Phi {
	    }
	    hist m_TagAndProbe_Efficiency_Pt {
	    }
	  } ## closing StacoMuonCollection
	} ## closing MuonReconstruction
      } ## closing Efficiencies

      dir Overview {
	dir NoTrigger {
	  dir StacoMuonCollection {

	    hist m_Reco_ZMass {
	      output = MuonPhysics/HighPt/ZmumuMass/Staco
	    }	  
	    hist m_Reco_DiMuonMass {
	      output = MuonPhysics/HighPt/DimuonAnalysis/Staco
	    }
	    hist m_Cut_Flow {
	      output = MuonPhysics/HighPt/DimuonAnalysis/Staco
	    }
	    hist m_Reco_DeltaPhi {
	      output = MuonPhysics/HighPt/DimuonAnalysis/Staco
	    }

	  } ## closing StacoMuonCollection

	  dir MuidMuonCollection {

	    hist m_Reco_ZMass {
	      output = MuonPhysics/HighPt/ZmumuMass/Muid
	    }	  
	    hist m_Reco_DiMuonMass {
	      output = MuonPhysics/HighPt/DimuonAnalysis/Muid
	    }
	    hist m_Cut_Flow {
	      output = MuonPhysics/HighPt/DimuonAnalysis/Muid
	    }
	    hist m_Reco_DeltaPhi {
	      output = MuonPhysics/HighPt/DimuonAnalysis/Muid
	    }

	  } ## closing MuidMuonCollection
	
	} ## closing NoTrigger

      } ## closing Overview

    } ## closing Zmumu

  } ## closing MuonPhysicsMonitoring
	    
}

#############
# Algorithms
#############

compositeAlgorithm MuonPhysics_Histogram_Not_Empty&GatherData {
  subalgs = GatherData,Histogram_Not_Empty
  libnames = libdqm_algorithms.so
}
algorithm MuonPhysics_Histogram_Not_Empty&GatherData {
  name = MuonPhysics_Histogram_Not_Empty&GatherData
}
algorithm MuonPhysics_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
}

#############
# Thresholds
#############
  
