
table.toptableLinks { display:none; }

.TabView, .dontPrint { display:none; }

table.mytable {  
  table-layout: fixed;
  margin: 0em 0em 0em 0;
  margin-left: 4px;
  border: 0px white solid;
  padding: 0px; 
  background: white;
  border-collapse: collapse;
}

table.mytable th { text-align: left; }

table.bottomtable
{
  position: relative;
  width: 100%;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  margin: 0 0 0 0;
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 20px;
  color: #000000;
  background-repeat: no-repeat;
  font-size: 85%;
}
