# **********************************************************************
# $Id: collisions_minutes10.config 330123 2010-11-02 15:02:57Z ponyisi $
# **********************************************************************

############################################################
# TileCal
############################################################

#######################
# References
#######################

#############
# Output
#############

#######################
# Histogram Assessments
#######################

#############
# Algorithms
#############

#############
# Thresholds
#############
