html,body {
border-collapse:collapse;
padding:0px;
margin:0px;
text-decoration:none;
font-family:"Arial";
font-size:15px;
height:100%;
}

a {
text-decoration:none;
}

/*
input[type='checkbox'] {
vertical-align:middle-top;
}
*/

td, pre {
padding:0px;
border-collapse:collapse;
}

div {
margin:0px;
font-size:10px;
}

input,select {
border-collapse:collapse;
text-align:center;
padding:0px;
margin:0px;
font-size:10px;
}

select[name="DET"] { border:0px; }
input[name="deta"] { text-align:left; }
input[name="dphi"] { text-align:left; }
input[name="sql_query"] { 
text-align:left; 
width:100%;
}

table {
border-collapse:collapse;
text-align:center;
padding:0px;
font-size:10px;
}

table.list {
font-family:"Arial";
padding:1px;
background: #4F81BD;
}

table.list td {
padding:1px;
border: 1px solid white;
}

table.list pre { 
margin:0px;
}

tr.out0 { background: #E9EDF4;  font-size: 90%; }
tr.out1 { background: #D0D8E8;  font-size: 90%; }

.wrapper {
min-height: 100%;
height: 100%;
height: auto !important;
margin: 0px 0px -30px 5px;
}

.footer, .push {
height: 30px;
margin: auto 5px;
}
