cmake_minimum_required(VERSION 3.1.0)

project(hellogeo)

# Find includes in corresponding build directories
set(CMAKE_INCLUDE_CURRENT_DIR ON)

# Instruct CMake to run moc automatically when needed
set(CMAKE_AUTOMOC ON)


# Find the Qt5 libraries, used e.g. to interface with the SQlite DB
find_package(Qt5 COMPONENTS Core Sql Widgets REQUIRED)
# Instruct CMake to run Qt5 moc automatically when needed
set(CMAKE_AUTOMOC ON)

# The project needs VP1Light to build against:
find_package( VP1Light REQUIRED )


# Populate a CMake variable with the sources
set(SRCS
    main.cpp
)

# Tell CMake to create the helloworld executable
add_executable( hellogeo ${SRCS} )

# Linknall needed libraries
target_link_libraries( hellogeo Qt5::Core Qt5::Sql VP1Light::GeoModelDBManager VP1Light::GeoRead VP1Light::GeoModelKernel VP1Light::GeoModelUtilities ) 

# Add the BUILDVP1Light definition to switch off the compilation of any part of the code which is Athena-specific
target_compile_definitions( hellogeo PUBLIC BUILDVP1LIGHT )

