html,body {
    border-collapse:collapse;
    padding:0px;
    margin:0px;
    text-decoration:none;
    font-family:"Calibri";
    font-size:15px;
    height:100%;
}

.form label {
  margin-left: 10px;
  color: #666;
}

input, textarea {
  padding: 9px;
  border: solid 1px #AAA;
  outline: 0;
  width: 100px;
  background: #fff;
}

textarea {
  width: 600px;
  max-width: 600px;
  height: 100px;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
   border-color: #222;
}


a {
    text-decoration:none;
}

td, pre {
    padding:0px;
    border-collapse:collapse;
}

div {
    margin:0px;
    font-size:10px;
}

input {
    border-collapse:collapse;
    padding:0px;
    margin:0px;
    font-size:10px;
}

select {
    border-collapse:collapse;
    text-align:center;
    padding:0px;
    margin:0px;
    font-size:10px;
    width:5
}


table {
    border-collapse:collapse;
    text-align:center;
    padding:0px;
    font-size:13px;
}

table.list {
    font-family:"Calibri";
    padding:1px;
    background: #FF8000;
    font-weight: bold;
    font-size: 12px;
    table-layout: fixed;
}

table.list td {
    padding:1px;
    border: 1px solid white;
}

td.EMB { color: #AEB404 ; font-weight: bold;}
td.EMEC { color: #5FB404 ; font-weight: bold; }
td.EMBPS { color: #01DFD7 ; font-weight: bold;  font-size: 100%;}

td.HEC { color: #FF00FF ;font-weight: bold;}
td.FCAL {color: #9A2EFE ;font-weight: bold;}

td.A { color: #DF01D7 ; font-weight: bold;}
td.C { color: #088A85 ; font-weight: bold;}

td.Y { color: #FF0000 ; font-weight: bold;}
td.N { color: #0000FF ; font-weight: bold;}

table.list pre { 
    margin:0px;
}

body.thick {font-weight:bold;}

td.mag {  -webkit-transform: rotate(90deg); 
	  -moz-transform: rotate(90deg);}
td.vert {writing-mode: tb-rl; }

tr.g0 { background: #F6E3CE;  font-size: 90%; font-weight: normal;}
tr.g1 { background: #F7BE81;  font-size: 90%; font-weight: normal;}
tr.g2 { background: #FFFF00;  font-size: 90%; font-weight: normal;}
tr.f1 { background: #FF8000;  font-size: 50%; font-weight: normal;}


.wrapper {
    min-height: 100%;
    height: 100%;
    height: auto !important;
    margin: 0px 0px -30px 5px;
}

.footer, .push {
    height: 30px;
    margin: auto 5px;
}
